[2018-03-22 02:34] dims opened #6 "make vet fmt is broken"
[code]

[2018-03-22 02:35] dims opened #7 "Replace git.openstack.org/openstack/openstack-cloud-controller-manager with k8s.io/cloud-provider-openstack"
We need to find and replace all instances of the earlier namespace we used to use with the new one.

[2018-03-22 02:36] dims commented on #7
related PR : https://github.com/kubernetes/k8s.io/pull/108

[2018-03-22 10:56] dims opened #13 "Use best practices to run external CCM"
_From @dims on March 21, 2018 18:57_

This list is from @andrewsykim

* use `hostnetwork: true` so you don't depend on CNI to initialize nodes
* use `dnsPolicy: Default` since kube-dns likely doesn't tolerate the `node.cloudprovider.kubernetes.io/uninitialized` taint
* tolerate `node-role.kubernetes.io/master` since you probably want it running on master nodes
* use --leader-elect if you want HA

[2018-03-22 10:57] dims opened #14 "Use best practices to run external CCM"
_From @dims on March 21, 2018 18:57_

This list is from @andrewsykim

* use `hostnetwork: true` so you don't depend on CNI to initialize nodes
* use `dnsPolicy: Default` since kube-dns likely doesn't tolerate the `node.cloudprovider.kubernetes.io/uninitialized` taint
* tolerate `node-role.kubernetes.io/master` since you probably want it running on master nodes
* use --leader-elect if you want HA

[2018-03-22 10:57] #14 closed

[2018-03-22 10:58] dims opened #15 "Document how to setup RBAC with Keystone Authentication"
_From @dims on March 16, 2018 21:50_

See note from Saverio on his blog post : https://cloudblog.switch.ch/2018/02/02/openstack-keystone-authentication-for-your-kubernetes-cluster/
[code]

_Copied from original issue: dims/openstack-cloud-controller-manager#87_

[2018-03-22 10:58] dims commented on #15
cc @zioproto

[2018-03-22 10:58] dims commented on #15
cc @Fedosin

[2018-03-22 10:58] dims commented on #15
_From @zioproto on March 19, 2018 9:17_

How can I assign this to me ? I will propose a PR for the documentation.

[2018-03-22 10:58] dims opened #16 "Unable to mount Openstack Cinder Volume in a pod"
_From @walteraa on March 2, 2018 20:56_

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using Openstack cloud provider, I am not able to mount my Cinder volumes in pods. I am getting this error in my pod events:
[code]

My `openstack-cloud-provider` is showing the following error:

[code]

Is it important to know that, before this error, I was getting another error:
[c

[2018-03-22 10:59] dims opened #17 "Test internal and external LBaaS scenarios with Octavia"
_From @dims on February 7, 2018 18:59_

Test internal and external LBaaS scenarios with Octavia

_Copied from original issue: dims/openstack-cloud-controller-manager#71_

[2018-03-22 10:59] dims opened #18 "Add unit tests for authentication and authorization hooks"
_From @dims on January 31, 2018 3:40_

PoC is sorely lacking tests

_Copied from original issue: dims/openstack-cloud-controller-manager#53_

[2018-03-22 10:59] dims commented on #18
cc @openstacker

[2018-03-22 10:59] dims commented on #18
cc @bugosiphionah

[2018-03-22 10:59] dims commented on #18
_From @bugosiphionah on February 8, 2018 14:45_

Thanks and noted @dims

[2018-03-22 10:59] dims opened #19 "Use same configuration loading as cloud provider for provisioner and flex volume driver"
_From @dims on January 29, 2018 23:47_

Each of the executables have command lines and different ways to load cloud config etc. Let's use the one from cloud provider and standardize on it.

_Copied from original issue: dims/openstack-cloud-controller-manager#47_

[2018-03-22 11:00] dims opened #20 "Document how to run openstack-cloud-controller-manager with hack/local-up-cluster.sh"
_From @dims on January 19, 2018 2:21_

There is support for `EXTERNAL_CLOUD_PROVIDER=true` when you also add `CLOUD_PROVIDER` and `CLOUD_CONFIG` for local-up-cluster.sh, we should document how one can easily build a test/dev environment using local-up-cluster.sh

_Copied from original issue: dims/openstack-cloud-controller-manager#34_

[2018-03-22 11:00] dims commented on #20
please see:
- https://github.com/kubernetes/kubernetes/pull/58549
- https://github.com/kubernetes/kubernetes/pull/58543

[2018-03-22 11:00] dims commented on #20
oh, the local-up-cluster should be running inside a VM started by OpenStack (to be able to pick up the metadata from either the config drive or the metadata service)

[2018-03-22 11:00] dims commented on #20
see https://github.com/kubernetes/kubernetes/pull/59280

[2018-03-22 11:00] dims commented on #20
with latest k/k master, set the following env vars and then run `sudo -E PATH=$PATH ./hack/local-up-cluster.sh` (PATH should have etcd binaries)

[code]

[2018-03-22 11:00] dims commented on #20
@hogepodge can you please try this out?

[2018-03-22 11:00] dims opened #21 "Keystone auth token used for authentication openstack cloudprovider resources"
_From @dims on January 16, 2018 16:30_

see https://github.com/kubernetes/kubernetes/issues/14809

_Copied from original issue: dims/openstack-cloud-controller-manager#27_

[2018-03-22 11:01] dims opened #22 "Run conformance test suite with openstack-cloud-controller-manager enabled"
_From @dims on January 16, 2018 16:27_

See if we break something?

_Copied from original issue: dims/openstack-cloud-controller-manager#26_

[2018-03-22 11:01] dims commented on #22
first step is to enhance kubetest to be able to run local-up-cluster.sh. of course we should be able to pass the env vars needed to setup the openstack cloud provider too.

Here's the PR for that - https://github.com/kubernetes/test-infra/pull/6759

Found one problem (without switching on openstack cloud provider) - https://github.com/kubernetes/kubernetes/pull/59677

[2018-03-22 11:01] dims opened #23 "Can we do new scenarios for volumes with Bare Metal?"
_From @dims on January 16, 2018 16:25_

 based on Flex Volume PoC with cinder : https://gist.github.com/dims/ad5afbd657014b0bba17b40228cba32e

_Copied from original issue: dims/openstack-cloud-controller-manager#25_

[2018-03-22 11:01] dims opened #24 "use secrets to specify the openstack auth info"
_From @dims on January 15, 2018 20:13_

will need this fixed first: https://github.com/dims/openstack-cloud-controller-manager/issues/8

_Copied from original issue: dims/openstack-cloud-controller-manager#13_

[2018-03-22 11:01] dims commented on #24
https://github.com/kubernetes/kubernetes/pull/61295

[2018-03-22 11:01] dims opened #25 "RBAC rules needed for running as pod/daemonset"
_From @dims on January 15, 2018 20:0_

hack we can use for now is ... we need a better way

[code]

_Copied from original issue: dims/openstack-cloud-controller-manager#12_

[2018-03-22 11:01] dims commented on #25
_From @arthur0 on January 31, 2018 13:31_

I would like work on it.

[2018-03-22 11:01] dims commented on #25
The following logs are from `openstack-cloud-controller-manager`

[code]

[2018-03-22 11:01] dims commented on #25
getting the ball rolling here - https://github.com/kubernetes/kubernetes/pull/59945

[2018-03-23 05:30] #6 closed

[2018-03-23 11:55] celebdor commented on #24
Why should it support the auth info in env vars? Could we not just have the K8s secret mounted into a containerized openstack cloud provider?

[2018-03-23 22:05] zetaab opened #40 "consider using non-root users in container images"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

 /kind feature

**What happened**: All this repository containers https://github.com/kubernetes/cloud-provider-openstack/blob/master/cluster/images/ are using root user in docker images.

**What you expected to happen**: I except that we should not use root user if not really needed.

**How to reproduce it (as minimally and precisely as possib

[2018-03-26 13:05] dims commented on #24
@celebdor if the binary is running in a pod or daemonset, we can just inject secrets (or configmap) as env vars for the binary to pick up.

[2018-03-26 13:06] dims opened #44 "Barbican as a Kubernetes KMS provider"
Similar to https://github.com/Azure/kubernetes-kms

background research:
- https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/
- https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+++EncryptionConfig+
- https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+++experimental-encryption-provider-config

[2018-03-26 13:07] dims commented on #44
Will need gophercloud to support Barbican API first?

[2018-03-26 13:09] dims opened #45 "Kubernetes RBAC <-> OpenStack Keystone - sync"
Can we write a controller (CRD?) to make it easier to refresh RBAC info from Keystone information?

cc @Fedosin

[2018-03-26 13:12] dims commented on #45
cc @knikolla

[2018-03-26 13:16] dims opened #46 "Cluster-autoscaler support for OpenStack cloud provider"
Track work in https://github.com/kubernetes/autoscaler/issues/734 and serve as a redirect for anyone looking for the support here in this repo

[2018-03-26 13:24] zetaab commented on #46
https://github.com/kubernetes/kops/issues/3566#issuecomment-372634804 there was some talk about autoscaling in kops. Instead of implementing this thing to kops, we could make cluster-autoscaler to all purposes and then just deploy auto-scaler pod/service to kops installed cluster.

[2018-03-26 13:24] dims opened #47 "Periodic CI job in OpenStack foundation infrastructure"
Can we test external cloud provider with kubespray in OpenStack infra?

cc @pabelanger

[2018-03-26 13:26] dims opened #48 "Enable external cloud provider in Magnum"
cc @strigazi

magnum currently uses the k/k in-tree cloud provider. we should consider adding a new CI job that uses the code from this repository

http://codesearch.openstack.org/?q=cloud-provider&i=nope&files=&repos=magnum

[2018-03-26 13:34] Fedosin commented on #45
cc @flaper87

[2018-03-26 14:04] pabelanger commented on #47
I think we can, right now the kubespray job is just running on openstack-dev/sandbox and to wrap it up and move it into openstack-zuul-jobs for projects to use.

What we'd really need is some instructions on how the cloud provider would be installed with kubespray, I don't really know how that would work.

[2018-03-26 14:18] bogdando commented on #47
https://github.com/kubernetes-incubator/kubespray/blob/c2a46e4aa30c51bea96cdf3fc780245903aaa350/docs/openstack.md is all is needed to install kubespray with openstack provider AFAIK

[2018-03-26 15:22] dklyle commented on #44
Yes, gophercloud does not have Barbican support yet. But it's on the radar. So adding it should be welcomed.

[2018-03-26 19:49] hogepodge commented on #20
Checking it out today.

[2018-03-27 00:01] dims opened #54 "Kubectl exec-based client auth provider for Keystone"
We pulled out code from main repository related to the kubectl client side plugin in this repository:
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/openstack

However the code needs to be enabled as a exec based auth provider to actually work, see:
https://github.com/kubernetes/kubernetes/pull/59495

Once that is done, we need to remove th

[2018-03-27 00:02] dims commented on #54
cc @stannum-l

[2018-03-27 04:12] #25 closed

[2018-03-27 04:17] #40 closed

[2018-03-27 12:09] lingxiankong opened #56 "Authorization failed because of int type value returned instead of bool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When using k8s-keystone-auth container for authorization, kubectl failed with the error: `Error from server (InternalError): an error on the server ("Internal Server Error: \"/api/v1/namespaces/default/pods?limit=500\": v1beta1.SubjectAccessReview: Status: v1beta1.SubjectAccessReviewStatus: Allowed: ReadBool: expect t or f

[2018-03-27 12:13] dims commented on #56
/assign @lingxiankong

[2018-03-27 23:09] dims opened #59 "Update master branch to use k/k 1.10"
we are currently vendoring k/k 1.9, we should move to 1.10

[2018-03-28 00:17] #7 closed

[2018-03-28 03:32] kiwik opened #62 "Add full example for kubernetes.io/cinder provisioner"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Add full kubernetes.io/cinder provisioner example, make it easy for beginner to understand the difference with openstack.org/standalone-cinder provisioner.

**What you expected to happen**:
Understand kubernetes.io/cinder and openstack.org/standalone-cinder scenario.

**How to reproduce it (as minimally and precisely as po

[2018-03-28 06:05] lingxiankong opened #64 "Support flexible authorization policy configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, the authorization policy configuration is not scalable, it's painful for the admin to set the correct rules. For example, it's impossible to config the rule that allow users with a specific role and in a specific project.

**What you expected to happen**:
As k8s admin, I need flexible authorization policy co

[2018-03-28 10:29] JAORMX commented on #44
@dims seems so. There isn't support there yet.

[2018-03-28 16:11] dims opened #65 "Add Helm charts for examples/manifests"
Suggestion from @kfox1111 at https://github.com/kubernetes/cloud-provider-openstack/pull/63#issuecomment-376942870

[2018-03-28 16:28] #56 closed

[2018-03-28 16:33] #62 closed

[2018-03-28 21:21] hogepodge commented on #20
I'm able to start up a localcluster on Centos with the directions provided. I don't need to use sudo since I have docker enabled for my user, and after the latest updates in place I've changed the location of the cloud provider binary. I'll write up my notes into a gist.

[2018-03-28 22:48] hogepodge commented on #20
@dims https://github.com/kubernetes/cloud-provider-openstack/pull/67

[2018-03-28 23:03] dims opened #68 "validator to check openstack connection and functionality"
Similar to https://github.com/cloudfoundry-incubator/cf-openstack-validator for Testing how CF uses OpenStack (fog based ruby code)

example output - http://paste.openstack.org/show/716654/

[2018-03-29 14:39] Fedosin commented on #18
Can we close this now?

[2018-03-29 14:43] dims commented on #18
yes thanks Mike

/close

[2018-03-29 14:43] #18 closed

[2018-03-29 14:45] Fedosin opened #70 "Migrate from glide to dep"
Now we use [Glide](https://github.com/Masterminds/glide) for dependency management, but the project is not actively developing and the authors recommend to migrate to [dep](https://github.com/Masterminds/glide#golang-dep) until it's too late.

[2018-03-30 02:42] hichtakk opened #71 "kubectl fails with openstack auth-provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubectl fails with openstack auth-provider.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run these commands bellow according to [keystone auth document](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-keystone-webhook-authenticat

[2018-03-30 02:52] animationzl opened #72 "Create cinder volume failed with default availability zone 'nova'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
create cinder volume failed against a specific cloud provider due to invalid parameters caused by incorrect availability zone, because the default value of 'nova' [1] in this repository doesn't match the real case in cloud provider.

[1] https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/volume/cinder/

[2018-03-30 16:32] AnalogJ opened #74 "workaround for "x509: failed to load system roots and no roots provided" issue on CoreOS"
/kind bug

**What happened**:
When deploying Kubernetes on CoreOS using `kubeadm` and a config file specifying `cloud-provider: openstack` the controller-manager will consistently die with the following error (from `docker logs`):

[code]

On CoreOS the `/etc/ssl/certs` files are all symlinks to `/usr/share/ca-certificates`

When the kuberenets controller container runs it seems unable to actually

[2018-03-31 12:25] #72 closed

[2018-04-01 13:44] v1k0d3n commented on #65
yes! this would be awesome to see/have.

[2018-04-01 22:25] dims commented on #71
@hichtakk can you please paste your `~/.kube/config` file?

[2018-04-01 22:41] dims commented on #71
@hichtakk : do you see something like this?

[code]

note the `config: {}` if it is missing, please add that and see if you able to get past the problem

[2018-04-02 10:25] jianglingxia opened #78 "standalone-cinder-provisioner deployment create pod status CrashLoopBackOff not running"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

 /kind bug

**What happened**:
I deploy a cluster in bare-metal enviroment,then create the deployment named standalone-cinder-provisioner,but created pod not running and status CrashLoopBackOff! is the image problem?
the image is me use :docker pull quay.io/external_storage/standalone-cinder-provisioner:latest
the deployment yaml:

apiVersio

[2018-04-02 10:27] jianglingxia commented on #78
/assign @dims
thanks

[2018-04-02 10:32] dims commented on #78
@jianglingxia need more logs, you can use docker logs to get the actual container logs

[2018-04-02 11:24] jianglingxia commented on #78
the docker log hint need the auth-url and cloud config ，but I think the sceneo no need the auth url

[2018-04-02 11:31] dims commented on #78
@jianglingxia can you please paste the full logs from the container?

[2018-04-03 01:27] #64 closed

[2018-04-03 03:10] kiwik opened #80 "Get creating vm as TargetNode, that cause TestRoutes case failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In unit test case TestRoutes, if the first vm in vm list is creating status, the vm do not allocate IP address yet, that will cause ErrNoAddressFound in following logic.

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack_routes_test.go#L50

**What you expecte

[2018-04-03 05:09] animationzl opened #81 "TestVolumes failed caused by volume status did not change to expected status after 30s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Run TestVolumes failed caused by volume status did not change to expected status after 30s, however according to the logs [1][2], we found it doesn't wait at all to check the expected volume status and execute post commands immediately rather than wait for 30s to check status. Wonder if this a test case bug.

[1] http://8

[2018-04-03 22:48] dims commented on #81
fixed!

[2018-04-03 22:48] dims commented on #81
/close

[2018-04-03 22:48] #81 closed

[2018-04-03 22:48] dims commented on #80
/close

fixed!

[2018-04-03 22:48] #80 closed

[2018-04-05 13:21] yanndegat opened #88 "external network identified as internal"
/kind feature

**What happened**:
public ipv4 node address identified as Internal

**What you expected to happen**:
public ipv4 node address identified as External

**How to reproduce it (as minimally and precisely as possible)**:
Don't name your openstack public network "public"
Create an instance with an IP on this network

[2018-04-05 13:28] yanndegat opened #89 "Filter instances ipv4/6 addresses"
/kind feature

**What happened**:
my nodes are identified either by their ipv4 addr or their ipv6, according
to the numerical order of the adresses.
Once added to the the nodeAddresses list, the type of the addr is lost.

**What you expected to happen**:
something more consistent & at least either ipv4 addrs or ipv6 addrs

**How to reproduce it (as minimally and precisely as possible)**:
setup an

[2018-04-05 13:29] yanndegat commented on #89
would be nice if we could optionally "disable ipv6 support", by filtering ipv6-like addrs before returning
nodeAddresses

[2018-04-05 18:47] dims commented on #71
/close

please re-open if the suggestion does not fix the problem

[2018-04-05 18:47] #71 closed

[2018-04-05 18:49] dims commented on #78
i think we have covered all the issues here as PR(s). please reopen if you are still having a problem.

- https://github.com/kubernetes/cloud-provider-openstack/pull/85
- https://github.com/kubernetes/cloud-provider-openstack/pull/84

thanks,
Dims

[2018-04-05 18:50] dims commented on #78
/close

[2018-04-05 18:50] #78 closed

[2018-04-05 18:53] dims commented on #88
+1 @yanndegat want to help with a PR?

[2018-04-05 18:55] dims commented on #89
good suggestion! we could easily do a config option. Are you able to help with a PR? since you already have an environment to try things out (we are on kubernetes slack #sig-openstack)

[2018-04-05 18:59] dims commented on #89
cc @zioproto

[2018-04-05 19:03] yanndegat commented on #88
ok

[2018-04-05 20:30] j-griffith opened #91 "CSI Plugin needs to check for existing volumes with same name on create"
kind bug

**What happened**:
The CSI spec states that the CreateVolume call is idempotent and should not create duplicate volumes if/when called multiple times with the same Volume Name.  The current implementation does not check for existing Volumes with the specified Name and thus allows creation of duplicate named Volumes.

**What you expected to happen**:
The CSI plugin should respond with the

[2018-04-06 03:33] hichtakk commented on #71
@dims

Thank you for replying.
In my kubeconfig, there was not `config: {}`. I might just copied from document.

[code]

After adding `config: {}`, kubectl does not occur panic.
Although, I'm now have Unauthorized error. Is there anything wrong configuration?

[code]

[2018-04-06 09:52] dims commented on #71
next problem, i see this in your debug logs above

[code]

[2018-04-06 11:52] flaper87 opened #95 "Allow for the CSI cinder driver to interact with nodes not managed by OpenStack"
/kind feature

The CSI driver requires the Kubernetes cluster to be running in an OpenStack cloud. This expectation leaves out scenarios, where Kubernetes is not running as part of a tenant in an OpenStack managed VM.

It should be possible to refactor the plugin in a way that we can provide support for both, instance and BM, volume attachments either as part of an OpenStack tenant or not.

The go

[2018-04-06 11:52] flaper87 commented on #95
I'm already working on this so, this can be assigned to me.

[2018-04-06 11:53] flaper87 commented on #95
/assign flaper87

[2018-04-06 16:53] j-griffith commented on #95
@flaper87 Glad to see you're looking at this!  I've played with it a bit (and I think a few others have as well).  Moving to the NodePublishVolume works well in this scneario, but there's an outstanding question of dealing with multiple data transport models.  What I mean here is that we have multiple possible transports: RBD, iSCSI, FC, ISER etc and some unique models within each of those.

It wa

[2018-04-08 00:05] dims commented on #59
Done.

[2018-04-08 00:05] #59 closed

[2018-04-08 01:53] FengyunPan2 commented on #88
+1

[2018-04-08 09:22] jianglingxia opened #100 "the way cinder-endpoint to deploy provisioner that the image standalone-cinder-provisioner not support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I use the cinder-endpoint way to deploy the provisioner,but found the image that quay.io/external_storage/standalone-cinder-provisioner:latest not updated and not supproted! then I plan to make a image use the master branch code,and clone the cloud-provider-openstack code then command the make,but found need glide,then ins

[2018-04-08 09:25] jianglingxia commented on #100
/assign @dims
thanks very much

[2018-04-08 09:26] jianglingxia commented on #100
/cc @j-griffith

[2018-04-08 10:02] kiwik opened #101 "Support to launch specified binary in local-up-cluster.sh, like: cinder-provisioner and so on"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
We have several binaries in repo:
- openstack-cloud-controller-manager
- cinder-provisioner
- cinder-csi-plugin
- cinder-flex-volume-driver
- k8s-keystone-auth

Now local-up-cluster.sh only support to launch and config **openstack-cloud-controller-manager**, is there any plan to support launching all of these above bin

[2018-04-08 22:06] dims opened #103 "Create a periodic job for e2e conformance test and upload results to test grid"
Now that we have the e2e conformance test run against PR(s), we need a CI job that runs the same thing periodically (6 hours? 12 hours?) Here are some notes:

- We need a periodic job for Kubernetes/Kubernetes master against cloud-provider-openstack master (so we know if we break something)
- We need a periodic job for Kubernetes/Kubernetes release-1.10 branch against cloud-provider-openstack mast

[2018-04-08 22:06] dims commented on #103
/cc @animationzl @liu-sheng @kiwik

[2018-04-09 01:43] kiwik commented on #103
@dims please add privilege for @animationzl and I, we can not access to the google doc.
OpenLab have periodic pipeline, can run the job, we should consider the resource usage for all of the periodic jobs, beside e2e conformance job, there are some other sdk periodic jobs in OpenLab.

[2018-04-09 02:13] dims opened #105 "Need CI jobs to build and push docker images to a central repository"
How about this? https://hub.docker.com/u/k8scloudprovider/dashboard/

[2018-04-09 02:35] kiwik commented on #103
Work item:
- Update periodic pipeline setting to run per 12 hours in OpenLab
- Add a new job to run Kubernetes/Kubernetes latest release (1.10) against cloud-provider-openstack master in OpenLab (current e2e conformance job have supported run k8s master against cloud-provider-openstack master)
- Update .zuul.yaml to add above two jobs into periodic pipeline in this repo
- Support to upload test re

[2018-04-09 02:57] dixudx commented on #105
@dims That url returns 404.

[2018-04-09 09:04] jianglingxia commented on #100
[root@controller:/paasdata/cloud-provider-openstack-master]$ glide --version
glide version v0.13.1
[root@controller:/paasdata/cloud-provider-openstack-master]$ go version
go version go1.9.2 linux/amd64
[root@controller:/paasdata/cloud-provider-openstack-master]$ ls
bindep.txt  cmd      devstack  examples    glide.yaml  LICENSE   manifests  pkg        staging  vendor
cluster     contrib  docs

[2018-04-09 10:05] dims commented on #100
install mercurial using apt : `apt install mercurial` and then re-run make

[2018-04-09 10:05] dims commented on #105
/hold

[2018-04-09 11:00] dims commented on #89
/reopen

[2018-04-09 11:00] dims commented on #89
/assign @dims

[2018-04-09 11:00] dims commented on #89
/reopen

[2018-04-09 11:07] zioproto commented on #89
hello @yanndegat
with the support for networking opts you disabled the IPv6 addresses in Kubernetes and this solves your problem. But, even reading https://github.com/kubernetes/kubernetes/issues/62163 , I did not understand what is the original problem.

Do you have a situation where Openstack assigns to a VM both an IPv4 and an IPv6 address, but the IPv6 address is not actually configured on the

[2018-04-09 11:28] kartoch commented on #89
hello @zioproto. At the present time, this is more about stability in production (avoid IPv6) and openstack IPv6 forced configuration.

[2018-04-09 11:44] dims commented on #101
i am thinking we should have like a pre/post hooks in local-up-cluster.sh as local-up-cluster is in main k/k and should not know about binaries that are not in the main repo. so basically we can have scripts in our repo and need to set something in local-up-cluster.sh to call them

[2018-04-09 11:45] yanndegat commented on #89
hi @zioproto

there's an issue when an openstack network supports both ipv6 and ipv4
the addresses list returned by the Openstack API doesn't have a "type" attribute to distinguished
an ipv4 from an ipv6
and furthermore, the kubernetes lib doens't have this attribute either

so that you can end in a situation where your nodes are identified by the "first IP" of addresses
and as the order is alphan

[2018-04-09 12:42] kiwik commented on #103
Hi @dims , could you help to finish this work item?

- Support to upload test result to GCS, and report result in kubernetes test-grid

I have prepared a post hook in https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/post.yaml#L10-L12 , but I can not understand well how to set config in kubernetes side.

[2018-04-09 13:34] dims commented on #103
Ack. the python script itself is here https://github.com/kubernetes/test-infra/blob/master/testgrid/conformance/upload_e2e.py

Though we have to figure out if there is a community GCS bucket we could use

[2018-04-09 17:37] dims commented on #105
duh! dunno why i added a hold to an issue

[2018-04-09 17:38] #91 closed

[2018-04-09 17:38] dims commented on #105
/hold cancel

[2018-04-09 17:39] dims commented on #100
please see PR - https://github.com/kubernetes/cloud-provider-openstack/pull/104

/close

[2018-04-09 17:39] #100 closed

[2018-04-09 17:40] dims commented on #89
i'd buy the argument by @yanndegat let's close this out

/close

[2018-04-09 17:40] #89 closed

[2018-04-09 17:40] dims commented on #88
/close

[2018-04-09 17:40] #88 closed

[2018-04-09 17:45] dims commented on #16
need to set the `--cloud-config` to a specific/exact path `/etc/kubernetes/cloud-config`

[2018-04-09 17:46] dims commented on #16
please see e2e test suite playbook : https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L45

[2018-04-09 17:47] dims commented on #20
There's a bunch more stuff we need to line up for this to work - https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L75

[2018-04-09 17:49] dims commented on #15
We need to test/try what we have in https://github.com/kubernetes/cloud-provider-openstack/tree/master/cluster/addons/rbac

[2018-04-09 17:50] dims commented on #16
/close

[2018-04-09 17:50] #16 closed

[2018-04-09 17:51] dims commented on #19
/close

[2018-04-09 17:51] #19 closed

[2018-04-09 17:52] dims commented on #23
the cinder provisioner can do rbd or iscsi with bare metal

/close

[2018-04-09 17:52] #23 closed

[2018-04-09 17:53] dims commented on #22
Done!

/close

[2018-04-09 17:53] #22 closed

[2018-04-10 00:10] #70 closed

[2018-04-10 08:49] flaper87 commented on #95
I think this is what would work best, for now. Reserve the node in the `ControllerPublishVolume` call and the let `NodePublishVolume` do the final attach using the brick extension in cinderclient. One problem is that the extension expects the volume to be available and I was hoping to be able to have the Controller reserve it.

Using `gophercloud` we can go as far as initializing the connection (I

[2018-04-10 08:55] flaper87 opened #108 "Document what languages plugins can be written in"
This issue is to discuss (and then document) our willingness to host plugins that are written in other programming languages.

There are cases when using a different programming language would make the implementation cleaner, simple and more stable. An example of this can be found in the following discussion related to the CSI plugin: https://github.com/kubernetes/cloud-provider-openstack/issues/9

[2018-04-10 08:56] flaper87 commented on #108
/kind feature
/assign @flaper87

[2018-04-10 11:36] animationzl opened #110 "Add pull policy for driver-registrar image to support local image built from latest source code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, during the OpenLab CI job the driver-registrar image is always pulled from remote(docker hub) which may be obsolete against the source code where it is built from, so this issue wants to add a pull policy to support local image built from latest source code.

**What you expected to happen**:
We can keep usi

[2018-04-10 11:39] gonzolino commented on #68
@dims do you already have a plan on how to implement this validator?
We are currently using cf-openstack-validator to test our cloud and would love a similar solution for k8s.

Do you envision a set of tests that call gophercloud functions in the same way as the openstack cloud-provider does? If yes, is there already a list what exactly should be tested? Or do we need to compile such a list based

[2018-04-10 11:57] dims commented on #68
@gonzolino, we could be calling gophercloud directly and/or via openstack cloud-provider, i am open to mix and match. yes, we have compile a list of things we look for in an openstack cloud.

One slightly related idea I was particularly interested in helping new end users figure out what they will have to specify in their cloud configuration file as i have scratched my head many a time on what exa

[2018-04-10 14:01] j-griffith commented on #95
@flaper87 Gophercloud will in fact let us do the whole process without too much problem; it works well and we have quite a bit of work in place for most of this (at least iSCSI and FC and I'm sure RBD as well).  The Brick extension is handy for the local-attach because it just "does" everything.

I'm curious about why we'd need brick code in here to use that though?  Couldn't we just run cindercli

[2018-04-10 14:06] j-griffith commented on #108
@flaper87 My only concern here is mixing code and therefore models could be a bit confusing.  I added some comments here #95

It seems to me that if we want to use the brick extension we could just use a client container with an attach entrypoint and call the attach from the node server.  At least for now this seems like the fastest/easiest path to implementing this.  Even if it's a temporary stop

[2018-04-10 14:43] dims commented on #47
@bogdando @pabelanger i've added a request in kubespray as well - https://github.com/kubernetes-incubator/kubespray/issues/2642

[2018-04-10 14:44] dims commented on #48
here's a bug report in magnum - https://bugs.launchpad.net/magnum/+bug/1762743

[2018-04-10 14:56] dims commented on #54
See more info in https://kubernetes.io/docs/admin/authentication/#client-go-credential-plugins

[2018-04-10 15:43] flaper87 commented on #95
Yes! this is what I meant with calling `cinderclient`, probably used the wrong words to express my thoughts.

I'll start pushing what I have, which is a very WIP implementation but at least we'll be able to iterate and discuss the implementation over a PR.

Thanks for the feedback

[2018-04-10 20:27] #110 closed

[2018-04-11 00:14] #103 closed

[2018-04-11 22:56] lingxiankong opened #114 "OpenStack Octavia based ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
It could be a great addon to have an ingress controller option implemented based on Octavia service for the OpenStack cloud provider, especially those who already deployed Octavia, just like how GKE does [here](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer). FYI, as [Octavia official doc](http

[2018-04-11 22:57] dims commented on #114
/assign @lingxiankong

[2018-04-11 22:58] lingxiankong commented on #114
I am actually working on this feature implementation. Currently, there are some features missing in gophercloud, I'm also working on that.

[2018-04-12 09:35] jianglingxia opened #115 "why the os-initialize_connection Initiator not same VM caused the volume always attaching"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the standalone cinder provisioner created the pv and volume,but the volume always attaching,I found the cinder api.log is the os-initialize_connection Initiator not same VM! the place I not corrected ?thanks!

[root@localhost:/etc/iscsi]$ kubectl get po
NAME                                             READY     STATUS    RESTARTS

[2018-04-12 09:36] jianglingxia commented on #115
/assign @dims
thanks very much

[2018-04-12 09:37] jianglingxia commented on #115
/cc @FengyunPan2

[2018-04-12 10:28] jianglingxia commented on #115
I review the code the iqn is the same code
// ConnectCinderVolume retrieves connection information for a cinder volume.
// Depending on the type of volume, cinder may perform setup on a storage server
// such as mapping a LUN to a particular ISCSI initiator.
func ConnectCinderVolume(vs *gophercloud.ServiceClient, volumeID string) (VolumeConnection, error) {
	opt := volumeactions.InitializeConnecti

[2018-04-12 12:04] zetaab commented on #17
@lingxiankong if you have openstack with octavia, could you test this as well?

[2018-04-12 13:07] lingxiankong commented on #17
@zetaab I've already tested that before. The only bug I found has been fixed in v1.10.0

[2018-04-12 13:50] zetaab commented on #17
So then I think this can be closed, if we found bugs in future -> new issue

[2018-04-12 13:50] zetaab commented on #17
/close

[2018-04-12 13:50] #17 closed

[2018-04-13 01:31] jianglingxia commented on #115
![image](https://user-images.githubusercontent.com/25783555/38712298-48305926-3efd-11e8-8766-3b76381cbc89.png)
this is my vm iqn ，really thanks @FengyunPan2  wait for your reply!

[2018-04-13 07:50] jianglingxia commented on #115
I found that I create the storageclass not set the type is iscsi or rbd ，so default use the iscsi,but I create the secret is ceph-rbd keyring,then I re-do it follow two way:
1、use rbd
[root@localhost:/home/ubuntu/yaml-baremetal]$ cat sc-rbd.yaml
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: standard
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "true"

[2018-04-13 08:04] edisonxiang commented on #115
Hi @jianglingxia, could you please paste your pod.yaml?
The initiatorName is usually different in the host vm and the containers in the host vm.

[2018-04-13 08:11] jianglingxia commented on #115
yeah,thanks ;but I have occur two problem:
1)I create the storageclass not set the type,then provisioner can create pv and volume;but the volume not attached the vm caused the pod not running;this way default use the iscsi?but I use the ceph rbd keyring to create the named xx-cephx-secret not use the iscsi key
2)if I set the type rbd in storageclass ,the provisioner cannot create pv and volume,

W

[2018-04-13 08:19] kartoch opened #118 "Filter main ip address(es)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Goal: have a way to configure Openstack cloud provider to use a specific address for each node.

More precisely, following kubernetes/kubernetes#62163 and kubernetes/cloud-provider-openstack#89, it is now possible to disable IPv6 addresses. But what if a node has two (or more) IPv4 and/or IPv6 addresses ? For instance

[2018-04-13 08:31] kartoch commented on #74
The problem is some certificates in `/etc/ssl/certs/` are links to files in `/usr/share/ca-certificates/` so an alternative way to fix it is to mount both directories:

[code]

[2018-04-13 09:16] yanndegat commented on #118
hi @kartoch

this could easily be done by filtering addresses on a specific subnet cidr that could be defined
in the networking opts

@dims could this be relevant ? if so i can try to make a PR

[2018-04-13 09:28] kartoch commented on #118
hi @yanndegat,

Reading your comment, it makes me wonder why there is several addresses in `addresses` entry. The addresses available in this entry are the ones used by kubernetes for internal exchange (mainly master <-> kubelets) so is there an interest to enter several addresses here  ?

I can see at least one interest : IPv4/IPv6 dual support. If several several IPv4 AND IpV6 addresses, that wo

[2018-04-13 09:49] dims commented on #118
cc @anguslees
cc @FengyunPan2

folks, thoughts pleas

[2018-04-13 09:53] edisonxiang commented on #115
hey @jianglingxia, your first problem is very important, because it depends on what you want to use.
iscsi and rbd are very different in volume workflow. ```parameters: type``` in storageclass.yaml will be passed into cinder here.
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/volume/cinder/cinder_util.go#L185

You could find the cinder type in your env:)
$ cinder type-list

[2018-04-13 10:57] zetaab commented on #118
How 54.38.91.250 is internalip in example?

Example of one our node addresses:
[code]

Imo if 54.38.91.250 is marked as internalip in openstack, its not correct

[2018-04-13 11:04] kartoch commented on #118
@zetaab thank you for your feedbacks. It seems you have an 'ExternalIp` and `InternalIp` in your example. In my case after openstack configuration my addresses fields are all `InternalI`:

[code]

So it maybe a problem with the way I configure networks and/or how my provider connect to them. I am going to look at it.

[2018-04-13 11:06] zetaab commented on #118
these addresses are configured as external here https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L486-L490

How you are provisioning these ip addresses? These are not floating ips?

[2018-04-13 12:02] kartoch commented on #118
@zetaab These public IPs are provisionned by default, there is not floating IPs.

[2018-04-13 12:13] #118 closed

[2018-04-13 13:48] dims opened #122 "Running Kubernetes IPv6 CI tests on OpenStack cloud"
Based one from @leblancd

Let's start with the conformance test suite and see what it would take to enable IPv6 based job
- We need to check if vexxhost can support IPv6 in the VM(s) we use
   * seems like a possibility looking at http://logs.openlabtesting.org/logs/19/119/4800ccab78624506960c42559b61a48a7360c473/cloud-provider-openstack-acceptance-test-e2e-conformance/cloud-provider-openstack-acc

[2018-04-13 15:01] flaper87 commented on #54
Thanks for filing this issue! @Fedosin is this something you would like to take on? Otherwise, I can give it a go.

[2018-04-14 06:12] jianglingxia commented on #115
thank you @edisonxiang  I found my env no the rbd volume type,so I have add one backend with rbd,if the backend success to create a volume with rbd, then maybe I can do on k8s follow things:
1)create the standalone cinder
2)create a storageclass with para type:rbd
3)create a secret with ceph keyring,and named storageclass name + -cephx-secret
4)create a pvc
then pv and volume dynamic created,and a

[2018-04-16 01:58] edisonxiang commented on #115
@jianglingxia yep, actually the volume will be attached to the pod:)

[2018-04-16 02:09] jianglingxia commented on #115
your mean that the volume directs attached the pod？not IAAS sceneo first attached the vm then attached the pod?really thanks! @edisonxiang

[2018-04-16 02:15] edisonxiang commented on #115
@jianglingxia No, you are right, first attached the vm then attached the pod.
I just meant the final status for the volume is attached to the pod:)

[2018-04-16 08:43] zetaab opened #123 "add support to proxy protocol in octavia lbaas"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

**What happened**: Currently when we create lbaas resources, in 100% of use-cases at least I am using protocol TCP if my server is listening https. This is really problem if we want to get end-user ip address through to POD.

**What you expected to happen**: I except that lbaas could forward end-user ip address somehow to pod. T

[2018-04-17 09:25] jianglingxia commented on #115
I have created the ceph backend, and the pv and volume can dynamic create but the pod not running and the volume is attaching,the log hint the rbd image lock another node ?but not   lock,why?thanks
@edisonxiang @FengyunPan2
![image](https://user-images.githubusercontent.com/25783555/38861002-1a9fab32-4264-11e8-90e3-3f4338848af7.png)
![image](https://user-images.githubusercontent.com/25783555/38861

[2018-04-17 11:17] jianglingxia commented on #115
and the minion df -h can see the /dev/sdc1              97M  5.4M   92M   6% /var/lib/ceph/osd/ceph-0
![image](https://user-images.githubusercontent.com/25783555/38866579-efcf0a3c-4273-11e8-91ed-313b83a51021.png)

[2018-04-18 04:44] lingxiankong commented on #114
For those who want to see a demo first, here it is: https://youtu.be/ASSUMDvH_aE

[2018-04-18 05:43] jianglingxia commented on #115
@edisonxiang @FengyunPan2 really thanks for your review the problem
the pod not running that the kubelet lot hint
![image](https://user-images.githubusercontent.com/25783555/38913614-3963415a-430e-11e8-8306-4402625505c1.png)
![image](https://user-images.githubusercontent.com/25783555/38913630-4f7bd0f6-430e-11e8-91b5-3bcf17c642b3.png)
but in my minion has the file
![image](https://user-images.githu

[2018-04-18 07:27] jianglingxia commented on #115
thanks all ,the pod has running and attached success,
but one questione that in standalone cinder sceneo the volume always attaching?not changed to in-use?
![image](https://user-images.githubusercontent.com/25783555/38917280-dd0791ea-431c-11e8-953a-5774e5944d03.png)
![image](https://user-images.githubusercontent.com/25783555/38917289-e8e218c8-431c-11e8-9b72-eb3ead11e989.png)

and the doc https://g

[2018-04-20 06:23] animationzl opened #129 "Remove duplicate extraction of a key from connectionInfo dict in flexvolume functionality"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The connection_info key has been extracted twice [1][2] in flexvolume functionality code, which leads to an interface conversion error:
panic: interface conversion: interface {} is nil, not map[string]interface {}

[1] https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/flexvolume/cinder_client.go#L115

[2018-04-23 08:36] animationzl opened #131 "Add cinder flexvolume test example"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
There is no cinder flexvolume test example, we should add one.
**What you expected to happen**:
There is no cinder flexvolume test example, we should add one.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager ve

[2018-04-24 20:32] j-griffith opened #136 "Add Snapshot support to Cinder/CSI"
/kind feature

We're getting close to a consensus for the Snapshots spec in CSI:
    https://github.com/container-storage-interface/spec/pull/207

Of course we'll want to implement this in the CSI driver here when it lands, but also in the meantime we'll need to implement the provider layer as well.

So, might as well start implementing an openstack_snapshots pkg and at least roughing in the CSI i

[2018-04-24 20:33] j-griffith commented on #136
/assign j-griffith

[2018-04-25 16:12] xmik opened #140 "This node <name> is registered without the cloud taint. Will not process."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A k8s node was initialized, but then cloud-provider-openstack says that it will not process:
[code]

**What you expected to happen**:
I expected cloud-provider-openstack to proceed after successful initialization of a node.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deployed new k8s cluster (1 ma

[2018-04-27 01:46] #129 closed, assigned to nobody

[2018-04-27 17:08] dims opened #144 "Setup a CI job to push latest images to dockerhub"
have `make images` to build images, we need to push them probably when our conformance tests pass.

https://hub.docker.com/u/k8scloudprovider/

[2018-04-27 21:15] dims opened #145 "Support OpenStack clouds with Keystone Federated Authentication"
Please see https://github.com/gophercloud/gophercloud/issues/966

[2018-04-27 21:15] dims commented on #145
cc @knikolla @Fedosin

[2018-04-30 08:41] gonzolino commented on #140
AFAIK this is not a bug, but just an information by the node-controller.
After it starts it finds the nodes with the uninitialized taints, initializes them and removes the taint.
Afterwards, the node controller will regularly look through nodes to find nodes with the uninitialized taint. For nodes which do not have the taint (like those it already processed), it will log the message you mentioned.

[2018-04-30 23:47] #114 closed

[2018-05-01 23:00] lingxiankong opened #149 "Document how to setup octavia ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**: /kind bug

**What happened**: the octaiva ingress controller doc is missing

**What you expected to happen**: None

**How to reproduce it (as minimally and precisely as possible)**: None

**Anything else we need to know?**: None

**Environment**: None

[2018-05-02 10:12] #131 closed

[2018-05-02 10:53] jsafrane opened #150 "CSI driver should not rely on device path reported by OpenStack"
/kind bug

**What happened**:
I'm running CSI driver from this repo and my volume got attached as `/dev/vdc`, while CSI driver returned `DevicePath: /dev/vdb` as attachment metadata.

This volume cannot be mounted into a pod because `NodePublish` can't find the volume.

**What you expected to happen**:
The driver either reports DevicePath or it's able to find the volume on the node without trustin

[2018-05-02 14:53] j-griffith opened #151 "Cinder package has its own openstack pkg implementation"
/kind improvement

Currently we seem to have 3 implementations of OpenStack providers in the repo:
./cloudprovider/providers/openstack
./csi/cinder/openstack
./provider/openstack

That means we're duplicating a number of things unnecessarily, not to mention there are some bug fixes/updates that don't propagate to all of the packages.

Ideally, we'd have a single top level provider package (provide

[2018-05-02 14:56] j-griffith opened #152 "Restructure Cinder plugins"
/kind improvement
Looking at the structure of the Cinder CSI packages, trying to utilize the same plugin/package for both the standalone Cinder case and the full Cloud use case is a bit wonky.  It may be worth considering doing some consolidation and restructuring of the package to leverage shared code where possible and keep the different use cases explicitly unique.

[2018-05-04 13:19] lingxiankong opened #159 "octavia-ingress-controller image build task is missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
octavia-ingress-controller image build task is missing in Makefile

**What you expected to happen**:
We should build image for octavia-ingress-controller just like other services.

[2018-05-07 10:31] #159 closed

[2018-05-09 02:54] #149 closed

[2018-05-10 20:38] s0komma opened #169 "after adding cloud config kubelet wont start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi Guys, i’m trying to setup k8s persistent storage using cinder.
my k8s version is `1.9.4`
followed all the steps
we added below details on all the nodes of k8s including master and worker
`--cloud-provider=openstack --cloud-config=/etc/kubernetes/cloud_config` --> the added to kubelet, controller and api server on all m

[2018-05-10 21:25] dims commented on #169
@s0komma what's the name of the vm in `openstack server list`? use `--hostname-override` in kubelet and set that to the same name you see in the server list command. Also check your metadata service or config drive to make sure, you are seeing the same host name there too. hopefully you don't have any special characters in the name. Another thing to do is bump up the verbository of the logging `--

[2018-05-11 02:10] s0komma commented on #169
@dims -- Thanks for responding .. My host name is different from what i see in `openstack server list`

[code]

[2018-05-11 05:02] s0komma commented on #169
This the error i se in the end
`May 11 05:00:04 control-plane-256024810-1-359235278 audit[1]: SERVICE_STOP pid=1 uid=0 auid=4294967295 ses=4294967295 msg='unit=kubelet comm="systemd" exe="/lib/systemd/systemd" hostname=? addr=? terminal=? res=failed'`

[2018-05-11 13:53] dims commented on #169
@s0komma
- Is the keystone url accessible from this VM?
- If you print the keystone catalog, you will see the url for Nova, is the hostname used in the url resolvable?

[2018-05-11 16:10] s0komma commented on #169
@dims --
Is the keystone url accessible from this VM? -- Yes i'm doing nova list and others from the Vm only

If you print the keystone catalog, you will see the url for Nova, is the hostname used in the url resolvable? -- I know for sure that the name in OpenStack is different from the name of VM and the OpenStack name is not dns resolvable.. Should the name in `nova list` be the same as the VM o

[2018-05-11 16:17] dims commented on #169
of you are running openstack CLI and Nova CLI from the vm, then you should be ok in terms of the VM being able to reach the Nova and Keystone API endpoints.

the name of the vm in the `nova list` should be used as the `--hostname-override` when you start kubelet. Have you done that already?

[2018-05-11 16:29] dims commented on #169
so let's look at the code now, we can see the `openstack.Instances() called` printed at the following line:
https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/cloudprovider/providers/openstack/openstack_instances.go#L39

but not the `Claiming to support Instances` from line 46:
https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/cloudprovider/providers/openstack/openstack_inst

[2018-05-11 16:44] s0komma commented on #169
This is what i see in logs
`May 11 16:41:37 control-plane-256024810-1-359235278 kubelet[32257]: I0511 16:41:37.738631   32257 server.go:305] Successfully initialized cloud provider: "openstack" from the config file: "/etc/kubernetes/cloud_config"
May 11 16:41:37 control-plane-256024810-1-359235278 kubelet[32257]: I0511 16:41:37.739591   32257 openstack_instances.go:39] openstack.Instances() called

[2018-05-11 16:48] s0komma commented on #169
below is what i see `/etc/cloud/`

[code]

[2018-05-11 16:49] j-griffith opened #170 "Cinder has two modes and thus needs two CSI plugins"
**BUG/Community Discussion**:

We need two plugins for the standalone (cinderlite) and normal full Cloud (cinder) cases.
The differences in the Controller itself are very minimal; we SHOULD be able to just
make an abstraction in the client implementation.

NOTE there's a real problem here if we try and use the brick local-attach extension.
It didn't occur to me initially, but after Flaper ran into

[2018-05-11 16:51] j-griffith commented on #170
/assign me

[2018-05-11 16:52] j-griffith commented on #170
/assign j-griffith

[2018-05-11 17:32] s0komma commented on #169
@dims -- since i'm using in-tree version as of now, do you suggest to try the same test with CSI so that there will be more flexibility on tweaking  things

[2018-05-11 17:33] dims commented on #169
@s0komma you are using 1.9.x, so it's better to stick to that version. the CSI stuff is very much in progress and may not work with older releases

[2018-05-11 18:15] s0komma commented on #169
@dims -- Thank you very much i have updated the kubelet with you

[code]

[2018-05-11 20:28] s0komma commented on #169
@dims -- few updated, i know that the user account i have doesnt have access to do `openstack endpoint list` and `openstack service list` so i'm try to get that access as well added to the user

[2018-05-11 21:27] s0komma commented on #169
@dims -- now able to run below commands as `kubernetes` user as mentioned in my `cloud-config` file

[code]

[2018-05-11 21:28] s0komma commented on #169
all of the above api urls i'm able to reach from VM.

[2018-05-11 21:53] dims commented on #169
@s0komma - the region in the catalog seems to be `RegionOne` and you have `region=region` in your `/etc/kubernetes/cloud_config` file

[2018-05-12 02:11] s0komma commented on #169
@dims

Thank you very much for pointing it out, looks like we have 2 regions `OS_REGION= region` and `NOVA_REGION_NAME=RegionOne`. after keeping the region name and using `--hostname-override` kubelet is up and running now. Below are the logs for it

[code]

[2018-05-12 02:43] s0komma commented on #169
@dims the kubelet is up, then noticed that api-server is not coming up erroring out saying so added `--external-hostname=control-plane-lab-skomma-kubernetes-359235272` as this is the name i see in server list and then API server came up and controller is also up and running. but still the nodes status remains in  `NotReady`. Upon looking in to logs i see below msg. Any guidance regarding this woul

[2018-05-12 08:01] flaper87 commented on #170
/assign flaper87

[2018-05-13 13:06] liggitt commented on #169
If you already bootstrapped the node, and it requested/created a client certificate for its original name, then you changed the name of the node (via cloud provider changes), you should delete the now-mismatched `--kubeconfig` file containing the credentials for the original node name and let it re-bootstrap

[2018-05-15 05:48] s0komma commented on #169
@liggitt -- Thanks for that details, let me re-bootstrap with the name found under cloud provider and see what happens..

[2018-05-15 13:54] dims opened #174 "Document what OpenStack authorizations are needed for the account specified in cloud config"
- Ability to run `openstack endpoint list`
- Ability to run `openstack service list`

( the above 2 are from https://github.com/kubernetes/cloud-provider-openstack/issues/169#issuecomment-388476937 )

[2018-05-15 22:57] piersharding opened #175 "standalone-cinder-provisioner fails to allocate PersistentVolumeClaim"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
standalone-cinder-provisioner failed to allocate claim from a standalone Cinder instance (stuck in Pending state).
I can see the standalone-cinder-provisioner pickup the pvc create request:
[code]

and I can see this pass through to stand alone Cinder (blockbox) and actually create the volume:
[code]
And the volume can be

[2018-05-15 23:02] dims commented on #175
cc @j-griffith @flaper87 @edisonxiang @aglitke

[2018-05-16 02:01] liggitt commented on #169
@dims it appears incompatible changes were made to the openstack cloud provider in 1.10 in https://github.com/kubernetes/kubernetes/pull/58502

previously, instance name was used as the node name. That PR changed it to hostname (and a later PR made additional changes in https://github.com/kubernetes/kubernetes/pull/61000). The intent of those PRs was to ensure the attribute used was always a valid

[2018-05-16 02:07] dims commented on #169
@liggitt right. it's being tracked here - https://github.com/kubernetes/kubernetes/issues/62295

Also, @s0komma is in 1.9.x so he has not hot the problem in 1.10 yet :)

[2018-05-16 02:27] s0komma commented on #169
@liggitt & @dims -- wanted to update you guys on what i have done so far

As suggested i tried to re-bootstrap an worker node

- initially stopped `kubelet` on the worker node and did `kubectl delete node host-1-21`  on master
- created new certs for `--kubeconfig` since we were initially using `system:node:host-1-21` i updated my certs to use `system:node:hostname-1` ( openstack instance name )
-

[2018-05-16 21:42] s0komma commented on #169
@liggitt & @dims -- any thought on the above point .?

[2018-05-16 21:48] liggitt commented on #169
I believe the only way to do that with the openstack cloud provider in 1.9 is to make your openstack instance name identical to the openstack hostname

[2018-05-16 21:49] s0komma commented on #169
@liggitt -- Thank you for the update, is this something thats an option in future version .?

[2018-05-17 13:26] xmik commented on #140
Thanks, @gonzolino, you are right!

I tested today using docker image `k8scloudprovider/openstack-cloud-controller-manager:v0.1.0` and it works fine.

[2018-05-17 13:26] #140 closed

[2018-05-23 05:36] zetaab opened #184 "not possible to specify connection limit when creating lbaas"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

**What happened**: It is not possible to specify connection limit to LoadBalancer resource

**What you expected to happen**: I except that I could specify limit with service annotation

**How to reproduce it (as minimally and precisely as possible)**: Create service using type LoadBalancer, then check connection limit `neutron l

[2018-05-23 06:50] zetaab commented on #184
actually the connlimit can be defined in gophercloud library: https://github.com/gophercloud/gophercloud/blob/master/openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go#L107 so it does not need modifications

[2018-05-25 20:32] #184 closed

[2018-06-01 09:14] lingxiankong opened #189 "ConfigMap support for k8s-keystone-auth"
**Is this a BUG REPORT or FEATURE REQUEST?**: /kind feature

**What happened**: N/A

**What you expected to happen**: Allow the admin user to define the authorization policy by using configmap.

**How to reproduce it (as minimally and precisely as possible)**: N/A

**Anything else we need to know?**: N/A

[2018-06-01 14:35] zioproto commented on #15
@dims I tested  https://github.com/kubernetes/cloud-provider-openstack/tree/master/cluster/addons/rbac. It works for me.

I deploy both files with my ansible playbook:
https://github.com/zioproto/k8s-on-openstack/tree/cloud-provider-openstack/roles/k8s-rbac/files

I am able to run a simple nginx deployment with a few pods.

I still have to test persistent volumes and LBaaS.

[2018-06-03 16:57] xmik opened #191 "Label not set: failure-domain.beta.kubernetes.io/zone"
/kind question

## TL;DR: Problem
This label is not being set on any node in my Kubernetes cluster:
[code]
In result, a cinder volume (created from PVC) is created but not attached to any vm.
This label should be set on a node by cloudprovider, [source](https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#failure-domain-beta-kubernetes-io-zone).
Error from Pod waiting for

[2018-06-04 09:32] Akrog commented on #95
@j-griffith This won't work for RBD, as OS-Brick is very specific to the OpenStack use case.
In OpenStack RBD volumes have 2 types of attachments, and none of them create a real device under /dev, so it won't work for the local attachment use case we are discussing.

OpenStack RBD attachment types are:

- Attaching to VMs: This is done by Nova using libvirt, so an RBD type of disk is added to the

[2018-06-05 14:21] Fedosin opened #192 "Allow to synchronize Keystone projects with k8s namespaces"
To improve integration between keystone and k8s it's recommended to add a possibility to synchronize projects/namespaces.

In other words, if the user belongs to the project in Keystone, then when attempting to authenticate in Kubernetes using [k8s-keystone-auth](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-keystone-webhook-authenticator-and-authorizer.md), a k8s n

[2018-06-05 15:27] aglitke opened #193 "Label to classify issues by component"
I would like to scrub github issues in this repo to identify which pertain to the standalone cinder provisioner.  In my own repo I would use a label "standalone-cinder-provisioner" or something.  Could we add this label or is there a better way to achieve this?

[2018-06-05 15:28] aglitke commented on #193
/cc @jsafrane @anguslees @dims @FengyunPan2

[2018-06-05 15:32] dims commented on #193
Done. added `component/standalone-cinder-provisioner` is that ok?

[2018-06-05 17:18] aglitke commented on #193
Thank you!!!

[2018-06-05 17:18] #193 closed

[2018-06-05 21:58] lingxiankong commented on #192
Thanks for tracking this, @Fedosin

[2018-06-07 19:14] openstacker opened #195 "Improvements for k8s-keystone-auth"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:
In a perfect world, I would like to see:
1. k8s-keystone-auth can be run either standalone or as pod
2. k8s-keystone-auth can accept both policy file or configMap
3. Policies can be updated and effected on-the-fly
4. If k8s-keystone-auth is running as pod, it can work on worker node.

[2018-06-08 01:27] FengyunPan2 commented on #195
/cc

[2018-06-12 00:17] lingxiankong commented on #195
all the issues will be solved with the PR

[2018-06-12 12:50] aglitke commented on #152
Is this the same as #170 ?

[2018-06-12 13:03] zioproto opened #203 "Broken dep goautoneg"
BUG REPORT

/kind bug

**What happened**:

During the build process it is not possible to download the dep `goautoneg`

[code]

**What you expected to happen**:

The dependency should be downloaded from the URL https://bitbucket.org/ww/goautoneg

**How to reproduce it (as minimally and precisely as possible)**:
`dep ensure -v`

**Anything else we need to know?**:

[2018-06-12 17:09] j-griffith commented on #152
Yep, it's a duplicate

[2018-06-12 17:09] j-griffith commented on #152
Duplicate of #170

[2018-06-12 17:09] #152 closed

[2018-06-13 16:29] aglitke opened #207 "Request new container build of cinder-provisioner to be pushed to docker"
Hi.  There have been several recent fixes and enhancements to the cinder-provisioner.  Can someone trigger a build to update cinder-provisioner:latest to the current state of the code?  Thanks!

[2018-06-13 16:30] aglitke commented on #207
/label component/standalone-cinder-provisioner

[2018-06-13 16:31] aglitke commented on #207
/component standalone-cinder-provisioner

[2018-06-13 17:11] dims commented on #207
Done! please see https://hub.docker.com/r/k8scloudprovider/cinder-provisioner/tags/

thanks,
Dims

/close

[2018-06-13 17:11] #207 closed

[2018-06-14 15:29] #195 closed

[2018-06-15 09:44] flaper87 commented on #144
@dims I'm interested in helping with this but I'm not familiar with our current CI environment for the cloud provider. Any links/docs I can follow to help to get this done?

[2018-06-15 10:16] dims commented on #144
@flaper87 we can do it under openlab which is our usual zuul environment. https://github.com/theopenlab/openlab-zuul-jobs

please join #askopenlab, there's a few of us who can help ( Ruichen, zhuli, liusheng and mrhillsman )

essentially we'll have to run something like

[code]

[2018-06-15 12:06] flaper87 commented on #144
Running these tests after conformance job passes sounds good to me. I'd assume we'd run them as part of the `post.yaml` operations.

[2018-06-15 12:17] flaper87 commented on #144
/assign flaper87

[2018-06-19 08:01] yuanying commented on #151
Agree.

My classification is that...
-   cinder-csi-plugin: (for nova instance)
    -   has own provisioner in own package `pkg/csi/cinder/controllerserver.go`
    -   has own attacher in own package `pkg/csi/cinder/controllerserver.go`
    -   has own mounter in own package `pkg/csi/cinder/nodeserver.go`
-   cinder-flexvolume: (for baremetal/novaless)
    -   has no provisioner.
    -   has own a

[2018-06-19 10:38] dims commented on #151
@yuanying go for it!!! the code was all over the place in different repositories, the first step was to bring them all into the same repository and get them working, now the next step is to do exactly what you and john are talking about. So please go for it.

Note that the pkg/cloudprovider/providers/openstack/openstack_volumes.go is not dead code, we will have to figure out a way to support the p

[2018-06-19 14:07] RdL87 opened #210 "unexpected directory layout while running make"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

After gave the make k8s-keystone-auth command, during the dep ensure phase i receive the following error:

CGO_ENABLED=0 GOOS=linux go build \
	-ldflags "-w -s -X 'main.version=b4f24944-dirty'" \
	-o k8s-keystone-auth \
	cmd/k8s-keystone-auth/main.go
unexpected directory layout:
	import path: github.com/golang/glog
	roo

[2018-06-19 16:18] dims opened #211 "support for secrets"
https://github.com/kubernetes/kubernetes/pull/63826 got merged in main k/k.

What's the best way to implement/support this? provisioner/csi/flex-volume?

[2018-06-19 16:20] jsafrane commented on #211
/cc

[2018-06-19 22:12] mrhillsman commented on #210
@RdL87 i am not seeing an issue currently, here's my output:

[code]

[2018-06-20 01:50] edisonxiang opened #212 "Support Cinder API version configuration in CSI plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There are lots of OpenStack users who are using Cinder v1 and Cinder v2 API.
But now the Cinder CSI Plugin is only supporting Cinder V3.  For the end users, it has no way to set other Cinder API version like v1 and v2.

**What you expected to happen**:

Cinder version should be supported in Cinder CSI Plugin.
It can

[2018-06-20 01:52] edisonxiang commented on #212
/assign @dims

[2018-06-20 02:03] dims commented on #212
@edisonxiang count me in to help review any PR(s) :)

[2018-06-20 02:09] edisonxiang commented on #212
@dims Thanks. I am working on this:)

[2018-06-20 08:31] RdL87 commented on #210
@mrhillsman i repeated the same procedure many times yesterday and always got that error. Today, i did the same and everything works. I don't know if it is the case to investigate what happened. Doing some research i found sometimes this kind of error is related to go version or to git packet you're installing. But i checked both and nothing changed fro m yesterday to now.

[2018-06-20 20:23] #192 closed

[2018-06-21 01:05] yuanying commented on #151
@dims Yes, I'll do!

My understanding is that external cloud provider (not CSI Plugin) can't mount and provide volume for Pod, only can provisioning volumes. Right? (or is there any other volume plugin mechanism?)
So you mean openstack-controller-manager will have [external-provisioner](https://github.com/kubernetes-incubator/external-storage) for cinder volume?

I think it's better to split exter

[2018-06-21 08:23] s0komma opened #214 "Kubelet: could not init cloud provider "openstack": 1:1: expected section header"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi Guys, i’m trying to setup k8s persistent storage using cinder.
my k8s version is `1.9.4`
followed all the steps
we added below details on all the nodes of k8s including master and worker
`--cloud-provider=openstack --cloud-config=/etc/kubernetes/cloud_config` --> the added to kubelet, controller and api server on all m

[2018-06-21 08:27] s0komma commented on #214
FYI all the openstack commands work from the affected system. All things as been as per https://github.com/kubernetes/cloud-provider-openstack/issues/169

[2018-06-21 08:36] s0komma commented on #214
below is the host kubelet config

[code]

[2018-06-21 12:06] dims commented on #214
@s0komma what's in your /etc/kubernetes/cloud_config file?

[2018-06-21 15:22] s0komma commented on #214
@dims Thank you looking in to this below are the details

[code]

[2018-06-21 15:57] dims commented on #214
@s0komma : `cat cloud_config` from the master please :) that's where you have the problem right

[2018-06-21 17:41] s0komma commented on #214
@dims -- found a typo and now its coming up. Thanks for the pointer

[2018-06-21 17:41] #214 closed

[2018-06-21 18:39] mrhillsman commented on #210
@RdL87 i am not sure unfortunately, afaik we did not make any code changes and we are not seeing any build failures for the jobs related to k8s-keystone-auth binary which can be seen [here](http://status.openlabtesting.org/t/openlab/builds.html?job_name=cloud-provider-openstack-acceptance-test-keystone-authentication-authorization)

the failures there are a result of some refactoring and not relat

[2018-06-22 07:31] RdL87 commented on #210
@mrhillsman Maybe it has been an error on my side. I will investigate it so it could help someone who fell in the same situation.

[2018-06-22 18:21] sangeetg opened #216 "Empty String for APIGroup is not suppoted."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:
Kubernetes interprets value APIGroup = "*" as all API groups APIs, and empty string (APIGroup = "") as only Core API group APIs when defining authorization roles. The webhook authorization code (https://github.com/kubernetes/cloud-provider-openstack/blob/d22e37ede33bfe0bddeb7a9f57d13b74731105e0/pkg/identity/

[2018-06-25 09:00] animationzl opened #217 "Missing image manila-provisioner during uploading images in Makefile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
upload image manila-provisioner failed when running Makefile, here is my output:
2018-06-24 01:54:44.993212 | ubuntu-xenial-vexxhost | docker push docker.io/k8scloudprovider/manila-provisioner:latest
2018-06-24 01:54:45.088064 | ubuntu-xenial-vexxhost | The push refers to a repository [docker.io/k8scloudprovider/manila-pr

[2018-06-26 16:57] mrhillsman commented on #144
@flaper87 have you been able to verify this, if yes, can we close out this issue?

[2018-06-28 06:36] JAORMX commented on #44
/remove-lifecycle stale

[2018-06-28 06:37] JAORMX commented on #44
Trying to get either time to get into this or time from someone from my team to do this. We definitely are interested but lack capacity at the moment.

[2018-06-28 13:10] #45 closed

[2018-06-29 06:44] adisky commented on #174
@dims I am intrested to work on this.

[2018-06-29 08:08] flaper87 commented on #144
This seems to work fine! I see images being updated by the periodic conformance test!

[2018-06-29 08:11] flaper87 commented on #144
/bark
/close

[2018-06-29 08:11] #144 closed

[2018-07-03 02:05] lingxiankong opened #222 "Support to differentiate cloud load balancers created for 'LoadBalancer' type services"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In current k8s deployment on openstack, the only way to get all the load balancers created for the services of `LoadBalancer` type for a specific k8s cluster is:

- Get all the services in that k8s cluster
- 'Calculate' the load balancer name according to the code [here](https://github.com/kubernetes/kubernetes/blob/a3

[2018-07-05 02:19] #222 closed

[2018-07-05 13:38] #216 closed

[2018-07-05 18:38] #217 closed

[2018-07-09 17:24] dims opened #227 "Reflect Kubernetes best practices on what a project should look like"
https://github.com/kubernetes/kubernetes-template-project#kubernetes-template-project

[2018-07-16 09:23] aojea opened #230 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-17 14:38] RdL87 opened #232 "Using k8s-keystone-auth with OpenStack Application Credentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The k8s-keystone-auth component requires some values to be set from the user in the OS env.

**What you expected to happen**:

It should be very useful in order to simplify the user experience adding support also to the Application Credentials (https://docs.openstack.org/keystone/queens/user/application_credentials.h

[2018-07-17 14:41] RdL87 commented on #232
@zioproto @Fedosin @lingxiankong @dims @attardi

[2018-07-18 11:07] lingxiankong commented on #232
I'm not sure it's a valid feature request to cloud-provider-openstack. Actually, although you are using OS env variables when using kubectl, what the k8s api service receives is keystone token, also send the token to k8s-keystone-auth service. Both k8s and k8s-keystone-auth don't care about how the token is generated(either using the traditional way or using application credentials)

[2018-07-18 11:23] dims commented on #232
@lingxiankong this could be for the credentials present in the cloud.conf, not the one passed in by a user

[2018-07-18 11:35] lingxiankong commented on #232
Still not sure i fully understand the feature request. The k8s-keystone-auth just needs the keystone service URL, it doesn't use cloud.conf or user ENV.

[2018-07-18 11:52] dims commented on #232
ah sorry, i mis-understood. let's wait for clarification

[2018-07-18 14:19] zioproto commented on #232
@RdL87 can you provide an example configuration for an Openstack client using Application Credentials ?

[2018-07-18 21:41] lingxiankong commented on #232
@RdL87 that's why I said this feature request has nothing to do with k8s-keystone-auth service, you need to propose the PR to kubectl

[2018-07-18 21:58] kfox1111 commented on #232
Are they likely to accept any changes now that external auth plugins are a thing? https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins

If not, maybe cloud-provider-openstack should host a plugin?

[2018-07-18 22:03] dims commented on #232
we do have one - https://github.com/kubernetes/cloud-provider-openstack/pull/126/commits

[2018-07-19 01:10] #230 closed

[2018-07-19 07:48] attardi commented on #232
@lingxiankong  This does not require a change to kubectl. kubectl invokes the kube API authentication, which will pass it to the webhook (in our case invoking the k8s-authentication-auth service), passing it the token present in the  .kube/config file. See how Guard does it with other Authenticators:

    https://appscode.com/products/guard/0.2.1/guides/

There are pictures clearly illustrating th

[2018-07-19 10:31] lingxiankong commented on #232
However, because we already have `client-keystone-auth` in this repo, i think we could implement this feature there.

[2018-07-19 15:38] kfox1111 commented on #232
@lingxiankong +1

[2018-07-20 07:30] RdL87 commented on #232
@lingxiankong tell me how i could be helpful for this purpose.
@zioproto i'll do asap

[2018-07-20 08:44] RdL87 commented on #232
@zioproto I need to setu up a Queens O~S deployment before trying it since it is supported only starting from that version.

[2018-07-20 22:17] oomichi opened #237 "k8s-keystone-auth outputs a lot of authorization failure logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

k8s-keystone-auth outputs a lot of authorization failure logs like:
[code]

**What you expected to happen**:

These logs seem related to the Kubernetes controller processes and it seems unnecessary to be output.

**How to reproduce it (as minimally and precisely as possible)**:

We can reproduce this with the way of http

[2018-07-20 22:28] oomichi opened #238 "k8s-keystone-auth: Necessary to add the way how to configure policy.json"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The k8s-keystone-auth document says
[code]
but there is not any document which explains how to configure the policy.json file.
Then users need to investigate the code and edit the file.
That is hard to use the policy.json file for users.

**What you expected to happen**:

It is nice to have some related document whic

[2018-07-20 22:49] attardi commented on #232
You do not need Queens, but you need version > 3.15 of python-keystoneclient, from https://github.com/openstack/python-keystoneclient.git):

                   username=USERNAME,
                   user_domain_name=USER_DOMAIN_NAME,
                   password=PASSWD,
                   project_name=PROJECT,
                   project_domain_name=PROJECT_DOMAIN_NAME)

name='kubernetes').to_dict()

[2018-07-21 07:48] attardi commented on #232
Application Credentials can be obtained from the dashboard through this completed Blueprint, upcoming in Rocky,

https://blueprints.launchpad.net/horizon/+spec/application-credentials

[2018-07-24 00:44] lingxiankong opened #240 "client-keystone-auth: Project name is missing for authentication"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
client-keystone-auth doesn't work

**What you expected to happen**:
client-keystone-auth should work after kubeconfig configuration.

**How to reproduce it (as minimally and precisely as possible)**:
1. `kubectl config set-credentials openstackuser-clientauth`
2. Edit ~/.kube/config file, add the information client-keyston

[2018-07-25 07:10] adisky opened #242 "Add Support for CSI Spec v0.3.0 in cinder CSI plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
 CSI Spec v0.3.0 is released, needs to add support for it
https://github.com/container-storage-interface/spec/releases/tag/v0.3.0

[2018-07-25 07:11] adisky commented on #242
I am working on this

[2018-07-25 07:15] adisky commented on #242
It is already implemented here
https://github.com/kubernetes-csi/drivers/pull/95

[2018-07-25 10:56] adisky commented on #44
Barbican support in gopher cloud has been added
https://github.com/gophercloud/gophercloud/pull/1059
@dims @dklyle @JAORMX  Is anybody working on it, if not i am interested to work on it??

[2018-07-25 12:01] JAORMX commented on #44
@adisky that's awesome! Please, if you can start working on it it would be greatly appreciated :)

[2018-07-26 06:53] adisky commented on #44
@JAORMX Thanks, I am starting to work on it
@dims Thanks for the reference

[2018-07-27 13:37] #240 closed

[2018-07-27 15:39] Dahs81 commented on #203
I know this is closed, but thought I would add a comment just in case someone else runs into this. I also had to run `brew upgrade mercurial`. The version that I now have is mercurial-4.6.2. I'm running High Sierra.

[2018-08-01 10:53] ssfilatov opened #245 "Associate FIP with LB port via LoadBalancerIP attribute"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I'd like to be able to associate allocated floating IP address with k8s service.
We could extend cloudprovider so that when LoadBalancerIP is mentioned in service spec, first we try to GET it and then associate with the loadbalancer port. If we fail to either GET it floating IP with the port, we fall back to creating.

I can provide a patch for this i

[2018-08-02 07:31] adisky opened #248 "Add Toplogy support in Cinder CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Implement Toplogy Support in Cinder CSI plugin.
A new toplogy API added In CSI v.0.3.0, It defines the accessibilty constraint(Regions, Zones) between a Node and Volume https://github.com/container-storage-interface/spec/releases/tag/v0.3.0.  It is good, if
Cinder CSI Plugin can support this capabality

[2018-08-02 07:49] npu21 opened #249 "Unable to mount volumes for pod with the pvc created by cinder-provisioner"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I create a deployment like this
[code]
the pvc mysql-sonar-pvc is create by cinder-provisioner
[code]
and it's bound
mysql-sonar-pvc                              Bound     pvc-4c853f30-9625-11e8-bfa3-0050568860dd   1Gi        RWO            cinder-standard-iops   13m
I can also see it's created successfully in cinder api

here's the

[2018-08-02 08:38] jianglingxia commented on #249
the log maybe mean that your disk not attached the minion, is the scenero that your backend storage is rbd driver? show your storageclass and the backend volume type ,thanks!

[2018-08-02 09:06] npu21 commented on #249
sure，here's the storageclass
[code]
and the backend storage is rbd,the response from cinder api like this

[code]

[2018-08-02 09:17] jianglingxia commented on #249
your minion has installed the ceph-common client?and copy the ceph conf to the minion?

[2018-08-03 07:06] npu21 commented on #249
@jianglingxia @wongma7  @aglitke Dear , dose the issue have something to do with the internal ip “mon host =192.168.4.181:6789,192.168.4.182:6789,192.168.4.183:6789”？ Thanks！

[2018-08-03 07:11] npu21 commented on #249
@jianglingxia @wongma7  @aglitke Dear , dose the issue have something to do with the internal ip “mon host =192.168.4.181:6789,192.168.4.182:6789,192.168.4.183:6789”？ Thanks！

[2018-08-03 07:19] jianglingxia commented on #249
i think you must sure that the k8s and ceph cluster and cinder must connect all, the problem of internal ip you can deploy your ceph cluster in k8s cluster, so the k8s and ceph cluster can connet!

[2018-08-05 09:03] npu21 commented on #249
As we can see in this file ,https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/volume/cinder/volumeservice/actions.go
[code]
I'm wondering how could the provisioner  attach volume to this mount point. Commonly，we should see request like this
[code]
I miss some context of config here?

[2018-08-08 08:06] embik commented on #249
Would you mind sharing how you deployed the cinder-standalone-provisioner? I'm not sure if it helps with this issue, but I'm not seeing the `*-cephx-secret` secret being created so I'm wondering what's different to your setup.

[2018-08-08 08:28] embik opened #254 "Pod with PVC manged by cinder-standalone-provisioner trying to mount non-existent secret cinder-cephx-secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The cinder-standalone-provisioner did not create a cephx-secret for my storage class and therefore the pod is stuck at `ContainerCreating`, missing the necessary secret.

I can see the Cinder volume itself though, so the provisioner is able to communicate with Cinder and has the necessary permissions to create volumes.

[2018-08-09 08:43] jejer commented on #191
and ignore-volume-az not working.
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#openstack

[2018-08-10 22:18] oomichi opened #260 "cinder-standalone: Failed to create a volume with "Resource not found""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

To create a volume with PVC and default StorageClass on cinder-standalone provisioner,
that was failed during a volume creation like the following cinder-standalone log:

[code]

**What you expected to happen**:

PVC operation should be successful.

**How to reproduce it (as minimally and precisely as possible)**:

1. Cr

[2018-08-10 22:44] oomichi commented on #260
Cinder API returns 404 according to cinder.log:
Even if creating a volume on the same URL, cinderclient operation was success (the first one).
[code]

[2018-08-10 23:27] oomichi commented on #260
As the above, this is my configuration mistake.
Sorry about that.

[2018-08-10 23:27] #260 closed

[2018-08-15 13:36] lingxiankong commented on #245
I'm ok with this feature request, but I prefer to keep the svc pending if the provided IP address is invalid(either not found or getting error), and provide the information in the svc events.

[2018-08-16 00:54] lingxiankong opened #264 "Loadbalancer: Use cascading delete when using Octavia"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The current `EnsureLoadBalancerDeleted` method involves too many API calls to the load balancing service.

**What you expected to happen**:
Octavia already supports [cascading deletion](https://developer.openstack.org/api-ref/load-balancer/v2/index.html#remove-a-load-balancer) for the load balancer.

**How to reproduce

[2018-08-19 12:39] #13 closed

[2018-08-19 12:39] #21 closed

[2018-08-21 17:01] jsoyee opened #269 "keystone URL got truncated in k8s-keystone-auth webhook and client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi All, then i follow the instructions setup k8s-keystone-auth webhook, the services got lunched successfully, followed by the latest version of instruction, we put client binary together with kubectl, when try to do authentication, the keystone URL got truncated.
my keystone URL: **https://ci22sj-keystone-srv.xxx.com/ide

[2018-08-21 18:10] hyperbolic2346 opened #271 "Templates for Keystone auth are only embedded in docs and not in their own directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

yaml files for the keystone auth are only available in the docs and not in a template directory somewhere. It would be much easier to deploy if these files were somewhere that a clone would grab them.

To be clear, I'm looking for things like the service and deployment. It would be nice to also have an example configmap and secrets.

[2018-08-21 22:55] lingxiankong commented on #269
@jsoyee Hi, I tested again according to the doc, everything is ok for me. I also wrote a script that automatically install k8s-keystone-service and modify api server configuration[1] that may help you. From the log I didn't see there is any error, so please check you can access to the cluster ip of the k8s-keystone service.

[1]: https://gist.githubusercontent.com/lingxiankong/1e612f69b1ef633de34e

[2018-08-22 05:50] #227 closed

[2018-08-22 05:56] #264 closed

[2018-08-22 06:54] FengyunPan2 commented on #136
/featrue
Nice featrue!

[2018-08-22 20:27] zetaab commented on #245
Currently this loadbalancerip can be used to allocate subnet ip from the openstack network. However, I am thinking is anyone using this feature and if yes, why? I am also thinking that we could use this LoadBalancerIP field to use ecisting floatingip and attach that to created lbaas.

It is breaking change but IMO not that critical. @dims @anguslees any thoughts?

[2018-08-23 03:04] jsoyee commented on #269
@lingxiankong thanks for your reply, yes, i went through the document as well, nothing response me when i try to do post request validation, but give me Error500 when i want to quick check the service. again, no error logs on the docker side when i was doing so. any instructions for how to troubleshooting this?
[root@centos-57cc98cd6c-j7dtt /]# curl -i -k  https://10.43.16.244:8443/webhook
HTTP/1.

[2018-08-23 03:10] jsoyee commented on #269
@lingxiankong , the binary seems running well. no sure if we logging somewhere i don't know. not very helpful when i navigate the containers running as busybox.
/bin # ps -ef|grep keystone
    1 root       0:00 ./bin/k8s-keystone-auth --tls-cert-file /etc/kubernetes/pki/cert-file --tls-private-key-file /etc/kubernetes/pki/key-file --policy-configmap-name k8s-auth-policy --keystone-url https://ci22

[2018-08-23 03:14] lingxiankong commented on #269
Is 10.43.16.244 your k8-keystone-service cluster IP? Were you sending request to that IP on the k8s nodes(either master or worker)?

[2018-08-23 03:48] lingxiankong commented on #269
Could you please try to send request from within the k8s master node? BTW, I'm available in the next 1 hour in `#sig-openstack` channel in Kubernetes slack, we could have a chat there if it's convinient for you.

[2018-08-23 04:00] jsoyee commented on #269
Thanks for the offering @lingxiankong , i tried post request from K8s master node, same result as no response and log generated. if you can help build debug image, i can try that very quick, we just need more visibility about how the service react in my case . i am not fluent Slack user, will try to find you there.

[2018-08-23 06:09] zetaab commented on #245
Did I understand correctly:

old behaviour (this will make ip address to openstack subnet):
annotation + loadbalancerip

new behaviour (this will try to attach floatingip from openstack tenant to lbaas):
loadbalancerip

[2018-08-23 07:26] ssfilatov commented on #245
How does the new behaviour work if the annotation says that we use LB without external network?
Why don't we keep the old behaviour with the internal annotation and allocate FloatingIP otherwise

[2018-08-23 07:35] zetaab commented on #245
one option is that we do not touch to LoadBalancerIP at all. Instead we just create new annotation like `loadbalancer.openstack.org/floatingip` which defines the floatingip address that it should use. It is backward compatible and does not break anything

[2018-08-23 07:48] zetaab opened #273 "keep floatingip after lbaas is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

/kind feature

**What happened**: currently if we have service with type: LoadBalancer, it will provision floatingip randomly to lbaas service. However, when we delete that service it will delete floatingip as well.

**What you expected to happen**: I except that we could define what floatingip we should use (that is in separate issue #245). A

[2018-08-23 15:16] #24 closed

[2018-08-24 07:04] zetaab commented on #245
actually this is already trying to create new floatingip if you specify loadBalancerIP field https://github.com/kubernetes/kubernetes/blob/v1.11.1/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L973 . Example

[code]

However, at least in our openstack I do not have permissions to do it: is disallowed by policy rule (rule:create_floatingip and rule:create_floatingip:floating_ip_ad

[2018-08-25 01:49] jsoyee commented on #269
![screen shot 2018-08-22 at 9 17 04 pm](https://user-images.githubusercontent.com/1542557/44613806-66869e00-a7ce-11e8-9713-7c297c41f322.png)

[2018-08-25 01:55] jsoyee commented on #269
see update in title and detail. @lingxiankong

[2018-08-26 12:39] lingxiankong commented on #269
@jsoyee seems like it's related to client-keystone-auth binary.

my keystone URL: https://ci22sj-keystone-srv.xxx.com/identity/v3
[root@deploy sjc02]# kubectl get all
Please enter project name: PROD-Collaboration Cloud Container PaaS
An error occurred: Post https://ci22sj-keystone-sr/v3/auth/tokens: dial tcp: lookup ci22sj-keystone-sr on 192.168.65.1:53: no such host

and I'm a little confused. La

[2018-08-26 16:24] jsoyee commented on #269
@lingxiankong , thanks for reply, sorry for the confusion, i cleaned up webhook with fresh install, the original issue seems like on webhook server side was gone, we can pass authentication when directly test keystone interactions inside container. now when we test the last mile on client side, seems like the binary have some problem to deal with keystone URL like "**-srv**.xxx.com/identity/v3", l

[2018-08-27 01:59] #245 closed

[2018-08-27 11:58] lingxiankong commented on #269
@jsoyee hi, are the `xxx` in your keystone URL the numbers?

[2018-08-27 15:01] jsoyee commented on #269
@lingxiankong , thanks for following this up, no, it is normal domain name.

[2018-08-28 00:49] dims commented on #269
@lingxiankong we should probably keep this open so we remember to update gophercloud as soon as the change there gets fixed.

[2018-08-28 04:44] jsoyee commented on #269
@dims  Joe Topjian indicated in gophercloud route that the fix already in their July release, Are you or @lingxiankong able to coordinate the upgrade on cloud-provider-openstack? https://github.com/gophercloud/gophercloud/commit/21d13e9de69ccd9d416580fee37c9231d21bec17#diff-c403b4cbe21c6d23ae173685665e8206

[2018-08-29 15:37] #65 closed

[2018-08-30 10:18] #242 closed

[2018-08-31 14:44] vakwetu commented on #44
@adisky  -- As we discussed, the encrypt/decrypt functionality is not in barbican API, but you can store the DEK in barbican and the barbican UUID in etcd.

Of course, we can try to do better by adding encrypt/decrypt to barbican.  Here is a spec -- please feel free to comment as we go through the design.  https://review.openstack.org/598389

[2018-08-31 15:40] vakwetu commented on #44
@adisky @dims @JAORMX  - There is another intriguing possible direction on this -- https://github.com/enj/citadel

You could use citadel with the command "openstack secret get --payload <kek_uuid>  for instance,

[2018-09-01 10:23] stieler-it opened #280 "Kubernetes nodes lose InternalIP and ExternalIP temporarily"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: InternalIP and ExternalIP are lost for some nodes (in our case: 2 of 5 are broken). I am not sure if this is related to the cloud provider.

[code]

This leads to problems, e.g. when trying to create an L4 load balancer:
`Error creating load balancer (will retry): failed to ensure load balancer for service gitlab/gitlab-n

[2018-09-02 21:10] praseodym opened #281 "Cinder provisioner doesn't work on VMware Integrated OpenStack (VIO)"
/kind bug

The external Cinder provisioner doesn't work on VMware Integrated OpenStack (VIO), whereas the Kubernetes in-tree OpenStack cloud provider [handles this platform just fine](https://github.com/kubernetes/kubernetes/blob/3a8a7114fa22bd687302d31548bb393e2de9f0cd/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L475-L501). The external cloud provider logs ["Unsupported persistent

[2018-09-04 09:59] zioproto commented on #232
PR to have gophercloud supporting application credentials to authenticate is here https://github.com/gophercloud/gophercloud/pull/1224

What is the most elegant way to build the client-keystone-auth against the patched version of gophercloud to test it ?

[2018-09-04 10:26] adisky commented on #44
@vakwetu Thanks for the specs in Barbican, I have started writing the plugin, I am using the same approach to store DEK in barbican and barbican uuid in etcd, When the specs gets implemented on barbican side we will store encrypted DEK in etcd as other KMS plugins are doing.

[2018-09-04 10:55] lingxiankong commented on #232
@zioproto In your own environment, you can specify the branch name in the 'constraint' in `Gopkg.toml`, then run 'dep ensure'

[2018-09-04 11:09] zioproto commented on #232
@lingxiankong the problem is that the code goes into `vendor/github.com/zioproto/` instead of `vendor/github.com/gophercloud/` and this breaks the build.

[2018-09-04 11:52] lingxiankong commented on #232
@zioproto I'm not sure if the way bellow works but I remember I did the similar thing before. Go to gophercloud folder in the vendor directory, add your own repo as remote (git remote add xxx xxx), fetch and checkout into your branch.

[2018-09-04 11:55] zioproto commented on #232
I found the solution thanks to Dims! I patched the `Gopkg.toml` with this:
[code]

[2018-09-04 13:33] stieler-it commented on #280
After starting new nodes a few days ago that should replace the corrupt nodes, I now noticed that the state has changed.

master1 had no internal IP two days ago, now shows it again
master2 was started two days ago, now has lost its IP addresses
master3 was started two days ago and still has its IP addresses

So transitions in all directions seem to be possible. Maybe a failing refresh task?

[2018-09-04 16:53] stieler-it commented on #280
I just got the information from someone else that they did not experience this issue with K8S 1.10.5 but after upgrading to 1.11.1.

[2018-09-04 17:52] stieler-it commented on #280
Looks like there might have been changes to the OpenStack cloud provider with K8S 1.11.x: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#sig-openstack

[2018-09-06 09:37] FengyunPan2 commented on #280
/cc

[2018-09-06 13:44] #101 closed

[2018-09-06 19:50] #105 closed

[2018-09-07 14:08] #68 closed

[2018-09-07 16:10] #108 closed

[2018-09-07 17:11] #48 closed

[2018-09-07 17:11] #47 closed

[2018-09-08 14:33] #273 closed

[2018-09-10 10:14] #74 closed

[2018-09-10 15:54] ricolin commented on #46
I already start my work on  kubernetes/autoscaler#734
And I'm plan to work for kubernetes/kops#3566 as well
Let's discuss in PTG to figure out a plan for all

[2018-09-10 15:57] zetaab commented on #46
@ricolin I have tried to plan how that thing should be implemented to kops. However, I have no idea how I should implement autoscalinggroups to kops. Also I have no idea can cloud-init be used like launch control things in aws (bash script which will install everything to machines).

[2018-09-10 16:13] ricolin commented on #46
@zetaab are you in PTG now?

[2018-09-10 17:31] zetaab commented on #46
nah

[2018-09-10 19:49] dims commented on #46
/reopen
/remove-lifecycle rotten

[2018-09-13 06:59] aojea commented on #122
@dims I'd like to give this a try, can we reopen it?

[2018-09-13 08:57] zioproto opened #285 "client-keystone-auth: using a wrong password will return a wrong error message"
This is a bug report.
/kind bug

**What happened**:

Using `./client-keystone-auth` with correct credential will return the following JSON:
[code]

However if there is a typo in the password the following json is returned:
[code]
When this is returned to `kubectl` the user see this error message:
[code]

**What you expected to happen**:

The user should a meaningfull error, like `Authorization fai

[2018-09-13 13:10] embik commented on #254
Hey @dims, sorry to ping you but do you have any idea what's the matter here? When is that secret supposed to be created and by whom?

[2018-09-13 14:57] dims commented on #254
cc @aglitke

@embik i think you need to create the secret if i remember right ( see https://github.com/dims/openstack-cloud-controller-manager/issues/50#issuecomment-363511284 )

[2018-09-13 14:57] dims commented on #122
/reopen

[2018-09-15 13:15] #115 closed

[2018-09-17 07:11] alcheagle commented on #281
I am getting a similar error, with a different fs: ``Unable to create volume mapper: Unsupported persistent volume type: nfs``

[2018-09-17 21:36] xgerman opened #287 "TLS support for Octavia ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request

/kind feature

**What happened**:
OpenStack Octavia ingress controller should support TLS now as there is Barbican support in gopher cloud/openstack cloud provider.

**What you expected to happen**:
Annotations for TLS support need to be implemented.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2018-09-24 23:02] #145 closed

[2018-09-25 07:31] jichenjc opened #292 "ask for domain name when using openrc from openstack devstack"
/kind bug

root@kvm-016922:~# env | grep DOMAIN
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default

root@kvm-016922:~# ./client-keystone-auth
Please enter domain name: Default

from https://docs.openstack.org/releasenotes/python-mistralclient/queens.html
we knew we need set OS_USER or OS_PROJECT

[2018-09-25 07:47] jichenjc commented on #292
seems gophercloud.AuthOptions need to be changed if change to OS_PROJECT and OS_USER...

[2018-09-26 08:38] desaintmartin commented on #280
Experiencing this as well, after switching to 1.11.3 (and from iptables to ipvs).

[2018-09-26 09:03] desaintmartin commented on #280
I experience a related issue since upgrading to 1.11 (1.10.x -> 1.11.3).

I get repeating logs on a few machines (interestingly, only about ~1/3 of nodes of the cluster)
`Sep 26 08:45:57 kubernetesnode16 kubelet[29922]: W0926 08:45:57.215477   29922 kubelet_node_status.go:1114] Failed to set some node status fields: failed to get node address from cloud provider that matches ip: 51.38.44.227`

Tha

[2018-09-27 09:18] adisky opened #297 "Cinder CSI CI Tests are failing"
**What happened**:
Cinder CSI CI Tests are failing with the error "attacher.MountDevice failed: driver name csi-cinderplugin not found in the list of registered CSI drivers".
It is happening after PR https://github.com/kubernetes/kubernetes/pull/68200/, which defualts enable
KubeletPluginsWatcher, we need to update yaml files for driver-registrar sidecar container as described here https://kuberne

[2018-09-27 10:58] #297 closed

[2018-09-28 06:03] adisky opened #301 "Add Features in Cinder CSI Driver"
/kind feature

**What happened**:
With CSI v0.3.0 New Plugin Capabilties are added including Snapshot and Topology API, This features needs to be included in Cinder CSI driver.

Following CSI Interface are not implemented in cinder csi driver
 **Identity Service**
 **Controller Service**
    - ListVolumes, GetCapacity, ValidateVolumeCapabilities , ControllerGetCapabilities, CreateSnapshot,

[2018-09-28 06:04] adisky commented on #301
I am working on this.

[2018-09-28 06:05] adisky commented on #248
closing it in favour of https://github.com/kubernetes/cloud-provider-openstack/issues

[2018-09-28 06:05] #248 closed

[2018-09-28 13:58] vasartori opened #302 "Create more functionals healthmonitors"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:
ExternalLoadBalancers when created with option healthCheckNodePort only do a simple tcpcheck, this is not good on environments with a high traffic.

**What you expected to happen**:
Using annotations, we can "copy" the healthcheck of endpoints to a healthmonitor.

[2018-09-28 14:44] alexandrem commented on #280
They might have fixed this bug https://github.com/kubernetes/kubernetes/pull/65226

Haven't tested the new code yet.

[2018-10-01 11:57] xlucas opened #306 "Wrong entrypoint in cinder-csi-plugin image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When trying to run cinder-csi-plugin from manifests, the following pods are in the `RunContainerError` state:
- csi-attacher-cinderplugin
- csi-nodeplugin-cinderplugin
- csi-provisioner-cinderplugin
- csi-secret-cinderplugin

Logs show the error is the same for all pods and pertains to the `cinder` container running the

[2018-10-01 13:05] dims commented on #306
@xlucas i just updated the `docker.io/k8scloudprovider/cinder-csi-plugin:latest`, can you please check if the work around is still needed?

[2018-10-02 10:27] #306 closed

[2018-10-02 16:30] lingxiankong opened #309 "octavia-ingress-controller: Support backend service port name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The current implementation only supports service port number.

**What you expected to happen**:
Support service port number and port name as well.

[2018-10-02 16:38] lingxiankong opened #311 "octavia-ingress-controller: Octavia resources get recreated when the controller restarts"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Octavia resources get recreated when the controller restarts

**What you expected to happen**:
Don't re-create the resources if the ingress doesn't change

**How to reproduce it (as minimally and precisely as possible)**:
1. the octavia-ingress-controller is up and running
2. create an ingress in k8s cluster
3. restart the

[2018-10-02 18:18] xlucas opened #312 "Failed to find suitable endpoint from service catalog"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: When I try to run the nginx example for the cinder CSI plugin, volume provisionning fails with the given error in the csi-provisionner container of the csi-provisioner-cinderplugin statefulset:

[code]

The nginx pod being stuck in this state:

[code]

And the associated persistent volume claim stays in the pending state:

[2018-10-02 18:30] dims commented on #312
cc @aglitke

[2018-10-05 12:01] wzrdtales commented on #312
Got the same problem, was trying on OVHs open stack.

When I do not configure the region it throws with:

[code]

If I enter the region it throws with

[code]

The URLs of OVH are those:

[code]

[2018-10-05 16:05] mitchellmaler commented on #280
A workaround would be to use the configdrive and setup the metadata search to only search using that. This way it won't use the api and fail.

[2018-10-05 20:58] tipabu commented on #285
Should be resolved by https://github.com/kubernetes/cloud-provider-openstack/commit/8341f8ee68ad8aacf62e0e39ca8507d98e36ce11 (wherein we start using a `errRespTemplate` that's valid JSON).

[2018-10-08 14:55] #232 closed

[2018-10-08 15:06] #309 closed

[2018-10-11 15:17] flaper87 opened #323 "Use standard clouds.yaml file as config file"
/kind feature

We're currently migrating the `cluster-api-provider-openstack` config format from a custom implementation to using `clouds.yaml`, which is a known format in the OpenStack community.

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/16

Just like in the `cluster-api-provider-openstack` case, it'd be great if we could port the `cloud-provider-openstack` config

[2018-10-12 02:47] lingxiankong opened #324 "octavia-ingress-controller: Can not differentiates octavia resources for ingresses of different k8s clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If there are more than one k8s clusters for the same tenant in the cloud, it will be problematic for the ingresses with the same name, because only one load balancer is created.

**What you expected to happen**:
There should be different load balancers for the same name ingresses in different clusters.

**How to reproduce

[2018-10-12 08:51] jichenjc commented on #301
ok, I don't know you are working on this :) as I am trying to try CSI functions and find some missing parts
so I will keep an eye on this and find something that you are not working to wok

[2018-10-12 10:07] adisky commented on #301
@jichenjc  No problem, we can work on this together :), just mention here (I will also) when you start working on a particular feature, so that it does not conflict

[2018-10-12 13:42] pblaas opened #325 "csi-nodeplugin-cinderplugin can't find instance-id"
/kind feature

**What happened**:
While deploying `https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/cinder-csi-plugin`

csi-nodeplugin-cinderplugin keeps crashing due to not able to find specific content.
[code]

**What you expected to happen**:
/var/lib/cloud/data/instance-id should be filled with proper information from the OpenStack metadata service.

**How to reprod

[2018-10-13 23:01] #169 closed

[2018-10-14 10:00] pblaas opened #327 "Missing RBAC rules on the openstack-cloud-controller-manager daemonset manifest"
/kind feature

**What happened**:
Deploying the daemonset of the openstack-cloud-controller-manager `https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/controller-manager`  on a cluster with RBAC enabled won't render a usable k8s cluster due to the fact the taints are not removed from the nodes by the cloud controller manager due to missing RBAC permissions.

**What you e

[2018-10-14 12:57] dims commented on #327
@pblaas seen this? https://github.com/kubernetes/cloud-provider-openstack/tree/master/cluster/addons/rbac

[2018-10-14 15:58] pblaas commented on #327
@dims no sorry i've missed that. Thanks for pointing it out.

[2018-10-14 15:58] #327 closed

[2018-10-14 19:35] pblaas commented on #325
My current work arround:  `curl http://169.254.169.254/2009-04-04/meta-data/instance-id > /var/lib/cloud/data/instance-id`

[2018-10-15 03:18] jichenjc commented on #325
/var/lib/cloud/data/instance-id seems created by cloud-init ,but we can't assume it always there or always correct path...

likely it's because we assume this file always existing in CSI but it's not,
in cloud provider seems readInstanceID will fall through to metadata service but CSI code branch didn't

[2018-10-15 04:57] adisky commented on #325
@jichenjc yes, we have discussed same on sig-openstack slack channel, I am adding fix to fetch instance-id from metadata service as a fallback option.

[2018-10-15 10:05] aojea commented on #122
@dims I'm finishing to add devstack jobs with ipv6, some patches are pending though https://review.openstack.org/#/c/605983/.

I think that we can leverage those job for this task.

[2018-10-15 10:28] dims commented on #122
@aojea nice!

[2018-10-15 13:54] xlucas commented on #312
Ok so after digging this a bit it appears even though the cloud-controller-manager handles the `bs-version` in `cloud-config`, the cinder CSI plugin retrieves the volume service its own way. As a consequence, all entries from `cloud-config` that aren't Openstack credentials are ignored (in particular, this means the `[BlockStorage]` section of the configuration is not looked at) and it [always try

[2018-10-15 14:40] xlucas commented on #151
Any update on this ? I think #312 is a consequence of code duplication among openstack providers that can be solved a more durable way by refactoring the code (or the fix will be another bit of duplicated code from ./cloudprovider/providers/openstack to handle BlockStorageOpts).

[2018-10-17 02:44] lingxiankong opened #334 "octavia-ingress-controller: The ingress event information is missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Can not see the ingress event using `kubectl get ing <name>`

**What you expected to happen**:
I'd like to see the following information:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an ingress after octavia-ingress-controller is deployed.
2. `kubectl get ing <name>`

[2018-10-17 14:18] #334 closed

[2018-10-19 00:44] oomichi commented on #237
I cannot work for this issue at this time, so it is fine to drop now.

[2018-10-19 00:44] #237 closed

[2018-10-19 00:44] oomichi commented on #238
I cannot work for this issue at this time, so it is fine to drop now.

[2018-10-19 00:44] #238 closed

[2018-10-21 07:54] #136 closed

[2018-10-23 12:52] openstacker commented on #280
We have same issue with clould-provier-openstack and k8s v1.11.2

[2018-10-23 22:19] openstacker commented on #280
@mitchellmaler Hi Mitchell, would you mind explaining more details about the workaround? Are you talking about this
`[Metadata]search-order=configDrive`

in cloud-config? Thanks.

[2018-10-23 22:20] mitchellmaler commented on #280
@openstacker I tried that and I thought it was working but after a few days I had the same issue.
Was premature :)

[2018-10-24 06:00] #325 closed

[2018-10-26 06:02] jichenjc commented on #301
I made some changes to create snapshot and seems it works, need add UT ...
so record here to avoid conflict :)

[2018-10-27 05:17] flaper87 commented on #323
/assign @iamemilio

[2018-10-29 16:11] #15 closed

[2018-10-31 07:35] adisky opened #341 "Cinder CSI Raw block volume support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:
CSI Raw block volume support has been added in v1.11 as alpha feature, we should add same support to cinder csi driver

[2018-11-01 11:17] #95 closed

[2018-11-03 07:44] adsl123gg opened #346 "Docs error in Loadbalancers example README.MD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
use cloud-provider-openstack/examples/loadbalancers/internal-http-nginx.yaml to create **internal** loadbalancer failed, cloud-provider-openstack create a **external** loadbalancer.

**What you expected to happen**:
use cloud-provider-openstack/examples/loadbalancers/internal-http-nginx.yaml to create **INTERNAL** loadbalancer succe

[2018-11-08 17:07] #170 closed

[2018-11-11 12:14] adsl123gg opened #352 "Add feature for scale cluster worker node in openstack"
/kind feature

Now cloud-provider-openstack can provide Loadbalance/PersistentVolume/router for k8s, but if k8s want to scale up worker nodes, now cloud-provider-openstack can do nothing. As we all know, openstack can provide VM, so why not provide VMs to k8s for cloud-provider-openstack. I think it's a very useful function, and also there are a project called [machine-controller](https://github.c

[2018-11-11 12:30] dims commented on #352
@adsl123gg we are working on such stuff here : https://github.com/kubernetes-sigs/cluster-api-provider-openstack

Also see https://github.com/kubernetes-sigs/cluster-api

Hope you can join the work there

[2018-11-12 07:37] adsl123gg commented on #352
@dims as I know, there are two ways to autoscale k8s nodes in cloud provider(such as openstack, AWS), first is cloud provider autoscale cluster nodes according to k8s resource utilizing, in this situation, cloud provider know k8s is running in cloud, cloud provider is initiator. Then the second way is k8s ask VM from cloud provider and then the VMs join k8s, in this situation, k8s is initiator and

[2018-11-12 10:56] dims commented on #352
You should read all the materials for cluster-api as its a still early stage, auto scaling based on utilization will hopefully be a part of it.

for kubernetes/autoscaler, there has been talk but not much work, please see https://github.com/kubernetes/autoscaler/pull/1226

[2018-11-12 11:14] adsl123gg commented on #352
@dims for kubernetes/autoscaler, there is a more detail discussions in https://github.com/kubernetes/autoscaler/issues/734, from what ricolin say, I think they want to create another openstack component project to auto scale k8s.

[2018-11-12 12:47] chaosaffe commented on #323
/assign @iamemilio
@iamemilio is now a member

[2018-11-12 12:51] chaosaffe commented on #323
Apparently @iamemilio only joined @kubernetes-sigs
xref: https://github.com/kubernetes/org/issues/189

[2018-11-14 08:13] adisky opened #359 "[Cinder CSI] Remove Dependency from csi-common package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Cinder CSI Driver heavily depends on https://github.com/kubernetes-csi/drivers/tree/master/pkg/csi-common, we should remove its dependency from csi-common package as it is not suggested for production deployments and not maintained actively.

To Remove its Dependency we need to develop -
- Non Blocking Grpc server, To

[2018-11-14 08:27] adisky opened #360 "Implement a common library for openstack cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently all Drivers(octavia, manila, cinder etc) have there own implemention for openstack related stuffs(Mainly Authentication and Configuration), It would be good, if we have a common library that all drivers can use. It will help to reduce maintenance efforts and code duplicacy.

[2018-11-14 11:23] #122 closed

[2018-11-15 05:38] jichenjc opened #361 "report size when create volume again with same name"
/kind bug

**What happened**:
root@kvm-017407:~# ~/go/src/github.com/rexray/gocsi/csc/csc controller create-volume --endpoint tcp://127.0.0.1:10000 CSIVolumeName1
"27aea4f0-9a93-4b99-9396-6a26a5bbf6e7"  1073741824      "availability"="nova"

root@kvm-017407:~# ~/go/src/github.com/rexray/gocsi/csc/csc controller create-volume --endpoint tcp://127.0.0.1:10000 CSIVolumeName1
"27aea4f0-9a93-4b99-9396-

[2018-11-16 08:08] adisky opened #365 "Update Cinder CSI driver to CSI v1.0.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
All CSI sidecar containers and kubernetes  are updated to CSI v1.0.0, we should soon upgrade cinder CSI drive to 1.0.0
https://github.com/container-storage-interface/spec/releases/tag/v1.0.0

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**En

[2018-11-16 18:17] #211 closed

[2018-11-17 07:29] adsl123gg commented on #352
@dims after using cluster-api-provider-openstack and reading the materials of cluster-api, I this cluster-api aiming to do autoscale in cloud provider position, from the architecture diagram in https://github.com/kubernetes-sigs/cluster-api, cluster-api has several components such as bootstrapping CLI, upgrade trigger and autoscaling,  as we can see from the diagram, the initiator is cluster-api,

[2018-11-18 03:13] takaishi opened #366 "Support client certificate"
/kind feature

Hello, when we have OpenStack endpoint with client certificate, we can't use `client-keystone-auth`.
I want `client-keystone-auth` support  `OS_CERT` and `OS_KEY` option like openstack cli.

[2018-11-19 09:18] #210 closed

[2018-11-19 11:59] chaosaffe commented on #352
@adsl123gg [`cluster-api`](https://github.com/kubernetes-sigs/cluster-api) is responsible for handling the cluster lifecycle, including creation and destruction of control plane (master) and worker nodes.
[`cluster-autoscaler`](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) is responsible for determining when the cluster needs to add or remove worker nodes, which it could

[2018-11-19 20:49] #271 closed

[2018-11-22 14:21] ainmosni opened #372 "Use OpenStack metadata service to acquire instance ID"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, when setting up the provider on a machine with a hostname that differs from the name in OpenStack the provider can't find the instance ID. The provider should use the [metadata service](https://docs.openstack.org/nova/rocky/user/metadata-service.html)  to acquire this ID to make this process more reliable.

[2018-11-22 14:29] ainmosni opened #373 "Use OpenStack metadata service to acquire instance ID in cinder CSI plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The cinder CSI plugin currently acquires its instanceID from `/var/lib/cloud/data/instance-id`. This path will not always be available (Container Linux moved from cloud-config to ignition, which does not write that file). To make this more reliable, the plugin should use the [metadata service](https://docs.openstack.or

[2018-11-22 15:17] ainmosni opened #374 "Document migration from internal to external cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, there's no documentation on how to migrate from the OpenStack cloudprovider that's integrated in the controller-manager. As there are a few potential pitfalls, having a "tutorial" style document would be quite useful and would increase the adoption of the external cloud provider.

Some things that this shou

[2018-11-22 15:35] ainmosni opened #375 "Loadbalancer examples have the annotations on the wrong resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The annotations in examples/loadbalancers are set on the `Deployment` not on the `Service`. This causes every loadbalancer to be an external one (at least in my setup). To have any effect, the annotations have to be made on the `Service`.

These annotations hint to the provider if the loadbalancer should grab a floating I

[2018-11-23 05:20] adisky commented on #373
@ainmosni It first tries to get from cloud-init, then from metadata servicehttps://github.com/kubernetes/cloud-provider-openstack/pull/331

[2018-11-26 03:05] jichenjc opened #378 "create LB without node (master and taint only) leads to Internal Server Error from openstack"
/kind bug

**What happened**:
Just a minor update, to provide more info when create LB member failed
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
openstack devstack (created from commit e3e9ea299601665a295e31a98e90dd9587165850)
Nov 5

[2018-11-26 03:05] jichenjc commented on #378
no node existing, lead to
E1123 10:16:19.256762       1 controller.go:433] failed to create openstack resources for ingress default/test-ingress1: error batch updating members for pool bfb52bca-1c73-4cc8-80f9-486a2ed01927: Internal Server Error

we can add a check before apply members update so that we can provide more helpful info

[2018-11-26 09:03] #174 closed

[2018-11-27 14:16] mape90 opened #381 "[Cinder CSI] Race condition in volume deletion between attacher and provisioner"
/kind bug
**What happened**:
When volumes are deleted. Both detaching and deletion are executed same time. This causes race condition where volume can be deleted before detacher found out that it was detached.
After this the detaching will never succeed and `VolumeAttachment` is forever try to detach the volume.

**What you expected to happen**:
If we are detaching volume and we do not find the vo

[2018-11-27 14:23] #375 closed

[2018-11-27 14:34] dims commented on #381
@mape90 is this specifically openstack related or do you think that this will happen for all CSI impls?

cc @adisky @flaper87

[2018-11-28 08:14] mape90 commented on #381
I think this is generic for all CSI plugins. As external-provisioner will not check if volume is still having VolumeAttachment with attached status.

It also seems that AWS EBS CSI has fixed this issue with the solution I proposed. As they just return success if volume isn't found:
[code]
It most likely would be possible to implement something in external-provisioner level. So that it would check

[2018-11-28 09:01] adisky commented on #381
@mape90 Delete should not be executed before attach complete
as mentioned here
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#attaching-and-detaching
"the PersistentVolume referenced by VolumeAttachment so the PV cannot be deleted while the volume is attached", so ideally delete should not happen before detach.
please log th

[2018-11-28 09:48] adisky commented on #381
I did not anything in cinder driver that should cause it, you should log issue to external-provisioner as well

[2018-11-28 10:53] #378 closed

[2018-11-30 07:04] zhiyxu opened #386 "Persistent Volume provision of external OpenStack provider doesn't work normally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hi Guys

I'm trying to setup Kubernetes Persistent Volume with Cinder, for the cluster is established on Openstack, my k8s version is ```1.9.8```

I've successfully tested In-tree OpenStack provider, by adding ```--cloud-provider``` and ```--cloud-config``` in ```kubelet```, ```kube-apiserver```, ```kube-controller-manager```, but I

[2018-11-30 07:04] mape90 commented on #372
The cloud provider actually never uses the metadata when it adds new node. If node joins with cloud-provider=external that node will not sets its ProviderID. Then the cloud provider uses the only info that is has from node that is its name. And if that name isn't 1:1 with name in Openstack then the node will be deleted from cluster. If you set kubelet argument --provider-id="openstack:///<id_of_vm

[2018-12-02 11:07] attardi opened #387 "rename client-keystone-auth to kubectl-keystone-auth"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
According to Keystone conventions (https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/), plugins should be named with prefix kubectl-, therefore client-keystone-auth should be renamed as kubectl-keystone-auth.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible

[2018-12-03 06:08] lingxiankong commented on #269
We are now using master branch of gophercloud according to the Gopkg.toml, so this issue could be closed. @jsoyee could you please double check this issue has been fixed in your environment? Please use the official docker image(`k8scloudprovider/k8s-keystone-auth/`) for the k8s-keystone-auth binary.

[2018-12-04 07:41] ainmosni commented on #372
Is there a reason why it doesn't query the metadata service if the name doesn't match? It seems that would be a more reliable way to acquire the ID.

[2018-12-04 07:44] ainmosni commented on #373
@adisky I see, my bad. I thought it only relied on the cloud-init.

[2018-12-04 07:44] #373 closed

[2018-12-05 03:16] jichenjc opened #391 "Delete a node then readd it in LB ingress has issue"
/kind bug

**What happened**:
root@kvm-017407:~/go/src/k8s.io/cloud-provider-openstack# kubectl get ing
NAME            HOSTS         ADDRESS       PORTS   AGE
test-ingress1   foo.bar.com   172.24.4.22   80      44h

root@kvm-017407:~/go/src/k8s.io/cloud-provider-openstack# kubectl get nodes
NAME         STATUS   ROLES    AGE   VERSION
kvm-017407   Ready    master   49d   v1.12.1
kvm-017734   Read

[2018-12-05 03:16] jichenjc commented on #391
I will submit some patches..

[2018-12-06 19:30] iamemilio commented on #323
Upstream Reference: https://github.com/kubernetes/cloud-provider-openstack/issues/323

[2018-12-07 01:52] jichenjc commented on #386
my previous try also had this kind of issue, at that time, we figured out the service that's running can't get the instance ID because the cloud provider itself assumes it's running on a VM that provisioned by openstack and it try to fetch info from metadata build from cloud-init or metadata service, I am not sure I have similar issue to you ...at least we moved the infra from VM outside openstack

[2018-12-07 02:44] jichenjc commented on #372
I think first try metadata/config drive then cloud init (/var/lib/cloud/xxx) make sense

And I am curious why change hostname will have some effect, as the instance-id will be the identifier of the node ?

[2018-12-07 02:45] jichenjc commented on #361
PR already merged

[2018-12-07 02:45] #361 closed

[2018-12-07 19:51] gman0 opened #394 "add csi-manila"
With CSI 1.0 out, we can start drafting some initial implementation for csi-manila using the "proxy architecture" as discussed offline. If there's no current work in progress by somebody else, I'll be glad to get this one started.

I don't have a PR ready yet but till then it would be great if we got the dependencies for 1.0 in (https://github.com/kubernetes/cloud-provider-openstack/issues/365).

[2018-12-09 21:50] brtknr commented on #346
I may have a similar issue when i run `cloud-provider-openstack/examples/loadbalancers/internal-http-nginx.yaml`, but I get this error:

[2018-12-10 07:33] mape90 commented on #381
The failure happens when detaching takes a long time and Attacher is polling in function 'WaitDiskDetached'. Then during one of those wait phases the volume might get detached and then provisioner might delete it before attacher checks it state again. After this all request to get any data about this volume will return ErrNotFound. And as current implementation do not handle this case it will fail

[2018-12-10 12:47] ainmosni commented on #372
@jichenjc Yeah, that's what confused me as well, that behaviour made me assume that it didn't check the metadata at all. The configured hostname should (IMHO of course) not have any effect on it being able to find its instance-id.

[2018-12-11 01:59] lingxiankong opened #395 "Add client-keystone-auth to release assets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
client-keystone-auth binary is missing from the release.

**What you expected to happen**:
Include client-keystone-auth binary in the release

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
N/A

[2018-12-11 05:35] jichenjc commented on #381
ok ,thanks for the detailed info
so the key cause here is provisioner and attacher do the job concurrently... and during sleep time the provisioner deleted the volume, that make sense but curious on Provisioner/Attacher  do the job at same time, anyway, will try to submit a fix and see folks' opinion

[2018-12-11 06:03] jichenjc commented on #372
ok, let me submit a PR for the order on checking metadata first and see anyone has any comments

[2018-12-13 13:48] #346 closed

[2018-12-14 04:03] #372 closed

[2018-12-14 07:53] adisky opened #400 "Exclude irrelavent Files from CI jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
All CI jobs run in cloud-provider-openstack, for document changes also.

**What you expected to happen**:
we should exclude following files/directories from CI jobs
docs/
*.md
OWNERS
SECURITY_CONTACTS

[2018-12-14 07:53] adisky commented on #400
/assign @mrhillsman

[2018-12-14 07:54] adisky commented on #365
/assign @adisky

[2018-12-14 07:54] adisky commented on #359
/assign @adisky

[2018-12-14 16:12] #151 closed

[2018-12-16 12:55] praseodym commented on #281
/remove-lifecycle stale

[2018-12-17 16:04] #400 closed

[2018-12-17 17:57] dims commented on #387
The convention is true for "simple" plugins that do not need much configuration i believe.

Also, Does the instructions below fail?
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-client-keystone-auth.md#configuration

cc @openstacker @attardi @Fedosin

[2018-12-17 18:36] Fedosin commented on #387
Hi! client-keystone-auth is not a kubectl plugin, it is a credential plugin. You can read more about them here: https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins
First of all, these plugins are used not just by kubectl, but also by kubelet. They don't add any new options to kubectl, they just help to implicitly authenticate the user and get a toke

[2018-12-18 00:21] hogepodge commented on #394
Please feel free to get this one started. Thanks!

[2018-12-18 08:58] strigazi opened #406 "Support for sssd in client-keystone-auth"
/kind feature

client-keystone-auth should support authentication with sssd.

OS_PROJECT_DOMAIN_ID=default
OS_IDENTITY_PROVIDER=sssd
OS_PROJECT_NAME=<NAME>
OS_MUTUAL_AUTH=<OPTION>
OS_IDENTITY_API_VERSION=3
OS_AUTH_TYPE=v3fedkerb
OS_PROTOCOL=kerberos
OS_AUTH_URL=<URL>

[2018-12-18 14:37] mogaika opened #407 "Multi-nic node ip must correspond to kubelet api listening address"
/kind bug

**What happened**:
openstack cloud provider replaces nodes internal ip with openstack node instance addresses, but kubelet api of node can be bounded only to one of these addresses (e.g. for security purposes). Typical scenario: first nic - for deployment, second nic- for k8s network and kubelet --address parameter equals to the second nic ip. In this case cluster can receive wrong addr

[2018-12-18 14:46] dims commented on #406
cc @lbragstad

[2018-12-18 21:01] lingxiankong commented on #191
should be fixed by #405, @xmik could you please confirm before i close this issue?

[2018-12-18 22:02] stieler-it commented on #280
We upgraded to K8s v1.11.5 a few days ago and the bug seems to be gone.

[2018-12-18 22:02] #280 closed

[2018-12-20 14:06] xmik commented on #191
@lingxiankong, I will check that some day before christmas.

[2018-12-23 14:51] netcho opened #412 "TCP listener prevents application of HTTP rules"
The hard coded protocol type of TCP makes haproxy inside amphorae to neglect L7 HTTP rules. Here's the line
https://github.com/kubernetes/cloud-provider-openstack/blob/cc82c7f119cd63e857c47c34796a272cc967cf02/pkg/ingress/controller/openstack/octavia.go#L395

My suggestion would be to change it to HTTP as for now Ingress only supports HTTP/HTTPS and discuss TCP loadbalancing capabilities of Octavia

[2018-12-24 10:07] xmik commented on #191
@lingxiankong, I confirm it is fixed. Tested with cloud-provider-openstack commit: cc82c7f119cd63e857c47c34796a272cc967cf02. Thanks! :)

[2018-12-24 10:58] lingxiankong commented on #191
@xmik thanks for the feedback!

[2018-12-24 12:35] lingxiankong commented on #412
@netcho hi, thanks for reporting this issue. Could you please provide your pod/service/ingress manifest files you were testing with?

[2018-12-24 20:45] #44 closed

[2018-12-25 07:43] netcho commented on #412
`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: console-ingress
  annotations:
    kubernetes.io/ingress.class: openstack
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: frontend
          servicePort: 80
      - path: /api
        backend:
          serviceName: backend
          servicePort: 80`

Here it is. I forgot to mention that I

[2019-01-02 07:54] zetaab commented on #407
imo this is not openstack specific issue, it is same issue in all cloudproviders. So instead of solving this issue in openstack cloud.conf it should be solved in kubernetes node level.

[2019-01-02 19:54] bosatsu commented on #280
New to kubernetes, but I believe I may be seeing this issue as well in `v1.12.3`:

[code]

[code]

Let me know if there is any additional output that would help to confirm or refute.

[2019-01-02 20:30] hogepodge commented on #394
/assign @gman0 gman0

[2019-01-05 09:42] #249 closed

[2019-01-07 01:59] lingxiankong commented on #412
hi @netcho, could you please use the image lingxiankong/openstack-ingress-controller:0.0.1(containing the PR 419) for your testing and make sure it works for you now?

[2019-01-07 11:59] mape90 commented on #407
With only two networks you could define _PublicNetworkName_ with the network that you do not want to be internal.

However this fails again when you have 3 or more nics. So real solution for multiple nics would be to have configurable variable "_InternalNetworkName_" (just example) what would be used to define Internal network. Then all other networks would be Externals.

It seems that at least gc

[2019-01-07 13:28] UristMcMiner opened #420 "manila-provisioner missing share-network configuration option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Trying to provision a share via manila-provisioner in kubernetes with the option driver_handles_share_servers = True.
The provisioning failed with 400: BAD REQUEST due to the missing share_network parameter

**What you expected to happen**:

share_network to be configurable

**How to reproduce it (as minimally and pr

[2019-01-08 08:20] #323 closed

[2019-01-08 15:06] chrigl opened #421 "Enable usage of OpenStack Application Credentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently when configuring components like the `openstack-cloud-controller-manager` with a `cloud.conf`, one is only able to use the owners OpenStack User and Password.

From version 3.10 (included in the Queens release), OpenStack Keystone supports Application Credentials (also see #232 and https://developer.opensta

[2019-01-09 05:21] ramineni commented on #341
I'll work on this

[2019-01-09 09:11] chrigl commented on #421
gophercloud already supports this, and this is already used in `client-keystone-auth` (https://github.com/kubernetes/cloud-provider-openstack/blob/master/cmd/client-keystone-auth/main.go#L114).

It would just be nice to have this ability in the controller as well, to not sprinkle around "real" credentials everywhere.

[2019-01-09 09:14] jichenjc commented on #421
ok, will take a look and see how we can utilize that, thanks for the info

[2019-01-09 10:15] #412 closed

[2019-01-10 01:59] woodne opened #423 "csi-cinder plugin manifest examples do not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When installing the cinder-csi plugin, after creating a storage class and a PVC, the provisioner gives errors about no OS_AUTH_URL being defined.

**What you expected to happen**:

It pulls the cloud config settings from the cloud config secret

**How to reproduce it (as minimally and precisely as possible)**:

- Bootstr

[2019-01-10 06:48] adisky opened #424 "Add CRD and deployment for csi snapshot"
Add CRD and Deployment yaml's for CSI Snapshot

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Snapshot Support Implemented by following PR in Cinder CSI.
 [csi] add snapshot support #344
- We need to add CRD's to use the snapshot functionality, and deployment file for external-snapshotter
- Update Document and CI

[2019-01-10 06:50] adisky commented on #424
/assign

[2019-01-10 13:47] woodne commented on #423
@adisky this was indeed my fault. I messed up creating the secret and changed it to `cloud.config: base64secret` instead of `cloud.conf`.

It does seem like there could have been some useful logs about the cloud config file not being present.

[2019-01-11 05:57] adisky commented on #423
@woodne you can create a seperate issue/PR for logs, I am closing this.

[2019-01-11 05:57] adisky commented on #423
/close

[2019-01-11 05:57] #423 closed

[2019-01-11 14:37] #381 closed

[2019-01-12 23:37] nabheet opened #428 "Pods not getting IP address assigned after adding --cloud-provider=external to kubelet args"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am not sure that this is a bug and I didn't know where to ask this as a question (maybe on StackOverFlow?). I followed the instructions at https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-controller-manager-with-kubeadm.md to set up the controller. The controller wouldn't start because of th

[2019-01-12 23:39] nabheet commented on #428
Actually, I just randomly decided to copy the cloud-config file to two locations:
- "/etc/kubernetes/cloud-config"
- "/etc/kubernetes/cloud.conf"

and all the kube-system pods seem to have their IPs still. I think that might have fixed the issue. I am not sure why though.

However, I will test for a little bit longer, maybe a couple of days and close this issue.

At least its documented here in ca

[2019-01-13 05:01] #428 closed

[2019-01-14 05:51] jichenjc commented on #424
Thanks for open this
I searched manifests/cinder-csi-plugin and didn't find CRD for volume, so can you point me where to add CRD etc ? Thanks

[2019-01-14 05:59] jichenjc commented on #407
The way to provide 'ip to used inside k8s cluster' seems to be a valid request... e.g
we have management network, data network , public network allowed in neutron
so I think default to 'internal k8s network first' and if not given, use network[0] is a backward compatible choice

[2019-01-14 07:46] wzrdtales commented on #312
/remove-lifecycle stale

[2019-01-14 13:21] johscheuer opened #431 "Use docker tags in git tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently all manifest files use the `latest` tags (even on the branches and tags) e.g. https://github.com/kubernetes/cloud-provider-openstack/blob/1.13.1/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml#L39 which means as a user I get an undefined (and probably not working) state of the manife

[2019-01-14 14:43] #366 closed

[2019-01-14 22:23] lingxiankong opened #432 "Add description for the LoadBalancer type service floating IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In Magnum k8s cluster, after creating floating ip for LoadBalancer type service inside the cluster, it's impossible to delete the floating ip when the cluster is deleted.

**What you expected to happen**:
Add description for the fip similar to the lb description.

**How to reproduce it (as minimally and precisely as po

[2019-01-15 08:07] jichenjc commented on #431
I guess this is for stable(released) branch ?  when you try stable branch use :lastest can lead to issue?
maybe kustomiz can be considered here or something else or use git tags seems not so good...?
this is more operator focused area?

[2019-01-15 08:34] mape90 commented on #407
The network[0] would be nice if it would be possible. However we just get list of IPs what is then converted to map and iterated. So there is no guarantee that IPs will be in same order for all nodes. I am not even sure if the list that we get from gophercloud is sorted. But most likely most current users are just using single network or dual network with _PublicNetworkName_. So as long as those w

[2019-01-15 09:02] adisky commented on #431
@johscheuer Agreed, There can be two options to solve this, one is tag it with the release, and update tag after the release in manifests, another option is to keep multiple manifests file corresponds to each release and a separate master file.

[2019-01-15 09:04] adisky commented on #431
one more option is keeping  two manifests one is developer manifests which points to the master and another one which corresponds to the last stable release.

[2019-01-15 09:33] adisky commented on #431
@jichenjc True, I think best to have developer manifest and one pointing to last stable release

[2019-01-15 11:03] xmik commented on #191
I'm closing this issue, because there is v1.13.1 released with commit from #405.

[2019-01-15 11:03] #191 closed

[2019-01-15 21:07] #432 closed

[2019-01-16 08:11] ramineni opened #435 "Unable to schedule pods on the host, failing with error Error fetching by NodeName: failed to find object"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods are unable to get schedules on host , status is always in Pending state
NAME                             READY   STATUS    RESTARTS   AGE
csi-attacher-cinderplugin-0      0/2     Pending   0          19m
csi-provisioner-cinderplugin-0   0/2     Pending   0          19m
ccm log shows This node 127.0.0.1 is still taint

[2019-01-16 08:12] ramineni commented on #435
/assign

[2019-01-16 09:57] ramineni opened #437 "defaultMetadataVersion used is quite old, update to latest version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
defaultMetadataVersion used in code is quite old, need to use the latest version to be in sync with latest developements in metadata service.
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack_metadata.go#L11

**What you expected to happen**:
use latest version instead
**

[2019-01-17 07:35] jichenjc commented on #437
maybe use 'latest' should be fine ?

also pkg/cloudprovider/providers/openstack/metadata.go has similar stuffs

[2019-01-17 07:38] jichenjc commented on #435
this should be closed due to https://github.com/kubernetes/cloud-provider-openstack/pull/429/commits/4c778e7404a295ff5ca21a37735edc1d4d3e09be?

[2019-01-17 07:51] ramineni commented on #437
@jichenjc yes, thats my thought also, im not sure if there is any reason for using the old version, so thought would wait for couple of comments , else would raise the PR for the same.

[2019-01-17 07:55] ramineni commented on #301
I'm working on topology support

[2019-01-17 19:37] #359 closed

[2019-01-19 22:30] mogaika opened #445 "Confusing "Please use 'external' cloud provider for openstack" warning"
/kind bug

**What happened**:
Log says:
```W0119 22:23:10.778211   10831 plugins.go:118] WARNING: openstack built-in cloud provider is now deprecated. Please use 'external' cloud provider for openstack: https://github.com/kubernetes/cloud-provider-openstack```
what can make administrators confused and think that cloud provider is misconfigured

**Anything else we need to know?**:
cmd that we are u

[2019-01-21 06:14] ramineni commented on #445
From here looks like --cloud-provider=external needs to be specified
https://github.com/kubernetes/cloud-provider/blob/master/plugins.go#L107

[2019-01-21 08:49] ramineni commented on #445
@jichenjc right, i think should be sufficient , exploring the same .

[2019-01-21 09:14] hemantsonawane95 opened #446 "openstack-ingress-controller failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Failed to create openstack resources for ingress default/test-octavia-ingress: error because no members in pool
**What you expected to happen**:
openstack-ingress-controller should work
**How to reproduce it (as minimally and precisely as possible)**:

can be fixed by adding worker node to the cluster.

**Anything else we need to kn

[2019-01-21 20:30] #407 closed

[2019-01-22 13:35] mogaika commented on #445
@dims I'm not sure about github, but its possible to move this issue to kubernetes repo, or it's better to recreate it from my side?

[2019-01-23 05:12] jichenjc commented on #446
@hemantsonawane95 This logic is added to avoid this bug:
https://github.com/kubernetes/cloud-provider-openstack/issues/378

because openstack does not support no member in lb , calling octavia API without member will lead to 500 internal error, so we added this check

can you help to check whether you have node in your definition (not all-in-one master only) ,if no node defined, can you add one an

[2019-01-23 08:44] adisky commented on #445
@mogaika I think it requires admin permission to transfer issue, it is better to recreate, close this one with a reference to that

[2019-01-24 03:01] jichenjc commented on #446
ok, let's close this per above comments...

[2019-01-24 03:01] jichenjc commented on #446
/close

[2019-01-24 03:10] lingxiankong commented on #446
@hemantsonawane95 If you really want the ingress controller works in a single node cluster, you could remove the taint on the master node by running `kubectl taint nodes <YOUR-MASTER-NODE-NAME> node-role.kubernetes.io/master-`

[2019-01-24 03:16] jichenjc commented on #446
I tried before and it doesn't work .... maybe I did something wrong before..

[2019-01-24 06:12] chaosaffe commented on #446
@lingxiankong Is there a reason we explicitly exclude an in-cluster `master` from receiving ingress traffic? In practice a master can handle ingress of traffic just as well as any other node within the cluster, and would simplify a lot of the Octavia handling.

[2019-01-24 11:29] zetaab opened #449 "add proxy protocol support for openstack lbaas octavia"
Is this a BUG REPORT or FEATURE REQUEST?: FEATURE
/kind feature

What happened: new lbaas octavia in openstack supports proxy protocol. Currently at least AWS supports elb with proxy protocol https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L107 I am kind of asking to add similar feature to openstack lbaas to enable proxy protocol support in kubernetes as

[2019-01-24 12:46] lingxiankong commented on #446
@chaosaffe It only makes sense for the master to be a load balancer member, if the master is schedulable, i.e. you need to run `kubectl taint nodes <YOUR-MASTER-NODE-NAME> node-role.kubernetes.io/master-`

[2019-01-25 01:31] jichenjc commented on #446
@lingxiankong so the LB (ingress) does not make sense to master as LB only used for workload pod (not infra pod), that means master node which won't have worker pod scheduled does not need to honor the LB settings.. my understanding correct?

[2019-01-25 02:13] lingxiankong commented on #446
@jichenjc yep, correct.

[2019-01-25 02:33] lingxiankong opened #450 "cinder-csi-plugin: Volume does not contain any information of the cluster and pv"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The volumes created by cinder-csi-plugin doesn't have any information e.g. the cluster name, the reclaim policy, etc. which are important for the resource management of cloud provider.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2019-01-28 09:13] tsmetana opened #453 "[RFE] Manila: add snapshot support"
/kind feature

The Manila provisioner does not offer an API to take snapshot of the volume. This is quilte an essential feature of the storage subsystem.

Please implement API that would allow to take a snapshot of a Manila provisioned volume and enable to create a new volume from the snapshot. There is no standard defined in the core Kubernetes API however the [CSI standard](https://github.com/co

[2019-01-28 10:50] ramineni opened #454 "Use sig-storage-lib-external-provisioner instead of kubernetes-incubator/external-storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubernetes-incubator/external-storage lib is deprecated. The library has moved to kubernetes-sigs/sig-storage-lib-external-provisioner . Code needs to be updated accordingly
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environme

[2019-01-28 10:50] ramineni commented on #454
/assign

[2019-01-28 12:43] johscheuer opened #455 "OpenStack CSI Cinder acceptance tests are failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently all runs of `openstack-acceptance-test-csi-cinder` will fail see: https://github.com/kubernetes/cloud-provider-openstack/pull/430#issuecomment-458104445 and https://github.com/theopenlab/openlab-zuul-jobs/pull/420

Another issue is that the images are created inconsistently e.g. https://github.com/kubernetes-cs

[2019-01-29 17:26] adisky commented on #455
https://github.com/theopenlab/openlab-zuul-jobs/pull/420

[2019-01-29 17:26] adisky commented on #455
It is passing now
/close

[2019-01-30 06:14] jichenjc commented on #450
Also , please update snapshot as well... volume and snapshot should be in same category

[2019-01-30 21:02] openstacker commented on #450
@jichenjc Yes, that's a good point. Snapshot will have the same issue.

[2019-01-31 02:31] lingxiankong opened #460 "octavia-ingress-controller: Incorrect description for load balancer vip floating IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After creating an ingress named `test-octavia-ingress` in `default` namespace, the load balancer vip floating ip description shows:
`Floating IP for Kubernetes ingress default in namespace test-octavia-ingress from cluster 5be2a4b2-a10a-4991-b9a7-db3e9cb79d07`

**What you expected to happen**:
Should be ``Floating IP for K

[2019-02-01 07:12] #269 closed

[2019-02-01 08:51] alkimake commented on #191
I have the same problem with `openstack-cloud-controller-manager` v1.13.1. Still cloud controller manager does not set label `failure-domain.beta.kubernetes.io/zone=nova`

[2019-02-01 11:10] lingxiankong commented on #191
@alkimake did you see any error in openstack-cloud-controller-manager log?

[2019-02-04 02:55] alkimake commented on #191
I had a big problem about logs, which is caused by kubernetes static pod problems. Whenever i change configurations, kubernetes gives me previous pod logs.
Basically i upgraded cloud-controller-manager from v0.2.0, which had the same problem. I upgraded and saw no errors. But i have seen that  `region` is set properly. I wonder may be it is an issue because of upgrade.
So i am gonna deploy a new s

[2019-02-04 06:04] adisky opened #469 "Run CSI Sanity Tests against cinder CSI driver"
**What happened**:
We should run CSI Sanity tests against cinder csi driver
https://github.com/kubernetes-csi/csi-test

[2019-02-05 11:04] #460 closed

[2019-02-06 05:30] ramineni opened #472 "proper error codes should be returned in complaince with CSI spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Currently , cinder csi driver doesn't return status error codes in conformance to CSI Spec . https://github.com/container-storage-interface/spec/blob/master/spec.md

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2019-02-07 08:21] ramineni opened #473 "Add node stage/unstage capability to nodeserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently node stage and unstage capability is not implemented in node server.
**What you expected to happen**:
needs to be added
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/o

[2019-02-07 08:22] ramineni commented on #473
/assign

[2019-02-07 10:11] #449 closed

[2019-02-07 22:18] #46 closed

[2019-02-08 15:44] prein commented on #280
I'm experiencing this in v1.11.5

[2019-02-08 17:25] johscheuer opened #476 "client-keystone-auth: pipe and arguments doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I use the `client-keystone-auth` with only arguments passed (see the following snippet):

[code]

everything works as expected when using `kubectl` without a pipe otherwise I get the following error message:

[code]

**What you expected to happen**:

I expected that kubectl authenticate against Keystone and passes the ou

[2019-02-11 03:26] kiwik commented on #469
Hi @adisky , you can try to add a new job to cover this testing scenario in OpenLab, refer to https://github.com/theopenlab/openlab-zuul-jobs/tree/master/playbooks/cloud-provider-openstack-acceptance-test-csi-cinder

[2019-02-11 07:56] jichenjc commented on #473
Just FYI
part of https://github.com/kubernetes/cloud-provider-openstack/issues/301

[2019-02-11 10:43] #254 closed

[2019-02-11 12:38] #450 closed

[2019-02-12 02:54] jichenjc opened #479 "CSI cinder only use metadata ,not consider config drive"
pkg/csi/cinder/openstack/openstack_metadata.go only consider metadata service ,not config drive now

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:
same flow to cloud proivder and CSI
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-man

[2019-02-12 02:55] jichenjc commented on #479
/assign

[2019-02-12 04:45] adisky commented on #437
/close
https://github.com/kubernetes/cloud-provider-openstack/pull/448

[2019-02-12 04:45] #437 closed

[2019-02-12 20:45] #365 closed

[2019-02-12 20:53] #454 closed

[2019-02-13 10:03] ramineni commented on #473
@jichenjc right, thanks.. will update the same in PR.

[2019-02-14 07:22] alkimake commented on #191
I think the error caused because of upgrade process from v0.2.0. I have setup a new cluster with same openstack credentials, it works perfectly. Lets ignore my comment for now.

[2019-02-15 09:19] ramineni commented on #473
would be tracked as part of #301, so closing this issue.

[2019-02-15 09:19] #473 closed

[2019-02-15 11:32] #301 closed

[2019-02-18 03:14] jichenjc opened #483 "Cinder CSI should add error probe"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Current CSI plugin always assume cinder is not healthy, we need check it
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release):
- Kernel (e.

[2019-02-18 03:14] jichenjc commented on #483
/assign

[2019-02-18 03:48] jichenjc opened #484 "Add cluster info into GetPluginInfoResponse manifest output"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
we return Name and VendorVersion into GetPluginInfo,
add cluster info would be better

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release)

[2019-02-18 03:48] jichenjc commented on #484
/assign

[2019-02-18 05:27] #424 closed

[2019-02-18 05:29] darcyllingyan opened #486 "Question: Deploy the csi plugin for cinder in Kubernetes"
Hi,
I'm new to the Cinder CSI, now I just want to integrate the Cinder CSI to my kubernetes cluster.
I have several questions:

1) If I just want to deploy the cinder CSI, whether it's OK for me to download the pkg/csi/cinder only?
https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/csi/cinder
2) If no, whether there is better way fro me to only deploy it?
3) If yes, The pkg/csi

[2019-02-18 05:36] adisky commented on #486
@darcyllingyan you can reach us via email or slack for queries, github
https://github.com/kubernetes/community/tree/master/sig-openstack#contact
Please check the docs also
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md

[2019-02-18 18:56] lingxiankong commented on #486
Hi @darcyllingyan

1. The best way to deploy cinder csi plugin is to use manifest files in manifests/cinder-csi-plugin folder. You don't directly choose which folder to use.
2. For how to deploy the manifests, see the doc @adisky mentioned, you could see all the secrets there.
3. You can find more detailed information about deploying CSI [here](https://kubernetes-csi.github.io/docs/)

Please let m

[2019-02-19 08:59] darcyllingyan commented on #486
Hi @lingxiankong ,
 Thanks very much for the response.
Based on the doc @adisky mentioned, I followed the **Deploy** part, when deploy the csi plugin, the error "Error: container has runAsNonRoot and image will run as root" is always reported.
note: I use ```docker pull quay.io/k8scsi/csi-attacher:v0.4.1``` to get the image to local, and push the image to my private registry.
Do you have any comme

[2019-02-19 10:51] lingxiankong opened #490 "Security group doesn't work when using Octavia"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
With the configuration:
[code]
The service can't be accessed as expected, the security group on the worker node is not correctly configured.

**What you expected to happen**:
The service could be accessed as expected.

**How to reproduce it (as minimally and precisely as possible)**:
- CPO is running with the above configu

[2019-02-19 11:33] lingxiankong commented on #486
Hi, seems like you have a PodSecurityPolicy resource defined which prevents pods from running with root privileges.

[2019-02-19 22:47] #420 closed

[2019-02-20 05:29] jichenjc commented on #486
yeah, seems the security policy is the root cause, and FYI, the master image already changed to quay.io/k8scsi/csi-attacher:v1.0.1

[2019-02-20 07:20] darcyllingyan commented on #486
Hi @lingxiankong , @jichenjc ,
Thanks for the response!
Yes, it's the security policy issue. After change the security now the plugin has been started.
But Now the attacher plugin has one creash issue. Below is the logs, do you have any suggestions? Thanks!
[code]

[2019-02-20 07:48] ramineni commented on #486
@darcyllingyan looks like you are using older image , could you check if your are using latest images only as @jichenjc pointed. quay.io/k8scsi/csi-attacher:v1.0.1?

[2019-02-20 08:34] adisky commented on #486
@darcyllingyan Please use compatible versions of csi cinder plugin and sidecar containars
if  attacher/provisoner/registrar are at 0.4.x then use k8scloudprovider/cinder-csi-plugin:1.13.1 (csi 0.3.0)
if attacher/provisoner/registrar are at 1.0.x then use k8scloudprovider/cinder-csi-plugin:latest (csi 1.0.0)
There are breaking changes between csi0.3.0 and csi 1.0.0

[2019-02-20 08:37] darcyllingyan commented on #486
Hi @ramineni ,
Thanks for the information.
Yes, the attacher image is old, and after use the v1.0.1. The ERROR has been solved.

But there is another issue:
When I create the PVC, the PVC is Pending status, and after check the log, it shows as below:

Based on the log, it reports the "x509: certificate signed by unknown authority", as now the openstack certificate we used is signed non-official, w

[2019-02-20 08:56] darcyllingyan commented on #486
Hi @adisky,
Thanks for the information. It's useful information and now I have use the compatible versions between csi cinder plugin and sidecar containars.

Thanks

[2019-02-20 10:11] jianglingxia commented on #312
The issue has fixed with modify the bs-version v 2 to v 3？I occure the problem that the pv can not created and the same logs @xlucas

[2019-02-20 19:26] zetaab opened #495 "example cloud-controller manifests are missing RBAC rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I deployed ccm using https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml However, that file is missing all of the clusterrole rbac rules. There are quite many things that needs to be added and in my opinion it is not perfect way to just

[2019-02-20 19:38] zetaab commented on #495
ok, the cluster-admin permissions does not help either:

[code]

logs https://gist.github.com/zetaab/643ac691542c75686bb7a27b86398728

[2019-02-20 21:45] lingxiankong commented on #495
The RBAC manifests are here https://github.com/kubernetes/cloud-provider-openstack/blob/master/cluster/addons/rbac

[2019-02-20 21:59] #490 closed

[2019-02-20 22:03] zetaab commented on #495
great! thanks.

[2019-02-20 22:03] #495 closed

[2019-02-21 03:08] jianglingxia commented on #486
@darcyllingyan
my problem same with you that the pv can not dynamic created,
Events:
  Type     Reason                Age                From                                                                                  Message
  ----     ------                ----               ----                                                                                  -------
  Normal   Provisioning

[2019-02-21 03:44] jianglingxia opened #497 "csi cinder plugin can not dynamic create pv"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the attacher provisioner and node-plugin pod running then create the storageclass and pvc but the pv can not dynamic create
the pod running :
[root@host-101-101-101-134 csi]# kubectl get po --all-namespaces -w
NAMESPACE     NAME                                READY     STATUS    RESTARTS   AGE
kube-system   csi-attacher-cinderplugin

[2019-02-21 03:45] jianglingxia commented on #497
/assign @adisky

[2019-02-21 04:52] ramineni commented on #497
@jianglingxia could do query
`openstack endpoint list` from the node where you are running k8s cluster and could you paste output

[2019-02-21 05:56] jianglingxia commented on #497
[root@178_ctl ~(keystone_admin)]# openstack endpoint list
+----------------------------------+-----------+--------------+----------------+
| ID                               | Region    | Service Name | Service Type   |
+----------------------------------+-----------+--------------+----------------+
| 2e21a8bdf70f424f80f6e19f80a74d91 | RegionOne | cinder       | volume         |
| 1c40a32654f74a5a

[2019-02-21 06:01] adisky commented on #497
/close
It seems @jianglingxia does and have cinder V3 endpoint, and CSI only supports V3
@jianglingxia If you want v2 support initiate discussion here or it better to upgrade cinder to v3
https://github.com/kubernetes/cloud-provider-openstack/pull/213

[2019-02-21 06:01] #497 closed

[2019-02-21 09:06] ramineni opened #498 "Support ca-file option when using csi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently, when creating Openstack instance in csi, ca-file option is not considered. This should be supported
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g.

[2019-02-21 09:06] ramineni commented on #498
/assign

[2019-02-21 09:10] darcyllingyan opened #499 "x509: certificate signed by unknown authority when I use private certificate"
When I create the PVC, the PVC is Pending status, and after check the log, it shows as below:

Based on the log, it reports the "x509: certificate signed by unknown authority", as now the openstack certificate we used isn't signed by x509 and signed private, what can I do to resolve the issue? Thanks!

[code]

[2019-02-21 11:19] jianglingxia opened #501 "standalone-cinder-provisioner with iscsi volume type can not attached the k8s minion host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
i use the standalone-cinder-provisioner and the backend storage is iscsi,the pv and volume can dynamic created,but the device can not attached the k8s minion

the standalone-cinder-provisioner pod yaml use the web :https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/provisioner/deployment.yaml

and the pod r

[2019-02-21 11:20] jianglingxia commented on #501
/cc @j-griffith  @dims

[2019-02-22 01:00] jianglingxia commented on #501
/assign @adisky
thanks

[2019-02-22 02:49] jianglingxia commented on #501
i found the kube-controller-manager.Info log have this message : no plugin match ?
E0222 19:47:34.123277   26459 pvc_protection_controller.go:138] PVC kube-system/keystone-sc-pvc-1 failed with : Operation cannot be fulfilled on persistentvolumeclaims "keystone-sc-pvc-1": the object has been modified; please apply your changes to the latest version and try again
I0222 19:47:34.123516   26459 event.

[2019-02-22 03:05] darcyllingyan commented on #498
Hi @ramineni ,
The ca-file isn't supported now in CSI?
I see in the doc **./cloud-provider-openstack/docs/provider-configuration.md** said, the cloud-config supports the ca-file:
##### Global Optional Parameters
* `ca-file`: Used to specify the path to your custom CA file.

Whether the bug means the request even I support the ca-file in the cloud-config(when created the csi secret yaml), it doesn'

[2019-02-22 04:31] adisky commented on #498
@darcyllingyan CSI has different code path for reading conf(as CSI and cloud-controller-manager are independent), it does not support ca-file

[2019-02-22 04:46] ramineni commented on #498
@darcyllingyan ya . as @adisky mentioned, we have different code paths for csi, right now its not taking into effect.

[2019-02-22 04:52] darcyllingyan commented on #498
Hi @adisky , @ramineni ,
Thanks very much for the information.
Seems the issue has been opened and whether there is a target date when it will be supported? As now in our project we need the ca-file to connect to Openstack to request the volume.

which part code should be modified to support the ca-file, the csi-provisioner? node-driver-registrar or others?
Thanks

[2019-02-22 04:55] ramineni commented on #498
@darcyllingyan https://github.com/kubernetes/cloud-provider-openstack/pull/500 , still a work in progress patch, looking into it. you can expect it to be completed by next week

[2019-02-22 04:58] darcyllingyan commented on #498
@ramineni ,
Thanks very much for the inforrmation.
I will have a try next week when it's ready.

Thanks
Darcy

[2019-02-22 06:49] darcyllingyan commented on #498
Hi @adisky , @ramineni ,
I have another question.
Now the newest release is v1.13.1 which is published in 4 Jan 2019.
Now the release has 108 commits gap to master, so do you know when the next release is published?

Thank
Darcy

[2019-02-22 06:52] ramineni commented on #498
@darcyllingyan next release would be planned in March (around 25th ) I suppose

[2019-02-22 07:34] adisky commented on #486
@darcyllingyan as you have opened another issue for tracking, certificate error, closing this one
/close

[2019-02-22 07:34] #486 closed

[2019-02-22 08:17] jianglingxia commented on #501
/assign  @dims

[2019-02-22 08:51] ramineni commented on #498
@darcyllingyan #500 this PR might solve your issue. Could you check?

[2019-02-22 09:01] #292 closed

[2019-02-25 09:45] dricoco opened #503 "octavia ingress controller, load balancer member creation"
/kind bug

**What happened**:
Member creation failed in the octavia load balancer to route traffic to the pods

**What you expected to happen**:
Member creation achieved

**How to reproduce it (as minimally and precisely as possible)**:
just create an octavia ingress controller, and this will failed because the backup field that is necessary at least in stein release is not present.

you'll get
20

[2019-02-25 14:59] #498 closed

[2019-02-25 15:11] #476 closed

[2019-02-25 15:17] #302 closed

[2019-02-26 02:09] jianglingxia commented on #501
my pod fail log is :
Events:
  Type     Reason                  Age              From                      Message
  ----     ------                  ----             ----                      -------
  Normal   Scheduled               6m               default-scheduler         Successfully assigned kube-system/iscsi-zzz to 111.111.111.122
  Normal   SuccessfulAttachVolume  6m               attach

[2019-02-26 06:22] ramineni commented on #499
@darcyllingyan you could try with latest image now, as PR is merged . Remove any existing cinder-csi-plugin latest image in local , because if its already available it wont pull freshly from docker registry.

[2019-02-26 06:55] adisky commented on #469
/assign

[2019-02-26 07:43] darcyllingyan commented on #499
@ramineni ,
Thanks very much for the quick response.
After tested it, the PVC was created successfully.
[code]
But when I try to create a POD which create PV based on the PVC, following error is reported:
[code]

[2019-02-26 08:09] ramineni commented on #499
@darcyllingyan could you provide us nodeplugin logs for sdc-bcmt-01-edge-worker-01 node and also attacher logs.
Could you give us o/p of , kubectl describe node   sdc-bcmt-01-edge-worker-01

[2019-02-26 08:26] darcyllingyan commented on #499
@ramineni ,
The attacher logs is below:
[attacher.log](https://github.com/kubernetes/cloud-provider-openstack/files/2904400/attacher.log)

The node_drive_registrar log is:
[node-driver-registrar.log](https://github.com/kubernetes/cloud-provider-openstack/files/2904409/node-driver-registrar.log)

TheThe describe node sdc-bcmt-01-edge-worker-01 log is below:
[describe_node_edge_worker_01.log](https:

[2019-02-26 08:31] ramineni commented on #499
@darcyllingyan are u able to do kubectl describe csinodeinfo ?

[2019-02-26 08:33] darcyllingyan commented on #499
@ramineni ,
The result is null
[code]

[2019-02-26 08:36] ramineni commented on #499
@darcyllingyan that should be created by node-driver-registrar https://kubernetes-csi.github.io/docs/csi-node-info-object.html ideally, could you manually create crd first  kubectl create -f https://raw.githubusercontent.com/kubernetes/csi-api/master/pkg/crd/manifests/csinodeinfo.yaml and then create csi manifests

[2019-02-26 08:54] ramineni commented on #499
@darcyllingyan could you also give me the log of node-driver-registrar container , the above log is of cinder container of nodeplugin

[2019-02-26 09:12] darcyllingyan commented on #499
@ramineni,
It's strange, just now after replaced the new csi cinder image, I can create the PVC successfully.
After delete the csi manifests and re-create the manifests, when I try to create the PVC again, it again reports "failed to provision volume with StorageClass "csi-sc-cinderplugin": rpc error: code = Unknown desc = Post https://10.75.225.36:13000/v3/auth/tokens: x509: certificate signed by

[2019-02-26 09:16] darcyllingyan commented on #499
@ramineni ,
Below is the node-driver-registrar container log:
[Uploading node-driver-registrar1.log…]()

[2019-02-26 09:25] ramineni commented on #499
@darcyllingyan im unable to download the log

[2019-02-26 09:36] darcyllingyan commented on #499
@ramineni ,
One PV can't be deleted successfully, not sure whether it has impact with the "x509: certificate signed by unknown authority".
[code]

[2019-02-26 10:52] ramineni commented on #499
@darcyllingyan Thats strange , for safe side , you could change `imagePullPolicy: Always` in all manifests files and check

[2019-02-26 12:56] darcyllingyan commented on #499
@ramineni ,
Thanks very much for the suggestion, now the PVC can be created successfully after change ```imagePullPolicy: Always```, but there is still the issue ```AttachVolume.Attach failed for volume "pvc-3d1d6dfb-39c3-11e9-9185-fa163e02d826" : node "sdc-bcmt-01-edge-worker-01" has no NodeID annotation```.
note: I have created the CRD csinodeinfos.csi.storage.k8s.io manually.

[code]
The relate

[2019-02-26 15:02] ramineni commented on #499
@darcyllingyan looks like problem is NodeId annotation is missing , that should be added by node-driver-registrar. Could you give me the o/p of kubectl describe csinodeinfo and also attach node-plugin cinder container logs , attacher cinder container logs also.

[2019-02-26 15:40] darcyllingyan commented on #499
@ramineni ,
Thanks for the information.
Below are the logs:
node-driver-registrar cinder container log:
[nodeplugin_cinder_container.log](https://github.com/kubernetes/cloud-provider-openstack/files/2906182/nodeplugin_cinder_container.log)

The attach cinder container log:
[attacher_cinder_container.log](https://github.com/kubernetes/cloud-provider-openstack/files/2906183/attacher_cinder_container

[2019-02-27 05:33] jichenjc commented on #503
guess it should not be a big problem, let me check this

actually very very curious on openstack API not compatible with old version (openstack vision and mission stated it's backward compatible for API)

[2019-02-27 05:41] jichenjc commented on #503
weird, https://developer.openstack.org/api-ref/load-balancer/v2/?expanded=create-member-detail mentioned

backup (Optional) | body | boolean | Is the member a backup? Backup members only receive traffic when all non-backup members are down. New in version 2.1
-- | -- | -- | --

so maybe consult with octavia folks first?

[2019-02-27 05:43] #484 closed

[2019-02-27 08:00] ramineni commented on #499
@darcyllingyan what is the kubernetes version you are using ?

[2019-02-27 09:04] darcyllingyan commented on #499
@ramineni

The kubernetes version is v1.12.3:
[code]
In my cluster, after modifed the```/etc/kubernetes/manifests/kube-apiserver.yml``` and ```/etc/kubernetes/kubelet-config.yml```, the feature will take effect auto and don't need to aply.

Now it still shows null for ```kubectl describe csinodeinfo```

[2019-02-27 09:11] ramineni commented on #499
@darcyllingyan minimum requirement of node-driver-registrar is v1.13 https://github.com/kubernetes-csi/node-driver-registrar#compatibility ,

[2019-02-27 09:22] darcyllingyan commented on #499
@ramineni ,
Thanks for the response!
I will upgrade to v1.13 and try again.

Thanks
Darcy

[2019-02-27 14:20] mrhillsman opened #511 "e2e reporting to testgrid missing for 1.13 and 1.14"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
e2e conformance testing for k8s 1.13 and 1.14

**What you expected to happen**:
e2e reporting to testgrid

**How to reproduce it (as minimally and precisely as possible)**:
n/a

**Anything else we need to know?**:
n/a

**Environment**:
- openstack-cloud-controller-manager version: n/a
- OS (e.g. from /etc/os-release):

[2019-03-01 15:14] darcyllingyan opened #514 "The cinder-csi couldn't be deployed when upgrade the kubernetes from v1.12 to v1.13"
Hi,
I have deployed the cinder-csi in kubernetes v1.12 successfully, as the volume mount issue, now I have to upgrade the kubernetes from v1.12 to v1.13.
But after I upgrade the kubernetes to v1.13, all the related cinder-csi pods couldn't be started.
The only different for the cinder-csi-plugin deployed in v1.12 and v1.13 is the cinder-csi-plugin image:
1. The cinder-csi-plugin image, both versio

[2019-03-01 15:49] darcyllingyan commented on #499
@ramineni ,
After I upgraded the kubernetes version to v1.13, now all the cinder-csi plugin pod can't be started.
The detailed description is in #514 .
DO you have any suggestions?
Thanks.

[2019-03-02 02:38] darcyllingyan commented on #514
Seems the cinder-csi driver version is wrong, now the version is 0.2.0.
But it's strange as I pull the latest cinder-csi-plugin images, but it gets the v0.2.0 version.
[code]
:
[code]

[2019-03-02 03:03] #514 closed

[2019-03-03 08:48] darcyllingyan commented on #499
The csinodeinfo issue has been resolved after upgrade k83 to v1.13.

[2019-03-03 08:48] #499 closed

[2019-03-03 08:56] darcyllingyan opened #517 "The csi-nodeplugin-cinderplugin Daemonset can't be started in the the nodes in one cluster"
Hi,
The csi-nodeplugin-cinderplugin is Daemonset and should be started in all nodes in the cluster.
I created several clusters and deployed the cinder-csi plugin, but in one cluster the csi-nodeplugin-cinderplugin couldn't be started in all nodes but only in part nodes.

1. Below is the node information.
[code]
2. Below is the cinder-csi plugin pods， the ```csi-nodeplugin-cinderplugin``` pods are

[2019-03-04 06:56] johscheuer opened #519 "Inconsistent arguments for octavia ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I tried the [octavia ingress](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-octavia-ingress-controller.md) feature and noticed that the arguments follow different schemas e.g. in the "normal" [cloud provider tree](https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudpr

[2019-03-04 08:10] darcyllingyan opened #521 "Integrate the external cloud provider for OpenStack to cluster"
Hi,
Now I have installed the cinder-csi successfully, the cinder-csi is part of the cloud-provider-openstack.
My question 1:
If I have just installed the cinder-CSI, whether I need to install the openstack-cloud-controller-manager? If I didn't install the openstack-cloud-controller-manager or other something necessory(I'm not clear), whether it has the usage impact with the cinder-csi?

Question2:

[2019-03-04 13:42] #521 closed

[2019-03-04 22:08] #285 closed

[2019-03-05 01:54] jianglingxia commented on #501
#74787

[2019-03-06 03:15] jianglingxia opened #522 "bulid the cloud-provider-openstack print error with the "sigs.k8s.io/sig-storage-lib-external-provisioner/controller""
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

i clone the cloud-provider-openstack code and bulid the rbd.go then log error :can't load package: package github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller: code in directory /media/B/src/github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller expects import "sigs.k8s.io/sig-s

[2019-03-06 03:16] jianglingxia commented on #522
/assign @ramineni
thanks for your review!

[2019-03-06 03:16] jianglingxia commented on #522
#468

[2019-03-06 05:33] jichenjc commented on #522
I think I asked simliar question in slack channel a few days before ... and rm vendor and Gopkg.lock rebuild solved that problem

[2019-03-06 06:00] jichenjc commented on #301
ControllerExpandVolume need to be added as well..

[2019-03-06 07:31] jianglingxia commented on #522
thanks for your reply!@jichenjc
i do it with your advice rm vendor but not found the Gopkg.lock  and then the error is :

 code in directory /media/B/src/github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller expects import "sigs.k8s.io/sig-storage-lib-external-provisioner/controller"
../../../util/mount/mount_linux.go:33:2: cannot find package "golang.org/x/sys/unix" in any of

[2019-03-06 08:22] jianglingxia commented on #501
this is kubernetes v1.13 bug,i have commit the pr and i will close the issue,thanks

[2019-03-06 08:22] #501 closed

[2019-03-06 08:27] jianglingxia opened #524 "standalone-cinder-provisioner with iscsi volume type attached the k8s minion host but cinder list see attached to NONE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
i use the standalone-cinder-provisioner and the backend storage is iscsi,the pv and volume can dynamic created, the device can  attached the k8s minion but cinder list see attached to NONE

| cd265309-5c86-4bba-80dc-da52a63cbe23 | 90d234769080430d9ae8b0052d8f8cd2 |   in-use  | cinder-dynamic-pvc-91233138-39a5-11e9-9a2c-0a5

[2019-03-06 08:27] jianglingxia commented on #524
/assign @aglitke

[2019-03-06 08:29] jianglingxia commented on #524
/assign @j-griffith  @dims
the pr merge is
https://github.com/kubernetes/cloud-provider-openstack/pull/179

[2019-03-07 00:53] jianglingxia commented on #524
/cc @aglitke

[2019-03-07 01:08] darcyllingyan opened #525 "cinder-csi-plugin: rpc error: code = Internal desc = executable file not found in $PATH"."
Hi ,
I have a question about the cinder-csi-plugin image usage. As I want to use my own base image so I built the cinder-csi-plugin image private.
The source code I use is https://github.com/kubernetes/cloud-provider-openstack.git, it is the master branch.

The process is:
[code]
I have built it successfully and all the pods are running:
[code]

But when I create a nginx pod to test it, it reports

[2019-03-07 10:31] #519 closed

[2019-03-11 03:05] lingxiankong commented on #395
/remove-lifecycle stale

We still need this.

[2019-03-12 10:24] GeetikaBatra opened #529 "Switch to gomodules for dependency management"
With introduction of gomodules in from GO 1.11, we should switch to go modules for dependency management.

[2019-03-12 11:40] mape90 opened #531 "Cinder CSI should not trust openstack device path"
**Is this a BUG REPORT**:
/kind bug

**What happened**:
Cinder CSI do not validate path from the node, but trusts the path given by Openstack. This causes that non trivial environment will eventually fail to mount volumes as device path on node and one given by Openstack are out of sync.

This causes either that volume can not be mounted or wrong volume is mounted to the pod.

**What you expected

[2019-03-13 05:09] #483 closed

[2019-03-13 16:54] opal-labs opened #534 "Standalone-cinder Missing Secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volume created by the standalone cinder provisioner fails to mount a pod due to a missing secret.

**What you expected to happen**:
The pod to mount the volume.

**How to reproduce it (as minimally and precisely as possible)**:
I may be missing a step or doing something wrong, but on a bare metal kubernetes cluster I crea

[2019-03-14 09:28] jianglingxia commented on #522
can somebody help? i rm the vendor but the error always exist

main.go:24:2: code in directory /media/B/src/github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller expects import "sigs.k8s.io/sig-storage-lib-external-provisioner/controller"
错误: 进程退出代码 1.

[2019-03-14 09:40] ramineni commented on #522
@jianglingxia are u using master branch GoPkg.lock only?

[2019-03-14 10:37] jianglingxia commented on #522
@ramineni  i have send you message in slack ,thanks
i fetch the master branch and build the main.go main.go:24:2: code in directory /media/B/src/github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller expects import "sigs.k8s.io/sig-storage-lib-external-provisioner/controller"
i have remove the vendor
and the master branch have the Gopkg.lock and Gopkg.toml

[2019-03-14 11:22] ramineni commented on #522
@jianglingxia as discussed on slack , build failing because you are using different tool to build which might not take into account Gopkg.lock file , and fetching the master of sig-storage-lib-external-provisioner .
As `make build` is succeeding , can i close this bug now?

[2019-03-14 11:27] jianglingxia commented on #522
yeah, in your support and i have build success and i close the pr!thanks

[2019-03-14 11:27] #522 closed

[2019-03-14 14:59] dricoco commented on #386
Same here with a VM inside openstack

/remove-lifecycle stale

[2019-03-14 22:39] lingxiankong commented on #386
The in-tree pv/pvc support in openstack-cloud-controller-manager has been deprecated, please try to use cinder-csi-plugin.

[2019-03-16 13:42] praseodym commented on #281
/remove-lifecycle stale

[2019-03-17 13:22] darcyllingyan opened #535 "The PV could be created with a new deployed cinder-csi, more than 1.5hour later, create the pv will report failed to provision volume with StorageClass "csi-sc-cinderplugin": timed out waiting for the condition"
Hi,
Initially I installed the cinder-csi driver, the pvc could be created and bound, after several hours or longer when I want to create a POD with the volume provided by CSI again, it always failed and report ```ProvisioningFailed    49s (x4 over 11m)     csi-cinderplugin_csi-provisioner-cinderplugin-0_9498d1df-459b-11e9-8537-36bea033277e  failed to provision volume with StorageClass "csi-sc-cind

[2019-03-18 07:47] #511 closed

[2019-03-18 09:29] darcyllingyan commented on #535
Does anyone has suggestions? Thanks.

Besides, I found another issue,
When the control node in k8s cluster doesn't have redundancy, the node-driver-registrar couldn't be started in all nodes.
1. Now I have three nodes
[code]
2.  The csi-nodeplugin-cinderplugin is only started in darcy-02-worker-01  but other two nodes.
[code]

Thanks
Darcy

[2019-03-18 14:44] dricoco commented on #514
Hi
Got the same issue here, how did you resolve the problem ?

[2019-03-18 14:45] dricoco commented on #514
secure-k8s-coreos12-q53vksyzypjz-master-0 cinder-csi-plugin # kubectl logs -f csi-attacher-cinderplugin-0 -n kube-system cinder
I0318 14:35:26.578495       1 driver.go:49] Driver: csi-cinderplugin version: 0.2.0

secure-k8s-coreos12-q53vksyzypjz-master-0 cinder-csi-plugin # grep image *
csi-attacher-cinderplugin.yaml:          image: quay.io/k8scsi/csi-attacher:v1.0.1
csi-attacher-cinderplugin.yam

[2019-03-18 15:04] darcyllingyan commented on #514
Hi,
The image version should be compatible, if you use the csi-attacher v1.0.1 version, the csi-cinderplugin should use the lastest image.
[code]

[2019-03-18 15:11] dricoco commented on #514
The problem is that when I use "latest" it's 0.2.0 that gets pulled

secure-k8s-coreos12-q53vksyzypjz-master-0 cinder-csi-plugin # grep image *
csi-attacher-cinderplugin.yaml:          image: quay.io/k8scsi/csi-attacher:v1.0.1
csi-attacher-cinderplugin.yaml:          imagePullPolicy: "Always"
csi-attacher-cinderplugin.yaml:          image: docker.io/k8scloudprovider/cinder-csi-plugin:latest
csi-at

[2019-03-18 15:12] dricoco commented on #514
ok I get it, the example files should be modified to use k8scloudprovider/cinder-csi-plugin:1.13.x

instead of quay,

[2019-03-18 15:18] darcyllingyan commented on #514
The 1.13x corresponds to the CSI Sidecar Version as v0.3.x, v0.4.x but v1.0.1, so still need to use the latest tag.
Delete the old images and pull again?
or maybe you could try to change the example files from imagePullPolicy: "IfNotPresent" to imagePullPolicy: "Always"

[2019-03-18 15:20] darcyllingyan commented on #517
As I met the same issue again.

[2019-03-18 15:24] dricoco commented on #514
Ok It worked with imagePullPolicy: "Always"
very strange as I never mentioned 0.20 and that is a fresh install.

thanks a lot for your help, very kind of you.

[2019-03-18 19:54] lingxiankong commented on #517
what's the manifest you were using to deploy the DaemonSet?

[2019-03-18 19:59] dricoco opened #537 "latest on docker.io is version 0.2"
/kind bug

**What happened**:
pulled cinder docker.io/k8scloudprovider/cinder-csi-plugin:latest and got version 0.2
**What you expected to happen**:
got the latest version of cinder-csi
**How to reproduce it (as minimally and precisely as possible)**:
this is a followup on closed issue #514
I think a some moment on docker the latest version is the good one and at some other it's 0.2.
I wanted to e

[2019-03-18 20:10] danielraad commented on #537
I just ran into this bug as well, I also tried with `imagePullPolicy: Always` to rule out local image cache.

[2019-03-18 20:11] dricoco commented on #537
yes I tried it also with imagePullPolicy: Always, worked once this afternoon, and now got the 0.2 again

[2019-03-18 20:16] danielraad commented on #537
@dricoco it seems that :latest was updated shortly after you created this issue and it is now working for me.

[2019-03-18 20:26] dricoco commented on #537
image had been rebuilt 24 mn ago and it seems to be the right one on docker.io

[2019-03-19 00:55] darcyllingyan commented on #517
Hi @lingxiankong ,
Thanks for the response!
I use the cinder-csi-plugin manifest.

Below is the new cluster I created, now I have three nodes, but the **csi-nodeplugin-cinderplugin** which is DaemonSet in **csi-nodeplugin-cinderplugin.yaml** is only started in one node.
[code]
The csi-nodeplugin-cinderplugin is only started in darcy-02-worker-01 but other two nodes.
[code]

Thanks
Darcy

[2019-03-19 02:25] darcyllingyan commented on #514
Hi @dricoco ,
Have you ever met the issue #535, as now I have tried in five clusters and all have the same issue, did you meet it?

Thanks

[2019-03-19 05:54] darcyllingyan commented on #517
Hi,
After check the log for k8s_cinder_csi-nodeplugin-cinderplugin for cinder-csi-plugin, it reports the ** targetpath not found** error, whether there is some configuration issue about my CSI:
[code]

Thanks

[2019-03-19 06:23] adisky commented on #537
pulling latest should always be on version 1.0.0, will check while this is happening meanwhile i will push a 1.0.0 image also

[2019-03-19 06:56] darcyllingyan commented on #535
Hi @adisky ,
Thanks for the response, below is the cinder-container deployed with csi-provisioner
[code]

[2019-03-19 07:14] darcyllingyan commented on #535
Hi @adisky ,

Below is my step by step procedure:
OK,
1. I docker pull all the images needed for the cinder-csi-plugin and push to my local registrary:
[code]
2. Download the cinder-csi-plugin manifest
[code]
3. Apply all the yaml and all the cinder-csi-plugin are started
[code]
4.  Create the storageclass:
[code]
5. Create the pvc.yaml
[code]

6. Now all the pvc could be created after I tried man

[2019-03-19 07:36] darcyllingyan commented on #535
Hi,
Seems now it isn't more than 70 mins, the timeout error is generated.
Just now I just create a new pvc ```csi-pvc-cinderplugin555 ``` and it can bount.
[code]
Now when I want to create a new pvc  ```csi-pvc-cinderplugin666 ```, the timeout error is reported.

[code]
1. The sc.yaml
[code]
2. The pvc.yaml
[code]
I just use the nginx as the pod yaml(ps: I mainly frenquently create the pvc to do t

[2019-03-19 08:20] dricoco commented on #312
Hello,
I'm running into this issue too,

I've tried
[BlockStorage]
bs-version=v2 or v3 or auto

I have a cinder v3 endpoint created :

| db2878b3ee9448d29a99e0e62ffe7af5 | RegionOne | cinderv3     | volumev3        | True    | admin     | http://controller:8776/v3/%(project_id)s      |
| dc05d3af2b324955b4d0c63552d3d6cc | RegionOne | cinderv3     | volumev3        | True    | public    | http://Y.

[2019-03-19 08:38] dricoco commented on #514
hi @darcyllingyan,
not for the moment I'm running into other issues that prevents the provisionner to work like #312

[2019-03-19 09:56] dricoco opened #539 "enable log"
**What happened**:
I have to debug communication between the pod and my openstack. I cannot pass -v4 or -v5 to the kubernetes manifest

[code]

**What you expected to happen**:
I expected that -v would be available in the flags

**How to reproduce it (as minimally and precisely as possible)**:
Just launch the manifest and check /bin/cinder-csi-plugin inside one of the pods

[2019-03-19 10:02] dricoco commented on #539
the flags were available with version 0.2.0

[2019-03-19 10:07] ramineni commented on #539
@dricoco I have observed that too , may be recent packages update caused this , need to have look at it.

[2019-03-19 10:28] dricoco commented on #539
if I check the example here
https://github.com/kubernetes/klog/blob/master/examples/coexist_glog/coexist_glog.go
and
https://github.com/kubernetes/cloud-provider-openstack/blob/v0.2.0/cmd/cinder-csi-plugin/main.go

looks we are missing some little parts
[code]

[code]

[2019-03-19 14:23] joroec opened #540 "Nodes do not get initialized although CCM is running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I setup a Kubernetes 1.13.4 cluster with the external cloud controller manager for OpenStack, I experience the following problem: After following the instructions at https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-controller-manager-with-kubeadm.md the OpenStack cloud controller manager

[2019-03-19 15:05] dricoco commented on #540
I also ran into this error

`Error determining if node master-1 shutdown in cloud: ProviderID "" didn't match expected format "openstack:///InstanceID"`

I checked the code and as we are using cloud-provider=external the prefix 'openstack://' doesn't seems to be added as it would be with cloud-provider=openstack. At least that's what I understood of the problem.

[2019-03-19 15:10] obitech commented on #540
@dricoco have you been able to fix the problem?

[2019-03-19 15:12] dricoco commented on #540
no sorry, I then tried to move on to cinder csi daemon set, where I ran into some other issues...

[2019-03-19 15:23] obitech commented on #540
Ah, I see. Which OpenStack version are you running? And do you remember where you found the issue in the code? Thanks!

[2019-03-19 15:24] joroec commented on #540
By the way: We currently use OpenStack Version "Pike".

[2019-03-19 16:14] dricoco commented on #540
I just rechecked your error, I didn't get
ProviderID ""
but
ProviderID "/UUID" on my side just to be precise

[2019-03-19 20:13] oz123 opened #541 "missing pods-cloud-data in openstack-cloud-controller-manager-ds.yaml"
**What happened**:
I was trying to run the cloud-controller-manager and encountered a lot of the following messages:

See also the discussion in #540

It turns out, that this happens because  [readInstanceID](https://github.com/kubernetes/cloud-provider-openstack/blob/664540459d96aaf10b809352e33a2a3c129241ef/pkg/cloudprovider/providers/openstack/openstack.go#L364) tries to read the file `/var/lib/

[2019-03-20 04:01] darcyllingyan commented on #535
1. Using the dashboard/internal provisioner could create the cinder volume, so the cinder volume could be created.
2. Manually create pv could be successful
[code]

3. But  manually creating PV will be in Pending status.
[code]

[2019-03-20 06:22] danielraad commented on #537
@adisky fyi I just pulled `csi-cinderplugin version: 0.2.0` again from :latest

[2019-03-20 06:31] adisky commented on #537
@danielraad I still not pushed 1.0.0, while doing this i found cinder-csi image is heavier, wait for this two PR's to get merged, then will push https://github.com/kubernetes/cloud-provider-openstack/pull/538
https://github.com/kubernetes/cloud-provider-openstack/pull/543

[2019-03-20 07:35] darcyllingyan commented on #535
1. I have confirmed that the cinder volume could be created by dashboard or internal provisioner, seems the  create volume timeout issue only exist when creating volume with external provisioner.

[2019-03-20 07:39] dricoco commented on #537
thanks @adisky !

[2019-03-20 08:39] darcyllingyan commented on #535
After contact the lab administor, he and I both can NOT sure whether the volume creation request is  used for CSI

[code]

[2019-03-20 08:58] ramineni commented on #535
@darcyllingyan are any of your nodes in zone2 ? could you give me zone annotation of all your nodes

[2019-03-20 09:33] ramineni commented on #537
@dricoco I tried the same , pulling latest version from docker.io gives me 1.0.0 version only

[2019-03-20 09:39] darcyllingyan commented on #535
Not sure how did the CSI get the token, if the token changed, whether CSI will get the changed token?
In our lab environment, the token will chang, so maybe everytime the token change, the volume provision will be failed as it can't connect to Openstack.

After I delete the cinder-csi-plugin pod, and re-install again, the CSI is OK as now the token is re-created.

Not sure whether it's the root ca

[2019-03-20 09:44] dricoco commented on #537
that depends of the moment you are pulling it. But will be fixed when @adisky can tag a 1.0.0 release

[2019-03-20 10:15] ramineni commented on #537
@dricoco tried just now.. @adisky you are also facing same issue with latest image?

[2019-03-20 10:18] adisky commented on #537
@ramineni I have not checked, I just think a 1.0.0 tag should be available, latest is for CI and developers

[2019-03-20 10:27] ramineni commented on #537
@adisky +1 on adding 1.0.0. tag, but the current latest image should also according to master, we should get that checked, I did pull the image , it is 1.0.0 only , could you check the same , if its according to master we can mark this bug as invalid

[2019-03-20 10:34] adisky commented on #537
@ramineni sure, will check

[2019-03-20 10:36] dricoco commented on #537
Just wondering, how long does it usually take for PR to be merged when test are ok ?

[2019-03-20 11:15] oz123 opened #544 "Please document how to setup local development environment"
/kind bug

**What happened**:
The documentation in `cloud-provider-openstack/docs/getting-started-provider-dev.md`
refers to a script in `./hack/local-up-cluster.sh`. However, this script does not exist.

**What you expected to happen**:
I can find the script and setup a development environment.

**How to reproduce it (as minimally and precisely as possible)**:
Checkout the current master branch,

[2019-03-20 11:54] ramineni commented on #537
@dricoco @adisky  14 mins ago one image is pushed which is 0.2.0 , I think some other job might be pushing this image with latest tag which is wrong, will check

[2019-03-20 12:08] adisky commented on #537
@ramineni something fishy here
cc @kiwik @mrhillsman

[2019-03-20 13:13] oz123 commented on #540
I believe the issue is because `providerID` is passed with leading slash.

Here is why I think this is the reason, I added the following debug message:

[code]

In the logs I then see:

[code]

[2019-03-20 13:15] darcyllingyan commented on #535
@ramineni ,
Thanks for the response.
I have four nodes in the cluster.
[code]
I'm still contacting the lab adminostor and I think the the zone issue shouldn't be caused by CSI( The lab administror send the log only based on the time and it maybe not the externa provision volume request) as the "availability: nova" is defined in storageclass.

[code]