[2019-03-20 13:45] tghartland opened #545 "cloud-controller-manager should have permission to watch secrets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was consistently seeing 2-3 pod restarts by the time the cluster was ready. The number of restarts does not increase after this.
[code]
By SSHing to the master node and patching the cloud-controller-manager daemonset as soon as it is created to increase the logging level, then checking the logs through docker:
[code]
w

[2019-03-20 14:17] mrhillsman commented on #537
@adisky @ramineni file bug for jobs at https://github.com/theopenlab/openlab/issues/new/choose

[2019-03-20 16:06] tghartland commented on #540
I also see errors with the provider ID, but for me it doesn't prevent nodes from being initialized properly.
[code]
It comes from this function https://github.com/kubernetes/cloud-provider-openstack/blob/fedc8eba8d21856d001b4ca809bf26d5cbbc790d/pkg/cloudprovider/providers/openstack/openstack_instances.go#L178-L189
but when I tried changing that to add the openstack:// prefix, things broke in other

[2019-03-20 18:43] mrhillsman opened #547 "<!-- This form is for bug reports and feature requests! -->"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-03-20 18:43] #547 closed

[2019-03-20 20:20] lingxiankong commented on #541
No, the provider ID is retrieved here k8s.io/cloud-provider-openstack/vendor/k8s.io/cloud-provider/cloud.go:94. OCCM is getting the instance ID from Nova API rather than metadata service.

/close

[2019-03-20 20:20] #541 closed

[2019-03-20 21:01] lingxiankong commented on #540
Hi @joroec, I just installed a k8s cluster with latest version of openstack-cloud-controller-manager, i didn't see any issues. From the occm log you provided, I neither see any error suspicious. Could you please paste the node details? From the log, after:
[code]
occm should then remove the node taint.

[2019-03-20 21:06] oz123 commented on #540
@lingxiankong I am working on this issue with @joroec. We are currently using kubernetes 1.13.1., the logs of the os-CCM show:

[code]
This keeps repeating endlessly.

[2019-03-21 00:21] lingxiankong commented on #540
Can you set a higher log level so we could see more info?

[2019-03-21 02:54] lingxiankong opened #550 "k8s-keystone-auth: Policy setting improvement"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The authorization policy setting is too complex and not flexible, especially for the fine-grained controls for the resource.

**What you expected to happen**:
I'd propose the following setting format:
[code]

- The key in `resource_permissions` is in the format of `<namespace>.<resource>`
- `*` means all the namespaces

[2019-03-21 03:04] darcyllingyan commented on #535
As after  the cinder-csi-plugin initially started successfully and after 1.5 hour later, it couldn't provision volume. After check the token expiration time, seems the root cause is cinder-csi-plugin reauth failed.

After check the cinder-csi-plugin reauth part, it only support IDENTITY version as v2, right? So if I use the IDENTITY version as v3, it couldn't reauth successfully?

[2019-03-21 05:39] darcyllingyan commented on #517
Though the ```targetpath not found``` is reported, and the ```cinder_csi-nodeplugin``` is started in only one node for the cluster, one POD with csi can be running successfully.
Any suggestions about the error? Thanks

[2019-03-21 08:48] dricoco opened #551 "csi-attacher-cinderplugin cannot communicate with openstack"
/kind bug

**What happened**:
The daemonset is running ok

kube-system   csi-nodeplugin-cinderplugin-bkwx8                                   2/2     Running             1          25h
kube-system   csi-nodeplugin-cinderplugin-f64d9                                   2/2     Running             4          25h
kube-system   csi-provisioner-cinderplugin-0                                      2/2     R

[2019-03-21 09:03] oz123 commented on #540
I set the log to more vebose (-v=8) and I saw that I am getting the same error as in #546. Adding `watch` removed those error. But other than that I see nothing else.
One more piece of info that might be relevant, our openstack is pike. Could that be an issue?

Here are some logs: http://paste.ubuntu.com/p/VqXtTGXXn2/

[2019-03-21 13:21] dims commented on #406
/assign @fedosin

[2019-03-21 15:07] darcyllingyan opened #552 "node-driver-registrar pod can't be started and reports "Connecting to /csi/csi.sock timed out""
Hi,
When I deployed the CSI driver, the node-driver-registrar pod couldn't be started and always reports the ``` Connecting to /csi/csi.sock TRANSIENT_FAILURE Connection timed out``` error, whether there are some issues or restrictions for my cluster environment when using the CSI plugin as I deployed successfully in another cluster.
The difference between the two clusters are node number.

Now th

[2019-03-21 20:09] lingxiankong commented on #540
[code]

Pay attention to the `Response Status: 409`, OCCM failed to update Node resource in Kubernetes.

[2019-03-21 23:24] #545 closed

[2019-03-22 04:26] adisky commented on #544
@oz123 ./hack/local-up-cluster.sh is a script to create local k8s cluster, it is here
https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh

[2019-03-22 04:26] adisky commented on #544
/close

[2019-03-22 04:26] #544 closed

[2019-03-22 04:32] oz123 commented on #540
This already succeeded but the OCCM itself earlier:

[code]
A few seconds later it gets the conflict:

[code]

This keeps repeating without any clear explanation. Can you or somebody else give a hint are we stuck in this loop?

[2019-03-22 04:38] oz123 commented on #544
@adisky the documentation `getting-started-provider-dev.md` says:

For a new comer,  `cluster` could be one of two: either a kubernetes cluster or openstack cluster.

As already a member of k8s one might know about the location you pointed to. I believe this should be improved in the readme.

[2019-03-22 05:17] adisky commented on #544
About Openstack cloud, it is stated here
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/getting-started-provider-dev.md#openstack-cloud
still if you feel to have more clarity, feel free to create a PR directly

[2019-03-22 05:43] lingxiankong commented on #540
Hi @oz123, I didn't see the `PUT https://10.96.0.1:443/api/v1/nodes/master-1-ext-ccp` was successful, am I missing something? The `200 OK` from your log is for GET request, not PUT.

[2019-03-22 05:43] lingxiankong commented on #540
The reason of OCCM keeps looping is because it failed to update Node in Kubernetes, it always got 409 error.

[2019-03-22 05:47] lingxiankong commented on #446
/close

[2019-03-22 05:47] #446 closed

[2019-03-22 06:26] oz123 commented on #540
OK, sorry, I missed that.

I can, but I would not know where else I should look. Being totally blinded already.

Could the internal cloud provider is working too?

The failing put is:
[code]
The node here is the master itself, what else could make it exist? Shall I remove it manually before starting the CCM?

[code]

[2019-03-22 08:01] dricoco commented on #541
@lingxiankong
if you look at this function :
  return cloud.ProviderName() + "://" + instanceID, nil

the problem is that
ProviderName()

is defined in pkg/cloudprovider/providers/openstack/openstack.go
and we shall launch the OCCM  with cloud-provider=external then
ProviderName() will return null I think.

[2019-03-22 08:13] oz123 commented on #541
if I start with `cloud-provider=external` the code will crash:

[code]

[2019-03-22 08:14] dricoco opened #556 "cinder csi attacher is missing from Makefile"
/kind bug

**What happened**:
I'm trying to build my own image of CSI cinder and saw that csi-attacher:v1.0.1 wasn't build

watching the line in Makefile we can see that

build: openstack-cloud-controller-manager cinder-provisioner cinder-flex-volume-driver cinder-csi-plugin k8s-keystone-auth client-keystone-auth octavia-ingress-controller manila-provisioner barbican-kms-plugin

doesn't include ci

[2019-03-22 08:23] oz123 commented on #540
I am bootstrapping my cluster with kubeadm, and I do this before the CCM daemon set is starting:
[code]
Could this be the problem?

[2019-03-22 08:30] dricoco commented on #556
sorry for the noise, understood the problem

csi-attacher is coming from main k8s project

[2019-03-22 08:30] #556 closed

[2019-03-22 08:42] kiwik commented on #537
Looks it's root reason, see my comment https://github.com/theopenlab/openlab/issues/223#issuecomment-475535175

[2019-03-22 09:53] lingxiankong commented on #541
Hi @oz123, answer your question here.

csi-nodeplugin-cinderplugin has a different deployment model with OCCM. csi-nodeplugin-cinderplugin is deployed on each Node, it could reply on the local system to read the information it needs. However, the OCCM is deployed as DaemonSet or StatefulSet.

i've already replied in #540, the reason is because the OCCM failed to update Node for some reason. We cou

[2019-03-22 10:02] lingxiankong commented on #540
Probably. You can try not to execute this command during the cluster installation. In addition, I have an ansible playbook to install a k8s cluster with OCCM and cinder-csi-plugin together, I am using the ansible playbook frequently for my testing environment, it works very well. Hope that will help.

As far as I know, the reason of your problem is the k8s cluster not OCCM.

[2019-03-22 10:25] dricoco commented on #551
find out by rebuilding the image with verbose enabled that there were a problem on my manifest with /etc/config/cloud.conf

/close

[2019-03-22 10:25] #551 closed

[2019-03-22 10:57] oz123 commented on #540
@lingxiankong so far I am using kubeadm. Are you using kubeadm in your ansible scripts? can you explain at what stage are you activating the OCCM?

[2019-03-22 11:25] lingxiankong commented on #540
Sorry, forgot to leave a link, here https://github.com/lingxiankong/kubernetes-study/tree/master/installation/ansible/external-cloud-provider

[2019-03-22 13:07] oz123 commented on #540
Thanks for the link. Why do you need to explicitly do this:
[code]
This is exactly the opposite of
[code]
which part of `kubeadm init`.

What's really weird is that my ccm DaemonSet is starting and running on the master even though I don't do this.

This is how I start the master:

[code]

Another question - will I be able to provision volumes without the cinder-csi-plugin ? What is needed for?

[2019-03-22 17:00] zdenekjanda opened #562 "octavia-ingress-controller no longer starts with latest image k8scloudprovider/octavia-ingress-controller:latest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
octavia-ingress-controller pod no longer starts after pulling new image k8scloudprovider/octavia-ingress-controller:latest with ID 987a41db8ada. Worse, existing clusters pulled new image randomly when pods were rescheduled to workers with no image cache and service failed.
Image with ID aad2571eb5ee works ok.

Logs from o

[2019-03-24 03:10] darcyllingyan commented on #552
The root cause is the I enabled the SELinux in the cluster, after disable it, the node-driver-registrar connection successfully.

[2019-03-24 03:10] #552 closed

[2019-03-24 03:12] darcyllingyan commented on #517
Seems the root cause is the node has taints defination, after add the tolerations to the nodes with taints, it could be started in all cluster.

[2019-03-24 03:12] #517 closed

[2019-03-25 00:18] lingxiankong commented on #540
The command just allows the pod to be scheduled on the master node. It's not necessary, depends on your own requirement.

I don't know why kubeadm is used in this way, but what I'm always doing is just provide a kubeadm config file and then run `kubeadm init --config <config-file>`

You can, but that needs some special configs for the controller manager.

I will close this issue given it's an issu

[2019-03-25 00:18] #540 closed

[2019-03-25 00:40] lingxiankong commented on #562
@zdenekjanda, I tested by following https://github.com/kubernetes/cloud-provider-openstack/blob/95bd4eb40299a449e06bf34e93c4173532d82f83/docs/using-octavia-ingress-controller.md, works for me.

Could you please paste all the manifest you were using?

[2019-03-25 04:07] oz123 commented on #540
@lingxiankong we use the all the stages of `kubeadm init` explicitly for better control.
Also, I think you don't need to do:
[code]
Because of [this line][1]:
[code]
The pod did start running on the master with explicitly removing the taints.

But I looked again in your kubeadm config, and I think the missing part in my configuration is this:

[code]

[1]: https://github.com/kubernetes/cloud-provi

[2019-03-25 09:25] joroec commented on #540
I just tried a setup with the [Ansible roles](https://github.com/lingxiankong/kubernetes-study/tree/master/installation/ansible/external-cloud-provider) and a simple `kubadm init --config x.yml` using your kubeadm configuration.

However, nothing changes. Our nodes are still not initialized properly and there seem to be another problem that is stil not detected.

[2019-03-25 12:01] #539 closed

[2019-03-25 21:37] zdenekjanda commented on #562
Here is serviceaccount.yaml:
[code]
And the deployment.yaml:
[code]
I have to point out, that this worked 100% before update to the image. So there must be some breaking change introduced, which makes new version incompatible.

[2019-03-25 21:42] zdenekjanda commented on #562
Here is working IMAGE ID:
[code]

[2019-03-25 21:59] lingxiankong commented on #562
That may because the image was downloaded before, if you could change the imagePullPolicy from  IfNotPresent to Always, or force update the image on your local, you should be fine. Never use `latest` in production, it's just for testing and developing purpose.

In my testing, I have the image:
[code]

[2019-03-25 22:01] lingxiankong commented on #540
Have you ever tried to update Node manually, if that could succeed?

[2019-03-26 04:22] ramineni commented on #537
@dricoco this should be fixed now, https://github.com/theopenlab/openlab-zuul-jobs/pull/478 could you check . so that we can close this issue?

[2019-03-26 06:05] adisky commented on #525
@darcyllingyan Is your issue resolved, this seems some env issue, can we close this??

[2019-03-26 06:41] darcyllingyan commented on #525
Hi @adisky ,

As now I want to change the code private and need to build private docker image.
I'm trying again whether I can build successfully, if it succeed, I will close later. Thanks.

Thanks
Darcy

[2019-03-26 06:44] adisky commented on #525
@darcy This seems to your image issue, closing this because we have never faced this issue
/close

[2019-03-26 06:44] #525 closed

[2019-03-26 06:48] darcyllingyan commented on #535
Close now and report later after have some further progress.

[2019-03-26 06:48] #535 closed

[2019-03-26 07:30] adisky opened #565 "Add Support for Cinder CSI Volume Resize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
CSI Volume Resize Support has been added in k/k, we need to add same support in cinder CSI
https://github.com/kubernetes/kubernetes/pull/74863

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-c

[2019-03-26 07:33] adisky opened #566 "Add Support for Inline Volumes Cinder CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
CSI Inline volume support has been added in k/k, same support needs to be added in cinder CSI

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/o

[2019-03-26 07:45] zdenekjanda commented on #562
You are right, latest version fixed this:
[code]

Before I close this, could you please suggest how can i build image myself ? As i understand correctly, i should make local registry mirror and use fixed tag. Is there an official tag which is "stable" version ? Many thanks helping with the issue !

[2019-03-26 08:54] adisky commented on #566
/assign

[2019-03-26 09:12] ramineni commented on #565
/assign

[2019-03-26 11:38] oz123 commented on #540
If I manually remove the taint `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule` the nodes will get an IP.

[code]
[code]
Now, I remove the node taint (but this seem wrong, more on this later...):

[code]
A few seconds later this is the message in the logs:

[code]

repeating this with the worker node:
[code]
and a few seconds later:
[code]

Now all my nodes are ready and have an IP

[2019-03-26 20:03] lingxiankong commented on #562
You can build the image manually by running `make octavia-ingress-controller`, i suggest you take a look at the Makefile in the repo root.

You could find all the tags [here] (https://hub.docker.com/r/k8scloudprovider/octavia-ingress-controller/tags)

[2019-03-26 20:03] lingxiankong commented on #562
/close

[2019-03-26 20:03] #562 closed

[2019-03-26 23:02] lingxiankong commented on #540
Yeah, i was asking if you could `update Node manually` just to make sure that API does work(which is the reason of your previous failure)

Removing the taint manually is definitely not recommended because as you can see from the log, the `Node.Spec.ProviderID` is needed to be set.

Now we could come back to your original issue, why occm can't update the Node? Does it have the right permission?

I

[2019-03-27 11:55] ramineni opened #569 "Remove support for Identity v2 API as its deprecated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Identity v2 API support to be removed from provider as it is deprecated as of Queens release of Openstack.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from

[2019-03-27 11:55] ramineni commented on #569
/assign

[2019-03-28 09:10] zetaab opened #571 "standalone provisioner is missing scaleio support"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE

Uncomment only one, leave it on its own line:
/kind feature

**What happened**: tried to provision cinder volumes (scaleio) using standalone cinder provisioner

**What you expected to happen**: I except that it should work in similar matter that it works in-tree k8s

[2019-03-28 09:36] mape90 opened #572 "Add MaxVolumesPerNode limit to node info in Cinder CSI"
**What happened**:
`NodeGetInfo` in pkg/csi/cinder/nodeserver.go should return also `MaxVolumesPerNode`. As openstack has default limit of 26 Cinder volumes per VM.

**What you expected to happen**:
There should be a way to set `MaxVolumesPerNode` value and it should default to 26 if nothing is provided. Other safe value for limit would be 25 so it would take a count the situation when you are usi

[2019-03-29 06:39] adisky commented on #537
CSI image for v1.14 (supporting CSI 1.0.0) is released and available on dockerhub, closing this issue, and the issue in latest image has also been resolved thanks to @mrhillsman @ramineni
/close

[2019-03-29 06:39] #537 closed

[2019-03-29 08:39] ramineni commented on #431
@adisky @jichenjc shouldn't we have manifest corresponding to that release , like before making 1.1x release , we need to update the manifests to use 1.1x tag instead of latest, so whoever downloads that release will have correct version of cinder-csi-plugin being used . And always master should have latest in manifests file IMO

[2019-03-29 10:25] jichenjc commented on #431
this seems similar to adisky's comments? usually this update manifest should be done after release and only tag in the released branch...

[2019-03-29 10:31] adisky commented on #431
@ramineni Agreed we will seperate developer and release manifests from this release(1.15),an issue can be filed to track this

[2019-03-29 17:45] brtknr opened #573 "Unstable node IP in a multi NIC setup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When there is more than one NIC attached to an instance, openstack cloud provider returns a random InternalIP back to the host resulting in instability with API server which only talks to a default interface. Additionally, when a --node-ip arg is provided to kubelet with the intended node IP, this is not respected.

**Wh

[2019-03-30 07:54] brtknr commented on #573
Looks like the solution has already been merged: https://github.com/kubernetes/cloud-provider-openstack/pull/444

[2019-03-30 07:54] #573 closed

[2019-04-01 05:58] adisky commented on #572
@mape90 Are you intrested in implementing this??if not i can do this

[2019-04-01 07:20] mape90 commented on #572
You are welcomed to implement this.

[2019-04-02 01:29] lingxiankong opened #576 "Service: Load balancer not created for the Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Create a LoadBalancer type Service first then delete, and quickly create another one, Octavia load balancer is not created. The OCCM log said the load balancer already exists. Although after for a while, the load balancer is created eventually but that sounds like a bug to the end user.

**What you expected to happen**:
Lo

[2019-04-02 07:04] adisky commented on #572
/assign

[2019-04-02 09:27] chaosaffe commented on #352
/close

[2019-04-02 09:27] #352 closed

[2019-04-02 09:48] pytimer opened #577 "k8s-keystone-auth: sync keystone project to namespace exclude project name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

/kind feature

**What happened**:

Now i use `k8s-keystone-auth` to auto sync Keystone projects into Kubernetes namespaces, but i want exclude `admin` project, now i have to get `admin` project id, and setting in ConfigMap. When i install `k8s-keystone-auth` before, Keystone not installed, so i must change the ConfigMap and restart po

[2019-04-03 00:46] tombarron commented on #394
/remove-lifecycle stale

[2019-04-03 00:47] tombarron commented on #394
Note the great work in https://github.com/kubernetes/cloud-provider-openstack/pull/536

[2019-04-03 22:25] lingxiankong commented on #576
/assign

[2019-04-05 11:26] dricoco opened #581 "trust-id not used in auth for CSI"
/kind bug

**What happened**:
I'm working on a template with openstack magnum using CSI. Magnum provides a trustee to the template and this is used to have the cloud-config config file done.
The problem is that trust-id parameter is not used in the authentification process between the CSI pod and this leads to the following error :

I0405 11:07:46.810438       1 utils.go:73] GRPC call: /csi.v1.Ide

[2019-04-05 11:28] dricoco commented on #581
looking at  csi/cinder/openstack/openstack.go

there is no TrustID    string `gcfg:"trust-id"` line in

  Global struct {

so that will probably not work

[2019-04-05 15:28] gwaines opened #583 "client-keystone-auth: can no longer setup KUBECONFIG file with 'kubectl config ...' command"
/kind bug

**What happened**:
With OLD version of client-keystone-auth, one could use

kubectl --kubeconfig=/etc/kubernetes/admin.conf config set-credentials openstackuser --auth-provider=openstack

to update the KUBECONFIG file with the following lines ... to enable use of client-keystone-auth:
          -name openstackuser
            user:
               auth-provider:
                   config

[2019-04-05 16:11] dims commented on #583
/assign @Fedosin

Mike, can you please take a look?

[2019-04-05 16:11] dims commented on #583
cc @lbragstad

[2019-04-09 00:26] hogepodge commented on #583
cc @adisky

[2019-04-09 14:12] HelenCousins opened #584 "Octavia ingress controller is not making a loadbalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I followed the instructions at:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-octavia-ingress-controller.md

(I am running a small k8s cluster on top of Openstack, which is Queens, and has Octavia)
 The final step is "# Wait until the ingress gets an IP address", well, OK, I've been waitin

[2019-04-09 19:03] dricoco opened #585 "CinderCSI : PVC stays pending"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Tried to create a Pod as per the documentation nginx.yaml. the PVC stays pending

**What you expected to happen**:
PVC get bound

**How to reproduce it (as minimally and precisely as possible)**:
Following the doc
**Anything else we need to know?**:

Name:          csi-pvc-cinderplugin2
Namespace:     default
StorageClass

[2019-04-09 21:42] lingxiankong commented on #584
@HelenCousins, thanks for reporting this issue.

Could you please provide the octavia-ingress-controller log?

[2019-04-10 08:10] dricoco commented on #585
service account are created :

NAME              SECRETS   AGE
coredns           1         19m
csi-attacher      1         19m
csi-nodeplugin    1         19m
csi-provisioner   1         19m
csi-snapshotter   1         19m
default           1         19m

clusterrole also

NAME                          AGE
csi-nodeplugin                19m
external-attacher-runner      19m
external-provisioner-run

[2019-04-10 09:25] HelenCousins commented on #584
@lingxiankong I would be very happy to provide logs, but I have no idea where they are (this may be a large part of my problem)

[2019-04-10 10:40] ramineni commented on #585
@dricoco could you share the yaml files of pod and pvc and storage class , you are using WaitForFirstConsumer option i suppose?

[2019-04-10 14:12] dricoco commented on #585
@ramineni
for the storage class :

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-sc-cinderplugin
provisioner: csi-cinderplugin
parameters:
  fsType: ext4
  availability: nova
volumeBindingMode: WaitForFirstConsumer

[2019-04-10 14:13] dricoco commented on #585
for the pod, straight copy paste from the doc :

`---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: csi-pvc-cinderplugin
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: csi-sc-cinderplugin

---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - image: nginx
    imagePullPolicy: IfNotPresent
    name: ngin

[2019-04-11 00:23] lingxiankong commented on #550
There are some differences between the issue description and the actual implementation. The docs/using-keystone-webhook-authenticator-and-authorizer.md is the source of truth.

[2019-04-11 12:00] dricoco commented on #585
ok finally found the issue.
you shall not have Initializers in admissioncontrol.

Got inspired by this issue https://github.com/kubernetes/cloud-provider-vsphere/issues/135#issuecomment-464245608

if you are using this in conjunction with the cloud controller I still need the initializer.yaml file that is provided in the manifest for the cloud controller.

/close

[2019-04-11 12:00] #585 closed

[2019-04-11 18:48] itsc0lin opened #588 "Support listener timeouts as service annotations"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

**What happened**:

Currently, we are not able to specify any timeout values when creating Openstack load balancers despite the options being [available in the API.](https://developer.openstack.org/api-ref/load-balancer/v2/index.html?expanded=create-listener-detail#id34)

**What you expected to happen**:

Kubernetes serv

[2019-04-12 01:31] lingxiankong commented on #588
@itsc0lin, thanks for this feature request. Could you please describe more about the requirement, especially the use case? Thanks!

[2019-04-12 05:40] ramineni commented on #341
/remove-lifecycle stale

[2019-04-12 05:40] ramineni commented on #341
In progress , https://github.com/kubernetes/cloud-provider-openstack/pull/563

[2019-04-12 14:58] itsc0lin commented on #588
helo @lingxiankong the requirement's use case is for Kubernetes services that the default values of [these timeout settings](https://developer.openstack.org/api-ref/load-balancer/v2/index.html?expanded=create-listener-detail#id34) are not appropriate for. Today when we create a LoadBalancer type service fulfilled by CPO requesting a VIP from Openstack Octavia, the listeners have the default values

[2019-04-12 14:59] itsc0lin commented on #588
The above values can be queried in the Openstack Octavia API with `openstack loadbalancer listener show <listener ID>`

[2019-04-13 05:00] lingxiankong commented on #588
@itsc0lin thanks for the explanation, actually, I was asking do you have some existing applications that suffering from lack of timeout configuration capability?

[2019-04-13 10:22] #360 closed

[2019-04-13 15:12] itsc0lin commented on #588
@lingxiankong yes, we host a number of applications internally on these VIPs that the default values:
[code]

are inappropriate for. This means that they have to be manually modified before they can be utilized to their potential on a per-service basis and is not conducive to scaling or ease of operation.

[2019-04-14 01:02] lingxiankong commented on #588
@itsc0lin but all those timeouts are applied to the member, which is the worker node in the k8s cluster. I'm confused, how changing the timeouts in the worker level will affect the application inside pod? I'd appreciate if you could provide such application (e.g. the manifests) and the error log, and the proof that the application is running well after modifying those timeout values.

Basically, I

[2019-04-14 03:06] imdigitaljim commented on #588
@lingxiankong, configuring these values in various ways directly impacts the ability to tweak/optimize more complex applications such as games. Of my understanding of the Octavia API and itsc0lin's issue and his PR these configurations trickle down to the HAProxy on Octavia's amphorae. How does  requiring hard evidence seem appropriate when just providing features to the open source project via ex

[2019-04-14 10:39] lingxiankong commented on #588
@imdigitaljim @itsc0lin from one of the project's maintainers(and users) point of view, I appreciate any contribution to the project, but i need to know what problems a PR is trying to solve, that's why we are asking several questions when you open an issue, e.g. What happened, How to reproduce it (as minimally and precisely as possible), etc.

For this issue, i'm not against the code change but h

[2019-04-14 15:59] imdigitaljim commented on #588
Well, we see premature timeouts and reconnects on certain types of long living connections. Tailing logs on some pods induces the same response. We use this code change internally on a fork among other changes that hopefully don't have this much resistance.

[2019-04-15 12:51] dims commented on #588
@imdigitaljim @itsc0lin there are tons of stuff in openstack that's configurable, so it's hard to support everything that openstack provides from here. So we need a small bar/evidence that folks are hitting it. So we ask for what the symptoms are and what it would affect etc. Another reason is to be able to document these changes in release notes as well as documentation. So please don't feel bad

[2019-04-15 22:01] itsc0lin commented on #588
@lingxiankong @dims I understand an example of an application that would benefit from this would be helpful, and while I can't discuss the primary examples this accommodates internally, I've created [a generic one](https://gist.github.com/itsc0lin/35de2dd93d770f58314c717bcc77a910) using public docker images which you can review here that shares the relevant characteristics.

The resulting resource

[2019-04-15 22:09] #576 closed

[2019-04-16 00:39] #588 closed

[2019-04-16 09:16] ramineni commented on #531
/assign

[2019-04-17 01:12] avlasov-mos-de opened #590 "Authorizer doesn't regard subresource from policy"
/kind bug

**What happened**:
Whenever policy has resource entries with subresources, the never get matched.
This is because:
1. subresource is not present in authorizer.AttributesRecord that is built from
resourceAttributes;
2. resourceMatches function doesn't check for subresources;

**What you expected to happen**:
Expect policy to match in case where "resources" field in policy has records lik

[2019-04-17 14:11] dricoco opened #592 "cinder - alpine - udevadm not present in image"
/kind bug
**What happened**:
I found in the cinder nodeplugin that udevadm was no where to be found
**What you expected to happen**:
exec udevadm
**How to reproduce it (as minimally and precisely as possible)**:
udevadm is present in the code :

cloud-provider-openstack% grep -r udevadm *

simple fix is to add the eudev package in the Dockerfile for the image :
cluster/images/cinder-csi-plugin/Doc

[2019-04-17 14:13] dricoco opened #593 "reopen PR 543"
/kind bug
Please reopen
https://github.com/kubernetes/cloud-provider-openstack/pull/543 as it is not working, I'll provide a new PR

**What happened**:
-v is not recognized by the executable
**What you expected to happen**:
Should see logs when using -v=5

[2019-04-17 15:05] hogepodge commented on #583
/assign @hogepodge

[2019-04-17 20:29] dims commented on #387
/close

[2019-04-17 20:29] #387 closed

[2019-04-18 04:49] ramineni commented on #593
@dricoco it works fine for me .. i have checked with latest code, what is the error you are facing

[2019-04-18 07:01] adisky commented on #583
@gwaines  --kubeconfig file is a parent command option, you can still use it with

do you want to report something else?? if so, please add the error output also.

[2019-04-18 10:17] dricoco commented on #593
same than before, I just had to change for :

in main.go to have it working

[2019-04-18 10:20] adisky commented on #592
@dricoco CSI code is not located here  _pkg/volume/cinder/cinder_util.go_, it is located in
_/pkg/csi/cinder_, it does not require _eudev_
/close

[2019-04-18 10:38] dricoco commented on #592
my pod "csi-nodeplugin-cinderplugin-g82dm" was logging udevadm errors until I added this package so maybe it's not required by the code in csi, but to have the example of the doc working it's probably necessary.

[2019-04-18 11:11] adisky commented on #592
@dricoco which example doc??

[2019-04-18 11:15] adisky commented on #592
/open

[2019-04-18 11:16] adisky commented on #592
/reopen

[2019-04-18 11:20] dricoco commented on #592
I'm sorry I don't have the log anymore, but
if I grep again, I can see here :

that it's using also udevadm on this part of the code. Sorry for the wrong grep

[2019-04-18 12:45] gwaines commented on #583
The issue is not that there is an error on the 'kubectl config set-credentials' command.

The issue is that there does not seem to be an option to setup the the 'openstackuser' User in the KUBECONFIG file as required by the new version of client-keystone-auth.

I.e. what is the exact 'kubectl config set-credentials ...' command syntax for adding the 'openstackuser' User in KUBECONFIG file, for the

[2019-04-18 13:15] lingxiankong commented on #583
I'm wondering if it is a feature request to kubectl?  Here https://github.com/kubernetes/kubernetes/pull/73230

[2019-04-18 17:04] adisky commented on #592
@dricoco there is no problem adding udevadm to docker file, it's just we have not faced any problem till now, if you are still able to reproduce the issue feel free to propose the PR

[2019-04-18 18:12] gwaines commented on #583
Yeah this looks like what I'm looking for :-)

So it looks like
- this feature is coded,
- this is targeted for kubernetes v1.15,
- 'dims' just recently asked for the feature to be reviewed,
- so we are just waiting on the appropriate reviewers to approve ?
... then this will be available in Kubernetes v1.15 .

Am I reading the linked feature status correctly ?

[2019-04-19 08:55] lingxiankong commented on #583
@gwaines I think you are right :-)

[2019-04-19 09:14] dricoco commented on #592
sure will :)

[2019-04-21 13:35] dixudx commented on #550
@lingxiankong Thanks for proposing a v2 policy settings.

Before we move on, I have a few questions,

1. What about cluster-scoped resources? The format will be `.<resource>` ?
2. `.` has special meanings in regex. Better not use it. So why not having them into two parts?

Are the verbs here case sensitive?

I know the limitations here due to the defined formats. But this will make users hard to m

[2019-04-22 04:31] lingxiankong commented on #550
Have you tried to do some testing using the image I provided for cluster scoped resources? You will find the answer by yourself.

I've already replied in the PR, I agree with you that `/` may be better.

I think so, should be mentioned in the doc.

On the contrary, our operators are very happy with this solution. The k8s-keystone-auth is usually used in managed k8s as a service in the openstack ba

[2019-04-22 11:00] adisky commented on #593
@dricoco I am not able to reproduce
 Its working with the latest code, Please recheck with the latest code

[2019-04-22 22:18] #469 closed

[2019-04-23 00:22] hogepodge commented on #583
Thanks for raising this @gwaines

[2019-04-25 07:08] mape90 opened #597 "Dirver name change (935b358) broke upgradebility."
**What happened**:
Driver name change from csi-cinderplugin to cinder.csi.openstack.org broke upgradebility. As old volumes will not be handled by updated plugin as its name is different.

**What you expected to happen**:
There should be flag to change the plugin name so that existing deployments would have upgrade path by keeping the old name.

**How to reproduce it (as minimally and precisely as

[2019-04-25 10:26] dims commented on #597
cc @ramineni @adisky

[2019-04-25 20:17] gnufied commented on #565
@ramineni I just wanted to confirm if you are working on this for 1.15. Sig-storage is working on Openstack Cinder migration to CSI and hence it will be good to have a working resizing implementation for Cinder.

[2019-04-25 23:56] lingxiankong commented on #590
@avlasov-mos-de hi, why you specified `pods/exec` as the `resources`? Shouldn't that be `pods`? The operation `kubectl exec <pod>` could work with the following policy definition:

[code]

I'm very interested to know your original requirement.

[2019-04-26 00:03] lingxiankong commented on #584
@HelenCousins hi, sorry for the delayed response, in case you haven't solved the issue, you can get the octavia-ingress-controller log by running `kubectl -n kube-system logs <octavia-ingress-controller-pod>`

[2019-04-26 00:05] lingxiankong commented on #583
@gwaines, given it's actually not a cloud-provider-openstack related issue, do you mind we close it for now?

[2019-04-26 00:52] ramineni commented on #565
Yes , I'm targeting for 1.15

[2019-04-26 03:09] lingxiankong commented on #503
@jichenjc I'm wondering why the octavia ingress controller creation has something to do with the member creation in Octavia?

[2019-04-26 07:30] avlasov-mos-de commented on #590
Hi @lingxiankong, this is just path in api,  if you wish to exec to pod you have to use verb "create"  which corresponds to http method put, and resource is "pods/exec". Well strictly resource is "pods" and subresource is "exec", however with the current implementation of how policy is structured and parsed we have only option for "resource/subresource". And it is probably fine, as this is how it

[2019-04-26 08:19] avlasov-mos-de commented on #590
I hope this helps. If not let me know, I'll be glad to answer any questions and will try to provide more info if needed

[2019-04-26 10:35] gwaines commented on #583
Yeah I'm fine with closing.

[2019-04-26 11:32] lingxiankong commented on #583
/close

[2019-04-26 11:32] #583 closed

[2019-04-26 11:44] HelenCousins commented on #584
Ah! useful. An error.
 kubectl logs -n kube-system octavia-ingress-controller-0
time="2019-04-26T11:40:13Z" level=info msg="Using config file" file=/etc/config/octavia-ingress-controller-config.yaml
W0426 11:40:13.687666       1 client_config.go:549] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
time="2019-04-26T11:40:13Z" level=fatal msg="faile

[2019-04-26 11:47] lingxiankong commented on #584
@HelenCousins FYI, the configmap in my environment looks like this:

[code]

[2019-04-26 11:55] HelenCousins commented on #584
kubectl -n kube-system describe configmaps octavia-ingress-controller-config
Name:         octavia-ingress-controller-config
Namespace:    kube-system
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"v1","data":{"config":"cluster-name: hc7-ktest \nopenstack:\n  auth-url: https://eta.internal.sanger.ac.uk:13000/v3\n  user-...

Data

[2019-04-26 12:03] lingxiankong commented on #584
Please make sure you could access openstack services using all those values in your openstack openrc.

[2019-04-26 12:28] HelenCousins commented on #584
investigation tells me I need to add (to the above, redacted but correct)
 export OS_USER_DOMAIN_NAME=Default
to be able to gain access.

I do not know how to spell this in the config for the config map in order to pass it through

[2019-04-26 13:17] lingxiankong commented on #584
try to remove `v3` from the auth-url

[2019-04-26 13:38] lingxiankong commented on #590
Thanks for the info, but my question is, if you config the policy as my above suggestion, does that satisfy your requirement?

[2019-04-26 14:27] HelenCousins commented on #584
That doesn't work, with the same error (Authentication failed)

[2019-04-26 14:34] lingxiankong commented on #584
please paste your ConfigMap, i need to know the exact content of those fields, you can just remove the password

[2019-04-26 14:37] HelenCousins commented on #584
cat config.yaml
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: octavia-ingress-controller-config
  namespace: kube-system
data:
  config: |
    cluster-name: hc7-ktest
    openstack:
      auth-url: https://eta.internal.sanger.ac.uk:13000/v3
      user-id: hc7
      password: the-correct-password
      project-id: a6f94c35516c4ab8b786cfe7d7e309e2
      region: regionOne
    octavia:
      su

[2019-04-26 22:53] lingxiankong commented on #584
`user-id` is the user UUID rather than user name.

[2019-04-28 04:15] avlasov-mos-de commented on #590
It doesn't satisfy out requirements as it allows pods creation, but doesn't allow to 'kubectl exec' into pod

[2019-04-28 05:32] lingxiankong commented on #590
Make sense now, thanks for your patience. I'll review the PR asap.

[2019-04-29 10:41] adisky commented on #597
@mape90 we have changed the name per CSI specs, As a workaround you can try to deploy two instances of cinder csi driver.

[2019-04-29 11:27] HelenCousins commented on #584
oooooh, thank you. Now my ingress controller pod is not failing.  Huzzah, thank you.

So of course now I have a new error, on creating an ingress for a service.
 Warning  Failed  52m   openstack-ingress-controller  Failed to create openstack resources for ingress default/test-octavia-ingress: error creating loadbalancer: loadbalancer failed to go into ACTIVE provisioning status within alloted time

[2019-04-29 12:37] HelenCousins commented on #584
ah, security groups.  Thank you so much for your help

[2019-04-29 15:44] avlasov-mos-de commented on #590
Thank you @lingxiankong

[2019-04-29 22:45] lingxiankong commented on #584
Very glad to see the issue was solved.

/close

[2019-04-29 22:45] #584 closed

[2019-04-29 23:37] #550 closed

[2019-04-30 07:49] tsmetana commented on #453
/remove-lifecycle stale

[2019-04-30 07:49] tsmetana commented on #453
This is going to take some time to implement however the RFE is still valid.

[2019-05-02 16:19] hogepodge commented on #406
/remove-lifecycle rotten

[2019-05-02 16:20] hogepodge commented on #406
/assign @strigazi
/assign @hogepodge

[2019-05-02 16:45] seungkyua opened #602 "Support to the provider network type."
/kind feature

**What happened**:
When deploying on OpenStack with provider network, the floating ip attached to vms.

**What you expected to happen**:
In case of using provider network, you don't need to add floating ip to vms.

**How to reproduce it (as minimally and precisely as possible)**:
When you create cluster, it fails attaching floating ip.

**Anything else we need to know?**:

**Environ

[2019-05-02 17:01] grahamhayes opened #603 "Add support for mixed protocol loadbalancers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:

It should be possible to use a single IP to direct traffic to both UDP and TCP with a single Service of Type=Loadbalancer.

Issue for kubernetes side: kubernetes/kubernetes#23880
PR for enabling all Cloud Provider Interfaces: kubernetes/kubernetes#75831

When this PR merges we should update the OpenStac

[2019-05-03 09:19] lingxiankong commented on #602
@seungkyua hi, could you please describe more about the issue? What the command you were running? What functionality are your referring to?

[2019-05-03 09:46] adisky commented on #593
/close

[2019-05-03 09:46] #593 closed

[2019-05-04 21:44] lingxiankong commented on #603
thanks grahamhayes for sync those information here, it should be easy for CPO to implement once the PR is merged.

[2019-05-04 22:07] #531 closed

[2019-05-07 14:40] tghartland opened #606 "Gophercloud user-agent should include component version and cluster UUID"
/kind feature

The version of the cloud-provider-openstack components and the UUID of the cluster that is running them should be added to the gophercloud user-agent, to be able to group and filter request logs and to provide better information in general.

Setting the version is relatively simple, and can be done in the same way as [I am doing in cluster-autoscaler](https://github.com/kubernetes/a

[2019-05-07 16:28] jim-bach commented on #606
Hey Thomas, thanks for putting up the issue. As I suggested in the k8s-sig PTG, we have added the user-agent downstream to the main two components we currently use. Realistically, these can be added to almost every project in this repository. We did something along the lines as this (below) for k8s-keystone and the openstack-cloud-manager. At a minimum, out of the box, these changes work, with som

[2019-05-07 19:29] tghartland commented on #606
Ah, so you weren't adding version or cluster information at all. That makes it a much smaller patch.

[This is what I had done so far](https://github.com/kubernetes/cloud-provider-openstack/compare/20b7744ee505a1da05550a866051bf5323e4feba...tghartland:gophercloud-user-agent). Moving the version into a separate package isn't too much work and it makes it available to all the components, so I think

[2019-05-08 15:56] jim-bach commented on #606
Absolutely

Internally, we were POC'ing a mechanism that I didn't fully share to use the stack name with the hash for readability, so its pretty consistent and truly reflects where the requests come from, but some kind of cluster UUID as you and strigazi suggested is reasonable for us too.

Adding the cluster UUID to the config file and struct
Setting a global variable like the version, but for th

[2019-05-08 16:08] strigazi commented on #606
Agreed, we should introduce magnum-or-anything specific. I think even for non-magnum use cases, others must have a name or an identifier. Even DIY clusters with kubespray or anything have some kind of name and they would call it 'cluster'. eg cluster/test or cluster/my-kubespray-001. Well the three of us use magnum, so we need to hear from others.

[2019-05-10 12:32] jim-bach opened #609 "Loadbalancer naming doesnt support implicit DNS"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind feature

**What happened**:
For some clouds/use-cases the loadbalancer names can be implicitly given a DNS record (automatically because its a VIP), the current naming convention does not support that. Albeit better than that Google specific aXXXXXXXXXXXXXXX value that existed prior.

**What you expected to happen**:
Sanitize and conform to patte

[2019-05-10 14:34] horakmar opened #610 "Hardcoded wrong lb-provider name in octavia-ingress-controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When trying to deploy and test octavia-ingrass-controller it fails to create loadbalancer with following error:
[code]

**What you expected to happen**:
Create LB for octavia-ingress-controller.
Provider name should be 'amphora'.

**How to reproduce it (as minimally and precisely as possible)**:
Just follow guide: https://

[2019-05-12 02:03] lingxiankong commented on #609
@jim-bach I didn't see there is difference between your proposal and the current name formatting, missed something? Could you please give an example of a Kubernetes Service name and your preferred load balancer name?

[2019-05-12 02:16] jim-bach commented on #609
I posted the current name formatting that is used `fmt.Sprintf("kube_service_%s_%s_%s", clusterName, service.Namespace, service.Name)`

And I listed the issue, but I can try to clarify further.

1) nothing prevents it from being > 63 characters, if i put a long cluster name, service name, and/or namespace name in it will exceed this value easily. Especially with things like using prometheus operat

[2019-05-13 03:52] adisky commented on #597
/close

[2019-05-13 03:52] #597 closed

[2019-05-13 10:06] lingxiankong commented on #610
Hi, what's the provider configured in your Octavia config file?

[2019-05-13 11:10] horakmar commented on #610
Hi, in octavia config I found only this line related to provider:
[api_settings]
enabled_provider_drivers = amphora:Octavia Amphora driver

(I am not an admin of Openstack)

Ingress controller *works*, when I change hardcoded string "octavia" into "amphora". But I suppose it should be configurable via configmap.

[2019-05-14 07:18] adisky commented on #565
/kind feature

[2019-05-14 07:55] mape90 opened #615 "[CSI] Keystone token expires during long lasting request."
**What happened**:
Attaching and detaching fails when token expires just after request is made.

This happens because gophercloud only reauthenticates when token is expired and it gets 401 as result. This causes problems because older Openstacks uses user token for their internal requests. With newer openstacks (i.e Pike) this will not happen as they generate service token for those long lasting r

[2019-05-15 00:28] lingxiankong commented on #610
hi @horakmar, could you please help to test if https://github.com/kubernetes/cloud-provider-openstack/pull/614 works for you?

[2019-05-15 14:47] horakmar commented on #610
Hi @lingxiankong.
It doesn't work. LoadBalancer is created, but Floating IP is not assigned and LB stays in Pending Update state.
Here is the log of octavia-ingress-controller pod:
[code]
Again, with **hardcoded** provider 'amphora' it works.

[2019-05-15 15:30] tghartland commented on #606
Will be discussed at the Kubecon SIG-Openstack deep dive.

[2019-05-15 16:30] horakmar commented on #610
I am sorry, I did new fresh build of octavia-ingress-controller image and it now works as expected:
[code]

[2019-05-15 21:27] lingxiankong commented on #610
@horakmar nice, thanks for the feedback! I will try to push to merge that PR asap so you can get a daily built official image.

[2019-05-16 06:14] horakmar commented on #610
Perfect, thank you for the patch!

[2019-05-16 08:47] dricoco commented on #592
@adisky just did https://github.com/kubernetes/cloud-provider-openstack/pull/616

[2019-05-17 18:24] goldyfruit commented on #540
Hi there,

I'm using Magnum from the Stein release to deployed Kubernetes.

With `cloud-provider-openstack` version `0.2.0` there is no issue (except that is very old), I tried to update the tag to `1.14` and I got the exact same issue.

To be able to use the Kubernetes cluster I had to remove the taint.
[code]

[2019-05-17 20:34] oz123 commented on #540
@goldyfruit thank you so much for posting your comment here. I felt like the village's fool here.
@lingxiankong can we try and solve this issue now?

[2019-05-18 00:19] goldyfruit commented on #540
No problem @oz123 :)
Got the same issue with everything different than tag `0.2.0`.

[2019-05-18 10:28] lingxiankong commented on #540
I always use an ansible playbook to deploy the k8s cluster(using kubeadm) on top of OpenStack for testing purpose. Now I'm running k8s v1.14.1 and openstack-cloud-controller-manager v1.14.0, it's still working perfectly.

@goldyfruit could you please provide the openstack-cloud-controller-manager log?

[2019-05-18 12:14] oz123 commented on #540
@lingxiankong we have failed multiple times using [your roles](https://github.com/lingxiankong/kubernetes-study/tree/master/installation/ansible/external-cloud-provider).

[2019-05-21 09:28] jichenjc commented on #615
Just to confirm, the problem only occurs < openstack PIke release(no service token phase), correct?

[2019-05-21 09:41] jichenjc commented on #602
I have same question... @seungkyua please provide more info on what's wrong there
I guess something like Loadbalancer has mandatory request on floating ip but others should not ...

[2019-05-21 09:51] jichenjc commented on #572
@mape90 @adisky I think the bug and the PR has different info... seems PR set to 256 and bug requested to be 25 or 26 ??

and because we have following spec in nova, what's the purpose to have this check in CPO layer instead delegate to openstack nova itself?
https://specs.openstack.org/openstack/nova-specs/specs/stein/implemented/conf-max-attach-volumes.html

[2019-05-21 20:00] goldyfruit commented on #540
@oz123 I made it work with Fedora Atomic 29 _(I was running 27 before)_.

This is my Magnum template _(hope it helps)_:
[code]

[2019-05-21 20:19] oz123 commented on #540
@goldyfruit I will try these versions with kubeadm.  I'm not using magnum unfortunately.

[2019-05-21 20:21] goldyfruit commented on #540
@oz123 :crossed_fingers:

[2019-05-22 14:48] mape90 commented on #572
I am not sure if there is any need to set any max limit for this value. The current hard coded limit in openstack side is 26. It will be configurable in future, so that if the virtualization system supports more it would then be possible to configure that value. ( they do not set any hard limit for it, however practical things might force some limits.) The 25 was only for use cases where the root

[2019-05-23 04:06] jichenjc commented on #572
ok, My understanding is usually it's not a good practice to have similar check in different layers because it might lead to inconsistency because of configuration, code change etc... so your suggestion is to provide this info to k8s and makes the error check as early as they can (to avoid call openstack cinder because we know it will fail), and this is good; and actually this should not related to

[2019-05-23 11:28] #590 closed

[2019-05-24 07:18] mape90 commented on #615
This can actually happen in any openstack version, as not even the newer ones force the usage of service tokens. Quite many vendors even specifically set it off. It is only that in Pike or higher versions is is possible to fix this with configuring nova and cinder to use service tokens.

[2019-05-24 07:28] mape90 commented on #572
Yes this is only for informing k8s about how many volumes it can attach to nodes. So this might be less than the maximum in OS. I.e if you attach "local" cinder volumes to workers then you should decrease the max count based on how many these outside of k8s scope volumes are attached to node.

[2019-05-26 22:37] #610 closed

[2019-05-27 18:56] DJAyth opened #623 "octavia ingress controller fails to create members for pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Setup via the documentation link the octavia-ingress-controller as I am using an openstack provider, and stumbled upon it earlier today. Was able to deploy the ingress and the pods for the ingress controller start fine.

However, when I create a service and attempt to use the ingress I am getting a failure in the process.

[2019-05-28 20:12] mikejoh commented on #623
I tried to have a look at this but i couldn't find the exact reason for why this failing for you, this is what i've found by jumping around the source code and the documentation:

The first error message is from `controller.go` and comes from this if-statement:
https://github.com/kubernetes/cloud-provider-openstack/blob/34caa4ccbbde4e87d4bdc43512bb1af76f7bafa5/pkg/ingress/controller/controller.go#

[2019-05-28 22:29] lingxiankong commented on #623
Hi, what Octavia version are you using? Did you check the octavia worker log?

[2019-05-29 07:43] adisky commented on #592
/close
Refer https://github.com/kubernetes/cloud-provider-openstack/pull/616

[2019-05-29 07:43] #592 closed

[2019-05-29 10:43] adisky opened #627 "In Tree Cinder To CSI Cinder Driver Migration Tracking Issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
All API Calls to Intree Cinder Driver (https://github.com/kubernetes/kubernetes/tree/master/pkg/volume/cinder) eventually be migrated to cinder CSI Driver (https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/csi/cinder),
For this migration to be successfull, we need to ensure following things
1.  A

[2019-05-29 10:45] adisky commented on #627
/help

[2019-05-29 12:12] DJAyth commented on #623
Yeah I was thinking that the issue would have been related to the version that the provider is using. I will have to put a pin in this for a while, as I'm not good enough with Go to work around it with my own fork, and have it do the updates one at a time via a loop.

[2019-05-29 12:12] #623 closed

[2019-05-29 15:52] sbueringer commented on #281
We're currently running Cinder CSI 1.0.1 together with cloud-controller-manager build from master in March and this works for us (with VIO 4.x).

Is the issue still there? (I'm just interested because the issue might be caused by another VIO/OpenStack version and we're migrating to VIO 5 soon)

[2019-05-29 17:54] praseodym commented on #281
@sbueringer haven’t tested but I have no indication that VIO 5 would be using something else than VMDK-based volumes for Cinder.

[2019-05-30 05:06] jichenjc commented on #627
@adisky  still reading the doc provided, just to confirm my rough understanding, All API Calls need to be handled in k8s then in turn using CSI to talk to our cloud provider ,correct? so we need migrate the major code into CSI (if needed) then create some stubs in tree in order to call CSI, correct?  then with migration flag we can do the e2e test? Thanks

[2019-05-30 05:26] adisky commented on #627
@jichenjc We do not need to do these stuff, as all in tree drivers will be migrated to respective CSI drivers the storage community is doing that, we need to make sure about stability/features of CSI driver and Testing with migration flag enabled
https://docs.google.com/document/d/15Q4wXVqbalrVgf_jlGis4QFXN1RY1GMiY-Ek-hpCr-o/edit#

[2019-05-30 06:24] #577 closed

[2019-05-30 08:48] adisky commented on #572
@jichenjc It is to inform kubernetes, This is done to be in sync with intree provider
https://github.com/kubernetes/kubernetes/pull/72980

[2019-06-01 09:12] GeertJohan opened #628 "Security groups destroyed after removing a Service"
I suspect the openstack cloud controller manager of destroying security groups when a Service of type LoadBalancer is removed. All rules from all security groups attached to master and node instances are removed, breaking the complete cluster.

I have encountered this on multiple occasions with when the openstack-cloud-controller-manager was running with `manage-security-groups=true` in the cloud

[2019-06-03 08:22] #572 closed

[2019-06-03 09:41] jichenjc commented on #627
ok, got it , thanks for the info, I will keep an eye here :)

[2019-06-03 10:32] jichenjc commented on #628
maybe you can provide some info on the version of cloud controller you are using ? as seems we have some security group fix but not sure whether it's related..

and `manage-security-groups` seems used in octaviaConfig.ManageSecurityGroups and you mentioned you didn't use octavia...

[2019-06-03 10:34] #394 closed

[2019-06-03 10:46] gman0 commented on #394
Done in #536

[2019-06-03 10:48] #341 closed

[2019-06-03 11:39] GeertJohan commented on #628
I'm using `docker.io/k8scloudprovider/openstack-cloud-controller-manager:latest`, I don't know which exact version I used. The last occurence of  this issue was on wednesday 29th using a fresh install, so presumably the most recent "latest" docker tag at that time. I haven't had `manage-security-groups` enabled since then.

I don't think I'm using octavia, no. Afaik it's LBaaS V2, as I still have

[2019-06-04 06:42] adisky opened #630 "Add CI jobs for Manila CSI Driver"
/kind Feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-06-04 06:42] adisky commented on #630
cc @gman0

[2019-06-04 12:43] lingxiankong commented on #628
@GeertJohan I did some security group improvement before for octavia based load balancer, and I've never tested the sg functions for neutron-lbaas given it has been deprecated since Queens. It's highly likely that the sg functions for neutron-lbaas is not working as expected.

[2019-06-04 12:57] pblaas opened #632 "LBAAS resources fail to be properly created with OpenStack provider > v1.13"
/kind bug

**What happened**:
While running a terraform config sequentially which includes LBAAS resources some LBAAS resources are force updated and end up in error after the first successful run.

[code]
Applying the new settings results in:
[code]
**What you expected to happen**:
LBAAS resources should be written and readback correctly in 1 go without recreation of the resources. At minimum the

[2019-06-04 12:58] #632 closed

[2019-06-04 12:58] pblaas commented on #632
wrong section sorry.

[2019-06-05 07:13] mape90 opened #633 "[Cinder CSI] GetMaxVolLimit returns always max value."
**What happened**:
The function GetMaxVolLimit will always return max value when nodeserver calls it.

This happens because nodeserver never calls function CreateOpenStackProvider what would imitialize cfg global variable.

**What you expected to happen**:
GetMaxVolLimit should return the value defined in configuration.

**How to reproduce it (as minimally and precisely as possible)**:
Set cloud-c

[2019-06-05 08:31] mape90 opened #634 "[Cinder CSI] Volumes deleted outside k8s can not be removed from k8s"
**What happened**:
If volume is deleted in backend side cinder csi will hang forever in volume detaching and deletion. Same will happen to the snapshots.

**What you expected to happen**:
If request is to delete or detach volume we should succeed if volume do not exists in backend side. As whole point of these commands are to get ride of the volumes and if it has already been deleted the tasks is

[2019-06-05 14:14] strigazi opened #635 "Kubernetes cluster with openstack machines and baremetal"
/kind feature

It is possible to have cluster nodes in an openstack project and some physical machines not managed by openstack? Or even machines that exist in different openstack projects?

[2019-06-05 15:20] gman0 commented on #630
@adisky yes, CI tests are in the plan

[2019-06-05 15:20] gman0 commented on #630
/assign

[2019-06-05 15:23] gman0 commented on #630
@adisky can you assign me please?

[2019-06-06 05:33] adisky commented on #630
/assign @gman0

[2019-06-06 05:34] adisky commented on #630
@gman0 Please apply for k8s community membership
https://github.com/kubernetes/community/blob/master/community-membership.md

[2019-06-06 06:18] adisky commented on #633
@mape90 Thanks for reporting the bug, looking at the issue.

[2019-06-06 06:36] adisky commented on #633
IMO, it is better to add `GetMaxVolLimit` in` IOOpenStack  interface`, and add ` bsopts` in `OpenStack` struct
[code]
and then add cloud in nodeserver
[code]

[2019-06-06 06:39] adisky commented on #633
There are two pros of above approach
1. We might get the same problem with other config parameters we add in `BlockStorageOpts`, it will solve that issue also.
2. It might be possible we remove this parameter in future and directly take the value from Cinder API call (as they are adding some config related to it)

[2019-06-06 06:41] adisky commented on #633
@mape90 Feel Free to propose PR  and discuss the solution.

[2019-06-06 07:19] adisky commented on #634
@mape90 +1 It is aligned with the CSI Specs,
Please Propose PR for the same.

[2019-06-06 08:20] jichenjc commented on #635
I guess it's not supported to have machines not managed by openstack by using this cloud proivder
what's the use case of different projects ?

[2019-06-06 09:18] jichenjc commented on #634
+1 to the change or I can submit one as it's pretty easy now

[2019-06-06 09:22] adisky opened #636 "[Cinder CSI] Implement `ValidateVolumeCapabilities`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Implement `ValidateVolumeCapabilities`.
It is required and causing sanity failures.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release):

[2019-06-06 09:24] adisky commented on #636
/assign

[2019-06-06 09:29] adisky opened #637 "Improve CSI Probe Check"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Currently in CSI Probe check, we are calling `CreateOpenStackProvider`
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/identityserver.go#L49

which reads the config file, creates all the client, As Probe function can be called by CO multiple times, we can optimize this call to a smal

[2019-06-06 09:30] adisky commented on #637
/assign

[2019-06-06 12:48] strigazi commented on #635
a. machines not in openstack
I don't want the provider to interact with them. I just want that the cloud-provider lets me add them to the cluster. Since the cloud provider can not find the machine it does not let them join the cluster.

b. machines in different openstack projects
In a lot of clouds, openstack projects reflect accounting groups. In our cloud it is like this. Different teams have di

[2019-06-07 00:16] lingxiankong commented on #635
I don't think the openstack-cloud-controller-manager could deal with the machines not in openstack, because it needs to interact with openstack to get some information for the nodes. It is designed for openstack.

This is doable. If the credentials configured openstack-cloud-controller-manager have the permission to the VMs in different openstack projects, the kubernetes Node could be initialized

[2019-06-07 07:11] mape90 commented on #633
Yes giving openstack interface would solve this issue nicely. But I do not think it would be possible to remove the parameter as there will be old openstacks that do not have that API implemented. Also nodes might have some own volumes attached to them that are reducing the quota. For examble if you use cinder as root volume or attach some "local" volumes to the nodes. So for these cases you alway

[2019-06-07 07:36] adisky commented on #633
I am not saying we will not entirely remove the parameter, it can be a fallback option, prefered one will be value from cinder, even if you leave this case, considering the first pros, i think we should do it via interface.

[2019-06-07 11:13] strigazi commented on #635
I am repeating, I do not want the cloud-provider to deal with/interact/manage in any way with the machines outside of openstack. I want to increase the capacity of clusters with machines out of openstack, we don't care about the cloud-provider for that use case. The cloud-provider blocks the node registration.

At the moment this is not possible since a project must be specified. A possibility wou

[2019-06-08 12:45] jichenjc commented on #635
ok, now understand the question, you want to add more machines who is out of control by openstack and the controller itself blocked the node rgistration, I don't know whether cloud provider has any annotation or similar mechanism to avoid this, at least, if we think a cluster can run workers in 2+ clouds both have cloud controller is a valid use case... maybe ask https://kubernetes.slack.com/messa

[2019-06-08 18:23] #421 closed

[2019-06-10 11:04] ramineni commented on #529
/remove-lifecycle stale
Still needed

[2019-06-11 08:03] jichenjc commented on #634
/assign

[2019-06-11 11:21] kayrus opened #640 "Extend OpenStack Application Credentials support"
It's a follow-up for the #232 and a prerequisite for the https://github.com/gardener/gardener/issues/584

Application credentials have to be supported by:
* Cinder (block storage)
* Manila (nfs, share fs)
* Barbican (kms)
* LBaaS (ingress)

[2019-06-13 04:45] adisky commented on #479
/remove-lifecycle rotten
still needed

[2019-06-13 04:46] adisky commented on #479
@jichenjc any update on this??

[2019-06-13 04:47] adisky commented on #472
/remove-lifecycle rotten

[2019-06-13 04:53] adisky commented on #640
/kind feature

[2019-06-13 04:54] adisky commented on #640
@kayrus Are you interested in doing this??

[2019-06-13 05:47] kayrus commented on #640
@adisky for sure I am, since I created the issue. Why do you ask?

[2019-06-13 07:39] adisky commented on #640
@kayrus it is better to assign issue, if you are working on it, (assigning is only possible if you are a member of k8s org) otherwise just write " I am working on this", we do this so as two people do not start working on same thing.

[2019-06-14 10:02] jichenjc commented on #634
@mape90 @adisky some comments from @ramineni here, according to
https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerunpublishvolume-errors, seems it's right that we can't change the condition to safely ignore the spec's suggestion,
then the original behavior is correct or we can suggest to change the spec?

[2019-06-16 09:24] #435 closed

[2019-06-17 07:08] adisky commented on #634
@jichenjc we can suggest spec changes until it is a very major issue, its better to address the issue aligned with specs, we can ignore not found error in case of delete volume but from ControllerUnPublishVolume we need to return error in case volume not found, however if volume is not attached to given node we can reply ok, and do not return any error

[2019-06-17 10:03] jichenjc commented on #634
@adisky yes, I fully understand we need follow spec.... just want to make everyone on same page as the stuffs suggested in the original bug is a little different to the review comments

[2019-06-17 11:16] wzrdtales commented on #312
/remove-lifecycle stale

[2019-06-18 06:01] ramineni opened #644 "Add Cloning support for Cinder CSI driver"
CSI 1.0.0 spec supports volume cloning support . Add the support for the same in cinder CSI driver.

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release

[2019-06-18 06:01] ramineni commented on #644
/assign

[2019-06-19 06:03] adisky commented on #634
@jichenjc Thanks for understanding, lets follow the review comments :)

[2019-06-20 10:01] jichenjc opened #647 "[question] CSI cinder failed to start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

A few days before my env works but now it suddenly has following issue and not sure what happend..

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-

[2019-06-20 10:01] jichenjc commented on #647
@adisky @ramineni any clue ?

[2019-06-20 10:25] ramineni commented on #647
@jichenjc is this consistent failure you are seeing in your env?

[2019-06-20 10:38] jichenjc commented on #647
yes, I didn't change my env and suddenly I start to suffer this error...
I am using https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md exactly same to what I did  before.. just want to get some hint on what might help debug issue

[2019-06-20 10:46] lingxiankong opened #648 "magnum-auto-healer: Use Magnum resize API"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, the node repair is implemented by calling Heat API(mark unhealthy and stack update) instead of Magnum.

**What you expected to happen**:
Use Magnum resize API to do master and worker node repair. The Magnum resize API leverages the `removal_policies` in Heat template to do resource replacement which makes mo

[2019-06-20 10:48] ramineni commented on #647
@jichenjc could you enable verbose here https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml#L57  (Add  - "--v=5" ) and check , might give more info

[2019-06-20 10:52] lingxiankong opened #649 "magnum-auto-healer: Support max_batch_size configuration for the repair"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:
If multiple nodes require repair, we need to limit the number of repairs either manually(via configuration) or automatically which depends on the size of the cluster (bigger clusters have a higher limit) and the number of broken nodes.

**How to reproduce it (as minimally and precisely

[2019-06-21 05:04] jichenjc commented on #647
nothing added, got same error .... @ramineni
I will dig more :(

[2019-06-24 03:51] jichenjc commented on #647
I switched to another env and now it works fine, still don't know what happened in previous env...

[2019-06-24 03:51] #647 closed

[2019-06-24 09:47] adisky commented on #566
/remove-lifecycle stale

[2019-06-25 10:46] #581 closed

[2019-06-25 12:52] adisky commented on #569
/remove-lifecycle-stale

[2019-06-26 06:50] jichenjc opened #659 "[CSI] lack of info when given wrong conf file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
start  ./cinder-csi-plugin  by accidently give a wrong cloud conf file , just give following info and the process stopped without helpful info
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-

[2019-06-26 06:50] jichenjc commented on #659
/assign

[2019-06-26 07:01] ramineni commented on #633
/assign

[2019-06-26 07:09] ramineni opened #661 "Missing openstack instance in csi nodeserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is no openstack instance available from nodeserver, we need the same to adhere to csi spec. This issue is to add support for the same.

**What you expected to happen**:
Nodeserver able to query openstack
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- o

[2019-06-26 07:09] ramineni commented on #661
/assign

[2019-06-26 15:41] dshcherb opened #665 "Support configuring lb-provider via a Service object annotation"
/kind feature

lb-provider configuration allows selecting an LBaaSv2 or Octavia provider type at the cluster deployment stage, however, when multiple types are available in the cloud it may be desirable to multiplex between them for different Service objects via annotations.
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#load-balancer

This would be similar to the foll

[2019-06-26 23:48] jichenjc opened #666 "[CSI] need description on the snapshot created from CPO"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://developer.openstack.org/api-ref/block-storage/v3/index.html?expanded=create-a-volume-detail#volumes-volumes
per above link, we can add description about the snapshot and like Loadbalancer and volume, resource created from CPO can add some info there.
**What you expected to happen**:

**How to reproduce it (as

[2019-06-26 23:48] jichenjc commented on #666
/assign

[2019-06-26 23:51] jichenjc opened #667 "support coreos in CPO"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
coreos has some difference to normal linux like AE is using ignition while normal linux use cloud-init (such as /var/lib/cloud/data/instance-id can't be used ) so need check coreos still work on CPO

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2019-06-26 23:51] jichenjc commented on #667
/assign

[2019-06-27 04:10] ramineni opened #668 "Build container images from distroless"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
 The kubernetes project in general is moving towards distroless: https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md , explore the same to be supported in cpo
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything els

[2019-06-27 04:11] ramineni commented on #668
/assign

[2019-06-27 04:11] ramineni commented on #668
/kind feature

[2019-06-27 04:32] ramineni opened #669 "Implement GET_VOLUME_STATS node capability"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
NodeGetVolumeStats capability is missing in nodeserver. https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetvolumestats , This issue is to track the same.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-06-27 04:33] ramineni commented on #669
/assign

[2019-06-27 10:45] ramineni commented on #431
I suppose we can close this now, as from 1.15 release this has been taken care of.

[2019-06-27 12:38] johscheuer commented on #431
Thanks!

[2019-06-27 12:38] #431 closed

[2019-06-27 20:51] kciredor commented on #628
I'm afraid this issue has hit me as well just now. Ofcourse I can relate to octavia vs neutron-lbaas (the latter being deprecated). The real issue here is that out of 3 OpenStack-as-a-Service providers in .NL, 2 of them are on neutron-lbaas, only 1 is on octavia. Which is likely not a .NL specific thing.

Honestly I think neutron-lbaas needs some love. It works great for me when it works. But when

[2019-06-30 14:21] tombarron opened #673 "manila-csi uses wrong share path for NFS mounts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using examples/manila-csi-plugin/nfs/{static,dynamic}/provisioning/* I provisioned NFS
pvcs and brought up pods with nginx containers that mount Manila orchestrated NFS shares at /var/lib/www.

The Manila shares are NFS-gatewayed CephFS volumes and have export paths like this:

192.168.0.27:/volumes/_nogroup/fae75686-d44

[2019-07-01 09:55] ramineni commented on #644
/kind feature

[2019-07-02 00:24] jichenjc opened #677 "[CSI] Cinder CSI expandvolume feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://github.com/container-storage-interface/spec/blob/ /spec.md#controllerexpandvolume  track this to be implemented through CSI cinder
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-control

[2019-07-02 00:25] jichenjc commented on #677
/assign

[2019-07-02 00:30] jichenjc opened #678 "[CSI] Add liveness probe container for CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
per https://kubernetes-csi.github.io/docs/livenessprobe.html
we need consider whether we add this into CPO CSI
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e

[2019-07-02 00:30] jichenjc commented on #678
/assign

[2019-07-02 04:18] ramineni commented on #677
@jichenjc Patch is already up for it here https://github.com/kubernetes/cloud-provider-openstack/issues/565

[2019-07-02 04:58] jichenjc commented on #677
missed that ...sorry

[2019-07-02 04:58] #677 closed

[2019-07-02 10:01] ramineni opened #679 "Support 'trust-device-path' parameter in cinder csi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
 In most scenarios the block device names provided by Cinder (e.g. /dev/vda) can not be trusted. Add a flag which toggles this behavior. Setting it to true results in trusting the block device names provided by Cinder. The default value of false results in the discovery of the device path based on its serial number and /dev/disk/by-

[2019-07-02 10:01] ramineni commented on #679
/assign

[2019-07-02 22:15] #673 closed

[2019-07-03 06:17] adisky commented on #678
@jichenjc Thanks for reporting this, we have thought about this, it is quite alot dependent on
https://github.com/kubernetes/cloud-provider-openstack/issues/637

[2019-07-04 00:50] jichenjc commented on #678
thanks, @adisky ,this helps ~, will keep an eye

[2019-07-08 05:32] ramineni opened #683 "Bump driver version before each release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We are maintaining same version of the csi driver each release unless there are major breaking changes . Shouldn't we bump the driver version for each release , may be minor version as we have some new features supported by the driver for each release.
It would be easier to debug/maintain also. Thoughts?

**What you expected to happ

[2019-07-08 05:33] ramineni commented on #683
@adisky @hogepodge wdyt?

[2019-07-09 01:36] jichenjc commented on #683
does this mean we have to maintain several releases at same time and the sample/manifest effort will be increased as well? I like the idea though

[2019-07-09 07:18] #661 closed

[2019-07-09 07:35] adisky commented on #395
/close
we have client-keystone-auth binary in release v1.15

[2019-07-09 07:35] #395 closed

[2019-07-09 10:51] adisky commented on #683
@ramineni currently we are upgrading version with csi version and keeping it similar to csi version, however here we missed it https://github.com/kubernetes/cloud-provider-openstack/pull/523,
Anyways There is no point keeping the version similar(It is like we are following the previous approach), we can have minor version increment with the release

[2019-07-09 10:54] ramineni opened #690 "Improve functional testing (e2e) for Cinder CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
No functional testing happening on gate for various features like topology, snapshot, block volume etc. We need to add the same

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS

[2019-07-09 10:55] ramineni commented on #690
/assign

[2019-07-10 00:27] jichenjc commented on #690
I can add some as well... maybe the snapshot part as I contribute to that part a little bit :)

[2019-07-10 06:43] ramineni commented on #690
@jichenjc sure, feel free to contribute on the same :)

[2019-07-10 10:46] tsmetana commented on #453
For the record: The RFE is being resolved by the PR #652

[2019-07-10 14:52] kciredor commented on #628
Think I found it. Seems to have nothing to do with neutron-lbaas(v2) vs octavia btw.

Looking at https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L1560 if you add extra logging to dump opts.SecGroupID and opts. RemoteGroupID you'll notice this is actually the node security group and the loadbalancer security group that is/should b

[2019-07-15 08:18] ramineni opened #695 "Remove CinderV1 support from Cloudprovider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Cinder v1 is deprecated in Juno release of Openstack and removed completely in Queens (https://docs.openstack.org/releasenotes/cinder/queens.html) . So the support for the same have to be removed from cloudprovider.

**What you expected to happen**:
cloudprovider only to support active versions v2, v3
**How to reproduce it (as minim

[2019-07-15 08:18] ramineni commented on #695
/assign

[2019-07-15 10:43] lingxiankong opened #696 "magnum-auto-healer: Failed to update Heat stack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The Heat stack fails to update sometimes because of the error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `un

[2019-07-16 02:59] #696 closed

[2019-07-16 11:22] adisky opened #699 "Conformance test not required to run on every PR"
**Is this a BUG REPORT or FEATURE REQUEST?**:
We are running conformance tests one every PR, these tests are heavy and takes time to run.  we can skip these tests for all plugins and run only for ccm.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-contr

[2019-07-16 11:23] adisky commented on #699
cc @dims @hogepodge @lingxiankong @ramineni ??

[2019-07-16 11:51] lingxiankong opened #700 "magnum-auto-healer: Failed node is stuck in SHUTOFF status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

- If an error happens during the repairing process in the cloud provider, there is no chance to fix the failed node in the future because the Node object has been deleted from Kubernetes.
- If the magnum-auto-healer(master) is running on a failed node, there is no chance for the slaves to fix that node because the Node ob

[2019-07-16 18:06] hogepodge commented on #699
Strongly agree.

[2019-07-16 22:56] #700 closed

[2019-07-18 13:55] bgagnon opened #702 "cinder-csi-plugin does not have options for leader election"
Of all the containers in the pod template of the  `csi-cinder-controllerplugin` StatefulSet, `docker.io/k8scloudprovider/cinder-csi-plugin` is the  only one that does not appear to have options for leader election.

Isn't this a requirement to run in HA with a multi-replica Deployment?

[2019-07-18 21:30] bgagnon opened #703 "Missing RBAC permission to update volumesnapshots/status sub-resource"
The manifests do not include an RBAC permission to update the `volumesnapshots/status` sub-resource:

[code]

[2019-07-19 04:28] ramineni commented on #703
/assign

[2019-07-22 06:40] #565 closed

[2019-07-24 08:43] mape90 opened #705 "[Cinder CSI] device isn't initialized correctly"
**What happened**:
In rare cases volume attached to VM might not be initialized correctly by udev. This causes that device do not have volume id specified and plugin can not find the device.

This can be fixed by executing `udevadm trigger` as then volume will get all necessary information.

**What you expected to happen**:
Plugin should try to "rescan" devices so that if udev missed it trigger it

[2019-07-24 09:28] #606 closed

[2019-07-24 14:47] kazesberger commented on #667
**hi, minor prior suggestion:**
we could remove the volume/mount for /var/lib/cloud/data/ from the daemonset as it is not required since https://github.com/kubernetes/cloud-provider-openstack/pull/331. or maybe provide 2 variants in the manifests folder. shall i open/provide separate issue/pr?

**Details:**
made my first attempts using the csi plugin and noticed, that I had to remove the mount/vol

[2019-07-25 09:32] adisky commented on #627
Tested manually static, dynamic provisioning it is working well, run e2e tests but most of the tests require multinode env

[2019-07-29 08:01] adisky commented on #705
@mape90 could please also share logs, what errors are you getting??

[2019-07-29 13:43] silverbackdan opened #709 "Cloud Controller Manager - `Error from server: no preferred addresses found; known addresses: []`"
/kind bug

**What happened**:
The openstack-cloud-controller-manager pod returns an error:
`Error from server: no preferred addresses found; known addresses: []`

I believe this is because my instance sits on a network where the public IP address is not available to the machine. I'm not sure if that's the issue but after following the guides, the above error is logged before the controller manager

[2019-07-29 15:27] silverbackdan commented on #709
I have been looking into this more and it may be due to when I have the cloud provider set as 'external' the nodes do not get an internal IP address assigned.
[code]

When I do not use an external cloud provider in the `kubeletExtraArgs` an internal IP address is found and I think this is what may be missing. I am still unsure as to why this is though. I'll keep on trying to figure it out in the m

[2019-07-29 16:41] silverbackdan commented on #709
Maybe someone one day will stumble across this and it'll help them - I ended up going back to the in-tree provider. With that I got the error about my `cloud.conf` file having an error `5` should be `5s` for the monitor delay and timeout.

I then had issues again - what solved that was setting the DNS servers. I took a look at my network in openstack that I was in, checked the DNS addresses, confi

[2019-07-30 02:37] lingxiankong commented on #709
From the output here, your openstack vm doesn't have either fixed-ip or floating-ip. Can you show me the output of `openstack server show <vm-id>`

[2019-07-30 08:21] silverbackdan commented on #709
Thanks for the reply @lingxiankong - after adding the cluster dns settings the internal and external IP addresses were both found. I think that was a key part to it. I looked in my openstack dashboard and the network I was on to find the DNS settings.

[2019-07-30 10:28] lingxiankong commented on #709
Glad to hear the issue was solved, can I close the issue now, or do you think it's necessary to add something to the doc?

[2019-07-30 10:41] silverbackdan commented on #709
What would have been nice would be to know where the log files which will help trace errors are located, and if they exist. So my first issue was a malformed cloud configuration. When using the deprecated in-tree cloud provider, kubelet failed to start and I saw the reason why.

I then looked at the default configurations used by kubelet here `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

[2019-07-30 13:14] #695 closed

[2019-07-30 23:45] lingxiankong commented on #709
I've not played with in-tree cloud provider for a long time because it's already deprecated and not recommended.

I don't know how you deploy your k8s cluster, but I am using the ansible playbook [here](https://github.com/lingxiankong/ansible-kubernetes-on-openstack) which is deploying the openstack-cloud-controller-manager.

[2019-07-31 09:30] chrigl commented on #421
Just for the record: @jichenjc implemented this in #426 😄

[2019-07-31 09:40] #633 closed

[2019-07-31 21:20] silverbackdan commented on #709
Thanks for the comments - I was certainly trying to use this out-of-tree provider when I raised this ticket (as seen the files I create with the commands in my initial post).

It was moving to the deprecated in-tree provider where an error was thrown about the `cloud.conf` and that started me on the road to getting that fixed and also finding the `cluster-dns` setting.

It's likely that switching

[2019-07-31 21:20] #709 closed

[2019-08-01 00:28] jichenjc commented on #702
/assign
I am not expert, but I can take a look, if I will not able to fix it, I will unassign myself :)

[2019-08-02 04:52] asomya opened #713 "Ability to specify which interface to use for the cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I couldn't specify which interface endpoints to use for the Openstack cloud provider. It defaults to the public interface from the gophercloud SDK.

**What you expected to happen**:
A way to specify which interface to use in the cloud provider config:
e.g.
interface=internal or interface=admin
keep public by default i

[2019-08-02 04:54] asomya commented on #713
I would like to work on this, can someone please assign it to me?

[2019-08-02 05:36] lingxiankong commented on #713
Hi @asomya, thanks for raising this issue, could you please add more information for this feature request, e.g. what's the problem with the current implementation, maybe add some logs you've seen? It will help us to know better about what we are going to enhance. Thanks!

[2019-08-02 16:37] gman0 opened #714 "[Manila CSI] add csi-sanity tests"
This is a tracker ticket for PRs needed to get csi-sanity tests in csi-manila.

[2019-08-02 16:37] gman0 commented on #714
/kind feature

[2019-08-02 16:41] gman0 commented on #630
xref for csi-sanity tests https://github.com/kubernetes/cloud-provider-openstack/issues/714

[2019-08-04 02:29] #524 closed

[2019-08-05 06:37] ramineni commented on #569
/remove-lifecycle rotten

[2019-08-06 10:26] mape90 commented on #705
Sorry the delay.

I currently do not have the logs, but what happens is that udev isn't triggered when volume is attached to node. So node_server can never find it as that device do not have the link in /dev/disk/by-id/.

Actual problem is in host operating system side as it should handle all volume attachment events. However I have seen in many different OS vendors this same issue.

It is quite r

[2019-08-06 14:05] silverbackdan commented on #254
Sorry to ping @embik - did you find a solution. I'm the same where a new namespace will be created for each project so having to create that key in each one that needs a pvc will be a huge pain.

[2019-08-06 14:20] silverbackdan commented on #534
I'd also like clarification on this if possible. I don't think I am wanting or needing to use Ceph right now. Was adding the standalone cinder plugin along with the csi controller plugin and csi node plugin the right thing to do, and is ceph required for the cinder standalone plugin?

[2019-08-06 15:09] embik commented on #254
@silverbackdan I did not, we switched to the Cinder CSI plugin and have been rather happy with that.

[2019-08-06 15:29] silverbackdan commented on #254
Thanks @embik I'll go back and take a look at that one again.

[2019-08-07 09:59] adisky commented on #702
/kind feature

[2019-08-07 09:59] adisky commented on #690
/kind feature

[2019-08-07 10:00] adisky commented on #637
/kind feature

[2019-08-07 18:18] jsafrane opened #717 "CSI driver should wrap all errors"
/kind bug

Looking at the CSI driver code, it often returns naked `fmt.Errorf()` or `errors.New()` to gRPC as CSI response.

All errors should be wrapped into `status.Error(codes.XXX, err.Error())`. CSI spec explicitly enumerates what errors can be returned from each call and in what cases.

[2019-08-07 18:22] jsafrane opened #718 "CSI ControllerUnpublish shoud return success when missing node or volume"
/kind bug

As OpenStack detaches all volumes from deleted nodes, `ControllerUnpublish` call should most probably return `success` when detaching a volume from deleted / missing node - such volume must have been detached.

Similarly, a volume must had been detached before it was deleted. Therefore `ControllerUnpublish` should return success when detaching a missing volume.

See https://github.com/c

[2019-08-07 20:50] gman0 commented on #714
3 pending/to-be PRs:
- [x] add an abstract interface for the Manila client, move it into a separate package, change all references from `gophercloud.ServiceClient` to `manilaclient.Interface`:
**feature branch** https://github.com/gman0/cloud-provider-openstack/tree/csimanila-manilaclient
**PR** https://github.com/kubernetes/cloud-provider-openstack/pull/716
- [ ] fix the driver in accordance with

[2019-08-08 06:02] adisky commented on #717
/assign

[2019-08-08 06:33] adisky commented on #718
/assign

[2019-08-12 00:34] #386 closed

[2019-08-12 09:40] gman0 opened #720 "[Manila CSI] add support for CephFS snapshots"
**Current situation:**

Currently, CephFS backends in Manila are limited to only creating snapshots - Manila does not offer `create_share_from_snapshot_support` capability for CephFS just yet. From CSI side of things, the spec doesn't allow advertising `CREATE_DELETE_SNAPSHOT` without supporting snapshot volume source in `CreateVolumeRequest` - which means that csi-manila must forbid CephFS snapsh

[2019-08-13 02:21] lingxiankong commented on #540
@oz123 Hi, I found an issue in one of our customers cluster that might be related to this one, if the OpenStack API call inside OCCM is slow, it will hit 409 HTTP code when updating the Node object (because the current Node object has a newer resource version), and OCCM will try again and again. I added `hostNetwork: true` in OCCM manifest, issue was gone. You could also have a try if OCCM is stil

[2019-08-13 07:32] gman0 commented on #720
/kind feature

[2019-08-14 07:56] infinitydon opened #724 "Openstack LB SG not updating after port changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If a port is added to an existing k8s LB service, the SG is not updated to reflect the change thereby traffic to the new port will not be allowed (unless you manually update the SG yourself).

**How to reproduce it (as minimally and precisely as possible)**:

1.) Create new k8s service LB.

2.) Add another port to the ser

[2019-08-14 08:56] ramineni commented on #699
@adisky agreed. If conformance tests only use cloud provider code https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/cloudprovider , then we can skip running for all other plugins. May be we can make it some periodic run to make sure we are in sync with latest k8s code. wdyt?

[2019-08-15 08:57] lingxiankong opened #725 "k8s-keystone-auth: Authorization failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The resource name in the permission spec(v2) is case sensitive, and is prune to authorization failure.

**What you expected to happen**:
permission spec definition should be case insensitive

**How to reproduce it (as minimally and precisely as possible)**:
1. Define the permission spec as follows:

[code]

2. The user wit

[2019-08-16 12:32] #312 closed

[2019-08-19 06:30] adisky opened #729 "Support Multinode attachement Cinder CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Cinder Volume can be attached to multiple nodes, with each attachment specifying RO/RW modes, which corresponds to following CSI caps
VolumeCapability_AccessMode_MULTI_NODE_READER_ONLY
VolumeCapability_AccessMode_MULTI_NODE_SINGLE_WRITER
VolumeCapability_AccessMode_MULTI_NODE_MULTI_WRITER

Intially we will add suppor

[2019-08-19 07:29] mape90 commented on #705
This scanning was removed at PR https://github.com/kubernetes/cloud-provider-openstack/pull/595

It was correctly removed as path can not be trusted. However this also removes the probing what then causes these non-initialized volumes.

[2019-08-19 08:15] #725 closed

[2019-08-19 11:43] #699 closed

[2019-08-20 05:40] adisky commented on #729
/assign

[2019-08-20 16:44] kayrus commented on #640
Related #426

[2019-08-21 08:21] #703 closed

[2019-08-22 06:47] kayrus commented on #640
@adisky I'll probably work on this issue. The openstack logic is a little bit complicated, and there is a lot of duplicate logic, which is already covered in https://github.com/gophercloud/utils/tree/master/openstack/clientconfig. I'd like to remove this logic from the cloud provider and use existing function from the https://github.com/gophercloud/utils/tree/master/openstack/clientconfig, since i

[2019-08-22 06:58] adisky commented on #640
@kayrus Thanks for working on this, yes we are aware that there is lot of duplicated logic
we are happy to have it refactored :)

[2019-08-22 06:59] kayrus commented on #640
@adisky it doesn't mean that the #731 is abandoned ;) One thing after another

[2019-08-22 15:15] kayrus opened #734 "Auth: add support for the OS_USER_DOMAIN_NAME"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

In openstack, user can be created in a different domain, but auth can be made against the target domain and project.

E.g.

[code]

This setup didn't work, because the OS_USER_DOMAIN_NAME is not considered and the auth happens the way below and fails:

[code]

[code]

**What you expected to happen**:

[code]

**Environment**:
- ope

[2019-08-22 19:38] kayrus commented on #640
@adisky could you please clarify what is the reason to use similar code in:

https://github.com/kubernetes/cloud-provider-openstack/blob/6788416f43938c8cf45159f678d276baa388eb02/pkg/volume/cinder/volumeservice/connection.go#L58
https://github.com/kubernetes/cloud-provider-openstack/blob/6788416f43938c8cf45159f678d276baa388eb02/pkg/share/manila/shareoptions/openstackoptions.go#L77
https://github.co

[2019-08-23 07:16] #659 closed

[2019-08-23 09:07] #717 closed

[2019-08-24 16:18] gman0 commented on #630
xref for Zuul acceptance job https://github.com/theopenlab/openlab-zuul-jobs/pull/624

[2019-08-25 11:02] #571 closed

[2019-08-26 07:09] tsmetana commented on #453
The feature has been successfully implemented. Closing the issue.

[2019-08-26 07:09] #453 closed

[2019-08-27 06:48] kayrus commented on #640
nm, I covered my last question within #735

[2019-08-27 18:00] sbueringer commented on #281
We're running VIO4 & VIO5 in production with Kubernetes 1.13 and the CSI Cinder plugin (all with VMDKs). No issues whatsoever. I would close this issue here until more evidence shows up

[2019-08-27 20:08] cwolfinger opened #737 "Cinder Volumes Do Not Reattach On Node Shutdown"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Ran a deployment with a PV cinder volume.  Shutdown the node via Horizon console.  Pod was stuck in "Init" state waiting for the PV to attach.

**What you expected to happen**:
PV would detach from the shutdown node and reattached to the new node.

**How to reproduce it (as minimally and precisely as possible)**:
- Run a d

[2019-08-28 18:22] praseodym commented on #281
@sbueringer thanks for the update! I don’t have any recent evidence against this so I agree with closing this issue.

[2019-08-28 18:22] #281 closed

[2019-09-02 00:04] sfxworks opened #741 "Failed to get Barbican client Post x509: certificate signed by unknown authority"
/kind bug

When attempting to deploy the Barbican KMS container on the cluster while setting appropriate configurations in place, I get an error stating that the cert is invalid. However, our endpoint at  https://cloud.lax1.imhcloud.net:5000/v3/auth/tokens is not self-signed.

Likely similar to https://github.com/kubernetes/cloud-provider-openstack/issues/499 which was resolved by https://github.c

[2019-09-02 06:45] adisky commented on #640
@kayrus the reason behind this is, all the plugins are not developed here, at very initial stage they are developed independently and later contributed here

[2019-09-03 06:04] ramineni commented on #705
/assign

[2019-09-03 06:07] ramineni commented on #472
This has been fixed as part of sanity checking

[2019-09-03 06:07] ramineni commented on #472
/close

[2019-09-03 06:07] #472 closed

[2019-09-03 11:59] xpivarc opened #744 "Cinder CSI plugin with OIDC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
I would expect there is support to use cinder csi plugin with oidc and without openstack cloud controller. Am I missing something or is this feature coming ?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- op

[2019-09-03 22:37] lingxiankong opened #746 "magnum-auto-healer: Cluster status does not change during repair"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
During the node repair process, the Magnum cluster status doesn't change, still in `CREATE_COMPLETE`, but `UPDATE_IN_PROGRESS` is expected.

[2019-09-04 09:28] #634 closed

[2019-09-04 10:38] adisky commented on #636
/remove-lifecycle-stale

[2019-09-04 10:39] adisky commented on #636
/remove-lifecycle-stale

[2019-09-05 05:57] jichenjc commented on #744
the best search on oidc is openid connect..   can you elaborate on the question? Thanks

[2019-09-05 07:13] jichenjc commented on #702
ok, I mostly figured this out, will submit a PR soon..

[2019-09-05 07:54] adisky commented on #744
@xpivarc cinder csi plugin can be used without openstack cloud controller manager

[2019-09-05 08:28] xpivarc commented on #744
@jichenjc In our private openstack we use federation auth. So to clear my question: Is there a way to use cinder csi plugin with generated app credentials from openstack. I only see the possibility to use name + passw (basic auth)

@adisky That's clear to me. I am interesting in auth capabilities.

[2019-09-05 08:44] jichenjc commented on #744
https://github.com/kubernetes/cloud-provider-openstack/pull/426
not sure this is you are looking for

sorry, I don't whether v3oidaccesstoken supported or not, @lingxiankong do you know about this?

[2019-09-05 09:18] xpivarc commented on #744
@jichenjc Seems like it. Just to clarify. Does Cinder CSI plugin also support ApplicationCredential ? Seems like #640 is addressing this. Can you provide some docs or example cloud-config with ApplicationCredential ? Thanks

[2019-09-05 14:23] #534 closed

[2019-09-06 06:13] mape90 commented on #737
Logic for selecting when and where to attach volumes isn't managed by CSI driver. It is done by attacher-detacher-controller in kubernetes manager. (code is located in kubernetes core repo)

Also this behavior is intended as control loop can not know if node is down or if there is just net-split and volume would still be in use.

If k8s logic would just forcefully detach volume and attach it to ne

[2019-09-06 07:12] #746 closed

[2019-09-09 01:46] jichenjc commented on #702
@adisky it shows to me that we are using RPC server here, while some other containers like external-provisioner is using controller, my search shows the leader election only applied to controller, so do we have any comments on whether we still can use leader election here?

[2019-09-09 08:32] adisky opened #750 "Octavia LB CI Job is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
` cloud-provider-openstack-acceptance-test-lb-octavia ` is failing , It would be difficult for openlab team to provide octavia as a service, the job needs to be moved on devstack

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envi

[2019-09-09 08:32] adisky commented on #750
/assign @lingxiankong

[2019-09-09 20:44] zbynekslozil opened #751 "Cinder CSI plugin doesn't support cinder API v2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Our Openstack provider provides only Cinder v1, v2 API.
I want use Cinder CSI plugin but I didn't find any information about minimal version. I found only https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/provider-configuration.md in which is v2 supported.

I tried apply plugin manifests with logs error result:

[2019-09-10 05:16] jichenjc commented on #751
as far as I can tell, v1 support was removed not long ago, v2 should be in support level
is it because v1 was removed and lead to the endpoint v1 you have lead to some issue?

[2019-09-10 05:18] jichenjc commented on #744
ok, my bad, I thought that fixed, I didn't notice the follow up patch

googled some doc might help :
https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/www-assets-prod/presentation-media/Enabling-Cloud-Native-Applications-with-Application-Credentials-in-Keystone.pdf

[2019-09-10 05:21] jichenjc commented on #729
@adisky I assume this is cinder multiple attach feature enablement?

[2019-09-10 06:45] adisky commented on #729
@jichenjc yes, we need to add  these capabilities in CSI Driver and test it

[2019-09-10 06:48] adisky commented on #751
@zbynekslozil due lack of time and other priorities we have not added it, feel free to add support for v2, we would help you!!

[2019-09-10 07:00] jichenjc commented on #751
@adisky we need at least a doc update about this ... I found v1 removal but our code do have v2 wording ..we can remove the info when v2 support added

[2019-09-10 07:49] #744 closed

[2019-09-10 09:26] adisky commented on #751
@jichenjc could you share the link?

[2019-09-10 09:45] adisky commented on #751
@zbynekslozil @jichenjc FYI
https://github.com/kubernetes/cloud-provider-openstack/pull/213

[2019-09-10 13:18] zbynekslozil commented on #751
@adisky I don't feel competent enough for code adding (my knowledge about Go and internal csi structure are minimal). But I can help to test it on our current environment.

We have also negotiating a version upgrades with our Openstack provider, but I don't know how it will succeed.

[2019-09-10 13:32] jichenjc commented on #751
@zbynekslozil please see adisky's info, less likely we will have a v2 support soon, so you won't able to upgrade to v3?

[2019-09-10 15:00] DJAyth opened #754 "Octavia Ingress Controller Fails with latest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
So a few months ago I started toying with the openstack provider, specifically the octavia ingress stuff as it would have been useful to us. I ended up having to drop it as our provider was on version Pike, which didn’t support bulk creation of members for LB’s. Well they updated the version to Queens which has that funct

[2019-09-11 03:00] oomichi commented on #754
This issue is what I also am facing.

/cc @oomichi

[2019-09-11 10:03] #636 closed

[2019-09-12 05:45] kayrus opened #757 "Octavia: add tags support for LB resources"
/kind feature

**What happened**:

Tags were added in stein release: https://docs.openstack.org/releasenotes/octavia/stein.html
They can be used to control LB resources and filter out the resources, which were created manually.

**What you expected to happen**:

Users can manually create resources within the LB, controlled by the CCM, e.g. custom listeners and pools. They can be ignored within the

[2019-09-12 13:35] alijahnas opened #758 "Using cinder as storage class with cloud-provider-openstack"
I am trying to migrate from the in-tree cloud provider to the external cloud provider. I did the steps described here: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-controller-manager-with-kubeadm.md

The openstack-cloud-controller-manager DS seems to run without errors. I then try to provision a cinder volume with provisioner: kubernetes.io/cinder
And even if I spe

[2019-09-12 22:54] oomichi opened #759 "Octavia: Failed to batch updating members for pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

During creating an Ingress resource (https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-octavia-ingress-controller.md#create-an-ingress-resource), octavia-ingress-controller fails to batch updating members from pool.
The following is log of octavia-ingress-controller:
[code]
Then the 'ADDRESS'

[2019-09-13 07:39] zetaab commented on #758
We have been using CSI starting from 1.13 without any problems. Nowadays we have 1.15.3 installed in all clusters.

[2019-09-13 11:33] JrCs commented on #603
It's seems that in rocky and using octavia, we can use an haproxy that can loadbalance UDP traffic.
Can cloud-provider-openstack be upgrade to allow the creation of LB with UDP as protocol ?

[2019-09-13 14:11] alijahnas commented on #758
Thanks for the info, I removed the flag  `--external-cloud-volume-plugin`. I have openstack-cloud-controller-manager running as a DS, and I create a storageclass with `provider: openstack.org/standalone-cinder` and create PVC, but I get this on the description:

`waiting for a volume to be created, either by external provisioner "openstack.org/standalone-cinder" or manually created by system admin

[2019-09-13 14:12] alijahnas commented on #758
I tried to use the CSI driver, but I got /var/lib/kubelete/pods that tried to be mounted on / which crashed the machine. I used latest image, should I use 1.15.3 as you do or latest is just fine? Thanks

[2019-09-13 20:48] mikejoh commented on #754
@oomichi Thanks, not sure what i'm looking for after all.. This might be real long shot but in the stacktrace there's these two lines that caught my eye:
[code]
and
[code]
In `controller.go` on line `242` the following happens:
https://github.com/kubernetes/cloud-provider-openstack/blob/23ac807a68fbf3eece678bb5977dcf64559568a9/pkg/ingress/controller/controller.go#L242
This was changed in PR [658](

[2019-09-13 21:52] oz123 commented on #758
@alijahnas I think what @adisky means is that you need to run the ccm and csi to provision volumes.

@adisky, can you please clarify this sentence:

I think you are missing a comma which make a big difference in the meaning here. I don't understand what needs to be done to provision volume with CCM.
Currently, I (mis)understand that there are 3 ways to provision volumes:
1. the in tree cloud conto

[2019-09-13 23:07] oz123 commented on #540
@lingxiankong thank you for getting back to me after all that time.
[code]
Was the case in the manifest we used. We used the manifest from here:

https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml#L40

This wasn't changed in the last 7 months (as of today).
Also, I looked again in your roles and found out that

[2019-09-14 00:06] lingxiankong commented on #540
Fantastic!

[2019-09-14 00:14] lingxiankong commented on #754
@mikejoh thanks for the investigation! Yes, the L242 in `controller.go` looks suspicious, I'm using k8s v1.14.5, @oomichi is using v1.15.1, @DJAyth didn't mention his version. I will try to install v1.15.X and verify again.

[2019-09-15 17:54] mikejoh commented on #754
@oomichi @DJAyth I have successfully built and started the Octavia Ingress controller using my fix in the PR above. It works as far as i can see and test, i have created, updated and deleted the Ingress objects and i can see it being reflected in the OpenStack environment as expected.

I have pushed this to an image here: https://hub.docker.com/r/mikejoh/octavia-ingress-controller, use the `master

[2019-09-15 20:21] lingxiankong commented on #754
@mikejoh Nice! Thanks for the fix, I will review asap today.

[2019-09-15 21:37] mikejoh commented on #754
@lingxiankong Great!

[2019-09-16 01:52] #754 closed

[2019-09-16 06:46] mape90 opened #761 "[Cinder CSI] Metadata implementation missing config drive"
**What happened**:
Cinder CSI do not implement config drive for metadata. This will cause all deployments without metadata API service to fail.

**What you expected to happen**:
Both API and metadata should be supported. Also search order between these methods should be configurable similar way as it for cloud provider.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy Cind

[2019-09-16 07:00] adisky commented on #479
/remove-lifecycle stale

[2019-09-16 07:00] adisky commented on #761
/close duplicate of https://github.com/kubernetes/cloud-provider-openstack/issues/479

[2019-09-16 07:00] adisky commented on #761
/close

[2019-09-16 07:00] #761 closed

[2019-09-16 07:39] alijahnas commented on #758
@oz123 I would like to know too if it is possible to provision volumes only with the external cloud controller, without the in tree k/k implementation.
@zetaab what version of CSI driver you recommend to use? Latest or 1.15.3 ? Thanks

[2019-09-16 09:06] adisky commented on #758
1. intree cinder driver
2. external cloud controller manager has no volume control loops, you have three options with external provider
   i) standalone cinder driver
   ii) Flex volume driver
   iii) CSI
 first are not maintained from long time, and flex will also deprecate, CSI is the community direction so better to use it.

[2019-09-16 09:15] alijahnas commented on #758
@adisky thanks for the reply. So I'll try to use the CSI plugin then. Which version should I use? Because the latest tag is not working and is crashing. I also tried to use the 1.15 unsuccessfully... I also see that between the version 1.13 and 1.15, the container size dropped from 112MB to 9MB. What happened?
Can you point me to a configuration that is stable?
Thank!

[2019-09-16 09:53] oz123 commented on #758
@adisky

By first two do you mean:
1 .intree cinder driver (is this the one k\k)
2.  standalone cinder driver (which one is this?)

Can you please confirm?

[2019-09-16 10:07] JrCs opened #763 "LB not working with externalTrafficPolicy set to Local"
/kind bug

**What happened**:
If we create a service of Type LoadBalancer and ### externalTrafficPolicy with value **Local** the LB that will be create will not work as expected.

**What you expected to happen**:
Only LB traffic to nodes that have the pod running.

**How to reproduce it (as minimally and precisely as possible)**:
Create a service of type **LoadBalancer** with **externalTrafficPoli

[2019-09-16 10:31] adisky commented on #758
@oz123 first two in the sublist
i) standalone cinder driver
ii) Flex volume driver

apart from this intree driver API not going to deprecate they will be migrated to CSI
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190129-csi-migration.md

[2019-09-16 10:33] adisky commented on #758
@alijahnas CSI latest one is working fine, we running it in CI
reason for container size is dropped as previously we used ubuntu as base image then alpine

[2019-09-16 10:36] ramineni commented on #758
@alijahnas we use debian currently as base image, and as @adisky mentioned latest should work fine.

[2019-09-16 10:38] adisky commented on #758
@alijahnas please refer version compatibility before deploying
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md#compatibility

[2019-09-16 10:39] lingxiankong commented on #763
The current OCCM implementation(based on OpenStack) doesn't support this feature, as per https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support and https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip, seems this feature implementation is different from cloud to cloud.

If your purpose of using this par

[2019-09-16 11:09] lingxiankong commented on #741
@adisky Hi, is it possible for you to take a look at this issue if you are still maintaining the barbian-kms-plugin?

[2019-09-16 11:13] lingxiankong commented on #724
@infinitydon are you using Octavia or Neutron-LBaaS?

[2019-09-16 11:17] infinitydon commented on #724
@lingxiankong I am using Neutron-LBaaS

[2019-09-16 11:17] adisky commented on #741
@lingxiankong i would look after releasing v1.16, currently busy in some other work.

[2019-09-16 11:17] lingxiankong commented on #648
magnum-auto-healer already uses resize API for worker node repair, however, Magnum doesn't support master node resize, so close this issue for now.

/close

[2019-09-16 11:17] #648 closed

[2019-09-16 11:23] lingxiankong commented on #724
Hi @infinitydon, please see my comments in https://github.com/kubernetes/cloud-provider-openstack/issues/628, currently we are lack of contributors who are using Neutron-LBaaS with openstack-cloud-controller-manager :-(

[2019-09-16 11:31] infinitydon commented on #724
Can you confirm if Octavia is not affected with this issue? I currently don't have access to an octavia based deployment..

[2019-09-16 11:46] alijahnas commented on #758
Thanks @ramineni
@adisky so I am trying to deploy using latest image, but I have the same error as: https://github.com/kubernetes/cloud-provider-openstack/issues/312
The OpenStack over which I am using CSI driver has Cinder v3, but the credentials I am using don't allow me to get the service endpoints: You are not authorized to perform the requested action: identity:list_endpoints
I imagine that w

[2019-09-16 12:37] alijahnas commented on #758
Sorry, in fact the OpenStack I was testing on doesn't support Cinder v3... Anything on Cinder v2 integration?

[2019-09-16 14:43] kayrus commented on #640
Fixed by #735

[2019-09-16 14:43] #640 closed

[2019-09-16 14:55] zbynekslozil commented on #751
My Openstack provider updated Cinder API on v3. After fast testing it looks good, so this issue is not important for me now. Thanks for your time.
P.S. the doc update will be good for others

[2019-09-16 19:44] lingxiankong commented on #724
@infinitydon https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/provider-configuration.md#load-balancer-optional-parameters

[2019-09-16 22:42] #751 closed

[2019-09-17 05:37] mape90 commented on #761
Sorry I totally missed that issue. I tried to search if this was already reported or not. But good that it has issue already.

[2019-09-17 05:59] adisky commented on #758
@alijahnas contribute to support :)

[2019-09-17 06:02] adisky commented on #758
or you can use the intree volume plugin with external ccm using `--external-cloud-volume-plugin`
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-kubernetes-integration-options.md, i have not used it but you can give a try, and most probably the in tree driver will get removed in v1.17 or v1.18

[2019-09-17 07:13] alijahnas commented on #758
@adisky I'll see what I can do

[2019-09-17 07:44] infinitydon commented on #724
Ok.. But I will like to suggest that the feature should be looked at as this works very well with the public clouds, I have tested this on AWS, GCP, any update to a k8s LB service ports will trigger the appropriate changes in the security group that is associated with that LB.

[2019-09-17 09:36] piwi91 opened #765 "Cinder CSI not availability zone aware"
/kind bug

**What happened**:

When moving from in-tree `kubernetes.io/cinder` to `csi-cinderplugin`, the Cinder CSI plugin doesn't respect the availability zone of the statefulset. When `kubernetes.io/cinder` is used, this is not a problem.

**What you expected to happen**:

I would expect that the CSI Cinder plugin forces the volume and statefulset pods to be in the same availability zone.

**Ho

[2019-09-17 10:43] adisky commented on #765
@piwi91 please try specifying `volumeBindingMode` in storage class as
https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/topology/example.yaml#L6
you can also refer this doc https://kubernetes-csi.github.io/docs/topology.html

[2019-09-17 14:07] alijahnas commented on #758
@adisky
is the port 12345 deployed here https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L16 is used for anything? Thanks

[2019-09-17 14:47] bgagnon commented on #702
@jichenjc if leader election is not necessary for this particular container, then the StatefulSet with replicas=1 should be replaced with a Deployment with appropriate leader election flags on the containers that support it.

The comments in the docs suggest that the StatefulSet is being used precisely to avoid having more than one pod at all times... this led me to believe that leader election is

[2019-09-18 08:21] piwi91 commented on #765
@adisky Doesn't do the trick unfortunately

[code]

Still the same issue

[2019-09-18 09:07] alijahnas commented on #758
@adisky FYI, I made a PR to deploy Cinder CSI with kubespray: https://github.com/kubernetes-sigs/kubespray/pull/5184

[2019-09-18 10:16] adisky commented on #758
@alijahnas thanks for your efforts, its nice :)

[2019-09-18 10:26] adisky commented on #765
@piwi91 could you share node server cinder plugin container logs??
https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml#L46

[2019-09-18 10:43] adisky commented on #765
Make sure you have enabled the flag `--feature-gates=Topology=true
` in `external-provisioner`
please share the output of `kubectl describe  CSINode`

[2019-09-18 11:34] alijahnas commented on #758
What about the port 12345, it doesn't seem to listen to anything in particular...

[2019-09-18 14:55] piwi91 commented on #765
@adisky Thank you for pointing me in the right direction, the issue is resolved :)

First, I had to deploy the latest versions of the CSI containers:
* quay.io/k8scsi/csi-attacher:v1.2.1
* quay.io/k8scsi/csi-provisioner:v1.3.0
* quay.io/k8scsi/csi-snapshotter:v1.2.1

I already used the v1.15 of the cinder-csi-plugin: docker.io/k8scloudprovider/cinder-csi-plugin:v1.15

Then, I had to change the sto

[2019-09-18 14:55] #765 closed

[2019-09-19 10:54] lingxiankong commented on #759
@oomichi any update?

[2019-09-19 11:13] lingxiankong opened #770 "occm: Support 'loadBalancerSourceRanges' for Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The current Octavia based Service doesn't support 'loadBalancerSourceRanges' for Service as described in <https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#servicespec-v1-core>

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2019-09-19 16:09] oomichi commented on #759
@lingxiankong I am still deploying Stein version of OpenStack on my environment.
That takes time, I am going to report the result after that.
(Hopefully I'd like to do it in this week)

[2019-09-19 20:55] lingxiankong commented on #759
Sounds good, thanks

[2019-09-20 09:39] alijahnas opened #772 "Error when mounting /var/lib/kubelet/pods in Cinder CSI Driver"
/kind bug

**What happened**:
When running cinder-csi-nodeplugin.yaml manifest, the container cinder-csi-plugin doesn't start and throws an error about not being able to mount /var/lib/kubelet/pods because no more space is left. The problem is that /var/lib/kubelet is already mounted and contains pods directory.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f ci

[2019-09-23 04:15] #503 closed

[2019-09-23 05:57] adisky commented on #566
/remove-lifecycle stale

[2019-09-23 07:01] #683 closed

[2019-09-23 13:00] jichenjc commented on #702
ok, I will take another look at this and paste some comments if I have . thanks for the info~ @bgagnon

[2019-09-23 14:13] jborg opened #777 "Volume expansion fails when cinder is backed by Ceph (and likely other backends)"
**What happened**:
1. Edit size of currently attached pvc.
2. kubectl describe pvc shows "Waiting for user to (re-)start a pod to finish file system resize of volume on node."
3. Restart corresponding pod to start the resize process (kubectl delete pod X)
4. The csi-controller successfully completes the extendVolume api call
5. The csi-nodeplugin successfully invokes resizeFS (unknowing that the n

[2019-09-24 16:26] dshcherb commented on #665
/remove-lifecycle stale

[2019-09-25 02:32] jichenjc commented on #702
just for record, I think using CSI-lib https://github.com/kubernetes-csi/csi-lib-utils will be a good choice to include leader election stuff as manila CSI did, then in turn encounter some issue and need fix https://github.com/kubernetes-csi/csi-lib-utils/pull/32 first

[2019-09-25 03:43] oomichi commented on #759
I am reporting current status of this issue.
Now I've deployed Stein version of OpenStack IaaS which contains Octavia also from Ubuntu 18.04 LTS packages.
But I am facing Octavia issue which is different amphora version between the Ubuntu package and community branches which are not only master but also stable/stein.
The Ubuntu package is for v0.5 of amphora and the amphora driver touches the endp

[2019-09-25 03:43] #759 closed

[2019-09-25 03:46] oomichi commented on #754
Sorry for missing this issue, and thanks for fixing it @mikejoh and @lingxiankong !

[2019-09-25 04:40] lingxiankong commented on #759
thanks for the update

[2019-09-25 05:03] ramineni commented on #668
/remove-lifecycle stale

[2019-09-25 05:04] ramineni commented on #669
/remove-lifecycle stale

[2019-09-25 06:42] zetaab opened #779 "OpenStack API shows incorrect path for volume"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: I am using CSI cinder driver. However, it seems that this do have same bug that most of the openstack tools.

[code]

![Screenshot 2019-09-25 at 9 32 00](https://user-images.githubusercontent.com/22482503/65575097-ac84d700-df77-11e9-94eb-5ff82d911de3.png)

So the problem is that openstack API says that the device loca

[2019-09-25 11:12] ramineni commented on #779
@zetaab Are you using latest image of cinder-csi plugin?

[2019-09-25 11:35] zetaab commented on #779
Yep actually I noticed that v1.15 should fix this. Thanks, I am verifying

[2019-09-25 12:51] #779 closed

[2019-09-26 06:23] #770 closed

[2019-09-26 13:05] gman0 opened #781 "[RFE] Manila: add appendShareMetadata option"
There's been a request for adding user-defined metadata to new shares. This ticket will track the respective PRs to Manila external provisioner as well as csi-manila.

The plan is to add a new field `appendShareMetadata` to StorageClass/volume parameters. This field will hold a JSON string containing KV-pairs, which will be then appended to the [pre-defined](https://github.com/kubernetes/cloud-pro

[2019-09-27 06:16] kayrus commented on #777
@jborg could you please check, whether your issue is related to https://github.com/kubernetes/kubernetes/issues/82281? If yes, then, once this is merged, the cinder CSI plugin has to be updated: https://github.com/kayrus/cloud-provider-openstack/commit/31a75db2442ac7fbb1a13ccb4605a92671f5da1d

[2019-09-27 08:25] jenningsloy318 opened #784 "add legacy lbaas v2 in addtion to octavia api for ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Our openstack environment still use legacy lbaas v2 api which can't not upgrade to octavia as hardware restriction, so when deploy kubernetes we can't leverage octavia  ingress controller, thus hope ingress controller also can support neutron lbaas v2 api to create ingress object on our openstack platform.

**What yo

[2019-09-27 11:49] jborg commented on #777
I'm afraid not. Neither "/sys/block/sdb/device/rescan" or the "/sys/class/scsi_host/*/scan" thing seems to help. The only way I've found to make the new size visible when using Ceph is to actually detach and attache the volume.

As an experimental workaround I've added some code before https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L343 that returns

[2019-09-27 11:50] kayrus commented on #784
@jenningsloy318 legacy lbaas v2 is fully supported by the CCM and it is enabled by default. Is it an option for you to use cloud-controller-manager?

[2019-09-27 12:09] kayrus commented on #741
@sfxworks could you please reproduce an issue with the barbican-kms 1.16? There was an optimization made in the auth logic.

[2019-09-27 13:09] kayrus opened #787 "Barbican KMS: Barbican creates an auth request for each GetSecret call"
**What happened**:

Currently barbican KMS auths against the keystone on every GetSecret call: https://github.com/kubernetes/cloud-provider-openstack/blob/abbb3f4790e229cffd9cfd9d8b5ea8c62f664a04/pkg/kms/barbican/barbican.go#L48 . It doesn't look efficient.

**What you expected to happen**:

Auth has to be called only once, and the fetched token has to be used for further calls.

[2019-09-27 15:35] jenningsloy318 commented on #784
I can use openstack-cloud-control-manager successfully, but as you guys mentioned in the octavia ingress controller page ,ingress controller can use one lb with multiple services, but openstack cloud control manager will create one lb for each servicce ,this is costly. So I tried octavia ingress controller , but got error that don’t find octavia endpoint. And really the platform don’t have octavia

[2019-09-27 15:46] kayrus commented on #784
@jenningsloy318 I'm not a project maintainer, I just contribute a little bit. It's very nice that you pointed to the differences between regular CCM and ingress controller. We also use neutron lbaas and it probably I can introduce the neutron lbaas support to reduce an amount of loadbalancers in our environment.

[2019-09-27 19:44] kayrus commented on #713
@lingxiankong it looks like @asomya is referring to the https://docs.openstack.org/security-guide/api-endpoints/api-endpoint-configuration-recommendations.html
User can specify the endpoint_type (e.g. `OS_ENDPOINT_TYPE`) and it can be used to determine the endpoint (https://github.com/gophercloud/gophercloud/blob/13466e32a4a33946a48a259784a7f1f470d78513/endpoint_search.go). I can take a look on th

[2019-09-27 23:07] jenningsloy318 commented on #784
@kayrus it is very helpful, thanks for your info, can you share some guidelines or doc for it?

[2019-09-28 06:46] kayrus commented on #784
@jenningsloy318 there is no much difference between neutron lbaas v2 and octavia API, therefore it is very simple to switch from new package to an old one. The problem is to introduce this support correctly, I need to think about the concept. So far you can easily apply the patch below and compile the binary. Specifying the `use-neutron` in the config should allow you to use legacy API.

[code]

[2019-09-28 11:05] lingxiankong commented on #784
It's not as easy as the code you provided I'm afraid. The most important difference is, octavia based ingress controller is importing `openstack/loadbalancer/v2` package in gophercloud, which is totally different with neutron-lbaas (`openstack/networking/v2/extensions/lbaas_v2`). Secondly, the resource model and implementation between octavia and neutron-lbaas have changed a lot after neutron-lbaa

[2019-09-28 11:38] jenningsloy318 commented on #784
@kayrus thanks so much,I will patch this and to configure it in our environment

[2019-09-28 13:12] kayrus commented on #784
@lingxiankong thanks for your input. I'm aware about these differences.
@jenningsloy318 the initial patch won't work indeed. It requires more modifications.

I'm still thinking about the concept, especially on how to add the flexibility and avoid code duplication.

[2019-09-28 17:17] kayrus commented on #777
@jborg do you have the `ExpandInUsePersistentVolumes` feature gate enabled in kube controller manager? What if you disable it?

[2019-09-29 18:51] #406 closed

[2019-09-30 01:59] ramineni commented on #644
/remove-lifecycle stale

[2019-09-30 06:11] sfxworks commented on #741
[code]
Unforunentally, I get the same error. However, it does directly tell me the issue when I create the secret now!

Log of the kms controller:
[code]

[2019-09-30 06:57] kayrus commented on #741
@sfxworks I just tried to make an auth request to the `https://cloud.lax1.imhcloud.net:5000/v3` using the `git5.zswap.net:4567/quantomworks/barbican` image, and it didn't show any cert errors. Can you share the config file you use?

[2019-09-30 11:51] jborg commented on #777
I've tested both but it didn't make much of a difference. If set to false the only difference is that I need to delete any running pod to get the process started. But in both cases the end result is the same.

If I understand this option correctly it only determines if k8s should wait until no running pod is associated with the volume before starting the expansion. My issue is not with running pod

[2019-09-30 14:32] sfxworks commented on #741
[code]
The only difference I just noticed from this and the doc is the lack of spaces between the =.

[2019-09-30 14:47] kayrus commented on #741
@sfxworks I used the same with the kms, compiled from the https://github.com/kubernetes/cloud-provider-openstack/pull/788

[code]

What if you put the wrong password? Will it still complain on the cert? If not, then it looks like identity redirects to the server with the wrong certificate.... Try to get more details using curl:

[code]

[2019-09-30 15:11] sfxworks commented on #741
[code]

I get nothing but the expected 401 when using a bad password.

Not sure what you mean here. All seems ok on our end. Can you please explain?

[2019-09-30 15:28] kayrus commented on #741
@sfxworks

and what do you get using the good password? are there any `Location:` headers or redirects?

the only advantage of the #788 - you can run it in local docker without waiting for the k8s event. It will auth right after the start.

[2019-09-30 15:32] sfxworks commented on #741
[code]
With a correct password, it doesn't look like I get any redirects.

[2019-09-30 16:17] kayrus commented on #741
@sfxworks just try to reproduce the issue with the #788 build and local docker container.

[2019-09-30 16:45] sfxworks commented on #741
Rebuilt with sha256:3ebff5b2b63e2172b78b82f3a3bbd79e36a129112cf5e03f8b301a1ba221f2cf
after
[code]

[code]

[2019-10-01 05:51] kayrus commented on #741
@sfxworks can you share the container and provide step-by-step instructions on how to reproduce the issue within the regular docker env without the k8s? I already tried with your container, but it looks like that you're still using an old version. I prepared the docker image with the barbican supporting persistent connection, you can try it if you want: `kayrus/barbican-kms-plugin:latest`

[2019-10-01 08:48] ramineni commented on #679
/remove-lifecycle stale

[2019-10-02 00:44] sfxworks commented on #741
@kayrus
Your container works just fine.
[code]
Very odd. I pulled from master, ran the steps to build inside of the documentation, and pushed to the repo I referenced. Did you do the same or was there some change you also have?

[2019-10-02 00:57] sfxworks commented on #741
[code]

From the active one that I was using
when running make I can build just fine
With the old directory removed...
[code]

Even while in `/home/debian/work/src/k8s.io/cloud-provider-openstack`, it references the old directory... So it was building from the old one the entire time and placing the binaries in this one.

[2019-10-02 01:48] ramineni commented on #678
/remove-lifecycle stale

[2019-10-02 06:27] kayrus commented on #741
@sfxworks go package build process is not quite straightforward. You have to prepare the correct environment if you want to build the forked repo. There were no extra changes, I just built it from the persistent client branch.

[2019-10-02 06:44] sfxworks commented on #741
Yeah, I added your fork via git just fine. This new folder was made when I first opened this issue to combat the initial make error I received.

[code]
Seems a bit redundant with the extra src as even if I made that folder it just kept repeating. I ended up making a new clone at ` /home/debian/work/src/k8s.io/cloud-provider-openstack` to resolve this but it looks like it still used the original fo

[2019-10-02 06:50] sfxworks commented on #741
In summary it seems your branch resolves this! Haven't tested the 1.16 branch to confirm which is the factor but can do if needed.

[2019-10-04 04:56] ramineni commented on #529
/remove-lifecycle stale

[2019-10-04 13:00] kayrus commented on #784
When I though about the legacy neutron support, it appeared that it requires a lot of the logic copy-paste. Moreover, most of the logic is already written in terraform, e.g.:
* terraform resource dependencies
* cascade resource deletion is not required, because terraform handles this by design
* legacy neutron lbaas_v2 status checks

I also analyzed the current Octavia ingress controller code and

[2019-10-07 06:38] ramineni commented on #772
@alijahnas I don't think that is the cause of error you are facing, as we are not experiencing any issue regarding the same, and also , the same manifests are being tested in CI also , which is working fine.
So, could you elaborate your error and whether it is consistent ? sharing the logs also would be good.

But ya, I agree that we could check if we need to mount both the directories or not , bu

[2019-10-07 08:33] ramineni opened #793 "Fix and enable CSI sanity tests in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Most of the work related to csi sanity is been done.
The same should be enabled in CI to make sure the project complaince with csi spec.

**What you expected to happen**:
CSI sanity test to be green and enabled in CI.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environmen

[2019-10-07 15:09] yoichiwo7 commented on #772
@ramineni
I have experienced the same problem.
If you repeatedly create and delete the pod in the same node, number of the mount entries for `/var/lib/kubelet/pods` on the node seems to increase exponentially as following:

[code]

It looks like the mount entries becomes nested when the pod is created and the created mount entries won't be cleaned up even when the pod is deleted. It's just look li

[2019-10-07 17:50] dannyg28 opened #794 "Openstack Cloud Controller Manager cannot properly delete Internal Octavia LBaaS it previously deployed"
/kind bug

**What you expected to happen**:
Service is deployed with an internal-loadbalancer and traffic should be routed to service from Load balancer vip. Deleting service should delete load balancer.

**What happened**:
Load balancer is successfully deployed and traffic is routed successfully. However neither the service nor the load balancer are deleted. Following error is thrown out in the O

[2019-10-07 20:28] dannyg28 commented on #794
After investigating more I've noticed that the Loadbalancer is deployed onto a network `5d6bb1c9-0cf9-42e5-a0db-4b035aefc7a1` whose id and network range is not  considered valid by the tenant.

[code]

[code]

I attempted to specify the correct network name in the cloud-config file  like so
[code]
however that doesn't seemed to have helped at all

[2019-10-07 20:54] lingxiankong commented on #794
@dannyg28 The LB VIP port IP address is allocated from the subnet ID configured which is `e26cb53a-7d23-4315-b81b-4b9e6fb1161e`, but I didn't see this subnet from your output.

[2019-10-07 21:36] lingxiankong commented on #794
/assign

I can confirm this bug.

[2019-10-08 00:33] ramineni commented on #772
@yoichiwo7 Thanks for detailed info. Makes sense . The above scenario is never tested on gate , so we didn't catch the error.

[2019-10-08 16:13] kayrus commented on #665
@dshcherb try the https://github.com/kayrus/ingress-terraform
I don't have octavia, therefore I cannot test the behavior. If you have questions, feel free to contact me.

[2019-10-08 16:14] kayrus commented on #603
@grahamhayes @JrCs try the https://github.com/kayrus/ingress-terraform
I haven't tested the UDP support, since I don't have octavia, in theory it should work. If you have questions, feel free to contact me.

[2019-10-08 23:16] lingxiankong commented on #794
Hi @dannyg28, could you please test again using the image `lingxiankong/openstack-cloud-controller-manager:fix-internal-service`?

[2019-10-09 04:32] #609 closed

[2019-10-09 04:55] #772 closed

[2019-10-09 05:57] adisky opened #798 "Update documentation as per sig-cloud-provider guideline"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Need to update documents as per sig-cloud-provider guideline
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180731-cloud-provider-docs.md

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2019-10-09 05:57] adisky commented on #798
/assign

[2019-10-09 06:14] adisky commented on #798
cc @lingxiankong as you are more aware about the resource part!!

[2019-10-09 14:05] dannyg28 commented on #794
Hey @lingxiankong , just tested it and it looks to be working as expected! Thanks for taking a look at this so quickly

[2019-10-09 21:45] lingxiankong commented on #794
@dannyg28 thanks for the feedback.

[2019-10-10 05:30] #787 closed

[2019-10-13 14:50] MIBc opened #799 "instanceIDFromProviderID should return instance if the input parameter providerId is InstanceID"
/kind bug

**What happened**:
As the title describes, the situation may happen.
According to node-controller code: https://github.com/kubernetes/kubernetes/blob/dd5cb6426def7e0231aab61b7ef489d39c75b35c/pkg/controller/cloud/node_controller.go#L349

If the node.Spec.ProviderID is null when you forget setting "--cloud-provider=external" for kubelet. The  node-controller will use instance-id to check

[2019-10-14 05:36] #794 closed

[2019-10-14 13:22] afritzler opened #800 "Why is the Cinder CSI Controller Plugin a Statefulset?"
/kind question

Why is the CSI controller plugin for cinder deployed as a statefulset and not as deployment [0]? Is there a reason for that?

Regards,
Andreas

[0] https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml

[2019-10-14 14:10] afritzler commented on #627
Just for my understanding: If I migrate my cluster from an in-tree cloud controller-based to the Cinder CSI out-of-tree controller. Is there anything I need to take care of in my existing cluster? Or will all existing `pv`'s and `pvc`'s be correctly handled by the out-of-tree controller?

[2019-10-14 14:18] adisky commented on #627
yes, but is in alpha stage you need to enable some feature gates

[2019-10-14 14:38] adisky commented on #800
@afritzler  you can use deployment also https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#cluster-level-deployment

[2019-10-14 14:55] afritzler commented on #627
Thanks a lot! Is there any documentation out there on how to do that?

I have the following 2 scenarios here:
1. Clusters which are <= 1.14.x which run all in-tree.
2. Starting with >= 1.15.x the OoT CCM for LBs, and KubeControllerManager + Kubelet still on OpenStack in-tree

Now the question is: what do I need to do for existing >= 1.15 cluster when upgrading to the OoT CCM and CSI? I guess if th

[2019-10-16 08:36] afritzler commented on #800
Thanks @adisky!

[2019-10-16 08:36] #800 closed

[2019-10-16 14:18] #757 closed

[2019-10-16 16:09] GeorgFleig opened #802 "Incompatible provisioner name when upgrading from release 1.15 to 1.16"
/kind bug

**What happened**:
I am running a kubernetes 1.15 cluster with the external openstack cloud provider and the CSI cinder plugin for storage provisioning.

I now want to upgrade to kubernetes 1.16 and thus also upgrade the CSI cinder plugin from the 1.15 branch to 1.16. I noticed the provisioner name changed from `csi-cinderplugin` to `cinder.csi.openstack.org` in https://github.com/kuber

[2019-10-17 07:18] adisky commented on #802
@GeorgFleig driver name is same cpo release v1.13, it was changed in v1.12, please check you should not get any error while upgrading from v1.15 to v1.16

[2019-10-17 07:27] ramineni commented on #802
@adisky @GeorgFleig Its indeed changed , with external-provisoner removing --provisoner flag , https://github.com/kubernetes-csi/external-provisioner/blob/v1.1.1/CHANGELOG-1.1.md , so by default identifies provisoner uses the driver name

[2019-10-17 08:49] GeorgFleig commented on #802
Thanks for your quick replies!

@ramineni so you're saying the `provisioner` name in annotations that changed recently from 1.15 to 1.16 does not matter for existing PVCs and PVs? Meaning for existing PVs only the `driver` name is relevant and that already changed to `cinder.csi.openstack.org` in 1.12. So my PVs shoud be handled correctly after the update to 1.16 even though the annotations still

[2019-10-17 08:59] mape90 commented on #802
The annotations is relevant for at least provisioner. Otherwise old volumes are not deleted. I didn't check if attacher worked or not.

But basically you need to recreate the StorageClass and then patch all PV:s that where managed by the old provisioner.

[2019-10-17 10:13] mape90 opened #803 "Keystone auth v2 do not work"
**What happened**:
In release 1.16 V2 keystone authentication stops working.

**What you expected to happen**:
Support for V2 should not be removed as still there are openstacks that use v2 for their authentication.

**How to reproduce it (as minimally and precisely as possible)**:
Define V2 authentication for auth_url.

**Anything else we need to know?**:
This was broken by commit https://github.

[2019-10-17 11:37] mape90 opened #804 "[Cinder CSI] ExpandVolume will eventyally change Microversion to 3.42"
**What happened**:
As all CSI calls can be called simultaneously by multiple threads you should never modify global objects like os.blockstorage. As eventually some thread will fetch the temporary change as initial and then save it later. So then the "temporary" change will become permanent.

If special client is needed it should be created for that call so that parallel calls would not mess up ea

[2019-10-17 11:59] kayrus commented on #615
@mape90 can you reproduce the issue with the new gophercloud version? https://github.com/gophercloud/gophercloud/pull/1746

[2019-10-18 01:21] MIBc commented on #799
Image that: k8s cluster is installed by user. User wants to use Lb service  after the k8s used for a while. He has to install cloud-provider, but it can not work fine because no instance-id could be found.

Actually, if instanceIDFromProviderID could return the right id, it would work.

[2019-10-18 02:50] ramineni commented on #804
@mape90 I'm confused , as per issue description , it already says fixed in #786 , so what else is expected ?

[2019-10-18 08:01] mape90 commented on #804
@ramineni it is "fixed" because the fix do not actually fix anything. It fixes the problem when you only execute one resize action at time. However in real environments you will eventually have multiple simultaneous resize actions and each thread will modify the same object and that cause race condition where the temporary value is stored as initial. That fix just isn't thread safe.

Also as it ch

[2019-10-18 08:04] ramineni commented on #804
@mape90 Thanks for detail info. Got it.

[2019-10-18 08:10] lingxiankong commented on #799
according to https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager, in order to use cloud controller manager, kubelet must run with `--cloud-provider=external`

[2019-10-18 08:37] mape90 commented on #615
I have not seen this issue for long time. So I think we can close this and if we see similar issues I can open new ticket.

[2019-10-18 12:09] #602 closed

[2019-10-20 09:16] gman0 commented on #781
Done in #782

[2019-10-20 09:16] #781 closed

[2019-10-21 09:01] albertdb commented on #758
So, once the in-tree driver is removed and as long as the OpenStack provider doesn't offer Cinder v3 (so CSI driver is not an option), we would run out of options, isn't it?

[2019-10-21 11:43] adisky commented on #758
@albertdb CSI driver offers V3 support

[2019-10-21 11:45] adisky commented on #627
/assign @chrigl

[2019-10-21 13:01] albertdb commented on #758
But my Openstack provider does not.

[2019-10-21 20:52] kayrus commented on #803
relates to https://github.com/kubernetes/cloud-provider-openstack/issues/569

[2019-10-21 21:16] kayrus commented on #804
@mape90 thanks for the bug report, I totally missed this case.

from my point of view there can be at least four kinds of fix:
* set permanent minimal microversion during the initialization
* create a deep copy of the client during the resize action
* create a client from the global authed provider client for each resize action (`NewBlockStorageV3`)
* modify gophercloud to support calls with a mic

[2019-10-22 06:16] mape90 commented on #804
@kayrus how the version is set initially for the client? Is just gophercloud hardcoded thing or is it determined during authentication?
Also is is common that you can resize with this microversion, but then other calls will fail using this microversion?

If it just everything works or nothing works then global override flag is best option as then behavior is deterministic. Then we could just check

[2019-10-22 07:04] kayrus commented on #804
@mape90 initially microversion is not set, because most of the standard operations don't require it. However it must be set for live resize operations. Also you have to remember that some later microversions can remove functionality, which was supported in earlier microversions.

Supported microversions can be checked during the client initialization, but unfortunately this feature is supported on

[2019-10-22 08:30] kayrus opened #809 "Keystone auth: functional tests seem to be wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

keystone auth tests seem don't work properly and it looks like they still use in-tree openstack auth plugin:

[code]

**What you expected to happen**:

keystone auth tests should use "client-keystone-auth" and catch errors.

**How to reproduce it (as minimally and precisely as possible)**:

See logs: https://logs.openlab

[2019-10-22 08:47] kayrus opened #810 "Keystone auth: extend keystone auth methods support"
/kind feature

**What happened**:

Keystone auth supports multiple auth methods with additional parameters like user-domain-name project-domain-name, see #733. The #735 refactoring hasn't touched the keystone auth, because functional tests still use the in-tree openstack auth plugin.

**What you expected to happen**:

Introduce "client-keystone-auth" plugin tests (see #809), refactor keystone auth

[2019-10-22 09:06] kayrus opened #811 "Manila: deduplicate manila client code"
/kind feature

**What happened**:

There are two manila packages, which have identical functions to check the microversion:

* `pkg/share/manila`
* `pkg/csi/manila/manilaclient`

**What you expected to happen**:

It's worth to put the microversion check logic into a separate package and reuse it.

/cc @gman0

[2019-10-23 11:47] mape90 commented on #615
Actually this is still relevant as old openstacks still use user token for their internal authentication. So new gophercloud will not help as is is designed to only reauthenticate when token expires.

Only safe way to fix this is to make new client for every detach action. So that they will have long lasting token. This might also be optional thing so that only when you are working with old openst

[2019-10-23 23:29] oz123 opened #812 "No longer able to see LoadBalancer's status and floating IP with kubectl"
**What happened**:
Earlier versions of cloud-provider showed the floating IP of a Loadbalancer. I could do somehting like this:
[code]
To get the floating IP of the LB.

Now the status is completely empty.
[code]

I know the loadbalancer is alive and ok from openstack side of things:

[code]
- openstack-cloud-controller-manager version: 1.14
- OS (e.g. from /etc/os-release): ubuntu 16.04
- Install

[2019-10-25 08:15] zetaab opened #813 "cannot get resource "csinodeinfos" in API group "csi.storage.k8s.io" at the cluster scope"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I am seeing stuff like
[code]

**What you expected to happen**:

I expect 1) add correct rbac rules 2) if this is not needed it should not call it

So are we missing some RBAC rules from example manifests?

**How to reproduce it (as minimally and precisely as possible)**:

install csi stuff to 1.15 and check logs after fe

[2019-10-25 19:01] kayrus commented on #812
@oz123 do you want to tell that openstack-cloud-controller prior to 1.14 showed LB FIP, but since 1.14 it stopped?

[2019-10-26 04:03] oz123 commented on #812
@kayrus yes indeed.

[2019-10-26 13:42] kayrus commented on #812
@oz123 have you tried the latest version? There was an issue with the LB name detection fixed in #742

[2019-10-26 13:55] oz123 commented on #812
Thanks for the hint. I'm using k8s 1.14 so I thought I should match the ccm version. I will try  the latest version and report back.

[2019-10-28 01:44] ramineni commented on #813
@zetaab What is the version of external-attacher ? updating it to v1.1.0 or v1.1.1 should fix the issue.
Later version , 1.16 should have this issue fixed.

[2019-10-28 10:57] chrigl commented on #627
To keep this updated. My latest run on a multinode cluster with featureGates CSIMigration and CSIMigrationOpenStack enabled:

[code]

Resulted in:
[code]

I will run another test with Slow included, and will start to create a PR-ify this on openlabs.

[2019-10-29 20:40] oz123 commented on #813
@zetaab you mentioned in slack you got this working already. Can you post here what have you done to get this working?

[2019-10-30 10:32] zetaab commented on #813
@oz123 I did not get this working. It was another issue (calico between servers)

[2019-10-30 10:34] zetaab commented on #813
@ramineni I do not have pod external-attacher?

[code]

[2019-10-30 16:35] thcdrt opened #819 "Cannot expand volumes with Cinder version < 3.42"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I can't resize a volume. I get the error:
`{"computeFault":` {"message": "Version 3.42 is not supported by the API. Minimum is 3.0 and maximum is 3.15.", "code": `406}}`

**What you expected to happen**:
To resize the volume

**How to reproduce it (as minimally and precisely as possible)**:
Create a pvc of 2GB of spac, then resize i

[2019-11-01 02:50] ramineni commented on #819
@thcdrt are you using offline volume resize? Online volume resize needs 3.42 .
I suppose we could stop restricting the behavior for offline resize.

[2019-11-01 02:55] ramineni commented on #813
@zetaab image: quay.io/k8scsi/csi-attacher:v1.0.1 , this container is external-attacher sidecar.
https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.15/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L38 , can u change the version to v1.1.0 and check ?

[2019-11-01 02:55] ramineni commented on #819
/assign

[2019-11-01 08:17] kayrus commented on #819
should be fixed in #808

[2019-11-01 13:17] thcdrt commented on #819
@ramineni yes we use offline volume resize.
It would be great indeed !

[2019-11-01 13:18] thcdrt commented on #819
@kayrus you PR LGTM, thank you very much. Do you know when it should be released approximately ?

[2019-11-05 07:18] #803 closed

[2019-11-05 07:28] #529 closed

[2019-11-06 06:55] ramineni commented on #690
/remove-lifecycle stale

[2019-11-06 09:26] alvaroaleman commented on #374
/reopen
/remove-lifecycle rotten

[2019-11-06 09:28] alvaroaleman commented on #374
IMHO this is definitely something that is needed, there are quite a few ppl that have existing clusters and re-creating them is not always a feasible option.

[2019-11-06 11:05] kayrus opened #821 "LBaaS: Retry, when loadbalancer resource returns 409 response code"
/kind bug

**What happened**:

In some rare cases LB removal can return a 409 response code. This leads to an error when further LB remove retries cannot be completed, because all LB components were already removed and there is only one bare LB left.

If listener and FIPs were already removed, then you can see the following logs:

[code]

[code]

**What you expected to happen**:

There could be ra

[2019-11-06 11:37] adisky commented on #374
@alvaroaleman you are encouraged to write doc for migration :), we are lack of contributors maintaining this project, and most of us(who contributes) directly started cluster with external provider so it is difficult for use to write migration docs.

[2019-11-06 14:08] rfranzke commented on #821
I'm experiencing the problem that the load balancer `Service` is already marked for deletion (deletion timestamp is set), but the CCM produces the following logs:

[code]

[2019-11-07 05:32] ramineni commented on #813
@zetaab were you able to test this?

[2019-11-07 17:02] #603 closed

[2019-11-08 06:42] ramineni opened #823 "Remove loading config from Env variables"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Even though by default we load config options through secret in csi , there is fallback option to load from env if any errors. https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack.go#L118 ,

With this issue, https://github.com/kubernetes/kubernetes/issues/81117#issuecomment-551403749

[2019-11-08 06:43] ramineni commented on #823
cc @lingxiankong @zetaab @kayrus

[2019-11-08 10:32] adisky commented on #823
cc @chrigl

[2019-11-08 11:18] chrigl commented on #627
@afritzler Just to verify that I understand correct. You are on 1.15+ with oot ccm?

Moving to CSI could be done in multiple steps. But in any case, you must deploy `cinder-csi-plugin`. The CSI plugin and in-tree can live side-by-side, and can be selected by StorageClass.

The thing with CSIMigration (which is still in alpha in 1.16, so be aware!) is: We keep the in-tree API in-tact, but instead o

[2019-11-08 14:02] chrigl commented on #823
+1 for removing "load from env", and adding this prominently in the changelog... just in case.

[2019-11-08 16:44] chrischdi commented on #705
Hi,
think we can also see the same issue in an KVM environment using virtio-blk and virtio-scsi.
The fix for us is also as simple as doing a `udevadm trigger` to create the symlink which csi is able to find.

I would be happy to help on this one and am also able to provide logs or other information :-)

[2019-11-08 17:14] thcdrt opened #825 "Migration Cinder Intree to CSI failed"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind bug

**What happened:**

I created a Kubernetes cluster with one node and the Openstack CCM/Kubelet Intree plugin configured. Then I created a deployment using a Cinder PVC referring to a storageclass with provider "kubernetes.io/cinder". A PV has been created and the deployment pod started.

I wanted to migrate my cluster to the Cinder CSI plug

[2019-11-08 18:34] chrigl commented on #825
@thcdrt Could you please give it a try with enabling those feature-gates on the kube-apiserver as well?

[2019-11-08 21:53] thcdrt commented on #825
Hello @chrisgl thanks for your answer, I tried and unfortunately it changed nothing.
But looking in the kube-controller-manager I found a clue:
[code]

Why kube-controller-manager need Openstack secrets since it's csi-attacher to attach volume now ? Did I miss a configuration somewhere ?

Thomas

[2019-11-08 22:22] thcdrt commented on #374
Hello, that would be great to have such a documentation. :)
It's exactly what I would need, see issue #825 .

Thomas

[2019-11-08 22:32] thcdrt commented on #825
Browsing openstack cloud provider issues, I just read this [comment](https://github.com/kubernetes/cloud-provider-openstack/issues/627#issuecomment-551609866) that says that the feature-gate must be enabled on kube-controller-manager, apiserver AND kubelet, I'll give it a try and keep you uptodate :)

[2019-11-11 00:43] ramineni commented on #705
@chrischdi Thanks. Feel free to submit PR on the same.

[2019-11-11 09:49] tombarron commented on #720
/remove-lifecycle stale

[2019-11-12 05:49] celiawa opened #828 "Cinder CSI plugin can't authenticate with Openstack Identity API v2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hi experts:

I'm using cinder csi 1.16.0,  below is the cloud.conf, and the log when starting the cinder-csi-plugin container. It failed to authenticate with the Identity v2 API. It reports error "Failed to GetOpenStackProvider: You must provide exactly one of DomainID or DomainName to authenticate by Username"  whether domain-name

[2019-11-12 06:21] kayrus commented on #828
should be fixed in #807

[2019-11-12 08:15] kayrus commented on #828
@celiawa can you test whether master branch works for you?

[2019-11-12 15:11] JrCs opened #829 "Can't create LB: Unknown attribute for argument listener_.listener: allowed_cidrs"
**What happened**:
Can't create new LB with the latest version of openstack-cloud-controller-manager

**What you expected to happen**:
Creation of a LB

**Anything else we need to know?**:
When openstack-cloud-controller-manager try to create a LB i have this error:
[code]

**Environment**: k8s v1.16.2
- openstack-cloud-controller-manager version: latest container image
- OS (e.g. from /etc/os-rel

[2019-11-12 15:11] JrCs commented on #829
/kind bug

[2019-11-12 15:17] kayrus commented on #829
`allowed_cidrs` supported only in Octavia. Legacy Neutron LBaaS extension doesn't support this parameter.

[2019-11-12 15:22] JrCs commented on #829
I'm using Octavia

[2019-11-12 15:36] kayrus commented on #829
@JrCs can you share your cloud controller config?

[2019-11-12 15:37] JrCs commented on #829
In my case i don't want to create LB with access control list

[2019-11-12 15:41] JrCs commented on #829
Sure:

[2019-11-12 15:43] kayrus commented on #829
@lingxiankong ^^

[2019-11-12 16:18] thcdrt opened #830 "Configure cinder-csi with kubeconfig instead of serviceAccount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I don't want to use serviceAccount to deploy cinder-csi because my environment doesn't allow me to do that.
Instead I would prefer to use kubeconfig like for cloud-controller-manager.

**What you expected to happen**:
Have a configuration flag "kubeconfig" in cinder-csi-plugin.

**How to reproduce it (as minimally and precisely as p

[2019-11-12 17:23] thcdrt commented on #825
I made some tries today with the CSiMigration feature-gates enabled on Kubelet and the migration seems to work ! Kubelet has created the missing volumeattachment.

I'm having some issues with PV deletion now:
`Warning  VolumeFailedDelete  19m   persistentvolume-controller  OpenStack cloud provider was not initialized properly : stat /etc/kubernetes/cloud-config: no such file or directory`

It look

[2019-11-13 00:34] #804 closed

[2019-11-13 04:02] lingxiankong commented on #829
@JrCs Hi, I'm still on holiday, cannot have access to my environment, will take a look at this issue once I'm back next week.

[2019-11-13 07:20] kayrus commented on #829
@JrCs allowed CIDRs were added in OpenStack Train release: https://docs.openstack.org/releasenotes/octavia/train.html
Are you sure you're using the latest Octavia?

[2019-11-13 09:55] chrigl commented on #825
Thanks @thcdrt !
No that is not the desired behaviour. I am wondering why the kube-controller-manager tries to access `/etc/kubernetes/cloud-config` even if you removed the flag o_O Does that also happen with kubernetes 1.16?

Anyways, I will try to reproduce this.

[2019-11-13 10:02] adisky commented on #825
@thcdrt why you are using this ` --external-cloud-volume-plugin=openstack`?? It signifies you are using intree volume plugin.

[2019-11-13 10:43] thcdrt commented on #825
@chrisgl I only tried in 1.15 for now, I'll try it in 1.16 and give you feedback.

@adisky I'm not using "--external-cloud-volume-plugin=openstack" when using csi, only when using intree.

[2019-11-13 10:48] adisky commented on #825
@thcdrt mentioned by you above
`To replace intree plugin by csi:
Boot the csi using the official templates
On controller-manager remove the parameters --cloud-config=path-to-cloud-config and --cloud-provider=external and --external-cloud-volume-plugin=openstack`
`

[2019-11-13 10:49] adisky commented on #825
@thcdrt are you sure the volume is created by CSI, which you are trying to delete?

[2019-11-13 10:50] thcdrt commented on #825
@adisky "remove the parameters". That means that I deleted the 3 parameters from the configuration.

[2019-11-13 10:51] thcdrt commented on #825
@adisky ofcourse not, the volume has been created by intree plugin, but I activated the migration, so what it the benefit of the migration if I must keep the intree plugin working for PV deletion ?

[2019-11-13 10:56] adisky commented on #825
@thcdrt missed the `remove` part only saw the flags, so what you are trying to do
* deploy intree plugin
* create volume with intree plugin
* enable migration, deploy CSI
* delete volume
could you check CSI logs??

[2019-11-13 10:57] thcdrt commented on #825
@adisky yes exactly. What logs do you want ? From what component ?

[2019-11-13 10:58] adisky commented on #825
@thcdrt cinder plugin container logs, for node and controller plugin both

[2019-11-13 11:01] JrCs commented on #829
No we are using Octavia from the Rocky series.
It will be great to have compatibility with old Openstack Series.

[2019-11-13 11:46] thcdrt commented on #825
@adisky
- Nodeplugin, in cinder-csi-plugin container:
`I1113 11:39:43.013007       1 driver.go:57] Driver: cinder.csi.openstack.org version: 1.1.0
I1113 11:39:43.013066       1 driver.go:90] Enabling controller service capability: LIST_VOLUMES
I1113 11:39:43.013071       1 driver.go:90] Enabling controller service capability: CREATE_DELETE_VOLUME
I1113 11:39:43.013075       1 driver.go:90] Enablin

[2019-11-13 11:46] thcdrt commented on #825
@chrigl same in 1.16.

[2019-11-13 15:36] piwi91 opened #832 "Improve CSI Cinder Snapshot: add --force flag to create snapshots of in-use volumes"
/kind feature

**What happened**:

The current implementation of snapshots only allows us to create snapshots of volumes which are not in-use.

**What you expected to happen**:

It is possible to use a --force flag to create snapshots of volumes which are attached to an instance as described in https://docs.openstack.org/python-openstackclient/pike/cli/command-objects/volume-snapshot.html

**How t

[2019-11-14 02:24] celiawa commented on #828
@kayrus  Thanks a lot for your response. I test with the master branch. It works. Can authenticate Identity API v2.

[2019-11-14 02:40] celiawa opened #833 "failed to start container "cinder-csi-plugin""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Very frequently the cinder-csi-plugin container in the daemenset of csi-cinder-nodeplugin failed to start with following error.   Sometimes the container can start normally.
  Normal   Created    9m5s (x5 over 10m)    kubelet, celia-control-02  Created container cinder-csi-plugin
  Warning  Failed     8m50s (x5 over 10m)   kubelet,

[2019-11-14 02:59] ramineni commented on #833
@celiawa Are you facing this issue with master branch as well?

[2019-11-14 03:15] celiawa commented on #833
yes, the master branch as well.  I just tried with the other images, also has this issue as long as I mount with /var/lib/kubelet, the container failed to start with this error. So seems not the cinder csi issue.
And could you pls help to confirm whether can we mount with /var/lib/kubelet/pods instead /var/lib/kubelet, as I can start the csi container with mountpoint /var/lib/kubelet/pods.

[2019-11-14 04:51] ramineni commented on #833
@celiawa /var/lib/kubelet is required to support block volume , its introduced in https://github.com/kubernetes/cloud-provider-openstack/pull/563 , so /var/lib/kubelet/pods is removed in https://github.com/kubernetes/cloud-provider-openstack/pull/773 .

Are you using the exact same manifest https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-no

[2019-11-14 14:10] chrigl commented on #825
Hey @thcdrt , I think I was able to reproduce it, and getting stuck with an pre CSIMigration created PVC/PV that ended up in failed with
[code]

... while for new Volumes everything works fine.
Can you confirm that?

I think the message comes out of the `kube-controller-manager`. However. In my setup, the PV is provisined-by kubernetes.io/cinder.
[code]

When I annotate the PV so that it is provis

[2019-11-14 14:23] thcdrt commented on #825
@chrigl thank you for taking time to reproduce it.

I confirm that I don't have any problem with volumes created by CSI. Only with volumes provisioned by "kubernetes.io/cinder".

This is the same bug than I have.

[2019-11-15 10:52] tomaaron opened #834 "Add UDP protocol support for service.type=loadbalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What you expected to happen**:

It should be possible to use UDP with service type=LoadBalancer when using Octavia.

**Anything else we need to know?**:

This issue is related to #603

[2019-11-15 13:57] chrigl commented on #825
@thcdrt I had some time to dive into this. Even with the steps below, one can migrate to CSI, but the deletion of volumes will fail. Currently (including v1.17.0-beta.1) a delete request with the annotation `pv.kubernetes.io/provisioned-by: kubernetes.io/XYZ` is not handed over to the CSI plugin, but wants to hand it to the original provisioner... with the shortcoming, that we disabled it by remov

[2019-11-15 15:38] thcdrt commented on #825
Hello @chrisgl, thank your very much for your investigation and your sum up !

This would be great to document this sum-up in the cloud-provider-openstack, I think it can help future users who want to migrate too.

I'll add the annotation to the intree volumes at the end of the migration process.

Thomas

[2019-11-15 15:38] #825 closed

[2019-11-17 12:52] #649 closed

[2019-11-18 09:20] chrigl commented on #374
/assign @chrigl

[2019-11-18 10:26] #819 closed

[2019-11-18 10:26] thcdrt commented on #819
I just saw that you merged your PR @kayrus. I tested the new cinder-csi-plugin and it's working like a charm now ! Thank you very much.

[2019-11-18 13:24] chrigl commented on #828
/close

[2019-11-18 13:24] #828 closed

[2019-11-19 09:00] chrigl commented on #825
Just for the record: https://github.com/kubernetes/kubernetes/issues/79043

[2019-11-19 10:00] chrigl opened #836 "Cleanup documentation of CSIMigration as soon as possible"
This is basically a reminder for me.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind documentation

**Todo**:

Remove caveat from documentation of #835 when https://github.com/kubernetes/kubernetes/issues/79043 is closed and deletion of pre-provisioned volumes actually works

[2019-11-19 10:00] chrigl commented on #836
/assign @chrigl

[2019-11-19 12:06] lingxiankong commented on #829
@JrCs Hi, since I don't have Rocky Octavia, could you please help to verify if the docker image `docker.io/lingxiankong/openstack-cloud-controller-manager:fix-update-listener` works for you?

[2019-11-19 13:04] JrCs commented on #829
I think i need a new rbac manifest because i have this error:
[code]

[2019-11-19 13:26] JrCs commented on #829
I have update the `system:cloud-controller-manager` cluster role with:
[code]
to deploy the controller.

I can now delete the service without error but when  i try to create a new service i have this errors:
[code]

[2019-11-19 22:25] lingxiankong commented on #829
@JrCs I suspect there is some problem in gophercloud, I will dig into that

[2019-11-19 23:19] lingxiankong commented on #829
@JrCs can you modify the occm log level to 4 and provide the related log?

[code]

[2019-11-20 08:34] gman0 commented on #811
ack

[2019-11-20 08:34] gman0 commented on #811
/assign

[2019-11-20 10:03] kayrus commented on #821
@rfranzke @afritzler  looks like the issue is solved in #797, can you check?

[2019-11-20 13:03] kayrus opened #839 "CCM LBaaS: PortRangeMin/PortRangeMax and ICMP types"
/kind bug

**What happened**:

Looks like there is a typo and PortRangeMin PortRangeMax were mixed up: https://github.com/kubernetes/cloud-provider-openstack/blob/80d14660d6d7756a7d3f2f832c76cc3e3ab8d583/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L1446..L1447

Besides gophercloud doesn't allow to set 0 (ICMP type 0, Echo Reply)[https://www.iana.org/assignments/icmp-parameters/

[2019-11-20 13:15] kayrus commented on #839
ICMP security groups were introduced in https://github.com/kubernetes/kubernetes/pull/31921 and it looks like a typo. However it is not clear why icmpv6 has different min/max types rather icmpv4.
/cc @lingxiankong @grahamhayes

[2019-11-20 16:22] afritzler commented on #821
@kayrus do you know if this fix is part of the 1.16 release of the OpenStack CCM?

[2019-11-20 17:04] kayrus commented on #821
@afritzler no, it is in master branch. @adisky , is there a policy to release minor CCM versions with bugfixes?

[2019-11-21 09:35] JrCs commented on #829
@lingxiankong: here's the logs: https://gist.github.com/JrCs/5df8010571ddebc22b764b8b655b5b12

[2019-11-21 10:09] kayrus commented on #829
@lingxiankong does CCM allow to debug json requests/responses as well?

[2019-11-22 01:03] lingxiankong commented on #829
@JrCs Please test again using `docker.io/lingxiankong/openstack-cloud-controller-manager:fix-update-listener`, there was another bug when checking feature support.

[2019-11-22 01:04] lingxiankong commented on #829
No idea, but you can change the code in gophercloud to print the info, or on openstack server side.

[2019-11-22 07:32] kayrus opened #840 "Core: enable JSON debug logs for OpenStack APIs"
/kind feature

**What happened**:

Sometimes it is useful to debug JSON requests/responses, e.g. in #829.

**What you expected to happen**:

It can be useful to print these logs with the `--v=N` parameter. Probably using the [github.com/gophercloud/utils](https://github.com/gophercloud/utils/blob/6e51b8944d05c5799af3037f5a5c59124bc67797/client/doc.go#L69) can be an option.

[2019-11-22 07:47] zetaab commented on #705
we have seen this same issue in our openstack as well. However, I feel that this is problem with OpenStack side instead of k8s problem. Of course we can make temporary changes to k8s code, but it is not the correct way how it should be handled.

We are always deploying following script to all nodes:
[code]

this will fix the issues for us (but sometimes it takes minute or so)

[2019-11-22 09:15] chrischdi commented on #705
Can you explain what the problem then is on Openstack side?
Your script does the same in the and like the PR - an `udevadm trigger`.

Could you maybe explain how this could be fixed on Openstack side?

[2019-11-22 09:35] JrCs commented on #829
@lingxiankong: it's works :ok_hand:.
Is it possible to release a new "stable" version like 1.6.1 ?

[2019-11-22 10:08] lingxiankong commented on #829
@JrCs we do have plan to make a minor version release in the next few days, please stay tuned :-)

TBH I've no idea because we always grant the occm cluster-admin role

[2019-11-22 11:17] zetaab commented on #705
Ok let put it another way: in 80-95% of cases when the new cinder volume is mounted, the serial id is there and kernel udev can see it. However, there are 5-20% cases where the serial id is **NOT** in place when the kernel receives the udev event.

Is OpenStack planned like that people should manually execute `udevadm trigger` in instances after they have attached volume to their instance. I do no

[2019-11-22 11:31] JrCs commented on #829
I don't know where my manifest came but in my case the controller is using serviceAccount: cloud-controller-manager

[2019-11-22 11:55] JrCs commented on #829
@lingxiankong: the rbac manifest i used is from this repository: https://github.com/kubernetes/cloud-provider-openstack/tree/master/cluster/addons/rbac
Perhaps i can create a PR to update it ?

[2019-11-22 12:49] #615 closed

[2019-11-22 17:23] gman0 commented on #630
/remove-lifecycle stale

[2019-11-22 17:23] gman0 commented on #630
/assign

[2019-11-22 19:09] #705 closed

[2019-11-23 22:40] lingxiankong commented on #829
@chrigl thanks for proposing the fix. @JrCs could you please also review that PR?

[2019-11-24 09:29] chrigl commented on #834
/assign

[2019-11-25 02:49] #666 closed

[2019-11-26 08:23] ismacasti opened #848 "Update Gophercloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
A change was introduced in Gophercloud that could solve some problems we are facing while using openstack-cloud-provider.
**What you expected to happen**:
Gophercloud dependency gets updated to its current master.

**Anything else we need to know?**:
This change (https://github.com/gophercloud/gophercloud/issues/1764)

[2019-11-26 08:37] JrCs commented on #829
@lingxiankong: done

[2019-11-26 09:18] kayrus commented on #848
relates to #790

[2019-11-26 11:03] #829 closed

[2019-11-27 02:19] #374 closed

[2019-11-27 09:45] Isonami opened #852 "Cinder CSI device path can contain full cinder uuid instead of shorten one"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I use cinder with ceph rbd backend and on the host with mounted cinder volume  I got device ids like this:
[code]
and it doesn't match any of patterns which plugin looks for:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
qemu instance disk configuration:
[code]

[2019-11-27 13:58] chrigl commented on #852
@Isonami Interesting... Could you please pass some versions... coming to my mind
* OpenStack Nova
* OpenStack Cinder
* Libvirt
* Operating System of the worker

[2019-11-27 14:15] Isonami commented on #852
- nova: 20.0.0
- cinder: 15.0.0
- libvirt: 5.4.0
- host os: Ubuntu 18.04 4.15.0-70-generic
- worker os: Fedora coreos 30 5.2.18-200.fc30.x86_64
- for CSI I used manifests from https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/cinder-csi-plugin

I think worker os doesn't matter because I have same device ids on other vms in openstack

[2019-11-27 14:24] chrigl commented on #852
Thanks @Isonami

Because I currently lack of an OpenStack with this behaviour... could you please test with this image `chrigl/cinder-csi-plugin:ce99f3df` in
*  `kubectl -n kube-system edit statefulset csi-cinder-controllerplugin`
* `kubectl -n kube-system edit ds csi-cinder-nodeplugin`

... instead of `docker.io/k8scloudprovider/cinder-csi-plugin:latest`

[2019-11-27 14:58] Isonami commented on #852
yes, it works

[2019-11-28 06:35] #852 closed

[2019-11-28 09:23] chrigl commented on #848
/assign @chrigl

[2019-11-28 14:38] alvaroaleman opened #856 "New nodes always start off with a bunch of providerID-related issues"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A new node was added to the cluster. The openstack-cloud-controller-manager (`v1.16.0`) logs a bunch of
[code]

It eventually recovers and works, but there is quite a bit of time between "node joins" and "external CCM taint is removed", which I suspect is related to the errors above.

**What you expected to happen**:

No

[2019-11-28 20:25] #566 closed

[2019-11-29 05:57] celiawa commented on #833
Thanks. The issue is not reproducible now after we enlarge the flavor of our node.  The ticket can be closed.

[2019-11-29 06:00] ramineni commented on #833
Ok, Thanks. Closing the same. Please reopen if the issue is seen again
/close

[2019-11-29 06:00] #833 closed

[2019-11-29 10:27] thcdrt commented on #830
After digging in the code, I just understand that kubeconfig is handled by generic components like csi-provisionner, resizer...

[2019-11-29 10:27] #830 closed

[2019-11-29 22:57] oz123 opened #858 "Add ChangeLog file for release"
/kind feature

This repository is evolving very fast, and the migration to CCM is probably very painful for a lot of people. To ease the migration, and have better communication with users, I suggest adding a ChangeLog with the most important changes\bug fixes for each release.

[2019-11-30 06:57] adisky commented on #858
@oz123 Thanks, we know the issue..I have already raise a PR to enable release notes automation.

[2019-12-01 07:45] #690 closed

[2019-12-02 00:33] #848 closed

[2019-12-02 06:51] ismacasti commented on #848
Thanks!

[2019-12-02 07:49] adisky commented on #669
/priority-important-soon

[2019-12-02 07:52] adisky commented on #669
/priority critical-urgent
This needs to be implemented as soon as possible, as intree cinder driver supports metrics, we need to add support for CSI as well.
cc @chrigl @ramineni

[2019-12-02 15:37] kayrus opened #859 "Cinder CSI: wrong instanceID detection in OS with python based cloudinit"
/kind bug

**What happened**:

Cinder CSI plugin detects invalid node ID:

[code]

OpenStack metadata service supports EC2 metadata API (e.g. `http://169.254.169.254/2009-04-04/meta-data/instance-id`), where nova [generates](https://github.com/openstack/nova/blob/56eac06561bc843dcf7497e8b7ac3027f62544c1/nova/api/metadata/base.py#L255) EC2 id, which doesn't have anything in common with a real OpenS

[2019-12-02 21:05] afritzler commented on #627
Thanks @chrigl for the clarification. So I tried now the migration flags on `kube-api`, `kube-controller-manager` and `kubelet` and set the cloudprovider flag to `external.

It looks like the CSI plugin is taking care of the old PVs. However attaching an old PV to a node fails with the following error:

[code]

What happens actually with the existing `StorageClass`. When I understand the migration

[2019-12-02 21:53] kayrus commented on #627
it is from the https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/c525773885fccef89a1edd22bb3f813d50548ed1/controller/volume_store.go#L161 and it looks like the [current RBAC](https://github.com/kubernetes/cloud-provider-openstack/blob/f8ad69f78a71f945eef6c0858afecbe68f14c79d/manifests/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml#L16) is not sufficient for this opera

[2019-12-03 01:06] ramineni commented on #858
@adisky could we add link to the PR here , so we could track and close the issue when done

[2019-12-03 02:24] ramineni opened #860 "Use k8s.io/utils/mount package in CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Use the external mount package available in k8s.io/utils and remove the local copy of mount package which would not be required anymore.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager vers

[2019-12-03 02:24] ramineni commented on #860
/assign

[2019-12-03 05:04] ramineni commented on #627
@afritzler which version of k8s are you running ? What is the attacher sidecar version you are running ? Are you using the same rbac manifests located in the repo only ?

[2019-12-03 07:39] adisky commented on #669
/priority important-soon It seems the state of metrics is not clear for CSI and migration
https://github.com/orgs/kubernetes-csi/projects/13

[2019-12-03 08:15] ramineni commented on #569
/remove-lifecycle stale

[2019-12-03 08:16] ramineni commented on #569
/remove-lifecycle rotten

[2019-12-03 08:31] ramineni commented on #569
As still some users still depend on v2 auth , https://github.com/kubernetes/cloud-provider-openstack/issues/803 , may be we should keep the support for the same for a while.
So closing the issue for now.
/close

[2019-12-03 08:31] #569 closed

[2019-12-03 08:54] kayrus commented on #859
Default CSI manifests in produce the following issues in CoreOS:

[code]

It's worth removing the `/var/lib/cloud/data` dir mount from the `cinder-csi-nodeplugin.yaml` manifest. It will also fix the invalid instance ID detection in `CentOS, Ubuntu, SLES`.

[2019-12-03 09:29] afritzler commented on #627
In my test setup I am upgrading 1.14.9 -> 1.15.4. Attacher is on version v1.2.1. And yes I was using the manifests from the `manifest` folder. The only thing which is different on the RBAC side is the fact that I am using a dedicated `kubeconfig` and `User` rolebinding instead of a `ServiceAccount`.

[2019-12-03 23:55] kayrus opened #863 "CCM: Incorrect network interfaces order, when multiple interfaces are used"
/kind bug

**What happened**:

When k8s compute nodes have multiple network interfaces, CCM constantly change them:

[code]

This behavior causes issues, when kube-apiserver tries to connect to kubelet for `logs` or `exec` command, when `10.128.0.0/24` subnet is not available for kube-apiserver

And loadbalancer pool members change every sync loop:

[code]

**What you expected to happen**:

I expe

[2019-12-04 06:11] adisky commented on #858
@ramineni sure
https://github.com/kubernetes/test-infra/pull/15419

[2019-12-04 06:22] #834 closed

[2019-12-04 13:32] kayrus commented on #863
@ramineni @lingxiankong @adisky

I see the following ways to fix the root cause:
* fix in gophercloud with json.RawMessage + ordered JSON map implementations
* introduce a kubelet sidecar (this was possible when there was in-tree cloud provider), which will update the address from the local metadata service or according to local ethernet devices.
* figure out why kube-apiserver ignores `alpha.kube

[2019-12-05 05:25] ramineni commented on #859
I prefer adding the search-order option instead , removing this might break those if anyone using it as its still supported way.

[2019-12-05 06:42] kayrus commented on #859
@ramineni I don't believe it can be used by anyone, because it is a ec2 id not an openstack uuid

[2019-12-05 07:29] adisky commented on #859
@kayrus
`OpenStack metadata service supports EC2 metadata API (e.g. http://169.254.169.254/2009-04-04/meta-data/instance-id), where nova generates EC2 id, which doesn't have anything in common with a real OpenStack instance uuid. This EC2 id is used by python cloud-init and saved into the /var/lib/cloud/data/instance-id.`
cloud-init not always uses EC2 id, it default uses openstack instance id.
ht

[2019-12-05 07:57] kayrus commented on #859
@adisky I don't mind about adding the search-order, but before adding it, I need to clarify details.
In my case I explicitly forced the openstack datasource for cloud-init, but it still uses ec2 identity. Thanks for letting me know that it works in other environments. It's worth to investigate on my side.

[2019-12-05 11:18] adisky commented on #637
/remove-lifecycle rotten

[2019-12-06 11:26] #823 closed

[2019-12-07 09:42] afritzler opened #869 "Migrating StorageClass and PVs with Introduction of CSI"
From reading the migration and concept document of CSI it is not clear to me how PVs and the StorageClass are being migrated at all.

Concider the following scenario: I am starting with a Kuberntes Cluster which has the OoT CCM in place however the `kube-controller-manager` has the `--external-cloud-volume-plugin` flag stil set to use OpenStack. Now I migrate the CSI, set all `cloud-provider` flag

[2019-12-07 12:04] afritzler commented on #869
/help

[2019-12-09 00:56] ramineni commented on #750
/remove-lifecycle stale

[2019-12-09 00:57] ramineni commented on #750
still not enabled

[2019-12-09 07:24] adisky commented on #729
/remove lifecycle-stale

[2019-12-09 08:10] adisky commented on #729
/remove-lifecycle stale

[2019-12-09 11:09] adisky commented on #737
/remove-lifecycle stale

[2019-12-10 13:27] #860 closed

[2019-12-11 06:37] ramineni commented on #627
@afritzler Is your issue resolved? Existing RBAC in default manifests should be sufficient, hope you are using cluster level role binding to avoid any issue with namespaces.
I suggest you raise different issue with all the details for easier tracking and help

[2019-12-12 09:18] #813 closed

[2019-12-12 09:26] oz123 commented on #813
@zetaab closing the issue means that this works for you now?

[2019-12-12 13:51] thcdrt opened #874 "Can't resize volumes migrated after CSI migration"
Hello,

I don't know if I should open an issue here or at the csi-resizer repo.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**The binaries affected**:
- [ ] cinder-csi-plugin

**What happened**:
I tried to resize a volume created by Intree cinder plugin after migration from intree cinder plugin to CSI.

**What you expected to happen**:
The volume to be resized

**How to reproduce it*

[2019-12-13 01:59] ramineni commented on #874
@thcdrt Looks like pvc is not being identified as migrated intree volume , Could you paste the o/p of  `kubectl describe pvc` and `kubectl describe pv`
Ideally for migrated PV this annotation `volume.kubernetes.io/storage-resizer` should be set to csi driver name.

[2019-12-13 09:24] thcdrt commented on #874
Hello @ramineni , thanks for your answer.

`> kubectl describe pvc

`

`> kubectl describe pv

`

Who should set the annotation volume.kubernetes.io/storage-resizer to the PV ?

I use the 1.16 cinder-csi-plugin version. As said, resizing volumes created with CSI is working like a charm. Only migrated volumes can't be resized, so I don't think it comes from cinder-csi-plugin version.

[2019-12-13 09:39] thcdrt commented on #874
I added manually the annotation  **pv.kubernetes.io/provisioned-by**, but this is still not working with the same error message.

[2019-12-16 01:44] ramineni commented on #874
@thcdrt yes, sorry its a PVC annotation. It should be automatically set by intree resize controller.
I see that you are getting the below error , might be reason its returning before setting the above annotation.
` Warning  ExternalExpanding  15m (x22 over 87m)  volume_expand  error getting CSI driver name for pvc default/mysql-pv-claim, with error could not find CSI Driver name for plugin cinder.

[2019-12-16 09:04] jichenjc opened #878 "[ cinder-csi-plugin]: delete volumesnapshot stuck for long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
[code]

**What you expected to happen**:

*

[2019-12-16 09:33] thcdrt commented on #874
Hello @ramineni ,
I tried without modifying the annotation too, but still not working:
[code]

[code]

[2019-12-16 10:15] thcdrt commented on #874
Indeed, I just tried to not changer the storageclass and it's now working. Thanks for the debugging ! Maybe it could be added in the migration doc !

Thomas

[2019-12-16 10:15] #874 closed

[2019-12-17 09:51] #840 closed

[2019-12-19 03:53] xin3liang opened #883 "Add arm64 images to docker.io/k8scloudprovider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
There is no openstack cloud provider images for arm64 arch on  docker.io/k8scloudprovider.

**What you expected to happen**:
As arm64 is becoming a more and more popular arch. Arm64 images should be built and put into docker.io/k8scloudprovider.
So that the users and downstream project (such as magnum) can use them eas

[2019-12-19 04:34] ricolin commented on #883
@xin3liang  are you plan to work on this or you wish others to?:)

[2019-12-19 09:33] xin3liang commented on #883
I'm happy to do this work if I know how to do it :-).
IMO, here are some things might needed to do:
1, Make [dockerfiles](https://github.com/kubernetes/cloud-provider-openstack/tree/master/cluster/images) can be built on other archs, such as arm64;
2, Some CI integration work might need to do, if images are pushed to docker.io/k8scloudprovider automatically by CI;
3, Add tests for other archs?

[2019-12-19 16:37] kayrus commented on #863
According to this code https://github.com/kubernetes/kubernetes/blob/16c2ae4607371f1f948c0a9c884805e699330450/pkg/kubelet/nodestatus/setters.go#L76..L91 kubelet won't set the `alpha.kubernetes.io/provided-node-ip` annotation, when external cloud provider is used.

When annotation is set, kube-apiserver still gets updates from CCM, and it just verifies whether an annotated private IP is in the stat

[2019-12-19 18:06] kayrus commented on #863
Found a way to retrieve IP addresses in a proper order, where no maps are involved: https://docs.openstack.org/api-ref/compute/?expanded=list-port-interfaces-detail#port-interfaces-servers-os-interface

[2019-12-20 10:27] piwi91 commented on #628
Please remove the lifecycle label because this is still an issue. Unfortunately, I don't have much time to contribute to this project at the moment.

[2019-12-21 17:12] #667 closed

[2019-12-26 10:40] cambierr opened #885 "Support for multiple OpenStack regions"
/kind feature

From what I was able to see, there is no way to have multiple OpenStack regions in the same Kubernetes cluster... wouldn't this be a great addition to enable High-Availability ?

In my use-case, I have two regions corresponding to two datacenters that are about .600 ms away from each other and being able to run a single k8s cluster that span across both of them would be a great addi

[2019-12-27 20:01] rushins opened #886 "kubernetes storage class using manila share"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x] manila-csi-plugin - question.
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
hi

I have question on manila-csi-plugin. Ar

[2019-12-28 12:01] GeertJohan commented on #628
/remove-lifecycle stale

[2019-12-29 01:59] SriRamanujam opened #887 "Cinder CSI plugin noauth support"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature request

/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

It would be nice if the CSI plugin supported

[2019-12-29 14:11] kayrus commented on #887
@SriRamanujam it doesn't seem possible to enable noauth for CSI driver, since it uses nova client as well.

[2019-12-30 02:45] npu21 opened #888 "links in pr template inaccessible"
Thanks for sending a
request!  Here are some tips for you:
1. If this is your first time, read our contributor guidelines https://git.k8s.io/community/contributors/guide/pull-requests.md#the-pull-request-submit-process and developer guide https://git.k8s.io/community/contributors/devel/development.md#development-guide
2. If you want *faster* PR reviews, read how: https://git.k8s.io/community/contr

[2019-12-30 03:07] npu21 opened #890 "link in CONTRIBUTING.md inaccessible"
Please check the [sig-openstack community page]

[2019-12-30 03:26] npu21 opened #893 "link in example mysql cinder pd inaccessible"
https://github.com/kubernetes/examples/blob/master/staging/mysql-cinder-pd/README.md inaccessible

[2019-12-30 18:13] gman0 commented on #886
Please refer to example docs here https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/manila-csi-plugin/README.md . It covers deployment of csi-manila for NFS shares. You'll need to deploy the CSI NFS driver and csi-manila with NFS share protocol selector first.

If you're using the Helm chart, the defaults in  https://github.com/kubernetes/cloud-provider-openstack/blob/mas