[2021-05-25 23:16] lingxiankong commented on #1539
@m-yosefpor You probably didn't read my comment above.

[2021-05-26 06:48] alibo commented on #1539
I just changed the name of `pvc` in `volumes` section and restarted the pod:

[code]

But the issue is here:

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/volume/util/operationexecutor/operation_generator.go#L1740-L1743

Kubelet doesn't know the new volume is created from another volume with a different size, so it just compares the requested storage i

[2021-05-26 06:57] alibo commented on #1539
One solution is setting the requested storage of new PV to the size of the source PV in `external-provisioner`, so it can be expanded after it's mounted:

https://github.com/kubernetes-csi/external-provisioner/blob/1b9d55dd8c7d8c076abeea1039d261723e2d6efa/pkg/controller/controller.go#L812-L814

But it sounds like a hacky workaround to me since the requested storage in PV should reflect the size of

[2021-05-26 07:09] alibo commented on #1539
Found two related issues:

- https://github.com/kubernetes-csi/external-provisioner/issues/485
- https://github.com/kubernetes/kubernetes/issues/94929

[2021-05-26 07:13] alibo commented on #1539
CSI Spec says csi driver should decide whether to reject the request or resize the filesytem by itself:

https://github.com/container-storage-interface/spec/pull/452

https://github.com/container-storage-interface/spec/blob/master/spec.md#controller-service-rpc

[2021-05-26 21:28] irozzo-1A commented on #490
Thx for the clarification @lingxiankong !

[2021-05-26 22:41] #1529 closed

[2021-05-27 07:37] jichenjc commented on #1541
thanks, I think it's clear

[2021-05-27 07:37] #1541 closed

[2021-05-27 07:53] ramineni commented on #1481
@mdbooth Thanks for the detailed explanation.
I'm in favor of splitting the config files as a default way forward for the project as well, that's the reason asked for examples as it makes sense to split to one secret (cloud credentials) and the config map , which are the config options required for the nodes. That way I guess its easier to change per node config etc.

One more option which was dis

[2021-05-27 08:41] mdbooth commented on #1481
Ah, ok!

The configmap sounds simpler for an operator to integrate with. Another solution we discussed internally was to expose CSI driver options in our own CRD and have the operator write the resulting complete configuration. However, I didn't like that solution because of my experience with a certain other installer. The major disadvantages I see are:

* If the CSI driver adds a new option, the

[2021-05-27 09:09] ramineni commented on #1481
@mdbooth Ok, even I'm more inclined towards the configmap. Please add alternate manifests as well, will help to understand better and speed up the review of the PR

[2021-05-27 09:12] jichenjc commented on #1539
@alibo
what's the action of your replacement of clone pvc to old pvc?

I tried to replace the pod directly, but got error

[code]

then I delete the pod and recreated a new one

[code]

weird thing happend, I got 2 G at first try

[code]

then keep getting 1G after first try ( delete everything and redo )

[code]

and from the CSI spec, seems we need fix this in our driver ,need test more and prov

[2021-05-28 01:31] jichenjc opened #1545 "[cinder-csi-plugin] Tag (metadata) from req.parameter behavior different for snapshot and volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
discussion here
https://github.com/kubernetes/cloud-provider-openstack/pull/1544#discussion_r640454415

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-05-28 08:36] alibo commented on #1539
@jichenjc  I've changed the pod's spec in the `deployment`.

if the partition is not created (it usually happens when the pod is not created yet, see #2 in my example scenario). When it's cloned, the driver realizes the partition is not created and runs `mkfs.ext4` so the filesystem would have the same size that block volume has:

- https://github.com/kubernetes/cloud-provider-openstack/blob/b7b31

[2021-05-28 18:09] Gmerold opened #1546 "[cinder-csi-plugin] Cannot read ca.pem from /etc/ssl/certs/"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Hello,
While trying to install **cinder-csi-plugin** I've encountered a problem with reading my OpenStack cert.
From **csi-cinder-controllerplugin** pod:
`I0528 17:54:22.308841       1 main.go:118] Failed to GetOpenStackProvider: open /etc/ssl/certs/ca.pem: no such file or directory`
From **csi-cinder-nodeplugin** pod:
`W0528 17:55:22.69911

[2021-05-29 01:44] jichenjc commented on #1546
I guess you might want to check

https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/using-cinder-csi-plugin.md

[code]

see my example (my cert is in /etc/cacert folder)
[code]

[2021-05-30 09:26] Gmerold commented on #1546
Thanks for the hint, it solved the problem.
I've actually seen this note before. What confused me was the _**update the manifests**_ part. Since none of yamls has this mount by default, I figured it was irrelevant for the latest plugin version.
Perhaps note could be changed to say something like _**make sure to add the additional mount to manifests**_? Just a thought.
Thanks for your help!

[2021-05-30 09:26] #1546 closed

[2021-05-30 09:35] Gmerold opened #1548 "[cinder-csi-plugin] No space left on device while mounting secret-cinderplugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

Hi,
While trying to deploy **cinder-csi-plugin**, I've faced a following problem with **csi-cinder-controllerplugin** pod
[code]

When I check free space on my worker, it doesn't seem like I'm running out of it (master also has plenty of space):
[code]

I assume it must be some specific space I'm short of, but since I'm new to k8s, I have no

[2021-05-30 14:57] Gmerold commented on #1548
Problem is gone after reinstalling the cluster.
If someone could explain which space was the problem anyway it would be great.

[2021-05-30 14:58] #1548 closed

[2021-05-30 15:04] Gmerold opened #1549 "[cinder-csi-plugin] PVC stuck in Pending state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

Hi,
My test PVC can't get allocated even though cluster seems healthy:
[code]
[code]
All required secrets and service accounts are in place.

Storage class:
[code]
SC created using:
[code]
I'm trying to create PVC with:
[code]
What I'm getting is:
[code]
[code]

Any ideas what am I doing wrong?
Thanks for any help in advance.

[2021-05-30 20:46] alibo commented on #1549
Can you please change `provisioner` in your `storageclass` to `cinder.csi.openstack.org` and try again?

driver name has been changed from `csi-cinderplugin` to `cinder.csi.openstack.org` in v1.13.0:
https://github.com/kubernetes/cloud-provider-openstack/pull/358/commits/935b3587d066df32cfa57103df17f68bd9dd87ef

[2021-05-31 00:32] #1167 closed

[2021-05-31 01:13] jichenjc commented on #1539
ok, I can reproduce what you mentioned above by using deployment (previously I am using pod)

[code]

as you pointed out
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/volume/util/operationexecutor/operation_generator.go#L1740-L1743

is checking
pvc.Status.Capacity[v1.ResourceStorage] and pv.Spec.Capacity[v1.ResourceStorage]
in order to call expand, CPO

[2021-05-31 04:43] alibo commented on #1539
@jichenjc Seems PV controller in Kubernetes overwrites it during binding:
https://github.com/kubernetes/kubernetes/issues/94929#issuecomment-696074707

In the above issue, he said they're planning to fix the issue in csi drivers using the new mount-utils package:
https://github.com/kubernetes/mount-utils/blob/master/resizefs_linux.go

the merged PR in `aws-ebs-csi-driver` which fixes this issue: h

[2021-05-31 07:18] Gmerold commented on #1549
Hi @alibo,
Thanks a ton! That solved the problem just right ;)
Looks like the [K8s blog post](https://kubernetes.io/blog/2020/02/07/deploying-external-openstack-cloud-provider-with-kubeadm/) I was using is a little out of date :)

[2021-05-31 07:18] #1549 closed

[2021-06-01 00:29] jichenjc commented on #1539
thanks for the detailed info , this is really helpful ~ @alibo
I went through all the issues above and seems https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/753
is the right approach for us? NodeStage phase do the resize especially at line
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/753/files#diff-4f4d9c2e0ec5c4d3b4ac2d79abd70ee21bacff65ba05c059396921996dbf6607R226 ?

[2021-06-01 01:02] jichenjc opened #1554 "[k8s-keystone-auth] not able to build client-keystone-auth"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Makefile doesn't have client-keystone-auth build entry anymore,
[code]

**What you expected to happen**:
[code]

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-06-01 09:27] alibo commented on #1539
@jichenjc We've added to `NodePublishVolume` in our forked repository, but `NodeStageVolume` would be a better place since it has access to a valid disk path and it doesn't need to run `findmnt`:

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L378-L382

One thing I suggest considering is unlike `aws-ebs-csi` driver, you may want to resize the volum

[2021-06-01 14:48] #1527 closed

[2021-06-02 10:11] Sryther commented on #885
/reopen

I think this issue should not be closed. I'm in the same environment as @cambierr. This would be awesome!

[2021-06-02 21:55] rptaylor opened #1560 "[cinder-csi-plugin] add priorityClass to helm chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Cinder CSI pods may have difficulty getting scheduled when a cluster is full. For production deployments, operators need to be able to specify priorityClass of important pods to avoid this, just like https://github.com/kubernetes/cloud-provider-openstack/issues/1460

**What you expected to happen**:
Able to specify pr

[2021-06-03 19:00] lingxiankong opened #1562 "[occm] Use kubetest2 for conformance test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
https://github.com/kubernetes/test-infra/tree/master/kubetest#deprecation-notice
kubetest has been deprecated in favor of kubetest2.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
-

[2021-06-03 19:11] lingxiankong commented on #885
/reopen

This issue has been closed automatically as it was not getting enough interests, but feel free to reopen if you have the feature requirement as well, and you (or your team) are also welcome to make some contributions.

[2021-06-03 19:12] #1560 closed

[2021-06-04 01:22] jichenjc commented on #1539
make sense to me , let's see whether anyone want to submit a PR then we can continue discussion there or I can submit one after my recent busy days

[2021-06-04 23:04] alibo commented on #1539
I've submitted a PR for it: #1563

[2021-06-06 09:28] gman0 commented on #720
/remove-lifecycle rotten

[2021-06-07 12:30] #1207 closed

[2021-06-07 14:59] gman0 commented on #720
/remove-lifecycle stale

[2021-06-07 16:48] Sryther commented on #885
Today I was able "to hack" `openstack-cloud-controller-manager` and `cinder-csi-plugin` by changing the content of the cloud.conf:
- First using `region=A` and starting the `openstack-cloud-controller-manager` and `cinder-csi-plugin` daemonsets -> the nodes from region A were labelled with `topology.kubernetes.io/region=A`
- Edit the cloud.conf with `region=B`, restart the same daemonsets -> the m

[2021-06-08 00:49] #1554 closed

[2021-06-08 03:35] jichenjc opened #1564 "[manila-csi-plugin ] Manila CI failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://logs.openlabtesting.org/logs/96/1496/23f076eb91f3220675c6fb33990db36008f8c8de/cloud-provider-openstack-acceptance-test-csi-manila/cloud-provider-openstack-acceptance-test-csi-manila/a95101a/job-output.txt.gz
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environmen

[2021-06-08 03:45] jichenjc commented on #1564
looks like hard coded here to v2.1

https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-csi-manila/run.yaml#L83

but latest is 4.1.1 already
https://github.com/kubernetes-csi/external-snapshotter/releases

and seems v1beta1 is removed

so @gman0 can you help to check this ?

[2021-06-08 07:27] jichenjc commented on #1564
@ramineni @lingxiankong FYI, gate need this change as well

[2021-06-08 08:54] gman0 commented on #1564
Hi @jichenjc thanks for reporting, I'll try to fix it in

[2021-06-08 09:38] gman0 commented on #1564
https://github.com/theopenlab/openlab-zuul-jobs/pull/1185

[2021-06-08 09:49] gman0 commented on #1564
https://github.com/kubernetes/cloud-provider-openstack/pull/1566

[2021-06-08 13:56] jichenjc commented on #1564
the PR merged, I see a successful running recently, so close this

[2021-06-08 13:56] #1564 closed

[2021-06-09 06:31] ramineni opened #1571 "[occm] support InstancesV2 interface of cloudprovider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
This issue is to track support of implemetation of InstancesV2 interface of cloudprovider.
https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L56

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or oth

[2021-06-09 06:31] ramineni commented on #1571
/assign

[2021-06-10 06:47] ramineni commented on #1409
/remove-lifecycle stale

[2021-06-10 06:49] ramineni commented on #1409
@jsafrane @chrigl could we close this now? Any more tests pending?

[2021-06-10 07:00] ramineni commented on #1444
@creatica-soft In what state the volume is after attach failed?

[2021-06-10 08:07] #1453 closed

[2021-06-10 10:51] creatica-soft commented on #1444
@ramineni It is available. It fails to mount because the number of scsi devices on a single bus, i.e. scsi controller exceeds 32 (well, 26 in this case: letters from a to z). Scsi controllers are not hot-pluggable in KVM, so a reboot is required for the VM even when a controller is added dynamically. But then in order to reboot, one would need to drain the node, at which point all the volumes will

[2021-06-11 04:48] #1481 closed

[2021-06-11 04:48] #1497 closed

[2021-06-11 04:48] #1498 closed

[2021-06-11 04:48] #1509 closed

[2021-06-11 10:16] jsafrane commented on #1409
I think we're fine, two independent vendors tested it
/close

[2021-06-11 10:16] #1409 closed

[2021-06-12 07:01] #1281 closed

[2021-06-14 13:12] #1304 closed

[2021-06-16 05:13] relaxdiego opened #1574 "Octavia Ingress Controller example uses cluster admin for ClusterRoleBinding"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:

The Octavia Ingress Controller example assigns cluster admin to the service account for the controller as per https://github.com/kubernetes/cloud-provider-openstack/blob/a5e2b9333bf42dff4da896d4efc43cd7ce8c4956/docs/octavia-ingress-controller/using-octavia-ingress-controller.md

**What you expected to happen**:

The document sh

[2021-06-16 07:25] jichenjc commented on #1574
@lingxiankong FYI

[2021-06-17 05:45] ramineni commented on #1545
@jichenjc Could you explain what exactly is the problem , I have gone through the comment but its not clear

[2021-06-17 05:52] jichenjc commented on #1545
@ramineni every req.parameter will be used to create tag in current implementation

but from spec, the req parameter should not all be set to tags (check createvolume function, the tag only honor very specific annotations and other param will NOT become a tag )
[code]

[2021-06-17 05:59] ramineni commented on #1545
@jichenjc If you are talking about the above, they are only example usecases . It depends on provider if we can add the params as metadata or not. In the current scenario , I dont see why we cant add as metadata.  what all params you want to avoid/not suitable for adding as metadata ?

[2021-06-17 06:05] jichenjc commented on #1545
The createvolume and createsnapshot currently is inconsistent, createvolume doesn't create tag wihle createsnapshot do ; so the primary purpose is to make them sync

so I think it's reasonable to avoid create tag for every param, instead, if we knew some param we really need
, then let's honor it later on ; if we think we need honor every param, then I can work on createvolume part..

[2021-06-17 09:39] ramineni commented on #1392
/remove-lifecycle stale

[2021-06-18 11:08] lingxiankong commented on #1545
I can see we are using some [known keys](https://github.com/kubernetes/cloud-provider-openstack/blob/2617ff0a0c00f5cbe94c308c825a60ca25f0ec68/pkg/csi/cinder/controllerserver.go#L111) from `req.Parameters` for creating volumes, @jichenjc do we know if there are such keys as well passed for creating snapshot?

[2021-06-21 05:10] #1539 closed

[2021-06-21 05:47] ramineni commented on #1545
@lingxiankong No, the known keys are passed from external-provisioner for CreateVolume call only . Not passed for CreateSnapshot.
Other than those , we allow parameters from users as well which we append as metatdata of the snapshot. We need to decide if we should append the user metadata to snapshot or not.

[2021-06-21 06:58] ramineni commented on #1545
@lingxiankong From snapshotter-version 4.0.0 it supports --extra-create-metadata tag where we can add the metadata info for CreateSnapshot as well (ref: #1578)

But the question remains , if we want to support only metadata that is being passed from sidecars or user metadata as well?

[2021-06-22 04:39] lingxiankong commented on #1545
Passing all the parameters specified by the users to the Cinder snapshot doesn't sound like a good idea to me, I personally would prefer to only pass the sidecar params.

[2021-06-22 09:11] ramineni commented on #1545
@lingxiankong @jichenjc ok, I guess we can make it consistent to add the metadata from the sidecars. Later we can support specific metadata keys if used commonly as per requirement.

@jichenjc could you update the PR reflecting that if sounds good to you?

[2021-06-24 22:32] #1386 closed

[2021-06-28 01:47] #1350 closed

[2021-06-28 02:55] #1270 closed

[2021-06-28 05:59] jichenjc commented on #1545
ok, I will update the PR~

[2021-06-30 00:24] #1508 closed

[2021-06-30 00:25] jichenjc commented on #1508
https://github.com/kubernetes/cloud-provider-openstack/pull/1532

[2021-07-01 05:21] #1475 closed

[2021-07-01 05:25] ramineni commented on #1448
Enabled e2e tests as part of #1570

[2021-07-02 09:15] jsafrane commented on #1410
/close
Any migration feedback is still welcome!

[2021-07-02 09:16] #1410 closed

[2021-07-02 13:52] k-s-dean opened #1581 "[occm v1.21.0] Cloud provider cannot be empty"
/kind bug
**What happened**:
Pod fails to start

**What you expected to happen**:
Pod to start.

**How to reproduce it**:
pull pod version v1.20.0

**Anything else we need to know?**:
[code]

[code]

**Environment**:
- openstack-cloud-controller-manager version: v1.20.0
- OpenStack version: Wallaby

[2021-07-03 13:42] #1394 closed

[2021-07-04 05:42] lingxiankong commented on #1581
Please provide more detailed info. How did you run the openstack-cloud-controller-manager? Can you share the manifest file or command?

[2021-07-04 11:51] #1278 closed

[2021-07-05 01:52] jichenjc opened #1584 "[cinder-csi-plugin] Support VOLUME_CONDITION of CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
https://github.com/container-storage-interface/spec/blob/master/spec.md
has `// VOLUME_CONDITION controller capability is supported.`
we need enable this so that we can support `https://github.com/kubernetes-csi/external-health-monitor/`

if we don't support this option, we will get
`CSI driver does not support Contr

[2021-07-05 01:52] jichenjc commented on #1584
/assign

[2021-07-06 10:08] ramineni commented on #702
/remove-lifecycle rotten

[2021-07-07 16:16] martin-helmich opened #1587 "[manila-csi-plugin] Possible cache corruption when an error occurs during NodeStageVolume gRPC call?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After a network connectivity issue (presumably), some of our nodes weren't able to mount any Manila PVCs any more. The affected Pods showed events saying "stage secrets cannot be nil or empty", and similar messages showed up in the logs fo the Manila CSI node plugin:

[code]

From reading the source, I inferred (please f

[2021-07-07 17:08] #885 closed

[2021-07-08 03:50] jichenjc opened #1588 "gate failure: running `make import-boss`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

looks like someone has same issue
https://golangrepo.com/repo/go-logr-logr

not sure we need some changes or rely on other repo to act, tracking here

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other rela

[2021-07-08 04:14] ramineni commented on #913
/remove-lifecycle stale

[2021-07-08 06:46] martin-helmich commented on #1587
Updated the report with a few additional details/corrections. I can also provide a PR for fixing this issue, if desired.

[2021-07-08 07:05] ramineni commented on #1587
/cc @gman0

[2021-07-08 08:50] gman0 commented on #1587
@martin-helmich thank you for your bug report and analysis of the bug! What you're describing makes sense: writing to `ns.nodeStageCache` before checking for errors is not good. If you have a patch ready you can send it. If not, I can work on it.

[2021-07-08 08:54] gman0 commented on #1587
Also, I'd recommend updating your manila-csi images to at least v1.20.4. There was an outstanding bug causing high memory consumption. You can check image release notes at https://hub.docker.com/r/k8scloudprovider/manila-csi-plugin for more info

[2021-07-08 11:01] martin-helmich commented on #1587
Hey @gman0, thanks for the response (and also for the hint regarding the memory leak). :+1:  I've provided a (simple) fix in #1590 -- looking forward for any feedback&reviews. 🙂

[2021-07-12 16:02] ramineni commented on #1487
/remove-lifecycle stale

[2021-07-13 22:20] #1588 closed

[2021-07-13 22:52] #1587 closed

[2021-07-14 00:56] #1545 closed

[2021-07-14 10:03] tombarron commented on #1367
/remove-lifecycle stale

[2021-07-14 10:06] tombarron commented on #1367
Cinder spec: https://specs.openstack.org/openstack/cinder-specs/specs/xena/expose-cinder-user-visible-extra-specs-spec.html
Cinder implementation (WIP): https://review.opendev.org/c/openstack/cinder/+/797170

[2021-07-15 14:08] jelinek-wgs opened #1595 "[occm] The provisioning duration of LoadBalancer type services increases significantly with the number of cluster nodes."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

At the beginning, provisioning a new LoadBalancer type service took ~5min, one service takes ~15min now.

**What you expected to happen**:

We would expect that after the load balancer instance is provisioned, a floatingIP is assigned and min. 1 member (or 2-3 for HA) are provisioned in the load balancer, the load balanc

[2021-07-15 18:20] atsai1220 opened #1596 "[occm] Build Release for 1.1.1 for Helm Chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Seems like occm 1.1.1 is merged into master but not yet released on the Helm chart.

**What you expected to happen**:
Expecting 1.1.1 to be available for consumption to resolve RBAC issues.

**How to reproduce it**:
[code]

**Anything else we need to know?**:
I may be under the incorrect assumption that 1.1.1 is available

[2021-07-16 09:15] squ94wk commented on #1531
This is indeed fixed upstream since 1.19.12 and 1.20.8.

[2021-07-16 09:15] #1531 closed

[2021-07-16 09:56] squ94wk opened #1597 "[occm] Periodically sync LoadBalancer Services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When I change something about an Octavia Load Balancer that is managed my OCCM, it's not automatically reconciled to the desired state by OCCM.

An example case is deleting a pool belonging to the LB.

**What you expected to happen**:

The pool is automatically recreated after a short time.

**How to reproduce it**:

[2021-07-17 00:05] #987 closed

[2021-07-19 05:00] ramineni commented on #1596
@atsai1220 Currently, they are only released once the new branch is cut or on new release. You can expect it to be available by Aug first week once 1.22 is targeted to release.

[2021-07-19 10:21] Happy2C0de opened #1598 "nodeplugin-daemonset chart template - imagePullPolicy is defined multiple times"
[cinder-csi-plugin] `imagePullPolicy` is specified multiple times in `nodeplugin-daemonset.yaml` chart templates.

See:

https://github.com/kubernetes/cloud-provider-openstack/blob/905e989d20357f6d7836e3311b430f377f52a451/charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml#L40

https://github.com/kubernetes/cloud-provider-openstack/blob/905e989d20357f6d7836e3311b430f377f52a451/charts/cind

[2021-07-19 11:37] Happy2C0de commented on #1598
Is there somebody who can take over this fix and who already signed the CLA?

[2021-07-21 04:33] ramineni commented on #1598
@Happy2C0de Fixed in #1602 .

[2021-07-21 04:59] Happy2C0de commented on #1598
Very cool. Thanks for the quick reply 👍

[2021-07-22 11:40] lingxiankong commented on #1595
Hi, thanks for reporting this issue, that behavior has actually been changed since release-1.19, have you tried e.g. `k8scloudprovider/openstack-cloud-controller-manager:v1.19.2`?

[2021-07-22 11:43] #1448 closed

[2021-07-22 22:39] lingxiankong commented on #1597
Load balancer reconciliation should be part of cloud controller manager functions, I didn't notice there is such mechanism though. Have you ever heard there is any cloud provider supports this?

[2021-07-23 09:55] #1598 closed

[2021-07-26 11:58] YugReddy opened #1606 "PartiallyFailed error while take namespace backup with velero tool error="error taking snapshot of volume: rpc error"
log file : velero backup logs

-sh-4.2$ ./velero-v1.1.0-linux-amd64/velero backup logs cp4d.test-ns.20210726064624
time="2021-07-26T11:44:44Z" level=info msg="Setting up backup temp file" backup=velero/cp4d.test-ns.20210726064624 logSource="pkg/controller/backup_controller.go:462"
time="2021-07-26T11:44:44Z" level=info msg="Setting up plugin manager" backup=velero/cp4d.test-ns.20210726064624 logSo

[2021-07-26 11:59] YugReddy opened #1607 "PartiallyFailed error while take namespace backup with velero tool error="error taking snapshot of volume: rpc error"
log file : velero backup logs

-sh-4.2$ ./velero-v1.1.0-linux-amd64/velero backup logs cp4d.test-ns.20210726064624
time="2021-07-26T11:44:44Z" level=info msg="Setting up backup temp file" backup=velero/cp4d.test-ns.20210726064624 logSource="pkg/controller/backup_controller.go:462"
time="2021-07-26T11:44:44Z" level=info msg="Setting up plugin manager" backup=velero/cp4d.test-ns.20210726064624 logSo

[2021-07-26 12:02] #1607 closed

[2021-07-27 11:55] Happy2C0de opened #1608 "[cinder-csi-plugin] Duplicate tolerations key in chart template nodeplugin-daemonset.yaml"
[cinder-csi-plugin] Duplicate tolerations key in `nodeplugin-daemonset.yaml`, analogous to #1599

https://github.com/kubernetes/cloud-provider-openstack/blob/2155ee9bc6e9376459a971672d936dd17678a022/charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml#L16-L17

https://github.com/kubernetes/cloud-provider-openstack/blob/2155ee9bc6e9376459a971672d936dd17678a022/charts/cinder-csi-plugin/templ

[2021-07-27 13:46] ramineni commented on #1608
Looks like we need to keep the validation as part of CI . Thanks for reporting the issue.

[2021-07-27 13:48] ramineni commented on #1608
Fixed as part of #1609

[2021-07-27 22:57] lingxiankong commented on #1220
/remove-lifecycle stale

[2021-07-28 03:47] bzhaoopenstack opened #1610 "[openlab CI/CD] Testing resources risk raised."
We had received a sad news https://github.com/theopenlab/openlab/issues/801 .

So much thanks for citynetwork support in these years.

But seems,  cloud-provider-openstack project is relied on the resources providered by citynetwork heavily. So we think this would be a disaster for cloud-provider-openstack usual works/testing. All master env includes zuul, nodepool, web are in citynetwork too. So

[2021-07-28 04:53] #1608 closed

[2021-07-28 05:34] gouthampacha commented on #1610
@fghaas: o/ Hi, adding you to this request; to confirm theopenlab/openlab#801 - and to check if we can explore other avenues, with City Network Cloud.

[2021-07-28 20:15] henro001 commented on #1507
I recently observed very similar issue. It started after we migrated to CSI cinder plugin. If a node is rebooted the pod will never come back with the following error

`Unable to find Device path for volume`

I see an API request from kubelet to delete the attachment during reboot, but if the node dies this will obviously not happen.
When the node comes back up, the above error is observed. In ope

[2021-07-30 03:09] jichenjc opened #1613 "[All][CI] Tracking switch to prow if possible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

see #1610 for more background

https://kubernetes.slack.com/archives/C0LSA3T7C/p1620276641087400?thread_ts=1620081921.083000&cid=C0LSA3T7C

[code]

https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics.yaml#L2-L47

**What you expected

[2021-07-30 03:14] jichenjc commented on #1613
so the issue is tracking the breakdown in case #1610 has no solution including something like infra setup, CI scripts creation etc..

[2021-08-02 05:46] bzhaoopenstack commented on #1610
@fghaas @gouthampacha @all, Hi guys, openlab had been recovered. Please see whether the switch cloud can fit your testing requirements. Thanks

[2021-08-09 15:32] kayrus commented on #1493
Relates to #1020
cc @rfranzke

[2021-08-09 15:34] kayrus commented on #1493
/remove-lifecycle stale

[2021-08-10 06:44] jlyheden opened #1617 "[cinder-csi-plugin] node-driver-registrar prestop hook not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I install cinder-csi using the helm chart, the node-driver-registrar fails to invoke the prestop hook due to /bin/sh not being present in the container image.

[code]

**What you expected to happen**:

No warnings when applying the helm chart

**How to reproduce it**:

[code]

**Anything else we need to know?**:

**

[2021-08-10 12:58] ramineni commented on #1617
@jlyheden looks like preStop is no longer required. could be removed . (https://github.com/kubernetes-csi/node-driver-registrar/pull/61)
Ill update the charts

[2021-08-12 05:09] #720 closed

[2021-08-12 08:17] JPRbrs opened #1621 "[manila-csi-plugin] Unable to set metadata with appendShareMetadata"
/kind bug

**What happened**:
I've tried to create a NFS share with Manila CSI Plugin passing autogrow key in metadata but the share is created without metadata

**What you expected to happen**:
The share has autogrow enabled and metadata is present when running manila metadata-show share-ID

**How to reproduce it**:
Deploy the following manifest in a K8s Cluster with Manila CSI plugin installed
[

[2021-08-13 07:53] gman0 commented on #1621
@JPRbrs thanks for reporting. I can't reproduce this with latest manila-csi v1.21:

[code]

[code]

What manila-csi version are you using?

[2021-08-13 08:28] JPRbrs commented on #1621
Hello @gman0 thanks for your answer. I'm using an old version (0.20) and I reckon that might be the problem. I'll check the latest version ASAP and will update this

[2021-08-15 21:11] #1617 closed

[2021-08-15 23:33] lingxiankong commented on #1054
/remove-lifecycle stale

[2021-08-16 02:28] #1438 closed

[2021-08-16 06:30] jelinek-wgs commented on #1595
Hi @lingxiankong, thank you! It worked perfectly fine. The time has been reduced to 4m.

[2021-08-16 06:30] #1595 closed

[2021-08-18 09:33] sylvainOL opened #1628 "[cinder-csi-plugin] Unable to attach or mount volumes: timed out waiting for the condition"
/kind bug

**What happened**:
Provisioner installed in our Kubernetes `v1.20.7` cluster. The provisioner is able to create and attach PVCs to the required node but Pods using the PVCs enter a waiting state with the error Unable to attach or mount volumes: unmounted volumes=[data-volume], unattached volumes=[default-token-4w5lf data-volume]: timed out waiting for the condition

* When the PVC is cr

[2021-08-18 09:38] sylvainOL commented on #1628
I've also taken a look at changes in kubespray and I don't see anything that might be an issue these previous weeks: https://github.com/kubernetes-sigs/kubespray/commits/release-2.16

Another change is that we've update debian base image to a more recent one (issue with stable change to oldstable) but I'm not sure it changes something :(

[2021-08-18 10:29] sylvainOL commented on #1628
oh and on another deployment, (k8s `v1.19.9` deployed with kubespray `release-2.15`), but using the in tree provisioner (AFAIK, I don't see csi pods), it has the same issue
and there I can see:

[code]

[2021-08-18 12:39] sylvainOL commented on #1628
continuing to find the issue, I've taken a look at an "old" deployment (using the old debian version but also being deployed via victoria but running now on wallaby)
same version as previous one (k8s `v1.19.9` deployed with kubespray `release-2.15`) and here it works!

the difference is on the naming of disk in `/dev/disk/by-id/`:

* old one:
[code]

* new one:
[code]

but when I look at https://g

[2021-08-18 13:32] sylvainOL commented on #1628
Ok,
so first sorry to speak out loud here but I may have found something on the first issue: I'm deploying openstack csi but using kubelet provided openstack cloud adapter...

so I'm able to see the issue in kubelet from node:
[code]

So I guess I'm not using cinder csi but the "old" way in kubelet.

And with the new version in libvirt, it's broken now.

So I'll close this one, sorry for the noise

[2021-08-18 13:32] #1628 closed

[2021-08-19 02:41] lingxiankong commented on #1628
All good @sylvainOL, please let us know if you have any further questions.

[2021-08-20 21:10] rptaylor commented on #1376
I was excited to see cinder 1.4.9 is released in the 1.22 branch, though not showing up in the Helm repo yet:
[code]
Looking forward to using it when it is published to the Helm repo.

[2021-08-21 21:19] rissson commented on #933
I think this is still relevant, as many people expressed their interest for it.

[2021-08-23 02:05] lingxiankong commented on #1376
Hi @brtknr, any chance you can help to take a look?

[2021-08-23 05:11] brtknr commented on #1376
Hmm this seems to suggest that the release was successful https://github.com/kubernetes/cloud-provider-openstack/runs/3347434137?check_suite_focus=true

[2021-08-23 06:25] ialidzhikov commented on #1502
/remove-lifecycle stale

[2021-08-23 06:36] brtknr commented on #1376
Also the index.yaml was published correctly https://github.com/kubernetes/cloud-provider-openstack/commit/e5b66e4f98f28a157659ed502e09587f82695b9e

[2021-08-23 06:36] brtknr commented on #1376
Maybe you forgot to run helm repo update

[2021-08-23 10:05] ramineni commented on #1408
/remove-lifecycle stale

[2021-08-23 10:05] ramineni commented on #1405
/remove-lifecycle stale

[2021-08-23 10:10] ramineni commented on #1301
/remove-lifecycle stale

[2021-08-23 10:10] ramineni commented on #1020
/remove-lifecycle stale

[2021-08-23 10:11] ramineni commented on #1465
/remove-lifecycle rotten

[2021-08-23 10:13] ramineni commented on #1169
There is no support in OPenstack yet to specify ro flag from nova . Support might take time. So closing the issue for now.

[2021-08-23 10:13] ramineni commented on #1169
/remove-lifecycle rotten

[2021-08-23 10:13] ramineni commented on #1169
Will reopen once supported from Openstack side.
/close

[2021-08-23 10:14] #1169 closed

[2021-08-23 17:45] rptaylor commented on #1376
Wow, it's hard to believe Helm never automatically checks for updates, you really have to manually update every time??
Anyway yes it shows up now, thanks for checking.

[2021-08-25 06:23] ramineni commented on #1540
/remove-lifecycle stale

[2021-08-25 06:23] ramineni commented on #1397
/remove-lifecycle stale

[2021-08-25 06:25] ramineni commented on #1613
Being done as part of https://github.com/kubernetes/cloud-provider-openstack/pull/1632 , https://github.com/kubernetes/test-infra/pull/23328

[2021-08-25 06:29] ramineni commented on #1606
@YugReddy please elaborate. This seems to be velero-plugin , why the issue is raised here?

[2021-08-25 06:31] ramineni commented on #1596
@atsai1220 New version of helm charts are released. https://github.com/kubernetes/cloud-provider-openstack/releases/tag/openstack-cloud-controller-manager-1.1.2 . please check.

[2021-08-25 06:31] ramineni commented on #1596
/close

[2021-08-25 06:31] #1596 closed

[2021-08-25 06:49] ramineni commented on #1621
@JPRbrs Any update?

[2021-08-25 09:13] #1376 closed

[2021-08-25 09:14] lingxiankong commented on #933
Thanks for your interest, I will continue implementing this feature.

[2021-08-25 09:15] lingxiankong commented on #933
/assign

[2021-08-25 22:20] ebilling opened #1633 "Dependency on k8s.io/kubernetes is causing issues"
/kind bug

This affects users of the cloud-provider-openstack package by external users (specifically k8s.io/kops)

**What happened**:
When pulling libraries that depend on this repo, the versions cannot be resolved for k8s.io/kubernetes, leading to the need to add replace statements for a large number of other libraries.

go: k8s.io/kops@v1.21.1 requires
        k8s.io/cloud-provider-openstack@v1

[2021-08-28 04:26] lingxiankong commented on #1581
Please reopen with more details.

[2021-08-28 04:26] #1581 closed

[2021-08-28 04:26] lingxiankong commented on #933
/reopen

[2021-08-28 04:26] lingxiankong commented on #933
/remove-lifecycle rotten

[2021-08-30 12:57] JPRbrs commented on #1621
Hi @ramineni sorry for the late reply but I was on annual leave with no access to the lab.
I'll try the update as soon as I can and will report back if I can reproduce the issue with the latest version.

Many thanks

[2021-08-31 00:11] jichenjc commented on #1613
https://github.com/kubernetes/test-infra/pull/23402

[2021-08-31 05:05] ramineni commented on #1621
@JPRbrs Sure. Thanks.  Feel free to reopen if you still face the issue.

[2021-08-31 05:09] ramineni commented on #1613
@jichenjc This script , ci-csi-cinder-e2e.sh yet to be added right? Are you working on that?

[2021-08-31 05:12] ramineni opened #1635 "[manila-csi-plugin] Add manila jobs to test-infra"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This issue is to track the progress of manila jobs to be added to test-infra
Parent-issue: #1613

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-08-31 05:12] ramineni commented on #1635
/cc @gman0

[2021-08-31 05:42] jichenjc commented on #1613
@ramineni yes, something like https://github.com/theopenlab/openlab-zuul-jobs/pull/1195/files
will be replicated to our repo

[2021-08-31 15:56] vs49688 commented on #1386
Reopening, I've just hit this too.
I have three clusters (k0s-built) in the same tenant. Each cluster has different `--cluster-name=` values on their `kube-controller-manager`s.

I'd expect load balancers to be created with unique names, but they're still created using the default `kubernetes`. And now the three clusters continuously fight over who owns the LBs.

[2021-08-31 21:32] lingxiankong commented on #1386
the cloud controller manager is a separate binary and has its own parameters, you have to specify different cloud names for different CCMs.

[2021-09-01 08:41] eumel8 opened #1636 "[occm] Error deleting loadbalancer since release-1.20"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Since 1.20 release we have problems delete loadbalancer service:

[code]

**What you expected to happen**:

[code]

**How to reproduce it**:

This error occured between release-1.19 and release-1.20. After comparing the commits I spotted https://github.com/kubernetes/cloud-provider-openstack/pull/1252
After reverting thi

[2021-09-01 11:13] ramineni commented on #1610
@bzhaoopenstack Thanks . Closing this issue as its resolved now.

[2021-09-01 11:13] ramineni commented on #1610
/close

[2021-09-01 11:13] #1610 closed

[2021-09-01 11:53] ouroboros8 opened #1637 "[occm] Idiosyncratic yaml in helm values"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently the `controllerExtraArgs` key takes a string argument which is parsed as a YAML template and inserted into the daemonset manifest.

**What you expected to happen**:
`controllerExtraArgs` should take a list of extra arguments. This is less confusing to users (the list of args is just a list, not a template of a l

[2021-09-01 18:35] pinaki124 commented on #1633
@lingxiankong Yes, this issue is still valid:

go: k8s.io/kops@v1.21.1 requires
        k8s.io/cloud-provider-openstack@v1.21.0 requires
        k8s.io/kubernetes@v1.21.0 requires
        k8s.io/api@v0.0.0: reading k8s.io/api/go.mod at revision v0.0.0: unknown revision v0.0.0

[2021-09-02 05:15] ramineni commented on #1637
/component occm

[2021-09-02 05:19] ramineni commented on #1637
/cc @lingxiankong

[2021-09-02 06:42] ramineni commented on #1562
/remove-lifecycle stale

[2021-09-02 06:43] ramineni commented on #1534
/remove-lifecycle stale

[2021-09-02 06:43] ramineni commented on #1534
@jichenjc Can we close this?

[2021-09-02 06:57] jichenjc commented on #1534
ok, let's close this

[2021-09-02 06:57] #1534 closed

[2021-09-02 18:16] m-yosefpor commented on #702
I don't understand why do we need to add leader election flag to driver. Leader election (lease) in case of csi are only for controllers to avoid race condition when watching/updating resources on api server. However csi driver act only as a gRPC server and which serves requests by other csi controllers (the ones that already support leader election). Only the one controller which is leader calls

[2021-09-06 00:07] jichenjc commented on #1636
@eumel8 have you have chance to test latest 1.22 or master? whether the problem still occurs due to #1252 ？

[2021-09-06 08:19] eumel8 commented on #1636
@jichenjc unfortunatelly the same error

[code]

[2021-09-06 10:09] Betterme001 opened #1641 "[k8s-keystone-auth] did anyone use k8s-keystone-auth for authorization"
[k8s-keystone-auth]

I notice that k8s k8s-keystone-auth can be Kubernetes webhook for  authentication and authorization. I guess it is offen used for authentication, but how dose it work for authorization . I summarize three ways to use k8s-keystone-auth.
1.  Just use k8s-keystone-auth to authentication , use RBAC for authorization with user ID/project ID in Keystone.
2. Use k8s-keystone-auth for

[2021-09-07 02:10] jichenjc commented on #1641
@lingxiankong did your cloud use this function?
@ramineni did OCP use this ?

[2021-09-07 06:25] jichenjc commented on #1636
ok, I searched the code in CPO and didn't find it but found in CAPI
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controller.go#L148
so I assume you are using CAPI + CPO ?

and @lingxiankong do we have any LB test in e2e? if so curious why we didn't find the error maybe due to different env? as #1252 is an optimization so maybe we can re

[2021-09-08 03:41] ramineni commented on #1571
/remove-lifecycle stale

[2021-09-08 09:46] waleed-git opened #1643 "[cinder-csi-plugin] pods crashing due Liveness probe failed CSI release 21"
BUG REPORT

**What happened**:
[cinder-csi-plugin]pods crashing due Liveness probe failed CSI release 21

**What you expected to happen**:
it should be running smoothly

**How to reproduce it**:
use release 21  cinder-csi-plugin under manifests then apply it

**Anything else we need to know?**:

LOGS as below

[code]
csi-plugin making restarts
[code]

and at last, below are the pod events

[code]

[2021-09-08 11:23] ramineni commented on #1444
/remove-lifecycle stale

[2021-09-09 00:15] jichenjc commented on #1643
can you confirm whether those pods are OK to be used? if they are alive , this means part of the healthy check has problem in your cluster ..
[code]

and do you have logs for `kubectl logs csi-cinder-nodeplugin-xxxxx -n kube-system -c cinder-csi-plugin` ?
usually it will listen on the socket and livenessprobe is connecting to it ,so I doubt whether the node plugin itself has issue...
`Listening fo

[2021-09-09 06:56] ramineni commented on #1613
https://github.com/kubernetes/test-infra/pull/23495

[2021-09-10 01:50] lingxiankong commented on #1641
@Betterme001 Thanks for bringing up this discussion.

As you said, k8s-keystone-auth is quite flexible and the two authorization modes (RBAC and webhook) can be used in parallel based on your business requirements.

I don't fully understand your concerns in option 2, I'd appreciate if you could elaborate more.

[2021-09-10 01:50] lingxiankong commented on #1641
We do.

[2021-09-10 01:54] lingxiankong commented on #1636
@eumel8 are you using Octavia or Neutron-LBaaS?

[2021-09-10 03:46] lingxiankong commented on #1636
Let's grab more info before deciding.

[2021-09-10 07:29] lingxiankong commented on #1637
@ouroboros8 Thanks for reporting this issue, please feel free to submit a PR, given this will be a backward-incompatible change, we need to bump the Chart major version.

[2021-09-13 09:29] Betterme001 commented on #1641
Um, I misunderstood, I thought I had to  assign a role admin member for the user in openStack before I assign a  role in k8s-keystone-auth policy. In fact , I can just bind  a user name without admin/member role in openStack  to a role in k8s-keystone-auth policy.

I am confused that If we don't use the role(openStack admin/member)  in k8s-keystone-auth policy, what is the necessity of using k8s-k

[2021-09-13 12:18] lyarwood opened #1645 "[cinder-csi-plugin] Use Nova's os-volume_attachments API to poll attach/detach completion"
/kind feature

**What happened**:

The current volume attach and detach code within the cinder-csi-plugin uses Nova's os-volume_attachments API [1] to initially attach [2] and later detach [3] a volume from an instance. As noted in [1] both of these APIs are async and need to be polled (with GETs against /servers/{server_id}/os-volume_attachments) after calling to determine when an operation has c

[2021-09-13 16:12] sergiomanso opened #1647 "[occm] occm doesn't handle correctly passwords using dollar sign"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

openstack-cloud-controller-manager fails to authenticate when the specified openstack tenant password is using a dollar sign

**What you expected to happen**:

occm to succeed to authenticate with the following configuration

[Global]
region=RegionOne
username=username
password=password$n#1
auth-url=https://openstack.clo

[2021-09-13 23:47] jichenjc commented on #1647
I don't have env to try myself. but I suspect we are using code from https://github.com/gophercloud/gophercloud/
so mostly this kind of special string handling should be done in gophercloud?

[2021-09-14 05:58] ramineni commented on #1645
@lyarwood Thanks for reporting the issue and detail explanation.
Makes sense to me to poll nova attachments API instead . Will take a look . Thanks

[2021-09-14 05:59] ramineni commented on #1645
/assign

[2021-09-14 06:10] ramineni commented on #1635
manila sanity tests - https://github.com/kubernetes/test-infra/pull/23520

[2021-09-15 01:21] #702 closed

[2021-09-15 11:20] ramineni commented on #1392
/remove-lifecycle stale

[2021-09-16 04:08] lingxiankong commented on #1641
Because with k8s-keystone-auth, the openstack users could have access to the k8s cluster without having k8s cluster credentials. Please have a look at the concept and workflow of kubernetes webhook authn and authz.

Why? Normally the openstack admin user is not necessarily the k8s cluster admin.

[2021-09-16 04:08] #1641 closed

[2021-09-16 04:27] lingxiankong commented on #1647
I think it's not `$` but `#` made the authentication failed because `#` is used for comments. If that's part of the config value, it should be enclosed in double quotes, which is not a workaround but a correct solution.

[2021-09-16 04:27] #1647 closed

[2021-09-21 07:47] gman0 opened #1650 "[CI] can't specify enabled services for local.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`install-devstack` role doesn't allow for specifying which services should be enabled in `local.conf` configuration file. I'm working on a PR to add this, similar to what we had in our previous OpenLab Zuul CI jobs.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**En

[2021-09-21 09:28] lingxiankong commented on #1650
Hi @gman0, I was using an external link (https://gist.github.com/lingxiankong/a109303f48e9a74fc8a7c01de4156d71/raw) as the local.conf for devstack in CI, if that's the only change should be made for manila job, we could add a role variable using the url as the default value but specifying a different one in manila job.

[2021-09-21 14:41] gman0 commented on #1650
@lingxiankong could something like this work? https://github.com/kubernetes/cloud-provider-openstack/compare/master...gman0:ci-devstack-local-conf-template?expand=1

This is what it generates for OCCM:

[code]

[2021-09-21 14:42] gman0 commented on #1650
This is based on the config you've provided, btw.

[2021-09-21 21:48] lingxiankong commented on #1650
That looks good, the only thing missing is as follows (I'm not sure if that's necessary, but may be safer if we could include):

[code]

[2021-09-22 07:48] gman0 commented on #1650
@lingxiankong Ok, I'll open a PR.

[2021-09-27 19:28] sdputurn opened #1653 "manila nfs dynamic provisioning not working"
issue: after following the deployment guide of manila nfs CSI. and trying the dynamic_provisioning example, pvc are not woking. pvc is getting stack at:
```  Normal  ExternalProvisioning  3m36s (x103 over 28m)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "nfs.manila.csi.openstack.org" or manually created by system administrator```

how to reprodu

[2021-09-28 00:27] gouthampacha commented on #1653
Hi @sdputurn, have you installed the nfs node plugin? is it in a healthy state? https://github.com/kubernetes-csi/csi-driver-nfs

[2021-09-28 06:50] sdputurn commented on #1653
thanks @gouthampacha after deploying nfs node plugin the manila csi services started coming up. PVC events are progressing. currently provisioning is failing due to - {"badRequest": {"code": 400, "message": "Share network must be set when the driver_handles_share_servers is true."}}

can you please help me how to fix this error?

[2021-09-28 06:50] #1653 closed

[2021-09-28 07:32] sdputurn commented on #1653
got this fixed by adding shareNetworkID in the storageclass properties. but this parameter is given as option in the docs.

[2021-09-28 08:02] eumel8 commented on #1636
@lingxiankong cloud.conf runs with `use-octavia = false`. This would have the only option to run Neutron-LBaaS

[2021-09-28 10:05] lingxiankong commented on #1636
Unfortunately, we stopped maintaining Neutron-LBaaS since release 1.17 (or 1.18?)

[2021-09-28 10:05] #1636 closed

[2021-09-28 23:05] gouthampacha commented on #1653
@sdputurn - yes, shareNetworkID would be required when the manila share type's ``driver_handles_share_servers`` extra-spec is set to True; i've fixed the wiki that the documentation links to call this out: https://wiki.openstack.org/wiki/Manila/Concepts#share_network

[2021-09-29 05:05] ramineni commented on #1464
/remove-lifecycle stale

[2021-09-30 04:02] #933 closed

[2021-09-30 05:03] ramineni commented on #1643
@waleed-git closing this issue.
Feel free to reopen once you have more info/logs to share on this issue.

[2021-09-30 05:03] ramineni commented on #1643
/close

[2021-09-30 05:03] #1643 closed

[2021-09-30 10:24] #1650 closed

[2021-10-03 09:29] lingxiankong commented on #1584
/remove-lifecycle stale

[2021-10-04 15:05] gman0 commented on #1635
https://github.com/kubernetes/test-infra/pull/23878
https://github.com/kubernetes/cloud-provider-openstack/pull/1656

[2021-10-06 04:52] ramineni commented on #913
/remove-lifecycle stale

[2021-10-06 16:34] davidp1404 opened #1659 "Diskpressure taint when filling a cinder volume"
Hello, I'm having a strange behaviour using openstack-cinder-csi-1.2.14 in k8s v1.20.7, docker v19.3.15 and ubuntu 20.04
In my setup I use a separate lvm volume mounted at /var/lib/docker in all k8s nodes. When I create a volume it's provisioned without any error but when I fill the volume (a fio process running into the pod) it is evicted flagging the hosted node with diskpressure.
Monitoring the

[2021-10-06 17:18] #1659 closed

[2021-10-06 17:18] davidp1404 commented on #1659
I've discovered a tipo :-/
My fio process was writing at /

[2021-10-11 03:52] jichenjc opened #1661 "[cinder-csi-plugin] restore snapshot related function in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/kubernetes/cloud-provider-openstack/pull/1640
introduced new CI and some snapshot related functions are disabled
e.g
https://github.com/kubernetes/cloud-provider-openstack/pull/1640/files#diff-30ad6bf14c4b7f4b77ce54e3c80d1a5baf687c58efee15f0d04cb2cd3534d9e5R54

this issue track the restore of that functions

**Wh

[2021-10-11 03:52] jichenjc commented on #1661
/assign

[2021-10-11 06:34] jichenjc opened #1663 "gate failure: devstack not able to install"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/cloud-provider-openstack/1585/openstack-cloud-csi-cinder-e2e-test/1447442829453299712/build-log.txt

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other r

[2021-10-11 06:40] jichenjc commented on #1663
trying to follow GIT_SSL_NO_VERIFY=1 to skip verification through #1664 now

[2021-10-12 14:29] m-k8s opened #1666 "[manila-csi-plugin] Cannot extend the same volume twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I extend the volume a second time I get this error message:

[code]

**What you expected to happen**:

`Resize volume succeeded`

**How to reproduce it**:

1. Create a persistentVolumeClaim:

[code]

2. Extend the volume for the first time by switching it to 2Gi, the expansion will work correctly

[code]

3. Extend

[2021-10-13 14:45] #1666 closed, assigned to m-k8s

[2021-10-15 02:57] lingxiankong commented on #1663
@ramineni @lingxiankong which approach do you prefer?

[2021-10-15 09:46] jichenjc commented on #1663
opendev.org is official website, github is mirror
so I prefer official site ...

[2021-10-15 11:34] lingxiankong commented on #1663
Well, I agree with you. I would suggest we go for this PR as a temporary workaround.

[2021-10-18 03:27] jichenjc commented on #1663
@lingxiankong can you help to merge #1664 ? thanks

[2021-10-19 06:07] #1663 closed, assigned to nobody

[2021-10-20 04:48] ramineni commented on #1635
Re-wording my intent here again ,  IMO its always recommended to use to production env setup in CI instead of going with local cluster if it can be done . As discussed with @gman0 I understand that there is no as such issues/bottle neck to use multi node , so I suggest we should go with that setup instead.

@gman0 we don't maintain status as such for our plugins (alpha, beta, GA) AFAIK . This is o

[2021-10-20 05:09] ramineni commented on #1487
/remove-lifecycle stale

[2021-10-22 19:16] bhachn opened #1674 "[cinder-csi-plugin] node plugin pods restart with health check failing"
**BUG Report**
cinder-csi-plugin

**What happened**:
openstack-cinder-csi node plugin pod is getting restarted with health check failing with below error:

[code]

liveness container of the pod is getting restarted

**What you expected to happen**:
Pods should not restart and service should be running smoothly

**Anything else we need to know?**:
The load on the server as well is not high and well

[2021-10-27 09:40] ramineni opened #1676 "[CI][cinder-csi-plugin] Migrate CSI Migration tests to prow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
This issue to track the migration of CSI MIgration tests to prow.
Parent issue for more background :  https://github.com/kubernetes/cloud-provider-openstack/issues/1613

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or

[2021-10-27 09:41] ramineni opened #1677 "[CI] Migrate e2e conformance test to prow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
This issue is to track migration of e2e conformance tests to prow
parent issue: https://github.com/kubernetes/cloud-provider-openstack/issues/1613

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
-

[2021-10-29 07:29] #1674 closed, assigned to nobody

[2021-11-02 20:42] Miguelixxx commented on #1313
I am doing a deployment with the barbican plugin and it gives me the same error.
Kubernetes version: 1.20.6
Openstack Version: ussuri

I have created the mounts in apiserver, but it remains the same. The documentation has not been updated for a long time

[2021-11-03 00:39] jichenjc opened #1680 "[CI]Migrate keystone-authentication-authorization to Prow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-11-03 00:46] jichenjc commented on #1680
/assign

[2021-11-03 15:49] lebonez commented on #1250
Seems to be a good place to ask this question. I am having issues with this at the moment. I have found even after removing trust. The octavia service user still cannot access the certificate secret because the project scope does not match the creator scope. Is there something missing? I know in barbican to access secrets the user accessing the secret either needs to be in the acls/project access

[2021-11-05 08:54] kayrus opened #1683 "[occm] allow to override pool member monitor type"
/kind feature

**What happened**:

lbaas member monitor uses simple TCP healthchecks, and in case when the endpoint is HTTPS server, these checks cause `TLS handshake error` error logs

**What you expected to happen**:

I'd expect to have an option to set custom monitor types, e.g. `TLS-HELLO` or `HTTPS`

**How to reproduce it**:

Create a pod with HTTPS server and expose it via TCP/PROXY protocol

[2021-11-06 05:20] arunabhabanerjee opened #1684 "[cinder-csi-plugin] panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
cinder-csi-plugin container is crashing with the below error:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x98cb69]

**What you expected to happen**:
cinder-csi-plugin container must be up and running

**How to reproduce it**:
Deploy

[2021-11-08 01:40] jichenjc commented on #1684
Technically OCP related issue should not be opened here ..

but I believe you might suffer issue here
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/client/client.go#L215
which means likely the `cloud.AuthInfo` or `cloud` is nil and lead to issue

https://github.com/gophercloud/utils/blob/master/openstack/clientconfig/requests.go#L194
checks this and return error but I am v

[2021-11-09 01:28] jichenjc opened #1686 "[CSI] support ReadWriteOncePod mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
check https://kubernetes.io/blog/2021/09/13/read-write-once-pod-access-mode-alpha/
we need implement this feature by adding following stuffs:

1) bump side car containers
2) update CSI spec
3) update driver to provide such capabilities
4) NodePublishVolume might need to be updated ..
5) ....

I knew it's related to ci

[2021-11-09 02:01] jichenjc opened #1687 "[CSI] CSI service account token enablement ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://kubernetes-csi.github.io/docs/token-requests.html

looks like we need those in CSIDriver in order to have this feature (which is stable from 1.22)
so we might need consider how to add those features if we can
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**

[2021-11-09 02:03] jichenjc opened #1688 "[CSI] adopt new design of volume populater"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://kubernetes.io/blog/2021/08/30/volume-populators-redesigned/

basically if I understand this correctly ,we need consider `dataSourceRef ` add into our implementation..

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-

[2021-11-09 04:10] lingxiankong commented on #1250
@lebonez Since Rocky, Octavia is able to set Barbican ACLs on behalf of the user automatically to enable users to create TLS-terminated listeners without having to add the Octavia keystone user id to the ACL list by themselves. Please check your Octavia version and Octavia service logs (if you have the permission)

[2021-11-10 08:55] zetaab opened #1693 "[OCCM] Allow others than nip.io as loadbalancer hack"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We see few problems using nip.io by default:
1) from the dns servers we can see that kubernetes is resolving .nip.io DNS outside of the kubernetes cluster
2) .nip.io is hosted by single server
3) we do not want leak dns records outside

nip.io is used if `enable-ingress-hostname` is true AND loadbalancer is created u

[2021-11-10 14:05] gman0 commented on #1635
We don't have CSI sanity tests currently enabled right?

[2021-11-11 13:59] JPRbrs commented on #1621
Sorry for the very late reply @ramineni . I've checked it with csi-manila 1.3.3 and it indeed works. I've created an NFS volume in Openstack with autogrow=80.

It doesn't not actually gets bigger when filled, but I reckon that is because NFS CSI driver does not support it

Many thanks for your help!!

[2021-11-12 03:01] zhoudayongdennis opened #1695 "[cinder-csi-plugin]: "Could not determine device path" reported in NodeExpandVolume during PVC resize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

cinder csi resize functionality issue as below basic step:
a. apply the pvc, and corresponding pv and pvc created successfully
b. apply the pod referred to that pvc, and corresponding pod created and pv attached to node successfully
c. stop the pod and edit the pvc with larger size
d. the pv size got increased successful

[2021-11-12 03:04] zhoudayongdennis commented on #1695
https://github.com/kubernetes/cloud-provider-openstack/issues/1065

checked the device path in corresponding volumeattachment, and seems no issue, so confused why reporting such kind of device related error message?

[2021-11-12 07:08] JPRbrs opened #1696 "[manila-csi-plugin] Delete retain policy does not delete shares in Openstack"
/kind bug

**What happened**: Despite Volume deletion being supported by both CSI-NFS-driver and Manila-CSI-driver, I've observed that deleting a pvc which uses a StorageClass with retainpolicy Delete does not delete the share from OpenStack
See manifest used below:

**What you expected to happen**: I expected the share in Openstack to be deleted along the k8s PVC (please correct me if that is not

[2021-11-13 09:31] #1574 closed

[2021-11-15 07:24] #1693 closed

[2021-11-16 05:26] ramineni commented on #1696
/assign @gman0

[2021-11-16 06:03] ramineni commented on #1684
@arunabhabanerjee Could you test if this change solves your issue  https://github.com/kubernetes/cloud-provider-openstack/pull/1685 .

[2021-11-16 09:41] gman0 commented on #1696
Hello @JPRbrs, thanks for reporting this issue.

I'm not aware we've advertised this version anywhere. Can you please paste the version from logs, or give us the image tag if you're using the upstream one?

Can you paste relevant logs from manila-csi controller plugin pod too? Something like `kubectl logs -l app=openstack-manila-csi,component=controllerplugin -c cephfs-nodeplugin`.

[2021-11-16 13:14] JPRbrs commented on #1696
Sorry gman0, 1.3.3. is the Helm chart version. Manila CSI version is 1.22.0.

Here are the logs for you requested. I've created the StorageClass and PVC described in the first post and kept
kubectl logs -l app=openstack-manila-csi,component=controllerplugin -c nfs-nodeplugin -f  running:

`
E1116 12:57:55.473345       1 driver.go:317] [ID:9982] GRPC error: rpc error: code = InvalidArgument desc =

[2021-11-16 13:36] JPRbrs commented on #1696
Extra info, in case it helps:

kubectl describe pv <createdPV>
`
Events:
  Type     Reason              Age               From                                                                                                                  Message
  ----     ------              ----              ----

[2021-11-16 14:40] JPRbrs opened #1697 "[manila-csi-plugin] Unable to resize volumes with CSI-NFS-driver and manila-CSI-plugin"
/kind feature

**What happened**:
I'm unable to resize an NFS volume created with ManilaCSI and CSI-NFS-driver

`
Warning  ExternalExpanding      10s                    volume_expand Ignoring the PVC: didn't find a plugin capable of expanding the
olume; waiting for an external controller to process this PVC.
`

**What you expected to happen**:
Volume gets expanded

**How to reproduce it**:
Create

[2021-11-16 19:27] gouthampacha commented on #1697
Hi, the nfs node plugin isn't involved in the expansion - it looks like the request never got to manila-csi controller plugin; Is your [external resizer](https://github.com/kubernetes-csi/external-resizer) set up correctly?

/cc @gman0 for more thoughts

[2021-11-16 20:21] JPRbrs commented on #1697
Thanks for your answer @gouthampacha I assumed manila-csi talked to csi-nfs-driver to actually tell OpenStack to change the size of the volume. I'll check the configuration ASAP and will let you know.

[2021-11-17 01:00] jichenjc commented on #1695
@zhoudayongdennis which version you are using ? latest or some stable releases?
I knew we had some improvement on this functions overtime, so just want to make sure your version first

[2021-11-17 04:53] ramineni commented on #1635
@gman0 we have them added here , https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml#L125 . Are they not getting triggered?

[2021-11-17 04:54] ramineni commented on #1635
@gman0 And also, do you have plans to enable other e2e test suites for this release. IMO its good to have when you are bumping sidecars , to see no breakage is there.

[2021-11-17 05:08] ramineni commented on #1633
@pinaki124 you need to wait for stable release of kops (as its already fixed there), we dont have current plans and backport the same.

[2021-11-17 05:09] ramineni commented on #1493
/remove-lifecycle stale

[2021-11-17 05:11] ramineni commented on #1493
Im ok to deprecate the feature in favor of generic ephemeral volumes. May be we could do in early next cycle?
/cc @jichenjc @lingxiankong wdyt?

[2021-11-17 05:12] ramineni commented on #1405
/close

Tests are enabled now.

[2021-11-17 05:13] ramineni commented on #1405
/close

[2021-11-17 05:13] #1405 closed

[2021-11-17 05:13] ramineni commented on #1054
/remove-lifecycle stale

[2021-11-17 08:02] jichenjc opened #1698 "[cinder-csi-plugin]Remove snapshot-controller related yaml from charts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/kubernetes/cloud-provider-openstack/pull/1692#issuecomment-971179367

some discussion here related to helm charts of cinder-csi plugin snapshotter

remove those seems a reasonable way to move

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- opens

[2021-11-17 08:28] gman0 commented on #1635
@ramineni yes of course, I'm just busy with other things at the moment.

[2021-11-17 10:21] hedinasr opened #1700 "[octavia-ingress-controller] Include CA certs into Barbican secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When you enable TLS encryption on an ingress, the secret created in Barbican does not contain the CA certificates, which can produce SSL problems like this:

[code]

**What you expected to happen**:

The Barbican secret created by the controller should contains all the certificates found in the Kubernetes secret.

**How to reproduc

[2021-11-17 13:25] gman0 commented on #1696
Thanks, @JPRbrs. Just FYI I can't reproduce the problem you're describing (shares are being deleted on Manila side), so we'll need to debug this some more.

Would it be too much trouble to modify the Controller plugin StatefulSet and add `-v=5` cmd arg to all containers in there? This would turn up the log verbosity levels so we can see what's going on in more detail.

I'd like to see the logs for

[2021-11-17 14:29] MPV opened #1701 "[occm] Grafana dashboard"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There's great [metrics](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/metrics.md) — would anyone be up for sharing (and/or collaborating on) a pre-made Grafana dashboard?

**What you expected to happen**:

- No references/code in this repo referring to a Grafana dashboard
- No published Graf

[2021-11-17 14:44] JPRbrs commented on #1697
Hi again @gouthampacha,
Can I please suggest to have a look into the error log [here](https://github.com/kubernetes-csi/external-resizer/issues/179) please? It is a related issue I submitted to the external resizer repo. That error shows external-resizer does not found resizing capabilities in the csi-nfs-driver used

Also, here are the settings for the NFS resizer container:
`- args:
  - --csi-ad

[2021-11-17 14:49] JPRbrs commented on #1697
Some extra nodes in case they help
`
I1117 14:48:37.664147       1 main.go:93] Version : v1.3.0
I1117 14:48:37.664276       1 feature_gate.go:245] feature gates: &{map[]}
I1117 14:48:37.667344       1 connection.go:154] Connecting to unix:///var/lib/kubelet/plugins/nfs.manila.csi.openstack.org/csi-controllerplugin.sock
I1117 14:48:37.670077       1 common.go:111] Probing CSI driver for readiness
I

[2021-11-17 15:05] JPRbrs commented on #1696
Of course not @gman0

   <details>
   <summary>kubectl logs -l app=openstack-manila-csi,component=controllerplugin -c nfs-nodeplugin -f</summary>
I1117 14:53:39.647336       1 driver.go:319] [ID:49] GRPC response: {"capabilities":[{"Type":{"Service":{"type":1}}}]}
I1117 14:53:39.648362       1 driver.go:313] [ID:50] GRPC call: /csi.v1.Controller/ControllerGetCapabilities
I1117 14:53:39.648377

[2021-11-17 16:44] gman0 commented on #1697
Hi @JPRbrs.

1. Like @gouthampacha said, csi-nfs isn't involved at all. Resizer must be pointed to manila-csi's socket, i.e. `/var/lib/kubelet/plugins/nfs.manila.csi.openstack.org/csi-controllerplugin.sock`.
2. Please make sure you're actually using manila-csi 1.22. Output from external-resizer suggests you're not: `{"name":"nfs.manila.csi.openstack.org","vendor_version":"0.9.0@latest"}`. It seems

[2021-11-17 16:59] gman0 commented on #1696
@JPRbrs thanks for the logs!

I recognize the error messages `a volume named ... is already being created`, and they have been worded differently for some time now. Please see my comment in https://github.com/kubernetes/cloud-provider-openstack/issues/1697#issuecomment-971760080 and make sure you are actually using the version you've said you are.

From the external-provisioner logs:

[code]

Did

[2021-11-18 01:13] #1487 closed

[2021-11-18 01:53] zhoudayongdennis commented on #1695
@jichenjc, here was the source package we downloaded for rebuild in local.

https://github.com/kubernetes/cloud-provider-openstack/archive/v1.17.0.tar.gz

[2021-11-18 05:51] ramineni commented on #1697
@gman0 Its CPO version , https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/manila/driver.go#L61 . It gets set here I suppose, https://github.com/kubernetes/cloud-provider-openstack/blob/master/Makefile#L35 .

How did u deploy with latest? u meant with latest tag? so is the issue reproducible?

[2021-11-18 06:44] jichenjc commented on #1701
+1 to the feature

just for education purpose
not sure the deliverables should be put here or to https://grafana.com/grafana/dashboards though?

[2021-11-18 07:45] MPV commented on #1701
Maybe both?

To be able to improve upon what's published on Grafana.com, it's nice persisting/basing it off a repo.

[2021-11-18 08:10] JPRbrs commented on #1696
That worked @gman0 !! Thanks a lot, I think the problem was deleting the storage class before the pvc

[2021-11-18 08:10] #1696 closed

[2021-11-18 08:13] gman0 commented on #1697
@ramineni what I meant to ask is if you know what branch is used to build images tagged `latest`? It doesn't seem to be `master`.

[2021-11-18 08:42] JPRbrs commented on #1697
Bumping manila-csi-plugin container to v1.22.0 prevents the pod from crashing but trying to resize with
[code]
throws this error:
[code]
I'll keep looking into it...

[2021-11-18 08:52] gman0 commented on #1697
@JPRbrs you need to reference the controller expand secret in your storage class.

See the docs here https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html

[2021-11-18 08:54] gman0 commented on #1697
[code]

[2021-11-18 08:58] ramineni commented on #1697
It should be master ideally. /cc @lingxiankong

[2021-11-18 09:03] JPRbrs commented on #1697
I wasn't aware of those secrets!! Many thanks @gman0 that worked brilliantly!!

[2021-11-18 09:12] ramineni commented on #1697
@gman0 when version is latest , it pulls from here https://hub.docker.com/r/k8scloudprovider/manila-csi-plugin/tags , which we peridically push from master branch . If its not working from master branch , then its an issue

[2021-11-18 09:14] ramineni commented on #1697
/reopen

to check if its working with latest as well

[2021-11-18 09:16] gman0 commented on #1697
@ramineni well as @JPRbrs just demonstrated, it's not working in latest. It seems it's built from something else otherwise @JPRbrs wouldn't run into this problem. Maybe we open a new ticket for this? This one is solved.

[2021-11-18 09:17] lingxiankong commented on #1493
Yep, agree :-)

[2021-11-18 09:20] ramineni commented on #1697
@gman0 Im ok to open new ticket for this . It is built from MASTER branch. You could also locally test it , by building locally pulling latest code and tag it to latest.

[2021-11-18 09:21] gman0 opened #1702 "[All] Check that img tag `latest` is built from `master` branch"
/kind bug

**What happened**:

Helm charts in https://github.com/kubernetes/cloud-provider-openstack/tree/master/charts have `appVersion` set to `latest`. By default, images used in the charts use this as an image tag. Images are being pulled from https://hub.docker.com/r/k8scloudprovider .

It seems images tagged `latest` aren't built from `master` branch (at least in the case of manila-csi, foun

[2021-11-18 09:22] gman0 commented on #1702
/cc @lingxiankong @ramineni

[2021-11-18 09:22] gman0 commented on #1697
Let's continue the discussion in https://github.com/kubernetes/cloud-provider-openstack/issues/1702.

/close

[2021-11-18 09:23] #1697 closed

[2021-11-18 09:39] jichenjc commented on #1493
+1 to me :)

[2021-11-18 13:52] hedinasr opened #1703 "[octavia-ingress-controller] support whitelist-source-range annotation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

I want to be able to use the `octavia.ingress.kubernetes.io/whitelist-source-range` annotation.

By default, Load Balancers are open to the world (`0.0.0.0/0`). If someone wants to restrict access to certain IP addresses, one should be able to use Octavia's `allowed_cidrs` feature through this Ingress annotation.

[2021-11-19 02:43] jichenjc commented on #1695
thanks for the info, as you are using 1.17 and we are already 1.22
I remember some changes done related to expand volume (need find it )but not sure it's helping you
so if ok, can you help try latest release ?

[2021-11-20 23:30] lingxiankong commented on #1700
Hi @hedinasr, thanks for reporting this issue, could you please provide more detailed steps to help us understand how to reproduce, e.g. How you generated the certificates? How you created the Barbican secretes, etc.

[2021-11-22 07:00] hedinasr commented on #1700
I updated the issue, let me know if you want more detail.

[2021-11-23 02:18] zhoudayongdennis commented on #1695
@jichenjc,

not sure whether it was env issue, so want to ask for help why reporting such kind of error message and what's potential problem for further check?

[2021-11-23 07:21] ialidzhikov commented on #1540
/remove-lifecycle stale

[2021-11-23 09:10] lingxiankong commented on #1700
Thanks for the update.

[2021-11-23 09:12] lingxiankong commented on #1703
@hedinasr Please briefly describe the use case.

[2021-11-23 09:19] lingxiankong commented on #1702
Confirming with openlab engineers.

I suspect there is a background task running periodically to sync the latest image tag (which haven't updated for a long time since openlab CI had issues) from huawei container registery to cpo dockerhub,

[2021-11-23 09:24] hedinasr commented on #1703
Issue updated. Let me know if want more detail.

[2021-11-23 09:33] gman0 commented on #1702
@lingxiankong thank you for the info! Once more details are known, can we either update it by pointing it to `master` branch, or remove if it's not possible? It's very confusing for users when they expect to actually get the latest image and they end up with something entirely else.

[2021-11-23 09:48] lingxiankong commented on #1702
@gman0 The job has been removed. The history is, OpenLab, which is sponsored by Huawei, is not allowed to access Docker Hub in its project configuration, so we changed to use the Huawei Container Registry service and the OpenLab engineer created a periodic task to sync images to Docker Hub daily.

As most of our CI jobs have been migrated to k8s infra, we should consider building the latest images

[2021-11-23 13:06] gman0 commented on #1702
That sounds good, thanks.

[2021-11-24 03:42] #1700 closed

[2021-11-24 03:57] ramineni commented on #1502
/remove-lifecycle stale

[2021-11-24 03:58] ramineni commented on #1465
/remove-lifecycle stale

[2021-11-24 03:58] ramineni commented on #1408
/remove-lifecycle stale

[2021-11-24 03:58] ramineni commented on #1397
/remove-lifecycle stale

[2021-11-24 03:58] ramineni commented on #1301
/remove-lifecycle stale

[2021-11-24 03:58] ramineni commented on #1020
/remove-lifecycle stale

[2021-11-24 04:08] ramineni commented on #1702
@lingxiankong Agree. We used to have inside e2e-conformance job, is it required to do that? I suppose we could have separate periodic task to sync the images . wdyt?

[2021-11-25 03:07] lingxiankong commented on #1702
No, it's not required and you are right, we could definitely create another CI job to build latest image tag daily. Could you please help to create an issue and assign to me?

[2021-11-25 04:09] ramineni opened #1707 "[All] Add periodic job to build/upload `latest` tag images daily"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Add new periodic job to build 'latest' tag images and upload to docker hub.
And remove the sync from the openlab .

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-11-25 04:10] ramineni commented on #1707
/assign @lingxiankong

[2021-11-25 04:10] ramineni commented on #1702
@lingxiankong Thanks. Issue: https://github.com/kubernetes/cloud-provider-openstack/issues/1707

[2021-11-25 09:20] ramineni commented on #1695
@zhoudayongdennis According to this , stop pod doesn't seem to be required step, https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/examples.md#volume-expansion-example.  Could you follow this and check if its the same issue being seen in that case too.

[2021-11-25 09:22] ramineni commented on #1684
@arunabhabanerjee closing the issue as no response.
Feel free to reopen in case the problem persists after applying latest change.

[2021-11-25 09:22] ramineni commented on #1684
/close

[2021-11-25 09:22] #1684 closed

[2021-11-28 16:00] arunabhabanerjee commented on #1684
We encountered this issue on the OpenStack platform when we are not using the security group. I am really sorry for my delayed response. With the security group, it just works fine.

[2021-11-30 05:42] jichenjc commented on #1684
curious why security group impact the functions here.. I image it might be related to other env issue
but with limit info, nothing can be done..

[2021-11-30 06:28] #1698 closed

[2021-11-30 08:53] wirespecter opened #1709 "[occm] Block the OCCM from starting until DNS is ready"
/kind feature

**What happened**:
I have a use case where I need OCCM to wait until a certain DNS is ready.

**What you expected to happen**:
I would expect that I would be able to use `initContainers` in the chart values so that I can start a container that does this job before OCCM is started.

**Anything else we need to know?**:
https://github.com/kubernetes/cloud-provider-openstack/pull/1706 s

[2021-12-01 06:45] ramineni commented on #1562
/remove-lifecycle stale

[2021-12-02 07:50] ramineni commented on #1677
related issue to be taken care https://github.com/kubernetes/cloud-provider-openstack/issues/1562

[2021-12-02 07:50] ramineni commented on #1677
/unassign

[2021-12-03 22:47] kralicky opened #1712 "[occm] No way to specify internal network UUID in configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
if `internal-network-name` is set to the internal network's UUID instead of its actual name, the CCM will not assign an InternalIP to nodes which have a floating IP attached.

**What you expected to happen**:
There is no documented alternative key named `internal-network-id` or similar, but since Openstack APIs usuall

[2021-12-06 12:31] kleini opened #1713 "[octavia-ingress-controller] Ingress for same hostname results in multiple load balancer instances and different IPs to access them"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The octavia-ingress-controller always creates a separate load balancer for every ingress. It is not possible to have different URL paths for the same hostname configured in different ingresses.

**What you expected to happen**:
octavia-ingress-controller matches same hostnames and creates the URL paths on the same load ba

[2021-12-06 12:35] kleini commented on #1713
❯ kubectl get ingresses
    NAME                      CLASS    HOSTS         ADDRESS       PORTS   AGE
    testo-octavia-ingress-1   <none>   foo.bar.com   10.50.2.181   80      3m9s
    testo-octavia-ingress-2   <none>   foo.bar.com   10.50.3.185   80      56s

    ❯ openstack loadbalancer list
    +--------------------------------------+-----------------------------------------------------------

[2021-12-07 06:40] ramineni commented on #1571
/remove-lifecycle stale

[2021-12-07 12:17] GlassOfWhiskey opened #1714 "[manila-csi-plugin] Context deadline exceeded when creating volumes"
/kind feature

The default timeout (15s) for external-provisioner and external-snapshotter pods is way too short for the majority of real scenarios. This causes the volume creation operation to get stuck in a retry loop for a long time, returning DeadlineExceeded errors, until it manages to complete the volume creation under 15s.

The suggestion is: increase the timeout parameter for provisioner a

[2021-12-08 03:52] ramineni commented on #1444
/remove-lifecycle stale

[2021-12-08 03:54] ramineni commented on #1444
@creatica-soft we are planning to deprecate Inline ephemeral volumes feature in favor of generic ephemeral volumes.
please check https://github.com/kubernetes/cloud-provider-openstack/issues/1493 for more details.

Suggest to use generic ephemeral volumes instead.

[2021-12-08 09:01] ramineni commented on #1613
/remove-lifecycle stale

[2021-12-08 17:21] gman0 commented on #1714
+1, I agree. The next step (or as a part of this issue) would be to get rid of the internal check-and-wait loops that manila-csi currently has, and only rely on external-provisioner/snapshotter's retries.

[2021-12-12 10:20] amshankaran opened #1718 "Openstack cloud controller manager sends external DNS queries to resolve openstack at an interval of 5minutes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
OCCM sends 2 external DNS queries to resolve openstack at an interval of 5 minutes.
number of queries generated = 2 * number of nodes in the cluster
(in my cluster with 6 nodes 24 queries, 12 A queries 12 AAAA queries)

**What you expected to happen**:
Why these DNS queries were generated? I don't see any parameter defines 5 minutes

[2021-12-13 05:24] ramineni commented on #1637
/remove-lifecycle stale

[2021-12-13 06:32] phongvu0403 commented on #1060
@yotsapon Hi, can I ask you a question? I am facing this problem with Kubernetes version 1.19.9. I provisioned my cluster using Kubespray. What setting did you change in proxy? Thank you!

[2021-12-13 06:34] phongvu0403 commented on #1060
I also use cinder-csi-plugin with Kubernetes version 1.20.7. That is fine. I don't know how to make it work with Kubernetes version 1.19.9

[2021-12-13 07:51] ramineni commented on #1645
/remove-lifecycle stale

[2021-12-13 07:55] #1709 closed

[2021-12-14 01:10] jichenjc commented on #1718
@lingxiankong do you happen to know the answer?

[2021-12-15 03:29] lingxiankong commented on #1712
Thanks for providing help :-) We could definitely support network ID, but I'd assume that may bring more changes than expected.

[2021-12-15 03:49] lingxiankong commented on #1713
I am sure I understand this, could you please give us an example and describe the issue? From your paste, I can see there are 2 Ingresses created and 2 corresponding load balancers, and this is the expected behavior.

[2021-12-15 04:03] lingxiankong commented on #1718
Could you please provide some logs?

[2021-12-15 04:16] ramineni commented on #1392
/remove-lifecycle stale

[2021-12-15 06:29] amshankaran commented on #1718
![dns packet capture](https://user-images.githubusercontent.com/21239791/146134812-c29b6278-e483-4a74-9921-55d7b3783b00.jpg)
Please find the attached dns packet capture. I don't have logs now, I'll collect and share the same for the openstack-cloud-controller-manager pods. If any other logs requires do let me know

[2021-12-15 06:45] kleini commented on #1713
An example would be the following two ingress definitions:

    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
    name: testo-octavia-ingress-1
    annotations:
        kubernetes.io/ingress.class: "openstack"
        octavia.ingress.kubernetes.io/internal: "false"
    spec:
    rules:
    - host: foo.bar.com
        http:
        paths:
        - path: /hostname-1
            p

[2021-12-16 06:37] amshankaran commented on #1718
[openstack-cloud-controller-manager-t9dr8-pod.log](https://github.com/kubernetes/cloud-provider-openstack/files/7725030/openstack-cloud-controller-manager-t9dr8-pod.log)

[2021-12-16 07:05] jichenjc commented on #1713
then why not rewrite the ingress to avoid such ? looks like it's doable
not sure how to correctly distinguish the different ingress to same LB from doc below ..
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/octavia-ingress-controller/using-octavia-ingress-controller.md

[2021-12-16 07:35] kleini commented on #1713
How should I avoid different services behind different paths? That is the nature of micro services to have a lot of them, each one taking over a part of your whole web application. I am not certain, how to rewrite the ingress in that way? Each application is deployed on its own, managed by its own team.
And furthermore, the vhost requirement still remains. If you want to display other web content

[2021-12-19 07:22] phongvu0403 commented on #1060
@jichenjc Can you give me a clue? Thanks in advance!

[2021-12-19 23:59] #1597 closed

[2021-12-25 07:06] utianayuba opened #1721 "[octavia-ingress-controller] Could not retrieve certificate when delete TLS Octavia Ingress"
/kind bug

**What happened**:
- Create and delete Octavia Ingress without TLS: Succeed (Both on Kube and OpenStack)
- Creating TLS Octavia Ingress: Succeed (Both on Kube and OpenStack)
- Delete TLS Octavia Ingress: Succeed on Kubernetes but fail on OpenStack LB. LB provisioning status: PENDING_DELETE

**What you expected to happen**:
OpenStack LB deleted automatically right after TLS Octavia ingre

[2021-12-25 15:22] utianayuba commented on #1721
This issue is not happening on OpenStack Wallaby:
- kolla-12.0.2.dev28
- kolla-ansible-12.2.1.dev72
- kube_tag=v1.20.12-rancher1
- cloud_provider_tag=v1.20.2
- octavia_ingress_controller_tag=v1.20.2

Any suggestion?

[2021-12-27 03:09] jichenjc opened #1722 "[openstack-cloud-controller-manager] Serviceaccount cannot patch resource "services""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

create a LB follow
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md

[code]

in logs seems
[code]

it's weird why `"system:serviceaccount:kube-system:cloud-provider-openstack\"` is used

I created following command
[code]

and it w

[2021-12-27 03:10] jichenjc commented on #1722
opening this to track the problem as this is first time I saw this kind of issue

[2021-12-27 04:08] amshankaran commented on #1718
Hi Is there any findings on this ticket?

[2021-12-28 06:16] ramineni commented on #1464
/remove-lifecycle stale

[2021-12-30 01:51] jichenjc opened #1724 "[octavia-ingress-controller] Master node label usage is inconsistent with cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/ingress/controller/controller.go#L210
we are using `LabelNodeRoleMaster = "node-role.kubernetes.io/master"`

but cloud-provider for LB is using
`node.kubernetes.io/exclude-from-external-load-balancers`

https://github.com/kubernetes/cloud-provider/blob/25867882d

[2021-12-31 03:23] jichenjc commented on #1721
I am not sure it's caused by W/X
if so, it might be openstack Octavia and Barbican issue?

and looks like we are having this logic:

[code]

so from your log in octvia worker looks like ovtavia also try to delete the secret?
I guess we need check the logic of LB and secret in CPO and openstack to figure out who should
 be the right one to delete and whether 2nd need ignore 404 Not found error..

[2021-12-31 03:30] jichenjc commented on #1713
um... looks like https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md#sharing-load-balancer-with-multiple-services is a similar answer to your question

might need same pattern to think about how to do this

[2021-12-31 08:08] kleini commented on #1713
@jichenjc that sounds good. Will try that and post my experiences.

[2021-12-31 08:14] jichenjc commented on #1713
/reopen

thanks for the quick answer, I think that info is trying to provide you a pattern about services usage but it doesn't cover Ingress use case, I only want to check with you whether that LB (directly with service) is an acceptable way then think about how we can perform on ingress side...
so reopen this for additional discussion

[2022-01-04 02:23] jichenjc opened #1730 "[octavia-ingress-controller][OCCM] consider support of Gateway API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://gateway-api.sigs.k8s.io/ has been there for a while and it's supposed to be replace ingress object with CRDs defined, we should adopt this feature and consider enhance in various places in order to make CPO able to support it..

**What you expected to happen**:

**How to reproduce it**:

**Anything else we nee

[2022-01-06 01:00] jichenjc opened #1731 "[manila-csi-plugin] question on manila csi pluin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

2 questions I got from mail directly , @gman0 maybe you can be helpful to this ?

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2022-01-06 05:58] acumino opened #1732 "[magnum-auto-healer] Use Lease API for leader election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Support for configmaps lock for leaderelection is removed in K8s 1.24 with kubernetes/kubernetes#106852.
More details about the motivation to switch to leases - ref kubernetes/kubernetes#80289.

To preserve the backward compatibility, resource lock for migration purposes (configmapsleases) should be used when switchin

[2022-01-06 08:37] gman0 commented on #1731
Hi @jichenjc, the docs still seem to be a bit unclear about deployment and need to be improved...

For CephFS with Manila, users are expected to deploy manila-csi-plugin _and_ [ceph-csi-cephfs](https://github.com/ceph/ceph-csi).

This path then needs to be set to ceph-csi-cephfs Node Plugin socket.

No, all these packages are available from within ceph-csi-cephfs. When manila-csi-plugin receives a

[2022-01-06 08:44] jichenjc commented on #1731
@gman0 thanks :)

I replied to mail to him and share the link along with the slack info
so hopefully this can be helpful

will close if he agree or we can close in a few days

[2022-01-06 15:33] gman0 opened #1734 "[cinder-csi-plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2022-01-06 15:34] #1734 closed

[2022-01-06 16:18] gman0 opened #1735 "[cinder-csi-plugin] topology-aware provisioning broken when compute and volume AZs are distinct"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* If `availability` is not set in storage class parameters, cinder-csi will use a zone supplied by the `CreateVolumeRequest.accessibility_requirements` as a volume AZ, if present:
   https://github.com/kubernetes/cloud-provider-openstack/blob/d46aa87534042ad1e26b812d1ef1aa140317a25e/pkg/csi/cinder/controllerserver.go#L73

[2022-01-07 05:25] shafeeqes opened #1736 "Migrate `cloud-provider-openstack` to use Lease API"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently cloud-provider-openstack controller use `configmaps` as leader election resource lock

**What you expected to happen**:
kubernetes/kubernetes#80289 outlines several good reasons why to choose `leases` for leader election.

[2022-01-07 05:26] #1736 closed

[2022-01-07 06:08] jichenjc commented on #1735
for this option, actually we are having this check here and use
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L87

to set the param then

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L696

to set the AZ info

so @gman0 is this your read code found issue or get from test result? Thanks

[2022-01-07 09:44] gman0 commented on #1735
@jichenjc yes we have `ignore-volume-az=true` in our cloud config, and the creation fails with `Failed to run task cinder.scheduler.flows.create_volume.ScheduleCreateVolumeTask;volume:create: No valid backend was found. No weighed backends available`.

As far as I can tell, `ignoreVolumeAZ` is only used when forming the list of compute zones in which the volume shall be accessible:

https://github

[2022-01-07 20:51] ermingpei commented on #1731
Thank @jichenjc.  @gman0 has answered my above questions that are very helpful. Please close this ticket.

[2022-01-08 15:09] utianayuba opened #1738 "[magnum-auto-healer] Failed to Find Cinder v3 Service Endpoint"
/kind bug

**What happened**:
magum-auto-healer fail with error:
`F0108 14:11:41.995816       1 controller.go:121] Failed to get the cloud provider openstack: failed to find Cinder service endpoint in the region RegionOne: No suitable endpoint could be found in the service catalog.
`

**What you expected to happen**:
It run with cinderv3 / volumev3 endpoint
[code]

**How to reproduce it**:
Deploy

[2022-01-08 15:19] utianayuba commented on #1721
I guess Octavia worker fails to delete LB because Barbican no longer has the needed secret.

[2022-01-09 05:20] utianayuba commented on #1738
It running well after adding the cinderv2 service and endpoints.

[code]

[2022-01-09 21:06] lingxiankong commented on #1718
Hi @amshankaran thanks for providing the logs. From the log, I assume the domain name in the DNS queries is your OpenStack Keystone service endpoint. The k8s cloud controller manager has a component to periodically synchronize the node status (especially the node addresses) from OpenStack, the default interval is 5m, as you can see from the log, `--node-status-update-frequency="5m0s"`. To verify,

[2022-01-09 21:50] lingxiankong commented on #1713
@kleini Thanks for the feedback. Yes, this is a valid feature request. Just as @jichenjc mentioned, we have already implemented a similar feature for openstack-cloud-controller-manager, but things will be a little bit different in the ingress controller.

We definitely need someone's bandwidth to think about the design and bring it up to the team for discussion, given this is a big feature, ideall

[2022-01-09 23:53] #1732 closed

[2022-01-10 01:04] jichenjc commented on #1731
thanks for both of your help~

[2022-01-10 01:04] #1731 closed

[2022-01-10 01:21] jichenjc commented on #1721
if so which means if `return fmt.Errorf("failed to remove Barbican secrets: %v", err)` is in the log
then we should add a tolerance to check whether it's NOTFOUND issue then continue to delete action
the original issue report seems doesn't have that?  anyway , this might be an enhancement point

[2022-01-10 01:29] #1703 closed

[2022-01-10 06:43] amshankaran commented on #1718
Hi @lingxiankong, thanks for your clarification. just one more information required, I could see the first query itself getting resolved (response received), then why do we need the second query? Is there any parameter defines the number of queries (as 2)?

[2022-01-10 11:25] lingxiankong commented on #1718
What do you mean by `the second query`? Have you checked the debug log of openstack-cloud-controller-manager?

[2022-01-11 03:36] jichenjc commented on #1735
@gman0 you are right, I read the wrong code .. sorry about the confusion, will submit a PR for this

[2022-01-11 15:15] bbezak commented on #1738
It looks like a bug to me, as cinderv2 api is deprecated since Pike release

[2022-01-12 07:30] jichenjc commented on #763
/reopen

reopen for bug track

[2022-01-12 15:18] #1724 closed

[2022-01-13 06:15] amshankaran commented on #1718
[log_v_6.txt](https://github.com/kubernetes/cloud-provider-openstack/files/7860343/log_v_6.txt)
Hi @lingxiankong, As I mentioned in the  bug description, i could see 24 DNS queries. (My cluster has 6 nodes), 12 A queries 12 AAAA queries. So 2 A queries and 2 AAAA queries for one node. (check the packet capture image attached)
Please find the attached log. I could see two GET requests. One for the

[2022-01-13 10:46] #763 closed

[2022-01-19 07:45] lingxiankong commented on #1738
Yeah, we should use v3 instead of v2.

[2022-01-19 07:51] lingxiankong commented on #1718
Yes.

AFAIK, this is the default behavior of dual-protocol DNS queries.

[2022-01-19 10:55] MPV commented on #913
Would this help? https://github.com/kubernetes-csi/docs/issues/339

[2022-01-19 11:24] ramineni commented on #1661
/remove-lifecycle stale

[2022-01-19 11:24] ramineni commented on #1584
/remove-lifecycle stale

[2022-01-19 11:25] ramineni commented on #913
/remove-lifecycle stale

[2022-01-19 11:26] ramineni commented on #1695
closing this issue . @zhoudayongdennis feel free to reopen once you have additional info on this issue.

[2022-01-19 11:27] ramineni commented on #1695
/close

[2022-01-19 11:27] #1695 closed

[2022-01-19 12:10] gman0 commented on #1735
There already is: `csi.provisioner.topology`.

Disabling it solves our issues for the time being, so I'm closing this issue. Thanks for the efforts and sorry for the noise.

[2022-01-19 12:10] #1735 closed

[2022-01-20 13:36] zetaab opened #1749 "[occm] MonitorPort not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Updated from 1.22.0 to 1.23.0

**What you expected to happen**:

I expect that loadbalancer services should continue working as-is

It looks like it is working for start. However, after sometime I can see that for somereason the MonitorPort (`monitor_port`) is cleaned from the pool members.

Logs https://gist.github.com/

[2022-01-20 13:48] zetaab commented on #1749
when checking the logs we can see that also connection limit is modified from 100000 to 0. For me this sounds bigger pointer bug somewhere in this `openstack/loadbalancer.go`

[2022-01-20 14:04] zetaab commented on #1749
the bug is here https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/loadbalancer.go#L2668 svcConf is initialized and the values for that is not populated at all.

[2022-01-20 15:10] ramineni commented on #1367
/remove-lifecycle stale

[2022-01-20 17:43] mdbooth opened #1751 "[occm] Creating a fully populated LB when Octavia uses ovn-provider may leave pools in PENDING_CREATE"
/kind bug

**What happened**:
This is primary a placeholder and a link to https://bugzilla.redhat.com/show_bug.cgi?id=2042976

We think that OpenStack CCM may be affected by the same issue. While we will work to fix the problem in Octavia, it may be prudent to include a workaround in occm until it's widely deployed.

We haven't verified this at all, although it looks like occm would trigger the sa

[2022-01-20 22:45] lingxiankong opened #1752 "[occm] Disable openlab jobs and create new jobs in GCP infra"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The reason we keep the occm openlab jobs is to make sure we build new jobs to replace them, however, keeping those jobs doesn't help anything and only cause confusion for contributors.

Let's remove all those openlab jobs and using this issue to track the job migration task.

**What you expected to happen**:

**How to

[2022-01-21 01:01] rptaylor opened #1753 "[all] image is hosted on dockerhub"
/kind feature

**What happened**:
Deployment fails on large clusters because of dockerhub rate limiting.
https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/cinder-csi-plugin/values.yaml#L49
[code]

**What you expected to happen**:
The cinder-csi-plugin image should be hosted on a container registry that is suitable for production use, so users can deploy it without being blo

[2022-01-21 03:20] jichenjc commented on #1753
@lingxiankong @ramineni I don't remember clearly but seems we have this discussion somewhere before
I am also suffering from the pull limit from docker hub so guess this is not uncommon

seems other repo such as
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/Makefile#L73
can do this for openstack ,so maybe we can follow as well?

[2022-01-21 04:43] ramineni commented on #1753
@jichenjc +1 to host on k8s.gcr.io . we need to check the process, credentials required for the same.

[2022-01-21 04:52] ramineni commented on #1752
+1, we can start by removing zuul jobs in the repo, causing lot of failures on PR creating confusion for new contributors.

[2022-01-21 08:52] #1749 closed

[2022-01-21 09:45] lingxiankong commented on #1751
Thanks for reporting this issue @mdbooth !

OCCM supports amphora octavia driver by default and OVN driver support policy is "do the best but not guarantee", we'd rather the issue is fixed in Octavia side first.

[2022-01-21 12:09] #1722 closed

[2022-01-21 13:26] mdbooth commented on #1751
I think this might be slightly higher priority for us as I think OVN might be the default in OSP now? Somebody will correct me if I'm wrong.

We're certainly going to fix this in Octavia. My concern is OpenStack updates tend to roll out considerably slower than K8S updates, so we will inevitably have users trying to deploy with OCCM before the Octavia fix is widely deployed. If possible we'd also

[2022-01-24 05:18] zetaab opened #1763 "[occm] possibility to modify loadbalancer health monitor parameters in service level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently when creating Service with type: LoadBalancer, there is only way to define health monitor parameters in global cluster level.

**What you expected to happen**:

I except that we could define different health monitor values in service level. By that way we can reduce the needed time when failovering things.

[2022-01-24 14:15] gman0 opened #1764 "[manila-csi-plugin] expanding volume stuck with "Invalid input received: New size for extend must be greater than current size.""
/kind bug

**What happened**:

[code]

Logs:
[code]

**What you expected to happen**:

The request should have succeeded.

**How to reproduce it**:

Expand a volume to a value that's not aligned to GiB.

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version: manila-csi-plugin v1.22.0
- OpenStack version:
- Others:

[2022-01-25 08:31] MPV opened #1766 "[occm] kubernetes_build_info metric label git_version broken ("v0.0.0-master+$Format:%h$")"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Metrics from OCCM including broken `git_version` label:

`kubernetes_build_info{build_date="1970-01-01T00:00:00Z", compiler="gc", container="openstack-cloud-controller-manager", endpoint="http", git_commit="$Format:%H$", git_version="v0.0.0-master+$Format:%h$", go_version="go1.15", instance="10.224.2.228:10258", job="ope

[2022-01-25 10:30] ramineni commented on #1676
/remove-lifecycle stale

[2022-01-25 15:30] dulek commented on #1751
OCCM doesn't do autodetection of available providers, so by default it will use Amphora regardless. You need to configure OVN manually. That being said, OVN-provider is superior in terms resources conservation and time to bring the LB up.

The fix is upstream now: https://review.opendev.org/c/openstack/ovn-octavia-provider/+/826257/, but I agree with @mdbooth view here, it'll be a while before we'

[2022-01-26 01:54] jichenjc commented on #1766
@MPV did you try this on latest release?
https://github.com/kubernetes/cloud-provider-openstack/pull/950
might help you?

[2022-01-26 08:08] zetaab commented on #1766
@jichenjc I am running latest from release-1.23 and it is broken.

We have fixed this now temporary by modifying kubernetes-mixin rules to exclude openstack ccm

[2022-01-26 08:20] jichenjc commented on #1766
ok, I thought the problem was found and already fixed with that PR
@ramineni might be submitter IIRC

[2022-01-27 04:42] ramineni commented on #1766
@MPV @zetaab This is known issue and broken since 1.21 release. This is not provider specific , needs to be fixed from cloud-provider side.

https://github.com/kubernetes/cloud-provider-openstack/issues/1502
The same has been raised in cloudprovider repo as well, https://github.com/kubernetes/cloud-provider/issues/49

As this is duplicate issue , will be closing it

[2022-01-27 06:44] ramineni commented on #1764
@gman0 could you elaborate here , from the description I see that prev size is 3Gib , you are asking to extend to 4 Gib? From the yaml its not clear what is the prev size and what size you are requesting. Could you add that

[2022-01-27 09:45] gman0 commented on #1764
@ramineni

`status.capacity.storage` is `3Gi` (GiB), and the expand request was to `4G` (GB). The issue there is that manila-csi tried to round down, instead of up, and then continued with the Manila API call to resize the volume to 3GiB (i.e. 4GB was round down to 3GiB) -- this resulted in the errors I mentioned in the original post.

[2022-01-27 10:49] ramineni commented on #1764
Got it . I overlooked the Gib and GB. Thanks .

[2022-01-27 10:50] gman0 commented on #1764
I think overlooking the `i` in Gi is also what caused one of our users to trigger this bug. It's probably best to silently round up and save them the trouble.

[2022-01-28 05:57] ramineni commented on #1766
Duplicate of #1502
/close

[2022-01-28 05:57] #1766 closed

[2022-01-28 06:00] ramineni commented on #1752
@lingxiankong we already have tracking issue open here , https://github.com/kubernetes/cloud-provider-openstack/issues/1613 ,
as openlab jobs are removed now, we can close this issue?

[2022-01-28 22:40] #1764 closed

[2022-01-29 10:31] lingxiankong commented on #1752
Yes, thanks for finding that one. Let's close this and use #1613 to track the migration.

[2022-01-29 10:31] #1752 closed

[2022-01-30 10:02] lingxiankong commented on #1753
Agree we could upload the images to k8s.gcr.io, but hosting in dockerhub doesn't mean it is not suitable for production use case as the issue said.

This is totally wrong.

The common solution of container image in large scale cluster is either hosting the container images in private/enterprise registry service or providing dockerhub enterprise account to avoid the rate limit issue.

Personally, I

[2022-01-31 05:00] #1738 closed

[2022-01-31 12:41] ramineni commented on #1645
@Iyarwood is this issue fixed from openstack side in latest releases?

[2022-01-31 12:47] lyarwood commented on #1645
The Cinder change referenced above is just a bugfix resolving a race that users could hit if they incorrectly used Cinder's API to determine when a volume was attached or detached. There are likely others so this project should still move over to Nova's API to determine when an attach or detach has completed.

[2022-01-31 13:24] squ94wk opened #1770 "[occm] Allow restricting backend pools with a node label selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Feature**
Allow restricting backend pools with a node label selector.

I propose adding an annotation such as `loadbalancer.openstack.org/node-selector` that takes a label selector string `labelname=value` and when set, adds only nodes to the backend of the LB that match the label selector.

**Anything else we need to know?**:
Motivation:
Our LBaaS

[2022-01-31 21:52] rptaylor commented on #1753
@lingxiankong  Yes that would be great, could you do that please?

Anyone using a ~> medium size cluster (~ 100 nodes) will run into this issue with images hosted on Dockerhub. Projects have been moving away from hosting containers on Dockerhub since the rate limiting was introduced as there are free viable alternatives that do not block users from deploying moderate numbers of containers.

In oth

[2022-02-01 02:04] lingxiankong commented on #1770
This is what I am going to recommend, seems `externalTrafficPolicy: Local` could solve your issue perfectly.

Adding node label selectors doesn't sound like a good solution for this, as it may be confusing for the end user which nodes he should choose.

[2022-02-01 02:26] lingxiankong commented on #1753
The upstream procedure for feature request is we (the repo maintainer team) discuss and decide if a feature request is accepted or not, so we will close the issue based on the discussion. For this one, I can reopen that, and we will see if there will be some contributor pick up, and you are also welcome to offer the help.

Again, using Dockerhub is not a problem from the open source community poin

[2022-02-01 02:28] lingxiankong commented on #1753
For those who are interested:

https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md

[2022-02-01 02:29] lingxiankong commented on #1680
/remove-lifecycle stale

[2022-02-01 04:49] ramineni commented on #1753
@rptaylor As @lingxiankong mentioned, we are happy to support it if someone willing to take this up.

This issue is duplicate of https://github.com/kubernetes/cloud-provider-openstack/issues/1540
So closing the issue. we could track the progress as part of the above issue.

[2022-02-01 04:49] ramineni commented on #1753
/close

[2022-02-01 04:49] #1753 closed

[2022-02-01 04:50] ramineni commented on #1507
/remove-lifecycle stale

[2022-02-01 04:56] ramineni commented on #1540
adding the comment here for doc reference .
https://github.com/kubernetes/cloud-provider-openstack/issues/1753#issuecomment-1026420268

[2022-02-01 11:48] zetaab commented on #1770
`externalTrafficPolicy: Local` does not solve the issue 100%. The problem with Local policy is that all nodes is added still as lbaas members, but those will just be as non healthy.

We have seen similar issues with octavia after over 100 nodes in single cluster.

I think we should have somekind of way to limit loadbalancer to subset of nodes.

[2022-02-01 19:46] lianzxu opened #1778 "[cinder-csi-plugin] Can't attach multiattach volume to two different worker nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a storage class with openstack volume type "multiattach". I also created two pods on two different worker nodes by node-selector. The volume is meant to be mounted to both pods. But this volume couldn't attach to the second worker node. PV and PVC were created without problem.

Here are the errors when pods wer

[2022-02-01 21:58] rptaylor commented on #1753
Okay, thanks for your consideration @lingxiankong . I agree it is not a firm requirement, rather an attempt to improve useability and convenience for some users. Will follow up in the other issue.

[2022-02-02 06:18] #1763 closed

[2022-02-02 11:34] ramineni commented on #1778
@lianzxu could you share the o/p of  `openstack volume type list` and volume show of bfb9d95c-8233-4a53-8753-3aaf6dab798f

[2022-02-02 14:28] lianzxu commented on #1778
**openstack volume type list**
+--------------------------------------+-------------+-----------+
| ID                                   | Name        | Is Public |
+--------------------------------------+-------------+-----------+
| 64e1b605-1d59-4fa7-afbb-3cb9baf0d0c6 | multiattach | True      |
+--------------------------------------+-------------+-----------+

 **openstack volume show bfb9d95c

[2022-02-03 17:04] squ94wk commented on #1770
Just to clarify, the externalTrafficPolicy thing is not the main focus for us.
We just need to limit the number of members in the pool.
How this happens doesn't actually matter to us.

[2022-02-06 06:22] lingxiankong commented on #1770
That's a good point @zetaab

[2022-02-06 06:34] lingxiankong commented on #1770
Yeah, I just realized using `externalTrafficPolicy: Local` doesn't solve the issue, as @zetaab said.

We need an approach that is friendly and easy to use for the users. If we want to limit the number of backend members in the pool, we need to expose some information to the end users, something could split nodes into different groups. Not sure if the node selector is the way to go, but let's get m

[2022-02-07 04:26] ramineni commented on #1686
/remove-lifecycle stale

[2022-02-07 04:26] ramineni commented on #1688
/remove-lifecycle stale

[2022-02-07 04:26] ramineni commented on #1687
/remove-lifecycle stale

[2022-02-07 06:15] jichenjc commented on #1751
I knew a lot of openstack vendors/users do less upgrade due to the private patches and codes
so I think it's likely the changes to latest openstack won't help them a lot

+1 to this if OCCM can help fix or at least mitigate the problem

[2022-02-07 06:40] jichenjc commented on #1778
@lianzxu I didn't see your storageclass definition
can you confirm you followed https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/features.md#multi-attach-volumes ?

[2022-02-07 07:00] jichenjc commented on #1778
@lianzxu what's the version of openstack ? `OpenStack version: openstack 3.18.0` seems weird to me
the reason for this ask is to search `volume isn't in available state so we can not attach it` comes from

as you mentioned, run `openstack --os-compute-api-version 2.60 server add volume b3a48ced-41f9-4779-af81-443c0f51693e bfb9d95c-8233-4a53-8753-3aaf6dab798f` again can attach the volume makes me g

[2022-02-07 07:02] ramineni commented on #1778
@jichenjc  +1 . @lianzxu the error seems to be come from openstack itself

[2022-02-07 10:56] jacksgt opened #1779 "[occm] Document which information is exposed by "cloud-node" controller"
/kind feature

The Openstack Cloud Controller Manager (occm) allows enabling an integration with the Openstack VMs through the "cloud-node" controller.
Unfortunately, it is not documented anywhere which information exactly will be exposed by the controller and where it will be exposed (i.e. in which annotations of the `node` resource).
I think it would be really helpful to have this documentation.

[2022-02-07 20:49] lianzxu commented on #1778
@jichenjc

I am sorry Openstack version is 19.0.3.

I am new to Openstack. I searched online about the cinder logs and nova logs. On storage server at /var/log/cinder I could find cinder-volume.log but somehow not cinder-api.log. Do you have any idea where I should look? cinder-volume.log does not provide much information for debugging.

Thank you for your help.

[2022-02-08 01:44] jichenjc commented on #1778
I assume you are not using all-in-one (devstack) ,instead, some openstack distro? if so
usually cinder-api is at controller node, and you should be able to find at /var/log/cinder/*.log
@lianzxu

[2022-02-08 01:49] jichenjc commented on #1779
@jacksgt not sure I am follow this , just for education purpose, could you please point some where of the code or give some example on the plan / requirement here? thanks

[2022-02-08 11:38] jacksgt commented on #1779
Hello @jichenjc , thanks for your question.
I would like to have some documentation what the "cloud-node" controller of "openstack-cloud-controller-manager" does.
There is [extensive documentation](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md) how to use the "service" controller, but it is not

[2022-02-09 03:44] jichenjc commented on #1779
ok, it depends on your purpose of generic cloud provider or OCCM

https://github.com/kubernetes/cloud-provider/blob/master/app/controllermanager.go#L393
is the place where cloud-node is defined so I think if you want to update generic things,
that repo might be better places

if it's for OCCM only, we might only want to focus on OCCM unique updates of annotation and fields
the more doc the health

[2022-02-09 10:22] ramineni commented on #1683
/remove-lifecycle stale

[2022-02-09 13:14] ucs69 commented on #1507
Hi,
In our company our clusters K8S is hosted to OpenStack Plateform.
So we use cloud provider openstack and csi cinder.
Our storageclass use the "kubernetes.io/cinder" csi.
During long time we have suffer when the volume stay with bad state (detaching, deleting, creating, reserved for example).
But since we changed max_pool_size setting to 50 instead of 5 in cinder.conf we have significantly redu

[2022-02-10 08:05] JPRbrs opened #1786 "[Manila-CSI-plugin] Add extra labels to k8s resources in helm chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
I reckon that having the possibility to add optoinal extra labels to the K8s resources would add flexibility to the Helm chart.

**What you expected to happen**:
It is possible to add arbitrary labels to the k8s resources in an optional way.

**How to reproduce it**:
N/A

**Anything else we need to know?**:
I've alread

[2022-02-11 03:15] jichenjc commented on #1778
@lianzxu seems cinder-api only return 200 which doesn't help (all success)

as mentioned in previous note I want to find `volume isn't in available state so we can not attach it` comes from , and I am thinking it might comes from the nova log which should give some info, I can't find this error in `19.0.0` version by searching `so we can` but no lucky not find it

so are you able to find this erro

[2022-02-12 09:36] jfpucheu opened #1790 "[occm] node not labeled"
/kind bug

**What happened**:

Before with cloud provider openstack in kubelet my nodes where labeled with region and zone like this:

[code]

Migrated to occm I only got label:

` topology.cinder.csi.openstack.org/zone=eu-west-0a`

metadatas are not empty:

[code]

**What you expected to happen**:

have node labeled with topology from openstack apis like:

[code]

**How to reproduce it**:

deploy

[2022-02-14 01:12] jichenjc commented on #1790
topology.cinder.csi.openstack.org/zone=eu-west-0a
is provided at Cinder CSI , so deploy OCCM should not help
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/features.md#topology

I assume you also want to have topology.kubernetes.io/region=eu-west-0 label
it should comes from https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/

[2022-02-14 10:33] jfpucheu commented on #1790
Hello,

I have the region setup:

[code]

No logs with --v=6 :
kubectl logs openstack-cloud-controller-manager-tm6vg -n kube-system | grep "Current zone"
(nothing)

it seems the function is never called.

[2022-02-15 05:50] ramineni commented on #1633
/close

already fixed in kops

[2022-02-15 05:50] #1633 closed

[2022-02-15 05:51] ramineni commented on #1054
/remove-lifecycle stale

[2022-02-15 09:06] gman0 commented on #1635
I think we can close this? Most of the e2e test suites have been integrated to manila-csi, with the exception of FsGroupChangePolicyTestSuite that I still need to get around to look at. See notes here https://github.com/kubernetes/cloud-provider-openstack/pull/1762#issuecomment-1019997426.

[2022-02-15 09:28] #1786 closed

[2022-02-15 09:57] ramineni commented on #1635
@gman0 +1

[2022-02-15 09:57] ramineni commented on #1635
/close

[2022-02-15 09:58] #1635 closed

[2022-02-16 03:39] jichenjc commented on #1790
I have this in my dev env

[code]

then I unlabeled
[code]

and after a while I can see the label added again
[code]

at I find this
[code]

can you check whether you have this log in your env? thanks

[2022-02-16 07:44] jfpucheu commented on #1790
Hello,

still not have any log about that.

is it possible that i don't get metadata because i don't have external load balancer supported ?
[code]
Thanks
jeff

[2022-02-16 10:14] ramineni commented on #1493
/remove-lifecycle stale

[2022-02-17 04:08] jichenjc commented on #1790
the above error should not impact as it only tells no LB service defined and you are not able to create LB service ,but it should not impact OCCM running

https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L270
is the code that set labels from https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L53

You said you are

[2022-02-17 06:17] FlorinPeter opened #1795 "[occm] the load balancer listener pool is inconsistent updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We observed on a k8s service with 4 ports that a load balancer listener pool were updated on every reconcile loop.

**What you expected to happen**:
That the pool is not updated if the current member are unchanged

**How to reproduce it**:
Create a service with 4 exposed node ports

**Anything else we need to know?**:
PR

[2022-02-17 10:48] lingxiankong commented on #1790
Restart the openstack-cloud-controller-manager with `--v=6`, and search the log starting with `Initializing node` and `Successfully initialized node`, please paste all the logs in between.

[2022-02-17 11:18] lingxiankong commented on #1779
The node controller is not specific to openstack-cloud-controller-manager, it's a common thing for all the cloud controllers.

/close

[2022-02-17 11:19] #1779 closed

[2022-02-17 15:20] Maellooou commented on #1790
Hello,

After futher investigation, I found the issue is link to this code on cloud-provider/node_controller.go (https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go -> l. 384)

	cloudTaint := getCloudTaint(curNode.Spec.Taints)
	if cloudTaint == nil {
                 klog.Info("LOG MORE - err syncNode cloudTaint")
		// Node object received from event had th

[2022-02-17 15:46] Maellooou commented on #1790
To complete my previous comment, once the labels have been added, if I delete them, there are automaticaly added like @jichenjc mentioned before.

[2022-02-18 03:29] jichenjc commented on #1790
The code you pointed out actually use
https://github.com/kubernetes/cloud-provider/blob/0429a85a45b2424c1508ea289fea6d1e8f15d30f/api/well_known_taints.go#L24

which means if the node is not initialized , then it will be init
since the node is actually inited already (that's why the node taint is None in my env)

$ kubectl get nodes -A
.....
Taints:             <none>

so I doubt whether it's the r

[2022-02-18 08:36] Maellooou commented on #1790
To be clear, it's mean you can't deploy the OCCM on the cluster already existing ? My nodes are already created. This is why the init is not done...

[2022-02-18 16:50] #1493 closed

[2022-02-22 05:31] ramineni commented on #1465
/remove-lifecycle stale

[2022-02-22 05:31] ramineni commented on #1408
/remove-lifecycle stale

[2022-02-22 05:31] ramineni commented on #1397
/remove-lifecycle stale

[2022-02-22 05:31] ramineni commented on #1301
/remove-lifecycle stale

[2022-02-22 05:32] ramineni commented on #1020
/remove-lifecycle stale

[2022-02-23 07:55] ramineni commented on #1702
/remove-lifecycle stale

[2022-02-23 07:55] ramineni commented on #1707
/remove-lifecycle stale

[2022-02-24 03:50] jichenjc opened #1798 "[cinder-csi-plugin] should check snapshot/volume id before creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

only allow one param input but
[code]

we allow 2 here and report internal error
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L146

which should be check first and report a conflict instead

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need t

[2022-02-24 03:50] jichenjc commented on #1798
/assign

[2022-02-24 03:56] jichenjc commented on #1798
close before more test.. will reopen later

[2022-02-24 03:56] #1798 closed

[2022-02-24 03:59] jichenjc opened #1799 "[cinder-csi-plugin] mount option might be different for multiple mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/container-storage-interface/spec/blob/v1.5.0/spec.md#nodepublishvolume
mentioned should honor different option for mount e.g ro/rw in different mount actions

but we don't compare that
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L99
only check whether it's mount

[2022-02-24 10:13] jacksgt commented on #1722
Hello,

I'm still seeing this error with the release-1.23 version (`0807b16`) and the latest Helm chart from master (`d0f3cad`).

`kubectl create svc loadbalancer mv-lb` results in:

[code]

The daemonset is using the service account `openstack-cloud-controller-manager`:

[code]

which has the following ClusterRole / ClusterRoleBinding:

[code]

In particular the ClusterRole has this part, so it s

[2022-02-26 22:56] lingxiankong commented on #1722
@jacksgt Which namespace is the openstack-cloud-controller-manager deployed?

[2022-02-27 07:31] jacksgt commented on #1722
Hi, it's deployed in the `openshift-cern-cloud-controller`. OCCM V1.20 was also deployed in the same namespace.

On 26 February 2022 23:56:40 CET, Lingxian Kong ***@***.***> wrote:
***@***.*** Which namespace is the openstack-cloud-controller-manager deployed?

[2022-02-27 09:49] lingxiankong commented on #1722
Since the `--use-service-account-credentials=true` is specified, cloud controller manager will manage all the controllers' service account in kube-system namespace.

[2022-02-28 08:19] jacksgt commented on #1722
Hi Lingxian,
I don't understand what you are referring to. Could you elaborate?

To my understanding, `--use-service-account-credentials=true` means that OCCM will use the credentials of the pod it is running in - in my case this is the `openstack-cloud-controller-manager` service account in the `openshift-cern-cloud-controller` namespace.
This has been working like this in v1.20 of OCCM.

Why wou

[2022-02-28 09:07] lingxiankong commented on #1722
I remember this change was added together with the shared load balancer feature support. However, keep in mind that setting the `--use-service-account-credentials` to true runs each control loop within the cloud controller manager using a separate service account credential. You didn't see the issue before because OCCM was not updating resources in its loop.

You can try to set `--use-service-acco

[2022-02-28 13:26] pyama86 opened #1801 "can't update label after live migration."
**Is this a BUG REPORT**:

/kind bug

**What happened**:
I'm not sure, I guess that topology label isn't updated after livemigration instance.

Because, I move instance from ourzone-1(AZ) to ourzone-2(AZ) and I happend bellow logs.

[code]
I solved it by removing the label.

[code]

Is this the expected behavior?

**What you expected to happen**:
I expected the label to be updated automatically af

[2022-02-28 16:25] gman0 commented on #1801
The labels will not be overriden if they are already set -- that's why you see [kubelet](https://github.com/kubernetes/kubernetes/blob/bf7b9119f03b83e373907dea09348d6878f30e7f/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L325-L347) complaining. So *something* must remove them. I'm not sure whose responsibility would this be though. Admin's doing the migration? OCCM's?

[2022-03-01 02:32] pyama86 commented on #1801
Yes, Again, my question is exists label can't update after live migration and csi cinder provider is'nt considering that?
Or is it the job of kubelet to update the label?

[2022-03-01 08:43] jichenjc commented on #1801
seems live migrate from one zone to another is not recommended
I am not sure OCCM/CSI openstack need support it or not, but worth discussion here

https://docs.openstack.org/nova/latest/admin/availability-zones.html
[code]

[2022-03-01 08:45] gman0 commented on #1801
My last comment was intended as a question to others in this repo, not to you @pyama86 specifically -- so just thinking out loud :) However I'm not sure this should be cinder-csi's job, because (1) a CSI driver doesn't know about any node labels or otherwise, (2) there are other, non cinder-csi labels that would need updating in addition to `topology.cinder.csi.openstack.org`.

@lingxiankong @rami

[2022-03-01 08:47] jichenjc commented on #1801
check https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L53
and https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L271

[2022-03-01 08:50] gman0 commented on #1801
@jichenjc excellent catches, thanks!

[2022-03-02 06:30] ramineni commented on #1562
/remove-lifecycle stale

[2022-03-02 08:54] ramineni commented on #1677
/remove-lifecycle stale

[2022-03-03 06:44] pyama86 commented on #1801
If OCCM has a policy of updating labels, I'd like to write a patch, but how about it?

[2022-03-03 07:07] jichenjc commented on #1801
it's cloud provider has such support (not sure whether they consider the live migration case )
but I think technically we should update it after live migration (if cloud allow so), thus agree we can consider a PR

[2022-03-03 10:51] hedinasr commented on #1220
resolve by #1699 ?

[2022-03-04 17:25] poussa opened #1807 "[occm][lb] Incorrect cluster name"
/kind bug

**What happened**:

https://github.com/kubernetes/cloud-provider/blob/7f90ee552e3b169ccbdd131cce3ce3574f0afc8b/cloud.go#L160

The above spec says that the cluster name should come from the `kube-control-manager`

I have a cluster (via CAPO) which has `kube-control-manager` arg:

`      --cluster-name=istio-2`

However, when occm creates a LB, I see in the logs:

[code]
That is, the clus

[2022-03-06 15:05] mkjpryor opened #1808 "verify property in clouds.yaml not respected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a setup where I am using `use-clouds = true` with a user-specified `clouds.yaml` file that sometimes contains `verify: false`. Even when `verify: false` is present, OCCM still attempts to verify the certificate (and usually fails). I have not tested it, but I expect the same happens with CSI Cinder and others.

**

[2022-03-06 15:08] mkjpryor commented on #1808
Essentially, when using `use-clouds = true` I think the logic should be:

[code]

[2022-03-07 06:15] jichenjc commented on #1807
https://github.com/kubernetes/cloud-provider/blob/master/app/core.go#L88

this comes from `completedConfig.ComponentConfig.KubeCloudShared.ClusterName`

I assume you need external cloud providder (kube-cloud-manager) instead of kube-config-manager to utilize the clusterName param to make OCCM honor that

[2022-03-07 06:22] jichenjc commented on #1808
this is our current logic, so TLSInsecure is the truth
`config.InsecureSkipVerify = cfg.TLSInsecure == "true"`

you are proposing to add verify = false here,
I personally never used UseClouds before, so I think it will read from somewhere (cfg.Global.CloudsFile?)
and honor its configuration

but I think your logic seems good to me, can you help provide a PR ?

[2022-03-07 08:24] pyama86 commented on #1801
Based on the your information I received, I understood the implementation and it seemed that it should be processed by kubelet, so I create an issue in kubernetes.
thanks @jichenjc @gman0

[2022-03-07 08:24] #1801 closed

[2022-03-07 09:09] poussa commented on #1807
@jichenjc thanks for the answer. However, it is not clear to me how to do what you suggested.

I deployed the occm as described [here](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md#deploy-a-kubernetes-cluster-with-openstack-cloud-controller-manager-using-kubeadm).

Why that is not enough? What

[2022-03-07 09:19] jichenjc commented on #1807
kube-control-manager is different to kube-cloud-manager (OCCM)
e.g this is kube-controller manager and you are using OCCM and you mentioned param is on kube-control-manager
[code]

[code]

so My *guess* is whether the param should be added to OCCM

[2022-03-07 09:49] poussa commented on #1807
okay, I now understand what you mean by kube-control-manager and kube-cloud-manager (occm)

I am using cluster api for openstack (capo) and follow the instructions [here](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/docs/book/src/topics/external-cloud-provider.md).

The relevant pods I get are:

[code]
I would imagine that the `kube-controller-manager-istio-0-control

[2022-03-08 01:43] jichenjc commented on #1807
please check this

[code]

I co-wrote the doc you mentioned in CAPI , so it's just an example

my guess is you need download this file , and update the param with above param
then apply the file again
[code]

[2022-03-08 03:30] ramineni commented on #1571
/remove-lifecycle stale

[2022-03-08 04:56] ramineni commented on #1444
Inline ephemeral volumes feature is deprecated from 1.24. Please use generic ephemeral volumes instead

[2022-03-08 04:56] ramineni commented on #1444
/close

[2022-03-08 04:57] #1444 closed

[2022-03-08 06:55] poussa commented on #1807
I think we are getting closer to the solution/problem. As I said, this used to for for me in 1.20 version. However, in 1.20 I have been using a deployment file, which I did not created myself, containing the following:

[code]

As you can see the cluster name is set automatically. However, I am not able to find that version in this repo. Do you know why you don't set the cluster name like the abov

[2022-03-08 07:57] jichenjc commented on #1807
[code]

I didn't see this is set as you pointed out in OCCM...

and

https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.20.0/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml

doesn't contain the cluster-name you mentioned either, so I don't know why it's not there

anyway, this can be an enhancement we want to make

/assign

[2022-03-08 09:11] poussa commented on #1807
Yes, I agree. This would be a good enhancement.

I was not able to find it in occm repo either so I don't know where I got it 1.5 yrs ago...

[2022-03-08 20:37] gman0 commented on #1714
/remove-lifecycle stale

[2022-03-10 11:48] FlorinPeter commented on #1795
closed as the issue was on OpenStack API side

[2022-03-12 05:33] lingxiankong commented on #1220
Yes, should be. @dr4Ke I am closing this issue, please re-open if you think it's still valid.

[2022-03-12 05:33] #1220 closed

[2022-03-12 06:40] lingxiankong commented on #1807
`--cluster-name` is actually inherited from kube-controller-manager and the code base of cloud-controller-manager is coming from kube-controller-manager in the beginning. However, keep in mind that the cloud-controller-manager and kube-controller-manager are two separate components.

[2022-03-14 03:27] jichenjc commented on #1807
yes, understood, so update cloud-controller-manager is the reasonable way... thanks

[2022-03-15 05:20] ramineni commented on #1392
/remove-lifecycle stale

[2022-03-15 05:22] #1807 closed

[2022-03-15 10:36] ramineni commented on #1712
/remove-lifecycle stale

[2022-03-16 05:04] ramineni commented on #1637
/remove-lifecycle stale

[2022-03-16 10:07] jacksgt commented on #1770
When `externalTrafficPolicy: Local` is set, why are all nodes in the cluster (still) added as pool members?
I would expect that only "active" members (i.e. nodes running pods for the service) are added to the pool.

[2022-03-17 07:39] eumel8 opened #1812 "[cinder-csi-plugin] volume snapshots are not created with force parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Since 1.22 version I'm not able to create volume snapshots due the error 400 message from OpenStack API:

` "Invalid volume: Volume 5cab8240-20cb-4928-a8ff-7be0dfe445cd status must be available, but current status is: in-use."`

The snapshot will *not* created

**What you expected to happen**:

Creating volume snapshot w

[2022-03-17 10:11] jichenjc commented on #1812
yes, seems it's a bug(regression)

we are using this at 1.21
[code]

but moved to this we lost the handling of 'force-create'

[code]

[2022-03-17 10:11] jichenjc commented on #1812
/assign

[2022-03-22 20:46] MPV commented on #1502
Would it be worth peeking at how they did it for the AWS provider — would it work for us here too?

https://github.com/kubernetes/cloud-provider-aws/pull/317

[2022-03-23 02:45] jichenjc commented on #1502
looks like the problem can be solved by using there example

the only question I am having is following
[code]

so `git describe` looks like search for latest tag it can reach, we are using 1.17 now
so I guess everytime we do a release is create a release branch then tag on that branch
thus master branch can reach 1.17 ?
if we accept this, then I can submit a PR for this @ramineni @lingxiankong @M

[2022-03-23 20:53] lianzxu commented on #1778
@ramineni

I couldn't find any useful info on nova either. We were looking from Openstack end. Maybe the ticket can be closed. Thanks.

[2022-03-23 23:48] jichenjc commented on #1778
/close

please reopen if you have further findings.. thanks

[2022-03-23 23:48] #1778 closed

[2022-03-24 02:37] jichenjc opened #1816 "Gate failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]

in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/cloud-provider-openstack/1814/pull-cloud-provider-openstack-check/1506820645856481280/build-log.txt

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or othe

[2022-03-24 20:06] vowywowy opened #1818 "[occm] Node ExternalIP not being added"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Attempting to switch from in-tree cloud provider to occm. The nodes don't have external IP's as revealed with `kubectl get nodes -o wide`:
[code]

The name of the single floating network is specified under `public-network-name` in the `cloud.conf` and when logging verbosity is increase to `--v=4`, occm is detecting the flo

[2022-03-25 03:19] jichenjc opened #1819 "Address CVE-2022-21698"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

steal from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1181
see https://github.com/prometheus/client_golang/security/advisories/GHSA-cg3q-j54f-5p7p for the reason

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controll

[2022-03-25 03:43] jichenjc commented on #1818
do you have floating ip set and which version you are using ?

[code]

[2022-03-25 05:15] #1816 closed

[2022-03-25 13:11] vowywowy commented on #1818
I was on `1.23`, but I just switched to `latest` and there is no change.

Yes, the nodes have floating IPs:
[code]
And in horizon:
![image](https://user-images.githubusercontent.com/14022915/160126090-606cf653-41e5-463b-8b0e-9bdc6c13863e.png)

[2022-03-28 03:36] jichenjc commented on #1818
um... I think there might be some pre-condition not satisfied

can you enable v==5 first then check whether there are any suspected logs might worth a look?

https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L323
is the code that set the node address, there are multiple checks and I guess some might break the logic in updating the ip...

[2022-03-28 06:26] jichenjc commented on #1818
@vowywowy so, can you help paste full log of OCCM with --v = 4 so it might contains more info? Thanks

[2022-03-28 06:35] ramineni commented on #1464
/remove-lifecycle stale

[2022-03-31 13:46] vowywowy commented on #1818
Thanks for these messages! They ended up sending me down a rabbit hole to the solution.
As you can probably guess based on the naming, everything here is terraform/rancher/rke. When I switched the cluster resource to stop using the in-tree cloud provider, somehow kubelet ended up with the flag `--cloud-provider=` which is obviously not correct.

For anyone in the same position as me, **instead** o

[2022-03-31 13:46] #1818 closed

[2022-04-01 00:39] jichenjc commented on #1818
ok, glad it's solved :)  and yes, seems it's user input instead of OCCM

[2022-04-01 08:40] #1661 closed

[2022-04-01 08:46] #1819 closed

[2022-04-03 10:24] lingxiankong commented on #1502
Yeah, we should change this.

I think this method could be good workaround for now.

[2022-04-03 10:39] lingxiankong commented on #1770
No, all nodes are added as members but the health check would rule "bad" members out.

[2022-04-03 10:51] jacksgt commented on #1770
The question is *why* though.

On 3 April 2022 12:39:26 CEST, Lingxian Kong ***@***.***> wrote:

[2022-04-03 11:58] #1812 closed

[2022-04-03 21:16] lingxiankong commented on #1770
You are correct, adding all the nodes as members is not the best solution, especially for the cloud provider which doesn't support the container native networking feature. However, this is the default implementation in Kubernetes, Kubernetes provides the fundamental mechanism to report the health status of the Node and route the traffic to the local Pod.

Using annotations/labels could decrease th

[2022-04-04 23:02] lingxiankong commented on #1718
Close this issue as per my reply.

/close

[2022-04-04 23:02] #1718 closed

[2022-04-04 23:05] #1502 closed

[2022-04-11 23:07] ReggieCarey commented on #610
Several years later....
I'm seeing the same inability to assign a floating IP address.

[code]

I'm unsure how to resolve.  I've followed the same set of instructions, adding in "provider: amphora" to get past the same initial problem.

[2022-04-11 23:22] ReggieCarey commented on #610
Manually assigning an floating IP to the loadbalancer in the horizon dashboard, does not result in that IP address being configured for the ingress
[code]

Even though I can see the attached floating ip in the horizon dashboard
![Screen Shot 2022-04-11 at 19 14 59](https://user-images.githubusercontent.com/10270182/162848306-d69be26e-77fa-4d7f-bdd2-2bb046c12750.png)

I should point out that when I

[2022-04-12 00:42] lingxiankong commented on #610
Please check the config `floating-network-id`, and if there are still available IPs in that network.

[2022-04-12 11:11] #1795 closed

[2022-04-12 18:38] ReggieCarey commented on #610
Thanks for the pointer. In the end the combination that works is to set subnet_id to the internal subnet and the floating_network_id to the external network.

This allows the LB to be created in the internal network but allocate FIP on the external network.

Also it appears that changes to the configmap are not picked up until the octavia-ingress-controller is reloaded/restarted. It might me a nic

[2022-04-13 08:59] mdbooth opened #1825 "[all] Release image is built from /home/lingxian"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I noticed the following in a (uninteresting) stack trace from `docker.io/k8scloudprovider/openstack-cloud-controller-manager:v1.23.0`:

[code]

This release image seems to have been built from @lingxiankong's local environment. If so, this does not follow good practise. It exposes the release maintainer to the risk of acc

[2022-04-13 12:59] mdbooth commented on #1613
I think the following issues could all fall under this topic:

* https://github.com/kubernetes/cloud-provider-openstack/issues/1540
* https://github.com/kubernetes/cloud-provider-openstack/issues/1825
* https://github.com/kubernetes/cloud-provider-openstack/issues/1707
* https://github.com/kubernetes/cloud-provider-openstack/issues/1702

I have come here because I have hit 2 problems developing CC

[2022-04-13 16:14] madeinindiadot opened #1827 "[cinder-csi-plugin, occm] Unable to multiattach PV across pods on different nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug - Unable to multiattach PV across pods on different nodes

**What happened**:
Trying to attach PV to multiple pods in a kubernetes cluster on multiple worker nodes, we are using openstack for worker node VMs
storage class is set to "multiattach=<is> True"
But when we are using a deployment to attach across multiple worker nodes, it fails wit

[2022-04-14 00:12] ReggieCarey opened #1830 "octavia-ingress-controller / occm : Different Octavia behavior from Ingress vs svctype LoadBalancer"
/kind bug

**What happened**:

When I deploy an ingress object into the cluster, I get a loadbalancer in Openstack that has an attached Floating ip and security Group.  When I change the type of a service from NodePort to LoadBalancer, a load balancer is created with an attached Floating ip but no security group is created.

Is this expected behavoir?

I'm trying to deploy kubeflow but it uses Ist

[2022-04-14 00:24] ReggieCarey commented on #1713
There is some confusion.  In the documentation it is written:

"The octavia-ingress-controller could solve all the above problems in the OpenStack environment by creating a single load balancer for multiple [NodePort](https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport) type services in an Ingress."

This says to me that a single LB will be created and used by multiple b

[2022-04-15 01:48] jichenjc commented on #1825
this is valid bug, but seems nothing can be done as it's already released
so guess we can start from 1.24 on this?

and seems need a release process doc which I didn't find (yet)

[2022-04-15 01:55] jichenjc commented on #1613
this has been discussed some time ago if I remember correctly, and I don't remember the exact reason @lingxiankong mentioned seems due to time and contribution time etc,

[2022-04-15 02:02] jichenjc commented on #1827
have you tried through this?
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/features.md#multi-attach-volumes

[2022-04-15 02:13] jichenjc commented on #1830
not fully understand the question , are you saying the sec group is not auto created so the network has connection issue?

do you happen to check `manage-security-groups` in
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/octavia-ingress-controller/using-octavia-ingress-controller.md ?

[2022-04-15 02:38] ReggieCarey commented on #1830
Yes that is correct. The security group in openstack does not get created with LoadBalancer typed Services but does get created with ingresses

Sent from my iPhone

[2022-04-15 02:56] jichenjc commented on #1830
@lingxiankong I think it's a gap between lbaas and octavia?

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/loadbalancer.go#L3239
is for lbaas and it created the sec group

but if it's octavia then we go
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/loadbalancer.go#L1951

and I didn't see sec gropu related functions
https://githu

[2022-04-15 03:00] jichenjc opened #1833 "remove lbaas code ? ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

OCCM we claimed lbaas is deprecated since this commit `commit 994df0e7069c54a169e7fbf71c72898ca3cae696`
it's about 2 years ago and should we consider remove all those code for neutron lbaas and
also make octavia default (so no use-octavia flag)

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to

[2022-04-15 03:01] jichenjc commented on #1833
@lingxiankong comments?

[2022-04-15 11:12] lingxiankong commented on #1713
Please read the sentence again and do some testing, the octavia-ingress-controller does appear to be what is said here.

[2022-04-15 17:04] ReggieCarey commented on #1830
Just a comment on how **awesome** this open source group is.  You guys are so responsive!

@jichenjc to your question concerning manage-security-groups.  Yes I have that parameter set to true in my configuration:

<img width="425" alt="image" src="https://user-images.githubusercontent.com/10270182/163596762-bab8c217-8207-426b-961a-ea5dc1cb4465.png">

I have yet to include Go to my list of language

[2022-04-16 09:23] jichenjc commented on #1830
@ReggieCarey yes, that's similar question that I am asking @lingxiankong 's opinion
likely the function is missing due to we first support neutron lbaas then octavia
and sec group part is not included ,if so we can treat this as bug and add such support

[2022-04-17 09:02] #1701 closed

[2022-04-18 00:05] jichenjc commented on #1613
looks like k8s-staging-cloud-provider-ibm and k8s-staging-cloud-provider-gcp are hosting images in the staging repo
maybe we can follow that to give a try (but not use it until we are confident enough)

[2022-04-18 00:22] aanoaa opened #1834 "[cinder-csi-plugin] typo in Chart template secret.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

secret.namespace is empty

**What you expected to happen**:

there is a typo in `templates/secret.yaml`.

      namespace: {{ .Release.NameSpace }} # it should be Namespace not Name'S'pace

so this chart represent empty secret.namespace after templating.

**How to reproduce it**:

    $ helm template cinder-csi cpo/opens

[2022-04-18 00:23] aanoaa commented on #1834
[https://github.com/kubernetes/cloud-provider-openstack/issues/1834]

리포팅 했습니다.

[2022-04-18 03:52] #1834 closed

[2022-04-18 05:21] aanoaa opened #1837 "[cinder-csi-plugin] namespaced resource template should has metadata.namespace explicitly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

daemonsets and deployments are represented without metadata.namespace.

**What you expected to happen**:

-   daemonsets
-   deployments

are namespaced resource.

so `nodeplugin-daemonset` and `controllerplugin-deployment` resource should represent metadata.namespace if given.

**How to reproduce it**:

    $ helm templ

[2022-04-18 06:15] jichenjc commented on #1613
https://github.com/kubernetes/k8s.io/pull/3638

[2022-04-19 05:57] kleini commented on #1713
I would like to do so. But everything visible from documentation is a loadbalancer for a service. And if you have multiple services in your kubernetes, you will have a lot of loadbalancers.

[2022-04-20 06:15] jichenjc opened #1839 "[All] update node-role.kubernetes.io/master=>node-role.kubernetes.io/control-plane"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/kubernetes/kubeadm/issues/2200
https://github.com/kubernetes-sigs/cluster-api/pull/5919
has further info

we have following occurrance need to be updated

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(

[2022-04-21 03:33] polingsky opened #1841 "[cinder-csi-plugin] nodeaffinity always show topology.cinder.csi.openstack.org/zone in [nova]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I defined a storageclass

[code]

Then I defined pvc

[code]
Then I use kubectl describe pv { myvol-2-xxxxx}

I found the
[code]
topology.cinder.csi.openstack.org/zone in [nova]  is still displayed in nova

**What you expected to happen**:

I expecyted it will show topology.cinder.csi.openstack.org/zone in [NOVA_ZONE]

My node label

[2022-04-26 15:22] arthurzenika opened #1844 "[octavia-ingress-controller] Failing to create load balancer using Kubernetes and Gitlab's AutoDevops"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We're trying to use [auto-deploy-image helm chart](https://gitlab.com/gitlab-org/cluster-integration/auto-deploy-image/) with an Octavia ingress on OVHCloud with https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/octavia-ingress-controller/using-octavia-ingress-controller.md

We're getting the follow

[2022-04-27 02:23] jichenjc commented on #1844
I think the issue comes from https://github.com/openstack/neutron-lib/blob/master/neutron_lib/api/validators/__init__.py#L240
though I didn't find where the tag length max is , I remember in nova it's 60 ..

so I think the error comes from
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/ingress/controller/controller.go#L694

that means, the name might be too long on `ingfull

[2022-04-27 07:37] arthurzenika commented on #1844
Hi @jichenjc thanks for looking into this.

The news from auto-deploy-image is that changing the limit from 63 to 60 would be a breaking change for all the current users of the solutions (there would be no way to track the previous ids with 3 characters missing). So there is little chance that they will change this. On our side we can try a workaround by forking the helm chart but that requires a

[2022-04-27 07:58] jichenjc commented on #1844
I need read more about the background here, and as I mentioned, this likely comes from the restriction of neutron (openstack) tag size, from this message we can see the error is try to tag a sec group but failed

[code]

so less we can do from CPO side is we provide a workaround to bypass the tag with given param on demand
that might help but I need double check and comment later on

[2022-04-29 11:53] zetaab commented on #1833
I vote for removing it

[2022-05-03 03:21] nashford77 opened #1845 "[cinder-csi-plugin] MAGNUM - Yoga Build - Failed to list *v1beta1.VolumeAttachment: the server could not find the requested resource"
kubectl api-resources | grep storage
storageversions                                internal.apiserver.k8s.io/v1alpha1     false        StorageVersion
csidrivers                                     storage.k8s.io/v1                      false        CSIDriver
csinodes                                       storage.k8s.io/v1                      false        CSINode
csistoragecapacities

[2022-05-04 13:53] kon-angelo opened #1847 "Update official images with newer base-image patch versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Security Fixes

**What happened**:
Image scanning tools report various critical vulnerability fixes coming from the outdated alpine base image. We see that the Dockerfile only uses minor version for the base image e.g. `alpine 3.15`. In the meantime alpine has released new patch releases that contain several fixes with the latest one (at the time of wr

[2022-05-04 23:28] nashford77 commented on #1845
I have also posted this question here: https://storyboard.openstack.org/#!/story/2010023

[2022-05-04 23:45] nashford77 commented on #1845
This is actually due to the csi-snapshot sidecar - what version would work with what's shown here ?

[2022-05-05 02:05] jichenjc commented on #1845
it's not related to Yoga release, it's mostly a sidecar version you are you using

which CPO CSI you are using now?

[2022-05-05 02:13] jichenjc commented on #1847
this is valid request
you are requesting latest CPO release (master) or previous released version?

[2022-05-05 02:19] nashford77 commented on #1845
This is stock with Yoga MAGNUM. I didn't modify a thing. Magnum needs to be updated really as it uses very outdated sidecars for CSI seemingly - I managed to fix it with

csi_snapshotter_tag:
type: string
description: tag of csi snapshotter
default: v4.0.0

I know there are much newer but not in quay.io repo's. Either way this solved it for me but I am wondering when Magnum will update /magnum/dri

[2022-05-05 02:30] jichenjc commented on #1845
I am not MAGNUM expert but curious on why it's related to CSI

https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L57

we are using snapshot 5.0.1 now ,so I am not sure this bug is valid

[2022-05-05 05:26] ialidzhikov commented on #1847
It would be great if you can do it for release-1.22 and release-1.23 branches.

[2022-05-05 05:59] nashford77 commented on #1845
I agree - It's on their end for the templates being out of date. I am not good enough at Magnum either to re-write it to use modern CSI. They are pointing to quay.io as well notably which doesn't have higher than 4.0 which is the only reason i went with that. I would prefer current.

[2022-05-05 06:03] jichenjc commented on #1845
we seems not using quay as registry
anyway, please close this issue if you think it's not CPO's problem, thanks

[2022-05-05 12:48] #1837 closed

[2022-05-05 13:42] #1845 closed

[2022-05-05 13:43] nashford77 commented on #1845
This is an issue with magnum templates being out of date with current versions.

[2022-05-05 19:52] #1847 closed

[2022-05-05 19:55] lingxiankong commented on #1825
The existing release process can be found here https://github.com/kubernetes/cloud-provider-openstack/blob/master/release-procedure.md, but I don't think it's up to date. I will update the doc with the steps I was following.

[2022-05-05 19:56] lingxiankong commented on #1833
+1

[2022-05-09 00:23] jichenjc commented on #1688
/remove-lifecycle stale

[2022-05-09 00:34] jichenjc commented on #1686
/remove-lifecycle stale

[2022-05-09 08:18] dulek commented on #1751
/remove-lifecycle stale

[2022-05-09 12:19] jichenjc commented on #1839
#1840 is for OCCM only, there are more need to be updated

[2022-05-09 13:55] till opened #1851 "[cinder-csi-plugin] volume is provisioned/attached but not mounted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

~~Installed the latest of the cloud-provider which includes the openstack controller (for LBaaS) and the cinder csi plugin. We can create and mount external volumes as long as the pod doesn't contain a `securityContext`. When we disable it, it works, with it enabled, it fails to ultimately mount the volume.~~

See commen

[2022-05-10 03:56] jichenjc commented on #1851
not expert in SecurityContext, so you are saying
[code]
is the root cause? And from the log you provided, seems it's not related to CPO, instead it's related to General k8s (mount part) , will take a deeper look at this in case have any findings

[2022-05-10 05:08] till commented on #1851
No, rather this:

[code]

It works when I disable it in various charts. An "easier" example is `bitnami/postgresql`: When I run the chart, I get these mount errors. When I disable these settings, the stateful set starts (with PVCs) and all is well.

Are there any other logs to provide? Anything that could be helpful?

[2022-05-10 09:29] chrigl commented on #1833
+1

[2022-05-10 11:32] chrigl opened #1853 "[all] migrate from golint to golangci-lint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We are using `golint` to lint the project which [is deprecated](https://github.com/golang/lint/blob/master/README.md).

We should migrate our linting to `staticcheck`.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manage

[2022-05-10 15:35] till commented on #1851
@jichenjc I just want to save you some time, it seems there is a problem with "my" setup. I just debugged another issues and found that:

1. my cinder volume is created
2. the volume is attached to the node (I can verify through UI/openstack API calls)
3. the node _sees_ the device
4. but the device is **not** mounted

So then what happens is: k8s uses the path anyway (container write to it) and t

[2022-05-10 20:42] Shugotekfr commented on #1751
I have same problem on Openstack Xena Version with octavia amphora provider.
NOK : Kubernetes 1.23, OCCM 1.23, Openstack Xena
OK : Kubernetes 1.23, OCCM 1.23, Openstack Victoria

I currently check octavia Logs, if i try to create LB manually from openstack GUI, it's create LB and send creation of pool/pool member/listener after.
If i launch creation of LB from K8S, Logs only receive request for LB

[2022-05-11 12:28] till commented on #1851
I am walking through the setup with the nginx example app, it demoes what we see otherwise. The pod is deployed and running, and claims that `/var/lib/www/html` is backed by a volume:

[code]

I verified the pvc is bound:

[code]

Verified with openstack that it's also in the API (`openstack volume show pvc-...`):

[code]

Using the device (`/dev/sdd`), I can also verify it with `fdisk` on the nod

[2022-05-12 02:19] jichenjc commented on #1853
@chrigl are you working on this ?

[2022-05-12 03:59] jichenjc commented on #1851
I checked your log again and I suspect this

[code]

seems https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L289
has been hit , as you know CSI need do a set of operations including publish the volume in the node and that will mount the device ,so the mount failed above due to FS permission issue

so might need check or compare between success case (without your s

[2022-05-12 07:09] till commented on #1851
Thank you, I'll have a look. I have a k8s cluster provisioned with Magnum to test today and this will help comparing.

So all the cinder stuff is in tree still?

[2022-05-12 07:20] jichenjc commented on #1851
cinder in tree==> don't undertsand the question, cinder are upstream openstack opensource
used to be in-tree code in k8s but all move to CPO (this repo), so no in tree code any more

[2022-05-12 07:24] till commented on #1478
@lfdominguez Can you possibly share your manifest? I think I am hitting the same issue with _custom_ paths (k0s).

[2022-05-12 07:28] till commented on #1851
Nevermind, it's a general mount utils.

Where you able to look at further comments? The one you looked at is helpful, but the new logs are on node-005. They show that the mount does not complete.

[2022-05-12 12:08] till commented on #1851
Ok, so, I did the following:

1. reviewed manifests and updated cinder-csi-drivers
2. removed deprecated/etc options
3. increased `--v=6` and found this:

[code]

I think this log is from the `csi-cinder-controller` Pod (and then container `cinder-csi-plugin`. This led me to double-check how paths are mounted to the nodeplugin DaemonSet, which leaves me with this manifest (which works 🥳 ):

[code]

[2022-05-12 12:08] #1851 closed

[2022-05-12 15:08] shaardie opened #1855 "[occm] Annotation for member-subnet-id (revisit)"
This is a *revisit* of the Issue #1086, because the original author closed that issue.

IMHO it would be a great idea to explicit configure the subnet of the loadbalancer and be able to set the loadbalancer in an external subnet, e.g. for IPv6.

I know there is a workaround as described in https://github.com/kubernetes/cloud-provider-openstack/issues/1086#issuecomment-650176521, but it not very ea

[2022-05-12 15:19] shaardie opened #1856 "[occm] Unable to use Loadbalancer Classes in Helm Chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Due to the helper Script in the Helm Chart, it is not possible to create Loadbalancer Classes as own Sections in the `cloudConfig`.

**What you expected to happen**:

That I can define my own Loadbalancer Classes in the Helm Chart.

**How to reproduce it**:

Try to define Loadbalancer Class in the Helm Chart `cloudConfig

[2022-05-13 03:59] #1830 closed

[2022-05-13 06:46] shaardie opened #1857 "Authentication Dependencies for Application Credentials are missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

It is not possible to use the the authentication with application credentials only.

**What you expected to happen**:

That I can configure the authentication with application credentials and that the configuration is satisfied.

**How to reproduce it**:

Try to configure authentication with authentication credentials

**Anything e

[2022-05-13 07:11] chrigl opened #1858 "[occm] investigate lbaas code for potential duplication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Anything else we need to know?**:

There are two functions in lbaas code... `ensureSecurityGroup` and `updateSecurityGroup`. The name of the first one suggests that it is also capable of doing the update, but I might be totally wrong.

See https://github.com/kubernetes/cloud-provider-openstack/commit/8e562428fb440ded2f758e9517f3087afa

[2022-05-13 08:46] shaardie opened #1859 "[occm] Workaround with hostname `ip`.nip.io does not work with IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We are using the settings `enable-ingress-hostname=true`, because we are using proxy-protocoll and therefore have to route all Traffic over the loadbalancer (as described in the docs https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type

[2022-05-13 09:58] shaardie commented on #1859
As a note I had to edit the issue, because I messed up the references to other issues.

[2022-05-13 13:33] chrigl commented on #1853
/assign

[2022-05-14 10:39] chrigl commented on #1853
Turns out...

The golint checks never run for quite a while now. In `hacks/verify-golint.sh` a list of files is provided by [`go test ...`](https://github.com/kubernetes/cloud-provider-openstack/blob/master/hack/verify-golint.sh#L63) returned a wrong list. In return, `golint` ran against non-existing files. Unfortunately the exit code of `golint` in this case is still 0, and the output of stderr w

[2022-05-14 14:05] chrigl commented on #1853
/kind cleanup

[2022-05-14 14:20] chrigl opened #1861 "[e2e] Split out module tests/e2e"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

`go.mod`  is pretty crowded, mostly due to the fact that e2e tests depend on `k8s.io/kubernetes`. This is not just being crowded, but also makes linting and unit-testing more difficult than necessary. e.g. a plain `go test` starts e2e tests, making development in IDEs hard.

**What you expected to happen**:

* `go te

[2022-05-14 14:26] chrigl commented on #1861
/kind cleanup

[2022-05-14 15:21] chrigl commented on #1861
/assign

[2022-05-14 16:07] chrigl commented on #1861
/hold

Let's first cut a `release-1.24` branch!?

[2022-05-15 12:36] chrigl opened #1863 "[house-keeping] Migrate issue templates to workflow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Github tells us to migrate to issue template workflows.
See: [.github/ISSUE_TEMPLATE.md](https://github.com/kubernetes/cloud-provider-openstack/blob/fc5af298a973fa2748a59779b3146f279e07436c/.github/ISSUE_TEMPLATE.md)

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**E

[2022-05-15 12:36] chrigl commented on #1863
/assign

[2022-05-17 02:04] nashford77 opened #1864 "Openstack CSI Fails to mount PV to pod / container (Yoga Magnum K8S)"
It would seem that the cluster is fine until i try to use the drive to specifically attach to the end container - where is says that the node cant be found but in reality its because the endpoint cant be reached....  Is there by chance a map from node to CSI node for openstack ? Doubt this to be the issue but wondering.

[code]

[code]

[code]

[code]
[code]

[code]
(This only occurred after I tri

[2022-05-17 07:03] #1853 closed

[2022-05-17 13:42] chrigl commented on #1864
Hey. Which versions are you using? And could you maybe place the logs into a code block for easier reading?

I am wondering about:
[code]

I think there must be the id rather than name of the node. Could you maybe enable more logging (`-v=4`) in container `name: cinder-csi-plugin` of the `deployment/csi-cinder-controllerplugin`.
e.g.
[code]

You should be able to see the call to ControllerPublish

[2022-05-17 16:04] chrigl opened #1866 "[house-keeping] Upload junit result from cinder-csi-plugin test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

At the moment, testgid and prow view don't show detailed results of cinder-csi e2e tests.
See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/openstack-cloud-csi-cinder-e2e-test/1526519905883525120

**What you expected to happen**:

both, testgrid and prow view should show detailed list of failed, pa

[2022-05-18 01:40] jichenjc commented on #1864
not sure how Magnum did, I usually update the manifest or helm chart on this

seems error reported
[csi/cinder/controllerserver.gocsi/cinder/controllerserver.go](https://github.com/kubernetes/cloud-provider-openstack/blob/4f0b050cf20d4be87ecb04548615fd7bb168927e/pkg/csi/cinder/controllerserver.go#L207)

and looks like we give a node name but from the function name seems it requires a node ID?

[2022-05-18 04:25] nashford77 commented on #1864
I am assuming it should be the Kubernetes node ID, not the ID from Openstack for this minion - either way, above my pay grade / skill set - how would this be corrected ? Not sure how to proceed / troubleshoot ? Is a patch needed on your side ? Many thanks in advance - am a bit new to this type of integration.

[2022-05-18 04:32] nashford77 commented on #1864
Magnum does it like this - but their template is quite out of date really.

https://github.com/openstack/magnum/tree/master/magnum/drivers/k8s_fedora_coreos_v1/templates
 & CSI is Deployed here
https://github.com/openstack/magnum/blob/master/magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml#L857

Simply going to current tags from this repo will not pull it, they get these items from q

[2022-05-18 04:40] nashford77 commented on #1864
Their master deploy for this seems to be here - but it does not work out of the box sadly.

https://github.com/openstack/magnum/blob/2a7ab5e9a37565760fb57fb00f5604f1486cdfb1/magnum/drivers/common/templates/kubernetes/fragments/enable-cinder-csi.sh

What would need to be corrected in this to make it work again with openstack ?

[2022-05-18 08:42] chrigl opened #1868 "[cinder-csi-plugin] testsuite failing since update to v1.24"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Test suite for cinder-csi fails because of missing files.

See [pr-logs](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/cloud-provider-openstack/1865/openstack-cloud-csi-cinder-e2e-test/1526759486381887488)
[code]

**What you expected to happen**:

Test passes

**How to reproduce it**:

run
[code]

**Anythin

[2022-05-18 12:39] chrigl commented on #1866
/close

move seems not to be needed, latest test runs show up the results, potentially a problem in test-infra the other day. I think I read something on slack.

[2022-05-18 12:39] #1866 closed

[2022-05-18 16:34] chrigl commented on #1864
@nashford77 still not sure what is happening there. But the node id must be the uuid of the openstack vm.

I tried to reproduce it with the mentioned versions, but all works fine on my non-magnum cluster. I unfortunately don't have access to a magnum one :(

[2022-05-18 16:36] nashford77 commented on #1864
How do I make that change ? This should be dynamic from the node
registration right ? Otherwise how does it get maintained as the cluster
scales ?

On Wed, May 18, 2022, 12:34 PM Christoph Glaubitz ***@***.***>
wrote:

[2022-05-18 16:47] chrigl commented on #1864
It happens during registration of the node plugin, you are right. See https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.23/pkg/csi/cinder/nodeserver.go#L468
That function is called by kubelet.

It results in a `CSINode` object for each kubernetes node. (check `kubectl get csinodes`)
e.g.
[code]

Do you see an csinode object for you nodes? And do they look properly configured?

[2022-05-18 17:30] nashford77 commented on #1864
[code]

[code]

[code]

[code]

[code]

[code]
[code]
it would seem that its registered some other UUID ? this is out of the box, so I don't know how ;0

How would I correct the node registration then or troubleshoot ?

[2022-05-18 19:25] chrigl commented on #1864
[code]

The node-plugin should figure that out from openstack metadata, and supports metadata service as well as configdrive.

What you could do:
You could delete one csinode, and after that "restarting" the csi-cinder-nodeplugin on that node:
e.g.
[code]

Restarting the nodeplugin should result in a new csinode object. Check if the settings are correct after that.

[2022-05-18 20:34] nashford77 commented on #1864
How Do I restart just the nodeplugin ?

[2022-05-18 20:56] nashford77 commented on #1864
Also, notably - the node plugin seems to not be running / an issue ? either way, please advise if i restarted this correct or not and how to do so if this is not the suggested way above

[code]

[2022-05-19 00:39] nashford77 commented on #1864
ok, so - i re-wrote the CSI node deploy as follows using openstack's and this repo's one....

[code]

The nodes re-registered, but i still can't provision. Guessing the controller plugin is bad as it crashes. I assume this to be good::

[code]

[code]

[code]

[code]

[2022-05-19 01:15] jichenjc commented on #1864
2 suspected area

looks like this is incorrect, but I don't know the `real` controller you are using since you made some changes
maybe worthy take a look
[code]

and the error you showed `failed to be attached within the alloted time` comes from

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack_volumes.go#L229

so looks like CPO already send com

[2022-05-19 01:36] nashford77 commented on #1864
@jichenjc So I re-wrote the RS they used as a deployment - I have no crashes any longer but it still does not work.

[code]

[code]

what else could it be ? I re-wrote their old RS to a deploy set as seen below - what could i be missing ?

[code]

[2022-05-19 01:44] jichenjc commented on #1864
please check my above comments, as I mentioned, seems the API has been sent to cinder already
but the volume is NOT in attached status on time, so I propose to check cinder related volume status or openstack logs
directly to see anything wrong there.. thanks

[2022-05-19 02:03] nashford77 commented on #1864
I am also confused why it refers to a volume that was not in the PVC/PV request... ? Where is that Disk ID coming from ?

[2022-05-19 04:46] nashford77 commented on #1864
okay - one more guess - I run full TLS on openstack. Th cert was clearly copied as a create does succeed, is it possible something on the CSI side i cant think of does not have the TLS cert ? How Can I test a call from CSI engine to a known endpoint that would need a cert.  90% of the process works fine clearly, but something is querying the volume without my CA cert perhaps.

thoughts ?

[2022-05-19 05:00] nashford77 commented on #1864
I don't see this as an openstack issue..... my guesses don't seem correct ... ? I upped controller logs to V=6. Confused as to what is causing this ...

[code]

[2022-05-19 05:03] nashford77 commented on #1864
Also, the 300 means nothing, this is how CSI queries for capabilities - so yep, not openstack causing this, its CSI ...

[code]

[2022-05-19 06:55] chrigl commented on #1864
Alright, let's catch this bug :)

Try to find out where the metadata comes from, metadata service or configdrive?

On my system, I get it from metadata. But maybe yours is configdrive!?
[code]

Here again, you can see that `node_id` in fact is a uuid. Same I can verify with plain getting metadata
[code]

You could query the `NodeGetInfo` manually using [fullstorydev/grpcurl](https://github.com/ful

[2022-05-19 07:54] #1857 closed

[2022-05-19 07:55] chrigl opened #1871 "[all] tracking of ci-workarounds"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

The purpose of this Task is to track workarounds we needed to incorporate to get CI clean

- [ ] #1869 - Disabled Test from cinder-csi-plugin
- [ ] #1888 - Added empty test script to let ci pass
- [ ] #1887 - Disabled Test from manila-csi-plugin
- [ ] conformance tests of cpo (?)

[2022-05-19 08:08] nashford77 commented on #1864
My logs don't seem to show where it comes from ? ;0

[code]
When i ssh to the nodes, of course as OS nodes go, it uses the metadata service.

[code]

Ref to the final one, Can I run this outside of a node? Fedora CoreOS is quite locked down package wise ;0 Not sure hot to install Go on there ;-0

[2022-05-19 08:16] chrigl commented on #1864
You just could grab the binary from https://github.com/fullstorydev/grpcurl/releases on your coreos instance.

Are you still logging with `-v=6`?

[2022-05-19 10:06] #1868 closed

[2022-05-19 11:39] modzilla99 opened #1874 "[cinder-csi-plugin] [Bug] Failed to GetOpenStackProvider i/o timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When starting the csi plugin it is not able to communicate with keystone. It will get stuck in an io timeout.

**What you expected to happen**:
The plugin should talk to the API and start.

**How to reproduce it**:
I am running a 1.24.0 cluster with Version 1.23.0 and CoreDNS 1.9.2

**Anything else we need to know?**:
A T

[2022-05-19 15:30] chrigl commented on #1864
So far, from perspective of cinder-csi all looks good.

`kubelet` is responsible for creating the `csinode` with information it gets from the csi drivers. So why are the information in your `csinode` objects are wrong?

Did you try to delete one of the `csinode`, and let it recreate? Like I described above?

Is there potentially "someone" else faffing around with the `csinode` objects /me being pu

[2022-05-19 15:35] nashford77 commented on #1864
oh - I got past that - its correct now. at current, CSI is timing out talking to Cinder on mounting but it provisions just fine... i dont understand at all why thats even possible

[2022-05-19 16:07] nashford77 commented on #1864
I am thinking the attacher has a permissions error of some kind / iscid - How would we troubleshoot that ?

[2022-05-19 16:24] chrigl commented on #1864
I am out of ideas. Is it possible to attach the volume to some node manually with openstack cli?

[2022-05-19 16:29] nashford77 commented on #1864
yes - the volume is fine - no openstack issues. It attaches okay within openstack. the CSI-ATTACHER is where its failing to connect via ISCI i am pretty sure.

[2022-05-19 16:53] nashford77 commented on #1864
@jichenjc @chrigl How would i see the CSI Attacher logs - I believe the path forward to be in there, Pretty sure its failing to connect with ISCI to that block device from the logs on cinder showing and attempt then it gives up and cleans it up. Has to be connectivity related but i cant troubleshoot without knowing how to determine what's doing on with csi attacher

[2022-05-19 17:37] nashford77 commented on #1864
I see that the attacher def has some confusion / issue - it THINKS it attached, but its not ?! When I delete it, i see this ...

[code]

When I create it again and re-try, i see this:

[code]

What's odd - attacher does 0 ?!?

[code]

[2022-05-19 23:14] nashford77 commented on #1864
Is it possible CSI has mistakenly hard coded what it considers to be a block storage type.... I use LUKS to encrypt all of my volumes as a type.

[code]

[code]

[code]

[code]

LVM is obviously block as is LUKS of whatever backend.... could this be the issue ? If so, its a bug as the driver should not disallow encrypted volumes

[2022-05-20 07:24] sylvainOL opened #1876 "[occm] Don't add control nodes in the loadbalancer pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm using occm `v1.22.0` on top of rke2 (`1.22` or `1.23`) with the following labels for "control" nodes :

[code]

and the following taints on the "control" nodes:

[code]

On the worker nodes, I've got the following labels and no taints:

[code]

When I create a Load Balancer service (for Ingress, so I'm not using serv

[2022-05-20 07:30] chrigl commented on #1839
/close

fixed by #1875

[2022-05-20 07:30] #1839 closed

[2022-05-20 07:56] sykim-etri opened #1877 "[occm] Cannot access loadbalancer from non kubernetes nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
At first, I set up Openstack (xena) with octavia into openstack-server machine. I tested a loadbalancer is working well.

And then I installed kubernetes cluster(v1.22.8) by kubespray in 2 VMs which are created on above Openstack.
[code]
I configured kubernetes for occm (v1.22.1) and I applied several yaml files in `~/cloud-provider

[2022-05-20 09:53] jichenjc commented on #1874
The current info seems too generic

looks like it's not CPO CSI function not working, it's the pod not able to connect to keystone
some erorr might be
1) the pod can't connect to the service due to network not reachable
2) as you described, not able to parse the right DNS (no detailed info though)

so I think more info like the real error you saw, the logs of CSI pods etc will be helpful

[2022-05-20 10:09] jichenjc commented on #1877
This is weird.. LB is a VM with pre-installed haproxy by default and the ip 1.2.1.214 should be the ip of the LB
I knew we had a sec group fix recently https://github.com/kubernetes/cloud-provider-openstack/issues/1830
but not sure it's related ,as you can curl from one machine but not the other seems related to firewall..

are you able to check any logs in OCCM logs and see any thing suspcious?

[2022-05-20 10:32] jichenjc commented on #1876
If I understand you correctly, you are saying the controller (master node) should be excluded from node, this is true by default if you follow OCCM manifests

so I think set following label might help you
[code]

as you can see

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/ingress/controller/controller.go#L218

we filter all nodes with this label, but we also filter role

[2022-05-20 11:38] sylvainOL commented on #1876
Hello,
first thanks a lot for this answer.
I tried to look at the code but didn't found the two lines you showed, sorry.

Here's an example:

[code]

[code]

As you can see, there are 7 members (this is a 3 controllers / 4 compute k8s) and the last three ones are the controllers:

[code]

Heres the metadata of the node:

[code]

We can see that `node-role.kubernetes.io/master` is set (but to a str

[2022-05-20 11:39] sylvainOL commented on #1876
There's a new installation which should start the occm part soon, I'll look at the logs and paste them here if something is interesting

[2022-05-20 12:08] p7kdev commented on #1876
I am running a very similar setup. OpenStack + Rancher rke2 + Openstack Cloud Controller. I can confirm, after addding node.kubernetes.io/exclude-from-external-load-balancers: true label to the master nodes they got removed from the Loadbalancer. However, the node-role.kubernetes.io/master label is also completely ignored here. A node is nevertheless added as a member. Only the upper label worked

[2022-05-20 12:10] p7kdev commented on #1876
Because I see it right now: For it to work, an update to occm v1.23.0 is probably also necessary. The feature was probably added in January. Therefore it should not be available in v1.22.0 yet.

[2022-05-20 12:14] sylvainOL commented on #1876
Hi @p7kdev, thanks for the replies :)

I wanted to be sure to grab some details before adding the label!
glad to know that `node.kubernetes.io/exclude-from-external-load-balancers` works, I'll add it to my setup :)

[2022-05-20 12:18] sylvainOL commented on #1876
here the log for the newly installed instance with an actual load balancer creation:

[code]

[2022-05-20 12:18] sylvainOL commented on #1876
as @p7kdev said, I'll add the label to the control node in order to make it OK

[2022-05-20 17:49] nashford77 commented on #1864
I am guessing we dont have an equivalent to get the barbican secret and decrypt with CSI... Nova does this natively and can detect it - I will try unencrypted shortly and see if the result is any better mounting wise

https://docs.openstack.org/nova/13.1.2/api/nova.volume.encryptors.luks.html

[2022-05-20 17:50] nashford77 commented on #1864
in CSI is it possible as well to pass volume type, because otherwise i need to change my entire default (which i dont want to really) to account for CSI not working with it properly. A workaround for now would be a flag to openstack for disk "type" - thoughts ?

[2022-05-20 19:06] zetaab opened #1880 "latest tags not updated in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

1.24.0 release is released. However, the CI pipeline does not include updating `latest` tags.

**What you expected to happen**:

We should have way to update latest tag

**Anything else we need to know?**:

The problem with CI pipeline is that, if we include updating `latest` tag in CI. What will happen if we make hotfix

[2022-05-20 20:21] zetaab commented on #1880
latest tags currently tagged with https://github.com/zetaab/cloud-provider-openstack/commit/2a5c3b5d7e4b04b62d0a1a26a8977f66d3149099

note! it tags only amd64 version of the image.

[2022-05-20 20:46] sykim-etri commented on #1877
@jichenjc Thanks for your comment.

This is full OCCM log. I use latest occm version with log level 4.

[occm-latest.log](https://github.com/kubernetes/cloud-provider-openstack/files/8743978/occm-latest.log)

In this log, I think this warning is suspicious.
But I don't know what it means.--;
[code]

[code]

[2022-05-20 21:10] nashford77 opened #1881 "CSI for Openstack Does Not Support Volumes Encrypted by Barbican / TYPE LUKS"
Hello - I have confirmed that attach will not succeed on LUKS type - two issues:

provisioner : Succeeds but looks to confirm a known block type to it and fails on confirm but succeeds to create it.

attacher - fails to mount it - also cant find a known / expected type.

Request: How do we has attached dynamically pull the relevant secret from barbican and store in kubernetes secrets for use to en

[2022-05-21 09:58] chrigl commented on #1864
Great work @nashford77 . Could you help us to get a PR on the way? At the moment I don't have access to an openstack with encrypted volumes.

[2022-05-21 10:40] chrigl commented on #1876
That default behavior changed in kubernetes v1.22. Before that, control plane nodes were excluded from loadbalancing by `LegacyNodeRoleBehavior` which was dropped in v1.22.

See https://github.com/kubernetes/kubernetes/pull/97543

[2022-05-21 10:43] chrigl commented on #1880
Do we want latest to be latest-release or e.g. the result of a nightly build?

[2022-05-21 14:37] nashford77 commented on #1864
Sure, happy to help. I had opened a new thread on this so we can perhaps make it work with this or at a minimum be able to pass volume type which would also have fixed it, mine simply was defaulting to LUKS which is desired behavior for the stack but not for this until it supports that or has the vol type option. Happy to help get a fix out.

[2022-05-21 20:00] nashford77 commented on #1864
Can you point me to where you think we need to fix first allowing the passing of volume type as an optional field - perhaps that's the easiest initial step. Then I would suggest to patch the check that halted me and return that it does not yet support LUKS / Encrypted then we actually try to make it work with barbican to get the key the same way NOVA does.

[2022-05-22 13:55] sykim-etri commented on #1877
@jichenjc
This is more detailed log(level 7).

[occm-log.txt](https://github.com/kubernetes/cloud-provider-openstack/files/8749567/occm-log.txt)

[2022-05-22 16:12] zetaab commented on #1880
I think people would like to see latest-release(?)

[2022-05-23 06:30] jichenjc commented on #1465
/remove-lifecycle stale

[2022-05-23 10:24] chrigl commented on #1864
I would just add a section Known Limitation to [docs/cinder-csi-plugin/using-cinder-csi-plugin.md](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/using-cinder-csi-plugin.md).

The type can already be configured like
[code]

[2022-05-23 12:13] jichenjc commented on #1881
I think it's a function gap , I knew we have barbican usage in ingresss and kms
but CSI we seems don't have this at all

I am not expert on this so can you help provide API/CLI or any other things might be helpful to understand the use case above? e.g some flow might be helpful a lot

[2022-05-23 12:16] jichenjc commented on #1880
+1
how does other project do this ? e.g we pull latest k8s seems pull latest k8s release instead of latest commit?
if so we can follow same pattern..

[2022-05-23 12:18] jichenjc commented on #1877
this is ok, as it only tell us it's not able to find barican service in your catalog which is optional .

[2022-05-23 12:27] jichenjc commented on #1877
the log provided seems truncated ,and nothing special until `I0522 13:46:34.568918 ` which is last log I can see..

have you tcpdump on the VM to anything wrong there? beyond my expertise now ... not sure someone else has background?

[2022-05-23 12:39] jichenjc commented on #1876
ok, glad it helps .. let us know whether it works for you then we can close this issue , thanks~

[2022-05-23 12:40] nashford77 commented on #1881
I agree as well it's a function gap, but am happy that at least for now I
can pass type. People should be able to use external decryptor - it's
likely safest way vs storing the here in k8s in case of a breach .Here is
the procedure of what to do, (API not included but that part is easiest)

https://serverfault.com/questions/1052979/luks-encryption-for-mounted-disk-how-to-decrypt-cinder-volume

Her

[2022-05-23 12:41] jichenjc commented on #1881
yes, saw the history https://github.com/kubernetes/cloud-provider-openstack/issues/1864 now and
will keep read this , in case any gap or Doc change, will discuss and propose PR, thanks for all the detailed info~

[2022-05-23 12:57] sykim-etri commented on #1877
@jichenjc Thanks for your comment.

Do you know any openstack(with octavia) installation documents as line by line?
I'll try a clean install.

I guess my network configuration may be wrong.

[2022-05-23 12:58] chrigl commented on #1864
/close

in favor of #1881. Please re-open if I'm misunderstanding here :)

[2022-05-23 12:58] #1864 closed

[2022-05-23 13:05] jichenjc commented on #1877
I think https://docs.openstack.org/devstack/latest/guides/devstack-with-lbaas-v2.html
might be the easiest way to go..

[2022-05-23 13:08] nashford77 commented on #1881
Not a problem - thank you for seeing the issue through with me. For use case, in any enterprise (not where I am using this but I do work for a large one) we would never ship non encrypted drives on failure back to a vendor so as such encrypted is a default for many large orgs. For my personal use case, I have interest in cyber security products, encrypted drives are a must for me as well.

I see t

[2022-05-24 13:31] chrigl opened #1883 "[all] Enhance code climate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

During #1853 I discovered that golint hasn't ran on the code base for quite a while now. We should improve code climate as indicated by `make codeclimate`.

This task might be solved in a series of PRs

**What you expected to happen**:

`make codeclimate` is "green"

`make check` will use the settings of `make codecl

[2022-05-24 13:35] chrigl commented on #1883
/assign

[2022-05-24 15:41] sylvainOL commented on #1876
I've added the label and it works. So I can close it :)

thanks all of you!

[2022-05-24 15:41] #1876 closed

[2022-05-25 03:45] jichenjc commented on #1881
Thanks for the detailed info ,so maybe you can assign yourself on this @nashford77 as you seems already have a solution :)

[2022-05-26 07:32] jjdiazgarcia opened #1893 "[manila-csi-plugin] Cannot customize csi driver options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I can't enable fsGroup policy for CSIDriver

**What you expected to happen**:
Features supported by Kubernetes CSI are available to customize CSIDriver deployed using helm template defined in https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/manila-csi-plugin/templates/csidriver.yaml

**How to

[2022-05-26 13:37] gouthampacha commented on #1893
Hi @jjdiazgarcia; thank you for raising this issue. IMHO, and you may be aware, support for fsGroups with NAS based PVs is hard to implement (for one, the NAS server and the clients need to share the same id mapping for things to work as expected). Do you intend to allow an override so that we can set the fsGroupPolicy to None (and thereby prevent the recursive chmod/chown by kubelet)?

@fmount is

[2022-05-26 14:43] jjdiazgarcia commented on #1893
Hello @gouthampacha
Thanks so much for your quick response.

What I have planned to do is to allow setting (or not) that property. If I am not wrong, if it is not set, by default, it is set to _None_ so we don't need to set it if it is not defined in values. Something similar to below code snippet.
`
{{- range .Values.shareProtocols }}
apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name

[2022-05-26 15:16] jjdiazgarcia commented on #1893
You are totally right @gouthampacha My bad.
Exactly, my needs are changing group owner without checking any other configuration. That is why I need to set policy to _File_

[2022-05-30 15:44] rastislavs opened #1897 "[OCCM] Support IPv4/IPv6 dual-stack services"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The OCCM does not support dual-stack (IPv4 + IPv6) clusters very well. This is a list of the existing issues:
- IPv4 or IPv6 VIP should be allocated based on the preference defined in service's `.spec.ipFamilies`
- for dual-stack services, both IPv4 and IPv6 load-balancers should be created
- floating IP should not be

[2022-05-30 15:45] rastislavs commented on #1897
/assign rastislavs

[2022-05-30 15:53] gman0 commented on #1893
Hi @jjdiazgarcia! Thanks for the request. One of the reasons fsGroup policy is not exposed is because manila-csi supports only `ReadWriteMany` volume access mode at the moment. There could be multiple nodes trying to chmod the same volume, which would be  racy usually.

What storage backend are you using for this? Maybe it could work in your case, but in general we would need to deploy [external-a

[2022-05-30 16:18] jjdiazgarcia commented on #1893
Hello @gman0

I understand the reason.

I am not the owner of Openstack so I don't set up it but I would say we are using NetApp.

We have tried to use the default one policy and run and initContainer to change volumes permissions. Anyway, we are also using Gatekeeper and one of the policies is to avoid running containers using root user so, unfortunaterly, we can't use this approach.

Is it requi

[2022-05-31 03:20] jichenjc commented on #1897
I assume this will only be LB related, not Ingress parts, correct?

[2022-05-31 12:45] sergelogvinov opened #1900 "[OCCM] Add Region code to ProviderID"
/kind feature

**What happened**:

Hello. I have a multi-region OpenStack setup for one Kubernetes cluster. Each region has its independent OpenStack installation.

Currently, OCCM does not support multi-region installation.
And I can launch OCCM separately in each zone, but they will affect each other. One OCCM wouldn't find an instance from another region (it will try to delete the node from dif