[2020-09-14 21:51] lingxiankong commented on #1128
BTW, client-keystone-auth is also included in the release, please check https://github.com/kubernetes/cloud-provider-openstack/releases

[2020-09-14 22:13] elgamal2020 commented on #1208
kubectl get node extcloud -o yaml
apiVersion: v1
kind: Node
metadata:
  annotations:
    alpha.kubernetes.io/provided-node-ip: 10.20.20.122
    kubeadm.alpha.kubernetes.io/cri-socket: /var/run/dockershim.sock
    node.alpha.kubernetes.io/ttl: "0"
    volumes.kubernetes.io/controller-managed-attach-detach: "true"
  creationTimestamp: "2020-09-14T19:06:30Z"
  labels:
    beta.kubernetes.io/arch: amd

[2020-09-15 00:25] lingxiankong commented on #1208
I can see there is an annotation `alpha.kubernetes.io/provided-node-ip: 10.20.20.122`(maybe it's set by kubespay) set on the Node, please check the following:

1. If `internal-network-name` is configured for openstack-cloud-controller-manager.
2. If you know the VM ID for the Node in OpenStack, check the Neutron ports attached to the VM, paste their IP addresses and network names.

Optionally, you

[2020-09-15 00:56] elgamal2020 commented on #1208
Thanks a lot of your help , much appericated

internal-network-name has been supplied during kubespray but I dont know how to see it K8s , I see it in
[code]

[2020-09-15 02:33] jichenjc commented on #1206
v1beta1 ==> v1 is recently modified, so I assume you are using latest cinder CSI samples with k8s 1.17.5, not sure it is suitable combination
[code]

maybe you want to describe the pod and check the log of it (if possible)?
and paste the nodeplugin and controller plugin logs also will be helpful to have more info

[2020-09-15 03:14] jichenjc commented on #1208
a separate but related topic,   looks like
https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L494 is where the error got printed

which means the IP privded by `alpha.kubernetes.io/provided-node-ip` can't be find by node addressed return from CPO

we have a few code that print the node address, but https://github.com/kubernetes/cloud-provider-openstack/bl

[2020-09-15 05:05] lingxiankong commented on #1208
@elgamal2020 May I know the docker image tag of openstack-cloud-controller-manager? You can also increase the verbosity (e.g. `--v=5`) and look at the pod log to check if there is anything suspicious.

@jichenjc thanks for help

[2020-09-15 05:39] kayrus commented on #1207
Relates to #993 and #867

[2020-09-15 10:02] dirien commented on #1196
GET  https://xxx:9876/v2.0/lbaas/loadbalancers

response:

{
    "loadbalancers": [
        {
            "provider": "octavia",
            "description": "",
            "admin_state_up": true,
            "pools": [
                {
                    "id": "b1a91f54-84de-4af8-93c3-fec17af7a114"
                }
            ],
            "created_at": "2019-07-09T12:38:49",
            "pro

[2020-09-15 11:51] alanbchristie commented on #1206
Here's the result of describing the **PVC**: -

[code]

And this is the **Pod**, attempting to mount the PVC: -

[code]

The **controllerplugin/csi-provisioner** container logs are as follows...

[code]

And the The **controllerplugin/csi-attacher**...

[code]

Interestingly, there's nothing of any significance in the nodeplugin for the node the Pod's on. Nevertheless the logs for the **nodeplugin

[2020-09-15 12:13] alanbchristie commented on #1206
Incidentally I am investigating a **snapshotter** problem with my deployment as it receives the following message form Kubernetes.

[code]

In the meantime I have removed the snapshortter container from the Pod while I fix this and assume that not having a snapshotter will not affect normal **volume** creation?

[2020-09-15 12:37] ramineni commented on #1206
@alanbchristie Could you increase the log level of `cinder-csi-plugin` container of both controller-plugin as well as nodeplugin yamls, and share the logs of both ,
add `--v=5` here https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L90

[2020-09-15 12:41] ramineni commented on #1183
fixed in https://github.com/kubernetes/cloud-provider-openstack/pull/1199
/close

[2020-09-15 12:41] #1183 closed

[2020-09-15 12:58] alanbchristie commented on #1206
OK, all re-deployed with `--v=5`. I've also removed and re-deployed the **Pod** and **PVC**.

The corresponding logs from the controllerplugin and the nodeplugin for the Pod's node are attached...

[csi-cinder-controllerplugin_cinder-csi-plugin.txt](https://github.com/kubernetes/cloud-provider-openstack/files/5224964/csi-cinder-controllerplugin_cinder-csi-plugin.txt)

[csi-cinder-nodeplugin_cinder

[2020-09-15 13:35] elgamal2020 commented on #1208
Thanks for the idea , with extending logs I can see

E0915 13:17:32.757205       1 node_controller.go:370] failed to initialize node extcloud at cloudprovider: failed to get instance ID from cloud provider: Get "http://172.18.234.183:8774/v2.1/805c2aa3e4304b919d4e0fe7a9c72e3e/servers/detail?name=%5Eextcloud%24": dial tcp 172.18.234.183:8774: connect: no route to host
I0915 13:17:32.757323       1

[2020-09-15 13:37] ramineni commented on #1206
@alanbchristie I dont see NodePublishVolume is getting called, could you share the kubelet logs on the node

[2020-09-15 14:37] bgagnon commented on #1167
I would classify this as a bug, not a missing feature.

[2020-09-15 14:58] bgagnon opened #1214 "[occm] concurrent creation of listeners, pools and pool members"
/kind feature

**What happened**:
For a large cluster and a `Service[type=LoadBalancer]` with multiple ports (ex: `:80`, `:443`), the full `EnsureLoadBalancer` process takes several minutes. Some of this delay is caused by the sequential creation of listeners, pools and pool members.

**What you expected to happen**:
- creation of independent listeners can happen concurrently
- creation of indepen

[2020-09-15 15:08] lingxiankong commented on #1208
I don't think `connect: no route to host` is the root cause given it only happens several times.

From the log, I can see `--v="1"`, can you try `--v="5"`?

[2020-09-15 15:21] alanbchristie commented on #1206
A little bit of a novice when it comes to the kubelet log and never had to look at it. It's a Rancher-built cluster ... dumb question is ... where is the kubelet log? I'm on the node and there is no `kubelet.log` anywhere in the filesystem but the kubelet process is running...

[code]

[2020-09-15 15:30] ramineni commented on #1206
Can u check in /var/log ?

[2020-09-15 15:32] alanbchristie commented on #1206
[code]

[2020-09-15 15:37] ramineni commented on #1206
It should be of name kubelet.log , if kubelet deployed as systemd process , u have to use journalctl .

[2020-09-15 15:42] ramineni commented on #1206
Never used rancher though , im also not sure about default location it uses

[2020-09-15 16:09] alanbchristie commented on #1206
OK, found the logs using: -

[code]

I'm avoiding posting all the logs because I've just addressed two other issues that might be related and found that the volume now mounts! That's annoying - it now works but I don't know why it didn't. Anyway the two faults fixed were: -

* I had noticed that the cluster, managed by Rancher, had incorrect hostnames (which must have been edited by hand) were cau

[2020-09-15 16:24] alanbchristie commented on #1206
I'm going to re-break the nodes later to try and re-introduce the fault because I'd like to know what was wrong.

[2020-09-15 16:31] elgamal2020 commented on #1208
I tried kubectl logs openstack-cloud-controller-manager-thmbw -n kube-system -v="5" and kubectl logs openstack-cloud-controller-manager-thmbw -n kube-system --v="5" and no differnece

[2020-09-15 16:45] alanbchristie commented on #1206
But no - re-breaking the cluster by editing their instance names in the OpenStack console didn't affect the deployment - the PVC and Pod stil worked. We've had an upgrade of OpenStack in the last few months a lot's happened to the instances and OpenStack API so it might be very difficult to break this again.

Nevertheless it's still working.

[2020-09-15 16:45] #1206 closed

[2020-09-15 17:00] alanbchristie opened #1215 "[cinder-csi-plugin] Does controllerplugin-rbac.yaml RoleBinding need a namespace?"
/kind bug

**What happened**:
Getting kubernetes error when deploying the `csi-resizer-role-cfg` **RoleBinding**, asking for a `namespace`. The current definition is: -

[code]

As it's not a cluster object should't its metadata contain a namespace, i.e....

[code]

**What you expected to happen**:
Deploy the `csi-resizer-role-cfg` **RoleBinding** without an error.

**How to reproduce it**:
Deploy

[2020-09-15 20:36] lingxiankong commented on #1208
No, change that option in openstack-cloud-controller-manager yaml and just simply kill the pod so k8s will create a new one with the updated config.

[2020-09-16 02:51] jichenjc commented on #1208
your logs https://github.com/kubernetes/cloud-provider-openstack/files/5225349/openstack-cloud-controller-manager-thmbw.log contiains many
`failed to initialize node extcloud at cloudprovider: failed to find kubelet node IP from cloud provider` as before

so please try stuffs mentioned above (--v=5)

and (optional but should be helpful )if you know how to build container image, maybe you can adopt

[2020-09-16 02:59] elgamal2020 commented on #1208
The problem was that the name of internal netowrk wasnt set properly , thanks a lot for your help

Could we conclude that Octavia is not required for setting up external openstack cloud provider ?

[2020-09-16 03:05] jichenjc commented on #1208
if you don't need LB services ,it's optional (at least one of my test env doesn't have Octavia and it works fine on others)

[2020-09-16 03:06] jichenjc commented on #1208
/close

per above discussion and please open new one if you have further questions

[2020-09-16 03:06] #1208 closed

[2020-09-16 03:22] jichenjc commented on #1206
ok, seems you can't reproduce the error .. glad it works and please reopen this with additional info ... thanks

[2020-09-16 03:24] jichenjc commented on #1215
which version are you using?

[code]
I am using latest code and seems it works fine ...
[code]

[2020-09-16 07:13] alanbchristie commented on #1215
I suspected this would work, helm clearly is setting the `namespace` explicitly ... because Roles and RoleBindings are namespaced.

I'm using Ansible, which is a little pedantic and raised the error.

Although it clearly works with helm I wondered wether it was actually more _correct_ to use the chart's namespace anyway? I just thought that if you were using a namespace in the object for the immed

[2020-09-16 07:15] jichenjc commented on #1215
how about you try to add it and see whether it works for you ?
I will submit a PR then use the PR to verify whether it can set ns as well ..

if both works, then let's ask for merge of the PR

[2020-09-16 07:24] alanbchristie commented on #1215
Good plan.

I know it is needed and works with Ansible butI will check with `kubectl` later this morning when I'm in the office.

If it loads the object without a namespace then we can ignore the issue. But, if `kubectl` needs a namespace then I think we should add it - just to be _precise_ and act as a good example to others - especially as you're using namespace in other objects in this file.

[2020-09-16 07:58] jichenjc commented on #1215
https://github.com/kubernetes/cloud-provider-openstack/pull/1217 is added
I checked this will get same result as I listed above

[2020-09-16 13:28] dr4Ke opened #1220 "[octavia-ingress-controller] Doesn't publish the full certificate chain"
**Is this a BUG REPORT or FEATURE REQUEST?**:

To me, this is a bug. But it could also be viewed as a feature request.

/kind bug

**What happened**:
The ingress controller created a `TERMINATED_HTTPS` load balancer using a provided TLS secret. The LB is responding to requests presenting only the leaf certificate, not the chain.

**What you expected to happen**:
The LB should present the leaf cert

[2020-09-16 13:37] dr4Ke opened #1221 "[octavia-ingress-controller] support for https backends"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Can't use https backends.

**What you expected to happen**:
Would be nice to have similar annotations to allow HTTPS backends, in passthrough or terminated HTTPS form. Similar to the `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` used with [ingress-nginx](https://kubernetes.github.io/ingress-nginx/user-guide/

[2020-09-17 09:07] ITD27M01 opened #1223 "[openstack-cloud-controller-manager] Support Octavia Availability Zone"
/kind feature

**What happened**:
The Ussuri release of Octavia now supports the availability zone feature where operators can specify some useful capabilities such as the compute availability zone for the amphora instances. For large distributed clouds (enterprise and public), this is a must-have feature that not only improves reliability but also allows operators to use their hardware efficientl

[2020-09-17 10:52] jichenjc opened #1224 "[occm][enhancement] update openstack_instances.go logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

those logs not helpful to debug issues such as instance not found , we can do some enhancement

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-09-17 10:52] jichenjc commented on #1224
/assign

[2020-09-17 10:55] jichenjc commented on #1224
wrong thought ...should not be a bug

[2020-09-17 10:55] #1224 closed

[2020-09-17 23:54] elgamal2020 commented on #1208
Another question , is it normal with external cloud provider to have 2 configs and 2 secrets under /etc/kubernetes

cinder_cloud_config
external_openstack_cloud_config

[2020-09-18 00:36] jichenjc commented on #1208
@elgamal2020 not sure the question is related to
https://github.com/kubernetes/cloud-provider-openstack/issues/1122

are you saying 1 pods have both occm and cinder-csi have config/secret ?
https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L98  and https://github.com/kubernetes/cloud-provider-openstack/blob/master/manife

[2020-09-18 00:42] jichenjc commented on #1223
this might be a general question , the feature is added at U release and does Octavia has microversion? otherwise, how to support version before U ?
e.g we used 2.60 version API here
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack_volumes.go#L170

https://docs.openstack.org/api-ref/load-balancer/v2/?expanded=create-a-load-balancer-detail#create

[2020-09-18 02:21] elgamal2020 commented on #1208
Yes , it is perfectly related to #1122 , so if I understood well this is an enhancement request but in the current release they are separate

[2020-09-18 06:27] ramineni commented on #1215
@jichenjc Sorry , Im not quite clear, from your comment mentioned above its working with latest code. So, what is the issue?
@alanbchristie Are you using helm or direct manifest for deployment?

[2020-09-18 07:00] jichenjc commented on #1215
@ramineni yes, if you check above, with/without change both works
the change makes the code readable and seems make sense to be clear (align with other definition)

[2020-09-18 08:59] ramineni commented on #1201
@jichenjc capacity_range is an optional parameter , so plugin may choose the default size if not specified . We are using default volume in CreateVolume here , https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L59 , the same is being followed in ephemeral for consistency . So , I dont think we should raise error here.

[2020-09-18 09:13] jichenjc commented on #1201
I misread the capability and capactiy... you are right, but we need some doc update for this ..
to indicate 1 will be default value :)

[2020-09-18 09:19] ramineni commented on #1201
+1 , eventhough its updated here https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/inline/inline-example.yaml#L18 , but I also think its better to add it explicitly in docs. Thanks.

[2020-09-18 09:35] ramineni commented on #1202
@brtknr Could you have look at this?

[2020-09-18 09:36] brtknr commented on #1202
@ramineni requires https://github.com/kubernetes/cloud-provider-openstack/pull/1216

[2020-09-18 09:36] ramineni commented on #1201
Closing this. Doc update can be added a separate PR.
/close

[2020-09-18 09:36] #1201 closed

[2020-09-18 09:58] jichenjc commented on #1201
@ramineni please note for normal create from PVC, seems no possibility to use defualt value...
[code]

[code]

[2020-09-18 12:40] ITD27M01 commented on #1223
Hello @jichenjc ,

I have little experience in contributing to [Kuryr-Kubernetes](https://github.com/openstack/kuryr-kubernetes) (native OpenStack Neutron-based networking in Kubernetes). They are widely used the Octavia as a basement for Kubernetes services and one example is how they check is native Octavia ACL is supported or not in the deployed version [1].

We need one more call to root [2] t

[2020-09-19 06:56] #1196 closed

[2020-09-20 19:07] mikejoh opened #1230 "[octavia-ingress-controller] Deletion of loadbalancer fails due to 403 (Forbidden) against the Barbican API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When testing a bit back and forth with a newer version of the Octavia Ingress Controller (`v1.18.0`) and using a seperate OIC OpenStack user with the `member` and `load-balancer_admin` roles (i'm only using the default Keystone roles) attached the deletion of the loadbalancer fails due to:
[code]
The `Ingress` manifest lo

[2020-09-21 02:14] jichenjc commented on #1223
@ITD27M01 we should specify version in OCCM if we have to...
but the way you provided seems not used in OCCM ..only version check is used
as you mentioned in gophercloud issue, I guess gophercloud is a good place if we have to add
[code]

[2020-09-21 10:20] ITD27M01 commented on #1223
@jichenjc
After a little research, I realized that the kuryr-kubernetes way is not suitable for this. They have used the new features for speedup/make it more convenient things but there are no things about backward compatibility.

I suggest failing if there is no availability zone support on the API side with a readable error. It will simplify the code and helps the operators during the cluster c

[2020-09-21 22:37] gman0 opened #1232 "[manila-csi-plugin] Update external-provisioner to v2.0.2"
We'll need to update manila-csi-plugin's external-provisioner. Currently used v1.4.0 is not compatible with v1beta1 snapshots https://github.com/kubernetes/cloud-provider-openstack/pull/1205

/kind feature

[2020-09-22 00:50] jichenjc commented on #1080
/remove-lifecycle stale

[2020-09-22 01:41] jichenjc commented on #1065
[code]

[code]

so we are using mount path directly instead of using /dev/vdx ... @mape90 @ramineni
if you agree I think we can close this issue as the path is from mount place directly from my test

[2020-09-22 01:47] jichenjc commented on #1223
I agree this is a better way to handle ,and it's the way micorversion version should work

I agree we should try v2.60 first, then if it's not supported, either report to ask user increase version (e.g the openstack is too old) or ignore the error but not support the feature

[2020-09-22 08:00] ITD27M01 commented on #1223
I think it is the worst solution because the user (a cluster operator) will expect some behavior but don't get it because OCCM silently decides on their own what to do. If you check, you will not find such usage of microversion. The primary goal of it is to maintain backward compatibility on the server-side, not on the client-side in this way:

The reason why the microversion capability is used on

[2020-09-22 11:29] #1230 closed

[2020-09-23 00:44] jichenjc commented on #1223
ok, I think it's reasonable, if we can't achieve what we want customer want to do, give explicit error in this case .. thanks for the detailed description above

[2020-09-23 01:26] lingxiankong commented on #1223
@jichenjc Just FYI, OCCM supports to check Octavia version, please check https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/util/openstack/loadbalancer.go#L90

[2020-09-23 06:13] lingxiankong commented on #1220
Hi @dr4Ke , may I know what do you mean by `A manually configured barbican TLS secret`?

[2020-09-23 07:03] ITD27M01 commented on #1223
@lingxiankong
Thank you for pointing it out. Half of work already done. I am confused by the fact that the parameters are simply ignored if the feature is not supported. But I will be satisfied with the warning message:

[code]

[2020-09-23 10:37] kayrus commented on #993
/remove-lifecycle stale

[2020-09-24 03:10] elgamal2020 commented on #446
Hello,
I would need your help
I have the same problem in all in one cluster

ubuntu@external2:/etc/kubernetes/octavia-ingress-controller$ kubectl logs octavia-ingress-controller-0 -n kube-system
W0924 03:08:40.373027       1 client_config.go:608] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
time="2020-09-24T03:08:40Z" level=info msg="Using conf

[2020-09-24 03:27] jichenjc commented on #1065
/close

per above comments, if you have question and different suggestion, feel free to reopen

[2020-09-24 03:27] #1065 closed

[2020-09-24 03:51] jichenjc commented on #913
/assign
maybe we can refer to #1178

[2020-09-24 03:56] #912 closed

[2020-09-24 06:36] seanschneeweiss commented on #1167
/kind bug

[2020-09-24 11:03] alanbchristie opened #1237 "[cinder-csi-plugin] nodeplugin DaemonSet doesn't tolerate taints"
/kind bug

**What happened**:
When deploying applications to Kubernetes nodes that contain **taints** the volume binding fails. The nodeplugin driver is not installed on the node because its controlling `DaemonSet` has no **tolerations**.

I believe that a _typical_ solution, for globally useful Pods like the nodeplugin, would be to add a _wildcard_ toleration to the `DaemonSet` that allows the Po

[2020-09-24 17:09] elgamal2020 opened #1239 "single node cluster "error because no members in pool""
Hello,

I have a  problem similar to https://github.com/kubernetes/cloud-provider-openstack/issues/446#

in a single node cluster
[code]

[2020-09-25 05:44] ramineni commented on #1237
@alanbchristie looks reasonable to me. Would you like to propose a PR?

[2020-09-25 06:09] ramineni commented on #1192
@peterrosell Where exactly  volume ID: `9dc29d58-3d78-47ff-b976-043d7e0be5b5` is mounted ? could you paste again which file in `by-id` corresponds to this volume  ?  It would be good to add one for HyperV here as did for other hypervisors, https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/util/mount/mount.go#L150

[2020-09-25 08:32] chrischdi opened #1242 "[occm] octavia does not update members on multi-port service edge case"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* created a service type `LoadBalancer` having 2 ports defined
* patched the service type `LoadBalancer` and removed one port, removed the nodePort of the leftover port
* occm reconciles and does not update the members, they will still refer the old/outdated nodePort (for details see below)

**What you expected to happen

[2020-09-25 08:36] peterrosell commented on #1192
The problem is that the id that shows up under `by-id` is the serial number of the disk and that's what you expect to be in the metadata's `devices/serial`, but it isn't. It contains the Openstack uuid of the volume. Instead I tried to use the last number in the address and concatenate it with `lun`, but that doesn't always seem to work.
I have now got an answer from hosting company's Openstack pr

[2020-09-25 19:04] andelhie opened #1244 "[cinder-csi-plugin] Helm repo add is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Tried to add the helm repo per the doc

**What you expected to happen**:
The helm repo should be added

**How to reproduce it**:
[code]

**Anything else we need to know?**:
I got this error.
[code]

**Environment**:
- Others: Helm version.BuildInfo{Version:"v3.3.4", GitCommit:"a61ce5633af99708171414353ed49547cf05013d", G

[2020-09-26 11:15] lingxiankong commented on #1244
@brtknr Could you please take a look? Same error for me.

[2020-09-27 21:23] lingxiankong commented on #1242
/assign

[2020-09-28 01:08] #1223 closed

[2020-09-28 03:51] jichenjc commented on #1215
I think the code is merged, we can close this one...
/close

[2020-09-28 03:51] #1215 closed

[2020-09-28 03:52] jichenjc commented on #1244
I guess it's caused by
https://github.com/kubernetes/cloud-provider-openstack/pull/1191

and I remember we had a PR fixed it but failed to find where it is ..

[2020-09-28 03:53] jichenjc commented on #1237
@alanbchristie yes, a PR for this would be good
and please update helm charts as well... thanks

[2020-09-28 03:57] jichenjc commented on #1244
https://github.com/kubernetes/cloud-provider-openstack/issues/1202 is the simliar bug

[2020-09-28 10:28] brtknr commented on #1244
The issue has been addressed, index.yaml was generated this morning: https://github.com/kubernetes/cloud-provider-openstack/blob/gh-pages/index.yaml so this should work now. Please close the issue.

[2020-09-28 10:28] brtknr commented on #1202
The issue has been addressed, index.yaml was generated this morning: https://github.com/kubernetes/cloud-provider-openstack/blob/gh-pages/index.yaml so this should work now. Please close the issue.

[2020-09-28 10:30] lingxiankong commented on #1244
@andelhie Hi, could you try again and see if it works? Thanks.

[2020-09-28 10:42] JPRbrs commented on #1202
I can confirm it works now, thanks!!

[2020-09-28 10:51] isantospardo commented on #1202
Hi, when trying to use helm, I see the same issue, is there any known workaround for this?
`helm pull  --repo https://github.com/kubernetes/cloud-provider-openstack.git charts/`
Error:
`Error: looks like "https://github.com/kubernetes/cloud-provider-openstack.git" is not a valid chart repository or cannot be reached: failed to fetch https://github.com/kubernetes/cloud-provider-openstack.git/index.

[2020-09-28 10:53] brtknr commented on #1202
That is not how you use it. Please see instructions on https://kubernetes.github.io/cloud-provider-openstack

[2020-09-28 10:54] isantospardo commented on #1202
Yes, but I would like to pull this helm chart using argo-cd, if it would be possible, that is why I am doing this, just in case there is a workaround.

[2020-09-28 10:55] brtknr commented on #1202
Then try `helm pull https://kubernetes.github.io/cloud-provider-openstack`

[2020-09-28 11:52] Chivolta opened #1248 "[cinder-csi-plugin] Problem with multiattach volume type"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During dynamic provisioning via Kubernetes, I'm getting error:
[code]
I'm using storage class like that:
[code]

Result of openstack volume show id
[code]

**What you expected to happen**:
Multiattach mode works.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-

[2020-09-28 12:37] ramineni commented on #1248
@Chivolta could you share the cinder-csi-plugin container logs with verbose enabled --v=5 .

[2020-09-28 13:07] Chivolta commented on #1248
[code]

[2020-09-28 13:16] ramineni commented on #1248
@Chivolta This doesnt seem to be plugin issue, please check the instance state 'b2f72dcc-eac0-4523-ac3f-f33c8ccec245'

[2020-09-28 16:48] andelhie commented on #1244
@lingxiankong looks to be working again thank you all.

[2020-09-28 16:48] #1244 closed

[2020-09-29 09:47] Chivolta commented on #1248
[code]

[2020-09-29 10:01] ramineni commented on #1248
@Chivolta Please attach node-plugin, cinder-csi container logs with verbose enabled

[2020-09-29 10:10] Chivolta commented on #1248
Logs from all containers with --v=5 flag set.
kubectl logs openstack-cinder-csi-controllerplugin-0 --all-containers
[code]

On node where is multiattach error.
kubectl logs openstack-cinder-csi-nodeplugin-jfpmw --all-containers

[code]

[2020-09-29 12:24] evildevel opened #1250 "[octavia-ingress-controller] Could not retrieve certificate"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I create an Ingress resource (TLS encryption) and get error (see logs from "octavia-ingress-controller")
[code]

Logs from "octavia-ingress-controller" in "octavia-ingress-controller-0"
[code]

Logs from "/var/log/octavia/octavia-api.log"
[code]

Logs from "/var/log/apache2/keystone.log"
[code]

**Environment**:
- openstac

[2020-09-29 13:34] ramineni commented on #1248
@Chivolta This error is not raised by the cinder driver , raised with Attach Detach Controller, check here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L319 . looks like raised intentionally , could you check if applicable. I will take deeper look at the issue tomorrow.

[2020-09-29 13:52] dr4Ke opened #1251 "Use the right subnet for security group rules with octavia and loadbalancer.openstack.org/class"
Currently, the security group attached to the cluster nodes allows the **default** subnet CIDR.

https://github.com/kubernetes/cloud-provider-openstack/blob/5888bc5002720525d9bedca42da3d0ccbd76ac25/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L2247

When using the `loadbalancer.openstack.org/class` annotation, one can specify other subnets, see configuration below. In this case,

[2020-09-30 05:42] ramineni commented on #1202
/close
Helm repo is working now as confirmed above.
@isantospardo you can raise new issue , if you are still having issues.

[2020-09-30 05:42] #1202 closed

[2020-09-30 10:10] jichenjc commented on #1248
I think the logs printed from
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L261

so
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L238

returned false, but this is not something we want?

thus we need compare
https://github.com/kubernetes/kubernetes/blob/master/pkg

[2020-09-30 12:38] Denissa89 opened #1253 "openstack-cloud-controller-manager does not print the current version"
/usr/local/bin/openstack-cloud-controller-manager --version.
Gives a blank line, although a binary version is expected
version: 1.19.0, linux-amd64

[2020-09-30 14:52] lingxiankong commented on #1253
can't reproduce. Please provide more information, e.g. steps to reproduce.

BTW, the path of occm is `/bin/openstack-cloud-controller-manager` inside the container.

[2020-09-30 15:19] lingxiankong commented on #1251
Hi, not sure if you already have, but please have a look at the description for option `manage-security-groups` in https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-openstack-cloud-controller-manager.md,  when `use-octavia` is enabled, `manage-security-groups` should be false.

[2020-10-01 07:08] dr4Ke commented on #1251
Hi. I did, indeed. But I find it weird. How do you filter access to the nodeports if you don't manage security groups? I don't like very much the idea of all nodeports being exposed, even though it's only for the subnet.

This page says that it's not supported to manage security groups with octavia, yet it is still possible to do. I guess we should disable it completely for octavia or support it c

[2020-10-01 07:15] dr4Ke commented on #1251
I may be a little paranoid, but I imagine something like a human error (or just not enough knowledge) leading to expose an internal service (a DB, for example) through a nodePort service inside a cluster. This DB should not be accessed from anywhere else than the cluster itself, by an app exposing a frontend (preferably with end-to-end TLS). Now the DB is accessible from the openstack subnet too,

[2020-10-01 09:02] lingxiankong commented on #1251
I need to understand better about your tenant deployment model. If you don't trust all the apps running in the same subnet, why not just splitting them in different subnets?

[2020-10-01 09:15] lingxiankong commented on #1251
When using Octavia, the goal is to allow amphora (in the same subnet of work nodes) to access the NodePort.

[2020-10-01 10:10] ramineni commented on #1248
@Chivolta Could you check the above and let us know if it resolves your issue?

[2020-10-01 10:56] #1194 closed

[2020-10-01 12:49] gman0 commented on #1232
Done in https://github.com/kubernetes/cloud-provider-openstack/pull/1205. Closing.

[2020-10-01 12:49] #1232 closed

[2020-10-01 15:30] Chivolta commented on #1248
Yes. It works now. You are right. I used glusterfs earlier and it worked, but kubernetes version was old too. Anyway, thank you.

[2020-10-01 15:30] #1248 closed

[2020-10-02 11:56] lingxiankong commented on #1250
Hi, the only thing suspicious is:

[code]

Are you using trust identity in octavia-ingress-controller config?

[2020-10-02 12:53] evildevel commented on #1250
[octavia-ingress-controller]
user-id: addc8b12915043da8d1ee9dbe5e8a830
trust-id: 91326f347a2d49e0bb3bc7cec87a12b7

[code]
[code]
[code]
user "d3ac14c5568142db9dd5158c85cc92af" - creator k8s cluster

Why is "trust" (91326f347a2d49e0bb3bc7cec87a12b7) not taken into account when executing a request to create a listener via Octavia?

[2020-10-02 16:45] jah23 opened #1257 "[occm] CrashLoopBackOff runtime: mlock of signal stack failed: 12"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CrashLoopBack with error;
[code]

**What you expected to happen**:
I expect it should run.

**How to reproduce it**:
Install charmed-kubernetes in Openstack.

**Anything else we need to know?**:
There seems to be a lot of similar issues with Go1.14 on Focal. The reported kernel version 5.4.0-48-generic #52-Ubuntu, which I

[2020-10-03 03:12] lingxiankong commented on #1250
I've fixed the same issue for neutron client in Octavia before, but not for barbican client, ref: https://storyboard.openstack.org/#!/story/2007619

[2020-10-03 03:59] elgamal2020 commented on #407
What is the setting of external_openstack_network_public_networks: ?

The floating ip Network ?

[2020-10-03 11:16] oz123 opened #1258 "[occm] examples for cloud-controller use deprecated API flags"
* openstack-cloud-controller-manager (occm)

/kind bug

**What happened**:

The files:
[code]

Use the command line option `--address` which is actually deprecated, and should be replaced
with `--bind-address`.

**What you expected to happen**:
The manifests should use the newer options.

Will you accept a PR for fixing this?

[2020-10-03 13:55] Denissa89 commented on #1253
`wget https://github.com/kubernetes/cloud-provider-openstack/releases/download/v1.19.0/cloud-provider-openstack-v1.19.0-linux-amd64.tar.gz
tar -xzf cloud-provider-openstack-v1.19.0-linux-amd64.tar.gz && cd linux-amd64
./openstack-cloud-controller-manager --version`

[2020-10-05 14:25] evildevel commented on #1250
@lingxiankong Thanks! Can you fix this problem? I would be very grateful to you.

[2020-10-05 21:04] Fedosin opened #1260 "[cinder-csi-plugin] use-clouds config option is ignored"
/kind bug

**What happened**:

In cinder csi driver config file there is the option "use-clouds" that allows to read credentials from `clouds.yaml` file:
https://github.com/kubernetes/cloud-provider-openstack/blob/94b377e1f4e59711b1b2835fbe6206b91e34657d/pkg/cloudprovider/providers/openstack/openstack.go#L219

When I set the value to true nothing happens and cinder csi driver doesn't read data fro

[2020-10-06 01:41] lingxiankong commented on #1250
Unfortunately, I have no extra bandwidth for fixing that, you can either add your comment in that issue or ask someone in the Octavia team for help.

Anyway, I will close this issue as it's actually an Octavia bug.

[2020-10-06 01:41] #1250 closed

[2020-10-06 04:42] #1260 closed

[2020-10-06 09:32] lingxiankong commented on #1258
I didn't even find `--address` in https://kubernetes.io/docs/reference/command-line-tools-reference/cloud-controller-manager/? Is this a valid option?

[2020-10-06 09:37] lingxiankong commented on #407
I am not sure where is `external_openstack_network_public_networks` coming from.

[2020-10-06 09:41] lingxiankong commented on #1257
Have you tried v1.19.1 which is using Go 1.15?

[2020-10-06 10:00] oz123 commented on #1258
The logs say it's deprecated and should be replaced with `--bind-address`. That's why the issue.

[2020-10-06 10:46] lingxiankong commented on #1258
ok, thanks for the info, feel free to propose a PR please

[2020-10-06 13:06] jah23 commented on #1257
Thanks. I expect this would solve it, but it is not so easy to test. Problem here appears to be not with occm, sorry. It is the cdk_addons snap (from openstack-integrator) which is pinning the version to 1.18.0

[2020-10-06 14:25] ricolin commented on #883
/remove-lifecycle stale

[2020-10-06 17:14] greenren commented on #1251
Hi, I'm also trying to set up security groups for Octavia to access specific NodePorts. Still figuring out what's possible from the cloud provider, so this discussion is quite useful.

I thought this PR did allow for this functionality: https://github.com/kubernetes/cloud-provider-openstack/pull/491  In the example both `use-octavia` and `manage-security-groups` are true. Am I missing something, @

[2020-10-06 20:23] lingxiankong commented on #1257
OK, thanks for confirming @jah23, so do you mind we closing this issue for now?

[2020-10-06 22:46] kayrus opened #1265 "[cinder-csi-plugin]: "context deadline exceeded" on a resize action"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

During the resize action the following error occurred: `resize volume pv-test-11894292-abbf-4200-953d-24247c081184 failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

However the volume was resized and further attempts failed with an error: `resize volume pv-test-11894292-abbf-4200-953d-24247c08

[2020-10-07 00:03] kayrus commented on #407
I think this issue was covered by #884 and #1041

[2020-10-07 00:35] kayrus commented on #1098
/remove-lifecycle stale

[2020-10-07 00:47] kayrus commented on #1098
@jianglingxia `blkid` is executed inside the nodeplugin daemonset container. can you show your daemonset manifest?
@ramineni I think this is a good example of why using `exec` in go is not a good idea. ref https://github.com/kubernetes/cloud-provider-openstack/pull/861#discussion_r359881506

[2020-10-07 01:12] berndbausch opened #1268 "[cinder-csi-plugin] doc is seriously broken"
/kind bug

**What happened**:

Several issues with the documentation page.
- From https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/using-cinder-csi-plugin.md#multi-attach-volumes on, lots of formatting errors.
- Multi-attach doesn't appear in the TOC.
- Sections "*Running Sanity Tests*" and "*Using CSC Tool*" are missing entirely.

**What you expected to ha

[2020-10-07 01:21] berndbausch opened #1269 "[cinder-csi-plugin] request for "how it works" documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

n/a

**What you expected to happen**:

I am playing with the CSI plugin and, miraculously, got it to work. A second setup, however, doesn't work. When creating a PVC, no APIs are issued to my OpenStack cloud.

I look at the containers' logs, but since I don't know what is supposed to happen, it's hard to get any clue. In order to t

[2020-10-07 05:06] ramineni commented on #1268
@berndbausch should be fixed by this PR https://github.com/kubernetes/cloud-provider-openstack/pull/1254

[2020-10-07 05:56] #1258 closed

[2020-10-07 08:57] jah23 commented on #1257
Yes closing this. I raised with the cdk-addons folk. Many thanks!

[2020-10-07 08:57] #1257 closed

[2020-10-07 12:31] dr4Ke opened #1270 "Use node-role label "worker" for pool members when available"
To my knowledge, this should be done in `openstack-cloud-controller-manager` and `octavia-ingress-controller`.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In a v1.19 kubernetes cluster, all nodes are considered members except those which have the `node-role.kubernetes.io/master` label.

**What you expected to happen**:

The `node-role.kubernetes.io/worker` la

[2020-10-07 12:36] dr4Ke commented on #1251
For now, this controller considers that it's our responsibility to allow access to all nodeports from the LB subnet(s).

[2020-10-07 12:42] dr4Ke commented on #1251
Well, we have already several subnets in our tenant. One is dedicated to the cluster nodes, another to the publicly exposed load balancers, and another to a private network shared with other tenants for internally published services. I know it's a bit uncommon.

Nevertheless, I think if we had correct security groups management, it would allow any kind of deployment and be more secure by default.

[2020-10-07 13:10] isantospardo opened #1271 "[cinder-csi-plugin] bad formatting using-cinder-csi-plugin.md"
/kind feature

**What happened**:
Bad formatting of the
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/using-cinder-csi-plugin.md file

[2020-10-07 13:14] isantospardo commented on #1271
Probably fixed in https://github.com/kubernetes/cloud-provider-openstack/pull/1254

[2020-10-07 13:14] #1271 closed

[2020-10-08 10:42] dr4Ke opened #1273 "[occm] LB conflict with multiple clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We deployed 2 clusters in the same openstack project. In both, we deployed the same application within the same namespace. It resulted with only one LB creation, both controllers considering it is theirs. Moreover, when removing one of these applications, the LB was removed too.

**What you expected to happen**:

2 LB sh

[2020-10-08 12:28] lingxiankong commented on #1273
Please specify different cluster names for openstack-cloud-controller-manager, `--cluster-name=<cluster-name>`

[2020-10-08 12:28] #1273 closed

[2020-10-08 13:02] dr4Ke commented on #1220
I meant using the openstack cli using this scenario for example:
https://docs.openstack.org/octavia/latest/user/guides/basic-cookbook.html#deploy-a-tls-terminated-https-load-balancer

[code]

[2020-10-08 13:24] dr4Ke commented on #1273
Oh. I overlooked that parameter. Sorry for the noise.

[2020-10-09 08:49] #1253 closed

[2020-10-11 01:14] lingxiankong commented on #1269
I would recommend you to read https://kubernetes-csi.github.io/docs/, the question you were asking is not cinder-csi-plugin specific.

[2020-10-11 01:14] #1269 closed

[2020-10-11 05:23] lingxiankong commented on #1270
For openstack-cloud-controller-manager, the nodes (load balancer members) are passed from the official cloud-controller-manager when creating external load balancers. If you want to customize the load balancer members, you can consider using `ServiceNodeExclusion` feature gate.

For octavia-ingress-controller, what we could do is to copy the way that cloud-controller-manager gets the nodes.

[2020-10-11 07:52] lingxiankong commented on #1251
Do you mean all your tenants are using one single subnet for the k8s cluster nodes?

[2020-10-11 08:01] lingxiankong commented on #1220
In this command

How did you generate the cert.pem and key.pem?

[2020-10-11 08:17] dr4Ke commented on #1220
The key was generated with openssl. The cert.pem is the "fullchain" given by lets encrypt after a successful challenge.

I will check again everything, and provide more precise information.

[2020-10-12 04:06] ramineni commented on #1020
/remove-lifecycle stale

[2020-10-12 04:22] #1265 closed

[2020-10-12 05:21] arivatibm commented on #203
I have the same issue that suddenly started a couple of weeks ago
have not changed anything in my code
installing mercurial does not help
any other solutions?

this is the error I'm seeing:

[code]

[2020-10-12 05:44] lingxiankong commented on #203
@arivatibm Please provide steps to reproduce.

[2020-10-12 07:12] #1268 closed

[2020-10-12 11:18] arivatibm commented on #203
although not sure why this issue started to appear yesterday - the solution for me was to change the versions I used in go.mod

from:

	github.com/open-cluster-management/multicloud-operators-channel v0.0.0-20200326020623-ff347c2da37c
	github.com/open-cluster-management/multicloud-operators-deployable v1.0.0
	github.com/open-cluster-management/multicloud-operators-placementrule v1.0.0
	github.com/

[2020-10-15 20:07] bgagnon opened #1275 "Missing git tags for v1.18.1, v1.18.2"
According to the [release procedure](https://github.com/kubernetes/cloud-provider-openstack/blob/master/release-procedure.md), Git tags should be pushed to GitHub before the container images are pushed to DockerHub.

On https://hub.docker.com/r/k8scloudprovider/openstack-cloud-controller-manager/tags, there are Docker image tags for `v1.18.1` and `v1.18.2` but no tags in Git.

Furthermore, there a

[2020-10-15 20:09] bgagnon commented on #1275
Related issue: #1184

[2020-10-15 20:38] lingxiankong commented on #1275
Thanks @bgagnon for raising this issue, I've also realized that I forgot to create new tags when uploading those images.

/assign

[2020-10-15 23:12] lingxiankong commented on #1275
All done.

[2020-10-15 23:12] #1275 closed

[2020-10-16 16:12] claudiubelu opened #1278 "auto-healer: node MachineID is not always Openstack instance UUID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, the magnum auto-healer works with the assumption that the node's MachineID == Openstack Instance UUID. However, that is not always the case, not all hypervisors pass the ``instance.uuid`` to the VM's SMBIOS as libvirt does, and not all OSes rely on the MachineID / ``/etc/machine-id`` (e.g.: Windows VMs).

The

[2020-10-19 15:38] gman0 opened #1280 "[manila-csi-plugin] Add an option to set share metadata when creating a new volume"
Add an option to set share metadata when creating a new volume. This was implemented for the (now deprecated) Manila external provisioner, but not for manila-csi.

Related PR: https://github.com/kubernetes/cloud-provider-openstack/pull/782

/assign

[2020-10-19 15:43] gman0 opened #1281 "[manila-csi-plugin] Helm chart backport push failed"
We backported a fix for manila-csi Helm chart into v1.19 branch (PR https://github.com/kubernetes/cloud-provider-openstack/pull/1255), but `git push` failed. See https://github.com/kubernetes/cloud-provider-openstack/runs/1207267400?check_suite_focus=true

[code]

Is there anything we could do about this?

cc @brtknr @ramineni

/kind bug

[2020-10-19 15:44] gman0 commented on #1280
/kind feature

[2020-10-20 03:08] elgamal2020 opened #1282 "[cinder-csi-plugin] cant connect to openstack (no route to host)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I have two system installed via Kubespray , once can connect and have cinder volumes correctly fucntioning and the other cant connect to openstack

I increased the log to 5 and no much data was seen

I tried both deployment and stateful set
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything e

[2020-10-20 05:05] elgamal2020 commented on #1282
Also , in TCPdump via the pod calico interface , I can see it tries to reach multiple times towards the openstack

[code]

[2020-10-20 12:45] #1074 closed

[2020-10-22 06:55] #1237 closed

[2020-10-22 15:46] isantospardo opened #1284 "[manila-csi-plugin] Fix whitespaces and invalid dot"
/kind bug

**What happened**:

Chart removes whitespace too aggressively in
https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml#L138-L149

and

https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml#L128-L139

I saw this when trying to set `.V

[2020-10-22 22:44] lingxiankong commented on #1282
Not sure it's related to cinder-csi-plugin, seems like networking issue.

[2020-10-23 05:47] #1242 closed

[2020-10-23 05:48] #836 closed

[2020-10-23 08:13] elgamal2020 commented on #1282
I can ping and connect via an openstack client from the node
How can and confirm that networking is functioning properly from the cinder pod?
How can I troubleshoot it so it gives more information?

Thanks a lot
Best Regards

[2020-10-23 08:46] jichenjc commented on #1282
auth URL is ` http://172.18.234.183:5000/v3/` s

Failed to GetOpenStackProvider: Post "http://172.18.234.183:5000/v3/auth/tokens": dial tcp 172.18.234.183:5000: connect: no route to host

host-10-100-16-21.openstacklocal > 10.233.102.22: ICMP host 172.18.234.183 unreachable,

looks like the pod is not able to reach openstack as mentioned above
1) check firewall
2) check whether other pods can reac

[2020-10-23 09:20] elgamal2020 commented on #1282
I have checked from the node where the CSI plugin is installed , I have an openstack client installed and I can connect to openstack as shown below

Also firewalls is incative

$ openstack server list
+--------------------------------------+-----------+--------+----------------------------------------------------------------------------+------------------------------------+--------+
| ID

[2020-10-23 09:35] jichenjc commented on #1282
I suspect `172.18.234.183` is the openstack running on and you have `172.18.234.204` as one VM
is 172.18.234.183 and 172.18.234.204 reachable to the node you are running on？

[2020-10-23 09:44] elgamal2020 commented on #1282
[code]

[2020-10-23 19:01] bgagnon opened #1287 "[occm] PROXY protocol breaks connections from inside the cluster"
/kind bug

This is a manifestation of kubernetes/kubernetes#66607. When a service of type `LoadBalancer` is exposed via an IP address (which is the case for OCCM), iptables rules "optimize" the traffic and send the packets directly to the underlying pods.

The problem is that:
* the client isn't aware it needs to send the `PROXY` header (it may not even be capable of doing that)
* the server, per

[2020-10-24 05:03] elgamal2020 commented on #1282
You were absolutely right , it was a network problem where I found your guidance very appreciated

So the network issue is originated from the fact that I got 2 interfaces on the node

[code]

and connection towards to openstack should go via eth0 which is second in ip route

so modifying the metrics of second default route make it working

[code]

As I am using ubuntu20 , the change is to be done

[2020-10-24 05:03] #1282 closed

[2020-10-26 01:21] jichenjc commented on #1282
glad it works for you :)

[2020-10-26 03:21] yylt opened #1288 "[k8s-keystone-auth] Should be unauthorized if extra info is nil"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Authorize passed even if the user group is "system:unauthenticated",

auth policy configure

[code]

**What you expected to happen**:

Authorize should be rejected if the token which seted in http header is not recognized by keystone

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- opens

[2020-10-26 13:23] #1284 closed

[2020-10-26 14:55] dr4Ke commented on #1251
No, we have a k8s cluster in one tenant. Its nodes are on a private subnet. We deploy a LB to the service in another network in this tenant. This network is then used by other tenants to access the service through the loadbalancer instead of using a floating IP in the public network.

[2020-10-26 15:20] bgagnon commented on #1287
Digital Ocean experienced the same issue in its own cloud provider. Their workaround was to introduce a new annotation, `service.beta.kubernetes.io/do-loadbalancer-hostname`, which allows the user to specify a domain under which to expose the LB. By filling the `.Hostname` field of the status instead of `.IP`, they effectively bypass this problem.

I propose the Openstack provider should have a si

[2020-10-27 08:53] jichenjc commented on #1287
good suggestion , should we consider to wait for KEP or refer to
https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/cloud-controller-manager/do/loadbalancers.go#L334 and implement our own?

seems reasonable to implement it first...

[2020-10-27 13:44] ramineni commented on #987
/remove-lifecycle rotten

[2020-10-28 08:55] jichenjc commented on #1287
@lingxiankong do you think we can add this into `ensureLoadBalancer` function according to above comments?
especially refer to DO implementation linked above..

[2020-10-28 12:52] zetaab opened #1293 "[cinder-csi-plugin] Not possible to use cinder CSI with multiple AZs"
**Is this a BUG REPORT or FEATURE REQUEST?**: Not possible to use multiple AZs with cinder CSI. I have computes in zones called helpo, helpa, helpe. Also I do have volume zones called helpo, helpa, helpe. Similar setup that AWS has, volumes can be mounted inside zone only. This means that PV object should have zone labels added.

I am using following storageclass:

[code]

However, this do have 2

[2020-10-28 13:02] zetaab commented on #1293
tried to add following to storageclass but it does not help:

[code]

[2020-10-28 13:51] zetaab commented on #1293
ok, seems that we need still use feature flag in external provisioner. So the instructions in https://github.com/kubernetes/cloud-provider-openstack/blob/14bcf687478607d083c0b472613c54cdb6df895b/docs/cinder-csi-plugin/features.md#topology is incorrect. I do have 2.0.3 provisioner and still topology is behind feature flag (the instruction says "From the external-provisoner v1.6.0 , its enabled by d

[2020-10-28 13:58] #1293 closed

[2020-10-29 00:18] lingxiankong commented on #1288
If the token is not correct, it should fail early at the authentication phase.

[2020-10-29 00:26] lingxiankong commented on #1251
OK, so why it's not acceptable to open 30000-32767 to this private subnet?

[2020-10-29 01:09] lingxiankong commented on #1287
any PoC available for OCCM?

[2020-10-29 05:12] #1280 closed

[2020-10-29 05:16] ramineni commented on #1281
@brtknr could you have a look at this ?

[2020-10-29 08:40] seanschneeweiss opened #1294 "[occm] insert_headers always in Update Listener body"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When the CCM updates an existing listener, the `insert_header` is always part of the JSON body send to the OpenStack API, even if there is no change for `keepClientIP` or `loadbalancer.openstack.org/x-forwarded-for` annotation.

**What you expected to happen**:
Would expect to only have updated fields in the body of the L

[2020-10-29 08:56] seanschneeweiss commented on #1167
/remove-kind feature

[2020-10-29 11:41] ramineni commented on #1293
@zetaab As per release notes here , https://github.com/kubernetes-csi/external-provisioner/blob/release-1.6/CHANGELOG-1.6.md#release-notes-for-v160-changelog-since-v150

I assumed it should be enabled by default, Ill check this again and update the doc. Thanks for reporting issue.

[2020-10-30 05:27] zetaab commented on #1287
I can try to do this later today

[2020-10-30 06:20] zetaab commented on #1287
Ok here it goes:

Starting situation, we do have ingress-controller exposed using proxy protocol (octavia). Traffic from outside cluster works fine to ingress:

[code]

However, when trying from inside the cluster it does not work, like this issue describes:

[code]

First I tried could we just copy ip address to hostname field, it do have validation:

[code]

The next thing that I tried is to use

[2020-10-30 06:28] zetaab opened #1298 "[occm] multi AZ support (without L2 connectivity) for octavia"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature

/kind feature

**What happened**: Now when octavia do have AZ support when provisioning loadbalancers, could we support somekind of topologies when doing loadbalancers? Example: 3 network AZs without L2 between them, which means that floatingips does not move between zones.

**What you expected to happen**:

I have been thinking to situation t

[2020-10-30 08:07] jichenjc commented on #1287
I think there is KEP-1860 mentioned above which will solve the problem
so the solution will be a temporary solution ,guess reasonable to have it then remove it once
KEP is implemented?

[2020-10-30 09:20] yylt commented on #1288
correct, but apiserver also support '--anonymous-auth' option,  so the group `system:unauthenticated` will see at authorize step

[2020-10-30 09:39] yylt opened #1299 "[k8s-keystone-auth] [Feature Request] use selector to update auth policy configure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Now we have to update configmap or file  which setted in args if want to add or remove some policy, but it is so uncomfortable

**What you expected to happen**:
when add new configmap, keystone auth policy updated synchronous

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack

[2020-10-30 13:12] bgagnon commented on #1287
I should have mentioned this earlier... we have a working patch in our internal fork of this project. We've been running it in production for a couple weeks now with success. It uses the `.nip.io` approach, controlled by an annotation:

[code]

And then changes the status object based on that:

[code]

I just wanted to validate the design with the community before submitting a PR. Some improvement

[2020-10-30 13:14] bgagnon commented on #1287
@jichenjc yes, ideally we go for a design that will gracefully evolve to accommodate KEP-1860 once it is implemented

[2020-10-30 15:14] zetaab opened #1300 "[cinder-csi-plugin] IgnoreVolumeAZ does not work for volumes with Topology"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

 /kind bug

**What happened**:  I am testing this new topology thing in two different openstack. In one openstack I have setup where I have 3 compute azs (zone-1, zone-2, zone-3) and 1 volume az (nova). I should be able to use IgnorevolumeAZ option (https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/open

[2020-10-30 15:33] zetaab commented on #1300
https://github.com/zetaab/cloud-provider-openstack/commit/46cb0d6f5238d025c325089d31f30fc9da1137bd with this, its possible to provision volume correctly to zone called nova. However, it will add nodeaffinity things to pv -> provisioning does not work because there is no nodes in zone called nova. Instead zone-1, zone-2 and zone-3

[code]

If I understand this correctly, this nodeAffinity thing is

[2020-10-30 15:34] zetaab commented on #1300
/kind bug

[2020-10-31 14:18] khangfsf commented on #1056
You can use cinder-csi-plugin v1.19.0 with magnum-auto-healer, it resolved this issue in my lab.

[2020-11-01 09:44] zetaab commented on #1300
Like discussed in external-provisioner issue: Maybe the best way to handle this is that we disable topology support from cinder-csi-plugin if IgnorevolumeAZ is true

[2020-11-02 01:26] jichenjc commented on #1056
@amitbhatia1987 can you help to check whether above comment can fix your issue? Then we can close this ..

[2020-11-02 03:16] jichenjc opened #1301 "[cinder-csi-plugin] consider cert-manager for CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

https://cert-manager.io/docs/usage/csi/ consider whether we can adopt this into our CSI implementation
**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-11-02 03:16] jichenjc commented on #1301
/assign

[2020-11-02 03:31] jichenjc commented on #1300
seems something has been addressed previous issue https://bugzilla.redhat.com/show_bug.cgi?id=1500776
and I think it make sense that `we disable topology support from cinder-csi-plugin if IgnorevolumeAZ is true`

[2020-11-02 10:31] lingxiankong commented on #1288
Looked at your policy config again:

[code]

You have this `resource_permissions` defined but without `users`, so that means any user (including those in system:unauthenticated group) is able to access clusters/namespaces.

[2020-11-02 10:51] lingxiankong commented on #1287
@zetaab thanks for testing, @bgagnon thanks for the PoC code. They are very helpful.

Instead of using `loadbalancer.openstack.org/proxy-protocol-hostname-suffix: nip.io`, can we just use something like `loadbalancer.openstack.org/proxy-protocol-enable-hostname: "true"` and use `nip.io` implicitly? I don't think the user has many other options to define the suffix.

[2020-11-03 12:53] zetaab opened #1304 "[occm] not able to use loadbalancers with big cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG
/kind bug

**What happened**: I have cluster which has 160 nodes and I am trying to use loadbalancer. However, its not working

[code]

Does anyone has idea how big clusters can be even used in openstack? Is this tested regurarly?

**What you expected to happen**: I expect that I could use loadbalancers also in big clusters.

**How to reproduce it*

[2020-11-03 20:14] lingxiankong commented on #1304
We don't have such information, unfortunately, 160 nodes is really a big cluster. Have you checked the octavia service log? What happened after adding 160 members?

[2020-11-03 20:15] lingxiankong commented on #1054
/remove-lifecycle stale

[2020-11-04 09:40] ramineni commented on #1300
@zetaab I guess we have two problems here when node and volume AZ are diff
1. 'availability' is ignored when Topology = true, which shouldn't be when node and volume AZ are different.
2. nodeAffinity is getting populated in PV with volumeAZ which shouldnt be

yes, we can make use of ignore-volume-az option , which is not currently supported by cinder-csi.
Let me check if I can get this fixed with

[2020-11-04 09:41] ramineni commented on #1300
/kind feature

[2020-11-04 13:59] baurmatt commented on #916
I think this should be fixed with #1213

[2020-11-04 15:47] johnyb79 commented on #1056
Thanks ! In my case  - to my big surprise I found a cronjob that was deleting volumes... , but next time it is not that case, I'll for sure check this out.

[2020-11-04 18:11] balleon commented on #1056
@johnyb79 Can you share it?

[2020-11-04 23:16] samos123 opened #1305 "occm: authentication failed lacks additional information needed to troubleshoot and causes fatal crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
authentication failed with no helpful error message and unable to exec into pod because the pod crashed

see:
[code]

**What you expected to happen**:
some helpful error message and ability to exec into the pod to troubleshoot

**How to reproduce it**:
have authentication fail when setting up oocm

**Anything else we need

[2020-11-04 23:50] samos123 opened #1306 "occm needs to support insecure certs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Trying to configure the openstack provider with a self-signed cert but it's very troublesome for a small PoC, there should be a flag to tell occm to allow insecure.

Getting following error right now even after specifying my self-signed CA....
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anyth

[2020-11-05 03:07] jichenjc commented on #1304
looks like the error happened with 1min time out
maybe 160 too big to be complete in 1 min ? maybe check split those to avoid http request timeout?

[2020-11-05 03:14] jichenjc commented on #1305
I think we showed
`Cloud provider could not be initialized: could not init cloud provider "openstack": Authentication failed`

have you tried to enable the log level from 1 to 5
then you will have info printed on what's the used stuffs to talk to openstack
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L240

I don't know what e

[2020-11-05 03:21] jichenjc commented on #1306
I don't know what happened here as it seems complaining about IP SANs or some others
I am also using self signed CA and seems works fine, not sure it's related to your CA issue?

[2020-11-05 06:58] yylt commented on #1288
yes， but keystone-auth-policy should handle user which belong to system:unauthenticated group?

It maybe had exceed it's duty

[2020-11-05 08:08] Bevisy opened #1308 "[k8s-keystone-auth]Policy rule matching is flawed and The authorization process needs to be optimized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. When the namespace in the authorization request is nil, getAllowed(nsDef, ns) will always pass the verification.
2. When the kubernetes cluster turns on anonymous authentication, the authentication will always pass, but the authorization request will not include the extra field, and keystone-auth will still perform auth

[2020-11-05 17:40] samos123 commented on #1306
Ignore that error. My main point is that it's way too much work to supply right certs etc for a quick PoC.. there should be an insecure option in occm so people don't have to bother with it if there isn't a need for it. I'm happy to contribute a PR for supporting insecure too but would like a maintainer first to confirm that such a feature would be accepted.

[2020-11-05 17:45] samos123 commented on #1305
It turned out to be an SSL issue because the ca cert wasn't supplied correctly. Also there are no docs on how to enable the log level from 1 to 5. Could you point me to the docs that specify which configuration parameter allows you to tweak log levels? I'm using this doc to install and configure OCCM: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controlle

[2020-11-05 19:49] samos123 commented on #1305
Hmm after solving the CA issue now hitting another issue but unable to troubleshoot even after changing logging level to 5 by tweaking the arguments. See logs below:
[code]

Really need more verbose errors since my config seems to be correct. This is my config:
[code]

am I missing something in my config?

[2020-11-06 00:01] jichenjc commented on #1306
I think it's reasonable ,as long as it's `non-default` so up to guys who want to test to configure and use it
but by default, we still need it to be secure

[2020-11-06 00:21] jichenjc commented on #1305
I suggest
1) make sure you existing stuffs workable in non-Cloud provider env (such as CLI) to make sure it is functional
2) check your deployment of OCCM, by default , it's https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml#L26 and you changed to `/etc/ssl/openstack/openstack-ca.pem` so I think that need to b

[2020-11-06 02:43] samos123 commented on #1306
yep I wouldn't want insecure to be the default either

[2020-11-06 02:46] samos123 commented on #1305
this is my deployment configuration:
[code]

[2020-11-06 02:55] jichenjc commented on #1305
ca-file=/etc/ssl/openstack/openstack-ca.pem

- name: openstack-ca-volume
        secret:
          secretName: openstack-ca

not sure those 2 align with each other

here's my configuration for my CSI configuration ( i didn't use it for OCCM now)
hope this helpful
[code]

[2020-11-06 04:01] jichenjc commented on #1305
ok, I found the doc talked about this cert set up, I will switch my OCCM to cert enabled env and give another try.. then paste info here

[2020-11-06 04:35] samos123 commented on #1305
I think the cert part is working now since before there was a clear SSL error message which got resolved after I updated to a correct cert. Now all I'm seeing is this generic authentication error

[2020-11-06 05:59] samos123 commented on #1305
Thanks to @jichenjc figured out the issue was due to tenant-id requiring the ID and doesn't allow specifying the name. It would be nice if there was a way to propagate the gopher authentication error somehow to the logs. Otherwise troubleshooting is almost impossible.

[2020-11-06 06:42] ramineni commented on #1141
/remove-lifecycle stale

[2020-11-06 06:43] jichenjc commented on #1305
https://github.com/gophercloud/gophercloud/blob/master/provider_client.go#L424 is the code that handle the error
I think nothing special we can do for this as gophercloud wrapped the error

[2020-11-06 06:52] ramineni commented on #1141
@eumel8 You need to manually create PV also along with pvc? Have you tried it

[2020-11-06 07:19] samos123 commented on #1305
ah I see. I guess either gophercloud needs to pass the detailed error and/or log the error so somewhere it gets visible to the end-user.

[2020-11-08 07:50] gman0 commented on #720
/remove-lifecycle stale

[2020-11-08 23:38] lingxiankong commented on #1305
This is a little bit tricky because sometimes even if you provide incorrect credential to openstack CLI, all you can see is a broad error message without too much detailed information.

However, this issue could be easily avoided if you read the doc about the config options, in which it says:

[code]

Thanks for raising the issue anyway.

/close

[2020-11-08 23:39] #1305 closed

[2020-11-08 23:46] lingxiankong commented on #1306
@samos123 Have you tried the config option `os-TLSInsecure: "true"`? I found it was added before but never mentioned in the doc. If it works, feel free to submit a PR for the doc.

[2020-11-09 01:14] lingxiankong commented on #1308
Can you provide the full policy definition in your test for us to reproduce? and the actual and expected result?

[2020-11-09 06:44] lingxiankong commented on #1288
The policy definition is whitelist based, keystone-auth just does the things it's told to. If `--anonymous-auth` is supported in your cluster but it's intended to not allow an unauthenticated user to access the cluster resource, you need to design the policy definition on purpose.

/close

[2020-11-09 06:44] #1288 closed

[2020-11-09 12:28] jichenjc commented on #1306
@lingxiankong you are right

`os-TLSInsecure` might be the one and currently manila mentioned this
@samos123 can you try to set this option and see whether it works for you or not?

[2020-11-09 13:24] illyaMs commented on #203
This is due to missing `bitbucket.org/ww/goautoneg` module, which simple seems to be deleted from bitbucket (no idea why).
What fixed the issue for me was updating Operator SDK to `v0.15.2`+. I also had to update some related package versions and rebuild the `go.sum` file.

Took the idea from [here](https://github.com/kappnav/operator/pull/120).

[2020-11-10 17:27] samos123 commented on #1306
I think it's missing the `gcfg:` option for it to work in the config? I added the os-TLSInsecure but still getting an ssl error:
[code]

this is my cloud.conf:
[code]

[2020-11-10 20:10] lingxiankong commented on #1192
/close

See decision in the PR.

[2020-11-10 20:11] #1192 closed

[2020-11-10 23:01] kayrus commented on #1306
@samos123 fixed in #1311

[2020-11-11 01:15] jichenjc commented on #1306
/reopen

[2020-11-11 01:16] jichenjc commented on #1306
ok, I followed manila CSI and didn't test it so I reopen this one and let's review with #1311

[2020-11-11 01:18] jichenjc commented on #1306
@samos123 pleaes help to test with #1311 then we can know whether it works (I don't have the env to test ,sorry)

[2020-11-12 05:53] Bevisy commented on #1308
Policy rule like
[code]
Open apiserver anonymous authentication，make sure authentication always success.
Then send request like:
`curl -k -s -v -XGET  -H "Accept: application/json;as=Table;v=v1beta1;g=meta.k8s.io, application/json" -H "User-Agent: kubectl/v1.16.6 (linux/amd64) kubernetes/8f01573"  'https://10.110.1.8:6443/apis/apps/v1/daemonsets?limit=500'`
Actually we only want daemonsets under t

[2020-11-13 22:34] vscripcaru opened #1313 "[barbican-kms-plugin] failed to create connection to unix socket: /var/lib/kms/kms.sock"
/kind bug

Having followed exactly the steps describing the installation and configuration of the barbican-kms-plugin, I end-up with failing cluster not being able to communication with the api-server as the pods can get hold of their secrets.
While the docker container starting the kms plugin creates the required socket, the api server complains as follows:

{"log":"W1113 22:20:33.910655       1

[2020-11-14 09:59] #1306 closed

[2020-11-17 20:23] vscripcaru commented on #1313
As a heads-up on this item, the issue was happening due to no volume definition within the K8s api-server for the unix socket.
Once the proper paths were added, the traffic started flowing the way it should.
Although this doesn't seem to be a bug in implementation, an additional comment or two to the process description might be useful (even though this would fit better the K8s.io KMS plugin confi

[2020-11-17 20:23] #1313 closed

[2020-11-18 13:15] josedev-union opened #1315 "openstack cinder storageclass does not provide ReadWriteMany accessmode"
invalid AccessModes [ReadWriteMany]: only AccessModes [ReadWriteOnce] are supported

[2020-11-18 14:29] frittenlab commented on #1315
To use ReadWriteMany volumes you will also need a multi attach volume type in openstack. If you run the command:

`openstack volume type list`

You should be able to see the available volume types. We have two types and one of them supports multi attach. I created a separate storage class to support ReadWriteMany volumes which references the volume type id:

`kind: StorageClass
apiVersion: storage

[2020-11-19 01:24] jichenjc commented on #1315
yeah, we support multiple attach feature which is added recently
@josedev-union please check above comments and see whether it works for you
then we can close this issue, thanks

[2020-11-19 02:42] #1300 closed

[2020-11-23 09:27] strigazi opened #1318 "[k8s-keystone-auth] Invalid serviceaccount tokens are validated against keystone"
/kind bug

All invalid serviceaccount tokens go through keystone while they should stop in the api.
(There shoudn't be any invalid tokens, but even when they do they shouldn't load keystone.)

The rate is very high. In a cluster I see issues: 60,000 per 5 minutes.

I don't know if there is a way to distinguish the requests.

Any suggestions?

Logs from k8s-keystone-auth:
[code]

Logs from apiserve

[2020-11-23 10:33] ramineni commented on #702
/remove-lifecycle stale

[2020-11-23 10:33] ramineni commented on #678
/remove-lifecycle stale

[2020-11-23 11:09] strigazi commented on #1318
cc @lingxiankong

Who is maintaining the webhook now?

[2020-11-25 10:25] lingxiankong commented on #1318
Hi @strigazi, i do not fully understand the issue, could you please provide an example of what operation are you doing, what's expected, and what's the actual behavior?

[2020-11-25 11:00] strigazi commented on #1318
"what's expected, and what's the actual behavior" The current expected behaviour can flood keystone with invalid requests. This was an attempt to discuss an improvement.

[2020-11-25 11:00] #1318 closed

[2020-11-25 12:03] arunabhabanerjee opened #1321 "Unable to see nodeplugin pods in openshift 4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I deployed cinder-csi-pluging using manifest file, The deployment was successful but I don't see any nodeplugin pods are running.

**What you expected to happen**:
cinder-csi-plugin deployment must successful.

oc get all -n openshift-openstack-cinder-csi-driver
NAME                                READY   STATUS    RESTARTS   AGE
po

[2020-11-25 12:26] arunabhabanerjee commented on #1321
Error:

41s         Warning   FailedCreate       daemonset/csi-cinder-nodeplugin           Error creating: pods "csi-cinder-nodeplugin-" is forbidden: unable to validate against any security context constraint: [provider restricted: .spec.securityContext.hostNetwork: Invalid value: true: Host network is not allowed to be used spec.volumes[0]: Invalid value: "hostPath": hostPath volumes are not all

[2020-11-25 13:26] arunabhabanerjee commented on #1321
Issue resolved after adding SCC privilege to SA.

[2020-11-25 22:48] lingxiankong commented on #1321
Seems it's related to permission settings in openshift rather than the cinder csi itself.

/close

[2020-11-25 22:48] #1321 closed

[2020-11-27 08:06] chrischdi commented on #933
/remove-lifecycle rotte

[2020-11-27 21:52] josedev-union commented on #1315
that is cool 👍

[2020-11-30 19:12] niedbalski opened #1322 "[k8s-keystone-auth] doesn't works with psp policies"
**What happened**:

Using the following pod security policy https://pastebin.ubuntu.com/p/xT7ZwsPgPH/ , container with
this deployment  https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/webhook/keystone-deployment.yaml,won't start as is missing the runAsUser security

**What you expected to happen**:

Should work with PSP policies

**Environment**:
- OpenStack version: Us

[2020-11-30 21:34] mikejoh opened #1324 "[octavia-ingress-controller] Pool member name is None in LB pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Right now, via the Octavia Ingress Controller, all pool members are created without a name. In Horizon this is displayed as `None`:
![image](https://user-images.githubusercontent.com/899665/100667385-ba43a280-335a-11eb-94b3-7e6b3fe62bdb.png)

It would be a bit more informative if the node name is displayed in Horizon.

[2020-12-01 20:49] dkistner opened #1328 "[occm] Wildcard floating ip subnet selection for LoadBalancer services"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature

/kind feature

**What happened**:
As of today the Openstack cloud-controller-manager can be configured to select floating ips for services of type Loadbalancer from a specified floating ip subnet of a floating network.

Floating networks can consist of multiple subnets with different purposes e.g. subnets which are routable via the internet an

[2020-12-02 03:53] lw8008 opened #1329 "[manila-csi-plugin] PV/PVC can't created"
**What happened**:
I'm following below manifest to deploy manila CSI:
https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/manila-csi-plugin
https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/manila-csi-plugin/nfs/secrets.yaml
https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/manila-csi-plugin/nfs/dynamic-provisioning/stora

[2020-12-02 05:37] ramineni commented on #1122
/remove-lifecycle rotten

[2020-12-02 13:08] kayrus commented on #1328
@lingxiankong could you please give your feedback on this proposal?

[2020-12-03 11:53] kayrus commented on #1328
@lingxiankong kindly ping. cc @jichenjc, your feedback will be appreciated as well

[2020-12-03 14:50] zuzzas commented on #1328
Would suit some of our use cases as well.

One minor nitpick. I think the field should be named `floating-subnet-name-regex` instead. It'll be clear that we accept regex.

[2020-12-05 23:00] bshephar opened #1332 "[occm] Octavia OVN Provider create listener error"
/kind bug

**What happened**:
Setting `lb-provider=ovn` works, and allows the user to provision a Octavia OVN LoadBalancer, but breaks while creating the Listener. The configuration looks like so:

[code]

However, it fails to create the Listener with the following error:
[code]

**What you expected to happen**:
When a operator sets OVN as the provider, we will need to adjust the API request sent

[2020-12-06 14:15] unixfox commented on #1134
/remove-lifecycle rotten

[2020-12-06 22:55] eumel8 commented on #1141
@ramineni yeah, it works!

[code]

cat recover-pv.yaml
[code]

cat recover-pvc.yaml
[code]

* remove/crash pvc/pc from the dirty cluster
* check if volume is available in OpenStack
* re-attach pv+pvc to a new cluster
* check available data

Great! I think that's worth to mention as recover strategy in docs.

[2020-12-06 23:31] eumel8 commented on #1117
@ramineni thanks for the work. I'm now in 1.19 and endpoints are correct, but I've got the following error:

[code]

I think it's cloud-specific. [Documentation](https://docs.otc.t-systems.com/en-us/api/evs/evs_04_3056.html) says, `force: true` would be required to snapshot EVS in use state. The field is optional in [Cinder V3 API](https://docs.openstack.org/api-ref/block-storage/v3/?expanded=crea

[2020-12-07 01:50] openstacker opened #1333 "[magnum-auto-healer] Magnum auto healer restart many times"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Magnum auto healer restarts many times

**What you expected to happen**:

Magnum auto healer shouldn't restart so many times.

**How to reproduce it**:

If the Magnum API is slow for any reason, magnum-auto-healer may fail to get cluster information. And user will see the magnum-auto-healer restart.

**Anything else we n

[2020-12-07 01:52] jichenjc commented on #1117
I think it depends on your use case, if you expect to snapshot for in-use volume you should enable the field .

[2020-12-07 02:29] #1333 closed

[2020-12-07 02:59] jichenjc commented on #1141
@eumel8 maybe you can help to doc this by adding a PR? thanks

[2020-12-07 10:23] #1324 closed

[2020-12-07 10:39] #678 closed

[2020-12-07 10:45] lingxiankong commented on #1322
Could you please check your paste to correct the format? I'm not very clear what's defined in the PodSecurityPolicy.

[2020-12-07 10:49] lingxiankong commented on #1332
I agree we could check `lb-provider` to only allow `octavia`(for backward compatibility) and `amphora`, `amphorav2` is still not production ready though.

[2020-12-07 11:23] bshephar commented on #1332
I think it is probably best if we check for `lb-provider` if it's NOT octavia or amphora, then we default to octavia or amphora? That way we aren't breaking if a use does specify something else and still giving our selves a chance at working.

Worst case scenario that I can think of then is that they didn't deploy the Amphora image (Like me who is just using OVN) and Octavia will fail to create th

[2020-12-07 15:08] dkistner commented on #1328
I mean the `floating-subnet-name-prefix` property name is just a proposal. We can for sure call ist `floating-subnet-name-regex`.

Are there also other opinions on that? cc @jichenjc , @lingxiankong

[2020-12-07 17:41] gman0 commented on #1329
@lw8008

1. Deploy [nfs-csi](https://github.com/kubernetes-csi/csi-driver-nfs) driver.
2. Please observe (manila-csi):
   * [csi-controllerplugin.yaml](https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/manila-csi-plugin/csi-controllerplugin.yaml): _hostPath_ volume definition [here](https://github.com/kubernetes/cloud-provider-openstack/blob/c4d0329c1c2126ff88925e45acb2a

[2020-12-07 19:40] lingxiankong commented on #1328
Instead of `name-prefix`, I'd recommend using tag (e.g. `floating-subnet-tags`) when choosing subnet.

[2020-12-07 19:51] lingxiankong commented on #1332
We only need to check when occm is starting up, if `lb-provider` is not supported, fail and exit.

[2020-12-09 03:59] bshephar commented on #1332
Hey,

Sorry, I might have needed to include something extra in my commit message to have it linked to this Issue. Please advise if I'm missing something there. The relevant PR is:
# https://github.com/kubernetes/cloud-provider-openstack/pull/1344

And some artifacts from my change:
[code]

[2020-12-09 06:28] mikejoh commented on #1080
Related PR: #1341 (removes vendored code from the OCCM)!

[2020-12-09 08:20] bshephar commented on #1332
Hmm, not too sure why that test is failing. Is it possible to get more info from this check?

https://logs.openlabtesting.org/logs/44/1344/0b75c75f8b258edf131dea106ed5e4f53c96c7c2/cloud-provider-openstack-acceptance-test-lb-octavia/cloud-provider-openstack-acceptance-test-lb-octavia/7fd0fa1/job-output.txt.gz
[code]

[2020-12-09 13:39] ramineni commented on #1169
/remove-lifecycle stale

[2020-12-10 20:51] bgagnon commented on #1287
@lingxiankong there's `nip.io`, `xip.io` and it's also possible to run the `nip.io` service locally (and use a different domain). Not sure it's wise to use a public Internet-facing service as a default.

[2020-12-10 20:57] bgagnon commented on #1287
Note that kubernetes/kubernetes#92312 contains the definitive fix for this -- a way for the cloud provider to communicate how the IP should be handled.

It is included in k8s 1.20  behind a feature gate: https://kubernetes.io/docs/setup/release/notes/#api-change-1

[2020-12-11 10:45] lingxiankong commented on #1287
I know there are other options, I'm thinking about does that make much sense for the end user to choose a different one, given all they need is just a workaround to access PROXY load balancer from within the cluster? If providing an annotation can't bring too much value for the user, I'd rather we don't do that.

Another possible reason is, considering the k8s community will eventually solve the i

[2020-12-13 23:52] lingxiankong commented on #1128
The snapcraft.yaml file has been removed from the repo and is not going to be supported.

[2020-12-13 23:52] #1128 closed

[2020-12-14 05:29] #1332 closed

[2020-12-14 13:49] jichenjc commented on #1322
not expert in this area, just curious
is `https://pastebin.ubuntu.com/p/xT7ZwsPgPH/ ` contains default PSP for all pods?
otherwise, how do we expect the manifest be modified to adopt for the unique things pasted above?
@niedbalski

[2020-12-15 15:13] birnemeier commented on #1220
Hi, I ran into the same issue.

When cert.pem contains intermediate certificates these intermediate certificates are not copied over to Barbican store. This is not a bug it is marked as TODO by @lingxiankong here:

https://github.com/kubernetes/cloud-provider-openstack/blob/4254f067576aa88a3287c00195d28d58a755a681/pkg/ingress/controller/controller.go#L609

The full PEM file is parsed, by only the

[2020-12-16 04:57] zerodayz commented on #1304
It looks like timeout, by default 1m.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/config.go#L317

Either split or increase by passing `--request-timeout=300`

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go#L184

[2020-12-17 01:33] #1141 closed

[2020-12-17 14:18] mnasiadka opened #1350 "[openstack-cloud-controller-manager] support for OVN Octavia provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
OVN Octavia provider is not supported

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:
Change https://github.com/kubernetes/cloud-provider-openstack/commit/4254f067576aa88a3287c00195d28d58a755a681 limited the number of supported provider drivers to one.

**Environment**:

[2020-12-21 08:25] lw8008 commented on #1329
@gman0

I got "{"code": 400, "message": "Share network must be set when the driver_handles_share_servers is true."}}" when create PV now.
Could u pls let me know how to assgin share network in the storageclass?

I've tried below but not work：
---
kind: StorageClass
metadata:
  name: csi-manila-nfs
provisioner: manila.csi.openstack.org
parameters:
  # Manila share type
  type: default
  share-netwo

[2020-12-21 10:15] gman0 commented on #1329
@lw8008 it's in the docs: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/manila-csi-plugin/using-manila-csi-plugin.md#controller-service-volume-parameters

There is no "share-network" parameter. You can use `shareNetworkID` parameter to set the share network ID when provisioning new shares.

[2020-12-21 23:06] elgamal2020 opened #1354 "Failed node "shutdown" / volume re-attachment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have a problem that need your support for

Currently when the node where the pod is scheduled is shutdown “simulation of unexpected outage” the volume remains attached to it and cant get the pod scheduled to another node

Note: it works for node draining

To reproduce
[code]
[code]
[code]

Then powering off the instan

[2020-12-23 07:24] lw8008 commented on #1329
Thank @gman0  it works like a charm.

I met another issue when try snapshot:

Follow https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/
I've installed snapshot CRD and controller.

NAME                              DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR            AGE
csi-nfs-node                      6         6         6       6

[2020-12-24 09:05] #668 closed

[2020-12-27 00:07] #932 closed

[2020-12-27 04:49] lingxiankong commented on #1221
Terminated HTTPS is already supported, see https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/octavia-ingress-controller/using-octavia-ingress-controller.md#enable-tls-encryption.

[2020-12-27 04:54] #1308 closed

[2020-12-27 11:17] zetaab commented on #1354
this issue is not in correct repository, also please see issue https://github.com/kubernetes/kubernetes/issues/57643

[2020-12-27 13:46] kayrus commented on #993
/remove-lifecycle stale

[2020-12-31 00:09] #1080 closed

[2021-01-01 06:11] #1122 closed

[2021-01-05 17:13] notandy opened #1356 "[occm] octavia stopped working with custom provider driver"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**:
Cloud provider could not be initialized: could not init cloud provider "openstack": Unsupported LoadBalancer Provider: f5

The pull request #1344 introduced an allow-list of supported octavia provider plugins that breaks existing setups using octavia provider plugins that are _not_ amphora based. In our case, we use t

[2021-01-06 03:29] jichenjc commented on #1356
or maybe an option to list supported provider and by default include supported provider
then up to admin to add supported list considering you know the impact?

[2021-01-06 09:40] notandy commented on #1356
Hi!

Excuse me, do you mean to make the supported provider list configurable?

[2021-01-06 09:54] jichenjc commented on #1356
yes, that's the proposal , not sure @lingxiankong might have further comments?

[2021-01-07 09:22] lingxiankong commented on #1356
Checking if the configured provider (`lb-provider`) is supported in Octavia during OCCM initialization would be a good idea.

[2021-01-07 10:55] notandy commented on #1356
This is reasonable, although my issue concerns the breaking change that for existing occm deployment with customer `lb-provider`, that the PR #1344 breaks the occm by panicing due to unsupported driver. So I am asking how to proceed if to remain compatibility.

1. OCCM should not break just because a custom `lb-provider` is set
2. making the provider-list configurable just introduces a burden to t

[2021-01-07 16:29] ialidzhikov commented on #1356
+1 for this issue. occm@v1.20.0 breaks the compatibility with #1344. Can we get in https://github.com/kubernetes/cloud-provider-openstack/pull/1357?

[2021-01-07 16:31] ialidzhikov commented on #1356
/priority critical-urgent

[2021-01-08 06:31] jichenjc opened #1360 "openstack-cloud-controller-manager failed to start on image build from master branch code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

I am using master code to build (commit is ee7a11ff67c2324aaf19a4708cb5f9a34f04dd8a)

[code]

then update the image in daemonset of controller in cluster to new image, after that, got

[code]

so I edit the daemonset again and removed
[code]

then pod become running
[code]

then add the runAsUser back again
[code

[2021-01-08 09:45] lingxiankong commented on #1360
Is the user ID 1001 exists on your host? Check by running `id 1001`.

[2021-01-08 09:51] jichenjc commented on #1360
yes, exist
[code]

[2021-01-08 10:42] ramineni commented on #1329
@lw8008 Is the issue resolved?
Can you make sure you have installed volumesnapshots.snapshot.storage.k8s.io CRD , https://github.com/kubernetes-csi/external-snapshotter/blob/master/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml

And also, could you let us know the versions of external-snapshoter, snapshot-controller and manila-csi-plugin you are using in your env

[2021-01-08 10:45] ramineni commented on #1214
/remove-lifecycle stale

[2021-01-08 10:45] ramineni commented on #1207
/remove-lifecycle stale

[2021-01-08 10:47] ramineni commented on #1090
closing this issue.
Revamp of docs can be tracked as separate issue if required.

/close

[2021-01-08 10:47] #1090 closed

[2021-01-08 10:47] ramineni commented on #913
/remove-lifecycle stale

[2021-01-08 10:52] ramineni commented on #883
@xin3liang arm64 images are published now.
https://hub.docker.com/r/k8scloudprovider/openstack-cloud-controller-manager/tags?page=1&ordering=last_updated

/close

[2021-01-08 10:53] #883 closed

[2021-01-08 10:56] ramineni commented on #679
/remove-lifecycle rotten

[2021-01-08 10:56] ramineni commented on #1221
Feel free to reopen if it doesnt solve the issue.

/close

[2021-01-08 10:56] #1221 closed

[2021-01-08 11:02] ramineni opened #1361 "[All] docker images with latest tags not getting pushed periodically"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
latest images of plugins are not getting published on docker Hub .
https://hub.docker.com/r/k8scloudprovider/openstack-cloud-controller-manager/tags?page=1&ordering=last_updated

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or o

[2021-01-09 01:50] eumel8 opened #1362 "[cinder-csi-plugin] Cinder CSI Plugin doesn't honor anymore securityContext/fsGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In Kubernetes Container Specs it should be possible to set mount ownerships in securityContext:
[code]
Driver: cinder.csi.openstack.org
Driver version: 1.2.1

exec pod:

[code]

**What you expected to happen**:

Driver: cinder.csi.openstack.org version: 1.2.0

exec pod:

[code]

**How to reproduce it**:

deploy pod with

[2021-01-10 03:47] #1356 closed

[2021-01-11 01:15] xin3liang commented on #883
Awesome! Thank you @ramineni  and all for fixing this issue :-)

[2021-01-11 02:25] jichenjc commented on #1362
/assign

I can give a try

[2021-01-11 03:51] jichenjc commented on #1362
I can't reproduce this error:

[code]

[code]

the image I am using is 1.20.0
[code]

[2021-01-11 03:57] jichenjc commented on #1361
I tried to use `latest ` tag and it's able to find the image
so is it the openlab who should submit this change or how can we do in this repo？ just curious

[2021-01-11 05:01] ramineni commented on #1362
https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.18/pkg/volume/cinder/cinder.go#L403

Or the internal K8s cinder driver:
https://github.com/kubernetes/kubernetes/blob/6d5cb36d36f34cb4f5735b6adcd5ea8ebb4440ba/pkg/volume/cinder/cinder.go#L451

But the code is complete reworked since 1.19. Is there now another option what I missed?

FYI, This code is not part of csi plugin, this

[2021-01-11 05:02] ramineni commented on #1361
@jichenjc I raised the issue for tracking purpose, mostly this needs to be fixed in openlab only.

[2021-01-11 05:19] lingxiankong commented on #1361
In the job cloud-provider-openstack-acceptance-test-e2e-conformance, all the latest tag images are uploaded to huawei container image registry rather than docker hub, this change was made several months ago because docker hub is not accessible in China anymore.

openlab guys said they have a job to sync images to docker hub, will double check with them for what happened.

[2021-01-11 05:32] ramineni commented on #1361
@lingxiankong Got it. Thanks for the update.

[2021-01-11 05:34] ramineni commented on #1020
/remove-lifecycle stale

[2021-01-11 09:11] eumel8 commented on #1362
yes, it's only for references how it was managed in the past.

[2021-01-11 10:01] lingxiankong commented on #1361
The latest images should be updated now. Please have a check and close this issue if OK.

[2021-01-11 12:07] eumel8 commented on #1362
@jichenjc my used images:

[code]

for sidecar I have other versions regarding K8S support matrix: https://kubernetes-csi.github.io/docs/sidecar-containers.html

hint: the images are 1:1 synced to another registry

[2021-01-11 14:55] spielkind commented on #1362
One of the differences between both setups is the cs-provisioner 1.6.1 vs. 2.0.2,
https://github.com/kubernetes-csi/external-provisioner/blob/master/CHANGELOG/CHANGELOG-2.0.md
There is one change in:

Then I found this: https://kubernetes-csi.github.io/docs/support-fsgroup.html
As we didn't enabled this FeatureFlag in our 1.19 cluster I guess it's some how the default behavior:

I checked both:
1.

[2021-01-11 15:04] eumel8 commented on #1362
interesting. @jichenjc can you share your storage class definition? Maybe it's only a documention issue. I have no special settings so far.

[2021-01-12 01:36] jichenjc commented on #1362
@eumel8 nothing special, just defined from here
https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/nginx.yaml#L4

[2021-01-12 03:52] jichenjc commented on #1362
I switched to csi-provisioner to 2.0.2 and now I got same result to you

[code]

so I will submit a PR to see how to bump the version of provisioner

[2021-01-12 04:29] ramineni commented on #1361
@lingxiankong Thanks. Its updated now.

/close

[2021-01-12 04:29] #1361 closed

[2021-01-12 16:10] Fedosin opened #1367 "[cinder-csi-plugin] Cinder CSI plugin should not provision ROX or RWX volumes"
/kind bug

**What happened**:
When creating a PVC with ROX or RWX access mode, the volume provisioned successfully, but when creating pods assigned to different nodes, it got attach failure.

**What you expected to happen**:
We should show out the unsupport message as cinder in-tree plugin does:
Warning ProvisioningFailed 7s (x3 over 14s) persistentvolume-controller Failed to provision volume with

[2021-01-12 17:40] isantospardo commented on #1281
Hi, could you please generate another chart release with the last updates of manila-csi-plugin?, as @gman0 earlier mentioned, https://github.com/kubernetes/cloud-provider-openstack/actions/runs/288699273 failed. Thanks.

[2021-01-13 05:08] ramineni commented on #1367
@Fedosin which version of plugin you are using?

[2021-01-13 05:12] ramineni commented on #1281
@isantospardo we do have latest release of plugin , https://github.com/kubernetes/cloud-provider-openstack/releases/tag/openstack-manila-csi-1.0.4 which is of 1.20 release which should include that fix.

[2021-01-13 05:21] ramineni commented on #1362
@spielkind Thanks for sharing the inputs.

Just to clarify again, if fsType is explicitly defined , then this issue is resolved, is what you meant?

[2021-01-13 05:28] ramineni commented on #1362
@eumel8 We haven't updated the sidecars to 2.0.2 yet , we always suggest to use the versions specified in manifests which exists in respective versions. Like for 1.19 use the manifests in release-1.19 branch of cpo.

[2021-01-13 05:30] ramineni commented on #1360
@jichenjc are you still facing this issue? or resolved?

[2021-01-13 05:39] jichenjc commented on #1360
haven't try since then due to other works , I guess unless find some clue ,I might still face same issue though create another env to test

[2021-01-13 05:41] jichenjc commented on #1362
check my comments above, with 2.0.2 , if no `fsType` below, then I got same error per reported by @eumel8 , if I add it , then the issue is gone ...

[code]

[2021-01-13 05:51] jichenjc opened #1369 "Cinder CSI pipeline is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
#1366 #1368 both failed due to
https://logs.openlabtesting.org/logs/68/1368/f50d83c8d5dd4a6ca221624218b8725096896708/cloud-provider-openstack-e2e-test-csi-cinder/cloud-provider-openstack-e2e-test-csi-cinder/cf136af/job-output.txt.gz
[code]

[code]

my local env seems has same issue, maybe need open an issue to openlab
open this issu

[2021-01-13 06:32] ramineni commented on #1362
@jichenjc Ok, got it. Then its a doc update or we can check if there is a way to specify default fstype if none specified.

[2021-01-13 06:36] ramineni commented on #1369
@jichenjc This issue is fixed now. Fix got merged.
https://github.com/kubernetes/kubernetes/pull/97947/files

[2021-01-13 06:36] ramineni commented on #1369
/close

[2021-01-13 06:36] #1369 closed

[2021-01-13 08:45] jichenjc commented on #1367
@Fedosin I saw `another node` and `another pod`, to confirm, it's not caused by multiple nodes or pods
just ROX is not supported by CSI cinder so we want to reject that create action during creation stage because ROX is not supposed to be supported?

[2021-01-13 14:56] Payback159 opened #1371 "[occm] 2 OCCM instances from different K8s clusters configure the same load balancer instance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have 2 Kubernetes clusters installed in 2 different projects within an OpenStack landscape. Both Kubernetes clusters are running OCCM version v1.18.2.

We have the services in both clusters rolled out via LoadBalancer Type, Namespace Name is the same and the Service Name is the same.

As a result, in OpenStack, the sa

[2021-01-13 20:40] lingxiankong commented on #1371
What's the option `--cluster-name` configured for kube-controller-manager for the two clusters? I guess they are the same, please set different values for different clusters.

[2021-01-14 08:32] jichenjc commented on #1362
The PR #1366  failed and I think it's related to in-tree code so I opened
https://github.com/kubernetes/kubernetes/pull/98053 to see whether it's the right way

[2021-01-14 15:33] Payback159 commented on #1371
Hello @lingxiankong  , thanks for the tip. The flag seems to have slipped through when I was searching the documentation.
Solved the problem. :-)

[2021-01-14 15:33] #1371 closed

[2021-01-15 11:17] kayrus commented on #1304
@zetaab do you use a legacy neutron lbaasv2 extension?

[2021-01-15 13:50] Fedosin commented on #1367
This is our code https://github.com/openshift/cloud-provider-openstack
We are slightly behind the master (the rebase happened on Nov, 26), but I don't see what could fix the issue after that.

[2021-01-18 02:25] jichenjc commented on #1367
@ramineni I think @Fedosin means he is using openshift master and encounter this issue
@Fedosin please help to confirm , if that's true, then this is something we need fix

[2021-01-18 05:04] ramineni commented on #1367
@Fedosin Did you specify volume type is storage class as multiattach , and volume created in cinder have the property multiattach=True?

[2021-01-18 05:09] lw8008 commented on #1329
I was using wrong CRD, it works now.
Thanks.

[2021-01-18 05:09] #1329 closed

[2021-01-18 08:34] mandre commented on #1367
Hi @ramineni, the issue occurs when asking for ROX or RWX access mode _but_ the backend doesn't support multiattach. In this case, cinder CSI should not provision the volume but return an error because it won't be able to honor the required access mode.

See the following example:
[code]

The PV shows `RWX` access mode:
[code]

However, the volume doesn't support multi-attach:
[code]

Do you think

[2021-01-18 08:57] ramineni commented on #1367
@mandre Thanks for the explanation. But PR #1368 blocks creation , irrespective of backend supports or not. If backend supports and user would like create a volume with volume type of multiattach , he should be able to use it.

[2021-01-18 09:57] mandre commented on #1367
There seem to be multiple problems here:
- the cinder CSI driver [only reports the `VolumeCapability_AccessMode_SINGLE_NODE_WRITER` volume capability](https://github.com/kubernetes/cloud-provider-openstack/blob/bad6c9a/pkg/csi/cinder/driver.go#L84) independently of what the backend really supports.
- [`CreateVolume()`](https://github.com/kubernetes/cloud-provider-openstack/blob/05badc9/pkg/csi/cin

[2021-01-18 20:09] rptaylor opened #1376 "helm repo is out of date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installed the helm repo for cloud provider openstack according to: https://kubernetes.github.io/cloud-provider-openstack/
Only old chart versions were available.

**What you expected to happen**:
To helm install latest versions of charts.

**How to reproduce it**:
[code]
This shows the helm repo is hosting openstack-cinde

[2021-01-18 21:31] lingxiankong commented on #1376
same for me, @brtknr not sure if you are still maintaining the Charts, could you please take a look?

[2021-01-18 21:38] brtknr commented on #1376
hello, branch automatic kubernetes branch protection means that the github actions cannot publish new charts to gh-pages automatically when a new release is cut. You need to disable branch protection on gh-pages branch manually temporarily and re-run chart releaser action. I am happy to do this but will need additional privileges on this repo. The other option is to change the k8s-bot policy on th

[2021-01-18 23:35] lingxiankong commented on #1376
Let's see if https://github.com/kubernetes/cloud-provider-openstack/pull/1378 could fix this.

[2021-01-19 02:02] jichenjc opened #1379 "Node registration fails if nova AZ value has ' '"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

inspired by

https://github.com/kubernetes/cloud-provider-openstack/pull/1364

[code]

we suffered above issue with similar pattern, so I think we might consider do same thing to #1364
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-contr

[2021-01-19 02:02] jichenjc commented on #1379
/assign

[2021-01-19 02:03] jichenjc commented on #1379
The issue should be related to label `topology.kubernetes.io/zone`

[2021-01-19 06:33] #1362 closed

[2021-01-19 11:41] ramineni commented on #1367
@mandre right.

[2021-01-19 12:53] mandre commented on #1367
Is there a way to discover what capabilities the backend supports?

[2021-01-20 05:01] ramineni commented on #1367
@mandre , right now, we only check volume.multiattach flag , to check volume is capable of multiattach or not. It requires admin to configure correct volume type while creating volume.

[2021-01-21 13:37] klippo commented on #1220
We just ran into the same issue. Are there any plans to support this in the near future?

[2021-01-22 07:19] kayrus opened #1383 "[cinder-csi-plugin] ListVolumes pagination doesn't work as expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The #969 PR introduced the pagination support, however the pagination didn't make sense, since the `AllPages()` method was used, which automatically fetches all pages.
This PR uses a proper pagination and requests only one page, when the `MaxItems` limit is provided.

**What you expected to happen**:

When `ListVolumes`

[2021-01-25 14:55] ramineni commented on #987
/remove-lifecycle stale

[2021-01-25 20:30] danmikita opened #1386 "[occm] How to correctly set the cluster-name for the occm only."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The name of the created lbaas references the "cluster-name" from the startup flags of the daemon set.

**What you expected to happen**:
I expected the cluster-name flag to reference the name of the cluster from the kubernetes-controller-manager `--cluster-name=` flag.

**How to reproduce it**:
Change the `--cluster-nam

[2021-01-25 21:18] lingxiankong commented on #1386
OCCM is using cluster name configured in kubernetes-controller-manager. Could you provide the detailed steps of you operation?

[2021-01-26 01:15] lingxiankong commented on #1220
Hi guys, I agree this is a bug that needs to be fixed, but I'm not available for a PR at the moment, could any one of you pick up this issue?

[2021-01-26 03:07] jichenjc commented on #1360
@lingxiankong @ramineni I can reproduce this on our another env ...

I think the only difference might be the build process of my image?
I used `make image-openstack-cloud-controller-manager` to build image and upload to my docker hub account

https://stackoverflow.com/questions/59767901/standard-init-linux-go211-exec-user-process-caused-permission-denied

[2021-01-26 08:55] lingxiankong commented on #1360
Do you have problem if using the upstream image?

[2021-01-26 09:02] jichenjc commented on #1360
no, that's the reason why I am very curious , basically I only enable the `go` and run `make image-openstack-cloud-controller-manager `, nothing else ...

[2021-01-26 09:55] lingxiankong commented on #1360
OK, I will try to reproduce. But before that, could you please make it clear in the description that the upstream image is fine?

[2021-01-26 09:57] jichenjc commented on #1360
thanks, I updated just now :)

[2021-01-26 09:59] lingxiankong commented on #1360
Tested, using the same steps, it's working for me.

[2021-01-26 10:05] jichenjc commented on #1360
thanks, I will keep this open and see whether I can find any clue
if can't find for long time, I will close it

[2021-01-26 16:31] kayrus commented on #1360
I reproduced an issue, when I executed `chmod -x openstack-cloud-controller-manager-*` in the occm root dir.
Another issue could be that executable permissions are unset during the build/docker-build process, or you're running the `make` command on the FS with `noexec` flag.

[2021-01-26 16:45] jralbert opened #1387 "[cinder-csi-plugin] Apparently-completed connections to Keystone and Cinder fail with "i/o timeout""
**What happened**:
Some of the time, requests to the OpenStack APIs are successful, and with plugin debug logging turned way up I can see that the plugin is sometimes able to connect to Keystone, get a token, and then connect to Cinder to list and create volumes. However, most of the time connections to either Keystone or Cinder will appear to retry several times at 10-second intervals, and eventu

[2021-01-26 17:18] kayrus commented on #1387
relates to #1207

[2021-01-27 01:56] jichenjc commented on #1360
@kayrus thanks for the help , I am pretty sure I didn't do `chmod -x`, and I will check noexec flag
the weird thing is if I remove
[code]

in the daemonset configuration, then the problem is gone so I am still doubting the security flag

[2021-01-27 02:19] jichenjc commented on #1360
[code]

this is build process of my image ...

[2021-01-27 02:45] jichenjc commented on #1360
[code]

this seems solve the problem , I guess it is because openstack-cloud-controller-manager is root execute only in my env and I have 1001 user, thus it lead to permission denied (not 100% sure about the runAsUser question here)

[2021-01-27 03:53] elgamal2020 commented on #1354
Hi @zetaab  , Actually the test was to shutdown a node to simulate a failure

I have repeated the test , all the details below

**Environment**

[code]
[code]

kubectl describe csi-cinder-controllerplugin-5f659d48f5-ks5f8 -n kube-system
error: the server doesn't have a resource type "csi-cinder-controllerplugin-5f659d48f5-ks5f8"
ubuntu@sysarch-k8s-master-nf-1:~$ kubectl describe pod csi-cinder-con

[2021-01-27 07:05] kayrus commented on #1387
Proposal:
* introduce new config options to control the transport timeouts
* introduce more grained connection tracer to a HTTP client

[2021-01-27 09:50] bavarianbidi commented on #1294
/remove-lifecycle stale

[2021-01-27 11:01] lingxiankong commented on #1167
/remove-lifecycle stale

[2021-01-28 00:52] jichenjc commented on #1387
just to confirm my understanding , the normal code works fine but with debug logging enabled then time to time the timeout issue occurs then lead to retry? thus the suggestion is to control the timeout of transport etc?

[2021-01-28 15:19] jralbert commented on #1387
No, the code produces the frequent-failure condition at all times, and will return `dial tcp <CLOUD_IP>:5000: i/o timeout` in the container logs and enter CrashLoopBackoff state frequently; with debug logging turned up I'm able to see that there are some successful operations in between the failures.

I'm hopeful that @kayrus suggestion of improving visibility into the HTTP client and allowing tun

[2021-01-29 00:59] jichenjc commented on #1387
ok, let's wait for additional help and comments from @kayrus  :), thanks for the info~

[2021-01-29 01:03] jichenjc commented on #1270
/remove-lifecycle stale

[2021-01-29 04:25] lingxiankong commented on #1354
I think @zetaab already pointed out the possible solution. It's not possible to test pod (with PVC) fail over using such approach because when the node status is 'NotReady', it means Kubernetes cannot communicate with the Kubelet to check the current status of Volumes. Unless the `ReadWriteMany` mode is supported or you have the tools doing auto-repair or auto-healing, It's impossible to 'forceful

[2021-01-29 05:00] elgamal2020 commented on #1354
OK , I understood so it is a design choice , is there any manual actions that can be taken ?
The only successful workaround I got is removing the node

[2021-01-29 06:04] ramineni commented on #1387
@jralbert Thanks for reporting the issue .
Few questions left unanswered on the gophercloud issue as well , so raising it here to better understand the scenario

1. Does this behaviour appear as soon as the plugin starts or does it take some time for it to begin? In other words, if you restart the plugin, are 100% of the connections successful up until a certain point in time? And if so, approxima

[2021-01-29 09:44] lingxiankong commented on #1379
As per discussion in https://github.com/kubernetes/cloud-provider-openstack/pull/1380, it has been decided we don't solve this issue for now but add a note in the documentation.

We will come back here if we hear more feedback in the future.

[2021-01-29 09:55] lingxiankong commented on #1354
Yes, removing node is the right way as I've known of.

[2021-01-29 19:30] jralbert commented on #1387
Hi @ramineni, thanks for following up! Answering in order:

1. The behavior appears as soon as the plugin starts. Sometimes some requests succeed (ie, sometimes the keystone connection will succeed but then the cinder connections will fail), and very occasionally all the requests for a run of the plugin will succeed such that an outstanding mount or volume creation finally happens, but failures wi

[2021-01-29 22:28] lingxiankong commented on #1360
On my workstatsion, the binaries are always executable after make:

[code]

[2021-01-30 06:12] elgamal2020 commented on #1354
@lingxiankong , Could you please explain why "It's impossible to 'forcefully detach' volume from a dead node without risks to cause double write on filesystem." while it is possible in both cases of draining the node and the deletion of the node from the cluster

[2021-01-30 08:21] jichenjc commented on #1360
I tried to add `x` after make
 but seems don't help , the `x` is not added in the container image itself even though in my host env it's 755

[2021-01-30 13:59] #1360 closed

[2021-01-31 09:30] lingxiankong commented on #1354
@elgamal2020 If you forcefully detach, what if the volume is actually actively accessed by the pod on that node?

[2021-02-01 03:29] elgamal2020 commented on #1354
Thanks a lot @lingxiankong  , much appreciated support
I understood , it might be an issue , so I think an alternative is provide a script that can be manually run to de-attach the pod from the failed node and attach it to the new node , it would be better than deleting the node from the cluster

[2021-02-01 05:24] ramineni commented on #1301
/remove-lifecycle stale

[2021-02-01 05:32] zetaab commented on #1354
How you can run script in failed node? You cannot control that via kubernetes api either

[2021-02-02 00:26] Jiawei0227 opened #1392 "[cinder-csi-plugin] Migrate in-tree cloud-provider metrics for cinder plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Current for in-tree cinder volume usage, we can get the cloud-provider related metrics from the legacy-cloud-provider package[1]. To fully support CSI migration, we should evaluate if these metrics are still essential and are being consumed by any components. If not, we might need to deprecate them. If yes, we should

[2021-02-02 00:30] elgamal2020 commented on #1354
@zetaab Similar to one done by delete node

[2021-02-02 01:16] jichenjc commented on #1392
https://github.com/kubernetes/cloud-provider-openstack/pull/1236 merged recently
so we will add CSI metrics soon

/assign

[2021-02-02 06:49] jichenjc opened #1393 "[Cinder-csi-plugin] Gate failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
take https://logs.openlabtesting.org/logs/84/1384/a2a6c42d771b29e4a364b78145904ec971e28072/cloud-provider-openstack-e2e-test-csi-cinder/cloud-provider-openstack-e2e-test-csi-cinder/6c151f9/job-output.txt.gz
as example (other PR has simliar issues)

seeing
[code]

[code]
not sure it's plugin or openlab issue, open here for

[2021-02-02 08:44] mape90 opened #1394 "Long lasting request (attach/detach) fail because token expiration"
**What happened**:
Cinder internally fails to attach or to detach. Causing permanent failure for volume.

Issue is due openstack design problem where they reuse user tokens internally and has solution on OS side.
https://docs.openstack.org/cinder/latest/configuration/block-storage/service-token.html

However not every one have that fix or is willing or able to fix their openstack installation.

**

[2021-02-02 08:53] kayrus commented on #1394
what error/response code does cinder API return? If there is a 401, openstack client should reauth automatically and retry.

[2021-02-02 09:56] ramineni commented on #1387
@jralbert Thanks for the info.
Is livenessprobe enabled in the manifests? If yes, could you disable and check if everything works fine. And also alternatively , could you increase timeout of liveness probe and check.

[2021-02-02 09:57] mape90 commented on #1394
It is Nova where the attach and detach requests are going. It returns normally as everything is fine. However it will then internally after API call start handling the attaching/detaching using the same token that user used against it. If that token now expires the volume handling will stall and no further action is possible. Cinder CSI has now way of detecting or fixing it as volume is now perman

[2021-02-02 10:13] kayrus commented on #1394
I don't think that reauth in advance would help. Nova API is asynchronous and we probably need to introduce additional "waitfor" functions to verify the status of the volume like it is done for LBaaS.

[2021-02-02 10:26] ramineni commented on #1393
@jichenjc are you working on it?

[2021-02-02 10:35] jichenjc commented on #1393
No ,feel free to assign yourself :) @ramineni

[2021-02-02 14:11] mape90 commented on #1394
Problem isn't the waiting. The attach and detach already implement the waiting.

Problem is that Openstack Nova it self is poorly implemented. It just blindly will reuse token given by user for its future actions.

Example
User has token that will expire in 1min.
Attach request is send to Nova with that token. -> Keystone validate the token and says OK -> Nova will return 200 and start executing t

[2021-02-02 14:21] kayrus commented on #1394
Since you're talking about the internal openstack services communication, are there related openstack bug reports?

Are the nova/cinder attach/detach actions the only actions, which require a token renewal?

cc @joker-official @RaphaelVogel can it be related to our cases, when volumes attach/detach fail?

[2021-02-02 14:31] chrigl opened #1397 "[cinder-csi-plugin] Tracking CSIMigration with Topology Support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Our CSIMigration tests don't run with topology support enabled. Thanks to @jsafrane for discovering and fixing a missing implementation in `csi-translation-lib` :) (see https://github.com/kubernetes/kubernetes/pull/98311)

For documentation purposes. This is the error message showing up in container `csi-provisioner` of

[2021-02-02 20:07] jralbert commented on #1387
@ramineni We're installing from the Helm chart, and the livenessprobe is not configurable from values, so we've been running using the settings which are defined in the chart (https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml#L114 and https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/cinde

[2021-02-02 20:45] rptaylor commented on #1376
Now I see
[code]
if that is the latest version it seems to be fixed.

[2021-02-02 20:48] rptaylor commented on #1376
It looks like 1.3.1 was released at least 15 days ago in git, but not in the chart repo. Is there expected to be a delay?

[2021-02-02 21:51] brtknr commented on #1376
@rptaylor things dont get released from master branch, only release-* branch, in this case, the release-1.20.0 branch. Otherwise the app version would need to be master branch which is bad. If there are bug fixes you want on the release branch, please feel free to backport otherwise install the chart from master branch manually.

[2021-02-03 01:50] jichenjc commented on #1394
@kayrus I assume this will be fixed at gopher cloud layer to add a re-auth function on some time limit?
thus we don't need consider create a new client here ?

just curious, how does gophercloud handle token expire issue now? e.g we created a cloud provider client then if overtime the token expire in OCCM layer, what will happen? thanks

[2021-02-03 02:23] jichenjc commented on #1387
I think it's reasonable to make them configurable , thanks for taking this

https://github.com/kubernetes-csi/livenessprobe is the livenessprobe check, I am curious as well, as it will do the check of the CSI container itself and why it's related to openstack call seems weird to me
maybe need paste additional logs to see the pod logs and know what happened there..

[2021-02-03 06:51] kayrus commented on #1394
@jichenjc

reauth is triggered by a 401 response code. So there must be an API call performed to identify that the client token is expired.

[2021-02-03 07:09] jichenjc commented on #1394
Thanks， this make sense for me ,so the issue is if this token expire in the middle of a long call, then gophercloud can do nothing... thus we need introduce timely refresh mechanism..

[2021-02-03 08:23] joker-official commented on #1394
I would assume any action where Nova makes a call to another service can be problematic in some way. Adding/Remove a new port might thus be problematic. But I would assume a restart helps there.

We have service tokens enabled since ~2 years and it helped a lot.

[2021-02-03 09:10] ramineni commented on #1387
@jralbert That's a miss from our side then. values should be configurable.

@jralbert In addition it also checks if plugin able to connect to openstack cinder as well with basic api call . If not reachable, plugin will be considered in not-ready/healthy state.

ya, please do :) Appreciate it.

[2021-02-03 11:42] mape90 commented on #1394
The service token was introduce to Openstack to fix this issue. However not all openstacks on production have this feature enabled. And usually users do not see this if they use openstack cli/horizon for all their actions as those will create new token for every request, even some times they might create multiple tokens as that code was never build to be efficient.

But if gophercloud could have f

[2021-02-03 11:52] kayrus commented on #1394
each fernet token contains an `expires_at` attribute:

[code]

This attribute can be checked in advance before each API call, and if necessary trigger a reauth. @mape90 it's better to discuss this topic directly in gophercloud.

[2021-02-03 19:31] jralbert commented on #1387
@ramineni Just planning for the PR, is it appropriate to add these configurable values to the csi.livenessprobe dict in values.yml, or would you prefer they be organized elsewhere in the file? This will be my first contribution to a Kubernetes project, and I understand there's a process to follow, so please excuse what will no doubt be many questions. :)

[2021-02-03 23:57] lingxiankong commented on #1376
I would assume this is fixed, thanks for your help @brtknr

/close

[2021-02-04 00:04] lingxiankong commented on #1354
As per discussion above, the issue has nothing to do with cloud-provider-openstack and the failure is expected from Kubernetes's point of view unless the 3rd party tooling or manual operation is involved.

/close

[2021-02-04 00:04] #1354 closed

[2021-02-04 00:05] lingxiankong commented on #1056
see #1354

/close

[2021-02-04 00:05] #1056 closed

[2021-02-04 00:06] lingxiankong commented on #1054
/remove-lifecycle stale

[2021-02-04 02:10] jichenjc commented on #1387
I think use value is a good way, as you can see
`.Values.timeout` , `.Values.csi.resizer.image.pullPolicy` etc are widely used so you might want to add `csi.livenessprobe` section

[2021-02-04 05:28] ramineni commented on #1387
@jralbert Feel free to propose a PR which you think the best way. I'm ok with adding them to csi.livenessprobe, but you would be receiving comments from everyone once you propose a PR.

@jralbert welcome to the community :)  no issue, please reach out to us for any query.  you could also reach out to us on #provider-openstack slack channel

[2021-02-04 10:18] lingxiankong commented on #1278
/remove-lifecycle stale

[2021-02-05 16:24] chrigl commented on #1393
/assign @chrigl

[2021-02-05 16:25] chrigl commented on #1393
Created PRs

* https://github.com/theopenlab/openlab-zuul-jobs/pull/1101
* https://github.com/theopenlab/openlab-zuul-jobs/pull/1103

[2021-02-06 04:13] #1089 closed

[2021-02-08 11:36] chrigl commented on #1393
/close

See: https://github.com/kubernetes/cloud-provider-openstack/pull/1401 all tests passed \o/

[2021-02-08 11:36] #1393 closed

[2021-02-09 05:16] #1387 closed

[2021-02-10 03:14] #1383 closed

[2021-02-10 07:55] creatica-soft opened #1403 "csi-cinder-plugin ephemeral volume is not attached"
[cinder-csi-plugin] Volume status must be available to reserve, but the status is creating
/kind bug

**What happened**:
When using ephemeral volumes, the following error is logged:

Warning  FailedMount  6s (x2 over 2m8s)  kubelet, ds-kube-minion-2  (combined from similar events): MountVolume.SetUp failed for volume "tmp" : rpc error: code = Internal desc = Ephermal Volume Attach: Failed to Attac

[2021-02-10 08:03] ramineni commented on #1403
@creatica-soft Thanks for reporting the issue. Ill check it

/assign

[2021-02-10 10:10] chrigl opened #1405 "[cinder-csi-plugin] Enable testsuite for VolumeExpansion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We don't run the testsuite for volume expansion.

**What you expected to happen**:

We *do* run this testsuite

**How to reproduce it**:

**Anything else we need to know?**:

See https://github.com/kubernetes/cloud-provider-openstack/pull/1320#issuecomment-776533432

**Environment**:
- openstack-cloud-controller-manager(

[2021-02-10 10:10] chrigl commented on #1405
/assign

[2021-02-10 10:11] ramineni commented on #1405
@chrigl its enabled before , but had to revert back , https://github.com/kubernetes/cloud-provider-openstack/pull/975 . not sure if its still the case

[2021-02-11 12:30] chrigl commented on #1405
I think, I need some more testing for this task. Sure, the PR did pass, and in general expansion works, but I ran into some "error_extending" errors on citynetworks site. Unfortunately in this case, there is nothing a customer-user (no matter if human or csi-cinder-controllerplugin) is able to do about. Detaching in this case is also not possible. The only way to get the volume out of this state i

[2021-02-11 18:29] jsafrane opened #1407 "[cinder-csi-plugin] Run Kubernetes e2e tests in CI"
/kind feature

PRs against cinder-csi-plugin should run kubernetes/kubernetes [e2e tests for testing CSI drivers](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external). The only input is a yaml manifest file, which tells the tests what features the driver supports (topology, snapshots, ...) to filter out unimplemented features.

I can see ginkgo + Kubernetes e2e.test comp

[2021-02-11 19:08] jsafrane opened #1408 "[cinder-csi-plugin] Add CI job for CSI driver with multiple topologies"
Update `cloud-provider-openstack-multinode-csi-migration-test` and `cloud-provider-openstack-acceptance-test-csi-cinder` CI jobs to run the tests on OpenStack with at least two availability zones (aka topologies).

This is complementary to https://github.com/kubernetes/cloud-provider-openstack/issues/1397, that enables the topology support in the CSI driver, however, existing tests run on OpenStac

[2021-02-11 19:13] jsafrane opened #1409 "[cinder-csi-plugin] Test enabling / disabling CSI migration with a running application"
To make sure that CSI migration works as expected, please test (manually):

1. Install Kubernetes on OpenStack with the CSI driver installed + CSI migration disabled (e.g. Kubernetes 1.20, where the migration is disabled by default).
2. Run some workloads (StatefulSets?) that uses some volume(s).
3. Enable the CSI migration.
4. Check that the workloads still work with the volumes.
5. Disable the C

[2021-02-11 19:14] jsafrane commented on #1409
@jsafrane will test with OpenShift / Kubernetes 1.20, keeping unassigned to get more tests with other Kubernetes vendors or even vanilla Kubernetes.

[2021-02-11 19:30] jsafrane opened #1410 "[cinder-csi-plugin] Load + long duration tests of CSI migration"
Manually test Kubernetes with Cinder CSI driver installed and CSI migration enabled under heavier load and for a longer time.

Our CI runs bunch of CSI migration tests, but all of them test just a few pods on two node cluster. To make sure that CSI migration really works, run a bigger cluster with more pods and for a longer time.

What is "bigger cluster", "heavier load" and "longer timer" is inte

[2021-02-11 19:32] jsafrane commented on #1410
@jsafrane will test with OpenShift / Kubernetes 1.20, keeping unassigned to get more tests with other Kubernetes vendors or even vanilla Kubernetes.

[2021-02-12 09:04] jsafrane commented on #1409
/kind feature

[2021-02-12 09:05] jsafrane commented on #1408
/kind feature

[2021-02-12 09:25] ramineni commented on #1407
@jsafrane we do have e2e tests, https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-e2e-test-csi-cinder/run.yaml , is it not what you are talking about.

Though right now, its not full fledged , we are adding more test suites. But we do have limitation  from openlab side , as cloud doesnt support online resize etc.

[2021-02-12 13:28] kayrus commented on #1020
See an azure node controller for reference: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/base/node.yaml
It doesn't have secrets

[2021-02-12 14:41] jsafrane commented on #1407
You can disable certain features in the yaml manifest, however, the tests indeed don't have a capability for online resize. You can either disable `controllerExpansion` / `nodeExpansion` completely or skip some tests with `ginkgo --skip`.

IMO it's far better to re-use Kubernetes tests than having something custom, because you get better feature coverage.

[2021-02-13 16:31] chrigl commented on #1407
The test suite we run already is the kubernetes one, but calling those from a separate binary. But I am totally with you to go the obvious way of using the e2e.test!

/assign

[2021-02-15 05:19] ramineni commented on #1407
@jsafrane @chrigl  we are Importing the E2E test suite as a library  and running the tests . so its the same . I dont think any change is required in this, https://kubernetes-csi.github.io/docs/functional-testing.html#importing-the-e2e-test-suite-as-a-library

[2021-02-15 06:16] ramineni commented on #1408
/assign @chrigl
he was looking into checking the feasibility.

[2021-02-15 10:55] #993 closed

[2021-02-15 13:37] chrigl commented on #1407
After playing around with the e2e.test binary, I agree with @ramineni  and think we should stick with what we have. I ported the config and got the exact same tests running. So IMHO it's not worth the effort.

[2021-02-16 00:06] baylisscg commented on #987
For anyone winding up here before a fix lands or who want to use an older version you can use something like:

[code]

just replace the `release-1.17` with the appropriate tag.

[2021-02-16 00:45] lingxiankong commented on #987
@baylisscg Thanks!

[2021-02-17 21:50] rptaylor commented on #1322
Yes it would be great if the charts for the CSI drivers included defined PSPs that allow them to run.
On clusters which enable the PSP admission controller for enhanced security, the CSI deployment can only run if it is installed in the kube-system namespace, which has a PSP that allows everything (incl. privileged pods). That is not ideal for security, or for keeping different services isolated i

[2021-02-17 21:57] lingxiankong commented on #1322
@rptaylor I think you are asking for https://github.com/kubernetes/cloud-provider-openstack/pull/1338

[2021-02-18 09:20] #1379 closed

[2021-02-19 04:03] jichenjc commented on #1403
like a race issue  , maybe we need follow https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack_snapshots.go#L156
to add something for the volume as well...

[2021-02-19 18:46] niedbalski commented on #1322
@lingxiankong please check this reference for https://github.com/kubernetes/kube-state-metrics/pull/1034/files kube-state-metrics.

[2021-02-19 18:54] jsafrane commented on #1407
Is there any parseable output of job-output.txt?

The only available result today https://logs.openlabtesting.org/logs/98/1398/90476d0e8d5643a54444b6c178ef5f59a68825aa/cloud-provider-openstack-acceptance-test-csi-cinder/cloud-provider-openstack-acceptance-test-csi-cinder/07c0414/ says:

`FAIL! -- 7 Passed | 22 Failed | 0 Pending | 95 Skipped`

When I run upstream tests with the manifest from the p

[2021-02-21 19:20] #1239 closed

[2021-02-22 13:09] jichenjc opened #1415 "high failure ratio of cloud-provider-openstack-acceptance-test-keystone-authentication-authorization"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

cloud-provider-openstack-acceptance-test-keystone-authentication-authorization has high failure ratio now
https://github.com/kubernetes/cloud-provider-openstack/pull/1390
https://github.com/kubernetes/cloud-provider-openstack/pull/1398
https://github.com/kubernetes/cloud-provider-openstack/pull/1365

**What you expected

[2021-02-22 13:10] jichenjc commented on #1415
@lingxiankong do you know this is related to previous gate issue (node name not updated) ?
I didn't go to detail until now ...

[2021-02-22 16:35] chrigl commented on #1407
I think we are talking about `cloud-provider-openstack-e2e-test-csi-cinder`. I know naming things is hard.

We do upload the [junit file](https://logs.openlabtesting.org/logs/65/1365/c332a9343b85f3639b410f8b2e15fb1af2719a91/cloud-provider-openstack-e2e-test-csi-cinder/cloud-provider-openstack-e2e-test-csi-cinder/cd12859/logs/kubernetes/junit_01.xml) for this tests. I will prepare including e2e.log

[2021-02-22 20:07] lingxiankong commented on #1415
No clue yet, I checked the log the other day, the k8s cluster was installed successfully but there was some failure in API server, I may need to do another sleep debug when I get time.

[2021-02-23 01:03] jichenjc commented on #1415
ok, I don't have enough info for me to take a look , so let me know anything I can help :)

[2021-02-23 09:49] chrigl commented on #1407
e2e.log should come in the next test-runs: https://github.com/theopenlab/openlab-zuul-jobs/pull/1124

[2021-02-24 10:38] chrischdi commented on #933
/reopen
/remove-lifecycle rotten

[2021-02-25 10:47] lingxiankong opened #1417 "[octavia-ingress-controller] Existing pools are rebuilt when updating Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I update an existing Ingress, I noticed that all the existing pools are rebuilt even the change doesn’t impact the existing pools.

This update takes up to minutes, which means an production system will have service outage when adding new pool on ingress.

**What you expected to happen**:
When updating Ingress host na

[2021-02-25 17:46] jsafrane commented on #1407
The linked junit has 29 passed tests, which is 19 test less than what I can get with kubernetes/kubernetes suite. For example,I miss topology. Some tests can run even with cluster in a single zone.

[2021-02-25 19:08] jsafrane commented on #1407
These tests are not running:
[code]

For example. the whole fsGroup feature is not tests. Not that I'd expect it to fail - it depends more on the filesystem (ext4) than Cinder, but it shows how useful is to revisit the tests from time to time to get coverage of new features.

The same for multivolume tests - they ensure that a volume can be attached/detached to/from the same node / different nodes

[2021-02-26 01:13] jichenjc commented on #1415
I have a successful run now , so close this

[2021-02-26 01:13] #1415 closed

[2021-02-26 01:31] jichenjc opened #1420 "[cinder-csi-plugin] Doc update for how to update spec version/cinder version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
comes from https://github.com/kubernetes/cloud-provider-openstack/pull/1390 review
we need doc somewhere why/how to update the specVersion and driver version with some guidelines

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-contro

[2021-02-26 01:31] jichenjc commented on #1420
/assign

[2021-03-01 16:43] jsafrane commented on #1410
Tested OpenShift with Kubernetes 1.20, 3 node cluster, 11 hours of [cluster_load_scale_by_nodes](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2/testing/experimental/storage/pod-startup) with this setting

[code]
It is creating 60 PVCs + Deployments that use them, waits for everything Running and then deletes Deployments + PVCs. It "just worked".

190 runs total (= 190*60 = 114

[2021-03-01 16:43] jsafrane commented on #1410
![metrics](https://user-images.githubusercontent.com/1745006/109529108-ac1a3500-7ab5-11eb-99fb-4de9b769ce91.png)

[2021-03-02 16:08] gpugal opened #1423 "[octavia-ingress-controller] 503 Service Unavailable - Error when accessing loadbalancer Floating IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I followed the instructions at:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/octavia-ingress-controller/using-octavia-ingress-controller.md

(I am running a small k8s cluster on top of Openstack, which is Victoria, and has Octavia)
Loadbalancer is created and floating IP gets assigned, but when

[2021-03-02 16:46] ppeereb1 opened #1424 "[occm] Octavia loadBalancerSourceRanges does not work"
/kind bug

**What happened**:
Hi,

I'm trying to create a service type loadbalancer  with loadBalancerSourceRanges in order to limit access to the public loadbalancer from ranges we trust.

cloud-provider-config:
[code]

service.yaml:
[code]

When creating the loadbalancer I get the following error in the kube-controller-manager pod:
`
I0302 15:30:42.861430       1 event.go:291] "Event occurred" o

[2021-03-02 19:44] lingxiankong commented on #1423
* Please provide your octavia-ingress-controller config.
* You can try to access the fixed VIP of the load balancer from within the subnet of the VIP, see if that works.

[2021-03-02 19:53] lingxiankong commented on #1424
Please use `--v=4` in the args of openstack-cloud-controller-manager so that you can see more logs for debugging, there will be octavia version in the log: `Found Octavia API versions`

[2021-03-03 04:41] gpugal commented on #1423
Thanks for your reply, Please find the requested details.

- octavia-ingress-controller config.
[code]
I have hardcoded config values, instead of allowing it to get injected.

I tried to access the VIP of the load balancer, I'm getting the same error.

[2021-03-03 11:40] ppeereb1 commented on #1424
So apparently Openshift4.7 stil uses the legacy-cloud-providers :unamused:

[2021-03-03 11:40] #1424 closed

[2021-03-04 22:30] #1417 closed

[2021-03-05 04:22] VVvKamper opened #1428 "[cinder-csi-plugin] possibility to set bytes-per-inode and inode size on pv"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We are trying to store a lot of small files on the disk and default (1 inode per 16 KB) fs settings is not suitable for such task

**What you expected to happen**:

Some parameters on the storage class to specify args for `mkfs.*` comand i.e. `-i` (bytes per inode), `-I` (inode size) and `-O inline_data` (enable data

[2021-03-05 06:39] jichenjc commented on #1428
@VVvKamper looks like you are referring to k8s code instead of CPO code
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L397
called to format the disk but seems we can do nothing because as you pointed out, there is no way for that code
to accept param except the fs type .. maybe you can post this question to k8s repo as well to get some opinion
? if

[2021-03-05 13:53] jsafrane commented on #1409
With OpenStack 4.7 (= Kubernetes 1.20) on a 3 node cluster I ran 10 StatefulSets, each with 3 replicas (=30 Pods) and enabled / disabled the CSI migration of Cinder. Apart from obvious downtime during draining nodes (to enable/disable the migration), I did not find anything obviously wrong.

[2021-03-06 03:10] #1098 closed

[2021-03-06 10:33] lingxiankong commented on #1423
Check if you can access the service via NodePort (on the load balancer member IP). The ingress-controller has already successfully set up the load balancer, but seems there is network firewall blocks the traffic.

[2021-03-07 16:50] chrigl commented on #1397
Just to give an update. We are still waiting for a release of `external-provisioner` (https://github.com/kubernetes-csi/external-provisioner/issues/563). In the meanwhile, I created a custom image, including the fix of @jsafrane , and successfully tested CSIMigration+Topology with it.

[2021-03-07 19:43] chrigl commented on #1409
With Kubernetes 1.20, I ran a 5 node cluster spread across three availability zones (where compute and storage AZ are the same). I enabled Topology support in `csi-cinder-controllerplugin`, with a custom build of `csi-provisioner` (because we wait for a release).

[code]

I created 5 StatefulSets of 2 Pods upfront without CSIMigration, then I added 2 more with CSIMigration.

In total, I enabled an

[2021-03-08 07:11] dkistner commented on #1328
/remove-lifecycle stale

[2021-03-08 07:58] gpugal commented on #1423
Thanks for your reply, HTTP is working now, The fix was I added the NodePort in the security groups. But I got another issue with the HTTPS.

**Secret(s) retrieval attempt not allowed - please review your user/project privileges**

Logs
[code]
This is my ingress file

[code]

[2021-03-08 09:08] ramineni commented on #720
/remove-lifecycle rotten

[2021-03-08 09:12] ramineni commented on #702
/remove-lifecycle stale

[2021-03-09 03:13] #1403 closed

[2021-03-09 03:22] #1420 closed

[2021-03-09 04:31] ramineni commented on #1403
@creatica-soft Please check , it should be resolved by latest image

[2021-03-10 07:29] ramineni commented on #1428
@VVvKamper there is 'mountOptions' available while creating storageclass , https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#storageclass-v1-storage-k8s-io, you can add extra options , those should be passed to the call.

[2021-03-10 07:36] jichenjc commented on #1428
@ramineni I guess the ask is for mkfs option not for the mount option ...

[2021-03-10 08:11] cxl253386709 opened #1435 "[cinder-csi-plugin] Invalid input for field/attribute metadata when creating Volume"
[cinder-csi-plugin] Cannot create Volume

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi there.I received an error when  I tried to deploy a test deployment in my Openstack environment,and the pvc's status is Pending.
The messages are as follows:
ProvisioningFailed    2s (x10 over 8m34s)       cinder.csi.openstack.org_openstack-cinder-csi-controllerplugin-0_e6c80eb

[2021-03-10 11:19] #1328 closed

[2021-03-10 13:32] Fedosin opened #1436 "[cinder-csi-plugin] Filesystem size stays the same after PVC resize"
/kind bug

**What happened**:
When I try to resize a PVC as it says in the [example](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/examples.md#volume-expansion-example) the filesystem size stays the same.

[code]

List of events doesn't show any errors:

[code]

**What you expected to happen**:

Filesystem size should be 2Gi

**How to reproduce it**:

Re

[2021-03-10 19:37] Fedosin commented on #1436
this is what I see in the logs now:

[code]

[2021-03-10 19:38] Fedosin commented on #1436
with my patch it is
[code]

and the filesystem size is successfully increased

[2021-03-10 19:50] Fedosin commented on #1436
to find the mount we [call](https://github.com/kubernetes/cloud-provider-openstack/blob/82676961fe9d3507b0eb572914afe465cb876a89/pkg/csi/cinder/nodeserver.go#L529) `findmnt` command

The output for volume path:

[code]

For staging target path:

[code]

[2021-03-11 01:54] jichenjc commented on #1436
I seems encounter this issue before but didn't figure out the root cause at that time..
thanks for the analysis!

[2021-03-11 05:37] jichenjc opened #1437 "[cinder-csi-plugin] resize of volume failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

reported this before and can't find it now, so re-report and see whether we can improve

following the `resize` guide and the volume changed from 1G to 2G

[code]

and logs shows
[code]

resize ok, but the size is still actually 1G
[code]

![image](https://user-images.githubusercontent.com/17615805/110740961-d49cee80-826

[2021-03-11 05:46] jichenjc commented on #1435
@cxl253386709 this is NOT a CSI plugin issue, instead, your openstack version is too old (you didn't provide but I think it's fairly old from context)

please check
https://github.com/openstack/cinder/commit/534fa38f4cb364cb6584c273be8ae2580fabe627

metadata spec defined
https://github.com/openstack/cinder/commit/534fa38f4cb364cb6584c273be8ae2580fabe627#diff-996fe25274e0ffcac2007c48a09ef1eec43fee3

[2021-03-11 05:50] jichenjc opened #1438 "Add supported version of openstack into doc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
per https://github.com/kubernetes/cloud-provider-openstack/issues/1435 , I only found we mentioned openstack API https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/cinder-csi-plugin/using-cinder-csi-plugin.md#driver-config but no openstack version

in some old openstack version is might lead to s

[2021-03-11 08:01] cxl253386709 commented on #1435
Thank you for the solution.that should be the case

[2021-03-11 08:01] #1435 closed

[2021-03-11 08:24] #1436 closed

[2021-03-11 08:28] jichenjc commented on #1436
I realized I have a question here (#1437  I only saw /dev/vdf)
but you have `dev/vdb
/dev/vdb
/dev/vdb
/dev/vdb
/dev/vdb
/dev/vdb
/dev/vdb`

do you know why this happen? this should be helpful to know whehther it would be helpful for further reference

[2021-03-11 10:30] lingxiankong commented on #1438
I think we support all *Maintained* versions of OpenStack(https://releases.openstack.org/), don't we?

[2021-03-11 18:33] sbueringer commented on #1287
/remove-lifecycle stale

[2021-03-11 22:02] lingxiankong commented on #1287
@bgagnon Hi, are you still working on solving this issue? If yes, could you please work on the master branch first?

[2021-03-12 00:53] jichenjc commented on #1438
not sure we did test for it ?it's just a statement, we can update the doc?
anyway, we should also say what has been  tested in our gate CI to deliver clear info..

[2021-03-12 03:08] bgagnon commented on #1287
Since opening #1345 I have changed jobs and no longer have the ability to test on Openstack. Maybe @davidovich or someone from his team wants to pick it up. Sorry about that!

[2021-03-12 04:59] ramineni commented on #1428
/close
Not in scope of this repo, pls raise issue in diff repo as suggested above.

[2021-03-12 04:59] #1428 closed

[2021-03-12 14:12] morremeyer opened #1441 "[openstack-cloud-controller-manager] LoadBalancer creation fails with „Pools must be named when creating a fully populated loadbalancer“"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A deployment with the currently tagged `latest` version (`k8scloudprovider/openstack-cloud-controller-manager@sha256:b2282327cbfb24d5fc12e6fab0f0176f2a6f0a9876ab8499a8e71dad0e4878f9`) can’t create octavia loadbalancers. as the validation fails.

Downgrading to `v1.20.2` fixed the issue.

[code]

**What you expected to ha

[2021-03-12 23:46] notandy commented on #1441
The initial change included named pools, I had to remove it due to review. Will amend a fix shortly.

[2021-03-12 23:48] morremeyer commented on #1441
@notandy Thanks a lot! And please take your time, we can obviously stay on the released version for now :)

[2021-03-13 11:22] lingxiankong commented on #1441
/assign

[2021-03-13 12:07] notandy commented on #1441
@lingxiankong just wanted to push a pr -_-

[2021-03-14 09:50] lingxiankong commented on #1441
I didn't see you have assigned to yourself, thought you are not available for a fix.

[2021-03-14 10:08] lingxiankong commented on #1287
no worries @bgagnon, I will see how I can help.

[2021-03-14 14:50] notandy commented on #1441
That's fine, I tested your quickfix, lgtm.

[2021-03-16 01:15] jichenjc commented on #1392
First , we need expose the http endpoint of the CSI containers
through /metrics

https://github.com/kubernetes/cloud-provider-openstack/pull/1398 is doing that by adding an http endpoint and by doing that , we can achieve

[code]

then after above is done,
we can keep adding openstack api calls metrics by referring to implementation
https://github.com/kubernetes/cloud-provider-openstack/blob/maste

[2021-03-16 06:22] #1441 closed

[2021-03-16 09:58] gpugal commented on #1423
@lingxiankong
This ticket can be closed, this issue is the same as "https://bugs.launchpad.net/barbican/+bug/1627391".

[2021-03-16 09:58] #1423 closed

[2021-03-17 00:44] creatica-soft commented on #1403
@ramineni Thanks. It works if the volume gets attached but again when a volume fails to attach for any reason, the plugin requests a new volume and again in a few minutes, there will be few available volumes in openstack and non of them attached. I had to delete a deployment to stop this volumes acumulation in openstack and then delete those volumes manually from openstack.

[2021-03-17 00:53] creatica-soft opened #1444 "[cinder-csi-plugin] New cinder volumes are created when ephemeral volume fails to attach"
[cinder-csi-plugin] If an ephemeral volume fails to attach for any reason, cinder-csi-plugin will keep creating new volumes

**What happened**:
If an ephemeral volume fails to attach for any reason, cinder-csi-plugin will keep creating new volumes. To stop it, I have to delete the deployment and then manually delete all these volumes from openstack. The current limit of the number of volumes in ce

[2021-03-17 01:50] ramineni commented on #1444
/assign

[2021-03-17 07:23] ramineni commented on #1392
@jichenjc Thanks. Got it. I'm wondering if we are adding only openstack api call metrics, cant we use uniform way of retrieving metrics or same endpoint for metrics . Right now we have different ways of retrieving metrics, so may be it would less confusing if we can expose metrics with same endpoint or extension of the same. not sure if this is possible?

[2021-03-17 09:57] jichenjc commented on #1392
@ramineni I agree we need use same endpoint for all openstack calls, but seems we can't assume CSI metrics  come from Cloud provider container endpoint? the /metrics are consistent across all containers

[2021-03-17 20:51] openstacker opened #1446 "[magnum-auto-healer] Magnum auto healer cannot handle volume based master nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When the k8s nodes are created based on volume, the repair will fail with the error that the root volume is still in in-use status.

**What you expected to happen**:
The volume-based nodes can be repaired successfully

**How to reproduce it**:
Create a k8s cluster with Magnum based on volume-based nodes, then stop a kubel

[2021-03-18 04:53] ramineni opened #1448 "[cinder-csi-plugin] Support Generic Ephemeral Volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
This issue is to explore/track support of generic ephemeral volumes which is added as an alpha feature in k8s 1.19

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack versio

[2021-03-18 04:54] ramineni commented on #1448
/assign

[2021-03-18 05:07] ramineni commented on #1438
@jichenjc ya, ideally it should work for all Maintained versions of openstack.
In openlab , we do test only with latest version of Openstack I suppose.

Im not sure if adding in doc would be good idea. As we dont test all in CI and certain features may need more later microversion .version etc. Im not sure we could generalize for all plugins/all features supported.

[2021-03-18 05:15] jichenjc commented on #1438
if so , how about provide such info and clearly share those kind of information? @ramineni

[2021-03-19 08:49] jichenjc opened #1451 "[all] Dev guide for CPO"
**Is this a BUG REPORT or FEATURE REQUEST?**:

We don't have a dev guide which is fine,but currently there are logs
such as 1/2/3/4/5 level exist, maybe need some quick definition on this

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- Open

[2021-03-19 09:32] ramineni commented on #1392
@jichenjc I meant some extension like https://localhost:10258/metrics/csi etc?

[2021-03-21 19:54] lingxiankong commented on #1451
The logging has already been defined in Kubernetes: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2021-03-22 01:02] jichenjc commented on #1451
I will close this one and compare with existing code to see whether we follow that guide or not :)
thanks for point me the dev guide

[2021-03-22 01:02] #1451 closed

[2021-03-23 07:03] #1407 closed

[2021-03-23 07:15] #1287 closed

[2021-03-23 09:15] chrigl commented on #1407
[code]

[2021-03-24 12:39] Fedosin opened #1453 "[cinder-csi-plugin] --nodeid option is ignored by the driver"
/kind bug

**What happened**:
Now the binary provides an option called "[--nodeid](https://github.com/kubernetes/cloud-provider-openstack/blob/master/cmd/cinder-csi-plugin/main.go#L77-L78)" that allows to set node ID for the driver. Normally it is set to `spec.nodeName` like in this [chart](https://github.com/kubernetes/cloud-provider-openstack/blob/master/charts/cinder-csi-plugin/templates/nodepl

[2021-03-25 01:38] jichenjc commented on #1453
I guess we should keep the node ID function and honor it ?
though not sure whether it will lead to side effect if we set the node name instead of get from metadata

seems we should be consistent for CSI in openstack (which is same to manila)

[2021-03-28 02:46] #1251 closed

[2021-03-29 08:15] #1298 closed

[2021-03-29 11:18] #1299 closed

[2021-03-31 09:36] ramineni commented on #1453
@Fedosin you are right. node-id values seems to be ignored. Could you provide some additional details?
Are the 2 values different ? one retrieved by metadata service and spec.nodeName . Ideally both should be same. spec.nodeName should contain the node name where the nodeplugin is deployed.

Im thinking whether we could directly use --node-id field or not. Could you share what are the values of bo

[2021-04-06 07:35] JoaoBraveCoding opened #1460 "[manila-csi-plugin] Introduce priorityClass to Helm chart in order to configure DaemonSet pods as system pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In our clusters we started seeing a problem with some pods of important Daemonsets like the manila-csi-plugin being evicted and then staying in a `Pending` state. This happened because of other pods running on the node consuming too much memory and having a higher `priorityClass`, so we would like the ability to cont

[2021-04-06 12:19] #1460 closed

[2021-04-07 05:10] ramineni commented on #1437
@jichenjc Can we close this? with recent change, the failure is reported well before right?

[2021-04-07 05:17] jichenjc commented on #1437
yes, I think at least we prevent that happen

[2021-04-07 05:17] #1437 closed

[2021-04-07 09:39] #1446 closed

[2021-04-07 21:40] lingxiankong commented on #1322
@niedbalski The manifest here https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/webhook/keystone-deployment.yaml is just an example of how to deploy keystone-auth service, the actual deployment varies between different environments. Please don't rely on that for production without modification.

[2021-04-07 22:18] #1322 closed

[2021-04-08 02:00] jichenjc opened #1464 "[Cinder-csi-plugin] CSIVolumehealth adoption"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

https://kubernetes-csi.github.io/docs/volume-health-monitor.html
https://kubernetes.io/blog/2021/04/16/volume-health-monitoring-alpha-update/
has been a alpha feature for CSI

we can introduce this as optional (because it's still alpha)

[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything el

[2021-04-08 02:00] jichenjc commented on #1464
/assign

[2021-04-08 02:07] jichenjc opened #1465 "[cinder-csi-plugin] support capacity in CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://github.com/kubernetes-csi/external-provisioner#capacity-support
will be beta since 1.21, we need consider how to report capacity through existing/new to be added interface

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-contro

[2021-04-08 02:07] jichenjc commented on #1465
/assign

[2021-04-08 14:06] Fedosin commented on #1453
@ramineni hi! yes, they are different... You can see an example in the issue description. For instance, `spec.nodeName` is `mfedosin-rgrmg-worker-0-bmwx4` and the metadata value is `5934efa7-8169-4490-bf10-922f159c5ad4`.

[2021-04-08 14:14] Fedosin commented on #1453
I think we can consider next solutions:
1. Deprecate --node-id for cinder-csi-plugin and always use the id value from metadata.
2. Start using --node-id for real and stop fetching the value from metadata.
3. Make --node-id optional. If it's set, then use the provided value, otherwise get the id from metadata.

[2021-04-08 14:59] Fedosin opened #1469 "[cinder-csi-plugin] Openstack credential info exposed when specifying secret in storageclass"
When setting the TraceAll loglevel for Cinder CSI Driver and specifying secret in storageclass, the OpenStack credential info is exposed from the log.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We can get the credential info from the related logs:
[code]
**What you expected to happen**:

We should not get the credential info from the related logs.

**How to repro

[2021-04-08 15:05] Fedosin opened #1470 "[manila-csi-plugin] Openstack credential info exposed when setting loglevel"
When setting the TraceAll loglevel for Manila CSI Driver, the Openstack credential info exposed.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We can get the credential info from the related logs:
[code]
**What you expected to happen**:

We should not get the credential info from the related logs.

**How to reproduce it**:
1. Install Manila CSI Driver.
2. Set the Ma

[2021-04-08 16:57] Fedosin commented on #1470
Fixed with https://github.com/kubernetes-csi/external-provisioner/pull/601

[2021-04-08 16:57] #1470 closed

[2021-04-09 00:30] jichenjc commented on #913
/remove-lifecycle stale

[2021-04-09 01:17] jichenjc commented on #1453
looks like 3 is consistent to current behaivor and flexible..

[2021-04-09 01:36] jichenjc commented on #1465
looks like
https://docs.openstack.org/api-ref/block-storage/v3/index.html

there is no suitable API for volume capacity retrieval .. need further check

[2021-04-09 07:57] gman0 opened #1472 "[manila-csi-plugin] GRPC connection leaks"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We've noticed increasing memory consumption in manila-csi Node plugin pods. The more RPCs any particular Node plugin pod saw, the more memory it consumed. We've observed the same issue on the partner Node plugin that manila-csi uses to perform node-local operations (in our case this was cephfs-csi).

Since both manila-cs

[2021-04-09 13:24] ppeereb1 opened #1475 "[manila-csi-plugin] allow share volume expansion"
/kind feature

**What happened**:
I'm trying to extend a pvc with the manila storageclass but i'm unable to do so, allowVolumeExpansion is set to true in the SC.
Extending a Manila share seems not possible in current situation. While is is possible in Openstack:
https://docs.openstack.org/manila/latest/admin/shared-file-systems-share-resize.html

I couldn't find any reference in the code to extend

[2021-04-11 19:51] lfdominguez opened #1478 "[cinder-csi-plugin] Pod start failed by MountVolume.SetUp failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pod can't run because unmounted volume.

1- The deploy create a PVC that is bound
![image](https://user-images.githubusercontent.com/5604131/114318661-09a19880-9adc-11eb-9087-5c6ba4a50e08.png)
![image](https://user-images.githubusercontent.com/5604131/114318672-22aa4980-9adc-11eb-8f01-bd7244346e3b.png)

2- The volume is c

[2021-04-11 19:55] lfdominguez commented on #1465
`GET` over `/v3/{project_id}/volumes/{volume_id}` and get the `size` field of returned json (Gib)

[2021-04-11 21:39] lfdominguez commented on #1478
Some new logs from csi-cinder-nodeplugin [cinder-csi-plugin]:
[code]

[2021-04-11 21:44] lfdominguez commented on #1478
Maybe the custom kubelet dir of microk8s snap is causing this issue

[2021-04-11 22:01] lfdominguez commented on #1478
I was checking and the `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-id/globalmount` is a folder and not a link to the raw device... so when the CSI try to bind mount with -t ext4 to container fail because is a folder... and that folder is not mounted, at least not showed on `mount -l`

[2021-04-11 22:25] lfdominguez commented on #1478
Is not mounting the device:
![image](https://user-images.githubusercontent.com/5604131/114323410-154c8980-9af3-11eb-8576-f1db0f9ab37e.png)
![image](https://user-images.githubusercontent.com/5604131/114323418-1f6e8800-9af3-11eb-92a9-89cd80dcdc82.png)
![image](https://user-images.githubusercontent.com/5604131/114323465-53e24400-9af3-11eb-8189-38661cb2b53e.png)

[2021-04-12 00:45] jichenjc commented on #1465
but that's for one volume ... I thought the purpose of the CSI call is to return the total amount of the pool?

[2021-04-12 00:58] lfdominguez commented on #1465
I re-read the doc... sems that is CSI need to get total capacity from the node... in case of Cinder will be the total capacity to use... but if you use the quota max of the OpenStack project? all the OpenStack projects has the volumes count and capacity limit quotas.

[2021-04-12 00:59] lfdominguez commented on #1465
I re-read the doc... sems that is CSI need to get total capacity from the node... in case of Cinder will be the total capacity to use... but if you use the quota max of the OpenStack project? all the OpenStack projects has the volumes count and capacity limit quotas.

[2021-04-12 01:16] jichenjc commented on #1465
that's a valuable suggestion :), there might be some edge case ,for example, only 1T disks but quota is 2T
then report 2T seems weird ..
@ramineni @lingxiankong any comments?

[2021-04-12 01:27] lfdominguez commented on #1465
Well i think that if I as the OpenStack manager put a 2T quota over 1T disk is a bad config from me, the CSI can't do magic jejej.... another approach is use the compute API and get the storage of nodes... but this is very very mix, for example in my env i use Ceph with OpenStack, so all compute nodes has the same capacity.... but others drivers can get differents storage sizes per node... but in

[2021-04-12 05:53] #1469 closed

[2021-04-12 06:01] #1472 closed

[2021-04-12 08:28] ramineni commented on #1453
@Fedosin But the difference is only one is returning name and other is returning id of the same node right?
I meant `5934efa7-8169-4490-bf10-922f159c5ad4` is the ID of this same node with name `mfedosin-rgrmg-worker-0-bmwx4` ?

[2021-04-12 11:50] gman0 commented on #1475
Yes, it's not implemented yet but is on our roadmap. Coming soon. If you'd like to take this you're welcome to do so of course.

[2021-04-12 13:26] mdbooth opened #1481 "[cinder-csi-plugin] Allow passing multiple config files"
We would like to give the user the ability to pass arbitrary arguments to cinder-csi-plugin beyond those specified by the operator. Currently the operator specifies a 'base' configuration in a configmap, which is essentially necessary for the correct operation of the plugin in the cluster. This is currently:

[code]

The immediate driver is to give the user the ability to specify `ignore-volume-az

[2021-04-12 20:12] mdbooth commented on #1367
'multiattach' is an extra_spec on the volume type. We should be able to check that.

[2021-04-12 20:44] mdbooth commented on #1367
Incidentally, although the published api docs don't say so there's at least 1 code comment suggesting that volume.multiattach is deprecated:

https://opendev.org/openstack/cinder/src/commit/355681cd53fbb2f5fd2c4cecb55a83c5e0c27c2c/cinder/volume/flows/api/create_volume.py#L434-L436

I don't know how likely it is to go away in practise, but it seems prudent to use the extra_spec on the type rather t

[2021-04-12 21:13] tombarron commented on #1367
multi-attach is not by itself *sufficient* for safe RWX when using block storage like cinder.  You also need to make sure to set volumeMode = 'Block in your PVC', which was introduced as a beta feature in k8s 1.13 [1]  Not doing this setting or setting "Filesystem" gets you traditional behavior where ks expects to either find a filesystem or it will create an xfs or ext4 filesystem before making i

[2021-04-13 02:05] lfdominguez commented on #1478
I have this too...
[code]

[2021-04-13 02:40] jichenjc commented on #1465
ok, maybe need check other cloud provider like AWS / Azure how they handle it as they can't report total EBS :)

after another thought I think it might be reasonable to give the storage quota here
https://docs.openstack.org/cinder/latest/cli/cli-cinder-quotas.html

let me submit one PR based on this

[2021-04-13 02:55] jichenjc commented on #1478
this might not related, snapshot is not related to your mount action as much as I know

[2021-04-13 02:59] lfdominguez commented on #1478
I think that too (maybe a new issue because this is a kubernetes 1.20 and can be an api changed)... but just in case I show it

[2021-04-13 03:13] lfdominguez commented on #1478
Check this...
logs from csi nodeplugin
![image](https://user-images.githubusercontent.com/5604131/114491237-4a84d480-9be4-11eb-845b-77bd3a68c172.png)

You can check the message `Disk successfully formatted...` with the destination path for mount the device.... but searching on the mount_linux.go from kubernetes/utils (https://github.com/kubernetes/utils/blob/2afb4311ab10fb869c5d8c260b5e92b4bbde7f8

[2021-04-13 04:53] lfdominguez commented on #1478
Finnaly the csi is mounting the devices... The thing is the custom paths of microk8s snap, on the `cinder-csi-nodeplugin.yaml`, on the `cinder-csi-plugin` container definition I added a duplicated mounted volume of `kubelet-dir` to `/var/snap/microk8s/common/var/lib/kubelet`, because Kubernetes tell to CSI that the path where to mount the device is inside `/var/snap/microk8s........` but that path

[2021-04-13 06:35] lfdominguez commented on #1478
Fixeeed!!!!!
Must leave only one `kubelet-dir` on `cinder-csi-plugin` container definition with the snap custom kubelet directory. Thanks to all

[2021-04-13 06:35] #1478 closed

[2021-04-13 09:40] jichenjc opened #1485 "[cinder-csi-plugin] high failure ratio at gate of cloud-provider-openstack-e2e-test-csi-cinder"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
take https://logs.openlabtesting.org/logs/84/1484/748a77b44e4629a8d4e3dc9958fc5f986fa2623b/cloud-provider-openstack-e2e-test-csi-cinder/cloud-provider-openstack-e2e-test-csi-cinder/25df664/job-output.txt.gz

as example,
[code]

[code]

looks like `b5651fbc-aaf3-4e8c-8fae-0c96b222f103` is in error status and not sure why i

[2021-04-13 09:41] jichenjc commented on #1485
I don't have access to the cinder log so not sure what happened there , might be env issue

[2021-04-13 09:55] jichenjc commented on #1465
another thought: from CSI spec seems they are expecting `physical` resource instead of `logical` resource
as tenant quota is more about logical ..if we use tenant quota, those params/optins listed below won't be honored any more..

https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/csi.pb.go

[code]

[2021-04-13 12:22] lfdominguez commented on #1465
But, check this essenario... you are a user of a Tenant of OpenStack, you dont have access to see the real physical resource of the cloud... then you deploy some virtual instances on the tenant with kubernetes and your "physical" storage is that one quota show to you... you can't see, for example, the real physical hard disks of the internal ceph used by the cloud.

So the "physical" in this case

[2021-04-13 14:54] hemna opened #1487 "[cinder-csi-plugin] volumes list/get needs microversion passed"
Since the cinder Train release getting a list of volumes and getting volumes from the API removed a deprecated version of filtering.  This can cause clients that don't pass in a microversion to not be able to filter the list of volumes by name.

Here is the relevant cinder patch that removed the deprecated filtering:
https://github.com/openstack/cinder/commit/ee1ac541253c42e3d94c907cb5b49a1172d688

[2021-04-13 18:39] mdbooth commented on #1367
For completeness, I wrote up what I believe should be the logic here: https://github.com/kubernetes/cloud-provider-openstack/pull/1368#issuecomment-818831513

[2021-04-14 01:59] jichenjc commented on #1481
I think it's reasonable request

only a question looks like the change apply to other projects as well  (otherwise it will be cinder CSI only feature...)

[2021-04-14 08:57] mdbooth commented on #1481
Although I didn't check, I assumed this would apply to all the other projects. I agree we should make them consistent, although probably best to do them individually.

[2021-04-14 09:01] jichenjc commented on #1481
yes, not asking for that in this issue,PR, just want to share some thoughts on this

this come to requirement to ask all project use same set of openstack shim layer (create client, API call etc), it might need further effort ,

[2021-04-14 11:31] mdbooth commented on #1481
I looked at the existing documentation and it's not 100% clear to me where best to document this feature. The existing docs on how to use cinder csi plugin refer to the CLOUD_CONFIG environment variable, which is a feature of the static deployment in the manifests. This feature is probably of most use to folks who generate that dynamically. I didn't want to add it to the existing manifest because

[2021-04-14 11:53] tombarron commented on #1367
I commented in #1368 that to my knowledge Cinder provides no way for a regular user (member with project scoped keystone role) to discover the multiattach extra spec in volume types.  IMO that is a deficiency that Cinder should address (PTG topic?  capabilities discovery has come up before in Cinder but to my knowledge was never resolved).  (FWIW, in Manila we distinguish between traditional, priv

[2021-04-14 13:38] jichenjc commented on #1481
I think a seperate PR is totally fine , and I agree move to a new folder/example should be very helpful as well
to avoid confuse people who don't need that feature, thanks for the followup

[2021-04-15 01:14] jichenjc commented on #1465
ok, let me give a try to the quota and see whether guys has any comments

[2021-04-16 01:29] ramineni commented on #1169
/remove-lifecycle rotten

[2021-04-16 10:00] azerbe commented on #1441
Can you please release a quickfix for this? This issue is a month old and the image with the "latest" tag hasn't been rebuild so far.

[2021-04-16 15:32] mnasiadka commented on #1350
/remove-lifecycle rotten

[2021-04-20 01:07] jamessewell opened #1490 "pvc resize size difference"
* cinder-csi-plugin

**What happened**:

I resized a 1GB partition to 10GB, then to 50GB.

Everything works as expected - but I'm only seeing a size of 16GB in my pod mounted filesystem (it did get bigger - just not by the full amount).

[code]

**What you expected to happen**:

The new PVC size would match the mounted filesystem size at 50GB

[2021-04-20 01:44] lingxiankong commented on #1441
@azerbe we didn't realize the latest tag OCCM image hasn't been updated for so long, I will see what I can do.

[2021-04-20 02:13] jichenjc commented on #1490
this is weird, what version of CPO you are using?
and maybe helpful if you check cinder logs as well ...

[2021-04-20 12:24] lingxiankong commented on #1441
Should be fine now, please try again.

[2021-04-21 03:14] #1294 closed

[2021-04-21 11:07] skipworkgh opened #1491 "[manila-csi-plugin] Can't use PV in a pod (CephFS)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After creating a PVC, a proper share is created in manila. K8s shows status 'bound' to it, once done. PV exists. Share exists in Openstack. Once connected to a pod (which takes a few minutes to become ready), the share can't be used to write files to. The pod and the node it's running on hangs.

**What you expected to happen**:
Quic

[2021-04-21 11:12] skipworkgh commented on #1491
Manila-csi-nodeplugin log when creating the pod

[code]

[2021-04-22 10:05] azerbe commented on #1441
Thanks!

[2021-04-22 13:23] ramineni commented on #1491
/cc @gman0

[2021-04-22 14:01] gman0 commented on #1491
Hey @skipworkgh , that's a whole lot of aborts. This indeed looks like cephfs-csi got stuck. Two things:

1. Let's try to take manila-csi out of the picture and use cephfs-csi directly to try to locate the problem better,
2. Please also send logs from the respective cephfs-csi node plugin.

For (1):

Create a "pre-provisioned" CephFS volume (that's actually provisioned by Manila) and then mount it

[2021-04-22 18:35] skipworkgh commented on #1491
Hi @gman0, thanks for taking the time and respond to this issue.

I experienced a lot of issues debugging this problem, which at the end of the day - literally - got me to post this issue. Basically it was not possible to view any of the logs on the node because it stopped responding the second I wanted to spawn a pod with a ceph PV connected to it.

This morning - with a fresh mind - I realized I

[2021-04-23 07:59] jsafrane opened #1493 "[cinder-csi-plugin] In-line ephemeral volumes are dangerous"
/kind bug

Ephemeral in-line CSI volumes as implemented in the Cinder CSI driver are very limited, hard to use and can be even dangerous in some environments.

The main issues are:
* An user may create as many pods with ephemeral in-line CSI volumes as they want, with any size. There is no way how to restrict them, either with Kubernetes quota or with any other mechanism.
* The CSI driver on *all*

[2021-04-23 08:06] jsafrane commented on #1448
Generic ephemeral volumes should work out of the box with any CSI driver, they use regular PVs/PVCs and dynamic provisioning. Running Kubernetes e2e test would be great.

[2021-04-26 00:05] jichenjc commented on #1493
+1 to deprecate this feature ,see the Generic ephemeral volumes tracked
https://github.com/kubernetes/cloud-provider-openstack/issues/1448

so maybe something we can consider after that PR is fixed

[2021-04-26 08:30] gman0 commented on #1491
@skipworkgh feel free to close this ticket if you think this is solved (at least from the manila-csi side), and/or open a new one should more issues arise. Also, FYI we had a point release recently https://hub.docker.com/r/k8scloudprovider/manila-csi-plugin - tag v1.20.4. Make sure you're using that one.

[2021-04-26 08:45] #1491 closed

[2021-04-26 10:17] jichenjc opened #1497 "[cinder-csi-plugin] volume length is not checked and volumeID not verified during expand volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/node.go#L697
https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/node.go#L716
failed (we are not using master branch now)

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- ope

[2021-04-26 10:18] jichenjc opened #1498 "[cinder-csi-plugin] if node-expand is called after node-publish, the test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/node.go#L731

failed,

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-04-27 04:19] lingxiankong commented on #1220
/remove-lifecycle stale

[2021-04-27 06:01] ramineni opened #1502 "[OCCM] occm version not displayed correctly since 1.21 release"
**Is this a BUG REPORT or FEATURE REQUEST?**:
occm version not displayed correctly on using refactored cloudprovider code from k/k 1.21 release

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-04-27 11:21] lingxiankong commented on #1502
ref: https://github.com/kubernetes/cloud-provider-openstack/pull/1440#discussion_r620822121

[2021-04-28 11:17] seanschneeweiss commented on #1167
/remove-lifecycle stale
Might add a fix soon.

[2021-04-28 11:31] chrischdi commented on #1167
After talking to @seanschneeweiss I created the PR which should fix this bug :-)

[2021-04-28 16:15] itayrin commented on #1004
Any news on this? possible maybe to get a WA  please as how to do that locally on an working cluster? I mean on v1.17 csi

[2021-04-29 07:41] ramineni commented on #1004
@itayrin these are already backported to 1.17. Please use cinder-csi-plugin v1.17.1 for the fix.
k8scloudprovider/cinder-csi-plugin:v1.17.1

[2021-04-29 19:06] itayrin opened #1507 "[cinder-csi-plugin] After node restart, in describe pod - FailedMount: Unable to attach or mount volumes"
/kind bug

**What happened**:
Talking about cinder-csi version 1.17.1

A node in the cluster got restarted for some reason (let's say power outage of compute node). Some pod that was on it that had an attached pv, was probably moved and got back again to the restarted node. However, it is stuck on status 'ContainerCreating'.
When running 'kubectl describe po nac-pm-crmq-crmq-0' and it shows - 'War

[2021-04-30 00:18] jichenjc commented on #1502
/kind bug

[2021-04-30 00:24] jichenjc opened #1508 "[cinder-csi-plugin]Support Add ControllerGetVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

CSI spec 1.3 has a new function called ControllerGetVolume , we need support it for function completeness
it will be used for healthy check later
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related bina

[2021-04-30 00:31] jichenjc opened #1509 "[csi-cinder-plugin] upgrade csi-test to v4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
we need update csi-test from v3 to v4 (additional test cases added)

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2021-05-01 00:14] guibrazlima commented on #1250
I have the same problem. It’s possible to fix?

[2021-05-02 07:19] lingxiankong commented on #1250
@guibrazlima Yes, it's possible to fix, please read the comment above.

[2021-05-03 12:55] zetaab opened #1514 "[OCCM] cannot create resource "serviceaccounts/token""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/ kind bug

**What happened**: I am trying to create new cluster with 1.21 occm and it will display following in logs and cluster does not init correctly

[code]

**What you expected to happen**:

**How to reproduce it**: create new 1.21 cluster with https://github.com/kubernetes/cloud-provider-openstack/tree/master/charts/openstack-cloud-controller-ma

[2021-05-03 13:03] zetaab commented on #1514
https://github.com/kubernetes/controller-manager/blob/v0.21.0/pkg/clientbuilder/client_builder_dynamic.go#L201

[2021-05-03 14:06] zetaab commented on #1514
ref https://github.com/kubernetes/kops/pull/11373

[2021-05-03 16:24] Zebradil commented on #1514
I have the same issue, but in my case adding `serviceaccounts/token` changed the error to this one:
[code]

[2021-05-03 16:34] itayrin commented on #1507
If any info that you think that's important is missing, please advise

[2021-05-03 23:40] lingxiankong commented on #1507
I think it's duplicate with https://github.com/kubernetes/cloud-provider-openstack/issues/1354

[2021-05-03 23:42] lingxiankong commented on #1490
Will open again with more info provided.

[2021-05-03 23:42] #1490 closed

[2021-05-04 02:47] jichenjc commented on #1514
I met same issue here and at least I can make the

[code]

to
[code]

[2021-05-04 04:13] #1514 closed

[2021-05-04 09:57] Zebradil commented on #1514
I'm still getting `get token failed: the server could not find the requested resource`:

[code]

What could be the cause?

[2021-05-04 15:26] itayrin commented on #1507
Could be, except the WAs offered in that thread don't help me, I think. I tried shutting off the node, draining it, deleting it from the k8s cluster - in every step of the above I waited for the pod to come back and each time returned to the same state.
Tried bringing back the node, problem persists.

Checked again /var/log/messages on the 'problematic' node, worker-02:

`
May  4 08:23:44 cb0125-w

[2021-05-04 15:41] guibrazlima commented on #1250
@lingxiankong Thanks for the update. Do you know if someone in octavia team is looking to this issue?

[2021-05-04 15:56] edmv-everis opened #1520 "[octavia-ingress-controller] TLS ingress fails to update member pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When creating an Ingress with TLS, it fails trying to update octavia's LB pool, as in the following message:

`
INFO   [2021-05-03T21:06:43Z] creating pool                                 ingress=default/tls-octavia-ingress lbID=3f72f0d1-7f18-4b00-bef3-9026fd975e93 poolName=1ac29a27decdf846bcd9574e8a8a0142a754b975ec00f1c9

[2021-05-05 01:56] lingxiankong commented on #1054
/remove-lifecycle stale

[2021-05-05 08:35] Zebradil commented on #1514
Kubernetes: v1.18.16
Working version of openstack-cloud-controller-manager: v1.20.1

[2021-05-05 09:45] lingxiankong commented on #1514
It's recommended to keep the version consistent between k8s and openstack-cloud-controller-manager

[2021-05-05 10:13] Zebradil commented on #1514
Oh, I didn't think about that. Make sense, thank you!

[2021-05-06 01:49] jichenjc opened #1523 "gate: keep seeing cloud-provider-openstack-acceptance-test-lb-octavia error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

https://logs.openlabtesting.org/logs/96/1496/a6b56f6fa043e2ab52fa74d33b3b27a8014d7fc9/cloud-provider-openstack-acceptance-test-lb-octavia/cloud-provider-openstack-acceptance-test-lb-octavia/82c7945/job-output.txt.gz

[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environme

[2021-05-06 01:50] jichenjc commented on #1523
@lingxiankong should we ask openlab help? I can a bug there if it's the right approach?

[2021-05-07 06:00] lingxiankong commented on #1523
The job has already been disabled, see https://github.com/kubernetes/cloud-provider-openstack/pull/1511

[2021-05-07 06:00] #1523 closed

[2021-05-07 06:05] lingxiankong commented on #1520
Hi @edmv-everis have you checked the pool information in Octavia?

[2021-05-07 08:15] gman0 opened #1525 "[helm] appVersion attributes in release-1.21 are set to `latest`"
/kind bug

**What happened**:

`appVersion` attributes in Helm charts in release-1.21 branch are set to `latest`.

`appVersion` is used as an image tag in various Pods, e.g. https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.21/charts/openstack-cloud-controller-manager/templates/daemonset.yaml#L33 .

**What you expected to happen**:

`appVersion` should be pinned to a concrete v

[2021-05-07 17:56] edmv-everis commented on #1520
Anything in particular I should be looking at?

From horizon all I see is that the pool is in Error state and not much else.

[2021-05-09 11:06] lingxiankong commented on #1520
So you need to check you LBaaS.  It's expected that octavia-ingress-controller failed to update pool members because the pool is not in operational status.

[2021-05-09 11:06] #1520 closed

[2021-05-09 11:39] lingxiankong commented on #1250
I don't think there is someone working on this ATM.

[2021-05-11 09:32] ramineni commented on #1493
@jsafrane Is it something being discussed in sig-storage as well to deprecate CSI Inline Volumes in favor of generic ephemeral volumes ?

[2021-05-11 09:44] ramineni commented on #1485
@jichenjc we can close this I suppose . This seems to be because of cloning tests . On disabling cloning test-suite job seems to be fine. We are suspecting infra issue though as locally testsuite runs fine.
@chrigl did some investigation on it , could you share the details here, if required may be we need open an issue to track if we can enable it again.

[2021-05-11 09:50] jichenjc commented on #1498
the issue is findmnt not work under some situations （return “” after node -publish even if the device existing but not able to find it )
we should use upstream util functions as much as we can such as to avoid further isuses like this

https://github.com/kubernetes/mount-utils/blob/master/mount_linux.go#L321
https://github.com/kubernetes/mount-utils/blob/77a9b3dc97f9e87135fbdc74e84ab9611bcf9a1c/mo

[2021-05-11 09:55] #1485 closed

[2021-05-11 13:13] mdbooth opened #1527 "[manila-csi-plugin] Cannot connect to csi-nfsplugin if the cluster uses a proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Configure a cluster-wide proxy. On OpenShift this can be done as described in [Configuring the cluster-wide proxy](https://docs.openshift.com/container-platform/4.7/networking/enable-cluster-wide-proxy.html). The net result is that `openstack-manila-csi-nodeplugin` is launched with, e.g.:

[code]

The problem is that gRPC

[2021-05-12 00:15] openstacker opened #1529 "[magnum-auto-healer] Fix duplicated healing action"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When there is a node down, the repair action might be triggered more than one time.

**What you expected to happen**:
Before the cluster back to healthy status, only one repair action is executed.

**How to reproduce it**:
1) Create a new cluster
2) Login one of the master node, stop the kubelet
3) Monitor the auto healer

[2021-05-12 09:55] squ94wk opened #1531 "[cinder-csi-plugin] Migrated Volumes get detached on kube-controller-manager restart for K8s >= 1.18.16"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Short:
When restarting kube-controller-manager version 1.18.16 (e.g. after upgrade), all migrated Volumes get detached and are re-attached, but the mount is read-only.

Detailed:
A cluster is running K8s version 1.17.17 and has PVs provisioned by the in-tree Cinder plugin.
In `node.status.volumesAttached` its unique name

[2021-05-13 11:35] ramineni commented on #1301
/remove-lifecycle stale

[2021-05-14 10:33] databus23 commented on #1054
Hmm I just experienced this in a running 1.19 cluster, but I'm failing to reproduce this in a newly created 1.19 cluster (using the same cloud controller-manager version). Not sure how this is caused. Also looking to the relevant code form k8s.io/cloud-provider I don't see a way how the eventrecoder couldn't not be configured properly.

[2021-05-17 08:40] jichenjc opened #1534 "[OCCM]use prometheus metrics to replace legacy one?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/metrics/metrics_reconcile.go#L23
is using legacy metrics, can we move to prometheus (more up-to-date)

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-ma

[2021-05-17 08:40] jichenjc commented on #1534
@seanschneeweiss can you help to provide some comments?

[2021-05-17 09:48] seanschneeweiss commented on #1534
I think that most metrics were migrated to `legacyregistry` as part of the [KEP-1209: Metrics Stability Framework](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1209-metrics-stability).

As far as I understand it, we are already using Prometheus wrapped behind the `k8s.io/component-base/metrics` package.
Most other cloud providers are also creating metrics similar

[2021-05-17 11:31] lingxiankong commented on #1531
@jichenjc @ramineni @chrigl can either of you please have a look?

[2021-05-19 13:40] ialidzhikov commented on #1502
/triage accepted

[2021-05-20 06:38] ramineni commented on #1525
fixed by #1526
/close

[2021-05-20 06:38] #1525 closed

[2021-05-20 10:07] ramineni commented on #1453
@Fedosin @jichenjc I suppose we cant use the node-id field which is set to nodeName in nodeGetInfo as this value is used in controllerPublishVolume later where we query the instance details by ID. So it would fail in that case.

Deprecate the value seems the way to me.

[2021-05-20 10:11] ramineni commented on #679
/close

[2021-05-20 10:11] #679 closed

[2021-05-23 05:23] alibo opened #1539 "[cinder-csi-plugin] filesystem of a larger volume created from a snapshot/volume is not expanded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If a new PVC is created from a Snapshot or another volume and its requested size is greater than the source volume/snapshot, its filesystem won't be resized.

**What you expected to happen**:

The filesystem of the new/dest volume should be expanded up to block device size.

**How to reproduce it**:

Source PVC:

[code]

[2021-05-24 06:18] ramineni commented on #1539
@alibo please share the logs after enabling verbose to 5 . Add --v=5 here https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L106 .

We do pass the requested larger size in pvc to create volume call, so the same should be passed to cinder backend . Ideally should create of larger size if supported . Do you see any errors

[2021-05-24 06:21] ramineni commented on #1502
raised issue in cloudprovider repo for the same , https://github.com/kubernetes/cloud-provider/issues/49

[2021-05-24 07:29] alibo commented on #1539
It's true, the cinder creates a larger volume and when it's attached to the node it has the right size when I check it with `lsblk`.

But when it's mounted by cinder-csi-plugin, its filesystem (ext4 in this case) is not resized by `resize2fs` (I've checked it with `df -h` inside both node and pod and it still has the size of the source volume)

The reason is `NodeExpandVolume` is not called by kub

[2021-05-24 07:31] alibo commented on #1539
I can also share the logs if it's needed.

[2021-05-24 18:27] ialidzhikov opened #1540 "[all] Consider switching to (mirroring to) GCR"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig cloud-provider
/area provider/openstack

**What happened**:

Currently cloud provider openstack related images are maintained in Docker Hub.

In some environments we face Docker Hub rate limits while pulling OCCM or the Cinder CSI driver:

[code]

Last year Docker Hub restricted the amount of image pulls for anonymous and free users.

[2021-05-24 21:15] lingxiankong commented on #1540
I am not aware of any official announcement describing that kubernetes images should be maintained in GCR (please correct if I missed something). We are very happy to switch to GCR if there is mechanism could be easily integrated with CI or even manual process sounds great.

For production environment, I would recommend mirroring the images on your private image registry to work around the rate li

[2021-05-25 01:08] jichenjc commented on #1540
I am suffering this as well so I have to wait long time ... so if we can move away from docker hub and use repo with out pull limit will be great.. @lingxiankong is it a big burden and effort for us to move to GCR (e.g CI dependency, code repo etc ? )

[2021-05-25 01:43] jichenjc opened #1541 "OCCM: doc about nginx-ingress-controller setup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md

we mentioned
[code]

but I can't find them in nginx doc (instead, I can see real_ip_header etc )
so where to update those configurations? @lingxiankong ?

**Wh

[2021-05-25 02:06] jichenjc commented on #1539
yes, logs should be helpful

a general question is `The reason is NodeExpandVolume is not called by kubelet since both PV and PVC of the new volume have the correct size.` if this is true, then should this be a generic issue to kubernetes code, not CPO CSI independent?

[2021-05-25 05:42] ramineni commented on #1539
@alibo I'm not sure I understood the problem correctly. Cloned volume is altogether new volume with increased size already(not the existing volume where size is changed ), volume expansion needed if size needs to be changed after creation, which is not the case here. so there shouldnt be need for NodeExpandVolume to called as the new volume created is of larger size and the same can be attached to

[2021-05-25 08:01] ramineni commented on #1408
/remove-lifecycle stale

[2021-05-25 08:01] ramineni commented on #1405
/remove-lifecycle stale

[2021-05-25 08:02] ramineni commented on #1397
@chrigl Any update on this?

[2021-05-25 08:28] ramineni commented on #1481
@mdbooth Are the examples added in PR, I couldnt find it. In current manifests we pass the cloud config as secret not configmap, are you proposing to change that? I think example of  alternate deployment which you are proposing would make things easier to understand. Could you add that as well .

[2021-05-25 10:03] mdbooth commented on #1481
I didn't add an example in the end, I just added command line documentation. There wasn't any existing documentation for the command line options, so I documented all of them. Incidentally, please do check that the documentation is correct!

I'm not proposing to make any changes to the manifests at all. The default manifests pass a single cloud.conf to the driver in a secret, and that will not cha

[2021-05-25 10:35] irozzo-1A commented on #490
@lingxiankong Could you please clarify if the documentation below is still relevant (https://github.com/kubernetes/cloud-provider-openstack/blob/4d3577878d0b74880e860cc5416e162775102884/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md#load-balancer):

My understanding is that this PR was intended to address this exact point, an I missing something?

[2021-05-25 10:42] alibo commented on #1539
@jichenjc IMHO, it depends on how we see the issue:

1. If we consider it a generic issue in all CSI drivers, it can be resolved whether in CSI components (external-provisioner or external-resizer) or Kubelet itself.
2. But if we consider it as an implementation-specific issue (in this case, cinder doesn't resize the filesystem itself (which is reasonable to me, it only cares about block-level res

[2021-05-25 21:03] ialidzhikov commented on #1531
This issue should be fixed by https://github.com/kubernetes/kubernetes/pull/101737.

/cc @Jiawei0227

[2021-05-25 22:31] lingxiankong commented on #1539
I think this is the missing part from the original description.

@ramineni @jichenjc we may need to walk through the process here in cidner csi and see if the `resizefs` is skipped for some reason.

[2021-05-25 22:50] lingxiankong commented on #490
@ironcladlou sorry for the confusion this has caused. Actually, we (my cloud) have tested the config option `manage-security-groups` a lot in our cloud after this PR merged. However, we realized:

1. Basically the whole process worked but except for some edge cases, e.g. the octavia mgmt subnet has extended and the octavia amphorae has been failed over (either due to maintenance or repair).
2. We

[2021-05-25 22:58] m-yosefpor commented on #1539
TLDR;
1. create a 1Gi pvc-a -> 1 Gi block, 1 Gi Filesystem
2. create a 2 Gi pvc-b cloned from pvc-a -> 2 Gi block, 1 Gi Filesystem

Someone with node access should run reize2fs manually in such cases, which is not desired at all.

[2021-05-25 23:10] lingxiankong commented on #1541
The config options are for nginx itself not for nginx-ingress-controller, in the doc, when installing nginx-ingress-controller by manifests, it just says `Create a config map for customizing NGINX configuration` and actually by default the file content is empty. It's up to the deployer to customize the config based on e.g. https://docs.nginx.com/nginx-ingress-controller/configuration/global-config

[2021-05-25 23:14] lingxiankong commented on #1540
As I said:

As far as I know, GCR is not free, maybe kubernetes community has some contract with google, but I'm not sure.