[2020-01-05 08:59] #718 closed

[2020-01-07 12:00] chrigl opened #896 "cinder-csi-plugin leaves kubelet in retry-unmount-loops under some circumstances"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

Using `volumeMode: Block` results in danglin

[2020-01-08 00:45] lingxiankong commented on #885
@cambierr Hi, are you running a global Keystone service or separate ones? and Nova, Octavia?

Multi-regions is complex, and different deployers have different deployment models. For example, in our case, we have 3 regions but using a global Keystone, Nova services are separate between regions which makes it impossible to run a k8s cluster across regions.

[2020-01-08 06:07] cambierr commented on #885
@lingxiankong in our case, we have a single Keystone instances that's common for all regions, then separate other services such as nova, cinder, ...

A very easy way to solve this from my low knowledge of the code could be to add a `regions` property with value `region-a,region-b,region-c` and query them all with the instance ID deduced from the instance metadata.

The only limitation I can see he

[2020-01-08 06:11] ramineni commented on #793
/remove-lifecycle stale

[2020-01-08 06:11] ramineni commented on #679
/remove-lifecycle stale

[2020-01-08 06:12] ramineni commented on #644
/remove-lifecycle stale

[2020-01-08 08:35] lingxiankong commented on #885
@cambierr More complex than that, how instances located in different regions talk to each other(via fixed IPs)? How Octavia amphorae in one region talk to instances in others? I'm not sure neither if cinder-csi is region aware.

[2020-01-08 09:20] cambierr commented on #885
Well, cinder-csi is availability-zone aware... porting this to region-aware should not be that complicated I guess.

When it comes to networking, all machines are in the same networks across regions. For instance, via OVH vrack

[2020-01-08 11:23] lingxiankong commented on #885
I'm not familiar with how the network is managed by OVH, but e.g. you are creating a LoadBalancer type of Service, after the openstack-cloud-controller-manager creating Octavia amphora in region A, could the amphora talk to a k8s worker node in region B?

Basically, I'm not against this idea, but we will be more confident if you could provide more information. Additionally, it would be better if y

[2020-01-08 18:25] bgagnon commented on #702
@jichenjc any updates on this issue?

[2020-01-09 14:05] ITD27M01 opened #899 "Loss of the availability zone parameter when creating manila share"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x] manila-csi-plugin
- [x] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
The manila-provisioner ignores zon

[2020-01-09 15:07] ITD27M01 commented on #899
@gman0 Hello Róbert
Can you help us with this?

[2020-01-09 15:58] davidovich commented on #702
/remove-lifecycle stale

[2020-01-10 05:01] jichenjc commented on #702
sorry, busy in other stuffs recently, I unassign myself and will continue to work on it later if someone is not going to work on it

[2020-01-10 15:28] cambierr commented on #885
We are working on such a PoC that starts to look good  (cloud-provider and CSI plugin for cinder).

We'll share this soon so that we have some matter to discuss !

[2020-01-13 15:35] #896 closed

[2020-01-14 07:21] jichenjc opened #902 "[cinder-csi-plugin] pv will not be deleted when storage is block mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

tried 2 times, simliar error:
[code]

**What

[2020-01-14 08:30] kayrus commented on #479
/remove-lifecycle rotten

[2020-01-14 12:59] #899 closed

[2020-01-15 05:53] #811 closed

[2020-01-15 19:06] gman0 opened #904 "csi-manila: CreateVolume fails on GetExtraSpecs"
- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

csi-manila tries to retrieve share type extra specs (used for determining manila caps), but those require admin rights. Regular us

[2020-01-15 19:08] gman0 commented on #899
@ITD27M01 sorry, i was busy with other stuff. Thank you for the patch!

[2020-01-15 23:01] #863 closed

[2020-01-16 05:32] jichenjc commented on #902
has following error:

kubectl logs csi-cinder-nodeplugin-96s9z -n kube-system -c cinder-csi-plugin

E0116 05:19:10.975010       1 utils.go:83] GRPC error: rpc error: code = NotFound desc = Volume not mounted
E0116 05:19:11.681162       1 utils.go:83] GRPC error: rpc error: code = NotFound desc = Volume not mounted
E0116 05:19:12.841681       1 utils.go:83] GRPC error: rpc error: code = NotFound de

[2020-01-16 05:42] ramineni commented on #902
@jichenjc recently one PR got merged https://github.com/kubernetes/cloud-provider-openstack/pull/897 ,the above error is removed in that PR, could you update it to latest and check if you still see the error

[2020-01-16 05:54] jichenjc commented on #902
yes, seems this fixed the problem :)

other than that, maybe use volumeCapability.GetBlock() is a better way.. will propose a minor change in addition to #897
@ramineni thanks a lot for the info

[2020-01-16 07:27] RainbowMango opened #907 "openstack-cloud-controller-manager can not show version"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**The binaries affected**:
- [x] openstack-cloud-controller-manager

**What happened**:
Invalid version information from `openstack-cloud-controller-manager --version`.
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager version: 1.17.0

[2020-01-16 07:29] RainbowMango commented on #907
cc @dims
Is this a problem and any idea about it?

[2020-01-16 10:06] mikejoh commented on #907
Interesting, could it be due to us calling this function:
https://github.com/kubernetes/cloud-provider-openstack/blob/46cab81a3590238390809ceed942993d796aa50b/cmd/openstack-cloud-controller-manager/main.go#L94

This code was imported from `k8s.io/kubernetes/pkg/version/verflag`  (pre k8s `1.17.0` at least). So it looks like that our `version.Version` never gets outputted but instead something rela

[2020-01-16 10:14] RainbowMango commented on #907
Yes. The version information comes from Kubernetes. And the information is wrong because of we are build outside of Kubernetes, so no chance to inject version infor to `gitVersion   `.
https://github.com/kubernetes/kubernetes/blob/718714a9359e628d43aa1005301427983b760b59/staging/src/k8s.io/component-base/version/base.go#L58.

[2020-01-16 10:40] #630 closed

[2020-01-16 11:14] ITD27M01 commented on #899
@gman0 Hello, thank you for your response. I want to suggest another cosmetic fix, the target option for AvailabiltiZone is named as Zones here:
https://github.com/kubernetes/cloud-provider-openstack/blob/a835a98c0d0e4767bfe12e2b3f1a0e0fc13a52ff/pkg/share/manila/shareoptions/shareoptions.go#L77
I think this should be renamed to Zone because only first one is selected and passed to gophercloud. The

[2020-01-17 04:48] #904 closed

[2020-01-17 05:21] celiawa opened #909 "PV stuck in Terminating when the volume in openstack is deleted."
/kind bug

In our environment, for somehow, the volume is deleted from the openstack dashboard.

The PV then hangs in terminating status. It can't be deleted.
[root@vm-10-33-33-73 plugins_registry]# kubectl get pv pvc-b26159c9-8c7d-4722-a7d5-8911489498ea
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS        CLAIM

[2020-01-17 07:07] celiawa commented on #859
We saw this issue very frequently, many of our nodes get the wrong nodeid.  So volume attach to these node with error " rpc error: code = NotFound desc = ControllerPublishVolume Instance not found". When this issue will be fixed. And can you please tell the workaround to let the node work. Thanks.

[root@vm-10-33-33-33 ~]# kubectl get no -o yaml|grep nodeid
      csi.volume.kubernetes.io/nodeid: '

[2020-01-17 07:37] jichenjc commented on #909
I seems encountered this before, certainly can take a look at this

[2020-01-17 08:41] jichenjc commented on #909
I gave a try and seems I cant reproduce at latest code
can you provide the steps you had this issue?

[2020-01-17 09:19] gman0 commented on #899
@ITD27M01 `zones` accepts a comma-separated list of zones (it's mentioned in the [docs](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-manila-provisioner.md)). This is then parsed by [`ChooseZonesForVolume`](https://github.com/kubernetes/cloud-provider/blob/cde95c46be5cb3c92cc28cabbc2d6c4ac966ffd4/volume/helpers/zones.go#L228), the zones in the list are shuffled arou

[2020-01-17 09:55] ITD27M01 commented on #899
@gman0 Big thanks for your caveat about external provisioner vs csi we will think about what to do next. Doesn't the code for choose the zone for share shared between external provisioner and csi plugin? Cannot we just put the AvailabilityZone at this point: https://github.com/kubernetes/cloud-provider-openstack/blob/c74f0fe929cefe93ea2394156c44b4891c2da6ca/pkg/csi/manila/volumesource.go#L40 ?

[2020-01-20 02:32] celiawa commented on #909
@jichenjc Thanks very much for your attention. I'm sorry that I try to reproduced several times. I cant reproduce either. The ticket can be closed now.

[2020-01-20 02:32] #909 closed

[2020-01-20 05:41] jichenjc commented on #907
seems the others like cinder-csi-plugin doesn't have this
should we consider use same pattern for all exec file we compiled ?

[2020-01-20 05:49] jichenjc commented on #859
not sure https://github.com/kubernetes/cloud-provider-openstack/pull/487 (not finished)
is related, will double check soon

[2020-01-20 05:56] jichenjc commented on #859
in my environment the instance-id is uuid ,not the EC2 ID anyway

# cat /var/lib/cloud/data/instance-id
861f144f-09ae-45ae-8ccb-ba97c7288b0e

[2020-01-20 05:59] jichenjc commented on #859
and to my understanding coreos doesn't use cloud-init at all (use ignition), so instance-id file doesn't fit at all, correct?

[2020-01-20 11:04] mikejoh commented on #907
@jichenjc Yes you're correct, the `cinder-csi-plugin` doesn't expose a `--version` flag. Haven't looked through the rest of them though. I think it's a good idea to at least have a way of printing the version and if possible do it in a unified way across all binaries compiled within the `cloud-provider-openstack` project!

[2020-01-20 12:55] jichenjc commented on #907
I can help the review since you already have the plan :) thanks a lot

[2020-01-21 07:56] jichenjc commented on #832
https://github.com/container-storage-interface/spec/blob/master/spec.md
doesn't seems to support a force flag

from openstack side certainly we can add this flag into API call
but how to provide this flag is a question mark, we may not want to always add this flag

any comments @adisky

[2020-01-21 13:41] ricolin commented on #883
@xin3liang I updated the patch out since that's happened to relate to some of my tasks. Please check the pull request.

[2020-01-21 13:59] xin3liang commented on #883
@ricolin That really great! Thanks for you work.

[2020-01-22 09:37] ramineni commented on #907
@mikejoh Im assigning this to you , if you don't have plans to fix , pls unassign yourself.
/assign @mikejoh

[2020-01-22 09:38] ramineni commented on #893
fixed in #892

[2020-01-22 09:38] ramineni commented on #893
/close

[2020-01-22 09:38] #893 closed

[2020-01-22 09:40] ramineni commented on #890
PR merged #891
/close

[2020-01-22 09:40] #890 closed

[2020-01-22 09:45] ramineni commented on #810
/remove-lifecycle stale

[2020-01-23 06:24] ramineni commented on #668
/remove-lifecycle rotten

[2020-01-23 06:42] mikejoh commented on #907
@ramineni Thanks! 👍🏻 I will try to fix this one as soon as i’m back from vacation.

[2020-01-24 01:40] #644 closed

[2020-01-24 16:06] bgagnon opened #912 "cloud-controller-manager metrics port and address is not accessible or documented"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature

/kind feature

**The binaries affected**:

- [x] openstack-cloud-controller-manager

**What happened**:

I wanted to access the internal metrics of the CCM, just like the in-tree controller-manager which previously served these metrics.

**What you expected to happen**:

Similar metrics (and more) as the standard controller-manager.

**Anythin

[2020-01-24 16:46] bgagnon opened #913 "[cinder-csi-plugin] metrics are not accessible"
/kind bug

**The binaries affected**:

- [x] cinder-csi-plugin

**What happened**:

Tried to access the metrics at `/metrics` for the cinder-csi-plugin controller and node plugins.

**What you expected to happen**:

Some prometheus metrics.

**Anything else we need to know?**:

Recent version of CSI sidecar containers expose Prometheus metrics on a configurable bind address, port and path (default

[2020-01-24 19:58] bgagnon opened #914 "CSI provisioned volumes are missing "kubernetes.io/created-for" tags in Openstack"
/kind feature

**The binaries affected**:

- [x] cinder-csi-plugin

**What happened**:

Provisioning a CSI Cinder volume works, but it does not have any tags metadata that identify the PVC:

* `kubernetes.io/created-for/pvc/namespace`
* `kubernetes.io/created-for/pvc/name`
* `kubernetes.io/created-for/pv/name`

**What you expected to happen**:

I would expect the tags to be present. This is a regr

[2020-01-24 20:00] bgagnon commented on #914
It looks like it is implemented for Manilla:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/share/manila/share.go#L121

But not for Cinder.

[2020-01-24 20:33] bgagnon commented on #763
/remove-lifecycle rotten

[2020-01-24 20:37] bgagnon commented on #763
The option serves two mostly unrelated concerns:
* preserve the client ip
* remove nodes that do not have an endpoint from the load balancer rotation

The second point, according to docs:

This feature is valuable in very large cluster running an ingress controller. In this scenario, every few nodes have the ingress proxy (nginx, envoy, etc.), so there's no gain in including them in the cloud load

[2020-01-26 08:25] kayrus commented on #713
/remove-lifecycle

[2020-01-26 08:25] kayrus commented on #713
/remove-lifecycle rotten

[2020-01-27 03:40] lingxiankong commented on #914
Hi @bgagnon you are right, the current cinder-csi-plugin implementation only includes the cluster name in the properties when creating a Cinder volume, that's the restriction of the CSI architecture, because the CSI driver can only see information coming from the controller.

However, I'd like to know the use cases you are asking for those tags, maybe we could find other solutions.

[2020-01-29 15:39] yzhelezko opened #915 "[cinder-csi-plugin] fsck error, mount error"
**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
tying to create pvc
cinder-csi-plugin logs
[code]
pvc seems like works good
[code]
used nginx.yaml to t

[2020-01-29 15:53] bgagnon commented on #914
The use case is a multi-tenant Kubernetes cluster. For cost attribution (internal rebilling) and volume management, we'd like to quickly and reliably attribute volumes from Openstack to specific namespaces  and PVCs in specific clusters.

[2020-01-29 17:22] bgagnon opened #916 "CCM node instance type should always use flavor.original_name"
/kind bug

**The binaries affected**:

- [x] openstack-cloud-controller-manager

**What happened**:

Node label `node.kubernetes.io/instance-type` was set to `2004`, a flavor id.

**What you expected to happen**:

Node label `node.kubernetes.io/instance-type` should be `ug2.2xlarge`, the flavor name for id `2004`.

**How to reproduce it**:

Use the CCM against an Openstack Compute API that default

[2020-01-30 01:58] #888 closed

[2020-01-30 02:07] lingxiankong commented on #915
@yzhelezko I can't reproduce the issue.

[code]

Could you please provide your yamls?

[2020-01-30 02:10] lingxiankong commented on #914
@bgagnon I'm very glad I'm not the only one asking for features like what you said :-) please read more info here https://github.com/kubernetes-csi/external-provisioner/issues/170

[2020-01-30 02:14] lingxiankong commented on #916
@bgagnon I appreciate the issues you submitted to this repo so far, but could you please use the template when creating issues?

[2020-01-30 09:46] yzhelezko commented on #915
one thing I forget to show:
[code]

Nginx yaml
[code]

[2020-01-30 11:52] yzhelezko commented on #915
@lingxiankong setenforce 0, makes /var/lib/www/html accessible, but the error stil persists in csi plugin logs

[code]

[2020-01-30 13:28] kayrus commented on #859
@jichenjc old coreos used a go-based cloud-init: https://github.com/coreos/coreos-cloudinit

[2020-01-31 02:04] jichenjc commented on #859
@kayrus but we anyway have to use ignition ? as my openshift experience told me coreos will be the future and ignition 2.3 is currently used version .. why are we still considering cloud-init now? thanks

[2020-02-02 21:34] lingxiankong commented on #915
@yzhelezko The fsck thing is not error actually, it's k8s is trying to check for issues on disk but in cinder-csi case before file system formatting. You can see from the log that the formatting and mounting are both successful in the end.

[2020-02-02 21:34] #915 closed

[2020-02-02 22:51] lingxiankong commented on #859
I also got `Got instance id from /var/lib/cloud/data/instance-id: b9f7763c-a31a-4814-a35a-5201f4ab7def` correctly in my fresh environement running on top of Ubuntu Bionic VM.

@jichenjc even in Fedora-CoreOS, sending request to metadata service could still work.

[2020-02-03 01:05] jichenjc commented on #859
@lingxiankong agree, metadata is identical to all distro as meta service returned identical metadata
I need further test and paste my further result here soon

[2020-02-03 01:39] lingxiankong commented on #859
@kayrus this is not true in my environment, could you please provide more information? Otherwise, can we close this issue for now?

[2020-02-03 02:40] jichenjc commented on #859
with my new fresh setting, I also get this ,

I0203 02:37:03.679176       1 mount.go:246] Got instance id from /var/lib/cloud/data/instance-id: 861f144f-09ae-45ae-8ccb-ba97c7288b0e
I0203 02:37:04.047810       1 utils.go:85] GRPC response: node_id:"861f144f-09ae-45ae-8ccb-ba97c7288b0e" max_volumes_per_node:256 accessible_topology:<segments:<key:"topology.cinder.csi.openstack.org/zone" value:"nova"

[2020-02-03 03:21] lingxiankong commented on #859
cinder-csi already has the code in place https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L548-L562. But I agree we make use of `pkg/util/metadata/metadata.go` to keep consistency between binaries.

BTW, we should always use modules under `pkg/util/` rather than spreading the similar code in cloud-provider-openstack repo, e.g I'd rather prefer we remo

[2020-02-03 03:49] jichenjc commented on #859
ok, looks like we already have such capability, thanks for pointing that out
then I believe the only left thing we need to do is to consolidate this ... will see whether I can restore my PR later on.. thanks

[2020-02-03 08:02] kayrus commented on #859
the initial issue relates to a cloud-init bug: https://bugs.launchpad.net/nova/+bug/1834506
therefore order option would be nice

[2020-02-03 09:55] jichenjc commented on #859
ok, I will add a search order first then see how much effort to refactory ...

[2020-02-06 11:02] kciredor opened #923 "Gophercloud needs a version bump to fix /v2.0/v2.0 calls"
/kind bug

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**Summary**:

Gophercloud recently merged my patch for creating Octavia Load Balancers, allowing for OpenStack

[2020-02-08 10:04] lingxiankong commented on #287
/reopen

[2020-02-09 12:52] gman0 commented on #720
/remove-lifecycle stale

[2020-02-10 03:46] jenningsloy318 opened #928 "[manila-csi-plugin]Can't create pvc as failed to retrieve extra specs:"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
when create pvc, the nfs provisioner shows error
[code]

[2020-02-10 12:09] kciredor opened #929 "Cinder assumes hardcoded default cloud config path"
/kind bug

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

Provisioning kops having openstack-cloud-controller --cloud-config=/etc/kubernetes/cloud.co

[2020-02-10 15:46] kciredor commented on #929
Never mind should have looked at CSI :-) StorageClass was falling back to in-tree. Closing.

[2020-02-10 21:22] lingxiankong commented on #929
/close

[2020-02-10 21:22] #929 closed

[2020-02-11 09:30] #923 closed

[2020-02-11 10:42] gman0 commented on #928
@jenningsloy318 seems like you might be hitting https://github.com/kubernetes/cloud-provider-openstack/issues/904 . It's fixed in the most recent revisions, but we seem to be lacking `latest` tag for manila-csi-plugin image, and `v1.17.0` you're using is not recent enough so it doesn't contain this fix... While this is sorted out, could you please try building manila-csi-plugin from source and see

[2020-02-11 10:47] gman0 commented on #928
Another thing: you're using NFS shares, `fwdNodePluginEndpoint` must point to [CSI NFS](https://github.com/kubernetes-csi/csi-driver-nfs) Node Plugin endpoint
[code]

[2020-02-11 17:33] hamzazafar opened #932 "[occm] Support to use an existing loadbalancer for service type loadbalancer"
/kind feature

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
There is a one-to-one mapping of k8s services and external loadbalancers. Creating a new

[2020-02-11 17:37] hamzazafar commented on #932
User can create a loadbalancer using OpenStack CLI and then specify the ID of loadbalancer in an annotation while creating a k8s service.

I'll be happy to provide a patch if there is interest in this feature

[2020-02-12 13:01] chrischdi opened #933 "[occm] Allow ip address sharing for services of type loadbalancers"
/kind feature

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

* Created two services of `type: loadBalancer` having set the same `svc.spec.loadBalanc

[2020-02-12 13:15] rochaporto commented on #932
Adding here... the goal would be to add serviceType: LoadBalancer instances into existing load balancers, and handle the deletion in the same way (drop the members only, not the whole LB instance).

Looking at the code, is the best way to do this to:
1. try to refactor the ensureloadbalancer code
2. hook one more condition into both ensureloadbalancer and ensureloadbalancerdelete

[2020-02-12 13:54] jenningsloy318 commented on #928
@gman0 thanks for your info, I will try to build it tomorrow.

For the `fwdNodePluginEndpoint` I already install cinder plugin in cluster, so this may point to that one as only one `csi.sock ` exists .

[2020-02-12 15:15] kayrus commented on #933
Sorry for advertising this, but it may help you: https://github.com/kayrus/ingress-terraform

[2020-02-12 18:41] gman0 commented on #928
@jenningsloy318

Sorry but that's not going to work. When dealing with NFS shares, CSI Manila depends on CSI NFS node plugin to do the mount. You need to deploy CSI NFS and point `fwdNodePluginEndpoint` to CSI NFS's .sock file.

[2020-02-12 22:58] lingxiankong commented on #933
@chrischdi, thanks for proposing this feature request.

[2020-02-13 00:45] lingxiankong commented on #932
Hi, thanks for proposing this feature request. However, personally, it doesn't make sense for me to re-use load balancer in the cloud for k8s services. As mentioned in the description, if the end users have concerns about the cloud resources consumption, Ingress is what they should use.

[2020-02-13 01:41] jichenjc commented on #914
/assign

[2020-02-13 01:54] jichenjc commented on #914
@lingxiankong I read the link you provided, as lack of some background , I assume this PR requirement is doable or technically/arch prevent us to do so？

[2020-02-13 01:59] lingxiankong commented on #914
@jichenjc changes should be made in external-provisioner, not cinder-csi-plugin

[2020-02-13 02:05] jichenjc commented on #913
so the question is other side cars already exposed some metrics and cinder-csi-plugin doesn't have the output from /metrics?  if so what's the metrics are recommended? e.g some cinder info? @bgagnon

[2020-02-13 02:09] jichenjc commented on #914
@lingxiankong got it ,thanks~, so should we close this issue?

[2020-02-13 02:20] bgagnon commented on #913
I'm not sure if _any_ metrics exist in memory at the moment. It's hard to tell without the `/metrics` handler registered. I think the following metrics would be relevant in the case of the Cinder CSI driver:

* basic Openstack API client metrics (counters for requests, errors)
* any other relevant CSI-related counters
* (maybe) gRPC metrics (eg. [grpc-ecosystem/go-grpc-prometheus](https://github.c

[2020-02-13 02:27] #902 closed

[2020-02-13 02:28] lingxiankong commented on #914
We could, but I'm ok we leave it as is, just in case one day external-provisioner could pass that information to cinder-csi.

[2020-02-13 02:32] jichenjc commented on #914
@lingxiankong why manila can create this tag? seems arch is same why we can't do in cinder only is a question..

[2020-02-13 05:05] lingxiankong commented on #914
I don't think https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/share/manila/share.go#L121 is part of manila-csi-plugin, and based on my understanding, manila-csi-plugin doesn't interact with Cinder.

[2020-02-13 05:33] jichenjc commented on #914
I understand it doesn't interact with cinder, the question is if manila plugin is able to impelement CSI with the tags, then it should be ok for cinder, but as you mentioned, the  https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/share/manila/share.go#L121  is not part of manila plugin, then it's another topic ... need check manila code as well

[2020-02-13 07:02] sbueringer commented on #933
Just some input. I think we shouldn't force the user to define the loadBalancerIP because he might not now which IPs are available in OpenStack. An alternative solution for the name would be in my opinion to don't set a name and add all associated services to the tags of the LB resources. This would be the easiest from a user perspective.

[2020-02-13 07:11] chrischdi commented on #933
Or use the metadata/tags for creation of the lb and after knowing the ip address we could rename the loadbalancer

Other alternative: use a second annotation which needs to define a unique name, which then will be shared on all services which should share the loadbalancer.

[2020-02-13 08:48] hamzazafar commented on #933
Or why not simply pass the ID of external loadbalancer in an annotation.
Workflow: Create 1st service -> External LB gets created -> Get ID of LB using OpenStack CLI -> Create 2nd service and pass ID of existing LB

This requires adding a new function to get loadbalancer by ID.

Some additional things to take care of:
* Deletion case: When you delete service 1 OCCM will delete all resources of the

[2020-02-13 09:04] jenningsloy318 commented on #928
but this what document says we should do, and this config works.

https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-manila-csi-plugin.md#deployment
[code]

[2020-02-13 09:14] hamzazafar commented on #933
Currently OCCM deletes all obsolete resources (e.g listeners in a loadbalancer that don't correspond to any ports defined in a services):
https://github.com/kubernetes/cloud-provider-openstack/blob/27b70e3ded626783dbb0d83e1a58dd5cacbed37d/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L1181

In view of a service, all resources (listeners, pools, members etc.) created by other serv

[2020-02-13 13:57] tombarron opened #935 "[ manila-csi-plugin ] docker image is not up to date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

** docker pull k8scloudprovider/manila-csi-

[2020-02-13 14:14] gman0 commented on #928
@jenningsloy318 it may seemingly deploy without errors, but it will fail if you'd try to mount a PV.

From the docs:

CSI Manila itself doesn't contain the tools needed to mount a file-system. It relies on a partner Node Plugin (which is able to handle that particular file-system, in this case NFS), which does the mount on behalf of CSI Manila.

CSI Cinder cannot handle NFS. CSI Manila expects CSI

[2020-02-13 14:17] ramineni commented on #935
@tombarron manila-csi-plugin seems to be missing here , need to be updated https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L170 here

[2020-02-13 14:21] ramineni commented on #935
/assign @tombarron

[2020-02-13 16:19] tombarron commented on #935
Thanks, @ramineni .  Submitted https://github.com/theopenlab/openlab/issues/467 and will fix in openlab-zuul-jobs.

[2020-02-14 09:34] #724 closed

[2020-02-14 11:09] jenningsloy318 commented on #928
As you suggested, I changed the fwdNodePluginEndpoint in values.yaml

[code]
now I got following error
[code]

[2020-02-14 11:47] tombarron commented on #935
Fixed via theopenlab/openlab-zuul-jobs#795

[2020-02-14 11:47] #935 closed

[2020-02-14 12:43] gman0 commented on #928
@jenningsloy318 that's not correct.

### 1. Deploy CSI NFS

Try this minimal testing deployment of csi-nfs node plugin daemon set:
[code]
This is taken from https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/deploy/kubernetes with very minor modifications.

It should give you a running DaemonSet of csi-nfs, with the .sock file in `/data/kubelet/plugins/csi-nfsplugin/csi.sock`.

### 2. De

[2020-02-14 13:40] gman0 commented on #928
There is no socket file under `nfs.manila.csi.openstack.org` because csi-manila hasn't finished initialization. And no socket file under `csi-nfsplugin` because maybe you haven't deployed csi-nfs?

Yes, you need to deploy csi-nfs plugin and then deploy csi-manila.

CSI Cinder is designed a bit differently, it doesn't rely on 3rd party CSI plugins for its node operations.

Yes, that's because the p

[2020-02-14 14:00] jenningsloy318 commented on #928
@gman0  that's for you explanation, I just missed the most important port that deploy csi-driver-nfs daemonset as you piointed out early.

I think our document should be improved, set that csi-driver-nfs as requirement before deploying manila; As I thought that we don't need this step or using any other csi socket .

thanks for you kindly help.

[2020-02-14 14:46] gman0 commented on #928
@jenningsloy318

Definitely!

I'm glad it's working for you. If you don't have any further questions you may close this issue.

[2020-02-14 14:53] #928 closed

[2020-02-14 20:05] #287 closed

[2020-02-16 05:58] #799 closed

[2020-02-16 08:13] gman0 commented on #928
@jenningsloy318 Just FYI, `k8scloudprovider/manila-csi-plugin:latest` is now available from Docker hub: https://hub.docker.com/r/k8scloudprovider/manila-csi-plugin/tags

[2020-02-17 13:01] gman0 opened #938 "[manila-csi-plugin] add availability zones / topology support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [x] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

CSI Manila lacks any way of passing availability zones to Ma

[2020-02-17 13:01] gman0 commented on #938
/assign

[2020-02-17 13:03] gman0 commented on #899
@ITD27M01 FYI, we're now working on this https://github.com/kubernetes/cloud-provider-openstack/issues/938

[2020-02-17 21:55] rochaporto commented on #932
@lingxiankong can you expand on why this doesn't make sense? It isn't just for optimizing resource usage, we have multiple use cases where services have endpoints in both VMs and Kubernetes clusters and need to share an external load balancer.

[2020-02-18 00:30] lingxiankong commented on #932
Why Ingress is not an option? I would be happy to see more use cases to understand better about your requirements.

[2020-02-18 09:53] rochaporto commented on #932
Ingress is an option but why not a serviceType LoadBalancer? Can you expand on why this doesn't make sense?

[2020-02-18 11:20] lingxiankong commented on #932
Because if you are implementing this feature, you are re-creating the wheels. If Ingress is a valid option, is there any particular reason you want to create your own 'Ingress'?

[2020-02-18 16:11] rochaporto commented on #932
I don't want to recreate Ingress, i want to have a serviceType: LoadBalancer - without an Ingress. This is supported already, the only request is to allow registering a member in an existing LoadBalancer.

https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer

We have multiple users relying on serviceType: LoadBalancer, and wanting to reuse the same setup on our private clo

[2020-02-19 07:56] #750 closed

[2020-02-20 09:32] celiawa opened #944 "[cinder-csi-plugin] Failing to delete PV after deattach failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**The binaries affected**:
- [ ] cinder-csi-plugin

**What happened**:

When we do helm delete, after deleting pods, which also has hooks to delete the pvcs. Found that some PV stuck in Terminating status.

kubectl describe pv pvc-31d6cb9c-1ebd-421b-a13f-b5abf23ea007
Name: pvc-31d6cb9c-1ebd-421b-a13f-b5abf23ea007
Labels: <none>
Annotations:

[2020-02-20 21:11] lingxiankong commented on #944
Hi, I believe the issue was fixed in release-1.17, please have a try.

/close

[2020-02-20 21:11] #944 closed

[2020-02-23 14:50] chrigl commented on #933
Tags are unfortunately not an option as long as we support Neutron LBaaS v2 and Octavia < 2.5 :/

[2020-02-23 17:11] chrigl commented on #627
/close

We have e2e testing with CSIMigration in place: http://status.openlabtesting.org/job/cloud-provider-openstack-multinode-csi-migration-test

Also sorted out issues found during e2e tests.
e.g. #897 and #925

We extended documentation in #835

[2020-02-23 17:11] #627 closed

[2020-02-24 09:25] hamzazafar commented on #932
[Similar Feature Request](https://github.com/kubernetes/cloud-provider-openstack/issues/933)

[2020-02-25 05:23] ramineni commented on #878
@jichenjc Are you still seeing the issue with latest code

[2020-02-25 05:28] ramineni commented on #836
/remove-lifecycle stale

[2020-02-25 05:29] ramineni commented on #678
/remove-lifecycle rotten

[2020-02-25 05:30] ramineni commented on #821
/remove-lifecycle stale

[2020-02-25 05:31] ramineni commented on #821
This should be part of last release 1.17
/close

[2020-02-25 05:31] #821 closed

[2020-02-25 06:03] jichenjc commented on #878
no, I forgot to close this

[2020-02-25 06:03] #878 closed

[2020-02-27 13:42] #777 closed

[2020-02-28 11:54] #859 closed

[2020-03-02 04:31] jichenjc commented on #913
um.. yes, maybe a framework first then check what can be added..

[2020-03-02 06:37] jichenjc commented on #913
https://github.com/kubernetes-csi/external-snapshotter
has --metrics-address and --metrics-path param

vendor/github.com/kubernetes-csi/csi-lib-utils/metrics/metrics.go
but that's for CSI side car only, not sure it can be used directly, need further check

[2020-03-02 08:28] ramineni commented on #669
/remove-lifecycle stale

[2020-03-02 08:28] ramineni commented on #669
/assign @zuzzas

[2020-03-02 09:13] zuzzas commented on #669
I'll submit all the required changes tonight.

[2020-03-03 03:53] jichenjc opened #951 "[cinder-csi-plugin] update snapshot side car to 2.x.x"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
https://github.com/kubernetes-csi/externa

[2020-03-04 00:07] lingxiankong opened #954 "[k8s-keystone-auth] Improve CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [x] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
Currently, the k8s-keystone-auth CI job is

[2020-03-04 06:58] LongDuncan opened #955 "[cinder-csi-plugin] Use multiattach cinder type to create pod will be failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
When I set the cinder type has --property

[2020-03-05 04:25] ramineni commented on #954
@lingxiankong Thanks for reporting this. This is much needed , I think we need to move all the test scripts into our repo instead of openlab. Could we make this issue generic, to track all CI jobs.

[2020-03-05 04:32] #907 closed

[2020-03-05 05:59] ramineni commented on #637
/remove-lifecycle stale

[2020-03-05 07:45] xishengcai opened #956 "report error: Cloud not construct reference to : "&v1.Lease{}'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**The binaries affected**:
- [x] openstack-cloud-controller-manager
**What happened**:
my log report:
E0305 13:49:40.756670    8661 event.go:319] Could not construct reference to: '&v1.Lease{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"cloud-controller-manager", GenerateName:"", Namespace:"kube-system", SelfLink:"/apis/

[2020-03-05 08:12] lingxiankong commented on #954
@ramineni I'd prefer we track the tasks using different issues so we could have achievable task for each issue, instead of that a single issue keeps open for months if some service/binary may never get people interested.

However, I agree we should have a unified approach for how to define CI job scripts for each service/binary, just like what we did here https://github.com/kubernetes/cloud-provid

[2020-03-05 09:22] #784 closed

[2020-03-05 10:14] lingxiankong commented on #956
Thanks for reporting the issue but we only accept issues related to cloud-provider-openstack, not your own customized code.

For your case, please try a higher version k8s.

/close

[2020-03-05 10:14] #956 closed

[2020-03-06 03:06] xishengcai commented on #956
I have tryed on k8s 1.17.0, but always happend.

[2020-03-06 05:12] ramineni commented on #954
@lingxiankong fine with me. Thanks.

[2020-03-06 08:22] jopfeffe opened #960 "failed to ensure load balancer: failed to create listener"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

I tried to deploy a load-balancer. The load-b

[2020-03-06 09:25] lingxiankong commented on #956
Which image are you using for OCCM? Could you paste the configuration of OCCM?

[2020-03-06 09:50] lingxiankong commented on #960
@jopfeffe, That's weird, have you tried v1.17.0? Basically v1.17.0 should also work with v1.16 Kubernetes well.

[2020-03-06 10:14] jopfeffe commented on #960
Yes, same error for v1.17.0 and older versions.

[2020-03-06 10:33] jopfeffe commented on #960
We checked the API log. What we see there:
1. create LB request.
2. create listener request. The responds to the request contains the following "insert_headers" section:
[code]
After that there seems to be no further interaction with the openstack API.

[2020-03-06 10:52] ramineni commented on #955
@LongDuncan support yet to be added, https://github.com/kubernetes/cloud-provider-openstack/issues/729
/milestone 1.19

[2020-03-06 11:18] jopfeffe commented on #960
Just had quick look at the gophercloud lb listerner code.
https://github.com/gophercloud/gophercloud/blob/f14c8725b6c0d05e1ea8bf6435124b64bc54333f/openstack/loadbalancer/v2/listeners/requests.go#L133

`map[string]string` fails for the unquoted bool response. In our case it must be something like `map[string]bool`. But this seems to be no general solution.

This is just a guess. I'm no a go program

[2020-03-06 17:55] #665 closed

[2020-03-07 08:08] #798 closed

[2020-03-08 09:50] lingxiankong commented on #960
@jopfeffe Just noticed you have `use-octavia=false`, I am not sure neutron-lbaas supports the same API with Octavia.

[2020-03-10 01:17] LongDuncan commented on #955
@ramineni Thank you!

[2020-03-10 03:40] sxmatch opened #964 "failed to make cross in k8s when go version is 1.13"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
After "make build" in cloud provider openstac

[2020-03-10 07:44] jopfeffe commented on #960
@lingxiankong I tested `use-octavia=true` and i got the following error:
[code]
As said it worked in 09/2019. I had a look at the API logs - "insert_headers" was empty back then. I asked the Cloud provider whats going on there, but still no response.

[2020-03-10 08:28] lingxiankong commented on #960
@jopfeffe That's probably because Octavia is not supported in your cloud provider, so they are still using Neturon-LBaaS which is not in the same support level as Octavia, becuase Neturon-LBaaS has been deprecated in OpenStack since Queens release(2018-02).

As a workaround, maybe you could try k8scloudprovider/openstack-cloud-controller-manager:v1.15.0

[2020-03-10 08:32] lingxiankong commented on #964
It was introduced by https://github.com/kubernetes/kubernetes/pull/82809, so we should update the get started guide to mention that when installing golang.

@sxmatch Are you interested in fixing that in your PR https://github.com/kubernetes/cloud-provider-openstack/pull/961?

[2020-03-10 08:34] lingxiankong commented on #955
Duplicate with #729

[2020-03-10 08:34] #955 closed

[2020-03-10 08:34] lingxiankong commented on #729
/remove-lifecycle stale

[2020-03-10 10:43] jopfeffe commented on #960
I tested v1.15.0 with and without `use-octavia=true`. I got still the same result.

[2020-03-11 02:01] sxmatch commented on #964
sure, np, I will update it

[2020-03-11 02:01] #964 closed

[2020-03-11 03:21] lingxiankong commented on #883
Re-open this issue to track other tasks relating to CI jobs, etc.

[2020-03-11 03:21] lingxiankong commented on #883
@ricolin Please re-use this issue for other tasks.

[2020-03-11 11:47] ricolin opened #966 "provide more detail on image manifest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ * ] openstack-cloud-controller-manager
- [ * ] cinder-csi-plugin
- [ * ] k8s-keystone-auth
- [ * ] client-keystone-auth
- [ * ] octavia-ingress-controller
- [ * ] manila-csi-plugin
- [ * ] manila-provisioner
- [ * ] magnum-auto-healer
- [ * ] barbican-kms-plugin

**What happened**:
When build images, the mani

[2020-03-12 05:05] ramineni commented on #883
@ricolin This seems to breaking the CI, https://logs.openlabtesting.org/logs/52/952/fdfdde5f8469461c67a4c76aac190af1db86d535/cloud-provider-openstack-e2e-test-csi-cinder/cloud-provider-openstack-e2e-test-csi-cinder/2854b4e/job-output.txt.gz

+ docker build -t docker.io/k8scloudprovider/cinder-csi-plugin:latest cluster/images/cinder-csi-plugin
2020-03-12 03:15:09.644392 | ubuntu-xenial-citynetwork

[2020-03-12 06:16] jichenjc opened #968 "[cinder-csi-plugin] update external snapshoter and provisioner"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

https://github.com/kubernetes-csi/external-snapshotter

[2020-03-12 06:16] jichenjc commented on #968
/assign

[2020-03-12 06:52] ricolin commented on #883
will update openlab-zuul-jobs asap

[2020-03-12 07:20] ricolin commented on #883
@ramineni https://github.com/theopenlab/openlab-zuul-jobs/pull/812

[2020-03-12 21:21] ivomarino opened #970 "LoadBalancer: Error updating load balancer with new hosts map"
/kind bug

**The binaries affected**:

- [X] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
When I try to allocate a LB I get the following error:
[code]
`kubectl get svc`:
[code]
Runn

[2020-03-12 21:56] kayrus commented on #970
@ivomarino at first glance it looks like you didn't set the `use-octavia` [flag](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/provider-configuration.md#load-balancer-optional-parameters) in cloud-config file. Please clarify which lbaas services are available in your environment.

[2020-03-12 22:08] #954 closed

[2020-03-13 04:42] ramineni commented on #858
/remove-lifecycle stale

[2020-03-13 05:56] oz123 commented on #858
This can be closed.

[2020-03-13 05:59] oz123 commented on #858
@adisky there is a release which followed the PR mentioned here, but I still don't see the release notes. Is this issue resolved really?

[2020-03-13 06:01] ramineni commented on #883
@ricolin , need to update migration job as well, https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-multinode-csi-migration-test/pre.yaml#L213 , could you take care of it as well?

[2020-03-13 06:02] ramineni commented on #858
@oz123 we will take care of it from this release, that's the reason kept the bug open.

[2020-03-13 06:09] oz123 commented on #858
Cool, it seemed like fetja is closing the issue so I wanted to make sure it's not forgotten.

I found this link:
https://relnotes.k8s.io/?areas=provider%2Fopenstack

Maybe this should be linked in a simple file called Changelog?

[2020-03-13 06:11] ricolin commented on #883
for sure!

[2020-03-13 06:15] ramineni commented on #858
@oz123 Those are currently changes for intree provider only not for external. For external its not generated yet, we will try to take care of it in the same way generated for intree. Will be taken care fro this release.
@lingxiankong is on it

[2020-03-13 06:16] ramineni commented on #858
/assign @lingxiankong

[2020-03-13 07:03] ramineni commented on #883
@ricolin conformance jobs also failing , 2020-03-12 15:21:01.861069 | ubuntu-xenial-citynetwork | + docker push docker.io/k8scloudprovider/openstack-cloud-controller-manager:latest
2020-03-12 15:21:01.861169 | ubuntu-xenial-citynetwork | + tee /home/zuul/workspace/logs/kubernetes/image-build-upload.log
2020-03-12 15:21:01.927977 | ubuntu-xenial-citynetwork | The push refers to repository [docker.i

[2020-03-13 09:25] ivomarino commented on #970
Hi @kayrus, thanks for feedback, unfortunately the cluster does actually not provide `octavia`

[2020-03-13 11:55] brtknr opened #973 "[cinder-csi-plugin] Permission denied when Selinux is enabled"
**BUG REPORT**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:
I get a permission denied when I try to read/write to a Persistent Volume w

[2020-03-14 19:47] brtknr commented on #932
This sounds like a useful feature. If a loadbalancer IP has already been allocated and if a different service can make use of a different port for the same IP, this makes perfect sense. A lot of our users in research computing have limited number of floating IPs and cannot rely on spinning out a floating IP for each service. Ingress is okay for relies on having a DNS server and only suitable for H

[2020-03-14 19:52] brtknr commented on #973
Relevant story on storyboard: https://storyboard.openstack.org/#!/story/2007413

[2020-03-15 09:34] lingxiankong commented on #932
This is a valid point.

[2020-03-17 07:02] ricolin commented on #883
Thanks to let me know, I think I know exactly what's going on, will update patch in following hours (will do this ASAP, since it indeed breaks the test)

[2020-03-17 07:14] ramineni commented on #883
@ricolin Thanks, i have updated yesterday , https://github.com/theopenlab/openlab-zuul-jobs/pull/818 , but we have issue for old releases of e2e conformance , could you fix that? the change should be done only in case the branch is master, which i have missed.

[2020-03-17 08:14] yerzhant commented on #956
Have the same issue:

`
E0317 08:01:40.755248       1 event.go:319] Could not construct reference to: '&v1.Lease{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"cloud-controller-manager", GenerateName:"", Namespace:"kube-system", SelfLink:"/apis/coordination.k8s.io/v1/namespaces/kube-system/leases/cloud-controller-manager", UID:"2bf34ab4-8c94-4c81-86cb-628be0e80be8", R

[2020-03-17 11:58] ricolin commented on #883
@ramineni  I update https://github.com/theopenlab/openlab-zuul-jobs/pull/820 to update the makefile targets in jobs. May I ask what kind of issue it's for old releases of e2e conformance?

[2020-03-18 01:16] xishengcai commented on #956
I use endpoint  can avoid error.
s.Generic.LeaderElection.ResourceLock="endpoints"

[2020-03-18 02:22] lingxiankong commented on #956
@xishengcai I just have installed k8s v1.17.2 and OCCM this morning, didn't see any issue. Are there any special configuration for your k8s?

[2020-03-18 02:38] xishengcai commented on #956
my kubernetes install config:

apiVersion: kubeadm.k8s.io/v1beta1
controlPlaneEndpoint: 121.36.221.246:6443
imageRepository: registry.aliyuncs.com/google_containers
kind: ClusterConfiguration
kubernetesVersion: 1.17.0
networking:
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12

install cmd:
kubeadm init --config=/root/kubeadm-config.yaml --upload-certs

[2020-03-18 03:36] xishengcai opened #978 "create lb failed when only has master nodes on k8s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**The binaries affected**:

- [ x ] openstack-cloud-controller-manager

**What happened**:
E0318 11:31:52.268315       1 controller.go:243] error processing service default/nginx (will retry): failed to ensure load balancer: there are no available nodes for LoadBalancer service default/nginx

**What you expected to happen**:
create loadbalancer for sv

[2020-03-18 10:14] lingxiankong commented on #978
I think the message is clear enough for what's going on.

[2020-03-18 21:50] #637 closed

[2020-03-19 02:02] lingxiankong commented on #858
I have finally got a script working, so from this release (v1.18.0) we are going to use the `Release note` in the PR description to generate our release note, I've already added/modified the content for all the merged PRs since v1.17.0 as needed, so the output of my script is like the following:

[code]

/cc @ramineni @chrigl

[2020-03-19 04:11] ramineni commented on #858
@lingxiankong Awesome !! Thanks.
If we could categorize  the deprecation , features etc. would be good, from next release it can be taken care while adding in release note I suppose.

[2020-03-19 05:10] sbueringer commented on #933
@lingxiankong @hamzazafar @chrigl

If I/we would commit to implementing this, is there interest in merging this if we come up with a feasible solution?

I think the main problems are:
* there's a lot of code to refactor for this
* we have to come up with a name or something for the LB. I think it's a little bit awkward to name the LB after one of the two services and then when the wrong one is del

[2020-03-19 07:18] snehalasarode opened #980 "Octavia ingress Controller: failed to find octavia endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happens**:

I am using Octavia ingress controller for my cluster. Using the same configuration as provided in this document. when i am trying to deploy Octavia ingress controller for my cluster the pod creating goes to the CrashLookBackOff error.

**What you expected to happen**:
Pod should be created for Octavia ingress controller and Loadbala

[2020-03-19 08:41] lingxiankong commented on #858
That needs more customized pre-defined strings which may bring complexity, let's go with this way first and see if could get some feedback.

[2020-03-19 08:49] kayrus opened #981 "Verbose logging flag is not available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [x] client-keystone-auth
- [x] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

Verbose debug logging was added in #867, but

[2020-03-19 14:57] #758 closed

[2020-03-19 17:23] kayrus commented on #839
/remove-lifecycle rotten

[2020-03-19 17:23] kayrus commented on #839
/remove-lifecycle stale

[2020-03-19 20:53] lingxiankong commented on #980
Is Octavia service available in your cloud?

[2020-03-20 09:15] #802 closed

[2020-03-20 09:31] snehalasarode commented on #980
hi @lingxiankong i am working on huawei openstack cloud provider. I thing it support Octavia ingress controller.

[2020-03-21 21:13] lingxiankong commented on #980
Please paste the output of `openstack loadbalancer list`.

[2020-03-22 13:29] chrigl commented on #973
Hey @brtknr . I am not able to reproduce this with cinder-csi-plugin v1.17.0 and latest, against kubernetes v1.17.4.

I set up a 2 node cluster using kubeadm and kubelet of the official RH repos form the kubeadm documentation and `rpm-ostree install kubeadm kubelet kubectl`. I created a pod on one node, created a file, deleted the pod and verified working on the other node.

[code]

Also, the moun

[2020-03-22 13:29] #973 closed

[2020-03-22 14:07] chrigl commented on #978
/close

Kubernetes filters nodes by certain rules: See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/controller.go#L606

It is a good thing that it remains in pending, because the LB will be created as soon as a schedulable and ready node appears (either removing the NoSchedule taint from cp nodes or joining a worker node).

[2020-03-22 14:07] #978 closed

[2020-03-22 15:16] chrigl commented on #970
@ivomarino Hey. Do you maybe set the `use-octavia = true` config value? Btw... `use-octavia = true` is the new default since 5 days (https://github.com/kubernetes/cloud-provider-openstack/commit/ae0546ac492876b774442152ef92b02cf862fd88). You should definitely set it to false in your setup.

Does your openstack support neutron-lbaasv2? `openstack extension list | grep lbaasv2`

[2020-03-22 16:27] brtknr commented on #973
Openstack magnum currently uses hyperkube images, I wonder if the issue lies there? Thanks for trying to reproduce it, I will investigate further from my end

[2020-03-22 20:19] lingxiankong commented on #973
@brtknr One suggestion, when you find it's still not working in Magnum cluster, then just bootstrap a cluster without using Magnum (e.g. using kubeadm as @chrigl mentioned) on the host OS you prefer to avoid distractions.

[2020-03-23 05:18] #980 closed

[2020-03-23 12:22] brtknr commented on #973
I managed to fix the issue by mounting /:/rootfs:ro into the Kubelet hyperkube container. Thanks everybody for your help.

[2020-03-24 08:31] openstacker opened #984 "[magnum-auto-healer] Support updating cluster health status"
/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [x] magnum-auto-healer
- [ ] barbican-kms-plugin

Magnum supports private cluster which means the Magnum control plane can reach the k8s cluster to get the c

[2020-03-24 13:53] chrischdi opened #987 "The components miss a kustomization.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [x] k8s-keystone-auth
- [x] client-keystone-auth
- [x] octavia-ingress-controller
- [x] manila-csi-plugin
- [x] manila-provisioner
- [x] magnum-auto-healer
- [x] barbican-kms-plugin

**What happened**:
I wanted to use the yaml files in:
* http

[2020-03-24 15:55] #812 closed

[2020-03-25 04:21] #966 closed

[2020-03-26 10:27] lingxiankong commented on #951
A nit, please correct the format of 'The binaries affected'

[2020-03-26 20:16] #981 closed

[2020-03-27 08:34] kayrus opened #993 "Move out OpenStack new client logic to a separate package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [x] openstack-cloud-controller-manager
- [ ] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

Currently openstack new client logic is

[2020-03-28 04:17] #938 closed

[2020-03-28 23:05] lingxiankong commented on #933
@sbueringer I still have concerns that this feature may break the stability of openstack cloud controller manager, as you said, lots of refactoring is needed. But thank you so much for bringing this discussion.

[2020-03-30 18:10] hamzazafar commented on #933
@sbueringer Just like other people, I am also very much interested in this feature. I think we should refactor code base in small chunks, in this way we can detect issues earlier.

@lingxiankong  what do you think ?

[2020-03-30 23:01] lingxiankong commented on #933
I think this could work

[2020-03-31 13:53] horakmar commented on #737
Hello. I have the same problem.
After a node crash volumes stay in attached state (at least for Kubernetes, because Horizon says they are not attached to any node). How can I tell Kubernetes, to remove that node from cluster? It is removed automatically (kubectl get nodes doesn't show it). But volumes are not possible to reattach because of "already attached" state.
How to at least manually deatta

[2020-03-31 19:04] vkamra commented on #832
@jichenjc - any reason to not always add this flag? Most use cases that leverage volume snapshots will target volumes that are in-use.

This will align the CSI driver behavior with other storage providers in the community.

[2020-04-01 00:04] lingxiankong commented on #858
See v1.18.0 release: https://github.com/kubernetes/cloud-provider-openstack/releases/tag/v1.18.0

[2020-04-01 00:04] #858 closed

[2020-04-01 08:18] jichenjc commented on #832
um... another check, seems the doc is not correct ,the code in cinder seems described what you mentioned

[code]

https://docs.openstack.org/api-ref/block-storage/v3/index.html?expanded=create-a-snapshot-detail#volume-snapshots-snapshots

force (Optional) | body | boolean | Indicates whether to backup, even if the volume is attached. Default is false. See valid boolean values
-- | -- | -- | --

so

[2020-04-01 08:18] jichenjc commented on #832
/assign

[2020-04-01 08:47] jichenjc opened #1000 "Cinder CSI: Run e2e for manifest update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

https://github.com/kubernetes/cloud-prov

[2020-04-01 08:49] jichenjc commented on #1000
/assign

[2020-04-01 11:48] mape90 commented on #737
Seems like you have something broken in Openstack side. Horizon do not always show volume information correctly. So it is better to use cli as there you get actual data. I.e if server do not exist then horizon might not show any attachments on volume even volume might have attachments in it. So then the Cinder CSI will fail to attach as there is already attachments on the volume.

If you have OS c

[2020-04-01 14:15] zetaab opened #1003 "Cinder CSI: volumes stuck for ever in deleted nodes"
/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

I renamed my kubernetes node names (deleted old ones and created new ones). However, now th

[2020-04-01 14:36] zetaab commented on #1003
I solved this manually:
1) create nodes again with old names
2) detach all volume attachments
3) drain old nodes
4) delete old nodes

blaah...

[2020-04-01 14:52] zetaab opened #1004 "CSI: PV stuck in terminating state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**The binaries affected**:

- [ ] openstack-cloud-controller-manager
- [x] cinder-csi-plugin
- [ ] k8s-keystone-auth
- [ ] client-keystone-auth
- [ ] octavia-ingress-controller
- [ ] manila-csi-plugin
- [ ] manila-provisioner
- [ ] magnum-auto-healer
- [ ] barbican-kms-plugin

**What happened**:

I am seeing following in our cluster:

[code]

[2020-04-01 20:23] lingxiankong commented on #1004
@zetaab which cinder-csi version do you use? Did you try v1.18.0?

[2020-04-01 20:25] lingxiankong commented on #1003
I suppose this one has something to do with #1004

[2020-04-01 21:30] #669 closed

[2020-04-02 05:29] zetaab commented on #1004
docker.io/k8scloudprovider/openstack-cloud-controller-manager:v1.17.0

quay.io/k8scsi/csi-attacher:v2.0.0,quay.io/k8scsi/csi-provisioner:v1.4.0,quay.io/k8scsi/csi-resizer:v0.3.0,quay.io/k8scsi/csi-snapshotter:v1.2.2,docker.io/k8scloudprovider/cinder-csi-plugin:v1.16.0

quay.io/k8scsi/csi-node-driver-registrar:v1.1.0,docker.io/k8scloudprovider/cinder-csi-plugin:v1.16.

[2020-04-02 11:00] lingxiankong commented on #737
@mape90 thanks for the informative answer

[2020-04-03 09:19] #1000 closed

[2020-04-03 10:42] mikejoh opened #1007 "Helper make.sh script fails due to the use of Go 1.12"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running the helper script `./hack/make.sh` for building and compiling the `openstack-cloud-controller-manager` binary, via a Docker container, the following error occurs:

`/go/pkg/mod/k8s.io/apimachinery@v0.18.0/pkg/util/errors/errors.go:99:10: undefined: errors.Is`

This `errors.Is()` function was added to the `err

[2020-04-03 19:04] yerzhant opened #1009 "[cinder-csi-plugin] scheme "" not registered, fallback to default scheme"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Every about 2 mins getting these messages:
[code]

**What you expected to happen**:
No such messages.

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version: latest
- K8s: 1.18.0

[2020-04-03 23:11] #1007 closed

[2020-04-04 02:10] lingxiankong commented on #1009
@ramineni could you please take a look? thanks!

[2020-04-04 13:25] tomaaron opened #1010 "[cinder-csi-plugin] Add helm chart for cinder-csi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

As suggested in #65 and as the magnum uses Helm for a variety of deployments (Prometheus, NGINX Ingress ..)

[2020-04-05 20:35] lingxiankong commented on #869
Assume https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/migrate-to-ccm-with-csimigration.md could answer the question, if not, please re-open this issue.

[2020-04-05 20:35] #869 closed

[2020-04-06 06:23] ramineni commented on #729
/assign

[2020-04-07 06:22] ramineni commented on #793
/remove-lifecycle stale

[2020-04-07 06:22] ramineni commented on #679
/remove-lifecycle stale

[2020-04-08 10:18] ramineni commented on #1003
@zetaab this behavior is changed in latest release 1.18 . Now, if the node is not found, it will return without any error assuming its already detached. https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L217

I suppose this should solve your issue.

[2020-04-08 10:21] ramineni commented on #1004
@zetaab some of the above behaviors are changed in 1.18, like volume not found, it returns success assuming its already detached .
Could you try with cinder-csi-plugin: 1.18, if you still see the issue

[2020-04-08 14:05] yuquan-wang opened #1015 "Export variable in driver.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 feature request

**What you expected to happen**:

Export following variable in driver.go
[code]
We have a special usage for cinder-csi, so we need to develop our own csi based on this project, we want to make use of above variables in our own csi, would you mind export those variables.
In aws-ebs-driver we can make use of that directly, really apprec

[2020-04-09 06:01] ramineni commented on #702
/remove-lifecycle stale

[2020-04-09 10:38] zetaab commented on #1003
I updated to 1.18 and all zombie volumeattachments and pvcs was gone

[2020-04-09 10:38] #1003 closed

[2020-04-09 10:38] zetaab commented on #1004
I updated to 1.18 and all zombie volumeattachments and pvcs was gone

[2020-04-09 10:38] #1004 closed

[2020-04-09 14:15] kayrus opened #1018 "[cinder-csi-plugin] ephemeral storage isn't aware about availability zone topology"
/kind bug

**What happened**:

I configured cinder csi controller provisioner with `--feature-gates=Topology=true` flag:

[code]

CSI nodeserver contains logs:

`accessible_topology:<segments:<key:"topology.cinder.csi.openstack.org/zone" value:"region1a"`

I used this example: https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/inline/inline-example.yaml

[2020-04-09 15:10] kayrus opened #1020 "[cinder-csi-plugin] node server should not use openstack credentials by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Cinder CSI node server tries to create an openstack client based on cloud-config, when usually this is not necessary, since all openstack related communications are done on csi controller side.

**What you expected to happen**:

I expect CSI cinder node server not to use openstack credentials, when it is not necessar

[2020-04-09 15:25] rfranzke commented on #1020
/cc @adisky

[2020-04-13 02:19] jichenjc commented on #1020
just to confirm, the overall idea is to use secret or related info to avoid usage of cloud-config, but still need the provided secret to do communication with openstck side(in other words ,the mechanism of communication between CSI node + openstack is not changed, how to provide cloud definition will be changed, correct?)

[2020-04-13 02:20] jichenjc commented on #1015
maybe you can submit a PR directly or add some function to return that such as
Getxxx()
{
        return *csiDriver
}
？

[2020-04-13 06:59] kayrus commented on #1020
Initial idea was to start nodeserver without secrets. It may be required by security purpose. Additionally, follow CSI spec and configure openstack client from secrets, provided in storageclass manifest when possible.

For now I'm confident that secrets are required by ephemeral inline storage. Nodeserver may work fine without secrets and ephemeral storage support.

The rest functions are:
* NodeS

[2020-04-13 07:11] #1018 closed

[2020-04-13 09:12] kayrus commented on #479
This issue was fixed in #920
cc @jichenjc

[2020-04-13 09:37] ramineni commented on #1020
we need to use openstack credentials for some of the operations in nodeserver . As per the https://kubernetes-csi.github.io/docs/secrets-and-credentials.html ,
`secret is required at the "per driver" granularity (not different "per CSI operation" or "per volume"), then the secret SHOULD be injected directly in to CSI driver pods via standard Kubernetes secret distribution mechanisms during deploym

[2020-04-13 09:55] jichenjc commented on #479
yes , thanks for the reminder ~

[2020-04-13 09:55] #479 closed

[2020-04-14 02:27] lingxiankong commented on #1004
@ramineni could you please help to backport that change to branch release-v1.17? We could do a patch release and build new tag image for v1.17 users.

[2020-04-14 04:10] ramineni commented on #1004
sure, Ill do that

[2020-04-14 10:53] mape90 opened #1030 "[cinder-csi-plugin] Availability zone can not be resolved with configdrive"
**What happened**:
Deployments with metadata drive will fail to resolve availability zone.

Cinder CSI still uses its own metadata implementation that only works with metadata service and not with configdrive.

**What you expected to happen**:
VMs with configdrive only would be able to get their metadata.

**How to reproduce it**:
VM has only configdrive and not metadata service on network.

**Any

[2020-04-14 21:28] lingxiankong commented on #1030
@mape90 May I ask which cinder-csi-plugin version you are using? At least from release v1.18, the cinder csi has already used `k8s.io/cloud-provider-openstack/pkg/util/metadata`, see https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.18/pkg/csi/cinder/nodeserver.go#L563, and search order can also be customized, https://github.com/kubernetes/cloud-provider-openstack/blob/release-

[2020-04-15 04:14] openstacker opened #1031 "[magnum-auto-healer] Support nodegroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The default node group name of k8s cluster workers is 'default-worker'. And actually different node groups have different names. So when doing the healing, the node group parameter for the Magnum /resize API call should be varied.

And also the node count of different node group are varied as well.

**What you expecte

[2020-04-15 09:40] mape90 commented on #1030
@lingxiankong I have checked master and v1.18 code. Both use only mounter and openstack.IMetaData. Neither of those implements access to config drive.

The whole function could be rewritten as
[code]
Bigger problem is the availability zone where mounter can not provide it and it would be odd if it would. But whole metadata access could be rewritten with that util/metadata.

[2020-04-15 13:07] yuquan-wang commented on #1015
@jichenjc sure, no problem.
I just want to confirm with you guys that the change is acceptable before i submit a PR.

[2020-04-16 07:54] lingxiankong commented on #1015
Thanks for reporting this issue.

If the purpose is to create your own csi based on this project, the recommended way is to make a fork and do your own change.

With that said, I don't think this is a reasonable feature request for us. I am closing this issue, but you are welcome to open a new one if you need any assistance for cinder-csi-plugin.

/close

[2020-04-16 07:55] #1015 closed

[2020-04-16 13:01] lingxiankong commented on #1030
Isn't https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L609-L634 what you are pursuing? Could you provide some error log we could investigate?

[2020-04-17 07:11] #1010 closed

[2020-04-20 08:27] gdetal opened #1039 "[occm] 'internal-network-name' broken since release 1.18"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I configured `internal-network-name` in the `cloud.conf` configuration file. But the InternalIP of my minion nodes always get the wrong IP address.

**What you expected to happen**:

That the InternalIP of my minion nodes corresponds to the one allocated in the network specified by `internal-network-name`.

**How to repr

[2020-04-20 08:38] mape90 commented on #1030
That only either uses mounter to read /var/lib/cloud/data/instance-id or it uses metadata service. It never uses config drive. Then when comes time to fetch availability zone it only uses metadata service.

I currently do not have logs. But by following the execution path you can see that nothing ever access the config drive. It should mount device with label "config-2"

Reason why most of the peo

[2020-04-20 08:42] mape90 commented on #479
Actually this issue is still not fixed. As that fix only added search order to use either mounter or metadataservice. It never uses config drive. I have opened issue https://github.com/kubernetes/cloud-provider-openstack/issues/1030 for this. Solution to solve this would be simple by just using pkg/util/metadata/metadata.go which already implements search order and uses both config drive and metad

[2020-04-20 08:59] kayrus commented on #1039
@gdetal can you set verbose debugging (`--v=6`) and provide the `internal-network-name` value? Using `--v=6` can show the actual server details JSON object returned by OpenStack Nova, e.g.
[code]

`private` key should correspond to `internal-network-name` value.

[2020-04-20 09:32] gdetal commented on #1039
thanks for the fast follow-up.

Find below the requested output with `--v=6`:

[code]

Note here is also the relevant `cloud.conf` section:

[code]

[2020-04-20 09:37] kayrus commented on #1039
@gdetal as you can see there is no network name corresponding to your cloud-config's `k8s-clusterapi-cluster-default-openstack`. You need to change it to a valid network name.

[2020-04-20 09:46] kayrus commented on #1039
@gdetal looks like #884 logic missed `networkingOpts.InternalNetworkName` condition for interfaces. I'll try to fix it.

[2020-04-20 09:48] gdetal commented on #1039
@kayrus ok, thank you !

[2020-04-21 08:58] lingxiankong commented on #1030
I see your point now @mape90 , you are right, the data source is only coming from metadata service, not config drive.

[2020-04-22 02:57] jichenjc commented on #1030
I think it can be tested by using force config drive flag in deploy action in nova
the question I have is ` /var/lib/cloud/data/instance-id` actually comes from config drive? config-2 label disk will be honored and create the file above by cloud-init?

[2020-04-22 09:42] ramineni commented on #668
/remove-lifecycle stale

[2020-04-22 13:45] mape90 commented on #1030
I think that /var/lib/cloud/data/instance-id is generated by cloud-init from the metadata it gets. And it gets it either via config drive or via metadata service. So using mouter to fetch that file do not give anything extra. As metadata would have the same information.

We are deploying VMs with configdrive only (no metadata service is available for VM) and those also populate that instance-id -f

[2020-04-23 03:18] jichenjc commented on #1030
sorry about the question so we are proposing following (if search order is config drive and then metadata?)
1) use cloud-init generated file id
2) use config-2
3) use metadata service

we are missing config-2 in code so you want to add it?

[2020-04-24 07:33] mape90 commented on #1030
What I would propose is that just use util/metadata/metadata.go for nodeID, AvailabilityZone and getting Devicepath (Workaround for Nova Hyper-V).

This would simplify code and reduce replicated code as whole  csi/cinder/openstack/openstack_metadata.go could be deleted. Also we would not need to use mounter for getting nodeid as same information can be provided by metadata package.

So we could re

[2020-04-26 16:47] #856 closed

[2020-04-28 04:27] ramineni commented on #793
/reopen
Pending on enabling job in CI

[2020-04-29 05:52] #832 closed

[2020-05-01 06:14] #1039 closed

[2020-05-01 07:29] yotsapon opened #1052 "[octavia-ingress-controller] The loadbalancer is PENDING_UPDATE and Floating IP is not allocated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I try to apply ingress but it looks like the status of loadbalancer is PENDING_UPDATE and the floating IP is not allocated. I am trying to delete ingress but the loadbalacer can't be removed as well.

![image](https://user-images.githubusercontent.com/46857257/80788783-42d74600-8bb4-11ea-891a-d3d1190fa5b6.png)

![image](h

[2020-05-03 01:40] lingxiankong commented on #1052
what's the Octavia version?

[2020-05-04 05:40] #793 closed

[2020-05-04 08:51] ialidzhikov opened #1054 "[occm] service-controller does not create Event for failed operation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The service-controller does not create Event obj for failed operation. The cluster operator needs to check the cloud-controller-manager logs to see the actual failure reason.

**What you expected to happen**:
I would expect the service-controller to create an Event obj with appropriate error message for the Service.

**How

[2020-05-05 05:04] amitbhatia1987 opened #1056 "[cinder-csi-plugin] unable to detach cinder volume when node crashes/shutdown"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Pod is running on a node with volume using cinder-csi and when node goes down/crashes then pod moves to another node but stuck in "ContainerCreating" state as cinder volume is unable to detach from the crashed node and reattach on the new node where pod is shifted.

**What you expected to happen**:
When node crashes and

[2020-05-06 02:21] yotsapon commented on #1052
I have asked the provider they told me that it's "Stable Train". I am not sure this is what you expect or not.

[2020-05-06 06:47] ramineni commented on #1056
@amitbhatia1987 which cinder-csi image version are you using? is it 1.18? or latest

[2020-05-06 12:07] amitbhatia1987 commented on #1056
Its v1.1.0 which is mentioned here (https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md)

[2020-05-06 22:52] lingxiankong commented on #1054
I've never paid attention to the events, but from the description we have something to fix. Need to check.

[2020-05-06 23:03] lingxiankong commented on #1052
seems your cloud doesn't support [batch member update](https://docs.openstack.org/api-ref/load-balancer/v2/index.html#batch-update-members), could you please check? You can also directly send HTTP request to verify.

[2020-05-07 02:18] jichenjc commented on #1056
is this something should be handled by upper layer?
seems CSI cinder only used in grpc to accept request from above layer?

or there are some event missed handle in CSI cinder so that whole process is blocked..

[2020-05-07 04:11] ramineni commented on #1056
@amitbhatia1987 Im asking the version used in manifest file for deploying the plugin. But Its fine. Could you clarify few things , from the openstack side , is the volume still attached to node . If the volume is detached from openstack side, it should work fine I suppose. From csi, if its already attached to different node, it will throw error as its not expected.  IMO detach cant be called from

[2020-05-07 04:41] amitbhatia1987 commented on #1056
I was expecting when node crashes csi should invoke volumedetach so that it can be re-attached to another node where pod is moved

[2020-05-07 04:50] ramineni commented on #1056
@amitbhatia1987 could you share container logs of cinder-csi ?

[2020-05-07 07:28] kayrus commented on #1052
@yotsapon you can enable verbose JSON request/response logging for better understanding on what is going on: `--v=6`

[2020-05-09 07:55] maateen opened #1059 "[cinder-csi-plugin] Support needed for Cinder API v2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Our Openstack provider provides only Cinder v1, v2 API. But it seems that cinder-csi-plugin is supporting only v3 currently.

**What you expected to happen**:

Cinder CSI plugin supports cinder v2 API. Or, at least please specify any old version of this plugin on the document which one supports v2 API.

**How to repr

[2020-05-09 08:45] yotsapon commented on #1052
The provider told me that their Openstack Cloud doesn't support provider type Octavia. Thank you for your advice.

[2020-05-09 08:45] #1052 closed

[2020-05-09 08:47] yotsapon commented on #1052
Thank you for your recommendation.

[2020-05-09 10:46] maateen commented on #1059
This issue is similar to #751 but that issue is closed already without any solution to this problem.

[2020-05-09 16:25] gman0 commented on #720
/remove-lifecycle stale

This is still ongoing...

[2020-05-10 10:48] yotsapon opened #1060 "[cinder-csi-plugin] Failed to GetOpenStackProvider: Post "https://identity.XXXX/v3/auth/tokens" net/http: TLS handshake timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Trying to apply csi-cinder-controllerplugin but one of containers named "cinder-csi-plugin" is CrashLoopBackOff. I have checked logs inside it shows error below.
![image](https://user-images.githubusercontent.com/46857257/81496888-212d3b80-92e5-11ea-9b5a-cd6973e692a3.png)

**What you expected to happen**:

**How to reprod

[2020-05-10 16:46] kayrus commented on #1060
@yotsapon it looks like this node has issues with network connectivity. do other nodes work fine? Can you run `curl -v %keystone_url%` from this node?

[2020-05-11 01:23] yotsapon commented on #1060
I have tested  the connection randomly on worker nodes to get Auth Token from https://identity.XXXX/v3/auth/tokens. It works fine.

[2020-05-11 12:10] johannesfrey opened #1061 "[cinder-csi-plugin] CreateContainerError when arbitrary container mountPath contains double quotes"
/kind bug

**What happened**:

During an update of the [cinder-csi-nodeplugin DaemonSet](https://github.com/kubernetes/cloud-provider-openstack/blob/v1.17.0/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml) one Pod of the cinder-csi-nodeplugin could not be started again (`CreateContainerError`) because on that Node there was a Pod running as well that contained double quotes in its mountPath

[2020-05-11 12:26] jichenjc commented on #1061
is this a cinder CSI issue ? looks like this is general yaml parse issue?
not sure whether it's in the scope

[2020-05-11 12:31] jichenjc commented on #1060
@yotsapon have you set CA ? you are using https and I didn't see ca set

[2020-05-11 12:37] jichenjc commented on #1059
@maateen
https://docs.openstack.org/api-ref/block-storage/index.html
indicated the v2 is deprecated
no reason for CSI to support it as far as I can tell
so maybe the provideres need to be updated if it's only v1/v2

[2020-05-11 12:52] johannesfrey commented on #1061
Yeah I also was not totally sure where to address this... Decided to put it here as it seems that "only" the csi cinder plugin seems to have a problem with this.
As mentioned above, creating a Pod works fine and inside the container you can actually see the mount with double quotes (so the container creation via Kubernetes -> container runtime works). So either the double quote is actually a valid

[2020-05-11 13:03] jichenjc commented on #1061
`vi "abc"` is same to `vi abc` in linux :)
but really don't know why you have such issue ...

[2020-05-11 15:07] yotsapon commented on #1060
Before I found this issues I upgraded K8S from v1.16.8 to v1.18.2 and it used to work before without ca-file. I also checked with the cloud provider they told that the certificates of  https://identity.XXXX/v3/auth/tokens was generated by Let's encrypted. Do I still need to add ca-file if it worked without ca-file before?

[2020-05-11 17:05] Fedosin opened #1062 "[manila-csi-plugin] Manila share provisioning fails if `availability` is not set in the StorageClass"
/kind bug

**What happened**:
If I do not specify `availability` in the StorageClass description, provisioning fails with next error:

But the documentation says this parameter is optional:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-manila-csi-plugin.md#controller-service-volume-parameters

**What you expected to happen**:

Share provisioning succeeds.

**How to

[2020-05-12 01:29] jichenjc commented on #1060
um... not sure, my env is https so I have to provide a ca file in order to communicate with openstack side

but this is not a CSI question from my understanding, as @kayrus pointed out
 you might want to try normal openstack operation before try CSI

[2020-05-12 07:10] celiawa opened #1064 "[cinder-csi-plugin] Volumes are not exposed to kubelet_volume_stats_* metrics."
All the currently maintained binaries are:
* cinder-csi-plugin
 /kind bug

**What happened**:
In the previous release, we use intree cinder provider and the volumes created could be exposed to via command:
curl -s --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -H "Authorization: Bearer ******" https://kubernetes.default.svc:443/api/v1/nodes/control-0/proxy/metrics | grep "^kubelet_v

[2020-05-12 07:49] ramineni commented on #1064
@celiawa GET_VOLUME_STATS node capability is implemented as part of https://github.com/kubernetes/cloud-provider-openstack/pull/941 , and would be available as part of 1.19 release. If you would like to use, you could use :latest tag image where the capability would be available.

[2020-05-12 08:23] johannesfrey commented on #1061
This also works on Linux :wink::
* `vi '"abc"'`
* `mkdir "'def"'`

We are managing Kubernetes clusters and one update broke (cinder-csi-nodeplugin could not be started again) because a user was using double quotes as mountpath via helm template variable subsititution.
Nevertheless, so do you mean the cinder-csi-plugin works as intended here? If so, were should the validation happen that prohibits

[2020-05-12 08:31] jichenjc commented on #1061
to my understanding  this is really not something should be handle by CSI cinder.. maybe other folks will have more input
[code]

I will check whether CSI cinder mount code has anything to it ... thanks

[2020-05-12 10:03] Jacob310 commented on #1060
Sorry - how do you do this?

[2020-05-12 14:49] mape90 opened #1065 "[cinder-csi-plugin] req.GetVolumePath() is used for device path"
**What happened**:
In nodeserver.go NodeGetVolumeStats() and NodeExpandVolume() functions use req.GetVolumePath() for finding path of device. This should never be trusted as only the node can know actual device path.

This can cause situations where device given by this do not exists or is totally different device.

**What you expected to happen**:
Those functions should query actual device using

[2020-05-12 20:01] Fedosin commented on #1062
The problem was in our cloud, the bug is invalid

[2020-05-12 20:01] #1062 closed

[2020-05-13 01:17] jichenjc commented on #1064
@ramineni
https://github.com/kubernetes/cloud-provider-openstack/issues/913
seems talked about metrics, that issue need upgrade snapshot side car version
so without #913, can we still get metrics above?

[2020-05-13 01:19] jichenjc commented on #1065
@mape90 do we know how it will impact end user ? just to get some further understanding about the impact...thanks

[2020-05-13 05:50] johannesfrey commented on #1061
Sure, thank you!
I think the cause for this is that the nodeplugin uses the path to the kubelet pods directory as volumeMount:

[code]

So you are absolutely right, it looks as this really is not a problem of CSI per se (every container that would try mount the pods mount dir would fail in this way) but rather with containerd not being able to handle double quotes in mount paths.
Please feel free

[2020-05-13 07:09] mape90 commented on #1065
Impact for end user is that eventually volume paths given by cinder and actually present on node will be different. In lucky case those resize and stats will just fail. In worst case those actions will be done to random volumes.

For example user1 wants to resize its volume1. However node has placed volume2 owned by user2 to the path that is present in volume1 volumeattachment information. So now

[2020-05-13 10:34] ramineni commented on #1065
@mape90 This issue is addressed in csi long time back by getting the device path explicitly and not trusting the path given by cinder, https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L363 , NodeExpandVolume is called using the path where the volume is staged, so it should get right path . Are you facing any issue / error ?

[2020-05-13 10:44] ramineni commented on #1064
@jichenjc From the issue I see that its about volume usage details (kubelet_volume_stats_available_bytes),  so yes, volume usage details can be retrieved using GET_VOLUME_STATS node capability.

[2020-05-13 11:17] ramineni commented on #1061
@johannesfrey  strange actually, but this mountpath /var/lib/kubelet/pods is removed in recent releases, though /var/lib/kubelet is still used. But you could try with latest release and check if you are facing the same issue.

[2020-05-14 04:07] ramineni commented on #1056
@amitbhatia1987 when the pods are evicted , its the responsibility of CO/external-attacher sidecar to initiate the unpublish volume on node. If its is called from the CO side , plugin would initiate the same . If you are seeing any error in the calls related to that , we can fix the issue . If its not at all called, I believe its outofscope for this project.

[2020-05-14 04:53] yotsapon commented on #1060
The issues was fixed now. The root cause of this problem came from some setting in proxy. Thanks for pointing out the root cause.

[2020-05-14 04:53] #1060 closed

[2020-05-14 08:57] lingxiankong commented on #1059
I agree with @jichenjc, we don't intend to add support for something that is deprecated.

[2020-05-14 08:57] #1059 closed

[2020-05-14 09:02] #1031 closed

[2020-05-14 09:09] mape90 commented on #1065
Yes other parts are doing it correctly and not trusing the path. However NodeExpandVolume is called by kubelet and it gets its info from volumeattachment that has the incorrect path as that info was given by attacher who has no way of knowing the actual path as it is running on different node.

I can try to generate the issue, but I need to figure out how to easily get path on node and nova to be

[2020-05-14 09:22] ramineni commented on #1030
@mape90 Its on the list for quite sometime now to reduce the duplicate code . +1 on the same. Would you like to take it up?

[2020-05-14 10:46] ramineni commented on #1009
@yerzhant seeing from the error messages,

This path is actually used in node-driver-registrar sidecar and is required argument for registering driver with kubelet, https://github.com/kubernetes-csi/node-driver-registrar#required-arguments ,
And secondly , in this case looks like we want to go with the default scheme , as none is passed .

Either way, I dont think this is not in scope of this proj

[2020-05-14 11:24] strigazi opened #1066 "[cinder-csi-plugin] [manila-csi-plugin] Release helm charts"
Will the two charts be released in a repository?
I think the best option is github package like ingress-nginx. I am not sure how compatible is with this git repo that has many components.

https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#tldr

/kind feature

[2020-05-15 05:48] jichenjc commented on #1064
@ramineni thanks for the info, so we can wait for @celiawa test then close this

[2020-05-15 06:05] jichenjc commented on #1065
ok, thanks for the detailed info , I think I knew the question you mentioned, I knew this cinder issue before and that's the reason why nova ignore the /dev/xxxx, we should use real device instead of anything from cinder/nova side

[2020-05-15 06:30] jichenjc commented on #1065
/assign

let me give a try

[2020-05-15 06:39] johannesfrey commented on #1061
As mentioned above, closing this issue because it is not related to the cinder-csi-plugin directly. An issue was created in the containerd repo.

[2020-05-15 06:39] #1061 closed

[2020-05-15 07:09] ramineni commented on #1065
@jichenjc First, if you could reproduce the issue would be good. From the spec , I see that NodeExpandVolume is called using the path where the volume is staged/published, so we can understand better from where it is getting the path.

[2020-05-15 07:12] jichenjc commented on #1065
yes, what I plan to do is use /dev/sdz to attach (maybe do some hacking) as well and see what happened there... thanks for the reminder

[2020-05-15 17:34] atsai1220 commented on #1066
I can't for the life of me figure out the correct path to give my App Catalog for this Helm Chart. The chart is referenced here: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md#deploy

[2020-05-15 20:35] lingxiankong commented on #1066
@tomaaron Hi Tom, do you something about this?

[2020-05-15 20:55] lingxiankong commented on #1066
Just found @brtknr already proposed a PR https://github.com/kubernetes/cloud-provider-openstack/pull/1067 for this

[2020-05-18 02:59] #1009 closed

[2020-05-18 10:25] jichenjc commented on #1065
@ramineni I tried to reproduce but failed
then I searched the web find many issues there
so we should avoid using the volume from cinder anytime ,which means this is a valid issue that many folks had before..

https://github.com/openshift/openshift-ansible/issues/12060
https://github.com/kubernetes/kubernetes/issues/33128

[2020-05-18 10:42] ramineni commented on #1065
@jichenjc Have you tried specifically or ExpandVolume usecase ? because others will work fine as its already fixed as I mentioned before https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L363

[2020-05-18 12:10] jichenjc commented on #1065
yes, I knew this , because of my local env is corrupt for expand (can't expand and don't know why)
so I can't test the expand feature , not sure how to test using NodeGetVolumeStats?

[2020-05-18 12:32] mootezbessifi opened #1069 "Kubernetes cloudprovider plugin sending periodical GET volumes info api requests to Cinder"
Hi folks,

I am running k8s v1.17.4 and 1.14.2 with integration with cinder using in-tree openstack cloud provider.

I received a report from openstack team that they are receiving a huge number of GET cinder volume info requests (like 18 request per volume per minute). (volumes are linked to pv/pvc)

I checked out my controller manager and kubelet in the hole cluster but i did not find any abnorm

[2020-05-18 22:08] openstacker opened #1070 "[magnum-auto-healer] Detach volumes before power off node(instance)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Auto healing failed when there are nodes attached on the target node because the instance has been powered off.

**What you expected to happen**:

Auto healing can be run successfully.

**How to reproduce it**:

Create a cluster with docker volume attached to worker nodes.

**Anything else we need to know?**:

**Environm

[2020-05-19 04:08] ramineni commented on #1069
@mootezbessifi This repo is for out-of-tree cloudprovider , for intree cloudprovider issue needs to be raised in k8s repo, https://github.com/kubernetes/kubernetes/issues . I hope you understand that intree provider is long deprecated and will be removed in 1.21 and migrating to CSI is recommended.

[2020-05-19 04:10] jichenjc commented on #1064
@ramineni I used local env with latest image:

[code]

however, I can't find kubelet_volume_xxx in output of
[code]

there are a lot of output such as
[code]

@celiawa do you know any special settings to be enabled in order to get volume metrics if it's supported?

[2020-05-19 09:06] mootezbessifi commented on #1069
@ramineni thanks for your response,
but the core of my questions is not really related to supported csi versions, it is related to how it works "by design", could you provide answer to my question ?

[2020-05-19 09:52] ramineni commented on #1069
@mootezbessifi Thats what I mentioned, for intree you have raise issue in k8s repo where intree is hosted , so members who wroked on intree provider might help you, this is not right repo .

[2020-05-19 12:57] mootezbessifi commented on #1069
ah ok i opened a ticket there, thank you
I will close this issue

[2020-05-19 12:57] #1069 closed

[2020-05-20 10:38] #984 closed

[2020-05-20 11:51] ivomarino opened #1072 "[occm] cloud-init?"
/kind feature

a generic question regarding `openstack-cloud-controller-manager`, I currently use it to scale new nodes on OpenStack, all fine so far. I was wondering how it would be possible to specify the `cloud-init` to be used when creating the VM, the one that then creates `/etc/cloud/cloud.cfg`. Thanks in advance for any feedback.

[2020-05-20 12:10] lingxiankong commented on #1072
Hi @ivomarino, what do you mean by 'scale new nodes on OpenStack using OCCM'? Could you please describe more about your use case so that we could understand better for your requirements? Thanks.

[2020-05-20 12:19] ivomarino commented on #1072
hi @lingxiankong, what I need to do is to specify which `cloud-config` should be used for the new spawned worker node, the `cloud-config` in OpenStack that generates `/etc/cloud/cloud.cfg`. I basically need to run `apt-get install ...` to install salt minion when the node has been created and boots up for the first time (before joining the K8s cluster). Or I need to be able to trigger a one-liner

[2020-05-20 12:31] lingxiankong commented on #1072
Hi @ivomarino , I don't think OCCM is responsible for creating Nova VMs (or injecting user data via cloudinit), it only gets the VM information before configuring the Kubernetes worker nodes.

[2020-05-20 12:39] ivomarino commented on #1072
@lingxiankong thans for this info so far;) think we can close this then. P.S. do you know if it's possible to trigger an event (or command) after a new node has been added to K8s? thanks

[2020-05-20 19:23] lingxiankong commented on #1072
@ivomarino it depends on how the worker node is added to the cluster and if you could control that.

[2020-05-20 19:23] #1072 closed

[2020-05-20 19:25] ivomarino commented on #1072
@lingxiankong via webhook call to the OpenStack API as far as I know

[2020-05-20 22:09] lingxiankong commented on #1072
So you can pass the user data when creating Nova VM.

[2020-05-21 08:07] ivomarino commented on #1072
@lingxiankong oks, but K8s needs to do that in some way, right?

[2020-05-21 12:47] lingxiankong commented on #809
k8s-keystone-auth function test has already been changed.

[2020-05-21 12:47] #809 closed

[2020-05-21 12:50] #1070 closed

[2020-05-22 03:58] jichenjc commented on #1065
and I guess if I can find a way to find volume stats here
https://github.com/kubernetes/cloud-provider-openstack/issues/1064
then I can also test this

[2020-05-22 15:31] jeff-hillman opened #1074 "[occm] Add annotation to allow for selecting of a LoadBalancer in case of multiple LoadBalancers within the same cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
RE: Kubernetes issue [91306](https://github.com/kubernetes/kubernetes/issues/91306)

In the case of having multiple LoadBalancer in the same cluster (OCCM and MetalLB), when a Service type LoadBalancer is requested (or a service exposed as that type), both LBs will try to satisfy the request.  Even setting OCCM specif

[2020-05-23 10:33] lingxiankong commented on #1074
Hi @jeff-hillman , i'm wondering why you need to run multiple loadbalancer controllers for a single cluster?

[2020-05-26 04:20] ramineni commented on #678
/remove-lifecycle stale

[2020-05-26 04:22] ramineni commented on #836
/remove-lifecycle stale

[2020-05-26 04:22] ramineni commented on #836
@chrigl Are you still working on this?

[2020-05-26 14:31] #628 closed

[2020-05-27 16:57] #887 closed

[2020-05-27 20:12] mikejoh opened #1080 "[occm] Investigate to remove vendored code from occm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

I've created this issue to discuss and investigate if we can switch to fully use the k/k `cloud-controller-manager` code as seen [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/controller-manager.go), and not use our own implementation of parts of the k/k `cloud-controller-manager` in [this](https

[2020-05-28 10:23] rochaporto commented on #933
@sbueringer do you already have some code for this? We're very interested in this feature and have some downstream prototype code.

[2020-05-28 10:31] sbueringer commented on #933
@rochaporto We don't have any code yet, but we wanted to start developing it at some point in the next few weeks when we get to it. We would definitely be interested to take a look at your code if possible :)

/cc @chrischdi

[2020-05-28 13:57] nitesh-sharma-trilio commented on #832
Hello Team,

What version of Cinder CSI will have this force snapshot option working ?

Thanks.

[2020-05-29 02:50] jichenjc commented on #832
I am not sure we made release after the PR merged
@ramineni @lingxiankong do you know that?

@nitesh-sharma-trilio use :latest image of CSI cinder should get you the feature

[2020-05-29 04:09] ramineni commented on #832
@nitesh-sharma-trilio It will be part of next release 1.19. But ya , you could use latest image published to avail the feature for now.

[2020-05-29 07:54] mikejoh commented on #1080
Worth mentioning, which is kind of related to this issue, is that there's work ongoing to move consumed packages from `k/k` to `k8s.io/cloud-provider`: https://github.com/kubernetes/cloud-provider/issues/29.

[2020-05-29 09:36] #886 closed

[2020-05-30 04:31] wyyxd2017 opened #1083 "Wrong help documentation"
#Wrong help documentation
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/getting-started-provider-dev.md#docker
how to run Docker v1.12,the url https://yum.dockerproject.org/repo/main/centos/7 is invalid

[2020-06-01 07:43] zhoudayongdennis opened #1084 "csi-cinder-nodeplugin/node-driver-registrar: detected topology value collision"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
one of 3 controller were restarted and then one of the container in the pod "csi-cinder-nodeplugin" went into terminated start and then to crashloopback.

here was the detail logs.

[root@csd-control-01 log]# kubectl logs csi-cinder-nodeplugin-prqll -n kube-system -c node-driver-registrar
I0521 14:54:53.122615       1 main

[2020-06-01 09:22] ramineni commented on #1084
@zhoudayongdennis It gets from metadataservice , Is metadata service available on nodes, Try running `curl http://169.254.169.254/openstack/latest/meta_data.json` on the node
https://docs.openstack.org/nova/latest/user/metadata.html

[2020-06-01 09:40] ramineni commented on #1083
@wxyxd2017 Document seems outdated, Docker 1.12 is old , you could follow the instructions from here , https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker

Thanks for reporting, we will get the document updated soon here .

[2020-06-01 11:49] #737 closed

[2020-06-01 19:52] mikejoh commented on #912
@bgagnon I've not been running the in-tree CCM and i have no idea what it exposed in regards to metrics but there's a couple of metrics you can get out of the OpenStack (external) CCM. I think there's room for improvement here, not only as far as the docs go but also code-wise. With code-wise i mean exporting more metrics (if feasible.

The OCCM is assigned port `10258`, or rather the [`k/k`](http

[2020-06-02 03:04] jianglingxia opened #1085 "csi-cinder-driver v1.18 release deploy failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
i deploy the csi-cinder-driver in k8s v1.17.4,
used the  yaml in website
https://github.com/kubernetes/cloud-provider-openstack/tree/release-1.18/manifests/cinder-csi-plugin

but the controller plugin has one container can not run,the logs cinder-plugin is

I0602 11:00:22.577796       1 openstack.go:236] TenantName:
I0602 11:00:22.5

[2020-06-02 03:19] jianglingxia commented on #1085
@ramineni  thanks

[2020-06-02 04:22] ramineni commented on #1085
@jianglingxia Is the secret updated with your env cloud-config file?
https://github.com/kubernetes/cloud-provider-openstack/blob/release-1.18/manifests/cinder-csi-plugin/csi-secret-cinderplugin.yaml

[2020-06-02 04:38] jianglingxia commented on #1085
yes,
the cloud.conf content is like this

[Global]
username=admin
password=aopc
auth-url=https://1.1.11.1:5000/v2.0/
tenant-id=70267e8daaa54baa8a68a765a85b6d38

[Metadata]
search-order=configDrive,metadataService

then i base64 it and used the result to replace the secrt.yaml and create the secret
base64 -w 0 cloud.conf

my step is :
1)create the secret
cloud-config

[2020-06-02 04:56] ramineni commented on #1085
@jianglingxia Could you share o/p of kubectl describe pod csi-cinder-controllerplugin-0 and also logs of cinder-csi-plugin container

[2020-06-02 06:10] jianglingxia commented on #1085
ok.

[root@paas-controller-3:/home/ubuntu/cinder-csi]$ kubectl describe pod csi-cinder-controllerplugin-0 -n kube-system
Name:         csi-cinder-controllerplugin-0
Namespace:    kube-system
Priority:     0
Node:         188.1.1.8/188.1.1.8
Start Time:   Tue, 02 Jun 2020 14:05:07 +0800
Labels:       app=csi-cinder-controllerplugin
              controller-revision-hash=csi-cinder-controllerplugin-

[2020-06-02 06:36] ramineni commented on #1085
Looks to me as cert issues while connecting to openstack . `ca-file` parameter needs to updated here?  https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-openstack-cloud-controller-manager.md#global

you need to check , if able to connect to openstack from the node 188.1.1.8 ? using curl may be

[2020-06-02 09:11] jianglingxia commented on #1085
i modify the code and make cinder-csi-plugin but i donot know how to build images?can you help me ? i found the code not provider the dockerfile,thanks
[root@LIN-FE325E0FEA1 cloud-provider-openstack]# make cinder-csi-plugin
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
CGO_ENABLED=0 GOOS=linux go build \
	-ldflags "-w -s -X 'k8s.io/cloud-provider-openstack/pkg/version.

[2020-06-02 09:27] ramineni commented on #1085
@jianglingxia you could refer document here , https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/getting-started-provider-dev.md#only-build-image

`make image-cinder-csi-plugin` will build the image

[2020-06-02 09:40] jianglingxia commented on #1085
really thanks,and find the docs
but i exec the step  the log print :provide a source image with `from` prior to commit?

[root@LIN-FE325E0FEA1 cloud-provider-openstack]# export ARCH=amd64
[root@LIN-FE325E0FEA1 cloud-provider-openstack]#
[root@LIN-FE325E0FEA1 cloud-provider-openstack]#
[root@LIN-FE325E0FEA1 cloud-provider-openstack]# make image-cinder-csi-plugin

Stopping at filesystem boundary (GI

[2020-06-02 10:42] jianglingxia commented on #1085
i find the web the reason,someone said that the problem is docker version is tow low

need use docker 17.05.0-ce (2017-05-04) my docker version id 17.03.2-ce，
 Allow using build-time args (ARG) in FROM #31352
is right? you occure the problem?

[2020-06-02 10:51] ramineni commented on #1085
@jianglingxia FROM is specified already here https://github.com/kubernetes/cloud-provider-openstack/blob/master/cluster/images/cinder-csi-plugin/Dockerfile#L16 , so it should be able to download. You could try updating docker version and check.
Recommended docker versions are listed here , https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker

[2020-06-02 11:10] bartjkdp opened #1086 "Add ability to configure loadbalancer member subnet id"
We would like to create a load balancer in an external subnet but refers to members in an internal subnet. We are using this to enable external IPv6 support. Currently this is not possible as the cloud provider always uses `lbaas.opts.SubnetID` for creating the members:

https://github.com/kubernetes/cloud-provider-openstack/blob/2493d936afe901a63066e4506dcfa716f1d96dc9/pkg/cloudprovider/providers

[2020-06-02 11:51] dbaumgarten opened #1088 "Creating LoadBalancers does not work with OpenContrail"
Affected binary: openstack-cloud-controller-manager (occm)

/kind bug

**What happened**: I am trying to use the openstack-cloud-controller-manager in a Kubernetes that is installed on OpenStack Ocata.
When I create a Service of Type LoadBalancer I get the following error-event:
[code]

and the cloud-controller fails to provision the LoadBalancer.

**What you expected to happen**: Provisioning of

[2020-06-02 11:54] bartjkdp commented on #1086
Created a Draft PR for this.

[2020-06-02 12:04] dbaumgarten commented on #1088
Also, here is the list of the OpenContrail components we are using and their versions:
[code]
just in case anyone is intersted.

[2020-06-03 06:13] zhoudayongdennis commented on #1084
Executed the command using OpenStack IP, but no output.
We just need the explanation why the topology label value was mis-match?
driver expected no zone value, but there was zone value for the control node.
How and when the zone value was configured for the control node

[root@csd-control-01 ~]# curl http://10.5.97.70/openstack/latest/meta_data.json
[root@csd-control-01 ~]#

[cloud-user@csd-edge-0

[2020-06-03 06:32] jichenjc commented on #1084
Also it might be using config-drive if you cloud doesn't support metadata service..

[2020-06-03 07:12] jichenjc commented on #1084
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L438 maybe means it comes az you are using, so check az of master and worker node might be helpful to you

[2020-06-03 07:16] zhoudayongdennis commented on #1084
it seems metadata service was NOT enabled, and curl command was timeout as below.

[root@csd-control-01 ~]# curl http://169.254.169.254/openstack/latest/meta_data.json
curl: (7) Failed connect to 169.254.169.254:80; Connection timed out
[root@csd-control-01 ~]#
[root@csd-control-01 ~]#
[root@csd-control-01 ~]#

[root@csd-edge-01 ~]# curl http://169.254.169.254/openstack/latest/meta_data.json
curl:

[2020-06-03 07:18] zhoudayongdennis commented on #1084
the concern for me is why control node had the az info but worker/edge had no az info if metadata service was disabled on openstack side.

any thought?

[2020-06-03 07:30] jichenjc commented on #1084
I am guessing it's because metadata or config drive is used, but not sure ...need find some prove

[2020-06-03 07:37] zhoudayongdennis commented on #1084
if the curl command timeout on control/work/edge node, it means metadata service is disabled, right?

but az info was mis-matched between control and worker/edge, so you suspected config drive? how to have further investigation?

actually, csi-cinder-nodeplugin is the damonset containing the same node-driver-registrar container, right? so, should be no difference.

[2020-06-03 08:07] zhoudayongdennis commented on #1084
asking for the check of config-drive status with below command

openstack server show node_name -f json

if it is true, what's else for further check?

[2020-06-04 03:37] jichenjc commented on #1084
usually you can check with the method you provisioning openstack VM or goto the vm you spawned and run `blkid` , it should give you some info..

and whether config drive is the problem is my guess....

and it's weird that if metadata can't get data (not able to connect to 169.254.169.254) it should fail..
need check more

[2020-06-04 04:20] zhoudayongdennis commented on #1084
yes, still wait for such collection from front end.

if using config-drive for retrieving metadata instead of metadata service, is it the same func nodeserver.go#L438?

[2020-06-04 04:37] ramineni commented on #1084
@zhoudayongdennis retrieving from config drive is not supported as of now . https://github.com/kubernetes/cloud-provider-openstack/issues/1030

[2020-06-04 04:46] jichenjc commented on #1084
so we need fix config drive thing later

current problem is topo is set even the metadata is not available...
@zhoudayongdennis  so please check whether config drive is used , then we can fix that bug
to honor the metadata and config drive both..

[2020-06-04 12:38] sbueringer opened #1089 "Consider building with docker multi-stage build"
**Is this a or FEATURE REQUEST?**:

/kind feature

**What happened**:
I saw in other upstream Kubernetes repositories that often the go build is executed via Docker multi-stage build (example [cluster-api-provider-openstack](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/Dockerfile)). cloud-provider-openstack uses a local `go build` which uses the currently available

[2020-06-05 03:18] lw8008 opened #1090 "[manila-csi-plugin] how to install CSI Manila driver"
Hi Team,

It's a general question.
As far as i know, if we use Manila driver, we should have auth file to connect openstack with certain region and tenant.

in your install guide https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-manila-csi-plugin.md
It mentioned about those in "Secrets, authentication" section, but i can't find which yaml file i can fill in?

Could you

[2020-06-05 03:31] yinkun111 opened #1091 "ipv4 openstack-cloud-controller-manager , get error log: access to ipv6 nova endpoint"
<!--
Please add the affected binary name in the title unless multiple binaries are affected, e.g.
[openstack-cloud-controller-manager]

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
my kubernetes is Ipv4 environment, integrate with openstack (mitaka) , after I restart some nodes , I found error log as following.  I am confusing, my openstack-cloud-controller-manager is IPV4 ,wh

[2020-06-05 08:30] zhoudayongdennis commented on #1084
from the instance creation log, the config_drive was enabled for control/worker/edge node;
from the curl command timeout on control/work/edge node, it looks like metadata service is disabled on openstack side.

**but how it could make difference of node label for topology between control node and worker/edge node, e.g. control node with "topology.cinder.csi.openstack.org/zone":"tys1-ovs-zone3"; bu

[2020-06-05 09:06] jichenjc commented on #1089
+1 on the suggestion :)

[2020-06-05 09:55] gman0 commented on #1090
Hi Adam, sourcing OpenStack credentials into CSI Manila is done using a k8s Secret. Please take a look at [examples](https://github.com/kubernetes/cloud-provider-openstack/tree/master/examples/manila-csi-plugin) and a template secrets yaml [here](https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/manila-csi-plugin/nfs/secrets.yaml). This Secret object then needs to be refe

[2020-06-10 03:09] celiawa commented on #1030
We met this issue, metadata service is unreachable, so all the csi-cinder-nodeplugin pods failed to start.

`# kubectl logs -f csi-cinder-nodeplugin-5nvmm -c node-driver-registrar -nkube-system
I0609 03:39:47.044360       1 main.go:110] Version:
I0609 03:39:47.044489       1 main.go:120] Attempting to open a gRPC connection with: "/csi/csi.sock"
I0609 03:39:47.044527       1 connection.go:151] Con

[2020-06-10 03:10] celiawa commented on #1030
We met this issue, metadata service is unreachable, so all the csi-cinder-nodeplugin pods failed to start.

#kubectl logs -f csi-cinder-nodeplugin-5nvmm -c node-driver-registrar -nkube-system
I0609 03:39:47.044360 1 main.go:110] Version:
I0609 03:39:47.044489 1 main.go:120] Attempting to open a gRPC connection with: "/csi/csi.sock"
I0609 03:39:47.044527 1 connection.go:151] Connecting to unix:///c

[2020-06-10 04:02] jichenjc commented on #1030
looks like this is something we need a fix, I can try to provide a quick fix (not with refactory the code to merge all metadata services...)

[2020-06-10 04:10] ramineni commented on #1030
@celiawa metadata service is not available in your env?

[2020-06-10 04:12] ramineni commented on #1030
@jichenjc lets get this done fully refactored, let me know if you could do it or I can take it up.

[2020-06-10 04:23] jichenjc commented on #1030
@ramineni please take this if you can, glad to provide any comments on your PR :)

[2020-06-10 05:09] celiawa commented on #1030
We met this in two conditions. One is the metadata service is disabled in the lab. The other is the metadata service is enabled but we're not using dhcp but static ip, so no route table to 169.254.169.254 is added.

[2020-06-10 05:48] jichenjc commented on #1030
no matter metadata is disabled or not reachable, if you enable both in search order for configdrive and metadata, then it should be ok if the code is updated

the problem I see is if you use metadata service (from openstack side) , then no config drive will be created and if it's not reachable by dhcp, problem might occur

[2020-06-10 09:01] celiawa commented on #1030
We didn't set search-order in cloud-conf. And it used the default order search-order = configDrive,metadataService.

I saw below in my lab, does that mean config drive is also enabled.
[root@tesla-cb0434-csd1-csd1-control-01 ~]# cd /dev/disk/by-label
[root@tesla-cb0434-csd1-csd1-control-01 by-label]# ls
1@bcmt-baseos-20  config-2
[root@tesla-cb0434-csd1-csd1-control-01 by-label]# ll
total 0
lrwxrw

[2020-06-11 01:44] deshui123 commented on #832
When is the next version expected

[2020-06-11 02:01] jichenjc commented on #832
@ramineni @lingxiankong I didn't pay attention to CPO release schedule before
are we align with k8s release schedule so when there is k8s 1.19, we will have it at same time?

[2020-06-11 06:06] jichenjc commented on #1064
@celiawa @ramineni any comments on this?

[2020-06-11 06:16] jichenjc commented on #1083
/assign

[2020-06-11 10:36] jianglingxia opened #1098 "[cinder-csi-driver] delete statefulset pod then new pod remounted failed with blkid returns invalid output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
i deploy a statefulset with replicas one used cinder pvc ,then running
second,i delete the pod and the new replicas pod remount pvc but failed:

web-0              1/1     Running             0          4d23h   172.30.0.1   18.1.1.1   <none>           <none>
web-0              1/1     Terminating         0          4d23h

[2020-06-11 10:37] jianglingxia commented on #1098
@ramineni  can you see the problem ? thanks

[2020-06-11 10:56] #1083 closed

[2020-06-12 06:02] jichenjc commented on #1098
@jianglingxia please follow the issue template to indicate this is a cinder CSI issue

[2020-06-12 07:27] jianglingxia commented on #1098
hi, i found the logs print :
the blkid command output not same with the command result in k8s.io/utils go code

Output: "/dev/disk/by-id/virtio-c14a81a4-3d68-4288-9: UUID=\"27b52caf-ec56-489e-91e6-4f3d003b43c2\" TYPE=\"ext4\"\n", err: <nil>

but i exec the command in my minion

[root@paas-controller-1:/home/ubuntu]$ blkid -p -s TYPE -s PTTYPE -o export /dev/disk/by-id/virtio-c14a81a4-3d68-4288-9
D

[2020-06-12 10:51] lingxiankong commented on #832
Correct. But we are free to do patch release if there is critical bugfix e.g. `v1.19.0-cpo.1` rather than using the `latest` which is not recommended for production usage.

[2020-06-15 02:14] lingxiankong commented on #1088
* According to https://releases.openstack.org/, Ocata is already Unmaintained (This doesn't affect this issue though, just a reminder).
* According to https://docs.openstack.org/api-ref/network/v2/index.html?expanded=create-floating-ip-detail#floating-ips-floatingips, `description` is part of Neutron floating IP creation API, and the openstack-cloud-controller-manager supports OpenStack.
* `we are

[2020-06-15 02:14] #1088 closed

[2020-06-15 02:25] lingxiankong commented on #1086
Is it possible that defining LoadBalancerClass in the config file according to https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/expose-applications-using-loadbalancer-type-service.md#switching-between-floating-subnets-by-using-preconfigured-classes and customized the VIP network/subnet of the load balancer, then use `lbaas.opts.SubnetID` as the member subnet?

[2020-06-15 08:23] dbaumgarten commented on #1088
While I agree with you, that "in theory" using OpenContrail should not affect the Neutron-API, I do get an "Unrecognized attribute"-Error from a Neutron-API that should definetly know this attribute.

The OpenContrail documentation does not mention "Description" as a supported field ( https://www.juniper.net/documentation/en_US/release-independent/contrail/information-products/pathway-pages/api-se

[2020-06-15 09:03] bartjkdp commented on #1086
@lingxiankong thanks for your answer! It is possible to define multiple loadbalancer classes, but as far as I can see it is not possible to configure different subnet id's for the members and the loadbalancer itself.

[2020-06-15 12:47] lingxiankong commented on #1088
We only support official OpenStack API and I'm pretty sure Ocata Neutron should support `description` attribute of floating IP, https://github.com/openstack/neutron/blob/stable%2Focata/neutron/db/l3_db.py#L1322

[2020-06-15 22:56] lingxiankong commented on #1086
@bartjkdp let me clarify again, the members will use `lbaas.opts.SubnetID`, and the loadbalancer will use subnet-id configured in LoadBalancerClass.

[2020-06-17 21:09] hamzazafar commented on #932
/remove-lifecycle stale

[2020-06-20 12:12] #810 closed

[2020-06-21 22:29] lingxiankong commented on #1086
@bartjkdp Have you tested my proposed suggestion?

[2020-06-22 06:30] bartjkdp commented on #1086
@lingxiankong sorry, a bit busy. I will have a look this week and let you know!

[2020-06-22 15:48] ramineni commented on #987
/remove-lifecycle stale

[2020-06-24 10:44] #713 closed

[2020-06-25 09:56] kayrus commented on #993
/remove-lifecycle stale

[2020-06-25 10:13] ramineni commented on #1085
@jianglingxia can we close this bug? looks like this is env issue.

[2020-06-25 15:12] blackwith opened #1108 "[cinder-csi-plugin] Error deploying cinder-csi-plugin using chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
```Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec```

**What you expected to happen**:
install the Chart

**How to reproduce it**:
helm install --names

[2020-06-25 16:51] cohomology opened #1109 "[manila-csi-plugin] Lots of RBAC issues when manually installing without helm"
/kind bug

**What happened**:

I tried to install manila-csi-plugin exactly according to the documentation, but I got lots of permission/RBAC errors afterwards, which I could only circumvent by applying the `cluster-admin` role to the service account `openstack-manila-csi-controllerplugin`.

- I could start the nodeplugin container of the controllerplugin, when applying "system:persistent-volume-p

[2020-06-26 04:09] ramineni commented on #951
/remove-lifecycle stale

[2020-06-26 04:09] ramineni commented on #968
/remove-lifecycle stale

[2020-06-26 04:11] ramineni commented on #883
/remove-lifecycle stale

[2020-06-26 05:31] chrischdi commented on #987
@ramineni would it make sense to add simple `kustomization.yaml` files to each of the manifest directories?
e.g. for the cinder csi plugin:

[code]

If so I would be happy to open a PR for that :-)

[2020-06-26 06:19] cohomology commented on #1109
I guess that `https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/manila-csi-plugin/csi-controllerplugin-rbac.yaml` deploys the role config always in the default namespace.

[2020-06-26 09:22] ramineni commented on #1108
Its being addressed as part of https://github.com/kubernetes/cloud-provider-openstack/pull/1105

[2020-06-26 13:23] bartjkdp commented on #1086
Thanks @lingxiankong for your suggestions, this solves my problem. The configuration creates a loadbalancer in *{external-subnet-id}* with members in *{internal-subnet-id}*:

**cloud.config**
[code]

**service.yaml**
[code]

[2020-06-27 10:40] lingxiankong commented on #1086
thanks for the confirmation, will close this issue and that PR.

[2020-06-27 10:40] #1086 closed

[2020-06-27 10:58] #1030 closed

[2020-06-29 11:34] ramineni commented on #987
@chrischdi That would be great. Please go ahead

[2020-06-29 20:52] #916 closed

[2020-06-30 07:51] #1108 closed

[2020-06-30 09:22] HaveFun83 commented on #913
any news here?
/remove-lifecycle rotten

[2020-06-30 16:31] hamzazafar commented on #1088
@lingxiankong opencontrail doesn't have an ml2 plugin, it has a monolithic plugin and it doesn't use neutron db at all.

@dbaumgarten the description field is available in [id-perms](https://www.juniper.net/documentation/en_US/release-independent/contrail/information-products/pathway-pages/api-server/vnc_cfg_api_server.gen.html#vnc_cfg_api_server.gen.resource_xsd.IdPermsType) object in floating ip

[2020-07-01 13:55] dbaumgarten commented on #1088
The CLI command you used to test this does not work for me:
[code]

I do not have access to the details of the OpenContrail installation (or configuration), and even if I did, I would not be able to change it.

So far it seems like I only have two options here:
- Wait for an update of the Openstack/Opencontrail installation that hopefully fixes this.
- Maintain a fork of this repo with changes tha

[2020-07-02 02:57] jianglingxia commented on #1085
yeah,resoved thanks

[2020-07-02 02:57] #1085 closed

[2020-07-02 02:58] jianglingxia commented on #1098
@ramineni  jichenjc  can see the issue? is maybe pod reschedule other node have some problem? thanks

[2020-07-02 12:05] hamzazafar commented on #1088
One solution code be to attach the floating ip to neutron port by yourself:

* create a neutron port
* create a floating ip (without description field) and attach it to your neutron port
* pass the port id in [loadbalancer.openstack.org/port-id](https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L89) annotation
* cloud

[2020-07-03 16:36] johnyb79 commented on #1056
Hi ,

We are suffering from similar problem - it happens randomly after node power off/on.
Details below - but the main question is if there is some graceful way to recover from "status is detaching" state, so without data loss? I aiming here to the production level solution.

docker images | grep -i csi
/csi/node-driver-registrar                                v1.1.0              ac600e3a2ccd

[2020-07-06 07:24] ramineni commented on #679
/remove-lifecycle stale

[2020-07-09 04:03] ramineni commented on #702
/remove-lifecycle stale

[2020-07-09 13:05] eumel8 opened #1116 "[cinder-csi-plugin] different cloud-config locations in provided Helm charts"
**BUG REPORT**: different cloud-config locations in provided Helm charts

/kind bug

**What happened**:

We started few months ago to use Helm charts manifests provided by [1]. After switch to the new Helm chart it seems cloud-config location has changed (back?) from /etc/config/cloud.conf to /etc/kubernetes/cloud-config [2]

[1] https://github.com/kubernetes/cloud-provider-openstack/blob/master/m

[2020-07-09 15:59] eumel8 opened #1117 "[cinder-csi-plugin] Example file is outdated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The example of Cinder CSI snapshot in [1] is outdated. Parameters and API endpoints are changed and won't work in 1.18.

[1] https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/snapshot/snapshotcreate.yaml

**What you expected to happen**:

 I referenced to [2] which gives me a v

[2020-07-12 07:42] #914 closed

[2020-07-13 04:02] ramineni commented on #1020
/remove-lifecycle stale

[2020-07-15 04:42] ramineni commented on #1109
@cohomology In documentation its already mentioned to first deploy rbacs of both nodeplugin and controller plugin.
kubectl create -f csi-controllerplugin-rbac.yaml
kubectl create -f csi-nodeplugin-rbac.yaml ,
Ref: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-manila-csi-plugin.md
Are you saying you are facing issues after that as well?

[2020-07-15 04:52] ramineni commented on #1117
@eumel8 yes, this is valid bug , with updated provisoner version to 1.6.0 , v1alpha1 is no longer supported . Its supported only till 1.4.0 . I suppose we need snapshotter v2.0.0 to use v1beta1.

@jichenjc will you be able to check this?

[2020-07-15 05:14] ramineni commented on #1116
@eumel8 Thanks for reporting this .
Manual installation through manifests mandates you to create a secret first , cloud-config which is then mounted to container to the path /etc/config/cloud.conf .
But with the helm, looking at manifests , it directly mounts the hostpath /etc/kubernetes onto container , so mandates to store the cloud-config in that location , else location needs to be changed , h

[2020-07-15 05:45] jichenjc commented on #1117
ok, seems we have to faster https://github.com/kubernetes/cloud-provider-openstack/pull/974
I am blocked by https://github.com/kubernetes/cloud-provider-openstack/pull/997 because not enough time to check and less expertise in this area

so maybe without CI e2e let's check manually with https://github.com/kubernetes/cloud-provider-openstack/pull/974 then it should fix the problem

[2020-07-15 05:59] ramineni commented on #1117
@jichenjc great , sounds like a plan . I can check the e2e part sometime this week .
Between , it would be good if you could manually test the 2.0.0 version upgrade with existing example files and get the PR ready .

[2020-07-15 06:09] ramineni commented on #1090
@lw8008 hope your issue is solved.
@gman0 Do you think anything needs to be updated in documentation for better clarity?

[2020-07-15 06:17] ramineni commented on #1084
@zhoudayongdennis we have resolved the issue of relying only on metadata service , now it should work even if it is not available.

[2020-07-15 06:28] ramineni commented on #1116
NO, we wont be retiring the manifests .
Manual deployment  and also through helm both will be supported in future releases.

[2020-07-15 09:09] timuthy commented on #960
We've been experiencing the same issue. I think this is related to a wrong type assumption: https://github.com/gophercloud/gophercloud/issues/1989

[2020-07-15 10:53] cohomology commented on #1109
Yes, because I (as a total beginner) deployed accidently into another namespace. The rbac files are only working for the default namespace. Finding this error is not trivial for a non-expert.

[2020-07-15 12:57] jianglingxia opened #1119 "[csi-cinder-provisioner] cloud.conf can add more feild that support keystone re-authentication?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

provisioner logs
Failed to GetOpenStackProvider: failed to read and parse /etc/ca.pem certificate: open /etc/ca.pem: no such file or directory

why the log can not find the pem file?

but the cloud.conf is

/etc/config # cat cloud.conf
[Global]
username=test
password=111
auth-url=https://10.10.0.1:5000/v2.0/
tenant-id=1111111111111

[2020-07-15 13:01] jianglingxia commented on #1119
@ramineni can help me?

[2020-07-15 13:15] ramineni commented on #1119
@jianglingxia which manifests file have you used to deploy? and have you created secret with this file?

[2020-07-15 13:43] eumel8 commented on #1116
@ramineni thx for the hints so far

[2020-07-15 14:31] jianglingxia commented on #1119
https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml

Used the yaml before deployed I will created the secret with the cloud.conf based64 value

but logs print can not find the cafile

[2020-07-15 19:24] gman0 commented on #1090
@ramineni yes, I'm planning to revamp the docs

[2020-07-16 00:13] jianglingxia commented on #1119
[Global]
region=RegionOne
username=username
password=password
auth-url=https://openstack.cloud:5000/v3
tenant-id=14ba698c0aec4fd6b7dc8c310f664009
domain-id=default
ca-file=/etc/ca.pem

I0715 11:30:41.259525       1 main.go:119] <<<< main.go GetOpenStackProvider function begin>>>>>
W0715 11:30:41.259539       1 main.go:122] Failed to GetOpenStackProvider: failed to read and parse /etc/ca.pem certif

[2020-07-16 02:08] jianglingxia commented on #1119
the problem maybe the cinder-plugin yaml has not the volume cacert

NOTE: if your openstack cloud has cert (which means you already has ca-file definition in cloud-config), please make sure that you also updated the volumes list of cinder-csi-controllerplugin.yaml and cinder-csi-nodeplugin.yaml to include the cacert. e.g following sample then mount the volume to the pod as well.

but now the plugi

[2020-07-16 04:06] ramineni commented on #1090
/assign @gman0

[2020-07-16 04:07] ramineni commented on #1117
/assign @jichenjc

[2020-07-16 04:13] ramineni commented on #1116
@eumel8 Are you ok with closing this issue ?
As both the mechanisms are different how cloud-config is handled , changing the mount path of volume inside container doesnt really have effect, as it will be handled by container .

[2020-07-16 07:21] eumel8 commented on #960
@timuthy yeah, we puzzled that again together and build an image for that:

https://github.com/mcsps/cloud-provider-openstack/tree/release-1.18
mcsps/cloud-provider-opentelekomcloud:1.18 on docker hub

But that's ugly and a horror to maintain and we won't do this for 1.19 and further. For shure, that's not the place to maintain it here, so we asked also OTC support to step in, but without success.

[2020-07-16 07:22] eumel8 commented on #1116
thanks @ramineni
I put this information in our notes.

[2020-07-16 07:22] #1116 closed

[2020-07-17 03:05] celiawa opened #1121 "[cinder-csi-plugin] Cannot delete PV and the volumeattachment"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I reported a issue https://github.com/kubernetes/cloud-provider-openstack/issues/944
when we use cinder-csi-plugin: 1.16.

This issue still happened when using cinder-csi-plugin: 1.17.  After did helm delete, some PV hang in Terminating

`NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY

[2020-07-17 04:08] ramineni commented on #1121
@celiawa We have backported some fixes related to it , unpublishvolume doesnt fail if volume is not found.
Could you try with image v1.17.1 , which includes those fixes?

k8scloudprovider/cinder-csi-plugin:v1.17.1

[2020-07-17 04:09] jianglingxia commented on #1119
@ramineni  the csi-cinder-plugin can support keystone double-authentication?
i found the cloud.conf only have one field that the ca-file=/etc/ca.pem  but keystone double-authentication need cert file and clientkey? thanks for your reply

[2020-07-17 04:11] ramineni commented on #1064
@celiawa could you confirm ? else we will close this issue , if no response further

[2020-07-17 05:41] celiawa commented on #1121
@ramineni  Thanks for you reply. Can you tell us how to get the source code of cinder-csi-plugin:v1.17.1. We need to build the cinder-csi-plugin image with our base image.

[2020-07-17 05:45] celiawa opened #1122 "[cinder-csi-plugin][occm] cinder-csi-plugin pod access openstack through occm"
Please add the affected binary name in the title unless multiple binaries are affected, e.g.

* openstack-cloud-controller-manager (occm)
* cinder-csi-plugin

/kind feature

When using cinder csi, it requires all the nodes has the external interface. Is it possible that the cinder-csi-plugin pod access the openstack url through the occm pod which is running on the node with external interface.
If

[2020-07-17 05:51] ramineni commented on #1121
@celiawa you could get it from the release branch , https://github.com/kubernetes/cloud-provider-openstack/tree/release-1.17
should have latest commit of backport fixes

[2020-07-17 06:12] celiawa commented on #1121
@ramineni, Thanks, will build and try.

[2020-07-17 08:20] kayrus commented on #1119
@jianglingxia unfortunately TLS client auth is not yet supported. It should not be hard to introduce this auth method.

[2020-07-17 09:04] jianglingxia commented on #1119
ok，really thanks!

[2020-07-17 09:11] kayrus commented on #1119
@jianglingxia can you test #1123?

[2020-07-17 09:19] jianglingxia commented on #1119
ok,i will test it and reply the result to you,thanks

[2020-07-17 16:28] jianglingxia commented on #1119
I have tested but plugin can not running the logs print   Post tokens response code 401 and print the account has lock by user xxx，is not paased the certification ？

or my step something wrong？

[2020-07-17 16:58] kayrus commented on #1119
@jianglingxia can you auth with TLS against openstack using terraform or a simple curl? Is there any other working tool, which supports TLS auth?

[2020-07-18 09:12] jichenjc opened #1124 "[all] no AuthType provided in openstack connection"
/kind feature

**What happened**:
need honor `auth-type` so that we can change method to auth from cloud provider to openstack

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-07-21 03:59] aryulianto opened #1126 "[cinder-csi-plugin] csi-cinder-controllerplugin-0 CrashLoopBackOff always failed to running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
csi-cinder-controllerplugin-0 always CrashLoopBackOff 3/5

[code]
I had issue when install cinder-csi-plugin with error message
[code]
already change branch repo with `master` or `release-1.17` the error are same.

**What you expected to happen**:
- no errors. k8s can integrate with cinder openstack

**How to reproduce i

[2020-07-21 05:46] liupeng0518 opened #1127 "[cinder-csi-plugin]retrieving availability zone from MetaData service failed with error unexpected end of JSON input"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
[code]
- OpenStack version: R
- Others:
k8s v1.18.3

Thanks.

[2020-07-22 02:31] liupeng0518 commented on #1127
debug:
[code]

[2020-07-22 04:39] ramineni commented on #1126
@aryulianto Could you describe the pod and provide the o/p
`kubectl describe pod csi-cinder-controllerplugin-0 -n kube-system`

Looks like 2 containers are failing to start , need the container logs of those 2 containers.

[2020-07-22 04:44] ramineni commented on #1127
@liupeng0518  Is metadata service available on nodes?
Try running `curl http://169.254.169.254/openstack/latest/meta_data.json` on the node and see if it gets o/p

[2020-07-22 06:21] ramineni commented on #1109
@cohomology good to see, issue is resolved.
Your contributions to update the documentation to make it better is much welcome.

[2020-07-22 08:07] aryulianto commented on #1126
@ramineni thank you for your prompt response, here is describing of `csi-cinder-controllerplugin-0`

[code]
[code]

[2020-07-22 08:42] ramineni commented on #1126
@aryulianto looks like 2 containers csi-provisioner , csi-snapshotter are failing . For logs ,  you need to specify container name as well here
`kubectl logs csi-cinder-controllerplugin-0 -c csi-provisioner  -n kube-system`
`kubectl logs csi-cinder-controllerplugin-0 -c csi-snapshotter  -n kube-system`

[2020-07-22 09:26] ramineni commented on #1064
/close

[2020-07-22 09:26] #1064 closed

[2020-07-22 09:28] ramineni commented on #1084
/close
Feel free to reopen, if issue still persists with latest image

[2020-07-22 09:28] #1084 closed

[2020-07-22 13:24] liupeng0518 commented on #1127
Thanks.

[2020-07-22 13:24] #1127 closed

[2020-07-22 16:05] sabaini opened #1128 "[client-keystone-auth] Snap doesn't support local files for e.g. OS_CACERT"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running `kubectl` (any subcommand) with keystone integration via client-keystone-auth snap results in :

[code]
And corresponding apparmor messages:

[code]

**What you expected to happen**:

Kubectl should return successfully

**How to reproduce it**:

1. Install kubectl snap
1. Install client-auth-keystone snap
1. Expo

[2020-07-23 04:36] aryulianto commented on #1126
@ramineni thank you, I got the error. any suggestions for my case?
[code]

cloud.conf config
[code]

cinder csi config
[code]
[code]

[2020-07-23 04:42] ramineni commented on #1126
@aryulianto could u show me the part it is mounted in container as well, make sure it is on /etc/ssl/certs

[2020-07-23 05:47] aryulianto commented on #1126
@ramineni I got it, I miss add it to `volumeMounts`

But after recreate. I still got error:
[code]
Logs
[code]

[2020-07-23 06:19] ramineni commented on #1126
@aryulianto hmm, could you check connection to openstack keystone from controller node works fine. You could also increase verbose level to 6 and get the logs

[2020-07-23 06:30] aryulianto commented on #1126
@ramineni I had made sure the connection from the controller to the keystone works fine with curl.
[code]

Logs with verbose 6
[code]

[2020-07-23 06:31] aryulianto commented on #1126
@ramineni I had made sure the connection from the controller to the keystone works fine with curl.
[code]

Logs with verbose 6
[code]

[2020-07-23 06:40] ramineni commented on #1126
@aryulianto you need to add the flag here, https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml#L90 , - --v=6 , and recreate the manifests

[2020-07-23 06:59] aryulianto commented on #1126
@ramineni already added. my cloud.conf at https://github.com/kubernetes/cloud-provider-openstack/issues/1126#issuecomment-662814285

[code]

[2020-07-23 09:37] liupeng0518 opened #1129 "[manila-csi-plugin]kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name nfs.manila.csi.openstack.org not found in the list of registered CSI drivers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
apply manila manifests，create pvc and pvc bound，but pod can`t mount
[code]
THEN:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
1.18.0
- OpenStack version:
openstack R
- Others:
k8s 1.18.3

[2020-07-23 11:13] ramineni commented on #1109
/close

[2020-07-23 11:13] #1109 closed

[2020-07-23 11:34] gman0 commented on #1129
@liupeng0518 I'm not seeing the driver running in your "get pods" output, so I'm guessing you're running it in a different namespace? Can you please post the list of pods from there? Also the output of `kubectl get csidrivers.storage.k8s.io`. Thanks.

[2020-07-23 12:35] liupeng0518 commented on #1129
hi @gman0 ,Thanks

get pods:
[code]

get csi:
[code]

[2020-07-23 19:29] gman0 commented on #1129
@liupeng0518 just FYI, manila-csi-plugin does not support ephemeral volumes yet...

Can you please provide logs from the CSI registrar containers from all your manila-csi Node plugin pods?

Something along these lines should work:
[code]

[2020-07-23 23:04] lingxiankong commented on #1128
@sabaini I don't think this is the client-keystone-auth issue, I'm not sure who is maintaining client-keystone-auth snap, but maybe you should ask help from them.

[2020-07-24 00:59] liupeng0518 commented on #1129
@gman0
remove manila-csi ephemeral ,the same errors:
[code]
registrar logs:
[code]

[code]

[code]

[2020-07-24 02:25] lingxiankong commented on #1119
This issue should be either closed or the description should be changed. @kayrus Your PR is not actually fixing this issue.

[2020-07-24 02:33] lingxiankong commented on #960
I'm pretty sure the issue is invalid for openstack-cloud-controller-manager, as I replied previously:

1. Make sure Octavia is deployed and enabled in your OpenStack cloud.
2. Make sure OCCM is using Octavia by setting `use-octavia=true`.
3. Make sure you can add load balancer/listener/pool/member etc. in your Octavia service.

If you find anything else that OCCM should fix, please let us know.

[2020-07-24 02:33] #960 closed

[2020-07-24 02:49] liupeng0518 commented on #1129
I found the problems，I replaced the image version：quay.io/k8scsi/csi-node-driver-registrar:v1.1.0，I used v1.3.0 before.
why v1.3.0 not work

[2020-07-24 02:50] jianglingxia commented on #1119
@lingxiankong  @kayrus  I have modify the issue description thanks

[2020-07-24 05:28] kayrus commented on #1119
@lingxiankong why not? I added TLS auth support as requested.

[2020-07-24 05:31] kayrus commented on #1119
@lingxiankong please upload detailed logs (with `--v=6` enabled) into https://gist.github.com. Also please post your config file.

[2020-07-24 08:29] #1124 closed

[2020-07-24 08:32] jichenjc opened #1132 "[occm] report incorrect error info when LB is not enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

see following info in logs on a non-LB env
[code]

I didn't have lb section in my configuration file and according to
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L875
we should not report error

I doubt it will not satisfy even the configuration s

[2020-07-24 14:54] gman0 commented on #1129
@liupeng0518 I've tried the manifest from your Gist, but I'm not able to replicate this problem - it works for me with registrar v1.1.0 as well as v1.3.0. According to the logs you've posted, the deployment looks correct, and the node-driver-registrar successfully registers the driver with Kubernetes. It's very strange that the registration socket for manila-csi (`/registration/nfs.manila.csi.open

[2020-07-24 16:32] frittenlab opened #1133 "Adding Octavia Load Balancer Instances with more than one listener fails [octavia]"
kind bug

**What happened**:

I tried to create an Octavia Load Balancer service using the Nginx Helm Chart. The service should create to ports. Port 80 and port 443 to serve web traffic. The Load Balancer gets created and the floating ip address is added. Then the contoller tries to add the security group which fails with:

[code]

**What you expected to happen**:

I expect the Load Balancer and

[2020-07-26 21:22] lingxiankong commented on #1133
1. I don't think this issue has something to do with octavia-ingress-controller as the title describes.
2. Could you please provide your OpenStack cloud provider configuration? From the error log, I can see it's because the security group creation failed, if you are using Octavia, `manage-security-groups` option is not needed.

[2020-07-26 21:37] lingxiankong commented on #1132
Hi @jichenjc, Service controller is one of the basic components of Kubernetes cloud controller manager, I'm not sure it makes sense to deploy OCCM but with load balancing service available in your environment.

[2020-07-27 01:30] jichenjc commented on #1132
@lingxiankong it's not about whether no LB or with LB
it's the code logic has some problem and https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L875 has wrong checking...

[2020-07-27 06:51] ramineni commented on #729
/remove-lifecycle stale

[2020-07-27 06:52] ramineni commented on #668
/remove-lifecycle stale

[2020-07-27 09:25] lingxiankong commented on #1119
From the issue, I only see "failed to read and parse /etc/ca.pem certificate: open /etc/ca.pem: no such file or directory", I don't think your PR is going to fix that. As the issue owner mentioned earlier, the reason is the cert file is not properly mounted.

You PR is actually to support two-way SSL authentication.

[2020-07-27 09:29] lingxiankong commented on #1132
I don't quite understand, what's wrong with that check?

[2020-07-27 09:35] kayrus commented on #1119
@lingxiankong this bug report is really confusing. If you look at the https://github.com/kubernetes/cloud-provider-openstack/issues/1119#issuecomment-659833695, you can see that authort requested TLS auth:

@jianglingxia, please add more details on your issue.

[2020-07-27 09:47] ramineni commented on #1126
@aryulianto is the issue resolved?
@lingxiankong @kayrus any idea on the error?

[2020-07-27 09:50] jichenjc commented on #1132
[code]

the logic here is : if you don't have LB defined, return nil and no error reported
but the actual output is the code went to https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L894 and report error

[2020-07-27 09:51] aryulianto commented on #1126
hi @ramineni not yet. I still experience this issue

[2020-07-27 10:30] lingxiankong commented on #1119
This is exactly what I mean. Sometimes the discussion deviates from the original issue, that's why I asked the owner to update the description so that your PR could be mapped to this issue.

[2020-07-27 10:36] kayrus commented on #1119
@lingxiankong unfrotunately the updated topic and description confuse me more than before.

[2020-07-27 13:14] VariableDeclared opened #1134 "[docs] Provide Minimum user permissions documentation"
**What happened**:
When looking at the docs they show that it is required to add an Openstack user to the configuration for the cloud provider, but not roles/permissions that user should have.

**What you expected to happen**:
A table or json file giving a breakdown of minimum permissions for a user to have in order to use the cloud provider without issues.

**How to reproduce it**:
NA

**Anything

[2020-07-29 03:21] jichenjc commented on #1126
@aryulianto you only defined the volume in the manifest file, but you didn't mount it

here's my configuration which works fine on my env: you might want to replicate to your env with your special settings

[code]

[2020-07-29 03:23] jichenjc commented on #1122
can I know further info about this question?
e.g you are suggesting all CSI pods instead talk to openstack directly, talk to OCCM and let OCCM do the proxy? what's the use case and reason behind it?

[2020-07-29 03:32] jichenjc commented on #1134
are you looking for what kind of policy should be enabled for the user so that he/she is eligible to execute openstack API through cloud provider?or something else?

and with `application ID` it should be also a good approach instead of using userid/password directly

[2020-07-29 03:32] jichenjc commented on #1121
@celiawa has this been fixed ? if so, we can close this issue..

[2020-07-29 03:36] aryulianto commented on #1126
hi @jichenjc I already did that
[code]

[2020-07-29 03:49] jichenjc commented on #1126
ok so originally issue is
` failed to read and parse /etc/ssl/certs/ca.pem certificate: open /etc/ssl/certs/ca.pem: no such file or directory`
and now the error is
`Failed to GetOpenStackProvider: Post "https://keystone.xxxxxxxxxxxxx:443/v3/auth/tokens": OpenStack connection error, retries exhausted. Aborting. Last error was: dial tcp: i/o timeout`

so the cert issue should be fixed

when you say

[2020-07-29 04:26] aryulianto commented on #1126
yes right, cert issue has been fixed.

I had made sure the connection from the controller to the keystone works fine with curl.
where did you run this ? in the container or somewhere?

I test on my k8s master and worker nodes

Will do to check my DNS.

[2020-07-29 09:14] JPRbrs opened #1136 "[Manila-CSI-Plugin] Unable to mount NFS volume after dynamic provision"
**What happened**:
When trying to use the examples in the dynamic-provisioning folder, the NFS is correctly created in OpenStack but it is not mounted in the pod. The cause is that Openstack provides several export locations (IP + path) but Manila CSI is selecting one with an IP which does not belong to the Kubernetes Cluster Network Interface.

**What you expected to happen**:
NFS volume is mount

[2020-07-29 10:12] lingxiankong commented on #1132
Do you mean this check is not doing what we expect?

[2020-07-29 10:16] jichenjc commented on #1132
exactly , I think it's not reporting correct error due to link I provided above...
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L585

[2020-07-29 11:12] VariableDeclared commented on #1134
Hey @jichenjc, docs describing minimum permissions a user on a project can have for the cloud provider would be great.

[2020-07-29 15:01] kaitaklam opened #1137 "Failed to GetOpenStackProvider: You must provide exactly one of DomainID or DomainName to authenticate by Username'"
* cinder-csi-plugin get error
'W0729 14:57:42.319850       1 main.go:108] Failed to GetOpenStackProvider: You must provide exactly one of DomainID or DomainName to authenticate by Username'

with cloud-config
[Global]
username = xxx
password = cdm
domain-id = default
auth-url = http://..../identity
region = RegionOne

steps:
===
update  manifests/cinder-csi-plugin/csi-secret-cinderplugin.yaml with

[2020-07-29 21:47] lingxiankong commented on #933
FYI, please see a draft design for this feature at https://github.com/kubernetes/cloud-provider-openstack/pull/1118#issuecomment-665938534

[2020-07-30 01:43] jichenjc commented on #1137
I used `domain-name` and it works fine , how about give a try to see whether it's really something missing or other issue?

[2020-07-30 01:57] jichenjc opened #1139 "[all] UT Test failed with conversion from int to string yields a string of one rune"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/cloud-provider-openstack/1115/pull-cloud-provider-openstack-check/1288650530599473153/build-log.txt
[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(o

[2020-07-30 01:57] jichenjc commented on #1139
/assign

[2020-07-30 05:15] kayrus commented on #1137
@jichenjc @kaitaklam I assume you also have environment variables set along with the cloud.conf. Usually this error message comes from: https://github.com/gophercloud/gophercloud/blob/bd999d0da882fe8c5b0077b7af2dcc019c1ab458/auth_options.go#L310..L317 (see `ErrDomainIDOrDomainName` error type).

[2020-07-30 05:42] jichenjc commented on #1137
@kayrus good point, I don't have such issue  as I only set domain-name
and yes, this is something @kaitaklam can check on the env

[2020-07-30 06:45] kayrus commented on #1137
Another suspect: keystone v2. It doesn't support domain_id: https://github.com/gophercloud/utils/blob/b0167b94122ca14ce50258a760b4e9b22788f0d7/openstack/clientconfig/requests.go#L494

[2020-07-30 06:58] kaitaklam commented on #1137
@jichen: Can you share your cloud-config, then I can see the exact domain-id name in cloud-config that you are using? Thanks

I follow this procedure: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md
Using manifest Encode: base64 -w 0 $CLOUD_CONFIG and update in file manifests/cinder-csi-plugin/csi-secret-cinderplugin.yaml

But I am not aware that

[2020-07-30 07:06] kayrus commented on #1137
@kaitaklam

[code]

* you specify both `domain-id` and `domain-name`, that is why you get `You must provide exactly one of DomainID or DomainName to authenticate by Username` error message
* you don't specify any project references. For V3 keystone this means you're obtaining domain scope and usually this doesn't make sense. For V2 keystone is just doesn't work, because V2 keystone doesn't know an

[2020-07-30 07:17] jichenjc commented on #1137
@kaitaklam as @kayrus mentioned, you can follow his suggestion

this is what I am having:  it works well with latest cloud provider and devstack (created a few days ago)

[code]

[2020-07-30 11:37] kaitaklam commented on #1137
@kayrus, Thanks for your good feedback.

This is the openrc file that I have downloaded from openstack (need to anonymize secrets etc).
$env:OS_AUTH_URL='http://xxxxxxx/identity'
$env:OS_PROJECT_ID='xxx'
$env:OS_PROJECT_NAME='xxx’
$env:OS_USER_DOMAIN_NAME='Default'
$env:OS_PROJECT_DOMAIN_ID='default'
$env:OS_USERNAME='xxx'
$env:OS_PASSWORD='xxx'
$env:OS_REGION_NAME="RegionOne"
$env:OS_INTERFACE='p

[2020-07-30 12:14] kaitaklam commented on #1137
I got is working now.
This is  my openrc file:
$env:OS_AUTH_URL='http://xxxx/identity'
$env:OS_PROJECT_ID='xxx'
$env:OS_PROJECT_NAME='xxx'
$env:OS_USER_DOMAIN_NAME='Default'
$env:OS_PROJECT_DOMAIN_ID='default'
$env:OS_USERNAME='xxx'
$env:OS_PASSWORD='xxx'
$env:OS_REGION_NAME="RegionOne"
$env:OS_INTERFACE='public'
$env:OS_IDENTITY_API_VERSION=3
$env:OS_TENANT_ID = $Null
$env:OS_TENANT_NAME= $Null

[2020-07-30 12:14] #1137 closed

[2020-07-30 12:56] eumel8 opened #1141 "[cinder-csi-plugin][docs] Disaster recovery instruction is missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I try to figure out a disaster recovery concept for Cinder volumes which were previosly attached as PVC on a burn cluster. Imagine the cluster is destroyed (for whatever reasons), the volumes are still in the OpenStack backend present and I know the name/id

**What you expected to happen**:

After create a new cluster I

[2020-07-30 15:19] tombarron commented on #1136
Thank you for reporting this issue, which seems to me genuine.  Do you need selection from export locations in different address families (IPv6, IPv4) or is the address-family the same?  We need to figure out what information is needed to choose, who has that information, and whether it would be the manila-csi plugin itself or its helper node-plugin (in this case nfs-csi) that would be doing the s

[2020-07-30 19:12] Fedosin opened #1142 "[manila-csi-plugin] Snapshot creation failed because of insufficient permissions"
**What happened**:
When creating a manila snapshot, we got the following message about missing permissions:
I0520 00:27:19.431196       1 snapshot_controller.go:200] updating VolumeSnapshotContent[snapcontent-a93535d3-000c-45c2-b1da-a19bb7b3f12d] error status failed volumesnapshotcontents.snapshot.storage.k8s.io "snapcontent-a93535d3-000c-45c2-b1da-a19bb7b3f12d" is forbidden: User "system:servicea

[2020-07-30 20:44] JPRbrs commented on #1136
Thanks for the answer @tombarron, I only need to use IPv4 IPs. After looking into the code base, I reckon passing the subnet in CIDR notation as an optional parameter to ChooseExportLocation function in pkg/csi/manila/util/manila.go  would be ideal. Perhaps adding an extra parameter to the Controller Service volume parameters (storage class for dynamically provisioned volumes) would be the perfect

[2020-07-31 11:05] #1139 closed

[2020-08-02 09:20] lingxiankong commented on #1137
Thanks both of you @kayrus and @jichenjc

[2020-08-02 09:25] #1132 closed

[2020-08-02 14:37] sabaini commented on #1128
@lingxiankong The snapcraft.yaml file that defines the snap is part of this repository, this led me to believe that the snap is maintained here.

[2020-08-02 23:34] lingxiankong commented on #1128
@sabaini Sorry for the confusion, as far as I know, that file has never been tested and I am not sure if there is someone actually maintain that.

I would suggest you build the binary by yourself, should be as easy as one command: `GOOS=linux BUILD_CMDS="client-keystone-auth" make build`. You are also welcome to fix if you want.

[2020-08-03 10:20] JPRbrs commented on #1136
Hello again @tombarron Would it make sense to add a new parameter to NodeVolumeContext struct in pkg/csi/manila/options/shareoptions.go with the CIDR formatted IP for the subnet so it can be used by buildVolumeContext function in pkg/csi/manila/nodeserver.go and in turn it can be passed to ChooseExportLocation through GetChosenExportLocation in pkg/csi/manila/util/manila.go?

The only problem I se

[2020-08-03 11:54] frittenlab commented on #1133
Sorry I was away for a few days. Here is my cloud config:

[code]

Yes I am using manage-security-groups. Otherwise the Octavia Load Balancer will not have any security groups. Or am I missing something here? I belive I tried creating a Load Balancer without the option manage-security-groups and the Load Balancer gets created without a problem. But the service is not reachable.

[2020-08-03 12:46] frittenlab commented on #1133
I tried to remove the option manage-security-groups. As expected the services are not reachable and all requests that hit the service IP are responded with an HTTP 503.

[2020-08-03 14:01] frittenlab commented on #1133
I tried to configure the two high ports necessary for the nginx ingress controller manually. If I do that I can can reach the nginx default backend. I then tried to create an ingress rule with a service. That service is also not reachable.

[2020-08-03 18:40] frittenlab commented on #1133
@lingxiankong How does the creation of the security groups work? If I remove the option:

manage-security-groups

from my cloud configuration.

[2020-08-03 21:27] lingxiankong commented on #1133
Can you check if you have already created the security group for all your nodes to make sure the ports 30000-32767 are open to the node subnet CIDR?

[2020-08-04 09:54] gman0 commented on #1136
@JPRbrs Yes that would be the place for it, although I'm wondering if `exportLocationSubnet` won't change throughout the cluster's lifetime (volume parameters in StorageClass are immutable) or it can change over time? If so, we'd need to inject this address through some other means, e.g. a ConfigMap.

[2020-08-04 09:55] gman0 commented on #1136
Another question: does it make sense for this parameter to be a list of addresses?

[2020-08-04 10:15] JPRbrs commented on #1136
@gman0 I think the ConfigMap would be an excellent approach for the cases where the exportLocationSubnet changes. I my particular case, once the cluster is created this address doesn't change, but it might be different for other people depending on how their OpenStack and networking is configured.

I'm not an expert in Go but I'd love to help in as much as I can, how can we handle this so I can of

[2020-08-05 06:01] jichenjc commented on #1141
this seems a valid use case but don't know this is a doc only issue or need some code change..

[2020-08-05 06:03] jichenjc commented on #1134
um... maybe different components has different requirements
for example, CSI-cinder might request capability to mount a volume while LB might need create LB and other resources , so this is only eligible to each sub-project of CPO

[2020-08-05 07:07] ramineni commented on #1142
@Fedosin which snaphotter sidecar version are you using?

[2020-08-05 08:24] ramineni commented on #1129
@liupeng0518 good to see that problem is solved.
Either way looks like problem  is not related to manila-plugin, if with node-driver-registrar 1.3.0 the sock gets deleted , the issue should be reported in their repo ? @gman0 ?

[2020-08-05 09:42] liupeng0518 commented on #1129
Sorry to see recently, this problem has not happened recently. close it.

[2020-08-05 09:42] #1129 closed

[2020-08-05 09:57] frittenlab commented on #1133
Thanks for your support. Are there any plans on adding the feature manage-security-groups to Octavia. This worked fine for us with the neutron load balancer. For the moment it is ok to add the port range 30000 - 32767 to the node security groups. But it is not the ideal solution. We are opening all the node ports even the ones which are not in use. If no one if planning on working on this and you

[2020-08-05 10:32] lingxiankong commented on #1133
Why? Those ports are only open to the node's own subnet, not to the public.

[2020-08-05 10:39] lingxiankong commented on #1054
/remove-lifecycle stale

[2020-08-05 14:37] frittenlab commented on #1133
Ok I added new rule just containing the nodes subnet this works. Before I had a rule referencing the Remote Security Group. Which did not work. Thank you again for your support.

[2020-08-05 14:37] #1133 closed

[2020-08-05 16:05] seanschneeweiss opened #1147 "[occm] updating connection-limit annotation not working for Neutron"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If Neutron is used for LBaaS, a change to the service annotation `loadbalancer.openstack.org/connection-limit` is not picked up by the openstack-cloud-controller-manager.
Only if Octavia is used, a change is propagated to the OpenStack loadbalancer listener.

**What you expected to happen**:
Changing `loadbalancer.opensta

[2020-08-05 18:23] gman0 commented on #1142
csi-snapshotter v2 needs this RBAC rule, but we're still on v1

[2020-08-05 18:45] tombarron commented on #1136
Export locations can change though it's not a likely or frequent thing.
A list of addresses makes sense to me -- JPRbrs can do a list with one member.

[2020-08-05 21:48] JPRbrs commented on #1136
Thanks @gman0 @tombarron, any pointers on how to use a config map to pass that info to the volume context? I couldn't find examples on the code. Any assistance will be welcome

[2020-08-06 04:22] ramineni commented on #1142
@gman0 exactly , currently manila-csi-plugin doesnt support v1beta1, so with current snapshotter version , it shouldn't throw error.
So Im wondering if 2.0.0 is used, then there should also include snapshot-controller etc and some setup changes as well

@Fedosin if you are using this , you might need to lower version 1.2.2 as per manifests which should work seamlessly . Let us know if you are faci

[2020-08-06 09:40] #1147 closed

[2020-08-06 09:41] seanschneeweiss opened #1149 "[occm] loadbalancer not updating when Octavia specific service annotations change"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
A change to any of the service annotations
* `loadbalancer.openstack.org/timeout-client-data`
* `loadbalancer.openstack.org/timeout-member-connect`
* `loadbalancer.openstack.org/timeout-member-data`
* `loadbalancer.openstack.org/timeout-tcp-inspect`
* `loadbalancer.openstack.org/x-forwarded-for`

is not picked up by t

[2020-08-06 15:02] gman0 commented on #1136
@JPRbrs Preferably we would expose the ConfigMap [as a volume](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#populate-a-volume-with-data-stored-in-a-configmap) (i.e. regular files). That way we can avoid having Kubernetes-specific code in the driver. We're still bolting down the specifics with the csi-manila guys though.

[2020-08-06 15:37] JPRbrs commented on #1136
Many thanks, I'll keep an eye on this thread and will update if make any
progress

On Thu, 6 Aug 2020, 17:02 Róbert Vašek, <notifications@github.com> wrote:

[2020-08-07 11:58] JrCs opened #1152 "[occm] bad loadbalancer listeners configuration with x-forwarded-for annotation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If a service of type LoadBalancer is create with the  `loadbalancer.openstack.org/x-forwarded-for: "true"` annotation all the listeners will be assign the HTTP protocol which cannot work with service types other than HTTP (like HTTPS).

**What you expected to happen**:
Only listener that "forward" HTTP protocol must have

[2020-08-09 19:17] gman0 commented on #720
/remove-lifecycle stale

[2020-08-10 17:29] gman0 commented on #1136
@JPRbrs I'm doing some tests locally and I just want to make sure we're on the same page: the actual error I'm getting is a connection timeout.

Logs from the CSI NFS node plugin:
[code]

It takes a while for it to time out...

Is this what you're getting?

[2020-08-10 18:04] JPRbrs commented on #1136
Thanks Robert, that's exactly what I'm seeing.

Let me know if I can be of any help

On Mon, 10 Aug 2020, 19:29 Róbert Vašek, <notifications@github.com> wrote:

[2020-08-11 12:01] lingxiankong commented on #1152
If your intention is to deploy nginx-ingress-controller, you probably need `loadbalancer.openstack.org/proxy-protocol: "true"`

[2020-08-11 15:56] JrCs commented on #1152
@lingxiankong: yes i have tried `loadbalancer.openstack.org/proxy-protocol: "true"` but the ingress can't be reach from inside the cluster because of the kube-proxy.
Here the k8s issue: https://github.com/kubernetes/kubernetes/issues/66607
And how Digital Ocean have found a workaround: https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/examp

[2020-08-11 20:48] lingxiankong commented on #1152
Yeah, that's also a known issue for OCCM, that's something Kubernetes should fix.

So do you think this issue still makes sense given `x-forwarded-for` is not meant for nginx-ingress-controller? We could create another one for tracking the pod-loadbalancer communication issue.

[2020-08-12 08:37] seanschneeweiss commented on #912
/remove-lifecycle rotten

We can see that the metrics code was added in this PR kubernetes/kubernetes#46008

Observing times or incrementing counters were implemented here:
https://github.com/NickrenREN/kubernetes/blob/18852c58c17a6dcd75912057c0e113b469bb2ced/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L491-L498

The time measurement of the API call was implemented here:
https://git

[2020-08-12 08:46] seanschneeweiss commented on #912
/reopen

[2020-08-12 15:55] JrCs commented on #1152
Yes this issue is about communication between the OPK LoadBalancer and a pod (not only ingress controller). The X-Forward-For option must only be set on listeners that use HTTP protocol (not HTTPS or TCP)

[2020-08-16 19:31] #839 closed

[2020-08-17 06:19] #1152 closed

[2020-08-17 12:49] phiphi282 opened #1161 "All tests fail saying that they can't find the go 1.15 binary."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I made a [pull request](https://github.com/kubernetes/cloud-provider-openstack/pull/1160) and all tests failed saying that they can't find the go 1.15 binary.

**What you expected to happen**:
The tests should be successfully getting a go binary.

**How to reproduce it**:
Run `/retest` in my [pull request](https://github.

[2020-08-18 02:13] jichenjc commented on #1161
@phiphi282 I got exactly same issue to you on my PR
I believe it's openlab CI issue and need their help , @lingxiankong @ramineni where to ask for help? thanks

[2020-08-18 09:39] phiphi282 commented on #1161
Tests should work now again. Wanted to create pr but one was already created by @ramineni theopenlab/openlab-zuul-jobs/pull/971. :)

[2020-08-18 09:42] #1161 closed

[2020-08-18 14:58] piequi opened #1162 "[occm] Runtime panic when creating neutron-based LB service"
/kind bug

**What happened**:
`openstack-cloud-controller-manager` pod crashes whenever a LoadBalancer service is created with the following error stack trace :
[code]
service remains in pending state :
[code]

**What you expected to happen**:
I would expect the occm pod not to crash, the service to be created with an external IP in the subnet provided.

**How to reproduce it**:
Openstack cloud en

[2020-08-18 15:10] kayrus commented on #1162
Error handling must be moved:

[code]

[2020-08-18 16:17] piequi commented on #1162
I confirm that when using `docker.io/k8scloudprovider/openstack-cloud-controller-manager:latest` image instead, occm pod no longer crashes but produces a meaningful error message.

Let me know what I can do to help.

[2020-08-18 16:33] kayrus commented on #1162
@piequi you can cherry-pick the #1055 PR into the `release-1.18` branch, use the latest image instead, or wait for CCM 1.19 release. It should happen at the end of August - beginning of September.

[2020-08-18 18:53] piequi opened #1164 "[occm] Support for haproxy loadbalancer service provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Our hosting provider that offers openstack cloud environments as a service, only provides neutron-lbaas with haproxy service provider for loadbalancerv2.
Setting `lb-provider=haproxy` and `use-octavia=false` in the cloud configuration file for occm just worked fine (although documentation says that we can use either `a

[2020-08-19 10:29] lingxiankong commented on #1162
/close

[2020-08-19 10:29] #1162 closed

[2020-08-19 10:34] lingxiankong commented on #1164
Neutron-LBaaS has been deprecated since stable/queens and its support is no longer maintained in openstack-cloud-controller-manager. Please see more information here https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-openstack-cloud-controller-manager.md

[2020-08-19 10:34] #1164 closed

[2020-08-19 10:58] lingxiankong commented on #912
/reopen

[2020-08-19 13:56] phiphi282 opened #1166 "[occm] cloud-provider-openstack-acceptance-test-lb-octavia test fails because of missing cloud_name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Zuul cleaned up some cloud providers including vexxhost that was used for the testcloud-provider-openstack-acceptance-test-lb-octavia before. theopenlab/openlab-zuul-jobs#975.
Because of this the test fails.

Example can be found in pr #1165 [test-log](https://logs.openlabtesting.org/logs/65/1165/de511d7335b2371e1793cd256

[2020-08-19 17:38] #970 closed

[2020-08-20 10:51] #1149 closed

[2020-08-20 11:12] phiphi282 commented on #1166
This pr fixed the problem: theopenlab/openlab-zuul-jobs#977

[2020-08-20 11:12] #1166 closed

[2020-08-20 12:03] seanschneeweiss opened #1167 "[occm] LB Pool not updated when proxy-protocol service annotation changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A change to the service annotation
* `loadbalancer.openstack.org/proxy-protocol`

is not picked up by the openstack-cloud-controller-manager. Changes are only propagated to the OpenStack loadbalancer pool when it is initially created.

**What you expected to happen**:
Changing the above service annotation should be suppor

[2020-08-24 12:07] ramineni opened #1169 "[cinder-csi-plugin] Add Support to readonly volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**: /kind feature

**What happened**:
Currently there is no support of making volume readonly. This feature is to enable the same.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-08-24 12:07] ramineni commented on #1169
/assign

[2020-08-25 06:04] jichenjc commented on #1126
@aryulianto has this issue been fixed? if so , we can close this issue

[2020-08-25 06:13] jichenjc commented on #1119
@jianglingxia @kayrus can you help to point me where is `double authentication`? I have https env and I can do some check but the problem is I knew cafile but not familiar with cert file and clientkey usage, and I don't think you are talking about Multi factor auth, correct?

[2020-08-25 06:20] jianglingxia commented on #1119
yes,now only ca file support single authentication,need test https://github.com/kubernetes/cloud-provider-openstack/pull/1123 this pr to supprot double authentication

@kayrus sorry,my test enviorment have not exist, i can not test again, but i think your pr is right,thanks

[2020-08-25 06:20] jianglingxia commented on #1119
yes,now only ca file support single authentication,need test https://github.com/kubernetes/cloud-provider-openstack/pull/1123 this pr to supprot double authentication

@kayrus sorry,my test enviorment have not exist, i can not test again, but i think your pr is right,thanks

[2020-08-25 06:20] jianglingxia commented on #1119
yes,now only ca file support single authentication,need test https://github.com/kubernetes/cloud-provider-openstack/pull/1123 this pr to supprot double authentication

@kayrus sorry,my test enviorment have not exist, i can not test again, but i think your pr is right,thanks

[2020-08-25 06:27] jichenjc commented on #1119
I will do more search on `double authentication` and see what I can find.. if you know , please help to share. thanks

[2020-08-25 09:28] ramineni commented on #1066
/remove-lifecycle stale

[2020-08-25 09:28] ramineni commented on #1065
/remove-lifecycle stale

[2020-08-25 09:30] ramineni commented on #968
provisoner already updated to 1.6.0 and snapshotter is being tracked by https://github.com/kubernetes/cloud-provider-openstack/issues/951

So, closing this issue.

/close

[2020-08-25 09:30] #968 closed

[2020-08-25 09:32] ramineni commented on #678
/remove-lifecycle stale

[2020-08-25 09:32] ramineni commented on #702
/assign

[2020-08-27 05:53] #1136 closed

[2020-08-27 05:59] ramineni commented on #1142
/close
pls reopen if facing issue on current supported version. Thanks.

[2020-08-27 05:59] #1142 closed

[2020-08-27 06:05] ramineni commented on #1121
/close
pls reopen if still facing issue.

[2020-08-27 06:05] #1121 closed

[2020-08-28 08:34] jichenjc opened #1173 "[cinder-csi-plugin]update helm chart to latest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

helm chart of CSI cinder is using 1.18, we need switch to latest so that we can use
current image

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-08-28 08:34] jichenjc commented on #1173
/assign

[2020-08-31 06:13] jichenjc commented on #913
I was wrong on above comments, it's not only related to snapshot but also related to others.
so need check CSI driver as well

[2020-08-31 10:19] JPRbrs opened #1176 "[manila-csi-plugin] unknown flag: --runtime-config-file in nfs-nodeplugin container"
**What happened**:
I'm testing the new latest version of Manila CSI plugin to test the changes in this PR, but when I try to deploy the helm chart nfs-nodeplugin containers are unable to run and show the error above. I've checked the image version is the latest one

**What you expected to happen**:
Pods start running

**How to reproduce it**:
Deploy the NFS driver from https://github.com/kubernete

[2020-08-31 10:52] #1173 closed

[2020-08-31 15:15] Chivolta opened #1177 "[cinder-csi-plugin] Cannot create PV"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During dynamic provisioning, I'm getting:

I0831 14:51:24.479149       1 utils.go:80] GRPC call: /csi.v1.Controller/CreateVolume
I0831 14:51:24.479204       1 utils.go:81] GRPC request: name:"pvc-a0a25f6e-e43e-45ed-b1b9-4be078fd23fd" capacity_range:<required_bytes:1073741824 > volume_capabilities:<mount:<fs_type:"ext4" >

[2020-09-01 06:35] jichenjc commented on #1177
@Chivolta which version of CSI cinder you are using ? and I think you are using a volume type ,`gp-ssd` , correct?

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L146  says volume type not supported but I need double check this

can you help to confirm that volume type gp-ssd and volume type 50e93175-8574-44a3-aa18-0c54b4e36a8a exist?

[2020-09-01 06:55] jichenjc commented on #1177
/assign

[2020-09-01 07:51] JPRbrs commented on #1176
It looks like the docker images in my K8s nodes were not updating. I've logged into the machines, removed the images and launched the Helm chart again so they were freshly downloaded.

Sorted

[2020-09-01 07:51] #1176 closed

[2020-09-01 08:51] jidckii opened #1179 "[cinder-csi-plugin] Error: failed to start container"
/kind bug

**What happened**:
cinder-csi-plugin won't start

[code]

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- cinder-csi-plugin version: v1.18.0
- kubernetes setup with rke :
[code]
- OpenStack version: openstack 4.0.1
- Others:

[2020-09-01 10:23] Chivolta commented on #1177
@jichenjc I'm using latest version: cinder-csi-plugin.
Yes, I'm using gp-ssd.
Volume type 50e93175-8574-44a3-aa18-0c54b4e36a8a does not exist.
I'm using also other availability zone than nova.

openstack volume type list
+--------------------------------------+-------------+-----------+
| ID                                   | Name        | Is Public |
+--------------------------------------+-----

[2020-09-02 03:47] jichenjc commented on #1177
@Chivolta which version are you using ? see my test result below, the question here is
`volume_type` is missing in your logs , are you using latest one or which version are you working on ?

[code]

[2020-09-02 03:47] jichenjc commented on #1177
this is your request body
[code]

[2020-09-02 03:49] jichenjc commented on #1177
I am not aware cinder az is related to cinder volume type...

[2020-09-02 06:59] jichenjc commented on #1179
not sure it's related to CSI, have you run other pods successfully?
googled `setup user: no such file or directory unknown` seems related to docker and environment settings etc

[2020-09-02 07:12] jidckii commented on #1179
Yes, I have a lot of things working in this cluster.
I first encountered such a problem while deploying this module.
Any suggestions what could be the problem?

[2020-09-02 08:25] jichenjc commented on #1179
sorry, I never met this before @ramineni any idea?

@jidckii I assure you followed the `manifest` folder without major changes?

[2020-09-02 08:27] jidckii commented on #1179
i checked on 1.17, 1.18 and master versions, the result is the same

[2020-09-02 09:03] jidckii commented on #1179
I solved the problem.
RKE runs kubelet in a container and mounts / dev: / host / dev
it confused me.
i replaced in cinder-csi-nodeplugin.yaml
[code]
on the
[code]
because of this, it did not start.

I returned it to the original version and everything began to work.

[2020-09-02 09:03] #1179 closed

[2020-09-02 09:32] ramineni commented on #1177
@Chivolta Could you share your pvc and storageclass yamls you are using ?

[2020-09-02 09:50] Chivolta commented on #1177
[code]

PVC:
[code]
I'm trying a lot of combination of SC configuration.

[code]

[2020-09-02 09:50] jidckii opened #1181 "[cinder-csi-plugin] how to set volume type ?"
/kind feature

My cloud provider provides several types of drives.
[code]

For this example https://github.com/kubernetes/cloud-provider-openstack/blob/master/examples/cinder-csi-plugin/nginx.yaml
the default is fast, the most expensive.
[code]

How can I change the type of disc to create?

[2020-09-02 09:54] ramineni commented on #1181
@jidckii you could add type: xxx in storage class parameters

[2020-09-02 09:56] ramineni commented on #1177
@Chivolta The parameters of storage class , it should be type = gp-ssd , not volume_type. Code recongnizes type parameter.
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/controllerserver.go#L64

[2020-09-02 10:03] Chivolta commented on #1177
It works!!!! Thank you @ramineni

[2020-09-02 10:03] #1177 closed

[2020-09-02 10:04] jidckii commented on #1181
Thank ! This resolved the issue.
[code]

[2020-09-02 10:04] #1181 closed

[2020-09-03 00:46] jichenjc opened #1183 "[cinder-csi-plugin] upgrade charts to 1.19 after 1.19 GA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
need upgrade charts to 1.19 for cinder-csi-plugin

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or other related binary) version:
- OpenStack version:
- Others:

[2020-09-03 00:46] jichenjc commented on #1183
/assign

[2020-09-03 11:06] harper1011 opened #1184 "Different content between 1.18 release tag and release branch"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind question

**What happened**:
There are different content between 1.18 release tag and release branch

**How to reproduce it**:
Please check: https://github.com/kubernetes/cloud-provider-openstack/compare/v1.18.0...release-1.18

**Anything else we need to know?**:
So it seems there will be further release of v1.18.1 soon? If so, could we know the

[2020-09-03 11:18] ramineni commented on #1184
@harper1011 you are right, we did couple of backports to 1.18 branch and did publish docker images with new changes https://hub.docker.com/r/k8scloudprovider/openstack-cloud-controller-manager , but ya tag corresponds to base 1.18 release.

/cc @lingxiankong

[2020-09-03 21:29] #1066 closed

[2020-09-03 22:59] lingxiankong commented on #1184
@ramineni is right, we have backported several commits to the v1.18 branch but didn't update the tag.

@harper1011 We don't do minor releases for the repo, but only upload the docker images when there is PR backported, because we believe the docker images are the artifacts that people need for the deployment. That's why you can see image tags such as v1.18.2 in https://hub.docker.com/r/k8scloudpro

[2020-09-03 22:59] #1184 closed

[2020-09-04 02:13] jichenjc commented on #1117
The PR is merged, maybe we need wait for CI e2e test then close this issue

[2020-09-04 10:00] jichenjc opened #1186 "[all] Fix ProviderID "xxxx" didn't match expected format "openstack:///InstanceID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

ProviderID "openstack://ubuntu-xenial-citynetwork-citynetwork-openlab-0000146249" didn't match expected format "openstack:///InstanceID

is reported in logs , we need handle it

**Anything else we need to know?**:

**Environment**:
- openstack-cloud-controller-manager(or o

[2020-09-04 10:00] jichenjc commented on #1186
/assign

[2020-09-04 12:34] dricoco commented on #679
Hello,
I think I've got a bug right here with that issue.
If I'm rebooting my minion I've got all the pod volume mixed up :

before reboot :
for exemple :
/dev/sdn: UUID="17546616-a488-413f-accd-e777a50a2438" TYPE="ext4"
 is mounted on
/dev/sdn on /var/lib/kubelet/pods/fed6d37f-edb7-11ea-964f-fa163ed4e5ac/volumes/kubernetes.io~csi/pvc-fecff072-edb7-11ea-964f-fa163ed4e5ac/mount type ext4 (rw,relati

[2020-09-04 12:38] dricoco commented on #679
/kind bug

[2020-09-07 08:43] dricoco commented on #679
just replying to myself, apparently mounting by disk Id was added in 1.15

[2020-09-07 12:39] #1186 closed

[2020-09-07 12:42] jichenjc commented on #951
the code merged

[2020-09-07 12:42] #951 closed

[2020-09-07 12:46] jichenjc commented on #679
@dricoco so you mean this is fixed?

[2020-09-07 12:56] jichenjc commented on #1126
/close

we haven't get feedback until now

[2020-09-07 12:56] #1126 closed

[2020-09-08 06:55] #729 closed

[2020-09-08 09:14] ramineni commented on #1117
@jichenjc we can close this , as the issue mentioned in description should be fixed by #974
@eumel8 pls reopen incase you still face the issue. Should be available in latest image or 1.19 release version which we would be doing in couple of days.

[2020-09-08 09:14] #1117 closed

[2020-09-08 09:16] ramineni commented on #1119
@jianglingxia #1123 is merged , so issue should be fixed, if you still face the issue, feel free to reopen the issue.

[2020-09-08 09:16] #1119 closed

[2020-09-08 09:22] ramineni commented on #1089
/remove-lifecycle stale

[2020-09-09 02:03] jichenjc commented on #1089
/assign

let me try this ..

[2020-09-09 18:58] peterrosell opened #1192 "[cinder-csi-plugin] Failed to mount volume to pod on HyperV VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The volume is not mounted to the pod and got error message, `Unable to find Device path for volume`. After changing the log level of the node plugin to `-v=4` I get this in the log:
[code]
I can see in Openstack that the volume is created in the correct availability zone and attached to the node. The disk shows up on the n

[2020-09-10 04:16] jichenjc commented on #1192
it tried to get device here first
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L543

then get from here
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/util/mount/mount.go#L150

do you have simliar things created in `/dev/disk/by-id` from your env?

maybe that will us clue what to be added..

[2020-09-10 09:30] peterrosell commented on #1192
On a node I have these links in the directory `/dev/disk/by-path`. This is a newly started server without any volume mounted. When a volume is mounted it follows the same pattern.
[code]

[2020-09-10 10:28] peterrosell commented on #1192
This page points to that the naming (vmbus) is related to Hyper-V. https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/hyper-v-architecture.

when I mount a volume to the instance i Openstack it shows like this in the `by-path` directory.
[code]
The output from the metadata service looks like this:
[code]
I'm quite new to Openstack and Hyper-V so I'm not sure if it's corre

[2020-09-10 10:40] jichenjc commented on #1192
I missed the point `Hyper-V` at beginning of the issue , I guess that's the key factor here, thanks for pointing that out ~

basically, I guess (not 100% sure) no one tried hyper-v before on CPO, seems it's just naming convention from kvm perspective on existing code while hyper-v using different device format, maybe we can add the hyper-v format into code then return if we find it , the question

[2020-09-10 12:23] peterrosell commented on #1192
I missed that the code you referred to searched for `by-id` and not `by-path`.
In the directory `by-id` I see the this info: (new machine so new ids, the disk mounted by kube is `sdb`)
[code]
I also now noticed that the `serial` value of the device in the meta-data contains the volume's id that Openstack specifies and not the serial number of the disk.
[code]
So that's why it doesn't match. I don'

[2020-09-10 13:04] jichenjc commented on #1192
I knew metadata server mechanism and API behind it ,but I don't know the Hyper-V integraiton and whether there's anything special to KVM, so I need check more here or maybe someone already know it can comment

[2020-09-10 13:20] JPRbrs opened #1193 "[manila-csi-plugin] Unable add Helm repo for manila-csi"
/kind bug

**What happened**: I'm unable to add the helm repo for manila-csi-plugin following instructions in  [github pages readme](https://github.com/kubernetes/cloud-provider-openstack/blob/gh-pages/README.md)

**What you expected to happen**: Helm repo is installed when issuing the following command:

`helm repo add cpo https://kubernetes.github.io/cloud-provider-openstack`

**How to reproduce

[2020-09-10 13:56] gman0 commented on #1193
@jichenjc @brtknr Can you guys please have a look?

[2020-09-10 14:08] gman0 opened #1194 "[manila-csi-plugin] Update csi-snapshotter sidecar to v2"
manila-csi-plugin currently uses csi-snapshotter v1.2.2. Its support ends with Kubernetes v1.20.0. We'll need to update csi-snapshotter to v2 before CPO's v1.20.0 release.

/cc @tombarron @gouthampacha @Fedosin

[2020-09-10 14:08] gman0 commented on #1194
/kind feature

[2020-09-10 16:25] peterrosell commented on #1192
I read thru the code even more and followed the flow of how a device path is found. I ended up at this comment:
[code]
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/util/metadata/metadata.go#L204

In the log of the nodeplugin I get several lines like this for 30 seconds before it continues to find the device path from the metadata server.
[code]

So I guess that the serial

[2020-09-10 19:01] peterrosell commented on #1192
I went a bit further down the rabbit hole and looked into udev in systemd which is responsible for creating the soft links in `/dev/disk/by-path` and found this method that generates the link. https://github.com/systemd/systemd/blob/c6552f7cd574a693d921176796057b50ced2b4f5/src/udev/udev-builtin-path_id.c#L375
The code generates a name that ends with `vmbus-<guid>-<lun>` where `lun` is build up fro

[2020-09-10 22:17] dirien opened #1196 "[occm] Unknown attributes for argument listener_.listener"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installed the occm on a k3s cluster, i  get following error message in the  logs

`I0910 22:09:01.209287       1 event.go:291] "Event occurred" object="kube-system/traefik" kind="Service" apiVersion="v1" type="Warning" reason="SyncLoadBalancerFailed" message="Error syncing load balancer: failed to ensure load balancer: fa

[2020-09-10 22:45] lingxiankong commented on #1196
May I know the Octavia service release version?

[2020-09-11 03:11] jichenjc commented on #1192
@peterrosell thanks for detailed analysis, I see no reason to not include the fix in your local branch in the master , as it add special check to Hyper-V devices because of its special generate rules and won't affect other platform such as KVM .. so can you help to make a PR with your local branch? Thanks

[2020-09-11 03:18] jichenjc commented on #1193
not helm expert but took a quick look and the official doc did indicate it need index.yaml
and #1191 we created an index.html and removed empty index.yaml
so maybe that's the root cause

@brtknr I noticed you link #1190 can solve this issue but it only do the bump version
will that help or we still need create index.yaml?

[2020-09-11 03:20] jichenjc commented on #1194
#974 might be good thing to refer to

[2020-09-11 08:07] gman0 commented on #1194
@jichenjc Yes, thanks!

[2020-09-11 18:43] dirien commented on #1196
hi @lingxiankong , thanks for the help:

`| RegionOne   | load-balancer  | 2.0     | CURRENT    `

strangely, using the cloud provider works for k8s

[2020-09-14 02:38] #1193 closed

[2020-09-14 05:27] jichenjc opened #1201 "[cinder-csi-plugin] avoid default size in ephemeral disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L136

will default to 1 if no capacity is given, this is inconsistent to
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L63 and doesn't make sense

we sho

[2020-09-14 05:27] jichenjc commented on #1201
/assign

[2020-09-14 06:02] JPRbrs opened #1202 "[manila-csi-plugin] unable to add the helm repo"
/kind bug

What happened: I'm unable to add the helm repo for manila-csi-plugin following instructions in github pages readme

Error: Looks like "https://kubernetes.github.io/cloud-provider-openstack" is not a valid chart repository or cannot be reached: Failed to fetch https://kubernetes.github.io/cloud-provider-openstack/index.yaml : 404 Not Found

It seemed that https://github.com/kubernetes/cl

[2020-09-14 17:44] alanbchristie opened #1206 "[cinder-csi-plugin] Unable to attach or mount volumes: timed out waiting for the condition"
/kind bug

**What happened**:
Provisioner installed in our Kubernetes `v1.17.5` cluster. The provisioner is able to create and attach PVCs to the required node but Pods using the PVCs enter a **waiting** state with the error **Unable to attach or mount volumes: unmounted volumes=[data-volume], unattached volumes=[default-token-4w5lf data-volume]: timed out waiting for the condition**

* When the P

[2020-09-14 20:29] niedbalski opened #1207 "[k8s-keystone-auth] Implement a tracing http roundtripper client"
Affected binary:  k8s-keystone-auth

/kind feature

**What happened**:

Due to the following bug https://bugs.launchpad.net/charm-kubernetes-worker/+bug/1892067, we
identified that the current log tracing levels aren't enough to diagnose  issues in the communication
to the keystone endpoints.

In particular,  this line https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/identity

[2020-09-14 20:58] elgamal2020 opened #1208 "[occm] failed to find kubelet node IP from cloud provider"
Hello,

I have tried to intalize a system to use external cloud provider openstack , I dont have octavia enabled in my IAAS

so this is how the conf look like

in
all.yaml

[code]

then

[code]

After the system has been installed , many pods are pending
[code]

  Warning  FailedScheduling  <unknown>  default-scheduler  0/1 nodes are available: 1 node(s) had taint {node.cloudprovider.kubernetes.io

[2020-09-14 21:31] lingxiankong commented on #1208
Please paste the Node information (`kubectl get node <node-name> -o yaml`).

[2020-09-14 21:33] lingxiankong commented on #1208
In the future, please provide the information using issue template.

[2020-09-14 21:41] lingxiankong commented on #1207
/kind feature

[2020-09-14 21:41] lingxiankong commented on #1207
/remove-kind bug

[2020-09-14 21:43] lingxiankong commented on #1202
/cc @brtknr

[2020-09-14 21:44] lingxiankong commented on #1201
/kind feature

[2020-09-14 21:48] lingxiankong commented on #1196
Not that version, can you send HTTP request to Octavia service like the following and paste the output?

[code]